<h1>Editing resource_file_type</h1>

<% form_for(@resource_file_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label 'Client id' %><br />
    <%= f.text_field :client_id %>
  </p>
	<p>
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @resource_file_type %> |
<%= link_to 'Back', resource_file_types_path %>
