<%form_for :friends, :url=>{:controller=>'social_medias', :action=>'add_friends_from_orkut'} do |f| %>
 <ul>
  <%for user in @users%>
    
    <li>
    <%= f.label user.id, user.email%>
    <%= f.check_box user.id%>

    </li>
  <%end%>
    <%=f.submit I18n.t(:add_friends)%>
</ul>

<%end%>
