<div class="popup pop_padrao pop_google">
  <div class="cabecalho_pop"><%= link_to "", "#", :class=>"bt_fechar lbAction", :rel => "deactivate"%></div> 
  <div class="pop_meio">
    <div class="conteudo_pop">
      <iframe src ="/oauth_consumers/google" height="100%" width="100%"></iframe>
    </div>
  </div> 
</div>
