<% @title = "Ad Channel Statuses" %>

<table id="table" border="1">
	<thead>
		<tr>
		  <th>Status</th>
			<th colspan="2"></th>
		</tr>
	</thead>

	<tbody>
	  <% for ad_channel_status in @ad_channel_statuses %>
		<tr valign="top">
		  <td><%= h ad_channel_status.status %></td>
		  <td><%= link_to 'Edit', edit_ad_channel_status_path(ad_channel_status) %></td>
		  <td><%= link_to 'Destroy', ad_channel_status, :confirm => 'Are you sure?', :method => :delete %></td>
		</tr>
	  <% end %>
  </tbody>
</table>

<br />
<br />
<%= paginate @ad_channel_statuses %>
<%= link_to 'New Ad Channel Status', new_ad_channel_status_path %>