<% content_for :head do %>
  <%=stylesheet_link_tag 'FrontEnd/conteudo_em_blocos'%>
  <%= javascript_include_tag 'futura/front_end/search_results', 'scriptaculous'%>
<% end %>
<% render_sidebar %> 

<div class="conteudo_principal conteudo_blocos conteudo_enquete">
  <%= form_tag :controller => :polls, :action => :respond do %>
    <%= hidden_field_tag :id, @poll.id %>
    <h1><%= @poll.name %> - <span class="data_titulo"><%= l(@poll.created_at.to_date) %></span></h1>

    <p class="txt_basico"><%= t('.answer_poll') %></p>

    <ul class="lista_blocos">
      <% @poll.poll_questions.each do |question| -%>
        <li>
          <div class="bloco enquete">
            <h3><%= question.content %></h3>
            <ul>
              <% question.poll_answers.each do |answer| %>
                <li><%= radio_button_tag "answers[#{question.id}]", answer.id %><%= answer.content %></li>
              <% end %>
            </ul>
          </div>
        </li>
      <%- end -%>
    </ul>

    <input type="image" src="/images/comum/bt_enviar_gd.gif" alt="<%= t('commom.send') %>">
    <% end %>
  </div>
