<div>
  <% if logged_user.has_facebook? %>
    <%= "Esta conta está associada com o usuário <strong>#{logged_user.facebook_account.first.username}</strong> do facebook".html_safe %>
    Clique <%= link_to 'aqui', "/auth/destroy/" + logged_user.facebook_account.first.id.to_s %> para desfazer a associação.
  <% else %>
    <%= link_to 'Associe sua conta no Facebook', '/auth/facebook' %>
  <% end %>
</div>