<h1>Meu Perfil - Editar</h1>
<% if not flash[:notice].blank? %>
  <div class="conteudo_principal conteudo_blocos">
    <div class="alerta msg_sucesso">
      <h6>Operação realizada com sucesso</h6>

      <p>Você salvou suas alterações do perfil com sucesso!</p>
    </div>
  </div>
<% elsif flash[:error] %>
  <div class="conteudo_principal conteudo_blocos">
    <div class="alerta msg_erro">
      <h6>Operação não realizada</h6>

      <p>Ocorreram alguns erros enquanto você estava salvando as alterações no seu perfil</p>
    </div>
  </div>
<% end %>

<% if @poll %>
  <div class="msg_alerta">
    <div class="conteudo">
      <p>
        Você tem uma pesquisa pendente para responder. Clique <%= link_to "aqui", @poll %> para respondê-la.
      </p>

      <p><strong>Participe e ganhe <%= Poll::POINTS %> pontos no ranking!</strong></p>
    </div>
  </div>
<% end %>

<div class="box_generico box_perfil">
  <div class="conteudo_box clearfix">
    <div class="usuario">
      <%= link_to(image_tag(logged_user.avatar.url(:thumb), :width => 66, :height => 66),
                  "#", :onclick=>'constructModal("avatar", "/avatar/index");') %>
      <h3><%= logged_user.name %> <%= logged_user.post_name %></h3>
      <%= link_to(content_tag(:span, 'Trocar Imagem', :class => 'texthide'), "#", :onclick=>'constructModal("avatar", "/avatar/index");', :class=> "bt_trocarImg texthide") %>
      <span class="data_socio"><%= I18n.t(:affiliated_since) %> <%= I18n.l logged_user.created_at.to_date %></span>
    </div>

    <ul class="stats">
      <li>
        <p class="patente">
        <%= image_tag logged_user.patent_icon_url, :width => 21, :height => 22 %>
        <span><%= logged_user.patent_name %> <%= logged_user.score %> pontos</span>
        </p>
      </li>

      <li class="perguntas">Contribuí com <strong><%= logged_user.how_many_approved_questions %></strong> perguntas para
        o jogo
      </li>
      <li class="amigos">Indiquei <strong><%= logged_user.inviteds.size %></strong> amigos</li>
    </ul>
  </div>
</div>

<%= render 'facebook_integration' %>
<%= render :partial => 'shared/registration', :locals => { :user => logged_user } %>