<% cache "user_profile_#{ @user.id }", 5.minutes.from_now do %>
  <script>
    Cufon.replace('user_label');
  </script>

  <div class="popup pop_padrao pop_perfil" id="pop_perfil">
    <div class="cabecalho_pop">
      <%= link_to "<span>Fechar</span>".html_safe, "#", :class => "bt_fechar texthide lbAction", :rel => "deactivate",
        :onclick => "closeModal('pop_perfil');"%>
      </div>
      <div class="pop_meio">
        <div class="conteudo_pop">
          <div class="jogador">
            <%= image_tag @user.avatar.url(:medium), :width => 100, :height => 100, :class=>"foto_perfil"%>

            <div class="detalhes">
              <h3>
                <%=@user.nickname%>
              </h3>
              <ul>
                <li>
                  <strong><%=I18n.t(:affiliated_since)%> <%=I18n.l @user.created_at.to_date%></strong>
                </li>
                <li>
                  <p class="patente">
                    <%= image_tag @user.patent_icon_url, :width => 21, :height => 22%>
                    Categoria: <%= @user.patent_name %> <%= @user.score%> pontos</span>
                  </p>
                </li>
                <li class="contribuicao">Contribuí com <%= @user.how_many_approved_questions %> perguntas para o jogo</li>
                <li class="indicacoes">Indiquei <%= @user.inviteds.size %> amigos</li>
              </ul>
            </div>
          </div>

          <div><%= link_to 'Associe sua conta no Facebook', '/facebook_canvas' %></div>

          <div class="info_jogador">
            <dl class="dados_perfil">
              <%if @user.born_day and @user.born_month and @user.born_year and @user.show_age?%>
                <dt><%=I18n.t(:birthday)%>:</dt><dd><%=@user.birthday_display%></dd><br>
                <dt><%=I18n.t(:age)%>:</dt><dd><%=@user.age%> <%=I18n.t(:years)%></dd><br>
              <%end%>
              <% if @user.show_marital_status? %>
                <dt><%=I18n.t(:relationship)%></dt><dd><%=@user.marital_status.name if @user.marital_status%></dd> <br>
              <%end%>
              <%if @user.show_email?%>
                <dt><%=I18n.t(:email)%>:</dt><dd><%=@user.email%></dd><br>
              <%end%>
              <dt><%=I18n.t(:city)%>:</dt><dd><%=@user.city%></dd><br>
              <dt><%=I18n.t(:state)%>:</dt><dd><%=@user.state.name if @user.state%></dd><br>
              <dt><%=I18n.t(:country)%>:</dt><dd><%=@user.country.name if @user.country %></dd><br>
            </dl>
            <div class="sobre">
              <h4><%=I18n.t(:about_me_profile)%></h4>
              <p><%=@user.about%></p>
            </div>
            <% if @user.id == logged_user.id %>
              <p class="user_label">Este é o seu perfil</p>
            <%elsif logged_user.friends.include?(@user)%>
              <p class="user_label">Já é seu amigo!</p>
            <%else%>
              <%= link_to "<span>Adicionar como amigo</span>".html_safe,
                {:action => :add_friend, :friend_id => @user.id}, 
                {:class => "bt_adicionarAmigos texthide"}%>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
