<div class="screenshots">
  <h5>Screenshots & Videos</h5>
  <ul id="image_list">
    <li class='Category1'><a href="#"><img src="../images/portfolio/thumb_fake_01.png" width="42" height="42" alt="" /></a></li>
    <li><a href="#"><img src="../images/portfolio/thumb_fake_02.png" width="42" height="42" alt="" /></a></li>
    <li class='Category1'><a href="#"><img src="../images/portfolio/thumb_fake_03.png" width="42" height="42" alt="" /></a></li>
    <li><a href="#"><img src="../images/portfolio/thumb_fake_04.png" width="42" height="42" alt="" /></a></li>
  </ul>
  <ul class="subnav_jogos">
    <li class="seta_esq seta_inativa"><a id="games_nav_esq">Anterior</a></li>
    <li class="seta_dir"><a id="games_nav_dir">Mais Jogos</a></li>
  </ul>
</div>