<div>
  <% width = 410 -%>
  <% height = 86 -%>
  
  <% banners = [ '../banners/fullpower_banner_animado.swf',  
	               '../banners/banner_animado_barrigadas.swf',  
	               '../banners/banner_animado_ginastica.swf',  
	               '../banners/banner_animado_jimmy.swf',  
	               '../banners/banner_animado_levantamento.swf',  
	               '../banners/banner_animado_penalti1.swf',
	               '../banners/banner_space_goo.swf',
	               '../banners/banner_animado_brazooka.swf',
	               '../banners/bob_banner_animado.swf',
	               '../banners/banner_animado_pepsi.swf',
	               '../banners/joselito_banner_animado.swf'] -%>
	               
  <% banner = banners[rand banners.size] -%>

  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" 
          codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0"width="410"height="86">
    <param name="movie" value="banner">
    <param name="quality" value="high">
    <embed src=<%= banner %> quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer"
      type="application/x-shockwave-flash" width="410" height="86">
    </embed>
  </object>
</div>
