<a class="imgvideo" href="?video=video"></a>
<a href="#comocomprar"  class="imgcomprar"></a>
<a href="#celulares" class="imgaparelhos"></a>
<a href="#dicas" class="imgdica" ></a>
<a class="imgfoto" href="?video=imagens" ></a>
