<div style="height:325; margin:2px ">
  <div>
    <div class="nomejogo" style="float:left ">
      <h1>Brazooka Soccer</h1>
    </div>

    <div style="width:250px; height:320px; float: right; padding-top:3px; margin-right:7px">
      <img src="../banners/banner_brazooka.png" width="250" height="320" border="4" style=" border-color:#00353b">
    </div>

    <div align="center" style="height:185px; width:400px; margin-left:1px; background-color:#00353b; float:left; padding-top:5px; margin-bottom:6px; _margin-bottom:-5px; _height:160px;">
      <% if @video -%>
        <script type="text/javascript">
          AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','325','height','180','src','../flash/video_brazooka','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','movie','../flash/video_brazooka','wmode','transparent'); //end AC code
        </script>
        
        <noscript>
          <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="325" height="180">
            <param name="movie" value="flash/video_brazooka.swf">
            <param name="quality" value="high">
            <param name="wmode" value="transparent">
            <embed src="../flash/video_brazooka.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="325" height="180">
            </embed>
          </object> 
        </noscript>
      <% else -%>
        <script type="text/javascript">
          AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','325','height','180','src','../flash/brazooka','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','movie','../flash/brazooka','wmode','transparent'); //end AC code
        </script>
        
        <noscript>
          <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="325" height="180">
            <param name="movie" value="flash/brazooka.swf">
            <param name="quality" value="high">
            <embed src="../flash/brazooka.swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="325" height="190">
            </embed>
          </object>
        </noscript> 
      <% end -%>
    </div>

    <div class="botoesjogo">
      <%= render :partial => "botoes_brazooka" %>
    </div>
  </div>
</div>

<div class="divisaoconteudo">
</div>
