<div class="rodape">
</div>

<div>
  <span class="fonte">
    <strong>
      Jogos e Aplicativos desenvolvidos:
    </strong>
  </span>
  <br>
  &nbsp;&nbsp;
  <br>
  
  <a href="/games/joselito">&nbsp;&nbsp; :: MTV &ndash; Joselito contra a farofada</a><br>
  <a href="/games/fullpower_drag_race">&nbsp;&nbsp; :: FullPower &ndash; Drag Race</a><br>
  <a href="/games/bob_esponja">&nbsp;&nbsp; :: Bob Esponja &ndash; F&aacute;brica de Siriburguer</a><br>
  <a href="/games/jimmy_neutron">&nbsp;&nbsp; :: Jimmy Neutron &ndash; Enigma das Supernovas</a><br>
  <a href="/games/levantamento_de_peso">&nbsp;&nbsp; :: Mini Olimpíadas &ndash; Levantamento de Peso</a><br>
  <a href="/games/barrigadas_ornamentais">&nbsp;&nbsp; :: Mini Olimpíadas &ndash; Barrigadas Ornamentais</a><br>
  <a href="/games/ginastica_do_away">&nbsp;&nbsp; ::  Mini Olimpíadas &ndash; Ginástica do Away</a><br>
  <a href="/games/penalti_com_cleston">&nbsp;&nbsp; :: Penalti MTV com Cléééston</a><br>
  <a href="/applications/biritometro">&nbsp;&nbsp; :: Biritômetro</a><br>
  <a href="/games/space_goo">&nbsp;&nbsp; :: Space Goo</a><br>
  <a href="/games/pepsi_cai_bem">&nbsp;&nbsp; :: Pepsi Cai Bem</a><br>
  <a href="/games/brazooka_soccer">&nbsp;&nbsp; :: Brazooka Soccer<br></a>
  <a href="/games/seda_puzzle">&nbsp;&nbsp; :: Seda Puzzle<br></a>
  <a href="/games/dancinrio">&nbsp;&nbsp; :: Dancin' Rio<br></a>
  <a href="/games/lux">&nbsp;&nbsp; :: Lux Gotas de Belezas<br></a>
  <a href="/games/superlux">&nbsp;&nbsp; :: Superlux<br></a>
</div>


