<script language="javascript" type="text/JavaScript">
  <!--
  function MM_findObj (n, d) { //v4.01
    var p, i, x;  
    if (!d) 
      d = document; 

    if ((p=n.indexOf("?"))>0 && parent.frames.length) {
      d = parent.frames[n.substring(p+1)].document; 
      n = n.substring(0,p);
    }

    if(!(x = d[n]) && d.all) 
      x = d.all[n]; 

    for (i=0; !x && i < d.forms.length; i++) 
      x = d.forms[i][n];

    for (i=0; !x && d.layers && i < d.layers.length; i++) 
      x = MM_findObj(n, d.layers[i].document);

    if (!x && d.getElementById) 
      x = d.getElementById (n); 

    return x;
  }

function MM_showHideLayers() { //v6.0
  var i, p, v, obj, args = MM_showHideLayers.arguments;

  for (i = 0; i < (args.length - 2); i += 3)
    if ((obj = MM_findObj(args[i])) != null) { 
      v = args[i + 2];

      if (obj.style) { 
        obj = obj.style; 
        v = (v == 'show') ? 'visible' : (v == 'hide') ? 'hidden' : v; 
      }
      obj.visibility = v;
    }
}
-->
</script>

<div class="barramenu">
  <%= link_to '', root_url, :onMouseOver => "MM_showHideLayers('produtos','','hide','listajogos','','hide','aplicativos','','hide')", :class => "imghome" %>
  <%= link_to '', about_url, :onMouseOver => "MM_showHideLayers('produtos','','hide','listajogos','','hide','aplicativos','','hide')", :class => "imgnano" %>
  <%= link_to '', down_url, :onMouseOver => "MM_showHideLayers('produtos','','hide','listajogos','','hide','aplicativos','','hide')", :class => "imgdownload" %>
  <%= link_to '', "#", :onMouseOver => "MM_showHideLayers('produtos','','show')", :class => "imgprodutos" %>
  <%= link_to '', news_url, :onMouseOver => "MM_showHideLayers('produtos','','hide','listajogos','','hide','aplicativos','','hide')", :class => "imgnoticias" %>
  <%= link_to '', partner_url, :onMouseOver => "MM_showHideLayers('produtos','','hide','listajogos','','hide','aplicativos','','hide')", :class => "imgparceiros" %>
  <%= link_to '', contact_url, :onMouseOver => "MM_showHideLayers('produtos','','hide','listajogos','','hide','aplicativos','','hide')", :class => "imgcontato" %>
</div>

<div id="produtos" style="position:absolute; width:111px; z-index:10; left: 264px; top:37px; background-color: #001220; text-align:left; layer-background-color: #001220; visibility:hidden; height: 59px; font-family: verdana" onMouseOver="MM_showHideLayers('produtos','','show')" onMouseOut="MM_showHideLayers('produtos','','hide')">
  <table  width="111" border="0" align="center" cellpadding="0" cellspacing="0" bordercolor="#001220">
    <!--DWLayoutTable-->
    <tr>
      <td width="15" rowspan="5" valign="top" bgcolor="#001220"><img src="/images/menu_base.gif" width="8" height="68" onMouseOver="MM_showHideLayers('produtos','','hide','listajogos','','hide','aplicativos','','hide')">
      </td>

      <td width="175" height="11">
      </td>
    </tr>

    <tr>
      <td bgcolor="#001220">
        <a class="menuprodutos" href="#" onMouseOver="MM_showHideLayers('listajogos','','show','aplicativos','','hide');">
          <span class="menuprodutos">
            JOGOS 
          </span>
        </a>
      </td>
    </tr>

    <tr>
      <td height="7">
      </td>
    </tr>

    <tr>
      <td>
        <a class="menuprodutos" href="#" onMouseOver="MM_showHideLayers('listajogos','','hide','aplicativos','','show');">
          <span class="menuprodutos">
            APLICATIVOS
          </span>
        </a>
      </td>
    </tr>

    <tr>
      <td align="left" valign="top" bgcolor="#001220">
        <img src="/images/menu_base.gif" width="94" height="12" align="top" onMouseOver="MM_showHideLayers('produtos', '', 'hide', 'listajogos', '', 'hide', 'aplicativos', '', 'hide')">
      </td>
    </tr>
  </table>	
</div>

<div id="listajogos" style="position:absolute; 
  width:315px; 
  z-index:10; 
  left: 375px; 
  top:37px; 
  background-color: #001220; 
  text-align:left; 
  layer-background-color: #001220; 
  visibility:hidden; 
  height: 245px;
  font-family: verdana"
  onMouseOver="MM_showHideLayers('produtos','','show','listajogos','','show','aplicativos','','hide')" 
  onMouseOut="MM_showHideLayers('produtos','','hide','listajogos','','hide','aplicativos','','hide')">	 

  <table width="300" border="0" align="center" cellpadding="0" cellspacing="0">
    <!--DWLayoutTable-->
    <tr>
      <td width="95" height="11">
      </td>
    </tr>

    <tr>
      <td>
        <a class="menuprodutos" href="/games/bob_esponja" >
          <span class="menuprodutos">
            BOB ESPONJA - Fábrica de Siriburguer 
          </span>
        </a>
      </td>
    </tr>

    <tr>
      <td>
        <a class="menuprodutos" href="/games/fullpower_drag_race" >
          <span class="menuprodutos">
            FULLPOWER - Drag Race 
          </span>
        </a>
      </td>
    </tr>

    <tr>
      <td>
        <a class="menuprodutos" href="/games/joselito" >
          <span class="menuprodutos">
            MTV - Joselito Contra a Farofada 
          </span>
        </a>
      </td>
    </tr>

    <tr>
      <td>
        <a class="menuprodutos" href="/games/jimmy_neutron" >
          <span class="menuprodutos">
            JIMMY NEUTRON - Enigma das Supernovas 
          </span>
        </a>
      </td>
    </tr>

    <tr>
      <td>
        <a class="menuprodutos" href="/games/penalti_com_cleston" >
          <span class="menuprodutos">
            MTV - Penalti com Cléééston 
          </span>
        </a>
      </td>
    </tr>

    <tr>
      <td><a class="menuprodutos" href="/games/levantamento_de_peso" ><span class="menuprodutos">MTV - Levantamento de Peso </span></a></td>
    </tr>

    <tr>
      <td><a class="menuprodutos" href="/games/barrigadas_ornamentais"><span class="menuprodutos">MTV - Barrigadas Ornamentais </span></a></td>
    </tr>

    <tr>
      <td ><a class="menuprodutos" href="/games/ginastica_do_away"><span class="menuprodutos">MTV - Ginástica do Away </span></a></td>
    </tr>

    <tr>
      <td ><a class="menuprodutos" href="/games/space_goo"><span class="menuprodutos">Space Goo - Jogo 3D para iPhone</span></a></td>
    </tr>

    <tr>
      <td ><a class="menuprodutos" href="/games/brazooka_soccer"><span class="menuprodutos">Brazooka Soccer</span></a></td>
    </tr>

    <tr>
      <td ><a class="menuprodutos" href="/games/pepsi_cai_bem"><span class="menuprodutos">Pepsi Cai Bem</span></a></td>
    </tr>

    <tr>
      <td ><a class="menuprodutos" href="/games/seda_puzzle"><span class="menuprodutos">Seda Puzzle</span></a></td>
    </tr>

    <tr>
      <td ><a class="menuprodutos" href="/games/dancinrio"><span class="menuprodutos">Dancin' Rio</span></a></td>
      </tr>

      <tr>
        <td ><a class="menuprodutos" href="/games/lux"><span class="menuprodutos">Lux Gotas de Beleza</span></a></td>
      </tr>

      <tr>
        <td ><a class="menuprodutos" href="/games/superlux"><span class="menuprodutos">SUPERLUX</span></a></td>
      </tr>

      <tr>
        <td><img src="/images/menu_base.gif" width="284" height="12" onMouseOver="MM_showHideLayers('produtos','','hide','listajogos','','hide','aplicativos','','hide')"></td>
      </tr>
    </table>
  </div>

  <div id="aplicativos" style="position:absolute; 
    width:315px; 
    z-index:10; 
    left: 375px; 
    top:64px; 
    background-color: #001220; 
    text-align:left; 
    layer-background-color: #001220; 
    visibility:hidden; 
    height: 41px;
    font-family: verdana" 
    onMouseOver="MM_showHideLayers('produtos','','show','listajogos','','hide','aplicativos','','show')" 
    onMouseOut="MM_showHideLayers('produtos','','hide','listajogos','','hide','aplicativos','','hide')">

    <table width="300" border="0" align="center" cellpadding="0" cellspacing="0">
      <!--DWLayoutTable-->
      <tr>
        <td width="95" height="11">
        </td>
      </tr>

      <tr>
        <td>
          <a class="menuprodutos" href="/applications/biritometro" >
            <span class="menuprodutos">
              Biritômetro 
            </span>
          </a>
        </td>
      </tr>

      <tr>
        <td>
          <img src="/images/menu_base.gif" width="293" height="8" onMouseOver="MM_showHideLayers('produtos','','hide','listajogos','','hide','aplicativos','','hide')">
        </td>
      </tr>
    </table>	  
  </div>
