<div class="rodape" style="height:50px ">
  <span class="cabecalho">
    <%= link_to "Home", root_path %> ::
    <%= link_to "Sobre a Nano", about_path %> ::
    <%= link_to "Produtos", root_path %> ::
    <%= link_to "Notícias", news_path %> ::
    <%= link_to "Parceiros", partner_path %> ::
    <%= link_to "Contato", contact_path %>
  </span>
  <div class="fonte"align="center" style="padding-top:10px ">
    &copy;2007 - <%= Time.now.year %> Nano Games Ltda. Todos os direitos reservados.
  </div>
</div>
