<div class="conteudo">
  <h1>Sobre a Nano Games</h1>
  <br>
  <span class="fonte">
    A Nano Games &eacute; uma empresa brasileira, fundada no Rio de Janeiro em 2007. Nossa equipe atua h&aacute; mais de 4 anos no desenvolvimento de jogos e aplicativos para celular, tendo participado diretamente da cria&ccedil;&atilde;o de conceito, desenvolvimento e porte de mais de 20 jogos e aplicativos m&oacute;veis.<br><br>Nosso objetivo &eacute; transformar mesmo os jogos mais simples em uma nova experi&ecirc;ncia de entretenimento m&oacute;vel, produzindo jogos criativos com um padr&atilde;o internacional de qualidade.
  </span>
  <br><br>

  <div align="right"><a href="#topo">:: Topo ::</a></div>

  <br><br><br><br><br><br><br><br><br>

  <%= render :partial => "link_jogos" %>
</div>
