<%= render :partial => "destaque_java", :locals => {  :video => @video,
                                                      :video_file => "video_biritometro",
                                                      :flash_video => "../flash/video_biritometro.swf",
                                                      :tela => "../flash/tela_biritometro",
                                                      :name => "Biritômetro",
                                                      :banner => "../banners/banner_biritometro.gif" } %>

  <div class="divisaoconteudo"></div>
    <div class="conteudo" style="padding: 14px;"><br>
	
	
   	        <a name="dicas"></a><span class="cabecalho"> :: dicas e instru&ccedil;&otilde;es </span><br>
   	        <br>
      <span class="fonte">Quem tem Biritômetro não tem medo de bafômetro! Preencha sua tabela de biritas e confira no gráfico o seu nível de álcool no sangue a cada hora, e assim não perca a conta do que bebeu, nem perca a linha!
	  <br/><br/><br/><b>LEI SECA</b><br/><br/>A Lei 11.705, conhecida como "Lei Seca", estabelece limites rígidos para o consumo de álcool dos motoristas: apenas 0,2g de álcool por litro de sangue.
	  <br/><br/>Não dê bobeira! Além de multa de R$955, a lei ainda prevê a perda do direito de dirigir e a retenção do veículo. A partir de 0,6g de álcool por litro de sangue, a multa fica mais pesada e você ainda corre o risco de ser preso.
	  <br/><br/><b>DICAS</b><br/><br/>Evite problemas com a lei! Aí vão algumas dicas pra você ainda beber com os amigos e se divertir de forma consciente!
	  <br/><br/><b>Amigo da vez:</b> faça um rodízio com os amigos, onde cada vez um se compromete a não beber para levar os bebuns em segurança pra casa.
	  <br/><br/><b>Táxis e Vans:</b> faça as contas! Muitas vezes, rachar um táxi com a galera sai mais em conta que pagar o combustível e o estacionamento até seu boteco ou bar preferido.
	  <br/><br/><b>Beba perto de Casa:</b> prestigie os bares e restaurantes das redondezas! Você não gasta nada e ainda queima algumas calorias do chopp na volta para casa.
	  <br/><br/><b>Vá a estabelecimentos reponsáveis:</b> muitos estabelecimentos oferecem serviços de táxi, vans ou até mesmo motoristas para te deixar em casa sem problemas, com preços baixos ou gratuitos. Outros oferecem descontos para o "amigo da vez". Valorize essas iniciativas!
	  <br/><br/><br/><b>CONTROLES</b><br/><br/><b>TABELA:</b><br/>Use as setas direcionais ou as teclas 2, 4, 6 e 8 para navegar na tabela. Aperte a tecla de seleção ou 5 para escolher a quantidade de birita que você tomou na hora mostrada. Para ver o gráfico use *, 0 ou #.
	  <br/><br/>Se seu celular suportar touchscreen, arraste a tela para navegar, clique uma vez para selecionar uma célula e clique mais uma vez para editá-la.
	  <br/><br/><b>EDITOR DE BIRITA:</b><br/>Aperte cima, baixo, 2 ou 8 para trocar a opção atual. Use esquerda, direita, 4 ou 6 para alterar a quantidade de doses.
	  <br/><br/><b>GRÁFICO:</b><br/>Use as setas direcionais ou as teclas 2, 4, 6 e 8 para navegar no gráfico. Para alterar o nível de zoom, você pode usar as teclas *, 0 ou #, ou ainda clicar no ícone da lupa, se seu celular tiver touchscreen.
	  <br/><br/><br/>Os efeitos do álcool no organismo dependem de vários fatores, como:<br/><br/>_ quantidade e tipo de bebida<br/>_ peso<br/>_ idade<br/>_ gênero<br/>_ velocidade de ingestão<br/>_ quantidade de comida no estômago<br/>_ fatores genéticos<br/><br/>Em geral, os efeitos sentidos por faixas de álcool no sangue (gramas de álcool por litro de sangue):
	  <br/><br/><b>• até 0,8 g/l:</b><br/>_reflexos mais lentos<br/>_alteração na percepção de distância e velocidade<br/>_ desinibição<br/>_ aquela pessoa "horrorosa" que está te dando mole agora ficou apenas "feinha"
	  <br/><br/><b>• de 0.8 até 1.5 g/l:</b><br>_ euforia superficial alternada com período de tristeza e agressividade<br/>_ necessidade irresistível de falar e familiaridade excessiva: o famoso "sabe que gosto muito de você né?"<br/>_ alterações da memória, do discernimento e da atenção<br/>_ aquela pessoa feinha que está de olho em você já começa a parecer interessante...
	  <br/><br/><b>• de 1.5 a 3 g/l:</b><br/>_ as palavras ficam incrivelmente complicadas de pronunciar<br/>_ desordem de pensamento que leva à confusão total<br/>_ você se tornou a pessoa mais rica da mesa, pagando biritas pra todo mundo, e já marcou um churrasco pro dia seguinte<br/>_ sonolência progressiva até ao torpor<br/>_ a pessoa feinha que está te dando mole virou o amor da sua vida<br/>_ descoordenação motora<br/>_ visão dupla<br/>_ vertigens, náuseas, vômitos<br/>_ taquicardia
	  <br/><br/><b>• de 3 a 5 g/l:</b><br/>_ coma profundo (na maior parte dos casos sai do coma ao fim de algumas horas)<br/>_ você já não vê a pessoa feinha que está te dando mole porque você caiu no chão<br/>_ hipotermia (queda de até 6 graus da temperatura corporal)<br/>_ hipotensão arterial com risco de colapso cardiovascular<br/>_ amnésias lacunares (black-outs ou "teto preto")
	  <br/><br/><b>• acima de 5 g/l:</b><br/>_ nível letal, com coma profundo, podendo levar à MORTE.<br/><br/><br/><b>RISCOS DE ACIDENTES</b><br/><br/>Não misture álcool e direção! Veja como aumentam as chances de você causar um acidente, de acordo com seu nível de álcool no sangue:
	  <br/><br/>_ 0,5 g/l: 200% (2 vezes mais)<br/>_ 0,8 g/l: 500% (5 vezes mais)<br/>_ 1,2 g/l: 2.000% (20 vezes mais!)<br/>_ 2 g/l: 8.000% (80 vezes mais!)<br/><br/><br/><br/>
	  </span>
   	    <div align="right"><a href="#topo">:: topo ::</a></div>
   	    <br>
		<div class="rodape"> </div>
		<br>
    
	
  <a name="comocomprar"></a>
  
	    </span><div class="jogos" style="height:110px; margin-top:30px;_margin-top:60px; *margin-top:60px;">
		    <div class="claro" style="position:relative">
			</div>
		    <div class="bordaBox" style="padding-top:10px ; padding-left:10px ;padding-right:10px ; _padding-right:10px ;float:left; height:73px ; _width:410px; width:400px">
            <b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
            <div class="conteudobox" style="height:75px ; padding-top:2px">
               
			   <div class="fonte" align="center" style="float:left ; padding-left:5px">
                <span class="sms">Envie um SMS<br>
                com                <span class="sms" style="color:#FFFF00">BIRITA<br>
                </span>para <span class="sms" style="color:#FFFF00">49955</span><br>
                </span>
			   </div>

			   <div class="divisoria">
			   </div>
			   
			   <div class="fonte" style="float:left; width:195px; height:65px">Você irá receber uma mensagem SMS com um link para o download. Tenha certeza de estar com o seu aparelho dentro da área de cobertura de sua operadora.
			   </div>
			   
		      </div>
            <b class="b4"></b><b class="b3"></b><b class="b2"></b><b class="b1"></b>
          </div> 
		
		       <div class="bordaBox" style="padding-top:10px ; float:left; _width:95px; width:98px;">
                    <b class="b1" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b4" style="background:#00353b"></b>
                     
					<div class="conteudobox" style="background:#00353b; padding-top:0px; padding-bottom:0px">
					
					  <div style="padding-left:2px ;padding-top:0px "><span class="valor" style="font-size:11px">Valor:</span><br>
					  <span class="valor">
					    R$ 5,99</span>
			          </div>
			   
                    </div>
					
                    <b class="b4" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b1"></b>
               
			   </div>
		  
		  <div class="bordaBox" style="padding-top:4px ; float:left; _width:95px; width:98px;">
                    <b class="b1" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b4" style="background:#00353b"></b>
                     
					<div class="conteudobox" style="background:#00353b; padding-top:0px; padding-bottom:0px">
					
					  <div>
					    <div align="center" style=" padding-right:2px;"><span class="valor" style="font-size:11px"><a href="#celulares">Aparelhos disponíveis</a></span>
				        </div>
					  </div>
			   
                    </div>
					
                    <b class="b4" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b1"></b>
               
	      </div>
		    
		</div>
		
		
		<div class="linhacomocomprar"></div>
		<div style="background:#004f59; height:18px ; margin-top:-15px">
		<div class="fonte" style="padding-left:10px "></div>
	  
	    <div class="linhabaixocomocomprar">
		</div>
		
		<div class="fonte" style="font-size:10px ; padding-left:10px; padding-right:10px;"> * O tráfego para download do conteúdo será cobrado de acordo com as tarifas da sua operadora. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;© Claro 2008</div>
	
	    </div>
  		<br>
        <div align="right"><a href="#topo"><br>
        :: topo ::<br>
        </a>
            <br>
            <br>
      </div>
      <div class="rodape"> </div>
    	<p><span class="cabecalho">
        <a name="celulares"></a> :: aparelhos dispon&iacute;veis</span><br>
            <br>
        <p class="fonte"><strong>Benq-Siemens</strong>: C65, C70, C72, C75, C81, CF75, CF76, cl71, CL75, CV65, CX65, CX75, E71, EF81, EL71, M65, M81, ME75, S65, S68, S75, S81, S82, SF65, SK65, SK6R, SL65, SL75, SXG75</p>
        <p class="fonte"><strong>Gradiente</strong>: GF500, GF690, gf910, GF930, gf930, neo gx-5, vibe gmp-3</p>
        <p class="fonte"><strong>HTC</strong>: MTeoR, mteor, P3301, P3400, P3400, P3450 (Touch), P3450 (Touch), P3470 (Pharos), P3600 (Trinity), P3600 (Trinity), P4350, P4500 (TyTn), P5500 (Touch Dual), P6300, S310, S411, S620 (Excalibur), S621 (Excalibur)</p>
        <p> <span class="fonte"><strong>LG:</strong> C1100, c1150, C1200, C1500, C2000, c2500, c2600, c3100, G7100, KE500 (Shine), KE970 (Shine), KE990 (Viewty), KF245, KF300, KF510, kf600, KF755, KG800 (Chocolate), KM380, km500, KM710, kp202, ME500 (Musicam), ME540 (Maxicam), ME550c (Cosmo), ME770 (Shine Slim), ME850 (Prada), ME970 (Shine), MG100, MG105 (Vibecam), MG125B (One), MG155, MG185 (Finecam), MG200 (Smartcam), mg210, MG220 (Mastercam), MG225, MG230 (Black Crystal), MG235, MG280 (Chocolight), MG295 (Star), MG296, MG320c, MG370 (Lynx), MG800 (Chocolate), MG810 (Black Safira), ms20, MU500, P7200, U8290</span></p>
        <p class="fonte"><strong>Motorola</strong>: A1000, A1200, a728, A728, a760, A780, A845, a845, A910, A910i, C380, C381, C385, C650, C698p, C975, E1 (ROKR), E1000, E1070, E2 (ROKR), E365, E398, E6 (ROKR), E680i, E6e (ROKR), E770, E8 (ROKR), K1 (KRZR), K3 (KRZR), K3m (KRZR), L6 (SLVR), L7 (SLVR), L72 (SLVR), L7i (SLVR), L9 (SLVR), MPx220, U3 (PEBL), U6 (PEBL), U9 (ROKR), V180, V185, V186, V190, V191, V195, V220, V235, V237, V3 (RAZR), V300, V303, V360, V365, V3e (RAZR), V3i (RAZR), V3r (RAZR), V3t (RAZR), V3x (RAZR), V3xx (RAZR), V400, V500, V525, V550, V551, V555, V557, V6 (RAZR MAXX), V600, V635, V8 (RAZR2), V9 (RAZR2), V975, V980, W490, W510, z10, Z10, Z3 (RIZR), Z6 (ROKR)</p>
        <p class="fonte"><span class="fonte"><strong>Nokia:</strong> 2610, 2626, 2630, 2660, 2760, 2855, 2865, 3155, 3220, 5070, 5140, 5200, 6020, 6030, 6060, 6061, 6070, 6080, 6085, 6086, 6101, 6102, 6103, 6111, 6125, 6126, 6131, 6133, 6136, 6151, 6155, 6165, 6170, 6230, 6233, 6234, 6235, 6255, 6265, 6267, 6270, 6275, 6280, 6282, 6288, 6300, 6822, 7260, 7270, 7360, 7370, 7373, 7390, 8801, 1680 Classic, 2600 Classic, 2680 Slide, 2865i, 3109 Classic, 3110 Classic, 3120 Classic, 3155i, 3250, 3500 Classic, 3555, 3600 Slide, 5000, 5140i, 5220 XpressMusic, 5300 XpressMusic, 5310 XpressMusic, 5500, 5610 XpressMusic, 5700 XpressMusic, 6102i, 6110 Navigator, 6120 Classic, 6121 Classic, 6124 Classic, 6131 NFC, 6155i, 6210 Navigator, 6212 Classic, 6220 Classic, 6230i, 6235i, 6263, 6265i, 6275i, 6290, 6300i, 6301, 6500 Classic, 6500 Slide, 6555, 6600 Fold, 6600 Slide, 6630, 6680, 6681, 6682, 7210 Supernova, 7310 Supernova, 7500 Prism, 7510 Supernova, 7610 Supernova, 7900 Prism, 8600 Luna, 8800 Arte, 8800 Sirocco Edition, E50, E51, E61, E61i, E62, E65, E66, E71, N71, N72, N73, N75, N76, N77, N78, N81, N82, N91, N92, N93, N93i, N95, N96
      </p>
        </p>
        <p class="fonte"><strong>Samsung: </strong>A706, C417, C420, c510, D500, D520, D600, D800, D820, D830, D836 (Ultra 9), D840, D900, E210, e230, E250, E350, E370, E490, E570, E740, E830, E840, E898, E900, f210, f250, F500, G600, i321, i617, i760, J600, M610, P260, P520, P858, T429, T539, T729, U100, U106 (Lean), U600, U700, v820, x480, X540, X560, X650, X658, x660, X678, X708, X820, x836, Z130, Z150, Z400, Z540, Z560, Z720, ZV50</p>
        <p class="fonte"><strong>SonyEricsson:</strong> C702, C902, C905, D750, F305, F500, G502, G700, G900, K300, K310, K320, K500, K510, K530, K550, K600, K608, K610, K618, K630, K660, K700, K750, K758, K770, K790, K800, K810, K818, K850, K858, M600, M608, P1, P900, P910, P990, S500, S700i, S710, T280, T650, T658, V600, V630, V640, V800, V802SE, W200, W300, W350, W380, W550, W580, W600, W610, W618, W660, W700, W710, W750, W760, W800, W810, W830, W850, W880, W888, W890, W898, W900, W908, W910, W950, W958, W960, W980, Z1010, Z250, Z258, Z300, Z300, Z310, Z320, Z520, Z525, Z530, Z550, Z555, Z558, Z610, Z710, Z750, Z770, Z780, Z800 </p>
      <div align="right"><span class="fonte"><a href="#topo"></a></span><span><a href="#topo">:: topo ::</a><br>
 	      </span></div>

				 <%= render :partial => 'link_jogos' %>
            </div>
            
            
