<%= render :partial => "destaque_java", :locals => {  :video => @video,
                                                      :video_file => "video_bob_esponja",
                                                      :flash_video => "../flash/video_bob_esponja.swf",
                                                      :tela => "../flash/tela_bob_esponja",
                                                      :name => "Bob Esponja - Fábrica de Sirigurger",
                                                      :banner => "../banners/banner_bob_esponja.gif" } %>

  <div class="divisaoconteudo"></div>
    
    <div class="conteudo" style="padding: 14px;"><span class="cabecalho">
	<a name="comocomprar"></a>
	<br>
        
	    </span><div class="jogos" style="height:110px; margin-top:30px;_margin-top:60px; *margin-top:60px;">
		    <div class="claro" style="position:relative">
			</div>
		    <div class="bordaBox" style="padding-top:10px ; padding-left:10px ;padding-right:10px ; _padding-right:10px ;float:left; height:73px ; _width:410px; width:400px">
            <b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
            <div class="conteudobox" style="height:75px ; padding-top:2px">
               
			   <div class="fonte" align="center" style="float:left ; padding-left:5px">
                <span class="sms">Envie um SMS<br>com o texto <br><span class="sms" style="color:#FFFF00">NANO</span> para <span class="sms" style="color:#FFFF00">250</span><br></span>
			   </div>

			   <div class="divisoria">
			   </div>
			   
			   <div class="fonte" style="float:left; width:195px; height:65px">Você irá receber uma mensagem SMS com um link para o portal de download dos jogos da Nano Games. Selecione o jogo desejado para iniciar  o download.</div>
			   
		      </div>
            <b class="b4"></b><b class="b3"></b><b class="b2"></b><b class="b1"></b>
          </div> 
		
		       <div class="bordaBox" style="padding-top:10px ; float:left; _width:95px; width:98px;">
                    <b class="b1" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b4" style="background:#00353b"></b>
                     
					<div class="conteudobox" style="background:#00353b; padding-top:0px; padding-bottom:0px">
					
					  <div style="padding-left:2px ;padding-top:0px "><span class="valor" style="font-size:11px">Valor:</span><br>
					  <span class="valor">
					    R$ 9,99</span>
			          </div>
			   
                    </div>
					
                    <b class="b4" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b1"></b>
               
			   </div>
		  
		  <div class="bordaBox" style="padding-top:4px ; float:left; _width:95px; width:98px;">
                    <b class="b1" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b4" style="background:#00353b"></b>
                     
					<div class="conteudobox" style="background:#00353b; padding-top:0px; padding-bottom:0px">
					
					  <div>
					    <div align="center" style=" padding-right:2px;"><span class="valor" style="font-size:11px"><a href="#celulares">Aparelhos disponíveis</a></span>
				        </div>
					  </div>
			   
                    </div>
					
                    <b class="b4" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b1"></b>
               
	      </div>
		    
		</div>
		
		
		<div class="linhacomocomprar"></div>
		<div style="background:#004f59; height:118px ; margin-top:-15px">
		<div class="fonte" style="padding-left:10px ">
		  <p><strong>Você também pode comprar visitando o portal Claro Idéias através do seu celular.</strong></p>
		  <p><strong>Ou ainda, acessando o site Claro Idéias: <a href="http://www.claroideias.com.br/" target="_blank">www.claroideias.com.br</a>, selecionando a opção " Claro Jogos " 
    no menu à esquerda, e depois " Jogo Download ".</strong></p>
	    </div>
	  
	    <div class="linhabaixocomocomprar">
		</div>
		
		<div class="fonte" style="font-size:10px ; padding-left:10px; padding-right:10px;"> * O tráfego para download do conteúdo será cobrado de acordo com as tarifas da sua operadora. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;© Claro 2008</div>
	
	    </div>
      
		

    	<div align="right" ><a href="#topo"><br>
   	    :: topo ::<br>
        </a>
            <br>
            <br>
      </div>
      <div class="rodape"> </div>
    	<span class="cabecalho">
        <a name="celulares"></a> :: aparelhos dispon&iacute;veis</span><br>
          <br>
          <span class="fonte"><strong>LG</strong>: C1100, ME500, ME550C, ME770, ME850, ME970, MG105, MG185, MG220C, MG235, MG280, MG296, MG320C, MG810C, MU500<br>
          <br>
    	              
            <strong>Motorola</strong>: C381, C385, C650, C698p, ROKR E1, ROKR E2, E398, KRZR K1, SLVR L6, SLVR L7, SLVR L7i, MPX220, MPX220p, PEBL U3, PEBL U6, V185, V186, V190, V191, V220, V235, RAZR V3, V300, V360, V365, RAZR V3e, RAZR V3i, V400, V555, V557, V600, W510, RIZR Z3
            <br>
          <br>
          <strong>Nokia</strong>: 2660, 2760, 3220, 3230, 3250, 5200, 6020, 6060, 6070, 6085, 6101, 6103, 6111, 6120, 6125, 6131, 6230, 6230, 6600, 6670, 6681, 6822, 7610, E61i, E62, E65, N73, N76<br>
          <br>
    	              
            <strong>Samsung</strong>: A706, C420, D500, D820, D830, E230L, E250, E350, E351, E370, E570L, E900, U100, U600, X650<br>
          <br>
          <strong>SonyEricsson</strong>: K300i, K310i, K550i, K610i, K700, K750i, K790i, K850i, S700i, W200i, W300i, W580i, W600i, W610i, W710i, W800, W810i, W880i, Z530i,Z550i, Z750i<br>
          <br>
      </span>
   	  <div align="right"><a href="#topo">:: topo ::</a><br>
   	      <br>
        <br>
   	  </div>
   	  <div class="rodape"></div><br>


   	      <span class="cabecalho">
   	      <a name="dicas"></a>
   	      :: dicas e instru&ccedil;&otilde;es   	      </span><br>
   	      <br>
   	      <span class="fonte"> Em Bob Esponja: F&aacute;brica de Siriburguer, a cozinha do restaurante Siri Cascudo foi transformada pelo Sr. Siriguejo numa f&aacute;brica. O jogador deve escolher entre Bob Esponja, Patrick Estrela e Lula Molusco e ter bons reflexos para ajud&aacute;-los a montar os pedidos, adicionando os ingredientes corretos ao acionar a esp&aacute;tula mec&acirc;nica na posi&ccedil;&atilde;o ideal e no tempo certo.<br><br>O Sr. Siriguejo e os clientes n&atilde;o ficam satisfeitos com pedidos atrasados ou mal montados! Pedidos precisos significam clientes satisfeitos, o que significa mais pontos. Por outro lado, pedidos mal montados significam clientes insatisfeitos, que por sua vez significam o olho da rua para o jogador!<br>
   	      <br>
          </span>
        <div align="right"><a href="#topo">:: topo ::</a></div>
   	      <br>
  	     
          <span class="fonte"></span>
            <br>
            <span class="fonte"><strong>Jogos e Aplicativos desenvolvidos:</strong></span><br>
&nbsp;&nbsp;<br>

<%= render :partial => 'link_jogos' %>
    </div>
	
 
