<div  class="texto" style="padding:14px">
  <div id="down_form" style="height:249px; width:249px;">
    <%= render :partial => 'downloads/vendor_js', :locals => {:vendors => @vendors } %>
	</div> 
</div>

<%= render :partial => 'link_jogos' %>
