<% content_for :destaque do -%>
  <%= render :partial => "destaque" %>
<% end -%>
<div class="conteudo">
  <div class="jogosaplicativos">
    <img src="../images/jogos_e_aplicativos.gif">
  </div>

  <div class="jogos" style="height:775px;">

    <%= render :partial => "box_left", :locals => { :link => "/games/brazooka_soccer", 
                                                    :image => "../images/brazooka.gif", 
                                                    :title => "Brazooka<br/>Soccer&copy;",
                                                    :sub_title => ""} %>
                                              
    <%= render :partial => "box_right", :locals => {:link => "/games/space_goo", 
                                                    :image => "../images/space_goo.gif", 
                                                    :title => "Space Goo&copy;",
                                                    :sub_title => "Jogo em 3D para iPhone"} %>
                
    <%= render :partial => "box_left", :locals => { :link => "/games/superlux", 
                                                    :image => "../images/superlux.png", 
                                                    :title => "SUPERLUX&copy;",
                                                    :sub_title => "Jogo para iPhone"} %>
                                              
    <%= render :partial => "box_right", :locals => {:link => "/games/lux", 
                                                    :image => "../images/lux.gif", 
                                                    :title => "LUX&copy;",
                                                    :sub_title => "Gotas de Beleza"} %>
                                              
    <%= render :partial => "box_left", :locals => {:link => "../games/seda_puzzle", 
                                                    :image => "../images/seda_puzzle.png", 
                                                    :title => "Seda Puzzle&copy;",
                                                    :sub_title => ""} %>
                                              
    <%= render :partial => "box_right", :locals => {:link => "../games/dancinrio", 
                                                    :image => "../images/dancinrio.png", 
                                                    :title => "Dancin' Rio&copy;",
                                                    :sub_title => ""} %>
                                                                            
    <%= render :partial => "box_left", :locals => { :link => "../games/bob_esponja", 
                                                    :image => "../images/bob.gif", 
                                                    :title => "Bob Esponja&copy;",
                                                    :sub_title => "F&aacute;brica de Siriburguer"} %>
                                              
    <%= render :partial => "box_right", :locals => {:link => "../games/jimmy_neutron", 
                                                    :image => "../images/jimmy.gif", 
                                                    :title => "Jimmy Neutron&copy;",
                                                    :sub_title => "Enigma das Supernovas"} %>
                                              
    <%= render :partial => "box_left", :locals => {:link => "../games/fullpower_drag_race", 
                                                    :image => "../images/fullpower.gif", 
                                                    :title => "FullPower&copy;",
                                                    :sub_title => "Drag Race"} %>
                                              
    <%= render :partial => "box_right", :locals => { :link => "../games/joselito", 
                                                    :image => "../images/hermes_e_renato.gif", 
                                                    :title => "MTV&copy;",
                                                    :sub_title => "Joselito contra a Farofada"} %>
                                              
    <%= render :partial => "box_left", :locals => { :link => "../games/penalti_com_cleston", 
                                                    :image => "../images/penalti_cleston.gif", 
                                                    :title => "MTV&copy;",
                                                    :sub_title => "Penalti com Cléééston"} %>
                                              
    <%= render :partial => "box_right", :locals => { :link => "../games/levantamento_de_peso", 
                                                    :image => "../images/levantamento.gif", 
                                                    :title => "MTV&copy;",
                                                    :sub_title => "Levantamento de Peso"} %>
                                              
    <%= render :partial => "box_left", :locals => {:link => "../games/barrigadas_ornamentais", 
                                                    :image => "../images/barrigada.gif", 
                                                    :title => "MTV&copy;",
                                                    :sub_title => "Barrigadas Ornamentais"} %>
                                              
    <%= render :partial => "box_right", :locals => { :link => "../games/ginastica_do_away", 
                                                    :image => "../images/away.gif", 
                                                    :title => "MTV&copy;",
                                                    :sub_title => "Gin&aacute;stica do Away"} %>
                                              
    <%= render :partial => "box_left", :locals => {:link => "../applications/biritometro", 
                                                    :image => "../images/biritometro.gif", 
                                                    :title => "BIRIT&Ocirc;METRO &copy;",
                                                    :sub_title => "Fique sob controle!"} %>
                                              
    <%= render :partial => "box_right", :locals => { :link => "../games/pepsi_cai_bem", 
                                                    :image => "../images/pepsicaibem.gif", 
                                                    :title => "Pepsi Cai Bem&copy;",
                                                    :sub_title => ""} %>

  </div>
</div>
