<%= render :partial => "destaque_java", :locals => {  :video => @video,
                                                      :video_file => "video_joselito",
                                                      :flash_video => "../flash/video_joselito.swf",
                                                      :tela => "../flash/tela_joselito",
                                                      :name => "MTV &ndash; Joselito Contra a Farofada",
                                                      :banner => "../banners/capa_joselito.gif" } %>

<div class="divisaoconteudo">
</div>
    
<div class="conteudo" style="padding: 14px;">
  <br>

  <span class="cabecalho">
    <a name="dicas"></a>
      :: dicas e instru&ccedil;&otilde;es
  </span>
  <br>
  <br>
  <span class="fonte">
    Doming&atilde;o de sol, voc&ecirc; curtindo uma praia maneira, e de repente a farofada aparece. O que fazer? Joselito d&aacute; uma dica sem no&ccedil;&atilde;o pra eliminar esse mal: morteiros 12x1 na cara deles! Rojões são sempre uma boa opção pra exterminar a farofada da praia. Afinal, ele n&atilde;o sabe brincar, ele &eacute; JOSELITO!
    <br>
    <br>
    Mas farofeiro &eacute; fogo! Quanto mais se quer se livrar deles, mais eles aparecem! Mire e detone os farofeiros antes que eles dominem a praia. Tome cuidado para n&atilde;o atirar nas gatinhas, no Away e na galera do Massacration, para n&atilde;o diminuir o seu tempo de a&ccedil;&atilde;o. Elimine todos os farofeiros de cada nível para avançar. Se ligue na barra da farofada:
    <br>
    <br>
    <img src="../images/joselito/flamenguista_01_6.png" hspace="30px">
    <img src="../images/joselito/isopor_8.png" hspace="30px">
    <img src="../images/joselito/maromba_0.png" hspace="30px">
    <img src="../images/joselito/politico_01_1.png" hspace="30px">
    <img src="../images/joselito/sound_0.png" hspace="30px">
    <img src="../images/joselito/tia_gorda_01_5.png" hspace="30px">
    <br>
    <br>
    Caso ela se encha, a praia estará dominada, e é fim de jogo pra você! A barra enche conforme o tempo passa ou você atinge a galera não farofeira. Atire nos farofeiros para reduzir a barra.
    <br/>
    <br/>
    Para cada farofeiro atingido, você ganha 10 pontos. Conforme você atinge farofeiros em sequência, seu multiplicador de pontos é aumentado. Errar um tiro reinicia seu multiplicador. Quanto maior seu multiplicador, maior a redução no nível de farofada a cada farofeiro atingido. Não seja um sem noção: rojão nos farofeiros só pelo celular! E use o filtro solar, ou vai acabar mais torrado que os farofeiros depois de um 12x1 na cara.
    <br>
    <br>
    Cada farofeiro tem um padrão de movimento. Memorize esse padrão para conseguir pegá-lo de surpresa!Tá fazendo o quê lendo esse texto? Vai detonar uns farofeiros!
    <br>
    <br>
    <b>Controles:</b>
    <br>
    Use as setas direcionais ou as teclas 1, 2, 3, 4, 6, 7, 8 e 9 para mover a mira. Aperte o botão de seleção ou a tecla 5 para disparar o rojão.
    <br/>
    <br/>
    <b>Touch screen:</b>
    <br/>
    Se o seu telefone possuir tela sensível ao toque, arraste a mira para movê-la. Dê um clique na mira para atirar.
    <br/>
    <br/>
    Mostre que tem boa pontaria, reflexos apurados e garanta a sua divers&atilde;o!
    <br>
    <br>
    <br>
  </span>

  <div align="right">
    <a href="#topo">
      :: topo ::
    </a>
  </div>

  <br>

  <div class="rodape"></div>

  <a name="comocomprar"></a>

  <br>

  <div class="jogos" style="height:110px; margin-top:30px;_margin-top:60px; *margin-top:60px;">
    <div class="claro" style="position:relative">
    </div>

    <div class="bordaBox" style="padding-top:10px ; padding-left:10px ;padding-right:10px ; _padding-right:10px ;float:left; height:73px ; _width:410px; width:400px">
      <b class="b1"></b>
      <b class="b2"></b>
      <b class="b3"></b>
      <b class="b4"></b>

      <div class="conteudobox" style="height:75px ; padding-top:2px">
        <div class="fonte" align="center" style="float:left ; padding-left:5px">
          <span class="sms">
            Envie um SMS
            <br>
            com o texto
            <br>
            <span class="sms" style="color:#FFFF00">
              NANO
            </span>
            para
            <span class="sms" style="color:#FFFF00">
              250
            </span>
            <br>
          </span>
        </div>

        <div class="divisoria">
        </div>

        <div class="fonte" style="float:left; width:195px; height:65px">
          Você irá receber uma mensagem SMS com um link para o portal de download dos jogos da Nano Games. Selecione o jogo desejado para iniciar  o download.
        </div>
      </div>

      <b class="b4"></b>
      <b class="b3"></b>
      <b class="b2"></b>
      <b class="b1"></b>
    </div>

    <div class="bordaBox" style="padding-top:10px ; float:left; _width:95px; width:98px;">
      <b class="b1" style="background:#00353b"></b>
      <b class="b2" style="background:#00353b"></b>
      <b class="b3" style="background:#00353b"></b>
      <b class="b4" style="background:#00353b"></b>

      <div class="conteudobox" style="background:#00353b; padding-top:0px; padding-bottom:0px">
        <div style="padding-left:2px ;padding-top:0px ">
          <span class="valor" style="font-size:11px">
            Valor:
          </span>
          <br>
          <span class="valor">
            R$ 9,99
          </span>
        </div>
      </div>

      <b class="b4" style="background:#00353b"></b>
      <b class="b3" style="background:#00353b"></b>
      <b class="b2" style="background:#00353b"></b>
      <b class="b1"></b>
    </div>

    <div class="bordaBox" style="padding-top:4px ; float:left; _width:95px; width:98px;">
      <b class="b1" style="background:#00353b"></b>
      <b class="b2" style="background:#00353b"></b>
      <b class="b3" style="background:#00353b"></b>
      <b class="b4" style="background:#00353b"></b>

      <div class="conteudobox" style="background:#00353b; padding-top:0px; padding-bottom:0px">
        <div>
          <div align="center" style=" padding-right:2px;">
            <span class="valor" style="font-size:11px">
              <a href="#celulares">
                Aparelhos disponíveis
              </a>
            </span>
          </div>
        </div>
      </div>

      <b class="b4" style="background:#00353b"></b>
      <b class="b3" style="background:#00353b"></b>
      <b class="b2" style="background:#00353b"></b>
      <b class="b1"></b>
    </div>
  </div>


  <div class="linhacomocomprar">
  </div>

  <div style="background:#004f59; height:118px ; margin-top:-15px">
    <div class="fonte" style="padding-left:10px ">
      <p>
        <strong>
          Você também pode comprar visitando o portal Claro Idéias através do seu celular.
        </strong>
      </p>
      <p>
        <strong>
          Ou ainda, acessando o site Claro Idéias:
          <a href="http://www.claroideias.com.br/" target="_blank">
            www.claroideias.com.br
          </a>
          , selecionando a opção " Claro Jogos " no menu à esquerda, e depois " Jogo Download ".
        </strong>
      </p>
    </div>

    <div class="linhabaixocomocomprar">
    </div>

    <div class="fonte" style="font-size:10px ; padding-left:10px; padding-right:10px;">
      * O tráfego para download do conteúdo será cobrado de acordo com as tarifas da sua operadora. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;© Claro 2008
    </div>
  </div>

  <div class="jogos" style="height:110px; margin-top:70px;_margin-top:80px; *margin-top:100px;">
    <div class="tim" style="position:relative">
    </div>

    <div class="bordaBox" style="padding-top:10px ; padding-left:10px ;padding-right:10px ; _padding-right:10px ;float:left; height:73px ; _width:410px; width:400px">
      <b class="b1"></b>
      <b class="b2"></b>
      <b class="b3"></b>
      <b class="b4"></b>

      <div class="conteudobox" style="height:75px ; padding-top:2px">
        <div class="fonte" align="center" style="float:left ; padding-left:5px">
          <span class="sms">Envie um SMS
            <br>
            com
            <span class="sms" style="color:#FFFF00">
              55550006
              <br>
            </span>
            para
            <span class="sms" style="color:#FFFF00">
              9696
            </span>
          </span>
        </div>

        <div class="divisoria">
        </div>

        <div class="fonte" style="float:left; width:195px; height:65px">
          Você irá receber uma mensagem SMS com um link para o download. Tenha certeza de estar com o seu aparelho dentro da área de cobertura de sua operadora.
        </div>
      </div>

      <b class="b4"></b>
      <b class="b3"></b>
      <b class="b2"></b>
      <b class="b1"></b>
    </div>

    <div class="bordaBox" style="padding-top:10px ; float:left; _width:95px; width:98px;">
      <b class="b1" style="background:#00353b"></b>
      <b class="b2" style="background:#00353b"></b>
      <b class="b3" style="background:#00353b"></b>
      <b class="b4" style="background:#00353b"></b>

      <div class="conteudobox" style="background:#00353b; padding-top:0px; padding-bottom:0px">
        <div style="padding-left:2px ;padding-top:0px ">
          <span class="valor" style="font-size:11px">
            Valor:
          </span>
          <br>
          <span class="valor">
            R$ 7,99
          </span>
        </div>
      </div>

      <b class="b4" style="background:#00353b"></b>
      <b class="b3" style="background:#00353b"></b>
      <b class="b2" style="background:#00353b"></b>
      <b class="b1"></b>
    </div>

    <div class="bordaBox" style="padding-top:4px ; float:left; _width:95px; width:98px;">
      <b class="b1" style="background:#00353b"></b>
      <b class="b2" style="background:#00353b"></b>
      <b class="b3" style="background:#00353b"></b>
      <b class="b4" style="background:#00353b"></b>

      <div class="conteudobox" style="background:#00353b; padding-top:0px; padding-bottom:0px">
        <div>
          <div align="center" style=" padding-right:2px;">
            <span class="valor" style="font-size:11px">
              <a href="#celulares">
                Aparelhos disponíveis
              </a>
            </span>
          </div>
        </div>
      </div>

      <b class="b4" style="background:#00353b"></b>
      <b class="b3" style="background:#00353b"></b>
      <b class="b2" style="background:#00353b"></b>
      <b class="b1"></b>
    </div>
  </div>

  <div class="linhacomocomprar">
  </div>

  <div style="background:#004f59; height:118px ; margin-top:-15px">
    <div class="fonte" style="padding-left:10px ">
      <p>
        <strong>
          Você também pode comprar visitando o Portal TIM através do seu celular.
        </strong>
      </p>
      <p>
        <strong>
          Ou ainda, acessando o site TIM:
          <a href="http://www.tim.com.br/" target="_blank">
            www.tim.com.br
          </a>
          , selecionando a opção "Jogos" no menu &quot;Multim&iacute;dia",    localizado no lado esquerdo da p&aacute;gina.
        </strong>
      </p>
    </div>

    <div class="linhabaixocomocomprar">
    </div>

    <div class="fonte" style="font-size:10px ; padding-left:10px; padding-right:10px;">
      * O tráfego para download do conteúdo será cobrado de acordo com as tarifas da sua operadora. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;© TIM Celular 2006
    </div>
  </div>

  <br>

  <div align="right">
    <a href="#topo">
      <br>
      :: topo ::
      <br>
    </a>
    <br>
    <br>
  </div>

  <div class="rodape">
  </div>

  <span class="cabecalho">
    <a name="celulares">
    </a>
    :: aparelhos dispon&iacute;veis
  </span>
  <br>
  <br>
  <span class="fonte">
    <strong>
      Benq-Siemens
    </strong>
    : E71, EF81, EL71, C65, C72, C75, C81, CF75, CX65, CX75, M65, M81, S65, S68, SL65, SL75
    <br>
    <br>
    <strong>
      Gradiente
    </strong>
    : GF500, GF690, GF930
    <br>
    <br>
    <strong>
      HTC
    </strong>
    : MTeoR, P3400, P3450 (Touch), P3600 (Trinity), P5500 (Touch Dual), P6300, S411, S620 (Excalibur), S621 (Excalibur)
    <br>
    <br>
    <strong>
      LG
    </strong>
    : C1100, C1200, C1500, C2000, G7100, KE970 (Shine), KG800 (Chocolate), ME500 (Musicam), ME540 (Maxicam), ME550c (Cosmo), ME770, ME970 (Shine), MG100, MG105 (Vibecam), MG125B (One), MG155, MG185 (Finecam), MG200 (Smartcam), MG220 (Mastercam), MG225, MG230 (Black Crystal), MG235, MG280 (Chocolight), MG295 (Star), MG296, MG320c, MG800 (Chocolate), MG810 (Black Safira), MU500, P7200, U8290
    <br>
    <br>
    <strong>
      Motorola
    </strong>
    : A1000, A1200, A728, A780, A845, A910, A910i, C380, C381, C385, C650, C698p, C975, E1 (ROKR), E1000, E1070, E2 (ROKR), E365, E398, E6 (ROKR), E680i, E6e (ROKR), E770, E8 (ROKR), K1 (KRZR), K3 (KRZR), K3m (KRZR), L6 (SLVR), L7 (SLVR), L72 (SLVR), L7i (SLVR), L9 (SLVR), MPx220, U3 (PEBL), U6 (EBL), U9 (ROKR), V180, V185, V186, V190, V191, V195, V220, V235, V237, V3 (RAZR), V300, V303, V360, V365, V3e (RAZR), V3i (RAZR), V3r (RAZR), V3t (RAZR, V3x (RAZR), V3xx (RAZR), V400, V500, V525, V550, V551, V555, V557, V6 (RAZR MAXX), V600, V635, V8 (RAZR2), V9 (RAZR2), V975, V980, W490, W510, Z10, Z3 (RIZR), Z6 (ROKR)
    <br>
    <br>
    <strong>
      Nokia
    </strong>
    : 2610, 2626, 2630, 2660, 2760, 2855, 2865, 3155, 3220, 5070, 5140, 5200, 6020, 6030, 6060, 6061, 6070, 6080, 6085, 6086, 6101, 6102, 6103, 6111, 6125 6126, 6131, 6133, 6136, 6151, 6155, 6165, 6170, 6230, 6233, 6234, 6235, 6255, 6265, 6267, 6270, 6275, 6280, 6282, 6288, 6300, 6822, 7260, 7270, 7360, 7370, 7373, 7390, 2600 Classic, 2865i   , 3109 Classic , 3110 Classic , 3120 Classic, 3155i, 3250, 3500 Classic   , 5140i , 5300 XpressMusic, 5310 XpressMusic, 5500, 5610 XpressMusic, 5700 XpressMusic, 6102i , 6110 Navigator, 6120 Classic, 6121 Classic, 6124 Classic, 6131 NFC , 6155i, 6210 avigator 6220 Classic, 6230i, 6235i, 6263, 6265i   , 6275i , 6290, 6301, 6500 Classic, 6500 Slide, 6555, 6630, 6680, 6681, 6682, 7500 Prism, 7900 Prism, 8600 una , 8800 Arte, 8800 Sirocco Edition , E50, E51, E60, E61, E61i, E62, E65, E70, N71, N72, N73, N75, N76, N77, N78, N80, N81, N82, N90, N91, N92, N93, N93i, N95, N96
    <br>
    <br>
    <strong>
      Samsung
    </strong>
    : A706, C417, C420, D500, D520, D600, D800, D820, D830, D836 (Ultra 9), D840, D900, E210, E250, E350, E370, E490, E570, E740, E830, E840, E898, E900 F500, G600, J600, M610, P260, P520, P858, T429, T539, T729, U100, U106 (Lean), U600, U700, X540, X560, X650, X658, X660, X678, X708, X820, Z130, Z150, Z400, Z540, Z560, Z720, ZV50
    <br>
    <br>
    <strong>
      SonyEricsson
    </strong>
    : D750, F500, K300, K310, K320, K500, K510, K530, K550, K600, K608, K610, K618, K630, K660, K700, K750, K758, K770, K790, K800, K810, K818, K850, K858, M600, M608, P1, P900, P910, P990, S500, S700i, S710, T650, T658, V600, V630, V640, V800, V802SE, W200, W300, W350, W380, W550, W580, W600, W610, W618, W660, W700, W710, W750, W760, W800, W810, W830, W850, W880, W888, W890, W898, W900, W908, W910, W950, W958, W960, Z1010, Z250, Z258, Z300, Z300, Z310, Z320, Z520, Z525, Z530, Z550, Z555, Z558, Z610, Z710, Z750, Z800
    <br>
    <br>
  </span>

  <div align="right">
    <a href="#topo">
      :: topo ::
    </a>
    <br>
    <br>
    <br>
  </div>

  <%= render :partial => 'link_jogos' %>

  <div align="center">
    <span class="fonte">
      &copy;1990 - 2008 Abril Radiodifus&atilde;o Ltda. Todos os direitos reservados.
    </span>
  </div>
</div>