<%= render :partial => "destaque_java", :locals => {  :video => @video,
                                                      :video_file => "video_levantamento",
                                                      :flash_video => "../flash/video_levantamento.swf",
                                                      :tela => "../flash/tela_levantamento",
                                                      :name => "Mini Olimpíadas - Levantamento de Peso",
                                                      :banner => "../banners/banner_levantamento.gif" } %>

  <div class="divisaoconteudo"></div>
    
    <div class="conteudo" style="padding: 14px;">
	
		<span class="cabecalho">
		<br>
   	      <a name="dicas"></a>
   	      :: dicas e instru&ccedil;&otilde;es   	      </span><br>
   	      <br>
   	      <span class="fonte">
          É ano de Olimpíadas e todo mundo quer fazer parte da maior festa do esporte mundial, até os metaleiros mais incríveis da história da humanidade! Claro que a galera do Hermes e Renato não poderia ficar de fora!<br/><br/>Detonator, o vocalista do Massacration, quer dar um gás em sua carreira de levantador de peso. Mas, para tanto, ele precisa da sua ajuda: use o poder do metal e avance com nosso herói pelos diferentes níveis a caminho da sonhada medalha!<br/><br/>Você verá duas barras de força ao iniciar o jogo, uma de cada lado da tela, representando a força de cada braço do detonator. Seu objetivo é fazer ambos os níveis de força passarem da marcação azul utilizando os botões 4 e 6. Sempre que você puder avançar uma etapa no levantamento do peso, uma indicação para apertar o botão 5 aparecerá na tela.<br/><br/>A partir da segunda etapa, uma marcação vermelha será acrescentada nas barras de força. Se você deixar a força do detonator cair abaixo delas, perderá pontos, além de retroceder uma etapa. Por falar em pontos, você será premiado toda vez que entrar em uma nova etapa e por concluir uma fase. Quanto mais rápido você terminar a fase, mais pontos você ganhará como bônus. Se ligue no relógio que informa o tempo de cada nível.<br/><br/>
		   Ajude o Detonator a triunfar como levantador de peso: mostre que tem velocidade nos dedos para utilizar toda a forca do metal!<br><br><b>CONTROLES:</b><br/><br/><b>Tecla 4:</b> faz força com o braço esquerdo.<br/><b>Tecla 6:</b> faz força com o braço direito.<br/><b>Tecla 5 ou tecla de confirmação</b>: evoca o poder do metal e muda a etapa de levantamento.<br/><br/><b>Telas sensíveis ao toque:</b><br/><br/><b>Apertar sobre a imagem do botão 4:</b> faz força com o braço esquerdo.<br/><b>Apertar sobre a imagem do botão 6:</b> faz força com o braço direito.<br/><b>Apertar sobre a imagem do botão 5:</b> evoca o poder do metal e muda a etapa de levantamento.
		  <br>
		  <br>
		  </span>
        <div align="right"><a href="#topo">:: topo ::</a></div>
   	      <br>
	
	<div class="rodape"> </div>
	
  <a name="comocomprar"></a>

 <br>
        
	    </span><div class="jogos" style="height:110px; margin-top:30px;_margin-top:60px; *margin-top:60px;">
		    <div class="claro" style="position:relative">
			</div>
		    <div class="bordaBox" style="padding-top:10px ; padding-left:10px ;padding-right:10px ; _padding-right:10px ;float:left; height:73px ; _width:410px; width:400px">
            <b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
            <div class="conteudobox" style="height:75px ; padding-top:2px">
               
			   <div class="fonte" align="center" style="float:left ; padding-left:5px">
                <span class="sms">Envie um SMS<br>com o texto <br><span class="sms" style="color:#FFFF00">NANO</span> para <span class="sms" style="color:#FFFF00">250</span><br></span>
			   </div>

			   <div class="divisoria">
			   </div>
			   
			   <div class="fonte" style="float:left; width:195px; height:65px">Você irá receber uma mensagem SMS com um link para o portal de download dos jogos da Nano Games. Selecione o jogo desejado para iniciar  o download.
			   </div>
			   
		      </div>
            <b class="b4"></b><b class="b3"></b><b class="b2"></b><b class="b1"></b>
          </div> 
		
		       <div class="bordaBox" style="padding-top:10px ; float:left; _width:95px; width:98px;">
                    <b class="b1" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b4" style="background:#00353b"></b>
                     
					<div class="conteudobox" style="background:#00353b; padding-top:0px; padding-bottom:0px">
					
					  <div style="padding-left:2px ;padding-top:0px "><span class="valor" style="font-size:11px">Valor:</span><br>
					  <span class="valor">
					    R$ 9,99</span>
			          </div>
			   
                    </div>
					
                    <b class="b4" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b1"></b>
               
			   </div>
		  
		  <div class="bordaBox" style="padding-top:4px ; float:left; _width:95px; width:98px;">
                    <b class="b1" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b4" style="background:#00353b"></b>
                     
					<div class="conteudobox" style="background:#00353b; padding-top:0px; padding-bottom:0px">
					
					  <div>
					    <div align="center" style=" padding-right:2px;"><span class="valor" style="font-size:11px"><a href="#celulares">Aparelhos disponíveis</a></span>
				        </div>
					  </div>
			   
                    </div>
					
                    <b class="b4" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b1"></b>
               
	      </div>
		    
		</div>
		
		
		<div class="linhacomocomprar"></div>
		<div style="background:#004f59; height:118px ; margin-top:-15px">
		<div class="fonte" style="padding-left:10px ">
		  <p><strong>Você também pode comprar visitando o portal Claro Idéias através do seu celular.</strong></p>
		  <p><strong>Ou ainda, acessando o site Claro Idéias: <a href="http://www.claroideias.com.br/" target="_blank">www.claroideias.com.br</a>, selecionando a opção " Claro Jogos " 
    no menu à esquerda, e depois " Jogo Download ".</strong></p>
	    </div>
	  
	    <div class="linhabaixocomocomprar">
		</div>
		
		<div class="fonte" style="font-size:10px ; padding-left:10px; padding-right:10px;"> * O tráfego para download do conteúdo será cobrado de acordo com as tarifas da sua operadora. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;© Claro 2008</div>
	
	    </div>
	  

        
	    </span><div class="jogos" style="height:110px; margin-top:70px;_margin-top:80px; *margin-top:100px;">
		    <div class="tim" style="position:relative">
			</div>
		    <div class="bordaBox" style="padding-top:10px ; padding-left:10px ;padding-right:10px ; _padding-right:10px ;float:left; height:73px ; _width:410px; width:400px">
            <b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
            <div class="conteudobox" style="height:75px ; padding-top:2px">
               
			   <div class="fonte" align="center" style="float:left ; padding-left:5px">
			     <span class="sms">Envie um SMS<br>
                com <span class="sms" style="color:#FFFF00">54473906<br>
                </span>para <span class="sms" style="color:#FFFF00">9696</span>
			    </span>
               </div>

			   <div class="divisoria">
			   </div>
			   
			   <div class="fonte" style="float:left; width:195px; height:65px">Você irá receber uma mensagem SMS com um link para o download. Tenha certeza de estar com o seu aparelho dentro da área de cobertura de sua operadora.
			   </div>
			   
		      </div>
            <b class="b4"></b><b class="b3"></b><b class="b2"></b><b class="b1"></b>
          </div> 
		
		       <div class="bordaBox" style="padding-top:10px ; float:left; _width:95px; width:98px;">
                    <b class="b1" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b4" style="background:#00353b"></b>
                     
					<div class="conteudobox" style="background:#00353b; padding-top:0px; padding-bottom:0px">
					
					  <div style="padding-left:2px ;padding-top:0px "><span class="valor" style="font-size:11px">Valor:</span><br>
					  <span class="valor">
					    R$ 7,99</span>
			          </div>
			   
                    </div>
					
                    <b class="b4" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b1"></b>
               
			   </div>
		  
		  <div class="bordaBox" style="padding-top:4px ; float:left; _width:95px; width:98px;">
                    <b class="b1" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b4" style="background:#00353b"></b>
                     
					<div class="conteudobox" style="background:#00353b; padding-top:0px; padding-bottom:0px">
					
					  <div>
					    <div align="center" style=" padding-right:2px;"><span class="valor" style="font-size:11px"><a href="#celulares">Aparelhos disponíveis</a></span>
				        </div>
					  </div>
			   
                    </div>
					
                    <b class="b4" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b1"></b>
               
	      </div>
		    
		</div>
		
		
		<div class="linhacomocomprar"></div>
		<div style="background:#004f59; height:118px ; margin-top:-15px">
		<div class="fonte" style="padding-left:10px ">
		  <p><strong>Você também pode comprar visitando o Portal TIM através do seu celular.</strong></p>
		  <p><strong>Ou ainda, acessando o site TIM: <a href="http://www.tim.com.br/" target="_blank">www.tim.com.br</a>, selecionando a opção "Jogos" no menu &quot;Multim&iacute;dia",    localizado no lado esquerdo da p&aacute;gina.</strong></p>
	    </div>
	  
	    <div class="linhabaixocomocomprar">
		</div>
		
		<div class="fonte" style="font-size:10px ; padding-left:10px; padding-right:10px;"> * O tráfego para download do conteúdo será cobrado de acordo com as tarifas da sua operadora. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;© TIM Celular 2006</div>
	
	    </div>
	  
	  <br>
        
	    </span>
        <div align="right">
          <a href="#topo"><br>
          :: topo ::<br>
          </a>
              <br>
              <br>
        
      </div>
      <div class="rodape"> </div>
    	<p><span class="cabecalho">
        <a name="celulares"></a> :: aparelhos dispon&iacute;veis</span><br>
            <br>
      <span class="fonte"><strong>Benq-Siemens</strong>: E71, EF81, EL71, S81, S82, SXG75</span></p>
    	<p><span class="fonte"> <strong>Gradiente</strong>: GF500, GF690, GF930</span></p>
   	  <p><span class="fonte"> <strong>HTC:</strong> MTeoR, P3301, P3400, P3450 (Touch), P3470 (Pharos), P3600 (Trinity), P5500 (Touch Dual), P6300, S310, S411, S620 (Excalibur), S621 (Excalibur)</span></p>
    	<p><span class="fonte"> <strong>LG:</strong> KE500 (Shine), KE970 (Shine), KE990 (Viewty), ME770 (Shine Slim), ME850 (Prada), ME970 (Shine), C1100, C1200, C1500, C2000, G7100, MG100, MG105 (Vibecam), MG125B (One), MG155, MG185 (Finecam), MG200 (Smartcam), MG220 (Mastercam), MG225, MG230 (Black Crystal), MG235, MG280 (Chocolight), MG295 (Star), MG296, KG800 (Chocolate), ME500 (Musicam), ME540 (Maxicam), ME550c (Cosmo), MG320c, MG800 (Chocolate), MG810 (Black Safira), MU500, P7200, U8290
      
</span></p>
    	<p><span class="fonte"><strong>Motorola:</strong> A910, A910i, E1070, E2 (ROKR), E6 (ROKR), E680i, E6e (ROKR), E770, E8 (ROKR), K3 (KRZR), K3m (KRZR), U9 (ROKR), V3x (RAZR), V3xx (RAZR), V6 (RAZR MAXX), V8 (RAZR2), V9 (RAZR2), Z10, A845, C698p, C975, E1 (ROKR), E1000, E398, K1 (KRZR), L7 (SLVR), L72 (SLVR), L7i (SLVR), L9 (SLVR), MPx220, U3 (PEBL), U6 (PEBL), V3 (RAZR), V300, V303, V360, V365, V3e (RAZR), V3i (RAZR), V3r (RAZR), V3t (RAZR), V400, V500, V525, V550, V551, V555, V557, V600, V635, V975, V980, W490, W5 (ROKR), W510, Z3 (RIZR), Z6 (ROKR), A1000, A1200, A780, A728, C380, C381, C385, C650, E365, L6 (SLVR), V180, V185, V186, V190, V191, V195, V220, V235, V237
        
</span></p>
    	<p><span class="fonte"><strong>Nokia:</strong> 6126, 6131, 6133, 6233, 6234, 6265, 6267, 6270, 6275, 6280, 6282, 6288, 6300, 7370, 7373, 7390, 3120 Classic, 3600 Slide, 5000, 5220 XpressMusic, 5300 XpressMusic, 5310 XpressMusic, 5610 XpressMusic, 6131 NFC, 6212 Classic, 6263, 6265i, 6275i, 6300i, 6301, 6500 Classic, 6500 Slide, 6555, 6600 Fold, 6600 Slide, 7500 Prism, 7900 Prism, 8600 Luna, 8800 Arte, 5700 XpressMusic, 6110 Navigator, 6120 Classic, 6121 Classic, 6124 Classic, 6210 Navigator, 6220 Classic, 6290, E50, E51, E61, E61i, E62, E65, N71, N73, N75, N76, N77, N78, N81, N82, N92, N93, N93i, N95, N96, 3250, 5500, 6630, 6680, 6681, 6682, N70, N72, N91, 2610, 2626, 3220, 5070, 5140, 6020, 6030, 6060, 6061, 6070, 6080, 6101, 6102, 6103, 6230, 6822, 7260, 7360, 5140i, 6102i, 2630, 2660, 2760, 2600 Classic, 2855, 2865, 3155, 5200, 6085, 6086, 6111, 6125, 6136, 6151, 6155, 6165, 6170, 6235, 6255, 7270, 1680 Classic, 2680 Slide, 2865i, 3109 Classic, 3110 Classic, 3155i, 3500 Classic, 3555, 6155i, 6235i, 6230i, 8800 Sirocco Edition </span></p>
   	  <p><span class="fonte"><strong>Samsung:</strong> A706, D600, D800, D820, D830, D836 (Ultra 9), D840, D900, E840, E898, E900, G600, P520, P858, U600, U700, Z400, Z540, Z560, Z720, ZV50, C417, C420, E210, E250, E350, E370, J600, M610, T539, X540, X560, X650, X658, X678, F500, U100, U106 (Lean), X820, D500, D520, E490, E570, E740, E830, P260, T429, T729, X708, Z130, Z150</span></p>
    	<p><span class="fonte"><strong>Sony Ericsson</strong>: C702, C902, G502, G700, G900, K660, K770, K790, K800, K810, K818, K850, K858, M600, M608, P1, P900, P910, P990, S500, S700i, S710, T650, T658, W580, W760, W830, W850, W880, W888, W890, W898, W900, W908, W910, W950, W958, W960, W980, Z750, Z770, Z780, D750, K530, K550, K600, K608, K610, K618, K630, K700, K750, K758, V600, V630, V640, V800, V802SE, W350, W380, W550, W600, W610, W618, W660, W700, W710, W750, W800, W810, Z1010, Z550, Z555, Z558, Z610, Z710, Z800, F500, K300, K310, K320, K500, K510, T280, W200, W300, Z250, Z258, Z300, Z300, Z310, Z320, Z520, Z525, Z530 </span>
      </p>
    	<div align="right"><a href="#topo">:: topo ::</a><br>

   	  </div>
<%= render :partial => 'link_jogos' %>
<div align="center"><span class="fonte"><span class="fonte">&copy;1990 - 2008 Abril Radiodifus&atilde;o Ltda. Todos os direitos reservados.</span></span></div>
            </div>
 
