<%= render :partial => "destaque_java", :locals => {  :video => @video,
                                                      :video_file => "video_lux",
                                                      :flash_video => "../flash/video_lux.swf",
                                                      :tela => "../flash/tela_lux",
                                                      :name => "LUX - Gotas de Beleza",
                                                      :banner => "../banners/banner_lux.jpg" } %>

  <div class="divisaoconteudo"></div>
    
    <div class="conteudo" style="padding: 14px;">
      
      <p><span class="cabecalho">
   	    <a name="comocomprar"></a>
   	   	</span><div class="jogos" style="height:110px; margin-top:30px;_margin-top:60px; *margin-top:60px;">
	        <div class="nano" style="position:relative">
			</div>
		    <div class="bordaBox" style="padding-top:10px ; padding-left:10px ;padding-right:10px ; _padding-right:10px ;float:left; height:73px ; _width:410px; width:400px">
            <b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
            <div class="conteudobox" style="height:75px ; padding-top:2px">
               
			   <div style="float:left; width:375px; height:65px; font-size:18px; margin-left:7px; margin-top:-15px"> 
			     <p class="fonte" align="center" style="font-size:18px " >Acesse  através do seu celular <span class="style7"><strong>http://wap.nanogames.com.br</strong><br>
			     </span> para baixar o jogo gratuito.</p>
		       </div>
			   
		      </div>
            <b class="b4"></b><b class="b3"></b><b class="b2"></b><b class="b1"></b>
          </div> 
		
		       <div class="bordaBox" style="padding-top:10px ; float:left; _width:95px; width:98px;">
                    <b class="b1" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b4" style="background:#00353b"></b>
                     
					<div class="conteudobox" style="background:#00353b; padding-top:0px; padding-bottom:0px">
					
					  <div style="padding-left:2px ;padding-top:0px "><span class="valor" style="font-size:11px">Valor:</span><br>
					  <span class="valor">
					    R$ 0,00</span>
			          </div>
			   
                    </div>
					
                    <b class="b4" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b1"></b>
               
			   </div>
		  
		  <div class="bordaBox" style="padding-top:4px ; float:left; _width:95px; width:98px;">
                    <b class="b1" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b4" style="background:#00353b"></b>
                     
					<div class="conteudobox" style="background:#00353b; padding-top:0px; padding-bottom:0px">
					
					  <div>
					    <div align="center" style=" padding-right:2px;"><span class="valor" style="font-size:11px"><a href="#celulares">Aparelhos disponíveis</a></span>
				        </div>
					  </div>
			   
                    </div>
					
                    <b class="b4" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b1"></b>
               
	      </div>
		    
		</div>
		
		
		<div class="linhacomocomprar"></div>
		<div style="background:#004f59; height:40px ; margin-top:-15px">
		<div class="fonte" style="padding-left:10px "></div>
	  
	    <div class="linhabaixocomocomprar">
		</div>
		
		<div class="fonte" style="font-size:10px ; padding-left:10px; padding-right:10px;"> * O tráfego para download do conteúdo será cobrado de acordo com as tarifas da sua operadora. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
	
	    </div>
        <div align="right"><a href="#topo"><br>
        :: topo ::<br>
        </a>
            <br>
            <br>
      </div>
      <div class="rodape"> </div>
    	<p><span class="cabecalho">
        <a name="celulares"></a> :: aparelhos dispon&iacute;veis</span><br>
            <br>
      <span class="fonte"><strong>Benq-Siemens</strong>: E71, EF81, EL71, S82, SXG75, C65, C70, C72, C75, C81, CF75, CF76, CFX65, CL75, CV65, CX65, CX75, M65, M81, ME75, S65, S68, S75, SK65, SK6R, SL65, SL75</span> </p>
    	<p><span class="fonte"><strong>Blackberry</strong>: 8100 Pearl, 8110 Pearl, 8120 Pearl, 8130 Pearl, 8220 Pearl Flip, 8300 Curve, 8310 Curve, 8320 Curve, 8330 Curve, 8350i Curve, 8700c, 8700g, 8700r, 8703e, 8707g, 8800, 8820, 8830</span> </p>
    	<p><span class="fonte"><strong>Gradiente</strong>: GF-690, GF-930, GF-500</span></p>
    	<p><span class="fonte"><strong>HTC</strong>: MTeoR, P3301, P3400, P3450, P3470, P3600, P5500, P6300, S310, S411, S620, S621</span></p>
    	<p><span class="fonte"><strong>LG</strong>: KG800, ME500c, ME540c, ME550c, MG320c, MG540, MG800, MG810, MU500, P7200, U8290, KE970, KE990, KF300, KF510, KF600c, KF700, KF755, KM380, KM500, KM710, ME850c, ME970, ME970c, ME970d, MS20, MS25, KE500, KF240, KF245, ME770c, ME770d, KP130, KP202, KP210, KP215, C1100, C1150, C1200, C1500, C2000, C2500, C2600, C3100, C3300, G7100, MG100, MG105, MG125B, MG155c, MG185, MG200c, MG210, MG220, MG225d, MG230, MG235, MG280, MG295, MG296</span></p>
   	  <p><span class="fonte"><strong>Motorola</strong>: A630, A760, A845, C698p, C975, E1, E398, E550, E770, E790, E815, K1, K1m, L7, L72, L7i, L9, MPx220, U3, U6, V3, V300, V303, V360, V365, V3e, V3i, V3r, V3t, V400, V500, V525, V550, V551, V555, V557, V600, V635, V80, V975, V980, W490, W5, W510, W6, Z3, ZN200, A1000, A1200, A1200e, A1200eam, A1200i, A1200r, A1600, A780, A810, A910, A910i, E1000, E1070, E2, E6, E680i, E6e, E8, EM30, EM35, K3, K3m, Q 9h, U9, V3x, V3xx, V6, V8, V8 Luxury, V9, V9x, VA76r, VE20, VE538, VE66, W760r, Z10, Z6, Z6w, Z8, Z9, ZN5, A728, C380, C381, C385, C650, E365, EM25, EM325, L6, L6i, V180, V185, V186, V190, V191, V195, V220, V235, V237, W388, W396, W397</span></p>
    	<p><span class="fonte"><strong>Nokia</strong>: 3250, 5500, 6600, 6630, 6680, 6681, 6682, 8800 Sirocco Edition, N70, N72, N91, 2700 Classic, 3120 Classic, 3230, 3250, 3600 Slide, 3610 Fold, 5000, 5130 XpressMusic, 5220 XpressMusic, 5300 XpressMusic, 5310 XpressMusic, 5500, 5610 XpressMusic, 5630 XpressMusic, 5700 XpressMusic, 5800 XpressMusic, 6110 Navigator, 6120 Classic, 6121 Classic, 6124 Classic, 6126, 6131, 6131 NFC, 6133, 6208 Classic, 6210 Navigator, 6212 Classic, 6220 Classic, 6233, 6234, 6260, 6260 Slide, 6263, 6265, 6265i, 6267, 6270, 6275, 6275i, 6280, 6282, 6288, 6290, 6300, 6300i, 6301, 6303, 6500 Classic, 6500 Slide, 6555, 6600 Fold, 6600 Slide, 6620, 6670, 6700 Classic, 6710 Navigator, 6720 Classic, 7070 Prism, 7100 Supernova, 7210 Supernova, 7310 Supernova, 7370, 7373, 7390, 7500, 7510 Supernova, 7610, 7610 Supernova, 7900 Prism, 8600 Luna, 8800 Arte, 8800 Carbon Arte, 8800 Gold Arte, E50, E51, E55, E60, E61, E61i, E62, E63, E65, E66, E70, E71, E75, N71, N73, N75, N76, N77, N78, N79, N80, N81, N82, N85, N86 8MP, N90, N91, N92, N93, N93i, N95, N96, N96-3, N97,1680 Classic, 2323 Classic, 2330 Classic, 2600 Classic, 2610, 2630, 2660, 2680 Slide, 2760, 2855, 2865, 2865i, 3109 Classic, 3110 Classic, 3155, 3155i, 3500 Classic, 3555, 5070, 5200, 6030, 6060, 6061, 6070, 6080, 6085, 6086, 6101, 6102, 6111, 6125, 6136, 6151, 6155, 6155i, 6165, 6170, 6230i, 6235, 6235i, 6255, 7270, 7360, 2626, 3220, 5140, 5140i, 6020, 6102i, 6103, 6230, 6822, 7260, 8800, 8801</span></p>
    	<p><span class="fonte"><strong>Samsung</strong>: D500, D520, E390, E490, E500, E570, E740, E830, F500, P260, T429, T729, U100, U106, X700, X708, X820, Z130, Z150, Z220, Z230, Z240, Z300, Z310, C275, C400, C406, C417, C420L, C425, C506, C516, E210, E250, E256, E258, E350, E351, E370, E420, E428, E746, F210, F250, J600, J700, M610, T419, T539, X540, X560L, X620, X640, X650, X658, X670, X678, X680V, X810, X830, X836, A706, D600, D800, D820, D830, D836, D840, D880, D900, E840, E898, E900, F330, F480, F490, F700, G400, G600, I321, I617, I760, P310, P520, P858, U600, U700, U800, U900, U900L, V820L, Z400, Z540, Z560, Z710, Z720, ZV40, ZV50, i550, i560</span></p>
    	<p><span class="fonte"><strong>SonyEricsson</strong>: D750i, K530c, K530i, K550c, K550i, K550im, K600, K600i, K608, K608i, K610, K610c, K610i, K610im, K610iv, K618i, K630i, K700, K700c, K700i, K750c, K750i, K758c, V600, V630i, V640i, V640iv, V800, V802SE, W350iv, W380i, W550c, W550i, W600i, W610, W610i, W618, W660i, W660iv, W700, W700c, W700i, W710, W710c, W710i, W750, W800, W800c, W800i, W810, W810a, W810c, W810i, Z1010, Z550, Z550a, Z550c, Z550i, Z555, Z558i, Z610, Z610i, Z710, Z710c, Z710i, Z800, Z800c, Z800i,  C702, C702a, C702c, C902, C902c, C905, G502, G700, G900, K660i, K770i, K770iv, K790, K790a, K790c, K790i, K800c, K800i, K800iv, K810, K810c, K810i, K818, K850i, K858, M600c, M600i, M608, P1i, P900, P910a, P910c, P910i, P990, P990c, P990i, S500c, S500i, S700, S700i, S70c, S710, S710a, T650i, T658, W580, W580i, W580im, W760i, W830i, W850, W850i, W850v, W880, W880i, W880v, W888, W890, W890i, W898, W900i, W908c, W910, W910i, W910v, W950c, W950i, W958, W960i, W980, Z750a, Z750i, Z770, Z780, F500i, F508i, K300a, K300c, K300i, K310, K310a, K310c, K310i, K310iv, K320i, K500, K500c, K500i, K506c, K508c, K508i, K510, K510a, K510c, K510i, R300, R306, T280, T303, W200a, W200i, W200iv, W300c, W300i, Z250i, Z258, Z300, Z300a, Z300i, Z310a, Z310i, Z310iv, Z320i, Z500, Z500a, Z520, Z520a, Z520c, Z520i, Z525, Z525a, Z525c, Z525i, Z530, Z530c, Z530i</span><span class="fonte"><br>
        </span> </p>
    	<div align="right"><a href="#topo">:: topo ::</a><br>
   	      <br>
        <br>
   	  </div>
   	  <div class="rodape"></div>
   	  <p><br>
  

   	        <span class="cabecalho">
   	        <a name="dicas"></a> :: dicas e instru&ccedil;&otilde;es </span><br>
   	        <br>
            <span class="fonte"><strong>OBJETIVO</strong></span></p>
   	  <p><span class="fonte">Seu objetivo é encher a barra mostrada na tela:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><img src="../images/lux/barra.gif" width="153" height="19"></p>
   	  <p><span class="fonte"><IMG_1> Para isso, troque as frutas de lugar para formar sequências de 3 ou mais frutas do mesmo tipo na horizontal ou vertical.
A cada sequência feita, as frutas se liquefazem, a barra se enche e você ganha pontos! Você ainda ganha pontos extras a cada nova sequência que é feita automaticamente com as novas frutas que caem na tela.</span></p>
   	  <p><span class="fonte">É preciso ter agilidade, pois a barra se reduz com o passar do tempo. Ao encher a barra, você passa para o nível seguinte, que é mais difícil mas em compensação te dá mais pontos. Deixando a barra se esvaziar por completo, você perde uma vida. Você começa o jogo com 3 vidas, e ao perdê-las é fim de jogo pra você!
  
</span></p>
   	  <p><span class="fonte"><strong>FRUTAS ESPECIAIS</strong></span></p>
   	  <p><span class="fonte">  Fazendo uma sequência de 4 ou mais frutas do mesmo tipo, você ganha uma peça especial, que você pode reconhecer pelo seu brilho: &nbsp;&nbsp;&nbsp;</span><span class="fonte"><img src="../images/lux/brilho.gif" width="30" height="28"><IMG_0> </span></p>
   	  <p><span class="fonte">Ao fazer uma sequência com uma fruta especial, ela explode todas à sua volta, dando um grande bônus de pontos!</span></p>
   	  <p><span class="fonte"><strong>PONTUAÇÃO</strong></span></p>
   	  <p><span class="fonte">Uma sequência de 3 frutas vale 10 pontos, de 4 frutas vale 15, etc. Uma segunda sequência feita automaticamente com as peças que caem vale o dobro, depois o triplo e assim por diante.</span></p>
   	  <p><span class="fonte">Seu multiplicador de pontos aumenta a cada nível: uma sequência de 3 frutas vale 20 pontos no segundo nível, 50 no quinto nível e assim vai. Logo, quanto mais longe você chegar, mais pontos consegue ganhar!</span></p>
   	  <p><span class="fonte"><strong>DICAS</strong></span></p>
   	  <p><span class="fonte">Não está visualizando nenhuma jogada disponível? Após um tempo sem fazer jogadas, uma dica é mostrada:<img src="../images/lux/dica.gif" width="35" height="34"><IMG_2> </span></p>
   	  <p><span class="fonte">Fique de olho, pois a dica fica visível por pouco tempo!</span></p>
   	  <p><span class="fonte">Você pode pedir uma dica a qualquer hora, veja o texto de ajuda dos controles para saber mais.</span></p>
   	  <p><span class="fonte"><strong>CONTROLES:</strong></span></p>
   	  <p><span class="fonte"><strong> TECLADO</strong></span></p>
   	  <p><span class="fonte"> <strong>MOVENDO O CURSOR</strong>: utilize as setas direcionais ou as teclas 1, 2, 3, 4, 6, 7, 8 e 9</span></p>
   	  <p><span class="fonte"><strong>SELECIONANDO UMA FRUTA</strong>: aperte a tecla de seleção ou 5 na fruta desejada. Aperte a tecla novamente para desmarcá-la.</span></p>
   	  <p><span class="fonte"><strong>TROCANDO DUAS FRUTAS DE POSIÇÃO</strong>: após selecionar uma fruta, use as setas direcionais ou as teclas 2, 4, 6 e 8 para trocá-la de posição com uma vizinha.
                        

      </span></p>
   	  <p><span class="fonte"><strong>TOUCH SCREEN</strong></span></p>
   	  <p><span class="fonte">Se seu celular suportar touch screen, clique numa fruta para selecioná-la, e arraste-a na direção de um vizinho ou clique numa fruta vizinha para trocá-las de posição.
                            

      </span></p>
   	  <p><span class="fonte">Atenção: se a troca de peças não fizer nenhuma sequência de pelo menos 3 frutas do mesmo tipo na horizontal ou vertical, a jogada é desfeita! Mas não se preocupe, sempre há uma jogada disponível para você fazer!</span></p>
   	  <p><span class="fonte"><strong>DICAS</strong>: aperte a tecla # (jogo-da-velha), 0 (zero) ou * (asterisco) a qualquer momento para receber uma dica de jogada.
                                
</span></p>
   	  <p><span class="fonte">Se seu celular tiver touch screen, é só clicar no ícone da lâmpada mostrada na tela.</span></p>
   	  <p><span class="fonte">        Cuidado, pois pedir uma dica reduz um pouco o seu tempo restante!</span></p>
   	  <p><span class="fonte">Boa sorte! </span>
         <br>
              <br>
              <br>
              <br>
        <span class="fonte"><br>
                                                                                </span>                </p>
      </p>
   	  <div align="right"><a href="#topo">:: topo ::</a>
   	  
   	  </div>
   	  
   	  <%= render :partial => 'link_jogos' %>
   	  
   	  </div>
