<div class="conteudo">
  <h1>Notícias</h1>

  <div class="topico_destaque">
    <div class="linha">
      <p class="destaquetitulo">
        Biritômetro no RedeTV! News
      </p>
      
      <p class="destaquetitulo">
        &nbsp; 	          
      </p>
      
      <div class="coluna" style="width:240px;">
        <div align="left">
          <a href="../images/nano_interview.png" target="_blank">
            <img src="../images/nano_interview_mini.png" border="0">
          </a>
        </div>
      </div>

      <div class="coluna2" style="width:279px;">
        <div style="height:170px"></div>
          <div align="left">
            <span class="fonte">
              <a href="../images/nano_interview.png" target="_blank">
                Clique aqui
              </a>
                para acessar a mat&eacute;ria completa.
              </span>
            <br>
            <br>
          </div>
        </div>

        <div align="center">
          <p align="right" class="fonte">
            ....................................................................................................................................................................................................................<br>
            <span class="style2">
              Postado dia 06 de abril de 2009
            </span>
          </p>
        </div>
      </div>
    </div>

    <div class="topico_destaque">
      <div class="linha">

  <p class="destaquetitulo">Biritômetro no RedeTV! News</p>
  <p class="destaquetitulo">&nbsp; 	          </p>
  <div class="coluna" style="width:340px;">
  <div align="left">
  <object width="335" height="271">
  <param name="movie" value="http://www.youtube.com/v/RzPxKhzXHjE&hl=en&fs=1"></param>
  <param name="allowFullScreen" value="true"></param>
  <embed src="http://www.youtube.com/v/RzPxKhzXHjE&hl=en&fs=1" type="application/x-shockwave-flash" allowfullscreen="true" width="335" height="271"></embed>
  </object>
  </div>
  </div>


  <div class="coluna2" style="width:260px;">
  <div style="height:150px"></div>  
  <div align="left">
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  </div>

  </div>

  <div align="center">
  <p align="right" class="fonte">....................................................................................................................................................................................................................<br>
  <span class="style2">Postado dia 24 de setembro de 2008 </span></p>
  </div>
  </div>
  </div>

  <div class="topico_destaque">

  <div class="linha">

  <p class="destaquetitulo">&quot;Baf&ocirc;metros&quot; de bolso</p>
  <p class="destaquetitulo">&nbsp; 	          </p>
  <div class="coluna" style="width:160px;">
  <div align="center"><a href="../images/Biritometro_o_dia.jpg" target="_blank"><img src="../images/Biritometro_o_dia.gif" width="166" height="288" border="0"></a>
  </div>
  </div>


  <div class="coluna2" style="width:430px;">
  <div style="height:255px"></div>    
  <div align="left"><span class="fonte"><a href="../images/Biritometro_o_dia.jpg" target="_blank">Clique aqui</a> para acessar a mat&eacute;ria completa.</span><br>
  <br>

  </div>

  </div>

  <div align="center">
  <p align="right" class="fonte">....................................................................................................................................................................................................................<br>
  <span class="style2">Postado dia 13 de setembro de 2008 </span></p>
  </div>
  </div>
  </div>

  <div class="topico_destaque">

  <div class="linha">

  <p class="destaquetitulo"><span id="lblTitulo" class="titulo4">Biritômetro, o aplicativo mobile da Lei Seca.</span></p>
  <p class="destaquetitulo">&nbsp; 	          </p>
  <div class="coluna" style="width:165px;">
  <div align="center"><a href="javascript:;" onClick="MM_openBrWindow('../images/biritometro_09_09_08.jpg','teletimenews','scrollbars=yes,width=778')"><img src="../images/mobilepedia_09_09_2008.gif" width="166" height="179" border="0"></a> </div>
  </div>


  <div class="coluna2" style="width:430px;">
  <div align="left">
  <p><span class="fonte">Aproveitando toda a polêmica em torno da lei seca foi lançado o “Biritômetro”, um aplicativo mobile que pode ser considerado, no mínimo, oportuno. Com ele as pessoas podem ter uma idéia de quanto precisarão esperar até que o teor alcoólico de seus corpos atinja o limite permitido pela lei.</span></p>
  <p><span class="fonte"> No primeiro passo, o aplicativo solicita que o usuário forneça três informações: sexo, peso e o horário de “início da biritada”. A partir desse horário é montada uma planilha na qual o usuário deve informar qual foi a bebida consumida, a quantidade e em qual horário.
  </span></p>
  <p><span class="fonte">Com as bebidas devidamente cadastradas, o Biritômetro apresenta um gráfico que acompanha a evolução do nível de álcool no sangue do usuário ao longo do tempo. Se a linha do gráfico estiver na área verde significa que o teor alcoólico no seu sangue está dentro do permitido pela lei seca.
  </span></p>
  <p><span class="fonte">Por mais que o aplicativo seja baseado em estudos, logo em sua entrada os desenvolvedores fazem questão de alertar para o fato de que ele não substitui um bafômetro e não pode servir como prova científica. Porém, o Biritômetro serve, sim, para que os usuários possam se guiar sempre que forem tomar alguma bebida alcoólica.</span></p>
  <p><span class="fonte">Pedro Bombonatti</span>
  <br>
  </p>
  </div>

  </div>

  <div align="center">
  <p align="right" class="fonte">....................................................................................................................................................................................................................<br>
  <span class="style2">Postado dia 09 de agosto de 2008 </span></p>
  </div>
  </div>
  </div>

  <div class="topico_destaque">

  <div class="linha">

  <p class="destaquetitulo"><span id="lblTitulo" class="titulo4">Nano Games cria aplicativo que calcula nível de álcool no sangue</span></p>
  <p class="destaquetitulo">&nbsp; 	          </p>
  <div class="coluna" style="width:165px;">
  <div align="center"><a href="javascript:;" onClick="MM_openBrWindow('../images/teletime_news_set_2008.gif','teletimenews','scrollbars=yes,width=778')"><img src="../images/teletime_news_09_2008.gif" width="165" height="136" border="0"></a> </div>
  </div>


  <div class="coluna2" style="width:430px;">
  <div align="left">
  <p><span class="fonte">A Nano Games, empresa carioca que desenvolve games para celular, aproveitou o calor da discussão em torno da Lei Seca para criar um aplicativo para telefones móveis que calcula o nível de álcool no sangue. O "Biritômetro", como foi batizado, não chega a substituir um bafômetro e não deve servir como prova científica, mas pode ajudar os consumidores a terem uma idéia de quanto tempo precisarão esperar até que o álcool tenha sumido de seus corpos. O aplicativo solicita que o usuário forneça informações como sexo, peso e tipos de bebidas ingeridas durante a noite. É preciso informar também em que horário e em que quantidade cada bebida foi consumida. Munido desses dados, o Biritômetro apresenta um gráfico em que se projeta a evolução do nível de álcool no sangue do usuário ao longo do tempo. Por enquanto, o Biritômetro está à disposição para download apenas para usuários da Claro, mas será oferecido a outras operadoras em breve. </span></p>
  <p><span class="fonte">Fernando Paiva</span>
  <br>
  </p>
  </div>

  </div>

  <div align="center">
  <p align="right" class="fonte">....................................................................................................................................................................................................................<br>
  <span class="style2">Postado dia 05 de agosto de 2008 </span></p>
  </div>
  </div>
  </div>

  <div class="topico_destaque">

  <div class="linha">

  <p class="destaquetitulo">Potencial Local - Made in Brazil
  </p>
  <p class="destaquetitulo">&nbsp; 	          </p>
  <div class="coluna" style="width:150px;">
  <div align="center"><a href="../images/teletime_nanogames_jun_08_01.pdf" target="_blank"><img src="../images/materia_teletime.gif" width="150" height="207" border="0"></a>
  </div>
  </div>


  <div class="coluna2" style="width:430px;">
  <div style="height:188px"></div>    
  <div align="left"><span class="fonte"><a href="../images/teletime_nanogames_jun_08_01.pdf">Clique aqui</a> para acessar a mat&eacute;ria completa.</span><br>
  <br>

  </div>

  </div>

  <div align="center">
  <p align="right" class="fonte">....................................................................................................................................................................................................................<br>
  <span class="style2">Postado dia 12 de junho de 2008 </span></p>
  </div>
  </div>
  </div>

  <div class="topico_destaque">

  <div class="linha">

  <p class="destaquetitulo"><span id="lblTitulo" class="titulo4">Nano Games produzir&aacute; at&eacute; nove t&iacute;tulos este ano</span></p>
  <p class="destaquetitulo">&nbsp; 	          </p>
  <div class="coluna" style="width:165px;">
  <div align="center"><a href="javascript:;" onClick="MM_openBrWindow('../images/teletime_news_maio_2008.jpg','teletimenews','scrollbars=yes,width=778')"><img src="../images/teletime_news.gif" width="165" height="240" border="0"></a> </div>
  </div>


  <div class="coluna2" style="width:430px;">
  <div align="left">
  <span class="fonte">Enquanto gigantes do mundo de games aportam no Brasil, uma pequena empresa nacional tenta cavar seu espaço nesse competitivo mercado: trata-se da carioca Nano Games, fundada há um ano e meio por dois ex-funcionários da Wiz, Eduardo Rosa e Peter Hansen. Com apenas oito funcionários, incluindo os dois sócios, a Nano conseguiu o que talvez fosse o mais difícil: fechar parcerias com importantes marcas. A empresa já desenvolveu um jogo para o canal infantil Nickelodeon, com o personagem Bob Esponja, e outro para a MTV, com os personagens do programa humorístico Hermes e Renato. A meta para este ano é lançar entre sete e nove novos títulos. Três deles estão prestes a sair do forno e repetem as parcerias de sucesso: dois são com marcas da MTV e um é da Nickelodeon.
  A competição com gigantes estrangeiros não assusta os sócios da Nano. "A chegada dessas grandes empresas é um sinal de que o cenário é bom para esse segmento no Brasil", comenta Rosa.

  </span>
  <p><span class="fonte"><strong>Modelo de negócios</strong></span></p>
  <p><span class="fonte">Ao contrário dos desenvolvedores internacionais que compram a licença para uso de marcas populares e negociam diretamente com as operadoras, a Nano optou por outro modelo de negócios. A empresa arca com os custos de desenvolvimento e divide com os detentores das marcas a receita oriunda dos downloads. Outra diferença: a negociação com as operadoras fica a cargo dos donos das marcas. A Nano se limita a cuidar do desenvolvimento dos games e dos ajustes técnicos. A empresa não abre por enquanto a sua quantidade mensal de downloads.</span><br>
  <br>
  <span class="fonte">Fernando Paiva</span> <br>
  </p>
  </div>

  </div>

  <div align="center">
  <p align="right" class="fonte">....................................................................................................................................................................................................................<br>
  <span class="style2">Postado dia 12 de maio de 2008 </span></p>
  </div>
  </div>
  </div>


  <div class="topico_destaque">

  <div class="linha">

  <p class="destaquetitulo">Desenvolvimento de jogos para celular
  </p>
  <p class="destaquetitulo">&nbsp; 	          </p>
  <div class="coluna" style="width:340px;">
  <div align="left">
  <object width="335" height="271">
  <param name="movie" value="http://www.youtube.com/v/FnOtSl62LvY&hl=en&fs=1&rel=0">
  <param name="allowFullScreen" value="true">
  <embed src="http://www.youtube.com/v/FnOtSl62LvY&hl=en&fs=1&rel=0" type="application/x-shockwave-flash" allowfullscreen="true" width="335" height="271"></embed>
  </object>
  </div>
  </div>


  <div class="coluna2" style="width:260px;">
  <div style="height:150px"></div>  
  <div align="left"><span class="fonte"> Um trabalho super interessante e pioneiro. Desenvolvimento de jogos para celular foi o assunto de uma reportagem exibida no programa MultiRio, da Band, no dia 16 de julho de 2008. Foi feita a apresentação da empresa, mostrando também as fases que compõem o processo de criação, desenvolvimento e porte dos jogos.<br>
  </span><br>
  <br>

  </div>

  </div>

  <div align="center">
  <p align="right" class="fonte">....................................................................................................................................................................................................................<br>
  <span class="style2">Postado dia 17 de julho de 2008 </span></p>
  </div>
  </div>
  </div>


  <div align="right"><a href="#topo">:: Topo ::</a></div>
  <br>
      
  <%= render :partial => "link_jogos" %>
</div>
