<%= render :partial => "destaque_java", :locals => {  :video => @video,
                                                      :video_file => "video_seda_puzzle",
                                                      :flash_video => "../flash/video_seda_puzzle.swf",
                                                      :tela => "../flash/tela_seda",
                                                      :name => "Seda Puzzle",
                                                      :banner => "../banners/banner_seda_puzzle.png" } %>

  <div class="divisaoconteudo"></div>
    <div class="conteudo" style="padding: 14px;"><br>
	
	
   	        <a name="dicas"></a><span class="cabecalho"> :: dicas e instru&ccedil;&otilde;es </span><br>
   	        <br>
      <span class="fonte">No Seda Puzzle, seu objetivo &eacute; reconstruir o quebra-cabe&ccedil;a do cabelo mostrado na tela. <br>
<br>
Pra fazer isso, atinja as pe&ccedil;as que aparecem na tela, de acordo com o formato da mira. <br>
<br>
Voc&ecirc; passa de n&iacute;vel ao completar o quebra-cabe&ccedil;a, e perde o jogo caso seu tempo se esgote. Lembre-se que errar tiros faz seu tempo acabar mais r&aacute;pido! <br>
<br>
Atinja v&aacute;rias pe&ccedil;as certas num curto espa&ccedil;o de tempo pra aumentar seu multiplicador de pontos e chegar mais r&aacute;pido ao topo do ranking. <br>
<br>
Cada vez que seu combo chegar a 10x, 20x ou 30x, aparece na tela uma pe&ccedil;a b&ocirc;nus. Atinja o s&iacute;mbolo para eliminar todas as pe&ccedil;as da tela, com direito a um super b&ocirc;nus de pontos! <br>
<br> 
<strong>CONTROLES</strong>O<br>
<br>
<strong>Teclado:</strong> <br>
<br>
- Mover a mira: use as setas direcionais ou as teclas 1, 2, 3, 4, 6, 7, 8 e 9. <br>

- Atirar: aperte o bot&atilde;o de sele&ccedil;&atilde;o ou a tecla 5. <br>
<br>
<strong>Touch Screen: </strong><br>
<br>
- Arraste a mira para mov&ecirc;-la, e clique para atirar. <br/><br/><br/><br/>
	  </span>
   	    <div align="right"><a href="#topo">:: topo ::</a></div>
   	    <br>
		<div class="rodape"> </div>
		<br>
    
	
  <a name="comocomprar"></a>
  
	    </span><div class="jogos" style="height:110px; margin-top:30px;_margin-top:60px; *margin-top:60px;">
		     <div class="nano" style="position:relative">
			</div>
		    <div class="bordaBox" style="padding-top:10px ; padding-left:10px ;padding-right:10px ; _padding-right:10px ;float:left; height:73px ; _width:410px; width:400px">
            <b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
            <div class="conteudobox" style="height:75px ; padding-top:2px">
               
			   <div style="float:left; width:375px; height:65px; font-size:18px; margin-left:7px; margin-top:-15px"> 
			     <p class="fonte" align="center" style="font-size:18px " >Acesse  através do seu celular <span class="style7"><strong>http://game.reconstrucaoem10dias.com.br</strong><br>
			     </span> para baixar o jogo gratuito.</p>
		       </div>
			   
		      </div>
            <b class="b4"></b><b class="b3"></b><b class="b2"></b><b class="b1"></b>
          </div> 
		
		       <div class="bordaBox" style="padding-top:10px ; float:left; _width:95px; width:98px;">
                    <b class="b1" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b4" style="background:#00353b"></b>
                     
					<div class="conteudobox" style="background:#00353b; padding-top:0px; padding-bottom:0px">
					
					  <div style="padding-left:2px ;padding-top:0px "><span class="valor" style="font-size:11px">Valor:</span><br>
					  <span class="valor">
					    R$ 0,00</span>
			          </div>
			   
                    </div>
					
                    <b class="b4" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b1"></b>
               
			   </div>
		  
		  <div class="bordaBox" style="padding-top:4px ; float:left; _width:95px; width:98px;">
                    <b class="b1" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b4" style="background:#00353b"></b>
                     
					<div class="conteudobox" style="background:#00353b; padding-top:0px; padding-bottom:0px">
					
					  <div>
					    <div align="center" style=" padding-right:2px;"><span class="valor" style="font-size:11px"><a href="#celulares">Aparelhos disponíveis</a></span>
				        </div>
					  </div>
			   
                    </div>
					
                    <b class="b4" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b1"></b>
               
	      </div>
		    
		</div>
		
		
		<div class="linhacomocomprar"></div>
		<div style="background:#004f59; height:118px ; margin-top:-15px">
		<div class="fonte" style="padding-left:10px ">
		  <p><strong>Você também pode baixar visitando o portal Claro Idéias através do seu celular.</strong></p>
		  <p><strong>Ou ainda, acessando o site Claro Idéias: <a href="http://www.claroideias.com.br/" target="_blank">www.claroideias.com.br</a>, selecionando a opção " Claro Jogos " 
    no menu à esquerda, e depois " Jogo Download ". Ap&oacute;s escolher o modelo de seu aparelho selecione a categoria &quot;Gratuitos&quot; no menu &agrave; direita e clique em baixar.</strong></p>
	    </div>
	  
	    <div class="linhabaixocomocomprar">
		</div>
		
		<div class="fonte" style="font-size:10px ; padding-left:10px; padding-right:10px;"> * O tráfego para download do conteúdo será cobrado de acordo com as tarifas da sua operadora. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;© Claro 2008</div>
	
	    </div>
  		<br>
        <div align="right"><a href="#topo"><br>
        :: topo ::<br>
        </a>
            <br>
            <br>
      </div>
      <div class="rodape"> </div>
    	<p><span class="cabecalho">
        <a name="celulares"></a> :: aparelhos dispon&iacute;veis</span><br>
            <br>
      <p class="fonte"><strong>Benq-Siemens</strong>: C65, C70, C72, C75, C81, CF75, CF76, CFX65, CL75, CV65, CX65, CX75, E71, EF81, EL71, M65, M81, ME75, S65, S68, S75, S82, SK65, SK6R, SL65, SL75, SXG75</p>
      <p class="fonte"><strong>Blackberry</strong>: 8100 Pearl, 8110 Pearl, 8120 Pearl, 8130 Pearl, 8220 Pearl Flip, 8300 Curve, 8310 Curve, 8320 Curve, 8330 Curve, 8350i Curve, 8700c, 8700g, 8700r, 8703e, 8707g, 8800, 8820, 8830, 8900 Curve, 9000 Bold, 9530 Storm</p>
        <p class="fonte"><strong>Gradiente:</strong> GF-930</p>
        <p class="fonte"><strong>HTC</strong>: MTeoR, P3301, P3400, P3450, P3470, P3600, P5500, P6300, S310, S411, S620, S621</p>
        <p class="fonte"><strong>LG:</strong> KE500, KE970, KE990, KF240, KF245, KF300, KF510, KF600c, KF700, KF755, KG800, KM380, KM500, KM710, KP130, KP202, KP210, KP215, ME500c, ME540c, ME550c, ME770c, ME770d, ME850c, ME970, ME970c, ME970d, MG320c, MG540, MG800, MG810, MS20, MS25, MU500, P7200, U8290</p>
      <p class="fonte"><strong>Motorola:</strong> A1000, A1200, A1200e, A1200eam, A1200i, A1200r, A1600, A630, A728, A760, A780, A810, A845, A910, A910i, C380, C381, C385, C650, C698p, C975, E1, E1000, E1070, E2, E365, E398, E550, E6, E680i, E6e, E770, E790, E8, E815, EM25, EM30, EM325, EM35, K1, K1m, K3, K3m, L6, L6i, L7, L72, L7i, L9, MPx220, Q 9h, U3, U6, U9, V180, V185, V186, V190, V191, V195, V220, V235, V237, V3, V300, V303, V360, V365, V3e, V3i, V3r, V3t, V3x, V3xx, V400, V500, V525, V550, V551, V555, V557, V6, V600, V635, V8, V8 Luxury, V80, V9, V975, V980, V9x, VA76r, VE20, VE538, VE66, W388, W396, W397, W490, W5, W510, W6, W760r, Z10, Z3, Z6, Z6w, Z8, Z9, ZN200, ZN5</p>
        <p class="fonte"><strong>Nokia:</strong> 1680 Classic, 2323 Classic, 2330 Classic, 2600 Classic, 2610, 2630, 2660, 2680 Slide, 2700 Classic, 2760, 2855, 2865, 2865i, 3109 Classic, 3110 Classic, 3120 Classic, 3155, 3155i, 3250, 3500 Classic, 3555, 3600 Slide, 3610 Fold, 5000, 5070, 5130 XpressMusic, 5200, 5220 XpressMusic, 5300 XpressMusic, 5310 XpressMusic, 5500, 5610 XpressMusic, 5630 XpressMusic, 5700 XpressMusic, 5800 XpressMusic, 6030, 6060, 6061, 6070, 6080, 6085, 6086, 6101, 6102, 6110 Navigator, 6111, 6120 Classic, 6121 Classic, 6124 Classic, 6125, 6126, 6131, 6131 NFC, 6133, 6136, 6151, 6155, 6155i, 6165, 6170, 6208 Classic, 6210 Navigator, 6212 Classic, 6220 Classic, 6230i, 6233, 6234, 6235, 6235i, 6255, 6260 Slide, 6263, 6265, 6265i, 6267, 6270, 6275, 6275i, 6280, 6282, 6288, 6290, 6300, 6300i, 6301, 6303, 6500 Classic, 6500 Slide, 6555, 6600, 6600 Fold, 6600 Slide, 6630, 6680, 6681, 6682, 6700 Classic, 6710 Navigator, 6720 Classic, 7070 Prism, 7100 Supernova, 7210 Supernova, 7270, 7310 Supernova, 7360, 7370, 7373, 7390, 7500, 7510 Supernova, 7610 Supernova, 7900 Prism, 8600 Luna, 8800 Arte, 8800 Carbon Arte, 8800 Gold Arte, 8800 Sirocco Edition, E50, E51, E55, E60, E61, E61i, E62, E63, E65, E66, E70, E71, E75, N70, N71, N72, N73, N75, N76, N77, N78, N79, N80, N81, N82, N85, N86 8MP, N90, N91, N92, N93, N93i, N95, N96, N96-3, N97</p>
        <p class="fonte"> <strong>Samsung:</strong> A706, C275, C400, C406, C417, C420L, C425, C506, C516, D500, D520, D600, D800, D820, D830, D836, D840, D880, D900, E210, E250, E256, E258, E350, E351, E370, E390, E420, E428, E490, E500, E570, E740, E746, E830, E840, E898, E900, F210, F250, F330, F480, F490, F500, F700, G400, G600, I321, I617, I760, J600, J700, M610, P260, P310, P520, P858, T419, T429, T539, T729, U100, U106, U600, U700, U800, U900, U900L, V820L, X540, X560L, X620, X640, X650, X658, X670, X678, X680V, X700, X708, X810, X820, X830, X836, Z130, Z150, Z220, Z230, Z240, Z300, Z310, Z400, Z540, Z560, Z710, Z720, ZV40, ZV50, i550, i560</p>
        <p class="fonte"><strong>SonyEricsson:</strong> C702, C702a, C702c, C902, C902c, C905, D750i, F500i, F508i, G502, G700, G900, K300a, K300c, K300i, K310, K310a, K310c, K310i, K310iv, K320i, K500, K500c, K500i, K506c, K508c, K508i, K510, K510a, K510c, K510i, K530c, K530i, K550c, K550i, K550im, K600, K600i, K608, K608i, K610, K610c, K610i, K610im, K610iv, K618i, K630i, K660i, K700, K700c, K700i, K750c, K750i, K758c, K770i, K770iv, K790, K790a, K790c, K790i, K800c, K800i, K800iv, K810, K810c, K810i, K818, K850i, K858, M600c, M600i, M608, P1i, P900, P910a, P910c, P910i, P990, P990c, P990i, R300, R306, S500c, S500i, S700, S700i, S70c, S710, S710a, T280, T303, T650i, T658, V600, V630i, V640i, V640iv, V800, V802SE, W200a, W200i, W200iv, W300c, W300i, W350iv, W380i, W550c, W550i, W580, W580i, W580im, W600i, W610, W610i, W618, W660i, W660iv, W700, W700c, W700i, W710, W710c, W710i, W750, W760i, W800, W800c, W800i, W810, W810a, W810c, W810i, W830i, W850, W850i, W850v, W880, W880i, W880v, W888, W890, W890i, W898, W900i, W908c, W910, W910i, W910v, W950c, W950i, W958, W960i, W980, Z1010, Z250i, Z258, Z300, Z300a, Z300i, Z310a, Z310i, Z310iv, Z320i, Z500, Z500a, Z520, Z520a, Z520c, Z520i, Z525, Z525a, Z525c, Z525i, Z530, Z530c, Z530i, Z550, Z550a, Z550c, Z550i, Z555, Z558i, Z610, Z610i, Z710, Z710c, Z710i, Z750a, Z750i, Z770, Z780, Z800, Z800c, Z800i</p>
        <div align="right"><span class="fonte"><a href="#topo"></a></span><span><a href="#topo">:: topo ::</a><br>
        <br>
        <br>
 	      </span>
 	      <%= render :partial => 'link_jogos' %>
 	      </div>
