<div class="conteudo">
  <h1>Entre em contato com a Nano Games</h1>
  <br />

  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <% unless @contact_errors.empty? %>
    <div class="errors" id="errors">
    <p>Corrija os erros abaixo e envie novamente:
    <% @contact_errors.each do |error| %>
      <li><%= h error %></li>
    <% end %></p>
    </div>
  <% end %>

  <% form_tag(:controller => "static", :action => "web_contact") do %>
    <div class="linha" style="height: 35px;">
      <div class="coluna" style="width:100px;">
        <div align="right">
          <%= label_tag :name, "Name:", :class => 'fonte' -%>
        </div>
      </div>
      
      <div class="coluna" style="width:400px;"> 
        <div align="left"> 
          <%= text_field_tag :name, params[ :name ], :size => 40 %>
        </div>
      </div>
    </div>

    <div class="linha" style="height: 35px;">
      <div class="coluna" style="width:100px;">
        <div align="right">
          <%= label_tag :email, "E-mail:", :class => 'fonte' -%>
        </div> 
      </div>
      <div class="coluna" style="width:400px;"> 
        <div align="left"> 
          <%= text_field_tag :email, params[ :email ], :size => 30 %> 
        </div>
      </div>
    </div>

    <div class="linha" style="height: 35px;">
      <div class="coluna" style="width:100px;">
        <div align="right">
          <%= label_tag :phone, "Phone:", :class => 'fonte' -%>
        </div> 
      </div>
      
      <div class="coluna" style="width:400px;"> 
        <div align="left"> 
          <%= text_field_tag :ddd, params[ :ddd ], :size => 2 %>
          <%= text_field_tag :phone, params[ :phone ], :size => 16 %>
        </div>
      </div>
    </div>  
        
    <div class="linha">
      <div class="coluna" style="width:100px;">
        <div align="right">
          <%= label_tag :comments, "Comments:", :class => 'fonte' -%>
        </div>
      </div>

      <div class="coluna" style="width:400px;"> 
        <div align="left">
          <%= text_area_tag :comments, params[ :comments ], :size => "40x6" %>
        </div>
      </div>
    </div>

    <div class="linha">
      <div class="coluna" style="width:100px;">
        &nbsp;&nbsp;
      </div>
      
      <div class="coluna" style="width:400px;"> 
        <div align="left"><br />
          <%= submit_tag 'Enviar' %>
        </div>
      </div>
    </div>

  <% end -%>

  <%= render :partial => "link_jogos" %>
</div>
