<%
  if ( @app_versions.empty? )
%>
<br/>No app versions found in database.<br/>
<%
  else
   for app_version in @app_versions
%>
  <div>
	<%= check_box_tag "submission[app_version_ids][]", app_version.id, @submission.app_versions.include?( app_version ) %>
	<%= h app_version.app_version_number %>
  </div>
<%
	end
  end 
%>