<%= javascript_include_tag :defaults %>

<h1>Editing submission</h1>

<%= form_for(@submission) do |f| %>
  <%= f.error_messages %>

  <p>
	App versions:
	<%= render( :partial => 'app_versions' ) %>
  </p>
  
  <p>
    <%= f.label :integrator_id %><br />
    <%= 
	  integrators = Integrator.find( :all, :order => "name" )
	  f.collection_select( :integrator_id, integrators, :id, :name )
    %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @submission %> |
<%= link_to 'Back', submissions_path %>
