<div>
  <table id="table" border="1" >
		<thead>
			<tr>
			  <th>Id</th>
			  <th>Integrator</th>
			  <th>Creation date</th>
			  <th># Devices</th>
				<th colspan="5"></th>
			</tr>
		</thead>

		<tbody>
			<% for submission in @submissions %>
			<tr valign="top" >

			  <td><%=h submission.id %></td>
			  <td><%=h submission.integrator.name %></td>
			  <td><%=h submission.created_at %></td>
			  <td><%=h submission.devices.length %></td>

			  <td><%= link_to 'Show', submission %></td>
			  <td><%= link_to 'Edit', edit_submission_path(submission) %></td>
			  <td><%= link_to 'Generate files', :controller => 'submissions', :action => 'generate', :id => submission %></td>
			  <td><%= link_to 'Download files', :controller => 'submissions', :action => 'show', :id => submission, :format => 'zip' %></td>
			  <td><%= link_to 'Destroy', submission, :confirm => "Remove submission " + submission.id.to_s + '?', :method => :delete %></td>
			</tr>
		  <% end %>
		</tbody>
  </table>
 <br />
</div>

<%= paginate @submissions %>

<br />
<%= link_to 'Add submission', new_submission_path %>