<h1>New submission</h1>

<%= form_for(@submission) do |f| %>
  <%= f.error_messages %>

  <p>
	App versions:
	<%
	  app_versions = AppVersion.find( :all, :order => 'app_id, number' )
	  if ( app_versions.empty? )
	%>
	<br/>No app versions found in database.<br/>
	<%
	  else
	   for app_version in app_versions
	%>
	  <div>
		<%= check_box_tag "submission[app_version_ids][]", app_version.id, @submission.app_versions.include?( app_version ) %>
		<%= h app_version.app_version_number %>
	  </div>
	<%
		end
	  end 
	%>
  </p>
  <p>
    <%= f.label :integrator_id %><br />
    <%= 
	  integrators = Integrator.find( :all, :order => "name" )
	  f.collection_select( :integrator_id, integrators, :id, :name )
    %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', submissions_path %>