<h1>Editing ad_piece_version</h1>

<% form_for(@ad_piece_version) do |f| %>
  <%= f.error_messages %>
<table class="form">
  <tr>
	<td class="text"><%= f.label :title %></td>
	<td><%= f.text_field :title %></td>
  </tr>
  <tr>
	<td class="text"><%= f.label :ad_piece %></td>
	<td><%= f.collection_select(:ad_piece_id, @ad_pieces, :id, :title, :prompt => "Ad Piece") %></td>
  </tr>
  <tr>
	<td class="text"><%= f.label :ad_channel_version %></td>
	<td><%= f.collection_select(:ad_channel_version_id, @ad_channel_versions, :id, :id, :prompt => "Ad Channel Version") %></td>
  </tr>
  <% #TODO ao trocar a versão do canal, atualizar o combo de opções de recursos %>

  <tr>
	Resources:
	<%
	if ( @resources.length <= 0 )
	%>
	  No resources found in database.
	<%
	else
	  for resource in @resources
	  %>
		<div>
		  <%= check_box_tag "ad_piece_version[resource_ids][]", resource.id, @ad_piece_version.resources.include?( resource ) %>
		  <%= h resource.title %>
		</div>
	  <%
	  end
	end
  %>
  </tr>

  <p>
	<%= f.submit "Update" %>
  </p>
  </table>
<% end %>

<%= link_to 'Show', @ad_piece_version %> |
<%= link_to 'Back', ad_piece_versions_path %>
