<% @title = "Ad Piece Versions" %>

<table id="table" border="1">
  <thead>
	  <tr>
	    <th>Id</th>
	    <th>Ad piece</th>
	    <th>Ad channel version</th>
	    <th>Title</th>
	    <th>Resources</th>
		  <th colspan="3"></th>
	  </tr>
  </thead>

  <tbody>
    <% for ad_piece_version in @ad_piece_versions %>
      <tr valign="top" >
	    <td><%=h ad_piece_version.id %></td>
	    <td><%=h ad_piece_version.ad_piece.title %></td>
	    <td><%=h ad_piece_version.ad_channel_version.title %></td>
	    <td><%=h ad_piece_version.title %></td>
	    <td>
	      <% for resource in ad_piece_version.resources do %>
	        <%= resource.title %><br />
	      <% end %>
	    </td>
	
        <td><%= link_to 'Show', ad_piece_version %></td>
        <td><%= link_to 'Edit', edit_ad_piece_version_path(ad_piece_version) %></td>
        <td><%= link_to 'Destroy', ad_piece_version, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="pager" class="pager">
	<form>
		<img class="first" src="images/icons/first.png"/>
		<img class="prev" src="images/icons/prev.png"/>
		<input class="pagedisplay" type="text"/>
		<img class="next" src="images/icons/next.png"/>
		<img class="last" src="images/icons/last.png"/>

		<select class="pagesize">
			<option value="15" selected="selected">15</option>
			<option value="30">30</option>
			<option value="50">50</option>
			<option value="100">100</option>
		</select>
	</form>
</div>
<br />
<br />

<br/>

<%= link_to 'New Ad Piece Version', new_ad_piece_version_path %>

<script type="text/javascript">
	jQuery(document).ready(function() { 
	    jQuery("#table") 
		    .tablesorter({sortColumn: '#app', dateFormat: 'mm/dd/yyyy', widgets: ['zebra']}) 
		    .tablesorterPager({container: jQuery("#pager")}); 

	});
</script>
