<% @title = "New Ad Piece version" %>
<% form_for(@ad_piece_version) do |f| %>
  <%= f.error_messages %>
	<table class="form">
		<tr>
			<td class="text"><%= f.label :title %></td>
			<td><%= f.text_field :title %></td>
		</tr>
		<tr>
			<td class="text"><%= f.label :ad_piece %></td>
			<td><%= f.collection_select(:ad_piece_id, @ad_pieces, :id, :title, :prompt => "Ad Piece") %></td>
		</tr>
		<tr>
			<td class="text"><%= f.label :ad_channel_version %></td>
			<td><%= f.collection_select(:ad_channel_version_id, @ad_channel_versions, :id, :title_full, :prompt => "Ad Channel Version") %></td>
		</tr>
<% #TODO ao trocar a versão do canal, atualizar o combo de opções de recursos %>

  <tr>
	Resources:
	<%
	  if ( @resources.length <= 0 )
	%>
	No resources found in database.
	<%
	  else
	   for resource in @resources
	%>
	  <div>
		<%= check_box_tag "ad_piece_version[resource_ids][]", resource.id, @ad_piece_version.resources.include?( resource ) %>
		<%= h resource.title %>
	  </div>
	<%
		end
	  end
	%>
  </tr>

		<tr>
			<td class="submit" colspan="2"><%= f.submit "Create" %></td>
		</tr>
	</table>
<% end %>

<%= link_to 'Back', ad_piece_versions_path %>
