<!--
fazer conversão de moeda com
http://www.google.com/finance/converter?from=USD&to=BRL&a=1
http://www.webservicex.net/WS/WSDetails.aspx?CATID=2&WSID=10
https://www.x.com/devzone/articles/utilizing-paypals-currency-conversion-api-for-fun-and-profit
-->

<%= form_tag('/payments/execute')  do %>
    <input type="hidden" value="pague_seguro" />
    
    <% @granas.each { |x|     %>
    <input type="radio" name="pack_credit" value="<%= x.id %>" /> <%= x.price %> - <%= x.value %> - <br>
    <% } %>
    <input type="submit"  value="Enviar" />
<% end %>






