<p><%= I18n.t(:hello) %> <%= @resource.email %>!</p>

<p><%= I18n.t(:your_account_is_locked) %></p>

<p><%= I18n.t(:link_to_unlock) %></p>

<p><%= link_to I18n.t(:unlock_account), unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
