<h1><%= h "Editing device bug \##{ @device_bug }" %></h1>

<% form_for(@device_bug) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :size => '40x3' %>
  </p>
  <p>
    <%= f.label :workaround %><br />
    <%= f.text_area :workaround, :size => '40x3' %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', device_bugs_path %>
