<div id="product-list">
  
  <h1>Device bugs list</h1>

  <table cellpadding="5" cellspacing="0" >
	<tr>
	  <th>Id</th>
	  <th>Name</th>
	  <th>Description</th>
	  <th>Workaround</th>
	</tr>

  <% for device_bug in @device_bugs%>
	<tr valign="top" class="<%=cycle('list-line-odd', 'list-line-even' ) %>" >
	
	  <td class="list-title" ><%=h device_bug.id %></td>
	  <td class="list-title" ><%=h device_bug.name %></td>
	  <td class="list-title" ><%=h device_bug.description %></td>
	  <td class="list-title" ><%=h device_bug.workaround %></td>
	  
	  <td class="list-actions" ><%= link_to 'Edit', edit_device_bug_path(device_bug) %></td>
	  <td class="list-actions" ><%= link_to 'Destroy', device_bug, :confirm => "Remove device bug \#" + device_bug.id + '?', :method => :delete %></td>
	</tr>
  <% end %>
  </table>

  <br />

</div>

<%= paginating_links( @device_bugs ) %><br/><br/>

<%= link_to 'Add device bug', new_device_bug_path %>
