<%= content_for :head, stylesheet_link_tag('tablet/home') %>
<%= content_for :head, javascript_include_tag('home') %>
<%= content_for :title, "Favela Store" %>
<%= flash[:notice] if flash[:notice] %>

<%= hidden_field_tag :env, Rails.env %>

<% count = 0 %>
<% image_list = "" %>

<div class="titleArea">
  <div class="showcase">
    <div id="frame">
      <% @highlights.each_with_index do |highlight, index| %>
        <% image_control  = "img0#{(index + 1).to_s}" %>
        <% if highlight.big_image %>
          <% image_list     += "{'control':'#{image_control}', 'src':'#{highlight.big_image['url'][9..-1]}', 'for':'high'}," %>
        <% end %>
        <a href="<%= highlight.link %>"><img id="<%= image_control %>" width="673" height="300"/></a>
      <% end %>
    </div>

    <div class="control">
      <div class="therm"></div>
      <nav>
        <ul>
          <li class="active">1</li>
          <li>2</li>
          <li>3</li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<div class="productsList">
  <ul class="catalog">
    <% @products.each do |product| %>
      <%
          count         = count + 1
      image_control = "image#{count.inspect}"
      content_price = number_to_currency(product.price)
      image_list += "{'control':'#{image_control}', 'src':'#{product.thumb}'},"

      if product.price_discounted
        content_price = "<span>De: #{product.price} G</span> Por: #{product.price_discounted} G".html_safe

        if product.discount_term == "1"
          discount_sale = "<span class=\"stripeSale\">#{product.discount_term}% de desconto</span>".html_safe
        else
          discount_sale = "<span class=\"stripeSale\">Promoção</span>".html_safe
        end
      end
    %>

  <%= content_tag :li do %>
    <div class="imgWrapper">
      <img id='<%= image_control %>'>
      <%= discount_sale %>
    </div>

    <%= content_tag :div, class: 'productInfo' do %>
      <%= content_tag :p, product.name %>
      <%= content_tag :p, content_price, class: 'price' %>
      <%= link_to 'Ver detalhes', product, class: 'buttonLightBlue' %>
    <% end %>
  <% end %>
<% end %>

<script language="javascript">
  $(function () {
    nano.httpImg.server = $('#env').val() == 'production' ? 'http://products.staging.nanostudio.com.br/' : "http://localhost:9393/";
    nano.httpImg.load([<%= image_list[0..-2] %>]);
  });
</script>
  </ul>
</div>
