<div>
	<% form_tag(:action => "index") do %>
		<table class="form">
			<tr>
				<td class="text"><%= label_tag ( :begin, "De: " ) %></td>
				<td><%= date_select ( "range", "start", :default => @first_date ) %></td>
				<td class="text"><%= label_tag ( :end, "Até: " ) %></td>
				<td><%= date_select ( "range", "end", :default => @last_date ) %><br/></td>
			</tr>
			<tr>
				<td class="text"><%= label_tag ( :country, "Country: " ) %></td>
				<td><%= select_tag "countries[]", options_for_select(@countries), { :multiple => true, :size =>8} %></td>
				<td class="text"><%= label_tag ( :app, "App: " ) %></td>
				<td><%= select_tag "apps[]", options_for_select(@apps), { :multiple => true, :size =>8} %></td>
			</tr>
			<tr>
				<td class="submit" colspan="4"><%= submit_tag "Submit".t %></td>
			</tr>
		</table>
		
	<% end -%>
</div>

<% if session_user.user_role.name == "Administrator" %>
	<p>
		<div class="table_form">
			<% form_tag({:action => :upload_file}	, {:multipart => true}) do %>
				<%= label_tag :file, "Select a file to upload: " %>
				<%= file_field_tag ( :file, :accept => 'text/txt', :value => "Select file" ) %>

				<%= submit_tag "Upload"%>
			<% end -%>
		</div>
	</p>
<% end %>
<br />
<div>
	<% unless @apple_downloads.blank? %>
		<div>
			<table id="table" border="1">
				<thead>
					<tr class="list-title">
						<th>Date</th>
				    <th id="app">App</th>
						<th>Country</th>
						<th>Category</th>
						<th>Units</th>
						<th>Price</th>
						<th>Total</th>
				  </tr>
				</thead>

				<tbody>
			  <% for download in @apple_downloads %>
					<tr valign="top"%>
						<td id="date"><%= download.begin_date.blank? ? "" : formated_date(download.begin_date)%></td>
		   			<td><%=h download.app.name %></td>
						<td id="country"><%=h download.country.name %></td>
						<td><%=h download.apple_product_category.category %></td>
						<td><%=h download.units %></td>
						<td><%=h number_to_currency(download.royalty_price) %></td>
						<td><%= number_to_currency(download.royalty_price * download.units) %></td>
					</tr>
			  <% end %>
				</tbody>
			</table>
		</div>
		<br/>
		<div id="pager" class="pager">
			<form>
				<img class="first" src="images/icons/first.png"/>
				<img class="prev" src="images/icons/prev.png"/>
				<input class="pagedisplay" type="text"/>
				<img class="next" src="images/icons/next.png"/>
				<img class="last" src="images/icons/last.png"/>

				<select class="pagesize">
					<option value="15" selected="selected">15</option>
					<option value="30">30</option>
					<option value="50">50</option>
					<option value="100">100</option>
				</select>
			</form>
		</div>
		<br />
		<div>
			<% form_tag (:action => :csv) do %>
				<% apps = @apple_downloads.map {|e| e.id.to_s + ", " } %>
				<%= hidden_field_tag :data, apps %>
				<%= submit_tag "Export to CSV", :id => :apple_csv%>
			<% end %>
		</div>
	<% else %>
		<%= "No download found for this query." %>
	<% end %>
</div>

<script type="text/javascript">
	jQuery(document).ready(function() { 
	    jQuery("#table") 
		    .tablesorter({sortColumn: '#app', dateFormat: 'mm/dd/yyyy', widgets: ['zebra']}) 
		    .tablesorterPager({container: jQuery("#pager")}); 

	});
</script>