<h1>
  <%= h "Editing user \##{@user.id}" %>
</h1>

<% form_for(@user) do |form| %>
  <%= form.error_messages %>

  <p>
	<label for="user_name">Nickname:</label>
	<%= form.text_field :name, :size => 40 %>
  </p>

  <p>
	<label for="user_password">Password:</label>
	<%= form.password_field :password, :size => 40 %>
  </p>

  <p>
	<label for="user_password_confirmation" >Confirm:</label>
	<%= form.password_field :password_confirmation, :size => 40 %>
  </p>

  <p>
    <%= form.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', users_path %>
