<div id="product-list">
  
  <h1>Users</h1>

  <table cellpadding="5" cellspacing="0" >
	<tr>
	  <th>Id</th>
	  <th>Name</th>
	  <th>Role</th>
	</tr>
  <% for user in @users %>
	<tr valign="top" class="<%=cycle('list-line-odd', 'list-line-even' ) %>" >
	
	  <td class="list-title" ><%=h user.id %></td>
	  <td class="list-title" ><%=h user.name %></td>
	  <td class="list-title" ><%=h user.user_role.name %></td>
	  
	  <td class="list-actions" ><%= link_to 'Show', user %></td>
	  <td class="list-actions" ><%= link_to 'Edit', edit_user_path(user) %></td>
	  <td class="list-actions" ><%= link_to 'Destroy', user, :confirm => "Remove user \##{user.id}?", :method => :delete %></td>
	</tr>
  <% end %>
  </table>

  <br/>

</div>

<%= link_to 'Add user', new_user_path %>
