<h1>Editing family</h1>

<%= form_for(@family) do |f| %>
  <%= f.error_messages %>

  <p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :size => '40x3' %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Show', @family %> |
<%= link_to 'Back', families_path %>
