<div id="product-list">
  <table id="table" border="1" >
		<tr>
		  <th>Id</th>
		  <th>Name</th>
		  <th>Description</th>
		  <th># Devices</th>
		</tr>

		<% for family in @families %>
		  <tr valign="top">

			<td><%= family.id %></td>
			<td><%= family.name %></td>
			<td><%= family.description %></td>
			<td>
			  <% if family.devices %>
				  <%= h family.devices.count %>
			  <% end %>
			</td>

			<td><%= link_to 'Show', family %></td>
			<td><%= link_to 'Edit', edit_family_path(family) %></td>
			<td><%= link_to 'Destroy', family, :confirm => "Remove family " + family.name + '?', :method => :delete %></td>
		  </tr>
		<% end %>
  </table><br />
	<%= paginate @families %>
</div><br />
<%= link_to 'Add family', new_family_path %>