<div id="files_list">
  <% @resource.resource_files.each { |resource_file| %>
    <%= h resource_file.file.original_filename %>
		
		<%= link_to_remote 'delete', :update => 'files_list', :url => { :action => :delete_file, :file_id => resource_file.id, :id => @resource }%>
		<br />
  <% } %>

</div>
