<% content_for :head do %>
  <%= stylesheet_link_tag 'FrontEnd/indicar_amigos' %>
<% end %>

<% content_for :sidebar do %>
  <div class="coluna_auxiliar">
    <%= render :partial => "shared/column_left" %>
  </div>
<% end %>

<div class="conteudo_principal">
  <div class="titulo_abas abas_esq">
    <ul class="abas_busca">
      <li><%= link_to "Amigos do Orkut", orkut_invitations_url %></li>
      <li class="aba_ativa"><%= link_to "Convidar por e-mail", new_invitation_url %></li>
    </ul>
  </div>

  <div class="escolha_mensagem">
    <% form_tag '/invitations/create' do %>
      <label> Destinatários </label>
      <p>Escreva os endereços de e-mail dos amigos que quer convidar, separados por vírgula. <br>(Ex.: joao@gmail.com, jose@gmail.com)</p>
      <%= text_area_tag :friends, nil, :rows => "3" %>

      <label for="msg_padrao">Mensagem</label>
      <p>Escreva uma mensagem personalizada, ou simplesmente clique em "enviar convites" para mandar a mensagem padrão abaixo</p>
      <%= text_area_tag :message, "Olá! Eu estou jogando o CDF: Clube Desafio Futura e quero te desafiar para uma partida. Venha se divertir comigo!", :rows => "10" %>

      <%= submit_tag "", :class => "bt_convites_azul" %>
    <% end %>
  </div>
</div>

