<% content_for :sidebar do %>
  <div class="coluna_auxiliar">
    <%= render :partial => "shared/column_left" %>
  </div>
<% end %>
  
    
<div class="conteudo_principal">
  <div class="titulo_abas abas_esq">
    <ul class="abas_busca">
      <li class="aba_ativa"><%= link_to "Amigos do Orkut", orkut_invitations_url %></li>
      <li><%= link_to "Convidar por e-mail", new_invitation_url %></li>
    </ul>
  </div>


    <div class="conteudo_box">
      <p>Você ainda não relacionou sua conta ao orkut. Deseja associar agora?</p><br><br>
      <%= link_to "<span>#{I18n.t(:final_step_yes_orkut)}</span>", 
                "/oauth_consumers/google", :class => "bt_orkutSIM texthide"%>
    </div>
</div>

