<% content_for :head do %>
  <%= stylesheet_link_tag 'FrontEnd/indicar_amigos' %>
<% end %>

<% content_for :sidebar do %>
  <div class="coluna_auxiliar">
    <%= render :partial => "shared/column_left" %>
  </div>
<% end %>

<div class="conteudo_principal">
  <div class="titulo_abas abas_esq">
    <ul class="abas_busca">
      <li><a href="#">Amigos do Orkut</a></li>
      <li class="aba_ativa"><%= link_to "Convidar por e-mail", 'new' %></li>
    </ul>
  </div>

  <p class="txt_basico" style="margin-top: 20px;"><strong>Seus convites foram enviados com sucesso.</strong></p>
  <p class="txt_basico">Clique no botão abaixo para enviar mais convites</p>

  <br><br><br><br>

  <%= link_to "", 'new', :class => "bt_enviarMaisConvites texthide" %>
</div>
