<% content_for :head do %>
  <%=stylesheet_link_tag 'FrontEnd/busca'%>
<%end%>

<% content_for :sidebar do %>
  <div class="coluna_auxiliar">
    <%= render :partial => "shared/column_left" %>
  </div>
<% end %>

<div class="conteudo_principal">
  <div class="titulo_abas abas_esq">
    <ul class="abas_busca">
      <li class="aba_ativa"><%= link_to "Amigos do Orkut", orkut_invitations_url %></li>
      <li><%= link_to "Convidar por e-mail", new_invitation_url %></li>
    </ul>
  </div>

  <div class="orkut_captcha">
    <% form_tag '/invitations/send_orkut_invitation' do %>
      <p>Por favor, digite o texto da mensagem abaixo para podermos ter certeza de que você é um ser humano</p>
      <%= image_tag(url_for(:controller=>"invitations", :action => "captcha"), :class => 'captcha_img') %>

      <label>Digite o texto da mensagem ao lado</label>
      <%= text_field_tag :captcha_answer %>

      <h2>Conteúdo da sua mensagem:</h2>
      <div class="orkut_msg"><%= @message_body %></div>
      <%= submit_tag "", :class => "bt_enviarConvites texthide" %>
    <% end %>
  </div>
</div>

