<div id="product-list">
  <table id="table" border="1" >
  	<tr>
  	  <th>Code</th>
  	  <th>Filename</th>
  	  <th>Download id</th>
  	  <th>Used at</th>
  	</tr>

    <% for code in @download_codes %>
      <tr valign="top">
  	  <td ><%=h code.code %></td>
  	  <td><%=h code.file %></td>
  	  <td><%=h code.download_id %></td>
  	  <td><%=h code.used_at %></td>
  	</tr>
    <% end %>
  </table><br />
  <%= paginate @download_codes %>
</div>