<% content_for :head, stylesheet_link_tag("form.css") %>

<% title 'Nova Promoção' %>
<h1>Detalhes da Promoção</h1>

<%= form_for @promotion do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :type, 'bla' %>
    <%= f.select :type, option_for_select(['Desconto', 0]) %>

    <%= f.label :discount %>
    <%= f.select :discount, option_for_select(['Percentual', 0]) %>

    <%= f.text_field :discountValue %>
    <%= f.label :discountValue %>

    <div class="promotionProducts">
        <p>Escolha um dos produtos que farão parte da promoção:</p>

        <legend>Filtrar por:</legend>

        <%= select_tag :categories, options_for_select(['Categoria', 0]) %>

        <%= select_tag :weapons, option_for_select(['Armas de Fogo', 0]) %>

        <%= button_to "filtrar", :action => "filtrar", :form_class => "button" %>

        <table class="data_table">
            <thead>
                <%= content_tag :tr do %>
                    <%= content_tag :th, '' %>
                    <%= content_tag :th, 'Nome' %>
                    <%= content_tag :th, 'Categoria' %>
                    <%= content_tag :th, 'Preço' %>
                    <%= content_tag :th, 'Preço com desconto' %>
                    <%= content_tag :th, 'Status' %>
            <% end %>
            </thead>
            <tbody>
                <%= content_tag :tr, class: 'zebra' do %>
                    <%= content_tag :td %>
                    <%= content_tag :td %>
                    <%= content_tag :td %>
            <% end %>
            </tbody>
        </table>
    </div>

    <div class="duration">
        <p>Vigência:</p>
        <fieldset>
            <legend>Início:</legend>
            <%= f.label :startDay %>
            <%= f.text_field :startDay %>

            <%= f.label :startHour %>
            <%= f.text_field :startHour %>
            <p>Horário de Brasília</p>
        </fieldset>

        <fieldset>
            <legend>Fim:</legend>
            <%= f.label :endDay %>
            <%= f.text_field :endDay %>

            <%= f.label :endHour %>
            <%= f.text_field :endHour %>
            <p>Horário de Brasília</p>
        </fieldset>
    </div>
    <%= button_to "save", :action => "save", :form_class => "button" %>
<% end %>
