<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title><%=I18n.t(:register_confirmation)%></title>
</head>
<body>
  <table cellspacing="0" cellpadding="0" width="480" bgcolor="#63A7D4">
	<tr>
		<td height="172"><img src="http://www.cdf.org.br/images/email/ativacao_topo.jpg" width="480" height="172" alt="Clube Desafio Futura" style="display: block;"></td>
	</tr>
	<tr>
		<td style="background: #63A7D4; color: #fff; padding: 0 20px;" valign="top">
			<div style="font: 11px Verdana, Tahoma, sans-serif; line-height: 14px; height: 147px;">
				<p style="margin: 0 0 15px 0;"><strong style="font-size: 14px;"><%=I18n.t(:welcome)%>, <%=@resource.name%>!</strong></p>
				<p style="margin: 0 0 15px 0;"><%=I18n.t(:did_register_in_game)%></p>
				<p style="margin: 0 0 15px 0;"><%=I18n.t(:to_activate_account)%>:</p>
				<%= link_to "Ativar Cadastro", "http://www.cdf.org.br/futura_registrations/activate_account?token=#{@resource.confirmation_token}", :style=>"font-weight: bold; color: #fff; font-size: 14px; text-decoration: underline;" %>
				<p style="margin: 13px 0 0 0;"><%=I18n.t(:have_fun)%>!</p>
			</div>
		</td>
	</tr>
	<tr>
		<td bgcolor="#63A7D4" align="right" height="82" valign="bottom">
			  <img src="http://www.cdf.org.br/images/email/img_cartas.jpg" width="126" alt="Baralho" align="absbottom">		
		</td>
	</tr>
	<tr>
		<td style="height: 37px; padding-top: 10px; background-color: #01395C;">
			<p style="font: 10px Tahoma; color:#6BB7E3; border-top: 1px solid #6BB7E3; padding: 5px 0 0 0; margin: 0 10px;">Canal Futura &copy; 2010</p>
			<img src="http://www.cdf.org.br/images/email/news_rodape.gif" width="480" height="16" alt="" style="display:block; margin: 4px 0 0 0;"/>
		</td>
	</tr>	
	</table>
</body>
</html>