<!DOCTYPE HTML>
<html>
<head>
  <title>Marketplace</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, maximum-scale=1.0">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>

  <%= yield :head %>
</head>
<body>
  <div class="pageWrapper">
    <%= render :partial => 'header' %>

    <div class="pageContent">
      <div class="mainContent clearfix">
        <nav class="contentSelection fitLeft">
          <ul>
            <% @categories.each do |category| %>
            <% if (@product.present? and category.id == @product_category["parent_id"].to_i) or category.id == params[:category].to_i  %>
            <li class="oliveButton"><a href="/products?category=<%= category.id %>" id="cat<%= category.id %>"><%= category.name %></a></li>
            <% else %>
            <li><a href="/products?category=<%= category.id %>" id="cat<%= category.id %>"><%= category.name %></a></li>
            <% end %>
            <% end %>
          </ul>

          <% if user_logged? %>
            <div class="creditInfo">
              <div class="moneyBox">
                <img src="/assets/silver-coin.png" width="73" height="66" alt="" />

                <p class="yourMoney">Sua Grana:</p>
                <p><%= "#{current_user.wallet_black}" %><span>GrB</span></p>
                <a href="/purchase?money=black" class="oliveButton">Adquirir Grana</a>
              </div>

              <div class="moneyBox">
                <img src="/assets/silver-coin.png" width="73" height="66" alt="" />

                <p class="yourMoney">Sua Grana:</p>
                <p><%= "#{current_user.wallet}" %><span>Gr</span></p>
                <a href="/purchase?money=normal" class="oliveButton">Adquirir Grana</a>
              </div>

              <div class="transaction" style="display: none;">
                <p>&Uacute;ltima Transa&ccedil;&atilde;o</p>
                <p class="infoTransaction">10/05 - Bazuca 50 $100 Gr</p>
                <a href="#">Ver hist&oacute;rico</a>
              </div>
            </div>
          <% end %>
        </nav>

        <div class="wrapperContent">
          <%= yield %>
        </div>

        <%# render :partial => 'footer' %>
      </div>
    </div>
  </div>
</body>
</html>
