<div id="modal" class="modal_overlay" style="display: none">
  <div class="window">
    <h5>
      <%= header %>
      <a href="#" id='bt_x_modal' class="close_link"></a>
    </h5>
    <p><%= body %></p>

    <div class="buttons">
      <a href="#" id='bt_back' class="button bt_default bt_backToGame"><strong>Back to Sign Up</strong></a>
      <a href="#" id='bt_quit' class="button bt_default bt_quit"><strong>Quit Game</strong></a>
    </div>
  </div>
</div>
