<% content_for :head do %>
    <%=stylesheet_link_tag 'FrontEnd/cadastro'%>
<%end%>
<h1><%=I18n.t(:Register)%> - <%=I18n.t(:Success)%></h1>

<div class="box_mensagem">
  <%= flash[:notice] %>
  <div class="conteudo_box">
    
    <p><strong><%=I18n.t(:you_data_send_with_success)%></strong></p>
    <p><%=I18n.t(:futura_registration_email_message)%> <strong><a href="#">cdf@futura.org.br</a></strong> <%=I18n.t(:in_u_contact_safe_list)%></p>


    <img src="../../images/cadastro/img_divirta-se.gif" width="147" height="51" alt="Divirta-Se" class="img_divirta">
  </div>
</div>
