<% content_for :head do %>
  <%=stylesheet_link_tag 'FrontEnd/cadastro'%>
<%end%>
<h1><%= I18n.t(:Register)%> - <%= I18n.t(:Final_Step)%></h1>

<div>
  <div class="box_mensagem">
    <div class="conteudo_box">
      <p><%=I18n.t(:final_step_message)%>  </p>
      <p><strong><%=I18n.t(:final_step_question)%></strong></p>
      <%= link_to "<span>#{I18n.t(:final_step_yes_orkut)}</span>".html_safe,
                  "#",
                  :class => "bt_orkutSIM texthide",
                  :onclick=>"constructModal('friends_modal', '/social_medias/show');"%>

        <%=link_to "<span>#{I18n.t(:final_step_no_orkut)}</span>".html_safe, "/futura_registrations/email_success_message", :class=>"bt_orkutNAO texthide"%>
    </div>
  </div>
</div>

