<html>
  <head>
    <script type="text/javascript">
      window.parent.location = 'https://graph.facebook.com/oauth/authorize?client_id=<%= Rails.application.config.facebook_app_id %>&redirect_uri=http://apps.facebook.com/futurateste/auth/facebook';
    </script>
  </head>

  <body>
  </body>
</html>