<%= javascript_include_tag "futura/admin/poll" %>
<%= render :partial => 'shared/messages' %>

<span id="edit" style="display:none">edit</span>
<%= form_for [:admin, @poll], :url => {:action => 'update'} do |poll_form| %>

  <ul>
    <li>
      <%= poll_form.label :name, t( :name ) %>
      <%= poll_form.text_field :name %>
    </li>
    <li>
      <%= poll_form.label :description, t( :description ) %>
      <%= poll_form.text_field :description %>
    </li>
    <li>
      <%= poll_form.label :active, t(:active) %>
      <%= poll_form.check_box :active, :id => 'poll_toogle' %>
    </li>        
    <script>
      $("#poll_toogle").change(function () {
        element = document.getElementById("poll_toogle");
        if(<%= @active_poll.blank? %> == false && element.checked != false) {
          if(!confirm("Ativando essa enquete você desativará a enquete '<%= @active_poll.name if @active_poll%>'.\nTem certeza que deseja prosseguir?")) {
            element.checked = false;
          };
        };
      });
    </script>
    <li id="question_parent">
      <fieldset>
        <legend><%= t(:questions) %></legend>
        <% count = 0 %>  
        <%= poll_form.fields_for :poll_questions do |question_form| -%>
          <ul>
            <% if count >= @qtd %>
              <% count += 1 %>
              <li class="question" id="question_<%=count%>" style="display: none">
            <% else %>
              <% count += 1 %>
              <li class="question" id="question_<%=count%>">
            <% end %>
              <%= question_form.label :content, t(:title) %>
              <%= question_form.text_field :content %>
              <fieldset>
                <legend><%= t(:answers) %></legend>
                <ul>
                  <%= question_form.fields_for :poll_answers do |answer_form| %>
                    <li>
                      <%= answer_form.text_field :content %>
                    </li>
                  <% end %>
                </ul>
              </fieldset>
              <%=link_to "Remover", "#", :id => "teste_#{count}", :onclick => 'removeQuestion(this.id)'%>
            </li>
          </ul>
          
        <% end -%>
      </fieldset>
    </li>
     <a onclick="newQuestion();" style="cursor:pointer;">Adicionar nova questão</a>
    <li>
      <%= poll_form.submit t( :save ), :class => "Botao" %>
      <%= link_to "Cancelar", :admin_polls, :class => "Botao" %>
    </li>
  </ul>
<% end %>
