<%= render :partial=>'shared/messages' %>

<table class="GridView">
  <tr class="gridHeader">
    <th class="nomeTema"><%= t( :name )%></th>
    <th><%= t( :description )%></th>
    <th><%= t( :active )%></th>
    <th><%= t( :report )%></th>
    <th><%= t( :edit )%></th>
    <th><%= t( :delete )%></th>
  </tr>

  <% unless @polls.blank? %>
    <% for poll in @polls %>
      <tr>
        <td><%= poll.name %></td>
        <td><%= poll.description %></td>
        <%= form_for poll do |p| %>
          <td align='center'><%= p.check_box :active, :id => "poll_#{poll.id}_active"%></td>
        <% end %>
        <td align='center'><%= link_to "Visualizar", :action => :report, :id => poll.id %></td>

        <script>
          $("#poll_<%= poll.id.to_s %>_active").mouseup(function () {
            clicked = this;

            $.ajax({ url: "/admin/polls/update_active/" + clicked.id + "?active=" + clicked.checked, type: 'post' });

            $('input[id*="_active"]').each(function(index, element){
              if(element.id != clicked.id){
                element.checked = false;
              };
            });
          });
        </script>

        <td class="linkColumn">
          <%= link_to image_tag('/images/admin/page_white_edit.png'), 
                      edit_admin_poll_path( poll ), 
                      :id => "edit_poll_#{poll.id}"%>
          </td>
          <td class="linkColumn">
            <%= link_to image_tag('/images/admin/delete.png'), 
              admin_poll_path( poll ), 
              :confirm=>I18n.t( :deletion, :object => poll.name ), 
              :method=>"delete", 
              :id => "delete_poll_#{poll.id}"%>
            </td>				
          </tr>
        <% end %>
      <% end %>
    </table>
    <%= will_paginate @polls%>
