<% if @poll %>
  <table class="GridView">
    <tr class="gridHeader">
      <td>Pergunta</td>
      <td>Total de Respostas</td>
      <td>Alternativa</td>
      <td>Qt Respostas</td>
      <td>% Total</td>
    </tr>
    <% @poll.poll_questions.each do |question| %>
      <% question.poll_answers.each_with_index do |answer, index| %>
        <tr>
          <% klass = " rowspan='4'" if index == 0 %>
          <td<%= klass %>><%= question.content %></td>
          <td<%= klass %>><%= question.participations %></td>
          <td><%= answer.content %></td>
          <td><%= answer.count %></td>
          <td><%= percent(question, answer) %>%</td>
        </tr>
      <% end %>
    <% end %>
  </table>
<% end %>
