<%= render :partial => 'shared/messages' %>

<%= form_for [:admin, @suggested_question], :html => { :method => :put } do |question_form| %>
  <ul>
    <li>
      <%= question_form.label :title, t( '.title' ) %>
      <%= question_form.text_field :title, {:style =>"width:60%;"} %>
    </li>
    <li>
      <%= question_form.label :theme_id, t('.theme') %>
      <%= question_form.select :theme_id, @themes %> 
    </li>
    <fieldset>
      <legend><%= t('.answers') %></legend>
      <br />
      <%= question_form.text_field :answer_one %>  
      <%= question_form.text_field :answer_two %>  
      <%= question_form.text_field :answer_three %>  
    </fieldset>
    <li>
      <%= question_form.select :correct, [ ["A", "a"], ["B", "b"], ["C", "c"] ] %>
    </li>
    <li>
      <%= question_form.submit t( '.approve' ), :class => "Botao" %>
      <%#= question_form.submit t( '.save_and_approve' ), :class => "Botao" %>
      <%#= question_form.submit t( :save ), :class => "Botao" %>
      <%= link_to "Cancelar", admin_suggested_questions_path, :class => "Botao" %>
      <%= link_to "Apagar", admin_suggested_question_path( @suggested_question ), 
        :confirm=>I18n.t( :deletion, :object => @suggested_question.title ),  :method=>"delete", 
        :id => "delete_suggested_question_#{@suggested_question.id}", :class => "Botao" %>     
    </li>
  </ul>
<% end %> 
