/* =Pagina de Cadastro
-----------------------------------------------------------------------------*/
.coluna_form{
    width: 248px;
    float: left;
}

.coluna_meio{
    width: 238px;
    margin: 0 20px;
}

label{
    display: block;
    clear: both;
    color: #01385B;
    padding-bottom: 4px;
    margin-top: 25px;
}

input[type="text"], textarea, input[type="password"]{
    width: 238px;
}

.coluna_meio input[type="text"], .coluna_meio textarea{
    width: 228px;
}

select{
    width: 248px;
}

.coluna_meio select{
    width: 238px;
}

.obs_checkbox input{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.obs_checkbox{
    position: relative;
    vertical-align: top;
    display: block;
    padding: 1px 0 0 20px;
    margin-top: 5px;
}

input#dia, input#mes{
    width: 20px;
    margin-right: 5px;
}

input#ano{
    width: 50px;
}

.estado{
    float: left;
    width: 45px;
    margin-right: 10px;
}

.pais{
    float: left;
    width: 175px;
}

select#estado{
    width: 45px;
}

select#pais{
    width: 175px;
}

.label_sobre{
    margin-top: 0;
    padding-top: 36px;
    *padding-top: 18px;
    clear: both;
}

.estado, .pais{
    padding-top: 10px;
    *padding-top: 40px;
}

.observacao{
    clear: both;
    display: block;
    padding-top: 3px;
}

.label_cidade{
    margin-top: 16px;
}

.label_nascimento{
    margin-top: 25px;
}

.label_senha{
    margin-top: 37px
}

.label_foto{
    margin-top: 0;
}

.label_repetirSenha{
    margin-top: 22px;
}

.label_email{
    margin: 0;
}

.foto_user{
    margin-top: 15px;
    margin-bottom: 23px;
    height: 50px;
}

#user_about{
    height: 80px;
}

.rodape_form{
    clear: both;
    padding-top: 20px;
}

.obrigatorios{
    font-size: 10px;
    font-weight: bold;
    color: #BF2133;
    padding-bottom: 3px;
}

.rodape_form ul{
    float: left;
    margin-right: 20px;
    *margin-top: -8px;
}

.rodape_form li{
    font-size: 9px;
    margin-top: 3px;
    height: 10px;
    margin-bottom: 8px;
    *margin-bottom: 0;
}

.bt_continuar, .bt_continuar_disabled, .bt_salvarAlteracoes{
    margin-top: 15px;
    border: none;
    cursor: pointer;
}

.bt_continuar_disabled{
    cursor: default;
    background: url(/images/comum/bt_continuar_disabled.gif) no-repeat 0 0;
}

.fieldWithErrors{
    float: left;
}


/* =Cadastro - Segundo Passo
-----------------------------------------------------------------------------*/

.bt_orkutSIM{
    background: url(/images/cadastro/bt_orkutSIM_s1.gif) no-repeat 0 0;
    width: 248px;
    height: 20px;
    display: block;
    margin-bottom: 10px;
}

.bt_orkutNAO{
    background: url(/images/cadastro/bt_orkutNAO_s1.gif) no-repeat 0 0;
    width: 248px;
    height: 20px;
    display: block;
    clear: both;
}

.bt_jogarAgora{
    background: url(../../images/cadastro/bt_jogarAgora.gif) no-repeat 0 0;
    width: 102px;
    height: 20px;
    display: block;
    margin-bottom: 10px;
}

.bt_convidarAmigos{
    background: url(../../images/cadastro/bt_convidarAmigos.gif) no-repeat 0 0;
    width: 146px;
    height: 20px;
    display: block;
}

.img_divirta{
    margin-top: 5px;
}

.social_medias{

}

/* =Perfil - Edicao
-----------------------------------------------------------------------------*/

.box_perfil{
    clear: both;
    margin-top: 20px;
    font-family: Verdana, Tahoma, sans-serif;
}

.box_perfil .usuario{
    float: left;
    width: 290px;
    margin-right: 30px;
    border-right: 1px solid #C2CFF1;
}

.box_perfil .usuario *{
    float: left;
    margin-right: 10px;
}

.box_perfil .usuario img{
    border: 2px solid #01395C;
}

.box_perfil .usuario h3{
    font-size: 25px;
    font-weight: normal;
    margin: -3px 0 3px 0;
    line-height: 1.2;
    width: 190px;
    height: 50px;
    line-height: 1;
    overflow: hidden;
}

.box_perfil .data_socio{
    display: block;
    clear: left;
	margin-top: 10px;
	width: 100%;
}

.box_perfil .stats{
    float: left;
}

.stats .patente{
    padding-bottom: 5px;
    *margin-bottom: 0;
}

.stats li{
    padding-bottom: 3px;
    margin-top: 5px;
}

.stats .rank_mestre{
    background: url(/images/comum/medalha_mestre.png) no-repeat 0 0;
    padding-left: 20px;
}

.stats .perguntas{
    background: url(/images/comum/medalha_perguntas.png) no-repeat 3px 0;
    padding-left: 20px;
}

.stats .amigos{
    background: url(/images/comum/medalha_amigos.png) no-repeat 3px 0;
    padding-left: 20px;
}

.bt_IrParaJogo{
    float: right;
    background: url(/images/comum/bt_IrParaJogo.gif);
    width: 145px;
    height: 37px;
    margin-top: 20px;
}

.bt_trocarImg{
    background: url(/images/comum/bt_trocarImg.png);
    width: 95px;
    height: 20px;
}

.bt_trocarSenha{
    background: url(/images/comum/bt_trocar_senha.gif) no-repeat 0 0;
    width: 83px;
    height: 20px;
    float: right;
    margin: 10px 0 0 0;
    cursor: pointer;
}

/* =Fale Conosco
-----------------------------------------------------------------------------*/
textarea.contato_msg{
    width: 495px;
}

.bt_enviar, .bt_enviar_disabled{
    border: none;
    cursor: pointer;
    width: 64px;
    height: 20px;
    display: block;
    clear: both;
}

.bt_enviar{
    background: url(/images/comum/bt_enviar_azul.png);
}

.bt_enviar_disabled{
    cursor: default;
    background: url(/images/comum/bt_enviar_disabled.png) no-repeat 0 0;
}

.fale_conosco .estado, .fale_conosco .pais{
    padding-top: 0;
	*padding-top: 2px;
}