/* =Gerais
-----------------------------------------------------------------------------*/
.conteudo_principal{
    float: left;
    width: 530px;
}


/* =Formulario de envio
-----------------------------------------------------------------------------*/
.formulario_sugestao{
	padding-top: 20px;
}

.formulario_sugestao label{
	padding-bottom: 5px;
	display: block;
}

.formulario_sugestao .label_tema{
	float: left;
	margin-right: 5px;
}

.formulario_sugestao .label_pergunta{
	clear: left;
}


.formulario_sugestao select{
	float: left;
	margin-bottom: 10px;
	width: 180px;
}

.formulario_sugestao input[type="text"]{
	display: block;
	width: 100%;
	margin-bottom: 15px;
}

.formulario_sugestao input[type="image"]{
	float: right;
	margin-right: -10px;
}

.label_pergunta{
	padding-top: 10px;
}

.bt_sugerirPerguntas{
	width: 239px;
	height: 37px;
	background: url(/images/comum/bt_sugerirPerguntas.png) no-repeat 0 0;
	display: block;
	margin-top: 20px;
}




