/* =Texto Introducao
-----------------------------------------------------------------------------*/

.txt_introducao{
	color: #000;
	padding-bottom: 20px;
	margin-right: 40px;
}

.txt_introducao h2{
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 5px;
}

.img_desafio{
	float: left;
}

/* =Chamadas
-----------------------------------------------------------------------------*/

.col_chamadas{
	float: left;
	width: 202px;
	color: #fff;
	margin-left: 20px;
}

.chamada{
	width: 172px;
	height: 140px;
	padding: 15px 15px;
	text-align: center;
}

.chamada .botao{
	width: 172px;
	height: 29px;
	padding-top: 8px;
	display: block;
	color: #fff;
	margin-top: 10px;
}


.chamada .botao em{
	text-align: center;
	font-weight: bold;
	font-size: 17px;
}

.chamada_cadastro{
	background: url(/images/home/box_cadastro.jpg) no-repeat 0 0;
	margin-bottom: 18px;
}

.chamada_cadastro .botao{
	background: url(/images/home/bt_cadastrar.jpg) no-repeat 0 0;	
}

.chamada_cadastro h3{
	font-size: 12px;
	margin-top: 0;
}

.chamada_amigos{
	background: url(/images/home/box_convite.jpg) no-repeat 0 0;
}

.chamada_amigos .botao{
	background: url(/images/home/bt_convidar_agora.jpg) no-repeat 0 0;	
}

.chamada_amigos h3{
	padding-left: 50px;
	text-align: left;
	line-height: 10px;
	margin: 5px 0;
}

.chamada_amigos h3 em{
	font-size: 21px;
}

/* =Home no Orkut
-----------------------------------------------------------------------------*/

.home_orkut .txt_introducao{
    float: left;
    width: 520px;
    margin: 15px 0 0 10px;
}

.home_orkut .txt_introducao h2{
	font-size: 14px;
    margin: 0px 0 10px 0;
}

.home_orkut .img_cadastro{
    float: right;
    margin-right: 40px;
}

.box_cadastrado{
    background: url(../../images/home/box_cadastrado.png) no-repeat 0 0;
    width: 202px;
    height: 118px;
    float: left;
}

.box_cadastrado p{
    color: #fff;
    font: bold 12px Arial;
    text-align: center;
    margin: 25px 0 0 0;
}

.box_cadastrado .bt_jogarAgora{
    display: block;
    margin: 10px auto 0 auto;
}

