/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 15px;
	height: 100%;
	background: #e8e8e8;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: #e8e8e8;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: url(/images/rolagem/rolagem_track.gif) repeat-y;
	position: relative;
}

.jspDrag
{
    background: #4585bc url(/images/rolagem/rolagem_handle.gif) no-repeat center center;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
    width: 13px;
    border: 1px solid #0b68a1;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled
{
	cursor: default;
}

.jspArrowUp{
    background: #064c88 url(/images/rolagem/rolagem_up.gif) no-repeat 0 0;
}

.jspArrowUp.jspDisabled{
    background: #064c88 url(/images/rolagem/rolagem_up_disabled.gif) no-repeat 0 0;
}

.jspArrowDown{
    background: #064c88 url(/images/rolagem/rolagem_down.gif) no-repeat 0 0;
}

.jspArrowDown.jspDisabled{
    background: #064c88 url(/images/rolagem/rolagem_down_disabled.gif) no-repeat 0 0;
}

.jspVerticalBar .jspArrow
{
    height: 15px;
}

.jspHorizontalBar .jspArrow
{
	width: 15px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}