/* =Gerais
-----------------------------------------------------------------------------*/

.popup{
    position: absolute;
    left: 50%;
    z-index: 10;
    top: 10%;
    font: 11px Verdana, Tahoma, sans-serif;
    color: #fff;
}

.popup input[type="text"], .popup input[type="password"]{
    background: #fff;
    border: none;
    height: 20px;
    border: 1px solid #C2CFF1;
}

.popup label{
    color: #fff;
    font: bold 10px Verdana;
    margin-top: 0;
}

.popup select{
    font-size: 10px;
    background: #f7f7f7;
    height: 18px;
}

.popup .msg{
    color: #fff;
    font-size: 10px;
}

.popup h1{
    color: #fff;
    border-color: #CCE0ED;
}

.popup label{
    display: block;
    padding-bottom: 3px;
}

.popup .bt_fechar{
    position: absolute;
    top: 18px;
    right: 25px;
    background: url(/images/popup/bt_fechar.png) no-repeat 0 0;
    width: 60px;
    height: 20px;
}

/* =Popup Padrao
-----------------------------------------------------------------------------*/

.pop_padrao{
    background: url(/images/popup/popup_base.png) no-repeat bottom left;
    width: 525px;
    margin-left: -217px;
    padding-bottom: 82px;
}

.pop_padrao .bt_fechar{
  position: absolute;
  top: 18px;
  right: 20px;
  background: url(/images/popup/bt_fechar.png) no-repeat 0 0;
  width: 60px;
  height: 20px;
  display: block;
}

.pop_padrao .cabecalho_pop{
    background: url(/images/popup/popup_topo.png) no-repeat;
    height: 114px;
    position: relative;
}

.pop_padrao .pop_meio{
    background: url(/images/popup/popup_meio.png) repeat-y;
    float: left;
    width: 100%;
    padding-bottom: 20px;
}

.pop_padrao .conteudo_pop{
    margin: -60px 50px 0 50px;
    position: relative;
}

.pop_padrao p{
    margin-bottom: 15px;
    line-height: 16px;
}

.pop_padrao .contador{
    font-size: 20px;
    font-weight: bold;
}

.pop_padrao .bt_sim, .pop_padrao .bt_nao{
    float: left;
    margin: 10px 15px 0 0;
}

/* =Popup de Login
-----------------------------------------------------------------------------*/

.pop_login{
    background: url(/images/popup/pop_login.png) no-repeat 0 0;
    width: 450px;
    height: 330px;
    margin-left: -225px;
}

.pop_login #user_email{
    margin-bottom: 15px;
    width: 240px;
}

.pop_login #user_password{
    width: 110px;
	float: left;
}

.pop_login .conteudo_pop{
    width: 250px;
    margin: 60px 0 0 115px;
}

.pop_login .msg{
	clear: both;
	padding-top: 10px;
}

.pop_login .msg a{
    text-decoration: underline;
    color: #fff;
}

.pop_login .botoes{
    float: right;
    padding-top: 20px;
}

.pop_login .botoes a, .pop_login .bt_conectar{
    float: left;
    width: 75px;
    margin: 0;
}

.pop_login .msg_senha{
	color: #fff;
	float: right;
	font-size: 10px;
	text-decoration: underline;
	padding-top: 5px;
}

.pop_login .link_cadastro{
	float: right;
	width: 135px;
	padding: 15px 0 0 0;
}

.pop_login .link_cadastro strong{
	display: block;
	font-size: 12px;
	padding-bottom: 5px;
}


/* =Popup de Confirmacao de Senha
-----------------------------------------------------------------------------*/

.pop_confirmacao input[type="text"]{
    float: left;
}

.pop_confirmacao .bt_reenviarMensagem{
    border: none;
    margin-left: 5px;
}



/* =Popup de Esquecimento de Senha
-----------------------------------------------------------------------------*/

.pop_senha{
    /*background: url(/images/popup/pop_senha.png) no-repeat 0 0;*/
    width: 525px;
    margin-left: -217px;
}

.pop_senha form{
    margin: 20px 0 0 0;
}

.pop_senha label{
    display: block;
}

.pop_senha input[type="text"]{
    width: 248px;
}

/* =Popup de Criação de Mesas Públicas
-----------------------------------------------------------------------------*/

.pop_public{
  position: absolute;
  background: url(/images/popup/pop_senha.png) no-repeat 0 0;
  left: 50%;
  width: 525px;
  height: 434px;
  z-index: 10;
  margin-left: -225px;
  font-size: 11px;
}

.pop_public .conteudo_pop{
  padding: 15px 0 0 65px;
  color: #fff;
  position: relative;
}

.pop_public form{
  width: 400px;
  margin: 20px 0 0 0;
}

.pop_public h1{
  color: #fff;
  border-color: #CCE0ED;
}

.pop_public label{
  display: block;
  padding-bottom: 3px;
  font: bold 10px Verdana, Tahoma, sans-serif;
}

table.pop_table .bt_criar{
  background: url(/images/popup/bt_criar.png) no-repeat 0 0;
  border: 0;
  width: 95px;
  height: 20px;
}

.pop_public span {
  display: block;
  margin-bottom: 10px;
}

.pop_public select {
  display: inline;
}

.pop_public table {
  margin-top: 20px;
  width: 400px;
}

.pop_public td {
  padding: 5px;
}

table.pop_table td.text {
  text-align: right;
  width: 40%;
}

table.pop_table td.submit {
  text-align: center;
  padding-top: 20px;
}

.pop_public .bt_fechar{
  position: absolute;
  top: 18px;
  right: 25px;
  background: url(/images/popup/bt_fechar.png) no-repeat 0 0;
  width: 60px;
  height: 20px;
  display: block;
}

/* =Popup de Mesas Particulares
-----------------------------------------------------------------------------*/

.pop_mesaParticular ul li{
    height: 58px;
    margin-bottom: 10px;
}

.pop_mesaParticular .jogador{
    float: left;
    background: url(/images/jogo/bg_jogadores_mesa.gif) no-repeat 0 0;
    width: 240px;
    height: 38px;
    padding: 10px;
    color: #01395B;
}

/*.pop_mesaParticular .jogador_selecionado{
    background: url(/images/jogo/bg_jogadores_mesa_on.gif) no-repeat 0 0;
} */

.pop_mesaParticular .jogador h4{
    font: bold 18px Arial, Helvetica, sans-serif;
    margin: -3px 0 3px 0;
    height: 22px;
    overflow: hidden;
}

.pop_mesaParticular .jogador span{
    font-size: 10px;
}

.pop_mesaParticular .posicao_ranking{
    margin-right: 5px;
    line-height: 22px;
}

.pop_mesaParticular .jogador img{
    float: left;
    margin-right: 5px;
}

.pop_mesaParticular .link_excluir{
    float: left;
    font-weight: bold;
    background: url(/images/ic_excluir.png) no-repeat center left;
    color: #fff;
    padding-left: 15px;
    margin: 20px 0 0 20px;
}

.pop_mesaParticular .link_excluir:hover{
    font-size: 12px;
    text-decoration: underline;
}

.pop_mesaParticular .botoes{
    padding-top: 20px;
}

.pop_mesaParticular .botoes a{
    float: left;
    margin-right: 15px;
}

.pop_mesaParticular .perfil{
    width: 200px;
    float: right;
    margin: 0 0 0 0;
}

.escolha_sala label, .escolha_sala select {
    float: left;
}

.escolha_sala label{
    margin: 10px 5px 0 0;
    clear: left;
    width: 85px;
    text-align: right;
}

.escolha_sala select{
    margin: 10px 5px 0 0;
    min-width: 150px;
}

.escolha_sala h5{
    clear: left;
    padding: 10px 0 20px 0;
    *margin-top: -10px;
}

.escolha_sala h5 strong{
    font-weight: bold;
    margin-right: 5px;
    font-size: 10px;
    width: 85px;
    text-align: right;
    float: left;
}


/* =Popup do Google
-----------------------------------------------------------------------------*/

.pop_google{
    margin-left: -250px;
    top: 5%;
}

.pop_google iframe{
    border: none;
    height: 345px;
    width: 420px;
    border: 2px solid #C2CFF1;
    background: #fff;
    float: left;
}

/* =Popup Perfil
-----------------------------------------------------------------------------*/

.pop_perfil .jogador{
    height: 104px;
    margin-bottom: 30px;
}

.pop_perfil .jogador h3{
    font: 18px Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    margin: 0;
    width: 290px;
}

.pop_perfil .foto_perfil{
    float: left;
    border: 2px solid #fff;
    margin-right: 20px;
}

.pop_perfil .jogador .detalhes {
    float: left;
}

.pop_perfil .jogador ul li{
    padding-bottom: 6px;
}

li.mestre{
    background: url(/images/comum/medalha_mestre.png) no-repeat 0 0;
    padding-left: 20px;
}

.pop_perfil li.contribuicao{
    background: url(/images/comum/medalha_perguntas.png) no-repeat 3px 0;
    padding-left: 20px;
}

.pop_perfil li.indicacoes{
    background: url(/images/comum/medalha_amigos.png) no-repeat 3px 0;
    padding-left: 20px;
}

.pop_perfil .tempo_sociedade{
    font-weight: bold;
}

.pop_perfil .dados_perfil{
    width: 220px;
    float: left;
}

.pop_perfil .dados_perfil * {
    float: left;
    padding-bottom: 5px;
}

.pop_perfil .dados_perfil dt{
    font-weight: bold;
    clear: left;
    margin-right: 5px;
}

.pop_perfil .dados_perfil dd{
    float: left;
    clear: right;
    overflow: hidden;
}

.pop_perfil .info_jogador{
    clear: both;
}

.pop_perfil .info_jogador .sobre{
    width: 180px;
    float: right;
}

.pop_perfil .info_jogador .sobre h4{
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 5px;
}

.pop_perfil .info_jogador .sobre p{
    line-height: 16px;
}

.pop_perfil .bt_adicionarAmigos{
    float: left;
    margin-top: 15px;
}

p.user_label{
    background: #62B23A;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    font-size: 10px;
    font-weight: bold;
    padding: 2px 5px;
    float: left;
    margin-top: 15px;
    clear: both;
    min-width: 105px;
}

/* =Popup Imagem Perfil
-----------------------------------------------------------------------------*/

.pop_imgPerfil .conteudo_pop{
	margin: -60px 30px 0 30px;
}

.pop_imgPerfil iframe{
	border: none;
	width: 450px;
	height: 350px;
}

.envio_imagem{
	background: #1773AF;
	color: #fff;
}

.envio_imagem p{
	margin: 10px 0;
	font: 12px Verdana, Arial, sans-serif;
}

.envio_imagem input[type='file']{
	display: block;
	width: 200px;
}

.envio_imagem img{
    display: block;
}

.envio_imagem #avatar_submit{
    background: url(/images/popup/bt_enviar.png) no-repeat 0 0;
    width: 71px;
    height: 20px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

#crop_submit{
    background: url(/images/comum/bt_recortarImagem.png) no-repeat 0 0;
    width: 116px;
    height: 20px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    display: block;
    clear: both;
}

/* =Popups do Jogo e Convites
-----------------------------------------------------------------------------*/

.pop_confirmaJogo .bt_nao{
    margin-right: 10px;
}

.pop_lobby ul li{
    font-weight: bold;
    margin-bottom: 7px;
    padding-left: 15px;
}

.pop_lobby ul li span{
    font-weight: normal;
}

.pop_lobby ul li.pronto{
    background: url(/images/comum/bullet_verde.png) no-repeat center left;
}

.pop_lobby ul li.nao_pronto{
    background: url(/images/comum/bullet_vermelho.png) no-repeat center left;
}

.pop_lobby .botoes{
    margin: 40px auto 0 auto;
    width: 270px;
    display: block;
    height: 40px;
}

.pop_lobby .bt_pronto{
    float: right;
}

.pop_lobby .bt_cancelar{
    float: left;
    margin: 8px 0 0 0;
}

.pop_lobby .pop_meio{
    padding-bottom: 0;
}

/* =Popup Saída do Jogo
-----------------------------------------------------------------------------*/

.pop_sairJogo p{
    font: 20px Arial;
    text-align: center;
    padding: 30px 0;
}

.pop_sairJogo .botoes{
    margin: 0 auto;
    width: 330px;
}


/* =Popup Alerta
-----------------------------------------------------------------------------*/

.pop_alerta h1{
    border: none;
    background: url(/images/popup/ic_alerta.png) no-repeat 0 0;
    padding: 15px 0 20px 65px;
}

.pop_alerta .conteudo_pop{
    padding: 20px 0 50px 0;
}


/* =Popup Erro
-----------------------------------------------------------------------------*/

.pop_erro h1{
    border: none;
    background: url(/images/popup/ic_erro.png) no-repeat 0 0;
    padding: 15px 0 20px 65px;
}

.pop_erro .conteudo_pop{
    padding: 20px 0 50px 0;
}

