App versions supported:
<%
  if ( @app_versions.length <= 0 )
%>
<br/>None.<br/>
<%
  else
   for app_version in @app_versions
%>
  <div>
	<%= check_box_tag "ad_channel[app_version_ids][]", ad_channel.id, @ad_channel.app_versions.include?( app_version ) %>
	<%= h app_version.name %>
  </div>
<%
	end
  end
%>
