<% @title = "Ad Channels" %>
<table id="table" border="1">
	<thead>
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th>Status</th>
			<th>Versions</th>
			<th colspan="3"></th>
	  </tr>
	</thead>

  <tbody>
		<% for ad_channel in @ad_channels %>
		  <tr valign="top" >
			<td><%= h ad_channel.title %></td>
			<td><%= h ad_channel.description %></td>
			<td><%= h ad_channel.ad_channel_status.status %></td>
			<td><% ad_channel.ad_channel_versions.each do |v| %>
					  <%= link_to v.id, v, :controller => :ad_channel_versions, :id => v %><br />
				  <% end %>
			</td>

			<td><%= link_to 'Show', ad_channel %></td>
			<td><%= link_to 'Edit', edit_ad_channel_path(ad_channel) %></td>
			<td><%= link_to 'Destroy', ad_channel, :confirm => 'Are you sure?', :method => :delete %></td>
		  </tr>
		<% end %>
  </tbody>
</table>

<br />
<br />
<%= paginate @ad_channels %>
<%= link_to 'New Ad Channel', new_ad_channel_path %>