<%= "Title: " + @ad_channel.title %><br />
<%= "Description: " + @ad_channel.description %><br />
<%= "Status: " + @ad_channel.ad_channel_status.status %><br />

<% unless @ad_channel.ad_channel_versions.blank? %>
	<p>
		<%= "Versions: " %>
	</p>
	<ul>
		<% @ad_channel.ad_channel_versions.each do |version| %>
			<li>
				<%= version.id %>  <!-- todo exibir uma parcial com as informações da versão -->
			</li>
		<% end %>
	</ul>
<% end %>

<p>
	<%= link_to 'Edit', edit_ad_channel_path(@ad_channel) %> |
	<%= link_to 'Back', ad_channels_path %>
</p>

