<nav class="nav_contato">
    <ul class="link_contato">
        <li>
            <h1 class="titulo_principal">
                <%= link_to t('contact.buttons.contact'), new_inquiry_path, :class => "link_titulo" %>
            </h1>
        </li>
        <li>
            <h1 class="titulo_principal">
                <%= link_to t('contact.buttons.jobs'), jobs_path, :class => "link_titulo" %>
            </h1>
        </li>
    </ul>
</nav>