<div id="" class="vcard">
    <div class="org"><h6>Nano Studio</h6></div>
    <div class="adr">
        <span class="country-name">Brasil</span>
    </div>
    <div class="tel"><span class="enfase"><%= t('tel') %></span> (55 21) 2544-0500 | <span class="enfase">fax</span> (55 21) 2544-5573</div>
    <p class="mail"><span class="enfase">e-mail</span><a class="email" href="mailto:contato@nanostudio.com.br"><%= t('contact_email') %></a></p>
</div>
<p class="direitos"><%= t('copyright', :current_year => Date.today.year) %></p>
