<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="author" content="Team Pato">
	<meta name="Copyright" content="Copyright Nano Studio 2011. All Rights Reserved.">

	<!-- Dublin Core Metadata : http://dublincore.org/ -->
	<meta name="DC.title" content="Nano Studio Website">
	<meta name="DC.subject" content="<%= t('head.description') %>">
	<meta name="DC.creator" content="Team Pato">

	<link rel="shortcut icon" href="/images/comum/favicon.png">
	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">

	<title><%= browser_title(yield(:title)) %></title>
	<meta charset='<%= ::Refinery::Application.config.encoding %>' />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<%= csrf_meta_tag if RefinerySetting.find_or_set(:authenticity_token_on_frontend, true)-%>
	<%= yield :meta %>

	<%= include_javascripts  :comum %>
	<%= include_stylesheets  :comum %>

	<%= yield :head %>
	<%= render :partial => '/shared/google_analytics' unless local_request? %>
</head>