<%# unless @job_application && @job_application.errors && @job_application.errors.any? %>
<!-- <div class="subheader">
  <div class="seletor_de_linguagem">
    <p><%= t('language') %>:</p>
    <ul class="lista_linguagem">
        <li><%= link_to 'PT', params.except(:controller, :locale).merge(:locale => 'pt-BR'), :class => "pt-BR #{Globalize.locale.to_s == 'pt-BR' ? 'idioma_ativo' : ''}" %></li>
        <li><%= link_to 'EN', params.except(:controller, :locale).merge(:locale => 'en'), :class => "en #{Globalize.locale.to_s == 'en' ? 'idioma_ativo' : ''} " %></li>
    </ul>
  </div>
</div>-->
<%# end %>

<nav class="nav_principal">
    <div class="conteudo_nav">
        <ul>
        	<li><%= link_to t('home'), "/#{Globalize.locale.to_s}", :class => menu_item_active?(:home) %></li>
            <li><%= link_to t('header.menu.services'), {:controller => 'pages', :action => 'services'}, :class => menu_item_active?(:services)%></li>
            <li><%= link_to t('header.menu.our_games'), "/portfolio_games/games", :class => menu_item_active?(:games) %></li>
            <li class="logo_spot"><strong class="logo"><a href="/<%= Globalize.locale.to_s %>"><em>Nano Studio</em></a></strong></li>
            <li><%= link_to t('header.menu.our_apps'), "/portfolio_apps/apps#aplicativos", :class => menu_item_active?(:apps) %></li>
            <li><%= link_to t('header.menu.about'), page_path('about'), :class => menu_item_active?(:about) %></li>
    		<li><%= link_to t('header.menu.contact'), new_inquiry_path, :class => menu_item_active?(:new) %></li>
        </ul>
    </div>
</nav>