<ul class="redes_sociais">
    <li><a href="http://twitter.com/nanostudios" target='_blank' title="Twitter"><img src="/images/icones/twitter.png" alt="Twitter" /></a></li>
    <li><a href="http://www.facebook.com/pages/Nano-Studio/185029794887760" target="_blank" title="Facebook"><img src="/images/icones/facebook.png" alt="Facebook" /></a></li>
    <li><a href="https://plus.google.com/117506812455480952546" title="Google+" target="_blank"><img src="/images/icones/plus.png" alt="Google Plus"/></a></li>
    <li><a href="http://www.orkut.com.br/Main#Community?cmm=40037651" target='_blank' title="Orkut"><img src="/images/icones/orkut.png" alt="Orkut"/></a></li>
</ul>