<% category_translation_detail.each do |trans| %>
  <tr valign="top" class="<%=cycle('list-line-odd', 'list-line-even' ) %>" >

    <td class="list-title" ><%=h trans.id %></td>
    <td class="list-title" ><%=h trans.title %></td>
    <td class="list-title" ><%=h trans.description %></td>
    <td class="list-title" ><%=h trans.language.name %></td>

    <% if ( session_user.is_admin? ) %>
      <td class="list-actions" ><%= link_to 'Edit'.t, :action => :edit_category_translation, :id => trans.id %></td>
      <td class="list-actions" ><%= link_to 'Destroy'.t,
                                    :action => :delete_category_translation,
                                    :id => trans.id,
                                    :confirm => "Remove news feed category translation #{trans.id}?",
                                    :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
