<%= error_messages_for :translation %>

<% form_for @translation, :url => {:action => "update_category_translation", :id => @translation.id } do |f| -%>

    <p> <%= f.label :language, "Language".t + ":" %></p>
    <p> <%= f.collection_select(:language_id,
                                @languages,
                                :id,
                                :name,
                                :prompt => "Select a language".t) %></p>
    
    <p> <%= f.label :title, "Title".t + ":" %></p>
    <p> <%= f.text_field :title %></p>

    <p> <%= f.label :description, "Description".t + ":" %></p>
    <p> <%= f.text_field :description %></p>

    <p>
        <%= f.submit "Edit".t%>
    </p>

<% end -%>

<%= link_to "Back".t , :action => "show", :id => @translation.news_feed_category_id %>