<div>
  <table id="table" width="900" border="1">
    <thead>
      <tr>
        <th><%= "Id".t %></th>
        <th><%= "Title".t %></th>
        <th><%= "Description".t %></th>
        <th><%= "Visibility".t %></th>
        <th><%= "App Versions".t %></th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% for news_feed_category in @news_feed_categories%>
        <tr valign="top" class="<%=cycle('list-line-odd', 'list-line-even' ) %>" >

          <td class="list-title" ><%=h news_feed_category.id %></td>
          <td class="list-title" ><%=h news_feed_category.title %></td>
          <td class="list-title" ><%=h news_feed_category.description %></td>
          <td class="list-title" ><%= news_feed_category.public ? "Public" : "Not Public" %></td>
          <td class="list-title">
            <% v = '' -%>
            <% for app_version in news_feed_category.app_versions -%>
              <% if v == '' -%>
                <%= "#{app_version.app.name} - #{app_version.number}" -%>
                <% v = app_version.app.name -%>
              <% else -%>
                <% if v == app_version.app.name -%>
                  <%= " - #{app_version.number}" -%>
                <% else -%>
                  <br />
                  <%= "#{app_version.app.name} - #{app_version.number}" -%>
                  <% v = app_version.app.name -%>
                <% end -%>
              <% end -%>

            <% end -%>
          </td>

          <td class="list-actions" ><%= link_to 'Show'.t, :action => :show, :id => news_feed_category.id %></td>
          <td class="list-actions" ><%= link_to 'Edit'.t, :controller => :news_feed_categories, :action => :edit, :id => news_feed_category.id %></td>
          <td class="list-actions" ><%= link_to 'Destroy'.t, news_feed_category, :confirm => "Remove news feed category #{news_feed_category.title}?", :method => :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br />
</div>

<div id="pager" class="pager">
	<form>
		<img class="first" src="images/icons/first.png"/>
		<img class="prev" src="images/icons/prev.png"/>
		<input class="pagedisplay" type="text"/>
		<img class="next" src="images/icons/next.png"/>
		<img class="last" src="images/icons/last.png"/>

		<select class="pagesize">
			<option value="15" selected="selected">15</option>
			<option value="30">30</option>
			<option value="50">50</option>
			<option value="100">100</option>
		</select>
	</form>
</div><br />

<%= link_to 'Add news feed category', new_news_feed_category_path %>

<script type="text/javascript">
	jQuery(document).ready(function() {
	    jQuery("#table")
		    .tablesorter({widgets: ['zebra']})
		    .tablesorterPager({container: jQuery("#pager")});
	});
</script>

