<%= error_messages_for :translation %>

<% form_for @translation, :url => {:action => :new} do |f| -%>
    <p>
      <%= f.label :title, "Title".t + ":"  %><br />
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :description, "Description".t + ":"  %><br />
      <%= f.text_field :description %>
    </p>

    <p> <%= f.label :language, "Language".t + ":" %></p>
    <p> <%= f.collection_select(:language_id,
                                @languages,
                                :id,
                                :name,
                                :prompt => "Select a language".t) %></p>

    <p>
      <%= f.submit "Create" %>
    </p>
<% end -%>

<%= link_to 'Back', :action => :index %>