<%= error_messages_for :news_feed_category %>

<% form_for @news_feed_category do |f| -%>
  <table cellpadding="5" cellspacing="0" >
      <tr>
        <th><%= "Id".t %></th>
        <th><%= "Title".t %></th>
        <th><%= "Description".t %></th>
        <th><%= "Language".t %></th>
      </tr>
      <%= render :partial => "category_translation_detail", :object => @news_feed_category.translations %>
  </table>

  <p> <%= link_to "Add Translation".t, :action => :add_translation, :id => @news_feed_category.id %></p>
  <p> <%= link_to "Back".t, :action => :index %></p>
<% end %>