<% @title = "Ad Channel Versions" %>
<table id="table" border="1">
	<thead>
		<tr>
			<th>Id</th>
			<th>Ad channel</th>
			<th>Status</th>
			<th>Resources</th>
			<th>Supported app versions</th>
			<th colspan="3"></th>
	  </tr>
	</thead>

  <tbody>
		<% for ad_channel_version in @ad_channel_versions %>
		  <tr valign="top" >
				<td><%= h ad_channel_version.id %></td>
				<td><%= h ad_channel_version.ad_channel.title %></td>
				<td><%= h ad_channel_version.ad_channel_status.status %></td>
				<td>
				  <% for composition in ad_channel_version.ad_channel_version_compositions -%>
				    <%= h composition.resource_type.title %>
				    <%= " Code: " %>
				    <%= h composition.code %>
				    <br />
				  <% end -%>
				</td>
				<td>
				  <% v = '' -%>
				  <% for app_version in ad_channel_version.app_versions -%>
				    <% if v == '' -%>
				      <%= "#{app_version.app.name} - #{app_version.number}" -%>
				      <% v = app_version.app.name -%>
			      <% else -%>
			        <% if v == app_version.app.name -%>
		            <%= " - #{app_version.number}" -%>
		          <% else -%>
		            <br />
				        <%= "#{app_version.app.name} - #{app_version.number}" -%>
				        <% v = app_version.app.name -%>
			        <% end -%>
				    <% end -%>
				    
				  <% end -%>
				</td>

				<td><%= link_to 'Show', ad_channel_version %></td>
				<td><%= link_to 'Edit', edit_ad_channel_version_path(ad_channel_version) %></td>
				<td><%= link_to 'Destroy', ad_channel_version, :confirm => 'Are you sure?', :method => :delete %></td>
		  </tr>
		<% end %>
  </tbody>
</table>

<div id="pager" class="pager">
	<form>
		<img class="first" src="images/icons/first.png"/>
		<img class="prev" src="images/icons/prev.png"/>
		<input class="pagedisplay" type="text"/>
		<img class="next" src="images/icons/next.png"/>
		<img class="last" src="images/icons/last.png"/>

		<select class="pagesize">
			<option value="15" selected="selected">15</option>
			<option value="30">30</option>
			<option value="50">50</option>
			<option value="100">100</option>
		</select>
	</form>
</div>
<br />
<br />

<%= link_to 'New Ad Channel Version', new_ad_channel_version_path %>

<script type="text/javascript">
	jQuery(document).ready(function() { 
	    jQuery("#table") 
		    .tablesorter({sortColumn: '#app', dateFormat: 'mm/dd/yyyy', widgets: ['zebra']}) 
		    .tablesorterPager({container: jQuery("#pager")}); 

	});
</script>
