<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>
      <% unless @title.blank? %>
        <%= "Nano Online" + " - " + @title %>
      <% else %>
        <%= "Nano Online" %>
      <% end %>
    </title>
		
    <%= stylesheet_link_tag 'nano', :media => 'all' %>
		<%= javascript_include_tag :defaults, "jquery", "jquery.tablesorter.js", "jquery.tablesorter.pager.js" %>
		
		<script language="javascript">
			var $j = jQuery.noConflict();
		</script>

  </head>

  <body id="device">
    <div id="columns">
      <div class="bordaBox">
        <b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
        <div id="side" class="conteudobox">
					<img id="logo" src="/images/nano_online.png" />
          <%= link_to 'Submissions'.t, :controller => 'submissions' %><br/><br/>

          <%= link_to 'Applications'.t, :controller => 'apps' %><br/>
          <%= link_to 'Application versions'.t, :controller => 'app_versions' %><br/>
          <%= link_to 'Application categories'.t, :controller => 'app_categories' %><br/><br/>

          <%= link_to 'Customers'.t, :controller => 'customers' %><br/>
          <%= link_to 'Ranking entries'.t, :controller => 'ranking_entries' %><br/>
          <%= link_to 'Ranking types'.t, :controller => 'ranking_types' %><br/>
          <%= link_to 'Unit Formats'.t, :controller => 'unit_formats' %><br/><br/>

          <%= link_to 'Weekly Download Report'.t, :controller => 'week_report' %><br/>
          <%= link_to 'Weekly Access Report'.t, :controller => 'access_report' %><br/>
          <%= link_to 'Download Problem Report'.t, :controller => 'nodownload_report' %><br/><br/>

          <%= link_to 'Downloads'.t, :controller => 'downloads', :action => 'index' %><br/>
          <%= link_to 'Download codes'.t, :controller => 'download_codes' %><br/>
          <%= link_to 'MIDlet reports'.t, :controller => 'midlet_reports' %><br/>
          <%= link_to 'Apple Downloads'.t, :controller => 'apple_downloads' %><br/><br/>

          <%= link_to 'Devices'.t, :controller => 'devices' %><br/>
          <%= link_to 'Vendors'.t, :controller => 'vendors' %><br/>
          <%= link_to 'Families'.t, :controller => 'families' %><br/><br/>

          <%= link_to 'Advertisers'.t, :controller => 'advertisers' %><br/>
          <%= link_to 'Ad campaigns'.t, :controller => 'ad_campaigns' %><br/>
          <%= link_to 'Ad pieces'.t, :controller => 'ad_pieces' %><br/>
          <%= link_to 'Ad piece versions'.t, :controller => 'ad_piece_versions' %><br/>
          <%= link_to 'Ad channels'.t, :controller => 'ad_channels' %><br/>
          <%= link_to 'Ad channel versions'.t, :controller => 'ad_channel_versions' %><br/>
          <%= link_to 'Ad channel statuses'.t, :controller => 'ad_channel_statuses' %><br/>
          <%= link_to 'Resources'.t, :controller => 'resources' %><br/>
          <%= link_to 'Resource types'.t, :controller => 'resource_types' %><br/>
          <%= link_to 'Resource file types'.t, :controller => 'resource_file_types' %><br/><br/>

          <%= link_to 'News feeds'.t, :controller => 'news_feeds' %><br/>
          <%= link_to 'News feed categories'.t, :controller => 'news_feed_categories' %><br/><br/>

          <%= link_to 'Partners'.t, :controller => 'partners' %><br/>
          <%= link_to 'Integrators'.t, :controller => 'integrators' %><br/>
          <%= link_to 'Operators'.t, :controller => 'operators' %><br/><br/>

          <%= link_to 'MIDP versions'.t, :controller => 'midp_versions' %><br/>
          <%= link_to 'CLDC versions'.t, :controller => 'cldc_versions' %><br/>
          <%= link_to 'Devices bugs'.t, :controller => 'device_bugs' %><br/>
          <%= link_to 'Optional APIs'.t, :controller => 'optional_apis' %><br/>
          <%= link_to 'Undetected user-agents'.t, :controller => 'undetected_user_agents' %><br/>
          <%= link_to 'Bands'.t, :controller => 'bands' %><br/>
          <%= link_to 'Data services'.t, :controller => 'data_services' %><br/><br/>

          <%= link_to 'Change Password'.t, :controller => 'users', :action => 'change_password' %><br/>

          <p>
            <%= link_to 'Users'.t, :controller => 'users' %><br/>
            <%= link_to 'User roles'.t, :controller => 'user_roles' %><br/><br/>
            <%= link_to 'Log out'.t, :controller => 'login', :action => 'logout' %><br/>
          </p>
        </div>
        <b class="b4"></b><b class="b3"></b><b class="b2"></b><b class="b1"></b>
      </div>
    </div>

    <div id="main">
      <% if flash[:notice] -%>
        <div id="notice" ><%= flash[:notice] %></div>
      <% end -%>
      <%= yield :layout %>
    </div>
  </body>
</html>
