<?xml version="1.0"  encoding="UTF-8"?><!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd"><html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/wap.css" />

    <title>Nano Games</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>
    <div align="center" style="background-image: url(/images/line2.png); background-repeat:repeat-x; padding: 13px 5px 4px 5px;">
      <img src="/images/logo.png"  width="101" height="41" />
    </div>
    <div align="center" style="background-image: url(/images/line2.png); background-repeat:repeat-x; padding: 13px 5px 4px 5px;"/>

    <div align="center" class="texto">
      <%= yield() %>
    </div>

    <div style="background-image: url(/images/line_bottom.png); background-repeat:repeat-x; padding: 15px 5px 5px 5px; margin-top:10px">
      <p align="center" class="titulo"><a href="http://d.nanogames.com.br">Voltar para a página principal</a></p>
    </div>

  </body>
</html>

