<div id="jp_container_<%= video.id %>" class="jp-video jp-video-360p">
  <div class="jp-type-single">
    <div id="jquery_jplayer_<%= video.id %>" class="jp-jplayer"></div>
    <div class="jp-gui">
      <div class="jp-video-play">
        <a href="javascript:;" class="jp-video-play-icon" tabindex="1">play</a>
      </div>
      <div class="jp-interface">
        <div class="jp-progress">
          <div class="jp-seek-bar">
            <div class="jp-play-bar"></div>
          </div>
        </div>

        <div class="jp-controls-holder">
          <ul class="jp-controls">
            <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
            <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
            <!--	<li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>                       -->
            <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
            <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
            <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
          </ul>
          <div class="jp-volume-bar">
            <div class="jp-volume-bar-value"></div>
          </div>
          <div class="jp-current-time"></div>
          <div class="jp-duration"></div>
        </div>
      </div>
    </div>
    <div class="jp-no-solution">
      <span>Update Required</span>
      To play the media you will need to either update your browser to a recent version or update your
      <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
    </div>
  </div>
</div>

<%= content_for :head do %>
  <link href="/stylesheets/iframe.css" rel="stylesheet" type="text/css"/>

  <script type="text/javascript">
    //<![CDATA[
    $(document).ready(function() {
      $("#jquery_jplayer_<%= video.id %>").jPlayer({
        ready: function () {
          $(this).jPlayer("setMedia", {
            m4v: "http://bolsao2012.com.br/system/videos/<%= video.filename %>.m4v",
            ogv: "http://bolsao2012.com.br/system/videos/<%= video.filename %>.ogv",
            webmv: "http://" + window.location.host + "/system/videos/<%= video.filename %>.webm",
            poster: "http://bolsao2012.com.br/system/videos/poster/<%= video.poster %>.jpg"
          });
        },
        swfPath: "/swf",
        supplied: "webmv, ogv, m4v",
        solution:"flash, html",
        cssSelectorAncestor: "#jp_container_<%= video.id %>",
        size: {
          width: "640px",
          height: "360px",
          cssClass: "jp-video-360p"
        }
      });
    });
    //]]>
  </script>
<% end %>