<div class="conteudo_menu informacoes scroll-pane">
  <h4 class="tit_sobre">Sobre o Bols&atilde;o 2012</h4>

  <p class="esclarecer">
    O Bolsão do Pensi é a oportunidade que todo aluno tem de conquistar
    os melhores lugares e as melhores notas. Os estudantes são avaliados
    através de uma prova e podem ganhar desconto na mensalidade de acordo
    com seu desempenho. As provas do Bolsão acontecem em cinco oportunidades, confira abaixo:
  </p>

  <!--    <span class="enfase">17 de Setembro - 29 de Outubro - 26 de Novembro</span>
      <span class="enfase">10 de Dezembro - 14 de Janeiro - Fevereiro de 2012</span>-->
  <img class="datas" src="/images/tabela_datas.jpg" width="285" height="56" alt=""/>

  <p class="esclarecer">
    É importante esclarecer que o Bolsão não é um processo seletivo.
    Todos os alunos que participam podem estudar no Pensi. Portanto,
    fique atento às datas, pegue as dicas aqui mesmo no site e venha estudar os melhores.
  </p>
</div>

<script>
  $(function() {
    $('.scroll-pane').jScrollPane({showArrows: true});

    $('#curso').click(function() {
      window.location = '/home'
    });
  });
</script>


 <!--
<span class="hidden">Sobre o Bols&atilde;o</span>
-->