<%= content_for :stylesheets do %>
  <link rel="stylesheet" href="/stylesheets/pagamento.css" type="text/css">
<% end %>
<div class="escolha clearfix">
  <p>Qual publicação você quer trocar por essa dica?</p>
  <%= link_to image_tag("post_tweet.png"), "/auth/twitter?video_id=#{@video.id}", :class => "post_twitter", :id => "post_twitter" %>
  <%= link_to image_tag("post_facebook.png"), "/auth/facebook?video_id=#{@video.id}", :class => "post_face", :id => "post_face" %>
</div>

<script>
  $('#post_face').click(function() {
    $('body').css('background-image', 'none');
    top.resizeTo(996, 764);
  });
</script>
