<div class="conteudo_menu informacoes">
  <h4 class="tit_duvidas"><span class="hidden">D&uacute;vidas Frequentes</span></h4>

  <p class="esclarecer">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Nullam semper rutrum nisi in ornare. Sed eu nisl lacus, at
    feugiat orci. Nam et felis at mi iaculis pharetra in at tortor.
    Sed ultrices tortor vel tortor bibendum ultrices ac et libero.
    Nullam nec ante lectus, ut cursus eros. Sed non commodo arcu.
    Praesent molestie, dolor ut consequat mattis, purus magna
    sagittis nisi, sed gravida odio magna id lacus. Sed dignissim,
    massa eget sollicitudin iaculis, ante sapien euismod augue,
    vel dapibus orci felis vitae risus. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Ut hendrerit quam ut quam congue
    eu suscipit turpis luctus. Nullam hendrerit dictum sapien, quis
    ultrices lacus congue ut. Pellentesque accumsan leo sed orci
    eleifend pellentesque. Vivamus non mauris sed lacus fringilla
    ullamcorper. Nam nec turpis nec nisi ornare porta non eu nisl.
    Aliquam erat volutpat. Proin lobortis cursus dictum.
  </p>
</div>