<div class="conteudo_menu video_conteudo scroll-pane">
  <ul id="video_list">
    <% @videos.each do |video| %>
      <li class="video_lista1 <%= video.category.id if video.category %>">
        <a class="link_video <%= current_user && current_user.bought?(video) ? 'watch' : 'buy' %> <%= video.id %>" id=<%= video.id %> name=<%= video.id %>>
          <img src="/system/videos/thumb/<%= video.professor %>.jpg" width="141" height="105" alt="">
        </a>

        <h4><%= video.name %></h4>

        <p class="professor">Professor:</p>

        <p class="nome_pessoa"><%= video.professor %></p>

        <p class="data_video"><%= video.created_at.strftime('%d /%m/%Y') %></p>

        <div class="link_midias">
          <% if current_user && current_user.bought?(video) %>
            <a class="barra_de_midias watch <%= video.id %>" href="#" name=<%= video.id %>>
              <img src="../images/assistir_dica.png" width="156" height="41" alt="Assistir dica" class='watch'>
              <img src="../images/bt_trocar.png" alt="Trocar por um post no Twitter ou Facebook" class='buy'>
            </a>

          <% else %>
            <a class="barra_de_midias buy buy_with_a_tweet <%= video.id %>" href="#" name=<%= video.id %>>
              <img src="../images/assistir_dica.png" width="156" height="41" alt="Assistir dica" class='watch'>
              <img src="../images/bt_trocar.png" alt="Trocar por um post no Twitter ou Facebook" class='buy'>
            </a>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<div class="overlay" style='display:none;'>
  <div class="video">
    <a class="close" href="#"><img src="/web/skin/blue.monday/close.png" width="34" height="36" alt="Close"/></a>
    <iframe id='player' name='player' src="/blank" width="790" height="415" scrolling="no" frameborder="0"></iframe>
  </div>
</div>

<script>
  $('a.buy').live('click', function() {
    if (!window.focus) return true;

    var id = $(this).attr('name');
    window.open("/buy/" + id, '', 'width=694,height=328,scrollbars=no');
    return false;
  });

  $(function() {
    $('.scroll-pane').jScrollPane({showArrows: true});

    $('#curso').change(function() {
      var id = $(this).val();

      if (id == -1) {
        $('.materia').hide();
        $('.video_lista1').show();
        $('#materia_default').show();
        $('.scroll-pane').jScrollPane({showArrows: true});
        return;
      }

      $('#' + id + '_default').attr('selected', 'selected');
      $('.materia').hide();


      $('.video_lista1').show();
      $('.' + $(this).val()).show();
    });

    $('.materia').change(function() {
      $('.conteudo_menu').css('visibility', 'visible');

      if ($(this).val() != -1) {
        $('#video_list').children().hide();
        $('#video_list').find('.' + $(this).val()).show();

        $('.scroll-pane').jScrollPane({showArrows: true});
      }
    });

    $('.close').click(function() {
      $('.overlay').hide();
      frames['player'].location.href = "http://" + window.location.host + "/blank"
    });

    $('a.watch').live('click', function() {
//      console.log($(this).attr('id'));
      var id = $(this).attr('name');
      frames['player'].location.href = "http://" + window.location.host + "/videos/" + id
      $('.overlay').show();
    });
  });

  var activate = function(ids) {
    for (var i = 0; i < ids.length; i++) {
      var element = $('.' + ids[i]);
      element.removeClass('buy');
      element.addClass('watch');
    }
  }

  var play = function(id){
    $('#' + id).click();
  }

  var deactivate = function(ids) {
    for (var i = 0; i < ids.length; i++) {
      $('.' + ids[i]).removeClass('watch');
      $('.' + ids[i]).addClass('buy');
    }
  }
</script>