<%= content_for :stylesheets do %>
  <link rel="stylesheet" href="/stylesheets/pagamento.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/post_rede_social.css" type="text/css">
<% end %>

<div class="escolha clearfix">
  <span>Agora é só publicar o post e pegar sua dica.</span>
  
  <div class="pseudo_post">
    Estude com os melhores! Eu já peguei minha <%= current_user.purchases.count + 1 %>ª dica para o Bolsão 2012 do PENSI. Pegue a sua em http://www.bolsao2012.com.br #ficadica
  </div>

  <%= form_tag "/pages/send_share", :class => 'postagem' do %>
    <%= flash[:notice] if flash[:notice] %>

    <%= hidden_field_tag :video_id, @video.id %>
    <%= hidden_field_tag :provider, params[:provider] %>

    <%= button_to '', {}, :class => "post_rede_social #{params[:provider] == 'facebook' ? 'button_face' : 'button_twitter'}" %>
  <% end %>
</div>

<script>
  top.resizeTo(694, 386);
</script>
