<%= content_for :stylesheets do %>
  <link rel="stylesheet" href="/stylesheets/pagamento.css" type="text/css">
  <link rel="stylesheet" href="../stylesheets/sucesso.css" type="text/css">
<% end %>

<div class="escolha clearfix">
  <p>Sua dica foi conquistada com sucesso.</p>

  <p class="descricao">Esperamos que ela seja &uacute;til para voc&ecirc; conquistar tamb&eacute;m as melhores
    notas.</p>
  <a class="assistir" href="<%#  %>"><img src="../images/assistir_dica.png" width="156" height="41" alt="Assistir dica"></a>
</div>

<script>
  $('.assistir').click(function(){
    window.opener.activate(<%= current_user.purchases.map { |p| p.video_id } %>);
    window.opener.play(<%= @video.id %>);
    window.close();
  });
</script>