<%= content_for :stylesheets do %>
  <link href="/web/skin/blue.monday/jplayer.blue.monday.css" rel="stylesheet" type="text/css"/>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
  <script type="text/javascript" src="/web/js/jquery.jplayer.min.js"></script>
<% end %>

<%= render :partial => 'video', :locals => { :video => @video } %>