<h1><%= h "Editing operator #{ @operator.name }" %></h1>

<% form_for(@operator) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
	Integrators
	<%
	  integrators = Integrator.find( :all, :order => 'name' )
	  if ( integrators.empty? )
	%>
	<br/>No integrators found in database.<br/>
	<%
	  else
	   for integrator in integrators
	%>
	  <div>
		<%= check_box_tag "operator[integrator_ids][]", integrator.id, @operator.integrators.include?( integrator ) %>
		<%= h integrator.name %>
	  </div>
	<%
		end
	  end 
	%>
  </p>  
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', operators_path %>
