<div id="product-list">
  
  <h1>Operators list</h1>

  <table cellpadding="5" cellspacing="0" >
	<tr>
	  <th>Id</th>
	  <th>Name</th>
	  <th>Integrators</th>
	</tr>

  <% for operator in @operators%>
	<tr valign="top" class="<%=cycle('list-line-odd', 'list-line-even' ) %>" >
	
	  <td class="list-title" ><%=h operator.id %></td>
	  <td class="list-title" ><%=h operator.name %></td>
	  <td class="list-title" >
		<% if ( operator.integrators.empty? ) %>
		  <%= 'None' %>
		<% 
		  else
			for integrator in operator.integrators
		%>
		  <%= h integrator.name %><br/>
		<%
			end
		  end
		%>		
	  </td>	  
	  
	  <td class="list-actions" ><%= link_to 'Edit', edit_operator_path(operator) %></td>
	  <td class="list-actions" ><%= link_to 'Destroy', operator, :confirm => "Remove operator " + operator.name + '?', :method => :delete %></td>
	</tr>
  <% end %>
  </table>

  <br />

</div>

<%= link_to 'Add operator', new_operator_path %>
