<div style="position:relative">
  <a href="http://mobile.mundonick.uol.com.br/" target="_blank">
    <div id="Layer2" style="position:absolute; width:113px; height:546px; z-index:12; left: -122px; _left:-455px; top: 6px; _top: 0px; display:inline">
      <%= image_tag 'transparencia.gif' %>
      <map name="Map2">
        <area shape="rect" coords="2,2,112,548" href="http://mobile.mundonick.uol.com.br/" target="_blank">
      </map> 
    </div>
  </a>

  <div style="position:absolute; width:115px; height:550px; z-index:11; left: -128px; _left: -461px; top:0px; _top:0px; border: 3px; border-color:#005C67; background-color: #005C67; layer-background-color: #005C67; padding-left:5px; padding-top:5px;  padding-right:5px; padding-bottom:5px; display:inline">
    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="115" height="550" align="middle">
      <param name="movie" value="../banners/banner_left.swf">
      <param name="quality" value="high">
      <param name="wmode" value="transparent">
      <embed src="../banners/banner_left.swf" width="115" height="550" align="middle" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent">
      </embed> 
    </object> 
  </div>

  <a href="/static/web_contact">
    <div style="position:absolute; width:118px; height:15px; z-index:11; left: -128px; _left: -461px; top:564px; _top: 564px; border: 3px; border-color:#005C67; background-color: #003f46; layer-background-color: #003f46; padding-top:5px; padding-bottom:5px; display:inline; text-align:center; border:4px solid #005c67">
      <span class="subtitulojogo">
        Anuncie Aqui
      </span>
    </div>
  </a>
</div>

