<div class="bordaBox" style="padding-top:20px ; padding-left:20px ; padding-right:20px ; _padding-right:10px ; float:left; height:73px;  _width:290px">  
  <%= render :partial => "box_content", :locals => {:link => link,
                                                    :image => image,
                                                    :title => title,
                                                    :sub_title => sub_title} %>
</div>
