    <b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
    <div class="conteudobox">
      <div style="height:60px ">
        <a href=<%= link %>>
          <img src=<%= image %> width="63" height="61" border="0" style="float:left; padding-left:5px; _margin-left:10px ">
        </a>
        
        <div style="float:left; padding:10px">
          <a href=<%= link %>>
            <span class="titulojogo">
              <%= title %>
            </span>
            <br />
            <span class="subtitulojogo">
              <%= sub_title %>
            </span>
          </a> 
        </div>
      </div>
    </div>
    <b class="b4"></b><b class="b3"></b><b class="b2"></b><b class="b1"></b>
