<div class="topico_conteudo">
  <div class="linha">
    <div class="coluna" style="width:260px; _width:258px;">
      <div>
        <% if video -%>
          <script type="text/javascript">
            AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','180','height','325','src','../videos/'+<%= video_file %> ,'quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','movie',<%= video_file %>, 'wmode','transparent' ); //end AC code
          </script>
          
          <noscript>
            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="180" height="325">
              <param name="movie" value=<%= flash_video %> >
              <param name="quality" value="high">
              <embed src=<%= flash_video %> quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="180" height="325"></embed>
            </object>
          </noscript> 
        <% else -%>
          <script type="text/javascript">
            AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','180','height','325','src','<%= tela %>','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','movie','<%= tela %>','wmode','transparent'  ); //end AC code
          </script>
          
          <noscript>
            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="180" height="325">
              <param name="movie" value=<%= tela %>+".swf">
              <param name="quality" value="high">
              <embed src=<%= tela %>+".swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="180" height="325"></embed>
            </object>
          </noscript>   
        <% end -%>      
      </div>
    </div>

    <div class="coluna" style="width:401px;">
      <div class="nomejogo">
        <h1>
          <%= name %>
        </h1>
      </div>
      
      <div class="imagemjogo">
        <img src=<%= banner %> alt="Jogo celular, Nick, Nano Games" width="398" height="182">
      </div>

      <div class="sodois">
        <img src="../images/trans.gif" width="2" height="2">
      </div>
      
      <div class="botoesjogo">
        <a class="imgvideo" href="?video=video"></a>
        <a href="#comocomprar"  class="imgcomprar"></a>
        <a href="#celulares" class="imgaparelhos"></a>
        <a href="#dicas" class="imgdica" ></a>
        <a class="imgfoto" href="?video=imagens" ></a>
      </div>
    </div>
  </div>
</div>
