<div class="topicodestaque">
  <div class="linha">
  <div class="coluna" style="width: 432px; height: 264px; margin-top:8px ">
    <a href="/static/brazooka_soccer">
      <div class="destaque">
      </div>

      <div class="destaquefundo">
        <div align="left">
          <div id="Layer1" style="position:relative; width:410px; height:67px; z-index:1; left: 19px; top: 6px;">
            <span class="destaquetitulo">
              Brazooka Soccer,
              <span class="textodestaque">
                o novo jogo de faltas para iPhone!
              </span>
            </span>

            <span class="textodestaque">
              <br>
              <br>

              Encare esse divertido campeonato de faltas, onde o seu desafio é <br>
              fazer gols nos melhores ângulos!
            </span>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="ranking">
    <img src="../images/nanoca_ranking.gif"  style=" margin-bottom:-59px; margin-left:12px;">

    <b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>

    <div class="lista"  style="  padding-top:53px" align="center">
      <div style="background:#001220; width:200px; padding-top:2px">
	      <%= render :partial => 'ranking_entries/high_score_details' %>
      </div>
    </div>
    <b class="b4"></b><b class="b3"></b><b class="b2"></b><b class="b1"></b>
  </div>
</div>
</div>

<div class="linhatopicocima">
</div>

