<div class="rodape">
</div>

<div>
  <span class="fonte">
    <strong>
      Jogos e Aplicativos desenvolvidos:
    </strong>
  </span>
  <br>
  &nbsp;&nbsp;
  <br>

  <%= link_to ":: MTV - Joselito contra a farofada",        "/static/joselito" %><br />
  <%= link_to ":: FullPower - Drag Race",                   "/static/fullpower_drag_race" %><br />
  <%= link_to ":: Bob Esponja - Fábrica de Siriburguer",    "/static/bob_esponja" %><br />
  <%= link_to ":: Jimmy Neutron - Enigma das Supernovas",   "/static/jimmy_neutron" %><br />
  <%= link_to ":: Mini Olimpíadas - Levantamento de Peso",  "/static/levantamento_de_peso" %><br />
  <%= link_to ":: Mini Olimpíadas - Barrigadas Ornamentais","/static/barrigadas_ornamentais" %><br />
  <%= link_to ":: Mini Olimpíadas - Ginástica do Away",     "/static/ginastica_do_away" %><br />
  <%= link_to ":: Penalti MTV com Cléééston",               "/static/penalti_com_cleston" %><br />
  <%= link_to ":: Biritômetro",                             "/static/biritometro" %><br />
  <%= link_to ":: Space Goo",                               "/static/space_goo" %><br />
  <%= link_to ":: Pepsi Cai Bem",                           "/static/pepsi_cai_bem" %><br />
  <%= link_to ":: Brazooka Soccer",                         "/static/brazooka_soccer" %><br />
  <%= link_to ":: Seda Puzzle",                             "/static/seda_puzzle" %><br />
  <%= link_to ":: Dancin' Rio",                             "/static/dancinrio" %><br />
  <%= link_to ":: Lux Gotas de Belezas",                    "/static/lux" %><br />
  <%= link_to ":: Superlux",                                "/static/superlux" %><br />
</div>