<div class="menutopico" style="padding:10px">
  <div class="busca">
    <form method="get" action="busca.php">                                       
      <input type="text" name="zoom_query" size="20" style="vertical-align:middle;" />
      <%= image_tag 'buscar_but.gif', {:style => "vertical-align:middle;"} %>
    </form>
  </div>	     

  <div style="float:right;  margin-top:-2px ;_margin-top:0px; *margin-top:0px ">
    <%= link_to image_tag('nanoca_blog_V.gif'), "http://blogdananoca.blogspot.com/" %>
    <%= link_to image_tag('orkut_V.gif'), "http://www.orkut.com.br/Main#Community.aspx?cmm=40037651" %>
    <%= link_to image_tag('my_space_V.gif'), "http://groups.myspace.com/index.cfm?fuseaction=groups.groupProfile&groupID=107143414&Mytoken=A3130AA7-65F4-4940-A46E0EDBBE6C56A2283849103" %>
    <%= link_to image_tag('facebook_V.gif'), "http://www.facebook.com/group.php?gid=8924566823" %>
    <%= link_to image_tag('rss_v.gif'), "http://www.nanogames.com.br/rss.xml" %>
  </div>
</div>
