<div class="rodape" style="height:50px ">
  <span class="cabecalho">
    <%= link_to "Home", root_path %> ::
    <%= link_to "Sobre a Nano", '/static/about' %> ::
    <%= link_to "Notícias", '/static/news' %> ::
    <%= link_to "Parceiros", '/static/partners' %> ::
    <%= link_to "Contato", '/static/web_contact' %>
  </span>
  <div class="fonte"align="center" style="padding-top:10px ">
    &copy;2007 - <%= Time.now.year %> Nano Games Ltda. Todos os direitos reservados.
  </div>
</div>
