<%= render :partial => "destaque_java", :locals => {  :video => @video,
                                                      :video_file => "video_barrigada",
                                                      :flash_video => "../flash/video_barrigada.swf",
                                                      :tela => "../flash/tela_barrigada",
                                                      :name => "Mini Olimpíadas - Barrigadas Ornamentais",
                                                      :banner => "../banners/banner_barrigadas.gif" } %>

  <div class="divisaoconteudo"></div>   	       
    
    <div class="conteudo" style="padding: 14px;"><span class="cabecalho">
	
	 <a name="dicas"></a> :: dicas e instru&ccedil;&otilde;es </span><br>
   	        <br>
      <span class="fonte">Depois de muitos anos de persistência em fortes treinamentos, Boça resolveu mostrar toda a sua agilidade e flexibilidade num palco à sua altura: as olimpíadas!</span></p>
   	  <p><span class="fonte"> Escolha seus movimentos e mostre toda a sua agilidade e precisão para realizar as melhores barrigadas dos jogos olímpicos!
	 <br> <br>
	 Algumas dicas de como conquistar o pódio olímpico:
	 <br><br>
<strong>MODOS DE JOGO</strong>
<br><br>
<strong>TREINO:</strong>Você sabe que o Boça, assim como as formigas, é um ser persistente, né, meu? No modo treino você pode escolher a altura do trampolim para aprimorar suas técnicas, preparando-se para um desafio cabrêêêêêra: as Olimpíadas!
<br><br>
<strong>OLIMPÍADAS:</strong> Aqui não pode trepidar, meu! Tem que ser muito sagaz pra atingir a pontuação mínima e poder passar pra uma plataforma mais alta. A cada nível, a pontuação mínima exigida aumenta! Tente ir o mais alto possível e marcar o maior número possível de pontos!
<br>
Conforme você passa dos níveis no modo olimpíadas, novas alturas de plataforma ficam disponíveis no modo treino.
<br><br>
<strong>CONTROLES</strong>
<br><br>
<strong>IMPULSÃO:</strong>
Aperte uma tecla para pular no trampolim, e aperte de novo quando o trampolim estiver na posição indicada pela seta, para conseguir o máximo de impulsão. Quanto mais alto seu pulo, mais tempo você tem para fazer os movimentos, e mais pontos ganha. Um movimento de impulsão perfeito vale 5 pontos.
<br><br>
<strong>MOVIMENTOS:</strong>
Aperte as teclas indicadas na parte esquerda da tela para realizar seus movimentos. Nos movimentos de rotação, aperte a tecla indicada e só solte quando seu ícone sumir. Cada movimento vale até 10 pontos, dependendo do seu grau de dificuldade e precisão.
<br><br>
Cada movimento tem seu grau de dificuldade e pontuação. Pontuação máxima dos movimentos:<br><br>
<table width="100%" border="0">
  <tr>
    <td><img src="../images/barrigadas/splash.png">  <b>Barrigada:</b> 15</td>
    <td><img src="../images/barrigadas/parafuso.png"> <b>Parafuso:</b> 1,5</td>
    <td><img src="../images/barrigadas/parafuso_x2.png"> <b>Parafuso 2X:</b> 3,5</td>
    <td><img src="../images/barrigadas/parafuso_x3.png"> <b>Parafuso 3X:</b> 7</td>
	
  </tr>
  <tr>
    <td><img src="../images/barrigadas/parafuso_360.png"> <b>Parafuso 360:</b> 8,5</td>
    <td><img src="../images/barrigadas/parafuso_invertido.png">  <b>Parafuso Invertido:</b> 9</td>
    <td><img src="../images/barrigadas/parafuso_720.png">  <b>Parafuso 720:</b> 10</td>
    <td><img src="../images/barrigadas/estrela.png"> <b>Estrela:</b> 1,5</td>
	
  </tr>
  <tr>
    <td><img src="../images/barrigadas/estrela_x2.png"> <b>Estrela 2X:</b> 3,5</td>
	<td><img src="../images/barrigadas/estrela_x3.png"> <b>Estrela 3X:</b> 7</td>
    <td><img src="../images/barrigadas/estrela_360.png"> <b>Estrela 360:</b> 8,5</td>
    <td><img src="../images/barrigadas/estrela_720.png"> <b>Estrela 720:</b> 10</td>
	
  </tr>
  <tr>
    <td><img src="../images/barrigadas/bomba_360.png">  <b>Bomba 360:</b> 3,5</td>
    <td><img src="../images/barrigadas/bomba_720.png"> <b>Bomba 720:</b> 5</td>
	<td><img src="../images/barrigadas/bomba_invertida.png">  <b>Bomba Invertida:</b> 6,5</td>
     </tr>
    <tr>
     <td><img src="../images/barrigadas/cofrinho_360.png"> <b>Cofrinho 360:</b> 4,5</td>
	<td> <img src="../images/barrigadas/cofrinho_720.png"> <b>Cofrinho 720:</b> 6,5</td>
  </tr>
 </table>


<br><br>
<strong>BARRIGADA:</strong>
A barrigada é fundamental, e sempre deve ser o último movimento realizado. Quanto melhor a técnica, mais água espirra, e mais pontos você ganha! Uma barrigada perfeita vale 15 pontos.
<br><br>
<b>Para dar uma barrigada perfeita 3 fatores são importantes:</b>
<br>1. consiga o maior impulso possível
<br>2. o último movimento, o da barrigada, precisa estar completo, mostrando graciosidade e precisão.
<br>3. seu pânceps, ou pança, deve estar paralelo à água. Outros ângulos de entrada descontam pontos. Se você estiver no ângulo errado, aperte as teclas 4, 6, esquerda ou direita para corrigir seu ângulo. </span>
      </p>
   	  <div align="right"><a href="#topo">:: topo ::</a></div>
   	      <br>
		  <br>
		  <div class="rodape"></div>
	
  <a name="comocomprar"></a>
   	   
	   <br>
        
	    </span><div class="jogos" style="height:110px; margin-top:30px;_margin-top:60px; *margin-top:60px;">
		    <div class="claro" style="position:relative">
			</div>
		    <div class="bordaBox" style="padding-top:10px ; padding-left:10px ;padding-right:10px ; _padding-right:10px ;float:left; height:73px ; _width:410px; width:400px">
            <b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
            <div class="conteudobox" style="height:75px ; padding-top:2px">
               
			   <div class="fonte" align="center" style="float:left ; padding-left:5px">
                <span class="sms">Envie um SMS<br>com o texto <br><span class="sms" style="color:#FFFF00">NANO</span> para <span class="sms" style="color:#FFFF00">250</span><br></span>
			   </div>

			   <div class="divisoria">
			   </div>
			   
			   <div class="fonte" style="float:left; width:195px; height:65px">Você irá receber uma mensagem SMS com um link para o portal de download dos jogos da Nano Games. Selecione o jogo desejado para iniciar  o download.
			   </div>
			   
		      </div>
            <b class="b4"></b><b class="b3"></b><b class="b2"></b><b class="b1"></b>
          </div> 
		
		       <div class="bordaBox" style="padding-top:10px ; float:left; _width:95px; width:98px;">
                    <b class="b1" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b4" style="background:#00353b"></b>
                     
					<div class="conteudobox" style="background:#00353b; padding-top:0px; padding-bottom:0px">
					
					  <div style="padding-left:2px ;padding-top:0px "><span class="valor" style="font-size:11px">Valor:</span><br>
					  <span class="valor">
					    R$ 9,99</span>
			          </div>
			   
                    </div>
					
                    <b class="b4" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b1"></b>
               
			   </div>
		  
		  <div class="bordaBox" style="padding-top:4px ; float:left; _width:95px; width:98px;">
                    <b class="b1" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b4" style="background:#00353b"></b>
                     
					<div class="conteudobox" style="background:#00353b; padding-top:0px; padding-bottom:0px">
					
					  <div>
					    <div align="center" style=" padding-right:2px;"><span class="valor" style="font-size:11px"><a href="#celulares">Aparelhos disponíveis</a></span>
				        </div>
					  </div>
			   
                    </div>
					
                    <b class="b4" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b1"></b>
               
	      </div>
		    
		</div>
		
		
		<div class="linhacomocomprar"></div>
		<div style="background:#004f59; height:118px ; margin-top:-15px">
		<div class="fonte" style="padding-left:10px ">
		  <p><strong>Você também pode comprar visitando o portal Claro Idéias através do seu celular.</strong></p>
		  <p><strong>Ou ainda, acessando o site Claro Idéias: <a href="http://www.claroideias.com.br/" target="_blank">www.claroideias.com.br</a>, selecionando a opção " Claro Jogos " 
    no menu à esquerda, e depois " Jogo Download ".</strong></p>
	    </div>
	  
	    <div class="linhabaixocomocomprar">
		</div>
		
		<div class="fonte" style="font-size:10px ; padding-left:10px; padding-right:10px;"> * O tráfego para download do conteúdo será cobrado de acordo com as tarifas da sua operadora. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;© Claro 2008</div>
	
	    </div>
	  

        
	    </span><div class="jogos" style="height:110px; margin-top:70px;_margin-top:80px; *margin-top:100px;">
		    <div class="tim" style="position:relative">
			</div>
		    <div class="bordaBox" style="padding-top:10px ; padding-left:10px ;padding-right:10px ; _padding-right:10px ;float:left; height:73px ; _width:410px; width:400px">
            <b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
            <div class="conteudobox" style="height:75px ; padding-top:2px">
               
			   <div class="fonte" align="center" style="float:left ; padding-left:5px">
			     <span class="sms">Envie um SMS<br>
                com <span class="sms" style="color:#FFFF00">55249706<br>
                </span>para <span class="sms" style="color:#FFFF00">9696</span>
			    </span>
               </div>

			   <div class="divisoria">
			   </div>
			   
			   <div class="fonte" style="float:left; width:195px; height:65px">Você irá receber uma mensagem SMS com um link para o download. Tenha certeza de estar com o seu aparelho dentro da área de cobertura de sua operadora.
			   </div>
			   
		      </div>
            <b class="b4"></b><b class="b3"></b><b class="b2"></b><b class="b1"></b>
          </div> 
		
		       <div class="bordaBox" style="padding-top:10px ; float:left; _width:95px; width:98px;">
                    <b class="b1" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b4" style="background:#00353b"></b>
                     
					<div class="conteudobox" style="background:#00353b; padding-top:0px; padding-bottom:0px">
					
					  <div style="padding-left:2px ;padding-top:0px "><span class="valor" style="font-size:11px">Valor:</span><br>
					  <span class="valor">
					    R$ 7,99</span>
			          </div>
			   
                    </div>
					
                    <b class="b4" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b1"></b>
               
			   </div>
		  
		  <div class="bordaBox" style="padding-top:4px ; float:left; _width:95px; width:98px;">
                    <b class="b1" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b4" style="background:#00353b"></b>
                     
					<div class="conteudobox" style="background:#00353b; padding-top:0px; padding-bottom:0px">
					
					  <div>
					    <div align="center" style=" padding-right:2px;"><span class="valor" style="font-size:11px"><a href="#celulares">Aparelhos disponíveis</a></span>
				        </div>
					  </div>
			   
                    </div>
					
                    <b class="b4" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b1"></b>
               
	      </div>
		    
		</div>
		
		
		<div class="linhacomocomprar"></div>
		<div style="background:#004f59; height:118px ; margin-top:-15px">
		<div class="fonte" style="padding-left:10px ">
		  <p><strong>Você também pode comprar visitando o Portal TIM através do seu celular.</strong></p>
		  <p><strong>Ou ainda, acessando o site TIM: <a href="http://www.tim.com.br/" target="_blank">www.tim.com.br</a>, selecionando a opção "Jogos" no menu &quot;Multim&iacute;dia",    localizado no lado esquerdo da p&aacute;gina.</strong></p>
	    </div>
	  
	    <div class="linhabaixocomocomprar">
		</div>
		
		<div class="fonte" style="font-size:10px ; padding-left:10px; padding-right:10px;"> * O tráfego para download do conteúdo será cobrado de acordo com as tarifas da sua operadora. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;© TIM Celular 2006</div>
	
	    </div>
	  
	  <br>
        
	    </span><div class="jogos" style="height:110px; margin-top:70px;_margin-top:80px; *margin-top:100px;">
		    <div class="mtv" style="position:relative">
			</div>
		    <div class="bordaBox" style="padding-top:10px ; padding-left:10px ;padding-right:10px ; _padding-right:10px ;float:left; height:73px ; _width:410px; width:400px">
            <b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
            <div class="conteudobox" style="height:75px ; padding-top:2px">
               
			   <div class="fonte" align="center" style="float:left ; padding-left:2px;  padding-top:7px">
                <span class="sms" style="font-size:18px">Envie um SMS<br>
                <span class="style8 style5">co</span><span class="style8">m</span> <span class="sms" style="color:#FFFF00; font-size:18px">JG350000007<br>
                </span> para <span class="style7">68810</span><br>
                </span>
			   </div>

			   <div class="divisoria">
			   </div>
			   
			   <div class="fonte" style="float:left; width:195px; height:65px">Você irá receber uma mensagem SMS com um link para o download. Tenha certeza de estar com o seu aparelho dentro da área de cobertura de sua operadora.
			   </div>
			   
		      </div>
            <b class="b4"></b><b class="b3"></b><b class="b2"></b><b class="b1"></b>
          </div> 
		
		       <div class="bordaBox" style="padding-top:10px ; float:left; _width:95px; width:98px;">
                    <b class="b1" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b4" style="background:#00353b"></b>
                     
					<div class="conteudobox" style="background:#00353b; padding-top:0px; padding-bottom:0px">
					
					  <div style="padding-left:2px ;padding-top:0px "><span class="valor" style="font-size:11px">Valor:</span><br>
					  <span class="valor">
					    R$ 2,99</span>
			          </div>
			   
                    </div>
					
                    <b class="b4" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b1"></b>
               
			   </div>
		  
		  <div class="bordaBox" style="padding-top:4px ; float:left; _width:95px; width:98px;">
                    <b class="b1" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b4" style="background:#00353b"></b>
                     
					<div class="conteudobox" style="background:#00353b; padding-top:0px; padding-bottom:0px">
					
					  <div>
					    <div align="center" style=" padding-right:2px;"><span class="valor" style="font-size:11px"><a href="#celulares">Aparelhos disponíveis</a></span>
				        </div>
					  </div>
			   
                    </div>
					
                    <b class="b4" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b1"></b>
               
	      </div>
		    
		</div>
		
		
		<div class="linhacomocomprar"></div>
		<div style="background:#004f59; height:90px ; margin-top:-15px">
		<div class="fonte" style="padding-left:10px ">
		  <p><strong>Você também pode comprar acessando o site da MTV: <a href="http://mtv.uol.com.br/celular/" target="_blank">mtv.uol.com.br/celular</a>, selecionando a opção "Downloads", e depois a op&ccedil;&atilde;o " Games " do menu.</strong></p>
		  </div>
	  
	    <div class="linhabaixocomocomprar">
		</div>
		
		<div class="fonte" style="font-size:10px ; padding-left:10px; padding-right:10px;"> * O tráfego para download do conteúdo será cobrado de acordo com as tarifas da sua operadora.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&copy; 2008 Abril Radiodifus&atilde;o S.A.</div>
	
	    </div>
	  
        <div align="right"><a href="#topo"><br>
        :: topo ::<br>
        </a>
            <br>
            <br>
      </div>
      <div class="rodape"> </div>
    	<p><span class="cabecalho">
        <a name="celulares"></a> :: aparelhos dispon&iacute;veis</span><br>
            <br>
      <span class="fonte"><strong>Benq-Siemens:</strong> C65, C70, C72, C75, C81, CF75, CF76, CL75, CV65, CX65, CX75, E71, EF81, EL71, M65, M81, ME75, S65, S68, S75, S81, S82, SF65, SK65, SK6R, SL65, SL75, SXG75</span></p>
    	<p><span class="fonte"> <strong>Gradiente:</strong> GF500, GF690, GF930</span></p>
    	<p><span class="fonte"> <strong>HTC:</strong> MTeoR, P3301, P3400, P3450 (Touch), P3470 (Pharos), P3600 (Trinity), P5500 (Touch Dual), P6300, S310, S411, S620 (Excalibur), S621 (Excalibur)
      
</span></p>
    	<p><span class="fonte"><strong>LG: </strong>C1100, C1200, C1500, C2000, G7100, KE500 (Shine), KE970 (Shine), KE990 (Viewty), KG800 (Chocolate), ME500 (Musicam), ME540 (Maxicam), ME550c(Cosmo), ME770 (Shine Slim), ME850 (Prada), ME970 (Shine), MG100, MG105 (Vibecam), MG125B (One), MG155, MG185 (Finecam), MG200 (Smartcam),MG220 (Mastercam), MG225, MG230 (Black Crystal), MG235, MG280 (Chocolight), MG295 (Star), MG296, MG320c, MG800 (Chocolate), MG810 (Black Safira), MU500, P7200, U8290</span></p>
    	<p><span class="fonte"> <strong>Motorola:</strong> A1000, A1200, A728, A780, A845, A910, A910i, C380, C381, C385, C650, C698p, C975, E1 (ROKR), E1000, E1070, E2 (ROKR), E365, E398, E6(ROKR), E680i, E6e (ROKR), E770, E8 (ROKR), K1 (KRZR), K3 (KRZR), K3m (KRZR), L6 (SLVR), L7 (SLVR), L72 (SLVR), L7i (SLVR), L9 (SLVR), MPx220,U3(PEBL), U6 (PEBL), U9 (ROKR), V180, V185, V186, V190, V191, V195, V220, V235, V237, V3 (RAZR), V300, V303, V360, V365, V3e (RAZR), V3i(RAZR), V3r (RAZR), V3t (RAZR), V3x (RAZR), V3xx (RAZR), V400, V500, V525, V550, V551, V555, V557, V6 (RAZR MAXX), V600, V635, V8 (RAZR2), V9(RAZR2), V975, V980, W490, W510, Z10, Z3 (RIZR), Z6 (ROKR)
          
</span></p>
    	<p><span class="fonte"><strong>Nokia:</strong> 2610, 2626, 2630, 2660, 2760, 2855, 2865, 3155, 3220, 5070, 5140, 5200, 6020, 6030, 6060, 6061, 6070, 6080, 6085, 6086, 6101, 6102, 6103,6111, 6125, 6126, 6131, 6133, 6136, 6151, 6155, 6165, 6170, 6230, 6233, 6234, 6235, 6255, 6265, 6267, 6270, 6275, 6280, 6282, 6288, 6300, 6822, 7260, 7270, 7360, 7370, 7373, 7390, 1680 Classic, 2600 Classic, 2680 Slide, 2865i, 3109 Classic, 3110 Classic, 3120 Classic, 3155i, 3250,3500 Classic, 3555, 3600 Slide, 5000, 5140i, 5220 XpressMusic, 5300 XpressMusic, 5310 XpressMusic, 5500, 5610 XpressMusic, 5700 XpressMusic, 6102i, 6110 Navigator, 6120 Classic, 6121 Classic, 6124 Classic, 6131 NFC, 6155i, 6210 Navigator, 6212 Classic, 6220 Classic, 6230i, 6235i, 6263,6265i, 6275i, 6290, 6300i, 6301, 6500 Classic, 6500 Slide, 6555, 6600 Fold, 6600 Slide, 6630, 6680, 6681, 6682, 7210 Supernova, 7310 Supernova, 7500 Prism, 7510 Supernova, 7610 Supernova, 7900 Prism, 8600 Luna, 8800 Arte, 8800 Sirocco Edition, E50, E51, E61, E61i, E62, E65, E66, E71, N71, N72, N73, N75, N76, N77, N78, N81, N82, N91, N92, N93, N93i, N95, N96</span></p>
    	<p><span class="fonte"> <strong>Samsung:</strong> A706, C417, C420, D500, D520, D600, D800, D820, D830, D836 (Ultra 9), D840, D900, E210, E250, E350, E370, E490, E570, E740, E830, E840, E898, E900, F500, G600, J600, M610, P260, P520, P858, T429, T539, T729, U100, U106 (Lean), U600, U700, X540, X560, X650, X658, X678, X708, X820, Z130, Z150, Z400, Z540, Z560, Z720, ZV50</span></p>
    	<p><span class="fonte"> <strong>SonyEricsson:</strong> C702, C902, C905, D750, F305, F500, G502, G700, G900, K300, K310, K320, K500, K510, K530, K550, K600, K608, K610, K618, K630, K660, K700, K750, K758, K770, K790, K800, K810, K818, K850, K858, M600, M608, P1, P900, P910, P990, S500, S700i, S710, T280, T650, T658, V600, V630, V640, V800, V802SE, W200, W300, W350, W380, W550, W580, W600, W610, W618, W660, W700, W710, W750, W760, W800, W810, W830, W850, W880, W888, W890, W898, W900, W908, W910, W950, W958, W960, W980, Z1010, Z250, Z258, Z300, Z300, Z310, Z320, Z520, Z525, Z530, Z550, Z555, Z558, Z610, Z710, Z750, Z770, Z780, Z800 </span>
      </p>
    	<div align="right"><a href="#topo">:: topo ::</a><br>
   	  </div>

    
    </div>
    <%= render :partial => 'link_jogos' %>	
    <div align="center"><span class="fonte"><span class="fonte">&copy;1990 - 2008 Abril Radiodifus&atilde;o Ltda. Todos os direitos reservados.</span></span></div>

