<%= content_for :destaque do -%>
  <%= render :partial => "destaque_brazooka" %>
<% end -%>

<div>
  <span id="dicas" class="cabecalho">
    :: dicas e instru&ccedil;&otilde;es 
  </span>
  <br>
  <br>
  <span class="fonte">
    Hey! You! Yes, the one at the iTunes Store! You think you're a good soccer player? Of course, everybody says that. But to be the world number one, you must be strong, accurate, train hard and get your shirt swet. Got the skills? All right, all right then. You may show them in Brazooka Soccer.
  </span>
</div>

<p>
  <span class="fonte">
    This is a free kick challenge game. In each challenge you will have 3 chances to shoot the ball as nearer the target as you can. If you meet the level required score, you move forward. What? If you don't? Well... Then it's game over my friend! Remember what I said about getting your shirt swet and everything? Ok, now let me tell you about the rules.
  </span>
</p>

<p>
  <span class="fonte">
    <strong>
      A kick is divided into 3 steps:
    </strong>
  </span>
</p>

<p>
  <span class="fonte">  
    <strong>
      - 1st Step:
    </strong> 
    Before getting into action, you can freely observe the current challenge moving and zooming the camera. This way you can calculate the best kick settings for the next two steps without time limits.
  </span>
</p>

<p>
  <span class="fonte">
    <strong>
      - 2nd Step:
    </strong>
    Here you have to set the kick direction and power. Direction measures how your kick destination will get farther from the center of the goal. Power defines the ball speed, affecting also the distance it will travel. Beware of the time limit.
  </span>
</p>

<p>
  <span class="fonte">
    <strong>
      - 3rd Step:
    </strong>
    In this step you choose where your kick will hit the ball, defining the ball trajectory and distance from the ground. The lower you aim, the higher the ball gets. The more to the left or to the right, the more the ball trajectory will change from straight to curve. Again, beware of the time limit.
  </span>
</p>

<p>
  <span class="fonte">
    <strong>
      There are 2 modes for you to try:
    </strong>
  </span>
</p>

<p>
  <span class="fonte">
    <strong>
      TRAINING MODE
    </strong>
    <br>        
    Train before you try the long run. In this mode you can set your free kick and goal target positions, so you can practice the hardest shots.
  </span>
</p>

<p>
  <span class="fonte">
    <strong>
      ENDLESS MODE
      <br>
    </strong>
    This is the real thing. Every new level becomes harder. If you are good enough, you will behold the stadium getting crowded while you move through levels.  How many points can you get? Can you be the ranking number 1?
  </span>
</p>

<p>
  <span class="fonte">
    That's it! What are you waiting for? Let's start!
  </span>
</p>

<p>
  <span class="fonte">
    <strong>
      UPDATES
    </strong>
  </span>
</p>

<p>
  <span class="fonte">
    <strong>
      With the first update, we are going to make available:
    </strong>
  </span>
</p>

<p>
  <span class="fonte">
    - Replay, with full playback controls
    <br>
  </span>
  
  <span class="fonte">
    - Online ranking, so you can compete worldwide
    <br>
    - More scenarios
  </span>
</p>

<div align="right">
  <a href="#topo">
    :: topo ::
  </a>
</div>

<div class="rodape">
</div>

<div id="comocomprar" class="jogos" style="height:110px; margin-top:0px;_margin-top:60px; *margin-top:60px;">
  <div class="bordaBox" style="padding-top:10px ; padding-left:25px ;padding-right:18px ; _padding-right:10px ;float:left; height:73px ; _width:410px; width:400px">
    <b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
    
    <div class="conteudobox" style="height:75px ; padding-top:2px">
      <div class="fonte" align="center" style="float:left ; padding-left:40px; padding-top:15px">
        <span class="sms">
          Acesse  o 
          <span class="valor" style="font-size:22px" >
            iTunes 
          </span>
          e fa&ccedil;a o seu
          <br>
          <strong>
            download!
          </strong>
          <br>
        </span>
      </div>
    </div>
    
    <b class="b4"></b><b class="b3"></b><b class="b2"></b><b class="b1"></b>
  </div> 

  <div class="bordaBox" style="padding-top:10px ; float:left; _width:164px; width:167px;">
    <b class="b1" style="background:#005C67"></b><b class="b2" style="background:#005C67"></b><b class="b3" style="background:#005C67"></b><b class="b4" style="background:#005C67"></b>
    
    <div class="conteudobox" style="background:#005C67; padding-top:0px; padding-bottom:0px">
      <div style="padding-left:2px ;padding-top:0px ">
        <div align="left">
          <span class="valor" style="font-size:11px">
            Valor:
          </span>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="valor" style="font-size:18px">
            <strong>
              $0,99
            </strong>
          </span>
        </div>
      </div>
    </div>

    <b class="b4" style="background:#005C67"></b><b class="b3" style="background:#005C67"></b><b class="b2" style="background:#005C67"></b><b class="b1"></b>
  </div>

  <div class="bordaBox" style="padding-top:5px ; float:left; _width:182px; width:185px;">
    <a href="itms://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=329184705&mt=8&s=143441" target="_blank">
      <img src="../images/appstore.png" border="0">
    </a>
  </div>
</div>


<div class="linhacomocomprar">
</div>

<div style="background:#004f59; height:18px ; margin-top:-15px">
  <div class="fonte" style="padding-left:10px ">
  </div>

  <div class="linhabaixocomocomprar">
  </div>
</div>

<div align="right">
  <a href="#topo">
    <br>
    :: topo ::
    <br>
  </a>

</div>

<div class="rodape">
</div>

<div id="celulares">
  <span class="cabecalho">
    :: aparelhos dispon&iacute;veis
  </span>

  <br />

  <span class="fonte">
    <strong>
      iPhone 2G, iPhone 3G e iPod Touch.
    </strong>
  </span>
</div>
<br />

<div align="right">
  <a href="#topo">
    :: topo ::
  </a>
</div>

<%= render :partial => "link_jogos" %>


<div align="center">
  <span class="fonte">
    <span class="fonte">
      &copy;1990 - 2008 Abril Radiodifus&atilde;o Ltda. Todos os direitos reservados.
    </span>
  </span>
</div>
