<script>
  $(function() {
    $.getJSON('/vendors/list.json', function(data) {
      $('#vendor').addItems(data, 'name', 'id');
    });
  });

  $("#vendor").live('change', function() {
    $.getJSON('/devices/list.json?vendor=' + $(this).val(), function(data) {
      $('#model').addItems(data, 'name', 'id');
      $('#app').empty();
      $('#submit').attr('disabled', 'disabled');
    });
  });

  $("#model").live('change', function() {
    $.getJSON('/apps/list.json?device=' + $(this).val(), function(data) {
      if(data === null || data === undefined) {
        $('#app').append(new Option('No App Found', 1));
        $('#submit').attr('disabled', 'disabled');
      } else {
        $('#app').addItems(data, 'name', 'name_short');
        $('#submit').removeAttr('disabled');
      }
    });
  });
</script>

<div  class="texto" style="padding:14px">
  <div id="down_form">
    <%= form_tag "/downloads/download_jar_file" do %>
      <%= select_tag :vendor %><br />
      <%= select_tag :model %><br />
      <%= select_tag :app %><br /><br />

      <%= submit_tag :ok, :id => 'submit', :class => "buttons", :style => "margin-top:-12px; _margin-top:-5px;", :type => "image", :src => "/images/ok.gif", :align => "middle", :disabled => 'disabled' %>
    <% end %>
	</div>
</div>

<%= render :partial => 'link_jogos' %>
