<%= render :partial => "destaque_java", :locals => {  :video => @video,
                                                      :video_file => "video_fullpower",
                                                      :flash_video => "../flash/video_fullpower.swf",
                                                      :tela => "../flash/tela_full_power",
                                                      :name => "FullPower - Drag Race",
                                                      :banner => "../banners/capa_fullpower.gif" } %>

  <div class="divisaoconteudo"></div>
    
    <div class="conteudo" style="padding: 14px;">
      <br>
	  <span class="cabecalho">
   	      <a name="dicas"></a>
   	      :: dicas e instruções   	      </span><br>
   	      <br>
      <span class="fonte"> </span>
   	      <p class="fonte">Concentre-se nos segundos mágicos entre a largada e a chegada e acelere forte para vencer estas incríveis corridas de dragster!</p>
   	      <p class="fonte">Full Power: Drag Race é o segundo jogo da Nano Games. Escolha um dos 16 personagens disponíveis, cada um com seu carro próprio, e mostre bons reflexos para vencer as corridas.</p>
   	      <p class="fonte"><b>DICAS:</b><br/><br/>No modo de aceleração manual, lembre-se de soltar o acelerador ao trocar de marchas para ganhar mais velocidade e evitar dano no motor!<br/><br/>No modo campeonato, você deve vencer pelo menos 3 das 5 corridas para passar à próxima etapa.<br/><br/>
		  Se você escolher o modo de aceleração automática para vencer você só precisa trocar as marchas no tempo certo. Lembre-se que somente no modo manual é que você pode submeter recordes. <br><br> Para começar, preste atenção nas luzes de largada mostradas no topo da tela.
No modo de aceleração manual é que se descobre os verdadeiros pilotos. Você precisa controlar a aceleração do seu carro e trocar as marchas corretamente. Aperte o botão de seleção ou 5 para acelerar.
<br><br>
Quando a luz verde estiver acesa engate a primeira marcha, apertando a seta para cima ou a tecla 2. Para largar melhor, tente manter a rotação o mais próximo possível do meio do tacômetro. Cuidado para não queimar a largada! 2 largadas queimadas o eliminam da prova.
<br><br>Seu carro possui 4 marchas. As trocas de marcha no tempo certo são fundamentais. Quando o motor estiver no ponto ideal de troca, a luz verde abaixo irá acender. Luz amarela indica uma troca não tão boa, e vermelha indica que você está próximo de danificar seu motor!
Caso você engate uma marcha mais alta por engano, aperte para baixo ou a tecla 8 para reduzir sua marcha. Mas tome cuidado para não reduzir a marcha em rotações muito altas, ou você pode danificar seriamente seu motor. Não deixe a rotação chegar ao seu limite! Se o tacômetro ultrapassar a área vermelha, Seu motor começa a se danificar. Se a barra de dano se encher por completo, seu motor estoura e você perde a corrida! 
<br><br>Agora mostre suas habilidades nos modos corrida única e campeonato! Boa sorte!<br/><br><b>CONTROLES:</b><br/><br/>Cima, 1, 2 ou 3: sobe uma marcha<br/><br/>Baixo, 7, 8 ou 9: desce uma marcha<br/><br/>Botão de seleção, 4, 5 ou 6: acelera o carro no modo manual<br/><br/>Se seu celular suportar touch screen, clique nos ícones de troca de marcha ou aceleração para movimentar seu carro.<br/><br/><br/>
          <span class="fonte"><br>
          </span> </p>
    <div align="right"><a href="#topo">:: topo ::</a></div>
   	      <br>
		  <div class="rodape"> </div>
		  <br>
		  <p><span class="cabecalho">
   	    <a name="comocomprar"></a>
   	        
	    </span><div class="jogos" style="height:110px; margin-top:30px;_margin-top:60px; *margin-top:60px;">
		    <div class="claro" style="position:relative">
			</div>
		    <div class="bordaBox" style="padding-top:10px ; padding-left:10px ;padding-right:10px ; _padding-right:10px ;float:left; height:73px ; _width:410px; width:400px">
            <b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
            <div class="conteudobox" style="height:75px ; padding-top:2px">
               
			   <div class="fonte" align="center" style="float:left ; padding-left:5px">
                <span class="sms">Envie um SMS<br>com o texto <br>
                <span class="sms" style="color:#FFFF00">GZ</span> para <span class="sms" style="color:#FFFF00">250</span><br>
                </span>
			   </div>

			   <div class="divisoria">
			   </div>
			   
			   <div class="fonte" style="float:left; width:195px; height:65px">Você irá receber uma mensagem SMS com um link para o download. Tenha certeza de estar com o seu aparelho dentro da área de cobertura de sua operadora.
			   </div>
			   
		      </div>
            <b class="b4"></b><b class="b3"></b><b class="b2"></b><b class="b1"></b>
          </div> 
		
		       <div class="bordaBox" style="padding-top:10px ; float:left; _width:95px; width:98px;">
                    <b class="b1" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b4" style="background:#00353b"></b>
                     
					<div class="conteudobox" style="background:#00353b; padding-top:0px; padding-bottom:0px">
					
					  <div style="padding-left:2px ;padding-top:0px "><span class="valor" style="font-size:11px">Valor:</span><br>
					  <span class="valor">
					    R$ 9,99</span>
			          </div>
			   
                    </div>
					
                    <b class="b4" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b1"></b>
               
			   </div>
		  
		  <div class="bordaBox" style="padding-top:4px ; float:left; _width:95px; width:98px;">
                    <b class="b1" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b4" style="background:#00353b"></b>
                     
					<div class="conteudobox" style="background:#00353b; padding-top:0px; padding-bottom:0px">
					
					  <div>
					    <div align="center" style=" padding-right:2px;"><span class="valor" style="font-size:11px"><a href="#celulares">Aparelhos disponíveis</a></span>
				        </div>
					  </div>
			   
                    </div>
					
                    <b class="b4" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b1"></b>
               
	      </div>
		    
		</div>
		
		
		<div class="linhacomocomprar"></div>
		<div style="background:#004f59; height:118px ; margin-top:-15px">
		<div class="fonte" style="padding-left:10px ">
		  <p><strong>Você também pode comprar visitando o portal Claro Idéias através do seu celular.</strong></p>
		  <p><strong>Ou ainda, acessando o site Claro Idéias: <a href="http://www.claroideias.com.br/" target="_blank">www.claroideias.com.br</a>, selecionando a opção " Claro Jogos " 
    no menu à esquerda, e depois " Jogo Download ".</strong></p>
	    </div>
	  
	    <div class="linhabaixocomocomprar">
		</div>
		
		<div class="fonte" style="font-size:10px ; padding-left:10px; padding-right:10px;"> * O tráfego para download do conteúdo será cobrado de acordo com as tarifas da sua operadora. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;© Claro 2008</div>
	
	    </div>
        <div align="right"><a href="#topo"><br>
        :: topo ::<br>
        </a>
            <br>
            <br>
      </div>
      <div class="rodape"> </div>
    	<span class="cabecalho">
        <a name="celulares"></a> :: aparelhos dispon&iacute;veis</span><br>
          <br>
          <span class="fonte"><strong>LG</strong>: C1100, ME500 (Musicam), ME550c (Cosmo), ME770, ME970 (Shine), MG105 (Vibecam), MG185 (Finecam), MG220C, MG235, MG280 (Chocolight), MG296, MG320c, MG810c (Black Safira), MU500<br>
          <br>
          <strong>Motorola</strong>: C381, C385, C650, C698p, ROKR E1, ROKR E2, E398, KRZR K1, SLVR L6, SLVR L7, SLVR L7i, Mpx220, Mpx220p, PEBL U3, PEBL U6, V185, V186, V190, V191, V220, V235, RAZR V3, V300, V305, V306, V360, V365, RAZR V3e, RAZR V3i, V400, V555, V557, V600, RAZR2 V8, W5, W510, RIZR Z3, ROKR Z6<br> 
          <br>
          <strong>Nokia</strong>: 2660, 2760, 3220, 3250, 3555, 5200, 6020, 6060, 6070, 6085, 6101, 6103, 6111, 6120, 6125, 6131, 6230, 6822, 6230i, E61i, E62, E65, N73, N76, N95<br>
          <br>
          <strong>Samsung</strong>: A706, C420, D820, D830, E230l, E250, E350, E351,E370, E500, E570l, E900, i321, U100, U600, X650<br>
          <br>
          <strong>Siemens</strong>: C65, C72, C75, CF75, CX65, CX75, M65, S65, SL65, SL75<br>
          <br>
          <strong>SonyEricsson</strong>: K300, Z320, K310, Z250, W200, Z530, W300, K790, K850, Z750, W880, W580, S700, W610, W800, W600, Z550, K550, W710, K610, K700, K750, W810<br>
          <br>
      </span>
   	  <div align="right"><a href="#topo">:: topo ::</a><br>
   	      <br>
   	  </div>

  	     

<%= render :partial => 'link_jogos' %>
  
<div align="center"><span class="fonte">&copy;2008 B7 Editorial Ltda. Todos os direitos reservados.</span>      </div>
 
