<%= content_for :destaque do %>
  <%= render :partial => "destaque" %>
<% end %>

<div class="conteudo">
  <div class="jogosaplicativos">
    <img src="/images/jogos_e_aplicativos.gif">
  </div>

  <div class="jogos" style="height:775px;">

    <%= render :partial => "box_left", :locals => { :link => "/static/brazooka_soccer",
                                                    :image => "../images/brazooka.gif",
                                                    :title => "Brazooka<br/>Soccer©".html_safe,
                                                    :sub_title => ""} %>

    <%= render :partial => "box_right", :locals => {:link => "/static/space_goo",
                                                    :image => "../images/space_goo.gif",
                                                    :title => "Space Goo©",
                                                    :sub_title => "Jogo em 3D para iPhone"} %>

    <%= render :partial => "box_left", :locals => { :link => "/static/superlux",
                                                    :image => "../images/superlux.png",
                                                    :title => "SUPERLUX©",
                                                    :sub_title => "Jogo para iPhone"} %>

    <%= render :partial => "box_right", :locals => {:link => "/static/lux",
                                                    :image => "../images/lux.gif",
                                                    :title => "LUX©",
                                                    :sub_title => "Gotas de Beleza"} %>

    <%= render :partial => "box_left", :locals => {:link => "../static/seda_puzzle",
                                                    :image => "../images/seda_puzzle.png",
                                                    :title => "Seda Puzzle©",
                                                    :sub_title => ""} %>

    <%= render :partial => "box_right", :locals => {:link => "../static/dancinrio",
                                                    :image => "../images/dancinrio.png",
                                                    :title => "Dancin' Rio©",
                                                    :sub_title => ""} %>

    <%= render :partial => "box_left", :locals => { :link => "../static/bob_esponja",
                                                    :image => "../images/bob.gif",
                                                    :title => "Bob Esponja©",
                                                    :sub_title => "F&aacute;brica de Siriburguer"} %>

    <%= render :partial => "box_right", :locals => {:link => "../static/jimmy_neutron",
                                                    :image => "../images/jimmy.gif",
                                                    :title => "Jimmy Neutron©",
                                                    :sub_title => "Enigma das Supernovas"} %>

    <%= render :partial => "box_left", :locals => {:link => "../static/fullpower_drag_race",
                                                    :image => "../images/fullpower.gif",
                                                    :title => "FullPower©",
                                                    :sub_title => "Drag Race"} %>

    <%= render :partial => "box_right", :locals => { :link => "../static/joselito",
                                                    :image => "../images/hermes_e_renato.gif",
                                                    :title => "MTV©",
                                                    :sub_title => "Joselito contra a Farofada"} %>

    <%= render :partial => "box_left", :locals => { :link => "../static/penalti_com_cleston",
                                                    :image => "../images/penalti_cleston.gif",
                                                    :title => "MTV©",
                                                    :sub_title => "Penalti com Cléééston"} %>

    <%= render :partial => "box_right", :locals => { :link => "../static/levantamento_de_peso",
                                                    :image => "../images/levantamento.gif",
                                                    :title => "MTV©",
                                                    :sub_title => "Levantamento de Peso"} %>

    <%= render :partial => "box_left", :locals => {:link => "../static/barrigadas_ornamentais",
                                                    :image => "../images/barrigada.gif",
                                                    :title => "MTV©",
                                                    :sub_title => "Barrigadas Ornamentais"} %>

    <%= render :partial => "box_right", :locals => { :link => "../static/ginastica_do_away",
                                                    :image => "../images/away.gif",
                                                    :title => "MTV©",
                                                    :sub_title => "Ginástica do Away"} %>

    <%= render :partial => "box_left", :locals => {:link => "../static/biritometro",
                                                    :image => "../images/biritometro.gif",
                                                    :title => "BIRITÔMETRO©",
                                                    :sub_title => "Fique sob controle!"} %>

    <%= render :partial => "box_right", :locals => { :link => "../static/pepsi_cai_bem",
                                                    :image => "../images/pepsicaibem.gif",
                                                    :title => "Pepsi Cai Bem©",
                                                    :sub_title => ""} %>

  </div>
</div>
