<%= render :partial => "destaque_java", :locals => {  :video => @video,
  :video_file => "video_jimmy",
  :flash_video => "../flash/video_jimmy.swf",
  :tela => "../flash/tela_jimmy",
  :name => "MTV - Joselito Contra a Farofada",
  :banner => "../banners/banner_jimmy.gif" } %>

  <div class="divisaoconteudo">
  </div>

  <div class="conteudo" style="padding: 14px;">
    <br>

    <span class="cabecalho">
      <a name="dicas"></a>
      :: dicas e instru&ccedil;&otilde;es
    </span>
    <br>
    <br>

<span class="fonte">Neste jogo seu objetivo é ajudar Jimmy Neutron a exterminar as Supernovas do mal. </span><br><br>
   	 <span class="fonte">Para isso, você conta somente com a ajuda da sua arma de energia cósmica. Carregue as Supernovas com o máximo de energia possível, até que elas explodam, pois só assim você irá livrar o universo de mais essa ameaça!<br>
      <br/>Mas seja esperto: inicialmente sua arma terá apenas 20 tiros. Então resolva os quebra-cabeças da melhor forma possível, utilizando a explosão de uma supernova para acabar com as outras adjacentes.<br/><br/>Se você conseguir encadear várias explosões, ganhará prêmios, como por exemplo, mais tiros.<br/><br/><b>IINTRUÇÕES:</b><br/><br/>As supernovas possuem 4 tamanhos. Quanto maiores elas estiverem, mais perto estarão de explodir.<br/><br/>Toda vez que uma supernova estourar, estilhaços serão emitidos em 4 direções: cima, baixo, esquerda e direita. Estes estilhaços irão energizar as outras supernovas com as quais colidirem. Se mais de uma supernova explodir por causa de um único tiro, haverá uma reação em cadeia. Quanto maior for a reação em cadeia, mais pontos você irá receber. Também será possível ganhar mais tiros.<br/><br/><b>CONTROLE DAS TECLAS:</b><br/><br/><b>2, 4, 6, 8 e setas:</b> movimentam o cursor entre as supernovas ou navegam pelos menus.<br/><br/><b>5 e botão de seleção:</b> atiram com a arma cósmica ou selecionam um item do menu.<br/><br/><b>Telas de toque:</b> clique em uma supernova para atirar nela. Clique em um item do menu para selecioná-lo, então clique novamente para confirmar.<br/><br/><br/>
      </span>
      </p>
   	  <div align="right"><a href="#topo">:: topo ::</a></div>
   	    <br>
		<div class="rodape"></div>
		<br>  
	<a name="comocomprar"></a>
	<br>
        
	    </span><div class="jogos" style="height:110px; margin-top:30px;_margin-top:60px; *margin-top:60px;">
		    <div class="claro" style="position:relative">
			</div>
		    <div class="bordaBox" style="padding-top:10px ; padding-left:10px ;padding-right:10px ; _padding-right:10px ;float:left; height:73px ; _width:410px; width:400px">
            <b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
            <div class="conteudobox" style="height:75px ; padding-top:2px">
               
			   <div class="fonte" align="center" style="float:left ; padding-left:5px">
                <span class="sms">Envie um SMS<br>com o texto <br><span class="sms" style="color:#FFFF00">NANO</span> para <span class="sms" style="color:#FFFF00">250</span><br></span>
			   </div>

			   <div class="divisoria">
			   </div>
			   
			   <div class="fonte" style="float:left; width:195px; height:65px">Você irá receber uma mensagem SMS com um link para o portal de download dos jogos da Nano Games. Selecione o jogo desejado para iniciar  o download.
			   </div>
			   
		      </div>
            <b class="b4"></b><b class="b3"></b><b class="b2"></b><b class="b1"></b>
          </div> 
		
		       <div class="bordaBox" style="padding-top:10px ; float:left; _width:95px; width:98px;">
                    <b class="b1" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b4" style="background:#00353b"></b>
                     
					<div class="conteudobox" style="background:#00353b; padding-top:0px; padding-bottom:0px">
					
					  <div style="padding-left:2px ;padding-top:0px "><span class="valor" style="font-size:11px">Valor:</span><br>
					  <span class="valor">
					    R$ 9,99</span>
			          </div>
			   
                    </div>
					
                    <b class="b4" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b1"></b>
               
			   </div>
		  
		  <div class="bordaBox" style="padding-top:4px ; float:left; _width:95px; width:98px;">
                    <b class="b1" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b4" style="background:#00353b"></b>
                     
					<div class="conteudobox" style="background:#00353b; padding-top:0px; padding-bottom:0px">
					
					  <div>
					    <div align="center" style=" padding-right:2px;"><span class="valor" style="font-size:11px"><a href="#celulares">Aparelhos disponíveis</a></span>
				        </div>
					  </div>
			   
                    </div>
					
                    <b class="b4" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b1"></b>
               
	      </div>
		    
	  </div>
		
		
		<div class="linhacomocomprar"></div>
		<div style="background:#004f59; height:118px ; margin-top:-15px">
		<div class="fonte" style="padding-left:10px ">
		  <p><strong>Você também pode comprar visitando o portal Claro Idéias através do seu celular.</strong></p>
		  <p><strong>Ou ainda, acessando o site Claro Idéias: <a href="http://www.claroideias.com.br/" target="_blank">www.claroideias.com.br</a>, selecionando a opção " Claro Jogos " 
    no menu à esquerda, e depois " Jogo Download ".</strong></p>
	    </div>
	  
	    <div class="linhabaixocomocomprar">
		</div>
		
		<div class="fonte" style="font-size:10px ; padding-left:10px; padding-right:10px;"> * O tráfego para download do conteúdo será cobrado de acordo com as tarifas da sua operadora. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;© Claro 2008</div>
	
	    </div>
  
        <div align="right"><a href="#topo">
          <br>
        :: topo ::<br>
        </a>
            <br>
            <br>
      </div>
      <div class="rodape"> </div>
    	<p><span class="cabecalho">
        <a name="celulares"></a> :: aparelhos dispon&iacute;veis</span><br>
            <br>
      <span class="fonte"><strong>Benq-Siemens</strong>: E71, EF81, EL71</span></p>
   	  <p><span class="fonte"> <strong>Gradiente:</strong> GF930, GF500, GF690</span></p>
    	<p><span class="fonte"> <strong>HTC:</strong> P3400, P3600 (Trinity), P6300, S411, S620 (Excalibur), S621 (Excalibur), P3450 (Touch), P5500 (Touch Dual)</span></p>
    	<p><span class="fonte"><strong>LG:</strong> KE970 (Shine), KG800 (Chocolate), ME500 (Musicam), ME540 (Maxicam), ME550c (Cosmo), ME770, ME970 (Shine), MG320c, MG800 (Chocolate), MG810 (Black Safira), MU500, P7200, U8290, G7100, MG100, MG105 (Vibecam), MG125B (One), MG155, MG185 (Finecam), MG200 (Smartcam), MG220 (Mastercam), MG225, MG230 (Black Crystal), MG235, MG280 (Chocolight), MG295 (Star), MG296, C1100, C1200, C1500, C2000
    
</span></p>
    	<p><span class="fonte"><strong>Motorola:</strong> E8 (ROKR), Z10, K3 (KRZR), V9 (RAZR2), K3m (KRZR), V3xx (RAZR), E2 (ROKR), E6 (ROKR), A780, U9 (ROKR), E6e (ROKR), E1070, V8 (RAZR2), A1200, E680i, A910, A910i, V3x (RAZR), A1000, E770, V6 (RAZR MAXX), E1000, Z6 (ROKR), Z3 (RIZR), K1 (KRZR), E398, L7 (SLVR), U3 (PEBL), V3 (RAZR), V300, V303, V360, V365, V3e (RAZR), V3i (RAZR), V3r , RAZR), V3t (RAZR), V400, V500, V525, V550, V551, V555, V557, V600, V635, A845, E1 (ROKR), V975, C975, V980, L7i (SLVR), L9 (SLVR), W490, L72 (SLVR), W510, U6 (PEBL), C698p, Mpx220, V220, L6 (SLVR), V190, A728, V195, V235, V191, V237, E365, C381, C385, C650, V180, V185, V186, V220, C380
      
</span></p>
    	<p><span class="fonte"><strong>Nokia:</strong> 3120 Classic, 3250, 5300 XpressMusic, 5310 XpressMusic, 5500, 5610 XpressMusic, 5700 XpressMusic, 6110 Navigator, 6120 Classic, 6121 Classic, 6124 Classic, 6126, 6131, 6131 NFC, 6133, 6210 Navigator, 6220 Classic, 6230i, 6233, 6234, 6263, 6265, 6265i, 6267, 6270, 6275, 6275i, 6280, 6282, 6288, 6290, 6300, 6301, 6500 Classic, 6500 Slide, 6555, 6630, 6680, 6681, 6682, 7370, 7373, 7390, 7500 (Prism), 7900 Prism, 8600 Luna, 8800 Arte, 8800 Sirocco Edition, E50, E51, E60, E61, E61i, E62, E65, E70, N70, N71, N72, N73, N75, N76, N77, N78, N80, N81, N82, N90, N91, N92, N93, N93i, N95, N96, 6822, 2600 Classic, 2630, 2660, 2760, 2855, 2865, 2865i, 3155, 3155i, 5200, 6085, 6086, 6111, 6125, 6136, 6151, 6155, 6155i, 6165, 6170, 6235, 6235i, 6255, 7270, 3109 Classic, 3110 Classic, 3500 Classic </span></p>
    	<p><span class="fonte"><strong>Samsung:</strong> X820, F500, U100, U106 (Lean), D520, X708, D500, E570, E490, E740, T729, P260, E830, T429, Z130, Z150, U600, E840, P520,  D840, E900, D800, D830, D820, G600, P858, D600, D900, E898, D836 (Ultra 9), U700, Z400, Z540, Z560, Z720, A706, ZV50, E370, M610, X678, T539, E250, E210, J600, E350, X658, X650, C417, C420, X540, X560, X660 </span></p>
    	<p><span class="fonte"><strong>Siemens:</strong> C65, C72, C75, CF75, CX65, CX75, M65, S65, SL65, SL75, M81, S68, C81 </span></p>
    	<p><span class="fonte"><strong>SonyEricsson:</strong> D750, K530, K550, K600, K608, K610, K618, K630, K660, K700, K750, K758, K770, K790, K800, K810, K818, K850, K858, M600, M608, P1, P900, P910, P990, S500, S700i, S710, T650, T658, V600, V630, V640, V800, V802SE, W350, W380, W550, W580, W600, W610, W618, W660, W700, W710, W750, W760, W800, W810, W830, W850, W880, W888, W890, W898, W900, W908, W910, W950, W958, W960, Z1010, Z550, Z555, Z558, Z610, Z710, Z750, Z800, F500, K300, K310, K320, K500, K510, W200, W300, Z250, Z258, Z300, Z310, Z320, Z520, Z525, Z530 <br>
        <br>
                    </span>
      </p>

    <div align="right">
      <a href="#topo">
        :: topo ::
      </a>
      <br>
      <br>
      <br>
    </div>

    <%= render :partial => 'link_jogos' %>

    <div align="center">
      <span class="fonte">
        &copy;1990 - 2008 Abril Radiodifus&atilde;o Ltda. Todos os direitos reservados.
      </span>
    </div>
  </div>
