<div class="conteudo">
  <h1>Parceiros</h1>
  <br>

  <div class="bordaBox" style="padding-top:20px ; padding-left:20px ; padding-right:20px ; _padding-right:10px ; float:left; height:73px;_width:600px; width:600px">
    <b class="b1" style="background:#FFFFFF"></b><b class="b2" style="background:#FFFFFF"></b><b class="b3" style="background:#FFFFFF"></b><b class="b4" style="background:#FFFFFF"></b>

    <div class="conteudobox" style="background:#FFFFFF ; height:115px">
      <div style="padding-left:60px; padding-top:15px; padding-right:40px ;float:left">
        <a href="http://mundonick.uol.com.br/" target="_blank" onMouseOver="MM_swapImage('Logo Nick','','../images/logo_nick.gif',1)" onMouseOut="MM_swapImgRestore()">
          <img src="../images/logo_nick_V.gif" name="Logo Nick" width="100" height="91" border="0">
        </a>
      </div>

      <div style="padding-left:30px; padding-top:25px; float:left">
        <a href="http://mtv.uol.com.br/" target="_blank" onMouseOver="MM_swapImage('Logo MTV','','../images/logo_mtv.gif',1)" onMouseOut="MM_swapImgRestore()">
          <img src="../images/logo_mtv_V.gif" name="Logo MTV" width="87" height="66" border="0">
        </a>
      </div>

      <div style="margin-left:50px; padding-top:30px; float:left">
        <a href="http://www.revistafullpower.com.br/" target="_blank" onMouseOver="MM_swapImage('Logo FullPower','','../images/logo_fullpower.gif',1)" onMouseOut="MM_swapImgRestore()">
          <img src="../images/logo_fullpower_V.gif" name="Logo FullPower" width="158" height="52" border="0">
        </a>
      </div>
    </div>
    
    <b class="b4" style="background:#FFFFFF"></b><b class="b3" style="background:#FFFFFF"></b><b class="b2" style="background:#FFFFFF"></b><b class="b1" style="background:#FFFFFF"></b>
  </div>

  <div class="bordaBox" style="margin-top:30px ; _margin-top:0px ;padding-top:50px ; padding-left:20px ; padding-right:20px ; _padding-right:10px ; float:left; height:73px;_width:600px; width:600px">
    <b class="b1" style="background:#FFFFFF"></b><b class="b2" style="background:#FFFFFF"></b><b class="b3" style="background:#FFFFFF"></b><b class="b4" style="background:#FFFFFF"></b>
    
    <div class="conteudobox" style="background:#FFFFFF ; height:115px">
      <div style="padding-left:75px; padding-top:45px; padding-right:45px ;float:left">
        <a href="http://www.supportcomm.com.br" target="_blank" onMouseOver="MM_swapImage('Logo SuportComm','','../images/log_suportcomm.gif',1)" onMouseOut="<br />MM_swapImgRestore()">
          <img src="../images/log_suportcomm_V.gif" name="Logo SuportComm" width="165" height="31" border="0">
        </a>
      </div>
      
      <div style="padding-left:65px; padding-top:30px; float:left">
        <a href="http://www.m4u.com.br/" target="_blank" onMouseOver="MM_swapImage('Logo M4U1','','../images/logo_m4u.gif',1)" onMouseOut="MM_swapImgRestore()">
          <img src="../images/logo_m4u_V.gif" name="Logo M4U1" width="124" height="52" border="0" id="Logo M4U1">
        </a>
      </div>
    </div>
    
    <b class="b4" style="background:#FFFFFF"></b><b class="b3" style="background:#FFFFFF"></b><b class="b2" style="background:#FFFFFF"></b><b class="b1" style="background:#FFFFFF"></b>
  </div>

  <div class="bordaBox" style="margin-top:30px ;_margin-top:0px ;padding-top:50px ; padding-left:20px ; padding-right:20px ; _padding-right:10px ; float:left; height:73px;_width:600px; width:600px">
    <b class="b1" style="background:#FFFFFF"></b><b class="b2" style="background:#FFFFFF"></b><b class="b3" style="background:#FFFFFF"></b><b class="b4" style="background:#FFFFFF"></b>

    <div class="conteudobox" style="background:#FFFFFF ; height:115px">
      <div style="padding-left:80px; padding-top:30px; padding-right:60px ;float:left">
        <a href="http://www.wiz.com.br" target="_blank" onMouseOver="MM_swapImage('Logo Wiz','','../images/logo_wiz.gif',1)" onMouseOut="MM_swapImgRestore()">
          <img src="../images/logo_wiz_V.gif" name="Logo Wiz" width="85" height="54" border="0">
        </a>
      </div>
      
      <div style="padding-left:115px; padding-top:25px; float:left">
        <a href="http://wagemobile.com.br" target="_blank" onMouseOver="MM_swapImage('Logo Wage','','../images/logo_wage.gif',1)" onMouseOut="MM_swapImgRestore()">
          <img src="../images/logo_wage_V.gif" name="Logo Wage" width="150" height="65" border="0" >
        </a>
      </div>
    </div>
    
    <b class="b4" style="background:#FFFFFF"></b><b class="b3" style="background:#FFFFFF"></b><b class="b2" style="background:#FFFFFF"></b><b class="b1" style="background:#FFFFFF"></b>
  </div>

  <div class="bordaBox" style="margin-top:30px ;_margin-top:0px ;padding-top:50px ; padding-left:20px ; padding-right:20px ; _padding-right:10px ; float:left; height:73px;_width:600px; width:600px">
    <b class="b1" style="background:#FFFFFF"></b><b class="b2" style="background:#FFFFFF"></b><b class="b3" style="background:#FFFFFF"></b><b class="b4" style="background:#FFFFFF"></b>

    <div class="conteudobox" style="background:#FFFFFF ; height:115px">
      <div style="padding-left:65px; padding-top:5px; padding-right:50px ;float:left">
        <a href="http://www.workers.com.br" target="_blank" onMouseOver="MM_swapImage('Logo Workers','','../images/logo_workers.gif',1)" onMouseOut="MM_swapImgRestore()">
          <img src="../images/logo_workers_V.gif" name="Logo Workers" width="145" height="103" border="0">
        </a>
      </div>
      
      <div style="padding-left:80px; padding-top:25px; float:left">
        <a href="http://www.wisoft.com.br" target="_blank" onMouseOver="MM_swapImage('Logo Wisoft','','../images/logo_wisoft.gif',1)" onMouseOut="MM_swapImgRestore()">
          <img src="../images/logo_wisoft_V.gif" name="Logo Wisoft" width="161" height="64" border="0" >
        </a>
      </div>
    </div>

    <b class="b4" style="background:#FFFFFF"></b><b class="b3" style="background:#FFFFFF"></b><b class="b2" style="background:#FFFFFF"></b><b class="b1" style="background:#FFFFFF"></b>
  </div>

  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
          
  <%= render :partial => "link_jogos" %>
</div>
