<%= render :partial => "destaque_java", :locals => {  :video => @video,
                                                      :video_file => "video_penalti",
                                                      :flash_video => "../flash/video_penalti.swf",
                                                      :tela => "../flash/tela_penalti",
                                                      :name => "Penalti MTV com Cléééééston",
                                                      :banner => "../banners/banner_penalti.gif" } %>

  <div class="divisaoconteudo"></div>
    
    <div class="conteudo" style="padding: 14px;">
	
	<br>
	<span class="cabecalho">
   	      <a name="dicas"></a>
   	      :: dicas e instru&ccedil;&otilde;es   	      </span><br>
   	      <br>
   	      <span class="fonte"> Ajude o craque, o mito, o gênio Cléééééston a ser campeão em sensacionais disputas de pênalti contra os adversários mais loucos do Penalti MTV! Ele é a maior lenda do Rockgol e um ídolo do rock nacional com os Detonautas. Mas até um ícone como ele começou por baixo. Nesse jogo, você ajuda o ídolo a trilhar o caminho da fama, passando pelas 3 divisões do Campeonato Penalti MTV.<br/><br/>A glória dele depende de você! Mostre categoria nas cobranças e reflexo nas defesas sem perder nenhum lance: reveja suas melhores jogadas quantas vezes quiser!
          <br><br>
		  <strong>Existem 3 modos de jogo:</strong><br/><br/><b>TREINO:</b><br/>Aprimore as suas habilidades neste modo, onde você pode cobrar pênaltis e tentar defendê-los sem limite de cobranças. Quando estiver preparado, aceite o verdadeiro desafio: o Campeonato Penalti MTV!<br/><br/><b>CONTRA:</b><br/>Desafie um amigo e mostre quem é melhor na disputa de pênaltis! Este é o modo <b>jogue-e-passe</b>: faça sua jogada e passe o celular para seu adversário fazer a dele! São exibidas instruções na tela mostrando de quem é a vez.<br/><br/><B>CAMPEONATO:</B><br/>As regras são tradicionais: cada jogador tem direito a cobrar 5 pênaltis alternadamente, até que exista uma diferença no placar que não possa ser tirada pelo outro jogador. Em caso de empate após estas cobranças, os jogadores têm direito a fazer cobranças alternadas, até que um deles converta o pênalti e o outro erre.<br/><br/>Existem 3 divisões do campeonato: M, T e V. Em cada uma, você começa na etapa de grupos, onde todos os jogadores se enfrentam 2 vezes. Os 2 primeiros nesta fase se classificam para a final.<br/><br/>Os critérios de desempate na fase de grupos são:<br/><br/>1. número de vitórias<br/>2. saldo de gols<br/>3. gols marcados<br/>4. sorteio<br/><br/>A final de cada divisão é no sistema melhor-de-três: quem vencer 2 partidas primeiro será o grande vencedor do Penalti MTV!<br/><br/><br/><B>CONTROLES</B><br/><br/>Existem até 4 controles disponíveis para fazer uma jogada, dependendo do seu turno:<br/><br/><b>Ataque</b>: direção, altura, curva e força<br/><br/><b>Defesa</b>: direção e altura<br/><br/>A intensidade de cada controle varia automaticamente - é só apertar 5 ou a tecla de seleção para confirmar a intensidade atual. Se o seu celular tiver tela sensível ao toque, é só tocar na tela para confirmar a jogada. Ao confirmar todos os controles, a jogada é feita<br/><br/><br/><b>REPLAYS:</b><br/><br/>Você pode rever suas jogadas quantas vezes quiser! Após fazer uma jogada, é exibido o replay. Os controles são:<br/><br/>1 - reduz a velocidade do replay<br/>2 - paralisa o replay<br/>3 - aumenta a velocidade<br/>4 - reinicia o replay<br/>5 - sair do replay<br/>6 - gravar replay (somente durante uma partida)<br/>7 - esconde ou mostra os controles de replay<br/><br/>Depois de gravar suas jogadas, você pode revê-las através da opção "REPLAYS", no menu principal.<br/><br/><br/><b>DICA DO CLÉÉÉSTON:</b><br/><br/>Nem sempre uma pancada na bola é a melhor opção: lembre-se que bolas colocadas têm melhor precisão!<br/>Chutando mais fraco, você também consegue colocar mais efeito na bola e dar aquela enganada malandra no goleiro.
		  </span>
        <div align="right"><a href="#topo">:: topo ::</a></div>
   	      <br>
	
	<span class="cabecalho">
	<br>
	<div class="rodape"></div>
	<br>

  <a name="comocomprar"></a>

   	   
	   <br>
        
	    </span><div class="jogos" style="height:110px; margin-top:30px;_margin-top:60px; *margin-top:60px;">
		    <div class="claro" style="position:relative">
			</div>
		    <div class="bordaBox" style="padding-top:10px ; padding-left:10px ;padding-right:10px ; _padding-right:10px ;float:left; height:73px ; _width:410px; width:400px">
            <b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
            <div class="conteudobox" style="height:75px ; padding-top:2px">
               
			   <div class="fonte" align="center" style="float:left ; padding-left:5px">
                <span class="sms">Envie um SMS<br>com o texto <br><span class="sms" style="color:#FFFF00">NANO</span> para <span class="sms" style="color:#FFFF00">250</span><br></span>
			   </div>

			   <div class="divisoria">
			   </div>
			   
			   <div class="fonte" style="float:left; width:195px; height:65px">Você irá receber uma mensagem SMS com um link para o portal de download dos jogos da Nano Games. Selecione o jogo desejado para iniciar  o download.
			   </div>
			   
		      </div>
            <b class="b4"></b><b class="b3"></b><b class="b2"></b><b class="b1"></b>
          </div> 
		
		       <div class="bordaBox" style="padding-top:10px ; float:left; _width:95px; width:98px;">
                    <b class="b1" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b4" style="background:#00353b"></b>
                     
					<div class="conteudobox" style="background:#00353b; padding-top:0px; padding-bottom:0px">
					
					  <div style="padding-left:2px ;padding-top:0px "><span class="valor" style="font-size:11px">Valor:</span><br>
					  <span class="valor">
					    R$ 9,99</span>
			          </div>
			   
                    </div>
					
                    <b class="b4" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b1"></b>
               
			   </div>
		  
		  <div class="bordaBox" style="padding-top:4px ; float:left; _width:95px; width:98px;">
                    <b class="b1" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b4" style="background:#00353b"></b>
                     
					<div class="conteudobox" style="background:#00353b; padding-top:0px; padding-bottom:0px">
					
					  <div>
					    <div align="center" style=" padding-right:2px;"><span class="valor" style="font-size:11px"><a href="#celulares">Aparelhos disponíveis</a></span>
				        </div>
					  </div>
			   
                    </div>
					
                    <b class="b4" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b1"></b>
               
	      </div>
		    
		</div>
		
		
		<div class="linhacomocomprar"></div>
		<div style="background:#004f59; height:118px ; margin-top:-15px">
		<div class="fonte" style="padding-left:10px ">
		  <p><strong>Você também pode comprar visitando o portal Claro Idéias através do seu celular.</strong></p>
		  <p><strong>Ou ainda, acessando o site Claro Idéias: <a href="http://www.claroideias.com.br/" target="_blank">www.claroideias.com.br</a>, selecionando a opção " Claro Jogos " 
    no menu à esquerda, e depois " Jogo Download ".</strong></p>
	    </div>
	  
	    <div class="linhabaixocomocomprar">
		</div>
		
		<div class="fonte" style="font-size:10px ; padding-left:10px; padding-right:10px;"> * O tráfego para download do conteúdo será cobrado de acordo com as tarifas da sua operadora. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;© Claro 2008</div>
	
	    </div>
	  

        
	    </span><div class="jogos" style="height:110px; margin-top:70px;_margin-top:80px; *margin-top:100px;">
		    <div class="tim" style="position:relative">
			</div>
		    <div class="bordaBox" style="padding-top:10px ; padding-left:10px ;padding-right:10px ; _padding-right:10px ;float:left; height:73px ; _width:410px; width:400px">
            <b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
            <div class="conteudobox" style="height:75px ; padding-top:2px">
               
			   <div class="fonte" align="center" style="float:left ; padding-left:5px">
			     <span class="sms">Envie um SMS<br>
                com <span class="sms" style="color:#FFFF00">54470706<br>
                </span>para <span class="sms" style="color:#FFFF00">9696</span>
			    </span>
               </div>

			   <div class="divisoria">
			   </div>
			   
			   <div class="fonte" style="float:left; width:195px; height:65px">Você irá receber uma mensagem SMS com um link para o download. Tenha certeza de estar com o seu aparelho dentro da área de cobertura de sua operadora.
			   </div>
			   
		      </div>
            <b class="b4"></b><b class="b3"></b><b class="b2"></b><b class="b1"></b>
          </div> 
		
		       <div class="bordaBox" style="padding-top:10px ; float:left; _width:95px; width:98px;">
                    <b class="b1" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b4" style="background:#00353b"></b>
                     
					<div class="conteudobox" style="background:#00353b; padding-top:0px; padding-bottom:0px">
					
					  <div style="padding-left:2px ;padding-top:0px "><span class="valor" style="font-size:11px">Valor:</span><br>
					  <span class="valor">
					    R$ 7,99</span>
			          </div>
			   
                    </div>
					
                    <b class="b4" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b1"></b>
               
			   </div>
		  
		  <div class="bordaBox" style="padding-top:4px ; float:left; _width:95px; width:98px;">
                    <b class="b1" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b4" style="background:#00353b"></b>
                     
					<div class="conteudobox" style="background:#00353b; padding-top:0px; padding-bottom:0px">
					
					  <div>
					    <div align="center" style=" padding-right:2px;"><span class="valor" style="font-size:11px"><a href="#celulares">Aparelhos disponíveis</a></span>
				        </div>
					  </div>
			   
                    </div>
					
                    <b class="b4" style="background:#00353b"></b><b class="b3" style="background:#00353b"></b><b class="b2" style="background:#00353b"></b><b class="b1"></b>
               
	      </div>
		    
		</div>
		
		
		<div class="linhacomocomprar"></div>
		<div style="background:#004f59; height:118px ; margin-top:-15px">
		<div class="fonte" style="padding-left:10px ">
		  <p><strong>Você também pode comprar visitando o Portal TIM através do seu celular.</strong></p>
		  <p><strong>Ou ainda, acessando o site TIM: <a href="http://www.tim.com.br/" target="_blank">www.tim.com.br</a>, selecionando a opção "Jogos" no menu &quot;Multim&iacute;dia",    localizado no lado esquerdo da p&aacute;gina.</strong></p>
	    </div>
	  
	    <div class="linhabaixocomocomprar">
		</div>
		
		<div class="fonte" style="font-size:10px ; padding-left:10px; padding-right:10px;"> * O tráfego para download do conteúdo será cobrado de acordo com as tarifas da sua operadora. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;© TIM Celular 2006</div>
	
	    </div>
	  
	  <br>
        
	    </span>

        <div align="right"><a href="#topo"><br>
        :: topo ::<br>
        </a>
            <br>
            <br>
      </div>
      <div class="rodape"> </div>
    	<p><span class="cabecalho">
        <a name="celulares"></a> :: aparelhos dispon&iacute;veis</span><br>
            <br>
      <span class="fonte"><strong>Benq-Siemens</strong>: E71, EF81, EL71, S81, S82, SXG75, C65, C70, C72, C75, C81, CF75, CF76, CL75, CV65, CX65, CX75, M65, M81, ME75, S65, S68, S75, SF65, SK65, SK6R, SL65, SL75</span></p>
    	<p><span class="fonte"> <strong>HTC: </strong>MTeoR, P3301, P3400, P3450 (Touch), P3470 (Pharos), P3600 (Trinity), P5500 (Touch Dual), P6300, S310, S411, S620 (Excalibur), S621 (Excalibur)</span></p>
    	<p><span class="fonte"> <strong>Samsung</strong>: A706, D500, D520, D600, D800, D820, D830, D836 (Ultra 9), D840, D900, E490, E570, E740, E830, E840, E898, E900, F500, G600, P260, P520, P858, T429, T729, U100, U106 (Lean), U600, U700, X708, X820, Z130, Z150, Z400, Z540, Z560, Z720, ZV50, C417, C420, E210, E250, E350, E370, J600, M610, T539, X540, X560, X650, X658, X678
      
</span></p>
    	<p><span class="fonte"><strong>Gradiente</strong>: GF500, GF690, GF930</span></p>
    	<p><span class="fonte"> <strong>LG: </strong>KG800 (Chocolate), ME500 (Musicam), ME540 (Maxicam), ME550c (Cosmo), MG320c, MG800 (Chocolate), MG810 (Black Safira), MU500, P7200, U8290, KE500 (Shine), KE970 (Shine), KE990 (Viewty), ME770 (Shine Slim), ME850 (Prada), ME970 (Shine), C1100, C1200, C1500, C2000, G7100, MG100, MG105 (Vibecam), MG125B (One), MG155, MG185 (Finecam), MG200 (Smartcam), MG220 (Mastercam), MG225, MG230 (Black Crystal), MG235, MG280 (Chocolight), MG295 (Star), MG296, MG370 (Lynx)</span></p>
    	<p><span class="fonte"> <strong>Motorola:</strong> A845, C698p, C975, E1 (ROKR), E1000, E398, K1 (KRZR), L7 (SLVR), L72 (SLVR), L7i (SLVR), L9 (SLVR), MPx220, U3 (PEBL), U6 (PEBL), V3 (RAZR), V300, V303, V360, V365, V3e (RAZR), V3i (RAZR), V3r (RAZR), V3t (RAZR), V400, V500, V525, V550, V551, V555, V557, V600, V635, V975, V980, W490, W510, Z3 (RIZR), Z6 (ROKR), A728, C380, C381, C385, C650, E365, L6 (SLVR), V180, V185, V186, V190, V191, V195, V220, V235, V237, A1000, A1200, A780, A910, A910i, E1070, E2 (ROKR), E6 (ROKR), E680i, E6e (ROKR), E770, E8 (ROKR), K3 (KRZR), K3m (KRZR), U9 (ROKR), V3x (RAZR), V3xx (RAZR), V6 (RAZR MAXX), V8 (RAZR2), V9 (RAZR2), Z10
          
</span></p>
   	  <p><span class="fonte"><strong>SonyEricsson:</strong> C702, C902, D750, G502, G700, G900, K530, K550, K600, K608, K610, K618, K630, K660, K700, K750, K758, K770, K790, K800, K810, K818, K850, K858, M600, M608, P1, P900, P910, P990, S500, S700i, S710, T280, T650, T658, V600, V630, V640, V800, V802SE, W350, W380, W550, W580, W600, W610, W618, W660, W700, W710, W750, W760, W800, W810, W830, W850, W880, W888, W890, W898, W900, W908, W910, W950, W958, W960, W980, Z1010, Z550, Z555, Z558, Z610, Z710, Z750, Z770, Z780, Z800, F500, K300, K310, K320, K500, K510, W200, W300, Z250, Z258, Z300, Z300, Z310, Z320, Z520, Z525, Z530</span></p>
    	<p><span class="fonte"> <strong>Nokia:</strong> 2610, 2626, 3220, 5070, 5140, 6020, 6030, 6060, 6061, 6070, 6080, 6101, 6102, 6103, 6230, 6822, 7260, 7360, 5140i, 6102i, 2630, 2660, 2760, 2600 Classic, 2855, 2865, 3155, 5200, 6085, 6086, 6111, 6125, 6136, 6151, 6155, 6165, 6170, 6235, 6255, 7270, 1680 Classic, 2680 Slide, 2865i, 3109 Classic, 3110 Classic, 3155i, 3500 Classic, 3555, 6155i, 6235i, 6126, 6131, 6133, 6233, 6234, 6265, 6267, 6270, 6275, 6280, 6282, 6288, 6300, 7370, 7373, 7390, 3120 Classic, 3250, 3600 Slide, 5000, 5220 XpressmMusic, 5300 XpressMusic, 5310 XpressMusic, 5500, 5610 XpressMusic, 5700 XpressMusic, 6110 Navigator, 6120 Classic, 6121 Classic, 6124 Classic, 6131 NFC, 6210 Navigator, 6212 Classic, 6220 Classic, 6230i, 6263, 6265i, 6275i, 6290, 6300i, 6301, 6500 Classic, 6500 Slide, 6555, 6600 Fold, 6600 Slide, 6630, 6680, 6681, 6682, 7500 Prism, 7900 Prism, 8600 Luna , 8800 Arte, 8800 Sirocco Edition, E50, E51, E61, E61i, E62, E65, N71, N72, N73, N75, N76, N77, N78, N81, N82, N91, N92, N93, N93i, N95, N96 </span>
      </p>
    	<div align="right"><a href="#topo">:: topo ::</a><br>
   	  </div>

   	  <%= render :partial => 'link_jogos' %>
   	  
    </div>
    <div align="center"><span class="fonte"><span class="fonte">&copy;1990 - 2008 Abril Radiodifus&atilde;o Ltda. Todos os direitos reservados.</span></span></div>

