<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Portfolio Nano Games</title>
<style type="text/css">
<!--
body {
	background-color: #007b88;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
#raios {
position:absolute;
background-image:url(../images/fundo_site_007b88.png);
background-position:center;
background-repeat: no-repeat;
width:100%;
height:100%;
top:0;

}
#barra {
background-image:url(../images/listra_pattern.png);
background-repeat:repeat-x;
height:334px;
margin-top:200px;
}

-->
</style>
<script src="AC_RunActiveContent.js" type="text/javascript"></script>
</head>

<body>
<div style="z-index:1; margin:20px auto; position:relative; text-align:center;">
 	<!--<script type="text/javascript">
	AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','1024','height','768','src','flash/nano_portfolio.swf','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','movie','flash/nano_portfolio.swf', 'wmode','transparent' ); //end AC code
                  </script>
                  <noscript>-->
  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="1024" height="768">
    <param name="movie" value="../flash/nano_portfolio.swf">
    <param name="quality" value="high">
    <param name="wmode" value="transparent">
    <embed src="../flash/nano_portfolio.swf" width="1024" height="768" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent">
    </embed>
  </object>
				 <!--</noscript>-->
</div>


<div id="raios">
	<div id="barra">
	</div>	
</div>
</body>
</html>

