<%= render :partial => "destaque_iphone", :locals => {  :video => @video,
                                                        :video_file => "video_space_goo",
                                                        :flash_video => "../flash/video_space_goo.swf",
                                                        :tela => "../flash/tela_space_goo",
                                                        :name => "Space Goo",
                                                        :banner => "../banners/banner_space_goo.jpg" } %>

<div class="divisaoconteudo">
</div>

<div class="conteudo" style="padding: 14px;">
  <span class="cabecalho">
    <br>

    <a name="dicas">
    </a>
    :: dicas e instru&ccedil;&otilde;es   	      
  </span>
  
  <br>
  <br>
  
  <span class="fonte">
    Se ligue no Space Goo!<br><br>
    Divirta-se com esse simpático, colorido e gelatinoso alienígena durante a sua viagem através do espaço.<br><br>
    Escolha o Goo da sua cor favorita! Você pode esticar e comprimir, grudar e soltar, arrastar e atirar esse simpático extraterrestre dentro da sua nave espacial. Tente também modificar sua consistência, aderência e a gravidade para ver o que acontece.<br><br>
    Space Goo vai grudar no seu iPhone!<br><br>
  </span>
  
  <div align="right">
    <a href="#topo">
      :: topo ::
    </a>
  </div>
  
  <br>
  
  <div class="rodape">
  </div>

  <span class="cabecalho">
    <a name="comocomprar">
    </a>
  </span>

  <div class="jogos" style="height:110px; margin-top:30px;_margin-top:60px; *margin-top:60px;">
    <div class="bordaBox" style="padding-top:10px ; padding-left:25px ;padding-right:18px ; _padding-right:10px ;float:left; height:73px ; _width:410px; width:400px">
      <b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>

      <div class="conteudobox" style="height:75px ; padding-top:2px">
        <div class="fonte" align="center" style="float:left ; padding-left:40px; padding-top:15px">
          <span class="sms">
            Acesse  o 
            <span class="valor" style="font-size:22px" >
              iTunes 
            </span>
            e fa&ccedil;a o seu<br> 
            <strong>
              download!
            </strong>
            <br>
          </span>
        </div>
      </div>

      <b class="b4"></b><b class="b3"></b><b class="b2"></b><b class="b1"></b>
    </div> 

<div class="bordaBox" style="padding-top:10px ; float:left; _width:164px; width:167px;">
<b class="b1" style="background:#005C67"></b><b class="b2" style="background:#005C67"></b><b class="b3" style="background:#005C67"></b><b class="b4" style="background:#005C67"></b>

<div class="conteudobox" style="background:#005C67; padding-top:0px; padding-bottom:0px">

<div style="padding-left:2px ;padding-top:0px ">
<div align="left"><span class="valor" style="font-size:11px">Valor:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="valor" style="font-size:18px"><strong>
$0,99</strong></span>
</div>
</div>

</div>

<b class="b4" style="background:#005C67"></b><b class="b3" style="background:#005C67"></b><b class="b2" style="background:#005C67"></b><b class="b1"></b>

</div>

<div class="bordaBox" style="padding-top:5px ; float:left; _width:182px; width:185px;">
<a href="http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=302560726&mt=8" target="_blank"><img src="../images/appstore.png" border="0"></a>
</div>

</div>


<div class="linhacomocomprar"></div>
<div style="background:#004f59; height:18px ; margin-top:-15px">
<div class="fonte" style="padding-left:10px ">
</div>

<div class="linhabaixocomocomprar">
</div>



</div>

<div align="right" style="margin-top:20px "><a href="#topo">:: topo ::<br>
</a>
<br>
<br>
</div>
<div class="rodape"></div>
<span class="cabecalho">
<a name="celulares"></a> :: aparelhos dispon&iacute;veis</span><br>
<br>
<span class="fonte"><strong>iPhone 2G, iPhone 3G e iPod Touch. </strong><br>
<br>
</span>
<div align="right"><a href="#topo">:: topo ::</a><br>
<br>
<br>
</div>
</div>

<%= render :partial => "link_jogos" %>
