<%= render :partial => "destaque_iphone", :locals => {  :video => @video,
                                                        :video_file => "tela_lux_iphone",
                                                        :flash_video => "../flash/tela_lux_iphone.swf",
                                                        :tela => "../flash/tela_lux_iphone",
                                                        :name => "SUPERLUX",
                                                        :banner => "../banners/banner_SUPERLUX.png" } %>

  <div class="divisaoconteudo"></div>
    
    <div class="conteudo" style="padding: 14px;">
	
	  <p><span class="cabecalho">
   	        <br>
		    <a name="dicas"></a> :: dicas e instru&ccedil;&otilde;es </span><br>
   	        <br>
      <span class="fonte"><strong>SUPERLUX</strong> é um divertido quebra-cabeça, em que seu objetivo é formar sequências de pelo menos 3 peças do mesmo tipo, na horizontal ou vertical.</span></p>
	  <p><span class="fonte"> Ao formar uma sequência, as peças são eliminadas e novas peças entram na tela, podendo formar combos e te dar pontos extras.</span></p>
	  <p><span class="fonte"> Fazendo sequências de 4 ou mais peças, você ganha uma peça especial. Ao usar essa peça especial numa sequência, todas as peças em volta explodem, podendo criar uma reação em cadeia e te dar muitos pontos!</span></p>
	  <p><span class="fonte">Boa sorte! </span>
      </p>
	  <div align="right"><a href="#topo">:: topo ::</a></div>
   	      <br>
	 <div class="rodape"></div>
	 
	<span class="cabecalho">
<a name="comocomprar"></a>        
      </span>
      <div class="jogos" style="height:110px; margin-top:30px;_margin-top:60px; *margin-top:60px;">
		    
		    <div class="bordaBox" style="padding-top:10px ; padding-left:25px ;padding-right:18px ; _padding-right:10px ;float:left; height:73px ; _width:410px; width:400px">
            <b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
            <div class="conteudobox" style="height:75px ; padding-top:2px">
               
			   <div class="fonte" align="center" style="float:left ; padding-left:40px; padding-top:15px">
                <span class="sms">Acesse  o<span class="valor" style="font-size:22px" > iTunes</span>                e fa&ccedil;a o seu<br> 
                <strong>download!</strong><br>
                </span>
		      </div>

		      </div>
            <b class="b4"></b><b class="b3"></b><b class="b2"></b><b class="b1"></b>
          </div> 
		
		       <div class="bordaBox" style="padding-top:10px ; float:left; _width:164px; width:167px;">
                    <b class="b1" style="background:#005C67"></b><b class="b2" style="background:#005C67"></b><b class="b3" style="background:#005C67"></b><b class="b4" style="background:#005C67"></b>
                     
					<div class="conteudobox" style="background:#005C67; padding-top:0px; padding-bottom:0px">
					
					  <div style="padding-left:2px ;padding-top:0px ">
					    <div align="left"><span class="valor" style="font-size:11px">Valor:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="valor" style="font-size:18px"><strong>
				          $0,00</strong></span>
	                    </div>
					  </div>
			   
                    </div>
					
                    <b class="b4" style="background:#005C67"></b><b class="b3" style="background:#005C67"></b><b class="b2" style="background:#005C67"></b><b class="b1"></b>
               
			   </div>
		  
		  <div class="bordaBox" style="padding-top:5px ; float:left; _width:182px; width:185px;">
                   <a href="http://itunes.apple.com/us/app/superlux/id335818094?mt=8" target="_blank"><img src="../images/appstore.png" border="0"></a>
	    </div>
		  
	  </div>
		
		
		<div class="linhacomocomprar"></div>
		<div style="background:#004f59; height:18px ; margin-top:-15px">
		<div class="fonte" style="padding-left:10px ">
		 </div>
	  
	    <div class="linhabaixocomocomprar">
		</div>
		
		
	
	    </div>
      
    	<div align="right" style="margin-top:20px "><a href="#topo">:: topo ::<br>
        </a>
            <br>
            <br>
      </div>
      <div class="rodape"></div>
		<span class="cabecalho">
        <a name="celulares"></a> :: aparelhos dispon&iacute;veis</span><br>
          <br>
          <span class="fonte"><strong>iPhone 2G (a partir do OS 2.0)<br>
          iPhone 3G <strong>(a partir do OS 2.0)<br>
          <strong>iPhone 3GS <strong>(a partir do OS 2.0)</strong></strong>          <br>
          </strong>iPod Touch <strong>2 Gera&ccedil;&atilde;o (a partir do OS 2.0)</strong></strong><br>
          <strong>iPod Touch <strong>3 Gera&ccedil;&atilde;o (a partir do OS 2.0)</strong></strong>          <br>
          <br>
      </span>
   	  <div align="right"><a href="#topo">:: topo ::</a><br>
   	      <br>
        <br>
   	  </div>
   	  
   	  <%= render :partial => 'link_jogos' %>
   	  
 	  </div>
