<% @title = "Resource file types" %>
<table id="table" border="1">
	<thead>
		<tr>
	    <th>Name</th>
	    <th>Client id</th>
		<th>Content</th>
		<th colspan="3"></th>
	  </tr>
	</thead>
	<tbody>
		<% for resource_file_type in @resource_file_types %>
		  <tr>
		    <td><%=h resource_file_type.name %></td>
		    <td><%=h resource_file_type.client_id %></td>
			  <td><%=h resource_file_type.content %></td>
		    <td><%= link_to 'Show', resource_file_type %></td>
		    <td><%= link_to 'Edit', edit_resource_file_type_path(resource_file_type) %></td>
		    <td><%= link_to 'Destroy', resource_file_type, :confirm => 'Are you sure?', :method => :delete %></td>
		  </tr>
		<% end %>
	</tbody>
</table>

<br />
<br />
<%= paginate @resource_file_types %>
<%= link_to 'New resource file type', new_resource_file_type_path %>