<p>
  <b>Name:</b>
  <%=h @resource_file_type.name %>
</p>
<p>
	Client id:
	<%= h @resource_file_type.client_id %>
</p>
<p>
  <b>Content:</b>
  <%=h @resource_file_type.content %>
</p>


<%= link_to 'Edit', edit_resource_file_type_path(@resource_file_type) %> |
<%= link_to 'Back', resource_file_types_path %>
