﻿/*-----------------------------------------------------------------------------
iMuzDB Quiz - Admin

author:   Werther Azevedo - Nano Studio
website:   http://www.nanostudio.com.br/
-----------------------------------------------------------------------------*/


/* =Reset
-----------------------------------------------------------------------------*/

a{text-decoration:none;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h5,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
caption,th{text-align:left;}
fieldset,img,abbr,acronym{border:0;}
h1,h2,h5,h4,h5,h6{font-size:100%;font-weight:normal;}
ol,ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
q:before,q:after{content:'';}


/* =General
-----------------------------------------------------------------------------*/

.texthide span{
    position: absolute;
    margin-left: -10000px;
}

.clear{
    clear: both;
    height: 1%;
}

#admin{
    width: 980px;
    margin: 10px auto 0 auto;
    background: #fff url(../../../images/imuz_db/admin/bg_column.gif) repeat-y;
    height: 100%;
    border: 2px solid #fff;
}

body{
    background: #E7E1D8;
    font-family: Arial, Helvetica, sans-serif;
}

h1.with_button{
    position: relative;
}

/* =Header
-----------------------------------------------------------------------------*/

.header{
    background: #23160C;
    height: 106px;
    position: relative;
}

.header .logo{
    margin: 15px 0 0 20px;
}

.tit_admin{
    position: absolute;
    top: 0;
    right: 0;
    background: url(../../../images/imuz_db/admin/img_admin.png) no-repeat 0 0;
    width: 116px;
    height: 49px;
}

/* =Main Content
-----------------------------------------------------------------------------*/

.main_content{
    width: 760px;
    float: right;
    margin-right: 20px;
    min-height: 600px;
}

.main_content h1{
    font: bold 16px 'Droid Sans', Arial, sans-serif;
    color: #D90000;
    margin: 20px 0 10px 0;
    border-bottom: 1px dotted #000;
    padding-bottom: 10px;
}

.main_content h1 span{
    font-size: 14px;
    color: #333333;
}

/* =Navigation
-----------------------------------------------------------------------------*/

.main_menu{
    background: #A89371;
    height: 34px;
    margin-top: 1px;
    border-bottom: 2px solid #fff;
}

.main_menu ul{
    padding: 5px 0 0 20px;
    float: left;
}

.main_menu li a{
    text-transform: uppercase;
    font-size: 12px;
    color: #23160C;
    font-weight: bold;
}

.main_menu li a:hover{
    color: #fff;
}

.logout_link{
    float: right;
    font-size: 12px;
    padding: 8px 10px 0 10px;
    background: #4D3C32;
    height: 26px;
    color: #F0EBE3;
}

.logout_link:hover{
    text-decoration: underline;
    background: #970303;
}

.logout_link span{
    font-weight: bold;
    font-size: 12px;
    margin-right: 5px;
}

.contextual_menu{
    background: #F0EBE3;
    width: 180px;
    float: left;
}

.contextual_menu ul{
    margin: 20px 10px 0 10px;
}

.contextual_menu li a{
    color: #22150C;
    font-size: 14px;
    border-bottom: 1px solid #fff;
    padding: 8px 0 10px 0;
    display: block;
}

.contextual_menu li a:hover, .contextual_menu li.selected a{
    color: #D90000;
    border-bottom: 1px solid #23160C;
}

.contextual_menu li.selected{
    font-weight: bold;
}


/* =Tables
-----------------------------------------------------------------------------*/

.data_table{
    width: 100%;
    font: 12px Arial;
    color: #333333;
    border-collapse: collapse;
}

.data_table td, .data_table th{
    text-align: center;
    padding: 8px 5px;
    border: 1px solid #999999;
}

.data_table tr th{
    background: #23160C;
    color: #fff;
    font-size: 14px;
    padding: 10px 5px;
}

.data_table td.title, .data_table th.title{
    text-align: left;
    padding-left: 20px;
}

.data_table .zebra{
    background: #EEEAE3;
}

.data_table td.online{
    color: #006600;
    font-weight: bold;
}

.data_table td.archived{
    color: #999999;
    font-weight: bold;
}

/* =Pagination
-----------------------------------------------------------------------------*/

.pagination{
    float: right;
    margin: 20px 0;
}

.pagination li{
    float: left;
    margin: 0 5px;
}

.pagination li a, .pagination li span{
    font-weight: bold;
    font-size: 13px;
    float: left;
    width: 20px;
    height: 18px;
    padding-top: 2px;
    color: #22150C;
    text-align: center;
}

.pagination li a:hover, .pagination li span.current{
    background: #23160C;
    color: #fff;
}

.pagination li.next a{
    background: #23160C url(../../../images/imuz_db/admin/seta_dir.png) center center no-repeat;
}

.pagination li.prev a{
    background: #23160C url(../../../images/imuz_db/admin/seta_esq.png) center center no-repeat;
}

/* =Form Elements
-----------------------------------------------------------------------------*/

label{
    display: block;
    font: bold 12px Arial;
    margin-bottom: 5px;
}

input[type="text"]{
    background: #F0EBE3;
    border: 1px solid #23160C;
    width: 360px;
    display: block;
    padding: 3px;
    margin-bottom: 20px;
}

button{
    display: block;
    background: #23160C;
    color: #fff;
    border: none;
    padding: 5px 8px;
    -moz-border-radius: 5px;
    -opera-border-radius: 5px;
    border-radius: 5px;
    font: bold 12px Arial;
    cursor: pointer;
    margin: 0;
    height: 25px;
}

textarea{
    width: 360px;
    height: 150px;
}

select{
    background: #F0EBE3;
    border: 1px solid #23160C;
    height: 22px;
    min-width: 150px;
    margin-bottom: 20px;
}

/* =Links and Buttons
-----------------------------------------------------------------------------*/

.button{
    display: block;
    background: #23160C;
    color: #fff;
    border: none;
    padding: 5px 8px;
    -moz-border-radius: 5px;
    -opera-border-radius: 5px;
    border-radius: 5px;
    font: bold 12px Arial;
    cursor: pointer;
}

.delete_article{
    position: absolute;
    right: 0;
    top: -3px;
    background: #23160C url(../../../images/imuz_db/admin/ic_apagar_pq.png) no-repeat 8px 7px;
    padding-left: 28px;
}

.button_row{
    margin: 10px 0 0 0;
}

.button_row .button, .button_row button{
    float: left;
    margin-right: 10px;
}

.bt_back span{
    font-size: 15px;
    line-height: 10px;
    font-weight: bold;
    padding-right: 5px;
}

/* =Messages
-----------------------------------------------------------------------------*/

.error_message{
    border: 1px solid red;
    width: 60%;
    padding: 15px;
    margin: 10px 0;
    font-size: 13px;
    color: #D00000;
    background: #FFDDDD;
    line-height: 18px;
}
