<div id="product-list">
  
  <h1>Undetected user-agent list</h1>

  <table cellpadding="5" cellspacing="0" >
	<tr>
	  <th>Id</th>
	  <th>User-agent</th>
	  <th>Last access</th>
	  <th>Total accesses</th>
	</tr>

  <% for uua in @undetected_user_agents %>
	<tr valign="top" class="<%=cycle('list-line-odd', 'list-line-even' ) %>" >
	
	  <td class="list-title" ><%=h uua.id %></td>
	  <td class="list-title" ><%=h uua.user_agent %></td>
	  <td class="list-title" ><%=h uua.updated_at %></td>
	  <td class="list-title" ><%=h uua.accesses %></td>
	  
<%#	  <td class="list-actions" ><%= link_to 'Destroy', uua, :confirm => "Remove undetected user-agent " + uua.user_agent + '?', :method => :delete %></td>
	</tr>
  <% end %>
  </table>

  <br />

</div>

<%= paginating_links( @undetected_user_agents ) %><br/><br/>
