<% content_for :head do %>
  <%=stylesheet_link_tag 'FrontEnd/busca'%>
  <%= javascript_include_tag 'futura/front_end/search_results', 'scriptaculous'%>
<%end%>
<div class="conteudo_principal conteudo_busca">
  <div class="titulo_abas">
    <h1><%=I18n.t(:find_people_result)%></h1>
    <ul class="abas_busca">
      <li class="<%=@active_tab_friends%>"><%=link_to I18n.t(:online_friends), :action=>'index'%></li>
      <li class="<%=@active_tab_players%>"><%=link_to I18n.t(:online_players), :action=>'all'%></li>
    </ul>
  </div>

  <p class="txt_basico"><%=I18n.t(:player_text_result)%></p>

  <div class="busca_autocomplete">
  <% form_for :search, :url => {:controller => 'players', :action => 'search'} do |f| -%>
      <%= f.text_field :q, :id => 'query' %>
      <%= f.hidden_field :from, :value => @from %>
      <%= f.submit "", :class => 'bt_buscar' %>
  <% end %>
  </div>
  <div id="autocomplete_choices" class="autocomplete"></div>
  <% if @users.empty? %>
    <p> Nenhum jogador foi encontrado com o nome digitado </p>
  <% else %>
    <ul class="resultados_busca">
    <% for user in @users %>
      <% if not user.id == current_user.id %>
        <% if user.challenges_out.include?(current_user) %>
          <li class="selecionado" id="<%=user.id%>">
        <% else %>
          <li id="<%=user.id%>">
        <% end %>
          <%= link_to image_tag( user.avatar.url(:small_thumb), :width => 26, :height => 26,:class => 'img_jogador' ),
              "#", :onclick=>"constructModal('profile_#{user.id}', '/profiles/#{user.id}');"%>
          <div class="perfil">
            <h4>
              <%= link_to user.nickname, "#",
                  :onclick=>"constructModal('profile_#{user.id}', '/profiles/#{user.id}');"%>
            </h4>
            <p class="nick"><%="#{user.name} #{user.post_name}"%></p>
            <p class="patente">
              <%= image_tag current_user.patent_icon_url, :width => 21, :height => 22%>
              <span><%= current_user.patent_name %></span>
            </p>              
            <span class="status_online">Online</span>
            <% if user.game %>
              <span class="label_jogando">Jogando</span>
            <% else %>
              
              <% if user.challenges_out.include?(current_user) %>
                
                <%= link_to "Desfazer", "#",:class => 'bt_desfazer texthide toggle_button'%>  
                    
              <% else %>
              
                  <%= link_to I18n.t(:Challenge), "#",:class => 'bt_desafiar texthide toggle_button'%>
                    
              <% end %>
            <% end %>
          </div>
        </li>
      <% end %>
    <%end%>
    </ul>
  <% end %>
    
  <% if params[:show_selecteds] %>  
    <%= link_to "<span>Mostrar Todos</span>", {:action => params[:action]}, :class=>"bt_mostrar_toggle mostrar_todos texthide" %>
  <% else %>
    <%= link_to "<span>Mostrar Selecionados</span>", {:action => params[:action], :show_selecteds => true}, :class=>"bt_mostrar_toggle mostrar_selecionados texthide" %>
  <% end %>
    
  <% if current_user.challenges_in and current_user.challenges_in.size > 0 %>
    <a href="#" class="bt_enviarDesafio texthide" id="invite_button" onclick="constructModal('challenge_list', '/challenges')"><span>Enviar Desafio</span></a>
  <% else %>
    <a href="#" class="bt_enviarDesafio_disabled texthide" id="invite_button"><span>Enviar Desafio</span></a>
  <% end %>

  <div class="conteudo_adicional">
      <%=link_to("<span>#{t(:import_friends)}</span>", session[:ouid] ? "/invitations/orkut" : "/invitations/new", :class=>"bt_conviarOutrosAmigos texthide",
                   :onclick=>"constructModal('friends_modal', '/social_medias/show');")%>
  </div>

<%=will_paginate(@users)%>

</div>


