<% @title = "Edit Ad Channel" %>
<% form_for(@ad_channel) do |f| %>
	<%= f.error_messages %>

	<table class="form">
		<tr>
			<td class="text"><%= f.label :title %></td>
			<td><%= f.text_field :title %></td>
		</tr>
		<tr>
			<td class="text"><%= f.label :description %></td>
			<td><%= f.text_area :description, :rows => "8" %></td>
		</tr>
		<tr>
			<td class="text"><%= f.label :status %></td>
			<td><%= select 	'ad_channel', 
											'ad_channel_status_id',
			  							@statuses %></td>
		</tr>
		<tr>
			<td class="submit" colspan="2"><%= f.submit "Create" %></td>
		</tr>
	</table>
<% end %>

<%= link_to 'Show', @ad_channel %> |
<%= link_to 'Back', ad_channels_path %>
