<div>
  <table id="table" border="1" >
		<thead>
			<tr>
			  <th>Id</th>
			  <th>Name</th>
				<th colspan="2"></th>
			</tr>
		</thead>

		<tbody>
			<% for app_category in @app_categories%>
				<tr valign="top" >

				  <td><%=h app_category.id %></td>
				  <td><%=h app_category.name %></td>

				  <td><%= link_to 'Edit', edit_app_category_path(app_category) %></td>
				  <td><%= link_to 'Destroy', app_category, :confirm => "Remove app category " + app_category.name + '?', :method => :delete %></td>
				</tr>
		  <% end %>
		</tbody>
  </table>
<br />
</div>
<div id="pager" class="pager">
	<form>
		<img class="first" src="images/icons/first.png"/>
		<img class="prev" src="images/icons/prev.png"/>
		<input class="pagedisplay" type="text"/>
		<img class="next" src="images/icons/next.png"/>
		<img class="last" src="images/icons/last.png"/>

		<select class="pagesize">
			<option value="15" selected="selected">15</option>
			<option value="30">30</option>
			<option value="50">50</option>
			<option value="100">100</option>
		</select>
	</form>
</div>
<br />

<%= link_to 'Add app category', new_app_category_path %>

<script type="text/javascript">
	jQuery(document).ready(function() { 
	    jQuery("#table") 
		    .tablesorter({sortColumn: '#app', dateFormat: 'dd/mm/yyyy', widgets: ['zebra']}) 
		    .tablesorterPager({container: jQuery("#pager")}); 

	});
</script>