<% content_for :javascripts do %>
  <%= javascript_include_tag "jquery-1.5.1.min", "rails" %>
<% end %>
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'carreira' %>
<% end %>                   
        <div class="header">
            <nav class="principal">
                <ul class="nav_carreiras">
                    <li>
                        <h1 class="titulo_principal">
                            <a href="#" class="link_titulo">Carreira</a>
                        </h1>
                    </li>
                    <li>
                        <h1 class="titulo_principal">
                            <a href="#" class="link_titulo"> Contato</a>
                        </h1>
                    </li>
                </ul>
            </nav>
            <p>Acha que se encaixa em nosso perfil? Quer trabalhar conosco?<br />Deixe aqui suas informa&ccedil;&otilde;es e sua &aacute;rea de interesse que entraremos em contato!</p>
        </div>


<%= form_for @inquiry, :remote => true, :html => {:class => 'form_contato', :id => "form"} do |f| %>
      <%= render :partial => "/shared/admin/error_messages",
                 :locals => {
                   :object => @inquiry,
                   :include_object_name => true
                 } %>
        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :phone %>
        <div class="phone">
          <%= f.text_field :ddd %>
          <%= f.text_field :phone %>
        </div>
       
        <%= f.label :message  %>
        <%= f.text_area :message, :rows => 8 %>
      <div class='actions'>
        <%= f.submit t('.send') %>
        <%= link_to t('.privacy_policy'), "/pages/privacy-policy", :id => "privacy_link" if RefinerySetting.find_or_set(:show_contact_privacy_link, false) %>
      </div>
    <% end %>


    <section class="mensagens">
        <div id="response_success" class="enviados" style="display: none">
            <h2> Dados Enviados! </h2>
            <img src="../images/contato/erro.png" width="27" height="26" title="Erro" />
            <p>Seus dados foram enviados com <em>sucesso</em>!<br />Entraremos em contato assim que poss&iacute;vel.<strong>Obrigado.</strong></p>
        </div>

        <div class="erro" style="display: none">
            <h2> Erro nos dados! </h2>
            <img src="../images/contato/erro.png" width="27" height="26" title="Erro" />
            <p>As &aacute;reas marcadas de <em>vermelho</em> est&atilde;o incorretas<br />Fa&ccedil;a a corre&ccedil;&atilde;o e submeta novamente.<strong>Obrigado.</strong></p>
        </div>
    </section>
    <footer></footer>
    <script>
      $(document).ready(function(){
        $("#form").bind('ajax:success', function(data, status, xhr) {
            $("#response_success").show();
        })
      })
    </script>

    