<% content_for :head do %>
  <%= include_stylesheets :jobs_detail %>
<% end %>

<% content_for :meta do %>
  <meta name="description" content="<%= @job.resume %>"/>
  <meta name="title" content="<%= @job.job_title %>"/>
  <!-- link{:rel => "image_src", :href => "http://186.202.60.210/images/destaques/1.png"} -->
<% end %>

<% content_for :javascripts do %>
  <%= include_javascripts :contact %>

  <script>
    $("#fb_share").click(function() {
      shareOnFacebook(window.location);
    })
  </script>

  <script type="text/javascript" src="http://apis.google.com/js/plusone.js"></script>
<% end %>

<h1 class="titulo_principal">
  <span class="link_titulo"><%= t('.header.job_details') %></span>
  <img src="/images/icones/perfil_amarelo.png" width="65" height="56" title="Perfil" class="ic_titulo"/>
</h1>

<%= link_to content_tag(:span, "< ") + "#{t('.header.back_button')}", '/jobs', :class => "retorno_de_pagina" %>

<div class="box_padrao clearfix">
  <h2>
    <span class="subtitulo"><%= @job.job_title %></span>

    <ul class="social_links">
      <li>
        <iframe id="fb_iframe" src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2F<%= request.host_with_port %>&amp;layout=button_count&amp;show_faces=true&amp;width=450&amp;action=like&amp;font&amp;colorscheme=dark&amp;height=80" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
      </li>
      <li>
        <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a>
        <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
      </li>
      <li class="gplus">
        <g:plusone size="medium"></g:plusone>
      </li>
    </ul>
  </h2>
  <div class="secao_primaria">
    <h4><%= t('.job.description') %></h4>
    <%= raw @job.description %>
  </div>

  <div class="secao_secundaria">
    <h4><%= t('.job.desired_skills') %></h4>
    <%= raw @job.requirements %>
  </div>
</div>

<div class="envio clearfix">
  <%= link_to t('.form.submit'), { :controller=>"job_applications", :action=>"new", :job_id => @job.id }, :class => 'candidatura' %>
</div>