<div class="overlay" id="asset_picker" style="display: none">
  <div class='popup'>
    <div class='popup_form clearfix'>
		  <h1>Escolha o Asset</h1>

      <div>
    	  <% @assets['assets'].each do |asset| %> 	
          <p>
            <%= form_tag "/products/#{@product.id}/add_asset" do %>
              <%= hidden_field_tag :asset_id, asset['asset']['id'] %>
              <%= submit_tag "#{asset['asset']['name']} v#{asset['asset']['version']}" %>
            <% end %> 
          </p>
        <% end %>
      </div>

      <div class='alignButton'>
        <%= link_to 'Cancelar', '#', class: 'button cancel' %>
        <%#= f.submit 'Adicionar Asset', class: 'button asset_picker', id: 'buttonSave' %>
      </div>
    </div>
	</div>
</div>