<div>
	<h1>Assets</h1>

  <a href="#" id='new_asset_button' class="linkAdd">adicionar novo asset</a>

  <table class="data_table" id='table_descriptions'>
    <thead>
    	<tr>
    		<th>id</th>
    		<th>Nome</th>
    		<th>Versão</th>
    		<th></th>
    	</tr>
		</thead>
		<tbody>
		  <% entity.assets.each do |asset| %>
		    <%= content_tag :tr do %>
			  	<%= content_tag :td, asset['asset']['id'] %>
			  	<%= content_tag :td, asset['asset']['name'] %>
			  	<%= content_tag :td, asset['asset']['version'] %>
			  	<%= content_tag :td, link_to(	'Remover',
			  																"/products/#{@product.id}/remove_asset?asset_id=#{asset['asset']['id']}", 
			  																confirm: 'Tem Certeza?', 
			  																method: 'post') %>
			  <% end %>
		  <% end %>
		</tbody>
	</table>
</div>

<script>
	$('#new_asset_button').click(function(e) {
		$('#asset_picker').fadeIn();
	  e.preventDefault();	
	});
</script>