<fieldset>
  <label for="select_category">Categoria</label>
  
  <select id="select_category" name="product[category_id]">
    <% if categories %>
      <option value=""></option>

      <% categories['categories'].each do |node| %>
        <% node = node['category'] %>

        <% if node["children"].present? %>
          <optgroup label="<%= node["name"] %>">
            <% node["children"].each do |subnode| %>
              <% selected_category = (product.category_id == subnode["id"] ? "selected" : "") %>
              <option value="<%= subnode["id"] %>" <%= selected_category %>><%= subnode["name"] %></option>
            <% end %>
          </optgroup>
        <% else %>
          <% selected_category = (product.category_id == node["id"] ? "selected" : "") %>
          <option value="<%= node["id"] %>" <%= selected_category %>><%= node["name"] %></option>
        <% end %>
      <% end %>
    <% end %>
  </select>
</fieldset>