<div class="description">
  <h1>Descrição</h1>

  <a href="#" id='new_description_button' class="linkAdd">adicionar nova descrição</a>

  <div class='message success' id='description_created' style='display: none;'>
    Descrição cadastrada com sucesso
  </div>

  <div class='message success' id='description_updated' style='display: none;'>
    Descrição atualizada com sucesso
  </div>

  <table class="data_table" id='table_descriptions'>
    <thead>
    <%= content_tag :tr do %>
      <%= content_tag :th, 'Linguagem' %>
      <%= content_tag :th, 'Título' %>
      <%= content_tag :th, 'Descrição curta' %>
      <%= content_tag :th, 'Descrição completa' %>
      <%= content_tag :th, '' %>
      <%= content_tag :th, '' %>
    <% end %>
    </thead>
    <tbody>

    <% if entity.descriptions.any? %>
      <% entity.descriptions.each_with_index do |description, index| %>
        <%= content_tag :tr, class: index.odd? ? 'zebra' : '', 'description-id-data' => description['id'] do %>
          <%= content_tag :td, description['locale'], class: 'locale' %>
          <%= content_tag :td, description['title'], class: 'title' %>
          <%= content_tag :td, description['shorted'], class: 'shorted' %>
          <%= content_tag :td, truncate(description['complete'], length: 300), class: 'complete' %>
          <%= content_tag :td, link_to('editar', '#', class: 'edit_description') %>
          <%= content_tag :td, link_to('deletar', "/descriptions/#{description['id']}", confirm: 'Tem certeza?', method: :delete), class: 'actions' %>
        <% end %>
      <% end %>
    <% else %>
      <tr>
        <td colspan='6' id='no_description'>Não há descrições cadastradas</td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>