<%= content_for :javascripts, javascript_include_tag('form.description.js') %>

<div class='overlay ' id='new_description_overlay' style="display:none;">
  <div class='popup'>
    <div id='new_description' class='popup_form clearfix'>
      <%= form_for [Description.new], html: {class: 'description_form'} do |f| %>
        <%= f.hidden_field :id %>
        <%= hidden_field_tag :method, 'post' %>
        <h4>Adicionar nova descrição</h4>

        <div class='description_error_area message fail' style="display:none;">
          <ul>
            <li id='description_error_template' style='display: none;'></li>
          </ul>
        </div>

        <fieldset class='locale'>
          <%= f.label :locale, 'Linguagem' %>
          <%= f.select :locale, ['pt-BR', 'en', 'es'] %>
        </fieldset>

        <fieldset>
          <%= f.label :title, 'Título' %>
          <%= f.text_field :title %>
        </fieldset>

        <fieldset>
          <%= f.label 'Descrição reduzida', for: :description_shorted %>
          <%= f.text_area :shorted, class: 'shortDescription' %>
          <%= f.label 'Descrição completa', for: :description_complete, class:'labelDescriptionFull' %>
          <%= f.text_area :complete %>
        </fieldset>

        <div class='alignButton'>
          <%= link_to 'Cancelar', '#', class: 'button cancel' %>
          <%= f.submit 'Salvar Descrição', class: 'button description_submit_form', id: 'buttonSave' %>
        </div>
      <% end %>
    </div>
  </div>
</div>