<% title @product.persisted? ? 'Editar Produto' : 'Criar Produto' %>

<% content_for :head, stylesheet_link_tag("form.css") %>
<% content_for :javascripts, javascript_include_tag("form.product.js") %>
<% content_for :javascripts, javascript_include_tag("form.images.js") %>

<%= render :partial => 'error_form' %>

<%= content_tag :h1, @product.persisted? ? 'Editar Produto' : 'Criar Produto' %>

<%= form_for @product, url: "/products/#{@product.id}", html: {method: @product.id.present? ? :put : :post, name: 'basicInfo', class: 'form product_form clearfix'} do |f| %>

  <%= hidden_field_tag :env, Rails.env %>

  <div class="basicInfo clearfix">
    <%= f.hidden_field :id, value: @product.id, id: 'descriptible_id' %>
    <%= f.hidden_field :type, value: 'product', id: 'descriptible_type' %>
    <%= f.hidden_field :main_image_id %>

    <fieldset>
      <%= f.label "Nome Oficial", for: 'product_name' %>
      <%= f.text_field :name %>
    </fieldset>

    <fieldset class="publishedField">
      <legend>Publicado</legend>
      <%= f.label "Sim", for: 'product_published_true' %>
      <%= f.radio_button :published, true, checked: (@product.published) %>
      <%= f.label "Não", for: 'product_published_false' %>
      <%= f.radio_button :published, false, checked: (!@product.published) %>
    </fieldset>

    <%= render partial: 'categories', locals: {f: f, categories: @categories, product: @product} %>
    <%= render partial: 'tags', locals: {f: f} %>
    <%= render partial: 'modifiers', locals: {f: f} %>

    <fieldset class="alignButton saveButton">
      <%= f.submit 'Salvar Produto', class: 'submit_form button', id: 'create_product' %>
    </fieldset>
  </div>

  <%= render partial: 'properties', locals: {f: f, product: @product} %>
  <%= render partial: 'inline_description_form',
             locals: {form: f, descriptions: @descriptions_attributes} unless @product.id.present? %>

  <% if @product.persisted? %>
    <%= render partial: 'descriptions', locals: {form: f, entity: @product} %>
    <%= render partial: 'assets', locals: {form: f, entity: @product} %>
    <%= render partial: 'images/show', locals: {form: f, product: @product} %>
  <% end %>
<% end %>

<% if @product.persisted? %>
  <%= render partial: 'images/form', locals: {record: @product,
                                              action: "/images",
                                              id: "image"} %>
  <%= render partial: 'description_form' %>
  <%= render partial: 'asset_picker' %>
<% end %>
