<fieldset class='modifiers'>
  <%= f.label "Modificador de AT", for: 'product_at_modifier' %>
  <%= f.text_field :at_modifier %>

  <%= f.label "Modificador de DF", for: 'product_df_modifier' %>
  <%= f.text_field :df_modifier %>

  <%= f.label "Modificador de AG", for: 'product_ag_modifier' %>
  <%= f.text_field :ag_modifier %>

  <%= f.label "Modificador de TC", for: 'product_tc_modifier' %>
  <%= f.text_field :tc_modifier %>

  <%= f.label "Modificador de PR", for: 'product_pr_modifier' %>
  <%= f.text_field :pr_modifier %>

  <%= f.label "Modificador de IN", for: 'product_in_modifier' %>
  <%= f.text_field :in_modifier %>
</fieldset>