<div class="properties">
  <h1>Propriedades</h1>

  <table class="data_table" id='properties_table'>
    <thead>
      <tr><th>Nome</th><th>Valor</th><th>Ações</th><tr>
    </thead>
    
    <tbody>
      <% product.properties.each do |property| %>
      <% property = property['property'] %>
        <tr class='property' data-property-id=<%= property['id'] %>>
          <td>
            <%= property['name'] %>
          </td>
          <td>
            <%= property['value'] %>
          </td>
          <td><%= link_to "Remover", '#', class: 'remove_property' %>
        </tr>
      <% end %>

    </tbody>
  </table>

  <div class='properties_form'>
    <legend>Adicionar Propriedade: </legend>
    <%= text_field_tag nil, '', id: 'property_name', placeholder: 'Nome da propriedade' %>
    <%= text_field_tag nil, '', id: 'property_value', placeholder: 'Valor da propriedade' %>
  </div>
  <%= link_to "Adicionar Propriedade", '#', id: 'add_property', class: 'button' %>
</div>

<script>
  $('#add_property').click(function (event) {
    var product_id = $('#product_id').val();
    var name = $('#property_name').val();
    var value = $('#property_value').val();

    if (name != '' && value != '') {
      $.ajax({
        type: 'POST',
        url: 'http://products.staging.nanostudio.com.br/products/' + product_id + '/properties.json',
        data: {
          property: {
            name: name,
            value: value
          }
        },
        success: function (data) {
          var tr = "<tr class=\"property\" data-property-id=\"1\"><td>" + name + "</td><td>" + value + "</td><td><a href=\"#\" class=\"remove_property\">Remover</a></td></tr>";

          $('#properties_table').append(tr);
          $('#property_name').val('');
          $('#property_value').val('');
        }
      });

    };
    event.preventDefault();
  });

  $('.remove_property').live('click', function (event) {
    var parent = $(event.target).parents('.property:first');
    var product_id = $('#product_id').val();
    var property_id = parent.attr('data-property-id');

    $.ajax({
      type: 'DELETE',
      url: 'http://products.staging.nanostudio.com.br/products/' + product_id + '/properties/' + property_id + '.json',
      success: function (data) {
        parent.remove();
      }
    });

    event.preventDefault();
  })
</script>