  <fieldset class="tagField">
    <%= hidden_field_tag :used_tags, @product.tag_list %>
    <%= hidden_field_tag :all_tags, @tags %>
    <%= hidden_field_tag 'product[tag_list][]', '_' %>

    <div class="line">
      <label for="tags">Tags</label>
      <ul id="mytags">
      </ul>
    </div>
  </fieldset>
