<% title 'Lista de Produtos' %>

<h1>Lista de Produtos</h1>

<section>
  <%= content_tag :div, flash[:notice], class: 'message success' if flash[:notice] %>
  <%= content_tag :div, class: 'message fail' do %>
    <%= flash[:alert].each do |error| %>
      <%= content_tag :p, error %>
    <% end %>
  <% end if flash[:alert] %>

  <table class="data_table">
    <thead>
    <%= content_tag :tr do %>
      <%= content_tag :th, 'Id' %>
      <%= content_tag :th, 'Nome' %>

      <%= content_tag :th, 'Publicado?' %>

    <% end %>
    </thead>
    <tbody>
    <% @products.each_with_index do |product, index| %>
      <%= content_tag :tr, class: index.odd? ? 'zebra' : '' do %>
        <%= content_tag :td, product.id %>
        <%= content_tag :td, link_to(product.name, "/products/#{product.id}/edit") %>

        <%= content_tag :td, product.published ? 'Sim' : 'Não' %>

      <% end %>
    <% end %>
    </tbody>
  </table>

  <div id='pagination'>
    <%= link_to '< Anterior', products_path(page: @previous), class: 'previous_page' if @previous %>
    <% (1..(@total.to_f / 50).ceil).each do |p| %>
      <%= p.to_s == @current ? content_tag(:span, p, class: 'current_page') : link_to(p, products_path(page: p)) %>
    <% end if (@total.to_f / 50) > 1 %>
    <%= link_to 'Próxima >', products_path(page: @next), class: 'next_page' if @next %>
  </div>
</section>