<div id="product-list">
  
  <h1>Families list</h1>

  <table cellpadding="5" cellspacing="0" >
	<tr>
	  <th>Id</th>
	  <th>Name</th>
	  <th width="50%">Description</th>
	  <th># Devices</th>
	</tr>

	<% for family in @families %>
	  <tr valign="top" class="<%=cycle('list-line-odd', 'list-line-even') %>" >

		<td class="list-title" ><%= h family.id %></td>
		<td class="list-title" ><%= h family.name %></td>
		<td class="list-title" ><%= h family.description %></td>
		<td class="list-title" >
		  <%
		    #devices = app_versions_families.find( :all, :include => [ :app_versions, :families ] )
			if ( family.devices )
			  #device_list = family.devices.join( ', ' )
		  %>
			  <%= h family.devices.count %>
		  <%
			end
		  %>
		</td>

		<td class="list-actions" ><%= link_to 'Show', family %></td>
		<td class="list-actions" ><%= link_to 'Edit', edit_family_path(family) %></td>
		<td class="list-actions" ><%= link_to 'Destroy', family, :confirm => "Remove family " + family.name + '?', :method => :delete %></td>
	  </tr>
	<% end %>
  </table>

  <br />

</div>

<%= paginating_links( @families ) %><br/><br/>

<%= link_to 'Add family', new_family_path %>
