<% title @user.persisted? ? 'Editar Usuário' : 'Criar Usuário' %>

<%= content_for :head, stylesheet_link_tag("form.css") %>
<%= content_for :javascripts, javascript_include_tag("form.user.js") %>

<%= render :partial => 'error_form' %>

<%= content_tag :h1, @user.persisted? ? 'Editar Usuário' : 'Criar Usuário' %>

<%= form_for @user, url: "/users/#{@user.id}", html: { class: 'form' } do |f| %>
    <%= f.label :login %>
    <%= f.text_field :login %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :password, 'Senha' %>
    <%= f.password_field :password %>
    <%= f.submit 'Salvar Usuário', class: 'button userButton submit_form' %>
<% end %>