<% title 'Lista de Usuários' %>

<h1>Lista de Usuários</h1>

<section>
  <%= render :partial => 'error_form' %>

  <table class="data_table">
    <thead>
    <%= content_tag :tr do %>
      <%= content_tag :th, 'Id' %>
      <%= content_tag :th, 'Name' %>
      <%= content_tag :th, 'E-Mail' %>
    <% end %>
    </thead>
    <tbody>
    <% @users.each_with_index do |user, index| %>
      <%= content_tag :tr, class: index.odd? ? 'zebra' : '' do %>
        <%= content_tag :td, user.id %>
        <%= content_tag :td, link_to(user.login, edit_user_path(user)) %>
        <%= content_tag :td, user.email %>
      <% end %>
    <% end %>
    </tbody>
  </table>

  <!--<div id='pagination'>-->
    <%#= link_to '< Anterior', users_path(page: @previous), class: 'previous_page' if @previous %>
    <%# (1..(@total.to_f / 50).ceil).each do |p| %>
      <%#= p.to_s == @current ? content_tag(:span, p, class: 'current_page') : link_to(p, users_path(page: p)) %>
    <%# end if (@total.to_f / 50) > 1 %>
    <%#= link_to 'Próxima >', users_path(page: @next), class: 'next_page' if @next %>
  <!--</div>-->
</section>
