<%= render :partial => 'form' %>

<%#= content_tag :div, flash[:notice] if flash[:notice] %>

<%#= form_for @user do |f| %>
  <%#= f.label :login %>
  <%#= f.text_field :login %><br />
  <%#= f.label :email %>
  <%#= f.text_field :email %><br />
  <%#= f.label :password %>
  <%#= f.text_field :password %><br />
  <%#= f.submit 'Create User', class: 'button' %>
<%# end %>