<div id="updates">
  <p><%= h @app_version.app_version_number %>  overrides:</p>
  <% @app_version.inverse_app_version_updates.each { |u| %>
    <p><%= h( "#{u.app_version.app_version_number}" ) %>&nbsp;&nbsp;&nbsp;
    (<%= link_to 'delete', :update => 'updates', :url => { :action => :delete_app_version_update, :id => @app_version, :app_version_update_id => u }, :remote => true %>)</p>
  <% } %>
  <p>
    Overrides:<br/>
    <%= select 'related_app_versions', 'old_app_version_id', @other_app_versions.collect { |a| ["#{a.app.name} #{a.number}", a.id]},
      :onchange => remote_function( :update => 'updates', :url => { :action => :create_updated_app_version } ),
      :prompt => "Choose an app version" %>
  </p>

  <%#= observe_field "related_app_versions_old_app_version_id", :url => { :action => :create_updated_app_version },
    :update => "updates",
    :with => "'old_app_version='+ escape($('related_app_versions_old_app_version_id').value)+'&id='+#{@app_version.id}" %>
  <br/>
  <p><%= h @app_version.app_version_number %> is overriden by:</p>
  <% @app_version.app_version_updates.each { |u| %>
    <p><%= h( "#{u.updated_app_version.app_version_number}" ) %>&nbsp;&nbsp;&nbsp;
    (<%= link_to 'delete', :update => 'updates', :url => { :action => :delete_app_version_update, :id => @app_version, :app_version_update_id => u }, :remote => true %>)</p>
  <% } %>

  <p>
    Is overriden by:<br/>
    <%= select 'related_app_versions', 'new_app_version_id', @other_app_versions.collect { |a| ["#{a.app.name} #{a.number}", a.id]},
      :onchange => remote_function( :update => 'updates', :url => { :action => :create_updated_app_version } ),
      :prompt => "Choose an app version" %>
  </p>

  <%#= observe_field "related_app_versions_new_app_version_id", :url => { :action => :create_updated_app_version },
    :update => "updates",
    :with => "'new_app_version='+ escape($('related_app_versions_new_app_version_id').value)+'&id='+#{@app_version.id}" %>
  <br/>
</div>