<%= javascript_include_tag "prototype" %>

<%= form_for( @app_version, :html => { :multipart => true } ) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.label :release_notes %><br />
    <%= f.text_area :release_notes, :size => '40x3' %>
  </p>

	<p>
		<%= f.label :state %>
    <%= f.select(:status, AppVersion::STATUSES, :prompt => "Status") %>
	</p>

  <p>
    <%= f.label :news_feed_categories %><br />

    <% for category in @news_feed_categories %>
      <%= check_box_tag 'app_version[news_feed_category_ids][]', category.id, @app_version.news_feed_categories.include?(category) %>
      <%= category.default_translation %><br />
    <% end %>
  </p>

  <p><%= render :partial => 'updates' %></p>

  <p>Files: </p>
    <%= render :partial => 'files_list' %>

    <% for i in 1..5 %>
      <p>
        <td class='Label'><label for="app_file">File</label></td>
        <input id="<%= "app_file_#{i}_app_file_temp" %>" name="<%=  "app_files[#{i}][app_file_temp]" %>" type="hidden" />
          <input id="<%= "app_file_#{i}_app_file" %>" name="<%=  "app_files[#{i}][app_file]" %>" size="30" type="file" />
      </p>
      <% end %>
  <p>

	Families supported:
	<%
	  if ( @families.length <= 0 )
	%>
	<br/>No families found in database.<br/>
	<%
	  else
	   for family in @families
	%>
	  <div>
		<%= check_box_tag "app_version[family_ids][]", family.id, @app_version.families.include?( family ) %>
		<%= h family.name %>
	  </div>
	<%
		end
	  end
	%>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>


<%= link_to 'Show', @app_version %> |
<%= link_to 'Back', app_versions_path %>
