<div>
	<% form_tag :app_versions, :method => :get do %>
		<%= radio_button_tag 'available', 'Available', @available == 'Available' ? true : false %>
		<%= label_tag "available_Available", 'Available' %>
		<%= radio_button_tag 'available', 'Unavailable', @available == 'Available' ? false : true %>
		<%= label_tag "available_Unavailable", 'Unavailable' %>
		<br /><br />
		<%= text_field_tag :filter, @filter, :placeholder => 'Procurar pelo nome do App', :style => 'width: 250px' %>
		<%= submit_tag "Filter" %>
		<%= link_to "(clean)", app_versions_path %>
	<% end %><br />

  <table id="table" border="1" >
		<thead>
			<tr>
			  <th>Id</th>
			  <th>Application</th>
			  <th>Version</th>
			  <th>Release notes</th>
			  <th>Families</th>
			  <th>News Categories</th>
			  <th>State</th>
				<th colspan="3"></th>
			</tr>
		</thead>

		<tbody>
			<% for app_version in @app_versions %>
				<tr valign="top">
				  <td><%=h app_version.id %></td>
				  <td><%=h app_version.app.name %></td>
				  <td><%=h app_version.number %></td>
				  <td><%=h app_version.release_notes %></td>
				  <td width='400px'>
						<% if ( app_version.families.empty? ) %>
							<%= 'None' %>
						<% else %>
							<%= app_version.families.map {|f| f.name }.join(', ') %>
						<% end %>
				  </td>
				  <td>
            <% for news_category in app_version.news_feed_categories %>
              <%=h news_category.default_translation %><br />
            <% end %>
          </td>
				  <td>
            <%= app_version.status %>
          </td>

				  <% if ( current_user.is_admin? ) %>
			        <td class="list-actions" ><%= link_to 'Show', app_version %></td>
			        <td class="list-actions" ><%= link_to 'Edit', edit_app_version_path(app_version) %></td>
			        <td class="list-actions" ><%= link_to 'Destroy', app_version, :confirm => "Remove app version " + app_version.app.name + ' ' + app_version.number + '?', :method => :delete %></td>
			    <% end %>
				</tr>
		  <% end %>
		</tbody>
  </table>
  <br />
</div>

<%= paginate @app_versions %>

<br />
<%= if ( current_user.is_admin? ) then link_to 'Add application version', new_app_version_path end %>