<% @title = "New App Version" %>

<%= form_for( @app_version, :html => { :multipart => true } ) do |f| %>
  <%= f.error_messages %>

  <table class="form">
    <tr>
      <td class="text">
        <%= "Application" %>
      </td>
      <td>
          <%= select 'app_version', 'app_id',
          App.find(:all).collect {|a| [a.name, a.id]},
          :prompt => "Select an application" %>
      </td>
    </tr>
    <tr>
      <td class="text">
        <%= f.label :number %>
      </td>
      <td>
        <%= f.text_field :number %>
      </td>
    </tr>
    <tr>
      <td class="text">
		    <%= f.label :state %>
      </td>
      <td>
		    <%= f.select(:status, AppVersion::STATUSES, :prompt => "Status") %>
      </td>
    </tr>
    <tr>
      <td class="text">
        <%= f.label :news_feed_categories %>
      </td>
      <td>
        <% for category in @news_feed_categories %>
          <%= check_box_tag 'app_version[news_feed_category_ids][]', category.id, @app_version.news_feed_categories.include?(category) %>
          <%= category.default_translation %><br />
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="text">
        <%= "Files" %>
      </td>
      <td>
        <% for i in 1..6 %>
          <label for="app_file">File</label>
          <input id="<%= "app_file_#{i}_app_file_temp" %>" name="<%=  "app_files[#{i}][app_file_temp]" %>" type="hidden" />
          <input id="<%= "app_file_#{i}_app_file" %>" name="<%=  "app_files[#{i}][app_file]" %>" size="30" type="file" /><br />
        <% end %>
      </td>
    </tr>
    <tr>
      <td colspan="2" class="submit">
        <%= f.submit "Create" %>
      </td>
    </tr>
  </table>
<% end %>

<%= link_to 'Back', app_versions_path %>