<footer>
  <nav>
    <ul>
      <% @categories.each do |category| %>
        <li> <a href="/products?category=<%= category.id %>"><%= category.name %></a></li>
      <% end %>
    </ul>
  </nav>

  <div>
    <a href="#">Fale Conosco</a>
    <a href="#">Minha Conta</a>
    <a href="#">Comprar Grana</a>
  </div>
</footer>
