<header id="headFav">

<h1><%= yield :title %></h1>

<div class="fitLeft">
  <%= render partial: "#{controller_name}/link_back_top" rescue render partial: 'link_back_top' %>
</div>

<div class="fitRight">
    <a class="walletButton" href="#">
        <img src="/assets/bt_grana.png" width="40" height="38" />
    </a>

    <a href="/profile"><img src="/assets/bt_minha_conta.png" width="40" id="bt_minha_conta" height="38" alt="Minha Conta" /></a>

  <a href="" id="searchButton"><img src="/assets/bt_busca_dark.png" id="bt_busca" width="40" height="38" alt="Buscar" /></a>

</div>

<nav id="bodyLine">
<div id="categoryContent" >
  <ul>
    <% @categories.each do |category| %>
      <li><a href="/products?category=<%= category.id %>" id="cat<%= category.id %>"><%= category.name %></a></li>
    <% end %>
  </ul>
</div>

<div id="searchContent">
  <form id="search-form" method="get" action="/products">
    <label for="search_box">Pesquisar na Favela Store</label>
    <input id="search_box" name="search" type="text" value="Pesquisar">
    <button type="submit" class="navButton">buscar</button>
  </form>
</div>
</nav>
</header>
