<h1> <%= h "Editing MIDlet report \##{ @midlet_report.id }" %> </h1>

<%= form_for( @midlet_report, :html => { :multipart => true } ) do |f| %>
  <%= f.error_messages %>

  <p><label for="midlet_report">MIDlet report</label><br/>
  <%= select 'midlet_report', 'app_version_id',
	  AppVersion.find(:all, :order => 'app_id, number').collect {|a| ["#{a.app.name} #{a.number}", a.id]}, 
	  :prompt => "Select an application" %>
  <%= select 'midlet_report', 'customer_id',
	  Customer.find(:all).collect {|c| [c.nickname, c.id]}, 
	  :prompt => "Select a customer" %>
  <%= select 'midlet_report', 'device_id',
	  Device.find(:all, :order => 'vendor_id, model' ).collect {|d| ["#{d.vendor.name} #{d.model}", d.id]}, 
	  :prompt => "Select a device" %>
  <p>
    <%= f.label :score %><br/>
    <%= f.text_field :score %>
  </p>
  <p>
    <%= f.label :sub_type %><br/>
    <%= f.text_field :sub_type %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', midlet_reports_path %>
