<td class="list-title" ><%=h app.id %></td>
<td class="list-title" ><%=h app.name %></td>
<td class="list-title" ><%=h app.name_short %></td>
<td class="list-title" ><%=h app.description_short %></td>
<td class="list-title" ><%=h app.description_medium %></td>
<td class="list-title" ><%=h app.description_long %></td>
<%= render( :partial => 'app_categories', :object => app.app_categories ) %>

