<h1> <%= h "Editing application #{ @app.name }" %> </h1>

<% form_for(@app) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :name_short %><br />
    <%= f.text_field :name_short %>
  </p>
  <p>
    <%= f.label :description_short %><br />
    <%= f.text_area :description_short, :size => '75x2' %>
  </p>
  <p>
    <%= f.label :description_medium %><br />
    <%= f.text_area :description_medium, :size => '75x4' %>
  </p>
  <p>
    <%= f.label :description_long %><br />
    <%= f.text_area :description_long, :size => '75x12' %>
  </p>
  <p>
	Categories:
	<%
	  app_categories = AppCategory.find( :all )
	  if ( app_categories.empty? )
	%>
	<br/>No categories found in database.<br/>
	<%
	  else
	   for app_category in app_categories
	%>
	  <div>
		<%= check_box_tag "app[app_category_ids][]", app_category.id, @app.app_categories.include?( app_category ) %>
		<%= h app_category.name %>
	  </div>
	<%
		end
	  end 
	%>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @app %> |
<%= link_to 'Back', apps_path %>
