<div id="product-list">
  <h1>App list</h1>

  <table cellpadding="5" cellspacing="0" >
	<tr>
	  <th>Id</th>
	  <th>Name</th>
	  <th>Short name</th>
	  <th>Description short</th>
	  <th>Description medium</th>
	  <th>Description long</th>
	  <th>Categories</th>
	</tr>

  <% for app in @apps%>
	<tr valign="top" class="<%=cycle('list-line-odd', 'list-line-even') %>" >
	
	  <%= render( :partial => 'app', :object => app ) %>
	  <td class="list-actions" ><%= link_to 'Show', app %></td>
	  <td class="list-actions" ><%= link_to 'Edit', edit_app_path(app) %></td>
	  <td class="list-actions" ><%= link_to 'Destroy', app, :confirm => "Remove app " + app.name + '?', :method => :delete %></td>
	</tr>
  <% end %>
  </table>

  <br />

</div>

<%= paginating_links( @apps ) %><br/><br/>

<%= link_to 'Add application', new_app_path %>
