<%= #noinspection RubyResolve
    admin_form.error_messages%>
<ul>
	<li>
		<fieldset>
			<%= admin_form.label :email, I18n.t( :email ) %>
			<%= admin_form.text_field :email %>
		</fieldset>
	</li>
	<li>
		<fieldset>
			<%= admin_form.label :password, I18n.t( :password ) %>
			<%= admin_form.password_field :password %>
		</fieldset>
	</li>
	<li>
		<fieldset>
			<%= admin_form.submit I18n.t( :save )%>
		</fieldset>
	</li>
</ul>