  <table class="GridView">
    <tr class="gridHeader">
      <th class="nomeTema">Administradores</th>
      <th><%= I18n.t( :edit )%></th>
      <th><%= I18n.t( :delete )%></th>
    </tr>
    <% for admin in @admins %>
      <tr>
        <td><%= admin.email %></td>
        <td class="linkColumn"><%= link_to image_tag('/images/admin/page_white_edit.png'), admin_admin_path( admin ) %></td>
        <td class="linkColumn"><%= link_to image_tag('/images/admin/delete.png'), admin_admin_path( admin ), :confirm=>I18n.t( :are_you_sure ), :method=>"delete"%></td>

      <% end %>
    </table>
  <%= will_paginate(@admins)%>
