  <ul>
    <li>
      <%= news_form.label :title, I18n.t( :title ) %>
      <%= news_form.text_field :title %>
    </li>
    <li>
      <%= news_form.label :summary, I18n.t( :summary ) %>
      <%= news_form.text_field :summary , :maxlength => 50%>
    </li>
    <li>
      <%= news_form.label :body, "Corpo da noticia" %>
      <%= news_form.text_area :body %>
    </li>
    <li>
      <%= news_form.label :active, "Ativa?" %>
      <%= news_form.select :active, [["Sim", "true"], ["Não", "false"]],:selected => @news.active.to_s%>
    </li>
    <li>
      <%= news_form.submit I18n.t( :save ), :class=>"Botao"%>
      <%= link_to "Cancelar", admin_news_index_path(:active => @news.active.to_s), :class=>"Botao" %>
    </li>
  </ul>
