<%= render :partial => "shared/messages" %>

<table class="GridView">
  <tr class="gridHeader">
  <th class="nomeTema">Noticias</th>
  <th class="nomeTema">Resumo</th>
  <th class="nomeTema">Corpo</th>
  <th><%= I18n.t( :edit )%></th>
  <th><%= I18n.t( :delete )%></th>
  </tr>
	
  <% for news in @news %>
    <tr>
      <td><%= news.title %></td>
      <td><%= news.summary %></td>
      <td><%= truncate(news.body) %></td>
      <td class="linkColumn">
        <%= link_to image_tag('/images/admin/page_white_edit.png'), 
          edit_admin_news_path( news ), 
          :id => "edit_news_#{news.id}"%>
        </td>
        <td class="linkColumn">
          <%= link_to image_tag('/images/admin/delete.png'), 
            {:controller => :news, :action => :destroy, :id => news.id}, 
                      :confirm=>I18n.t( :deletion, :object => news.title ), 
                      :method=>"delete", 
                      :id => "delete_news_#{news.id}"%>
      </td>				
    </tr>
  <%end%>
</table>
<%= will_paginate @news%>
