<%= render :partial => 'shared/messages' %>

<%= form_for @news, :url => { :action => "create", :method => :post } do |news_form| %>
   <%= render :partial=>'form', :locals => { :news_form => news_form } %>
<% end %>

