/*-----------------------------------------------------------------------------
Cardapio Interativo Demo - General Stylesheet

autor:  Werther Azevedo
-----------------------------------------------------------------------------*/


/* =Reset
-----------------------------------------------------------------------------*/

a{text-decoration:none;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h5,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
caption,th{text-align:left;}
fieldset,img,abbr,acronym{border:0;}
h1,h2,h5,h4,h5,h6{font-size:100%;font-weight:normal;}
ol,ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
q:before,q:after{content:'';}


/* =General
-----------------------------------------------------------------------------*/

body{
    margin: 0;
    padding: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {display: inline-block;}

.wrapper{
    width: 768px;
    height: 1014px;
    border: 1px solid #ddd;
    margin: 0 auto;
    background: #F9F8E6;
    position: relative;
}


/* =Content
-----------------------------------------------------------------------------*/

.top{
    width: 768px;
    height: 193px;
    background: #fff;
}

.top .banner_link{
    z-index: 5;
    width: 728px;
    height: 90px;
    position: absolute;
    display: block;
    top: 5px;
    left: 20px;
}

.top .banner_switch{
    z-index: 10;
    position: absolute;
    top: 7px;
    left: 20px;
    display: none; /* To be shown by Javascript */
}

.content{
    float: left;
    height: 710px;
    overflow: auto;
    overflow-x: hidden;
    margin-bottom: 10px;
    position: relative;
}

.advertising{
    position: absolute;
    top: 103px;
    right: 0;
}

.advertising .banner_link{
    width: 300px;
    height: 250px;
    display: block;
    position: absolute;
    left: 10px;
}

.link_01{
    top: 20px;
}

.link_02{
    top: 285px;
}

.link_03{
    top: 552px;
}

.footer{
    display: block;
    clear: both;
    margin: 0 10px;
    text-align: center;
    border-right: 1px solid #990000;
    border-left: 1px solid #990000;

}
