<div>
	<% form_tag :devices, :method => :get do %>
		<%= text_field_tag :filter, @filter, :placeholder => 'Procurar pelo modelo ou fabricante', :style => 'width: 250px' %>
		<%= submit_tag "Filter" %>
		<%= link_to "(clean)", devices_path %>
	<% end %><br />

  <table id="table" border="1" >
		<thead>
			<tr>
			  <th>Vendor</th>
			  <th>Model</th>
			  <th>Commercial name</th>
			  <th>Family</th>
			  <th>User-agent</th>
				<th colspan="3"></th>
			</tr>
		</thead>
		<tbody>
			<% for device in @devices %>
			<tr valign="top" %>

			  <td><% if ( device.vendor ) %> <%=h device.vendor.name %> <% end %></td>
			  <td><%=h device.model %></td>
			  <td><%=h device.commercial_name %></td>
			  <td><% if ( device.family ) %> <%=h device.family.name %> <% end %></td>
			  <td><%=h device.user_agent %></td>

			  <td><%= link_to 'Show', device %></td>
			  <td><%= link_to 'Edit', edit_device_path(device) %></td>
			  <td><%= link_to 'Destroy', device, :confirm => "Remove device " + device.vendor.name + ' ' + device.model + '?', :method => :delete %></td>
			</tr>
		  <% end %>
		</tbody>
  </table>
<br />

<%= paginate @devices %>
</div><br />

<%= link_to 'Add device', new_device_path %>