<h1>New device</h1>

<%= form_for(@device) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :midp_version_id %><br />
    <% #f.text_field :midp_version_id %>
    <%= 
	  midp_versions = MidpVersion.find( :all, :order => "version" )
	  f.collection_select( :midp_version_id, midp_versions, :id, :version, { :include_blank => true, :selected => 0 } )
    %>
  </p>
  <p>
    <%= f.label :cldc_version_id %><br />
    <%= 
	  cldc_versions = CldcVersion.find( :all, :order => 'version' )
	  f.collection_select( :cldc_version_id, cldc_versions, :id, :version, { :include_blank => true, :selected => 0 } )
    %>
  </p>
  <p>
    <%= f.label :vendor_id %><br />
    <%= 
	  vendors = Vendor.find( :all, :order => 'name' )
	  f.collection_select( :vendor_id, vendors, :id, :name )
    %>
  </p>
  <p>
    <%= f.label :family_id %><br />
    <%= 
	  families = Family.find( :all, :order => 'name' )
	  f.collection_select( :family_id, families, :id, :name, { :include_blank => true, :selected => 0 } )
    %>
  </p>
  <p>
    <%= f.label :commercial_name %><br />
    <%= f.text_field :commercial_name %>
  </p>
  <p>
    <%= f.label :model %><br />
    <%= f.text_field :model %>
  </p>
  <p>
    <%= f.label :screen_width %><br />
    <%= f.text_field :screen_width %>
  </p>
  <p>
    <%= f.label :screen_height_partial %><br />
    <%= f.text_field :screen_height_partial %>
  </p>
  <p>
    <%= f.label :screen_height_full %><br />
    <%= f.text_field :screen_height_full %>
  </p>
  <p>
    <%= f.label :jar_size_max %><br />
    <%= f.text_field :jar_size_max %>
  </p>
  <p>
    <%= f.label :memory_heap %><br />
    <%= f.text_field :memory_heap %>
  </p>
  <p>
    <%= f.label :memory_image %><br />
    <%= f.text_field :memory_image %>
  </p>
  <p>
    <%= f.label :user_agent %><br />
    <%= f.text_field :user_agent %>
  </p>
  <p>
    <%= f.label :pointer_events %><br />
    <%= f.check_box :pointer_events %>
  </p>
  <p>
    <%= f.label :rms_total_size %><br />
    <%= f.text_field :rms_total_size %>
  </p>
  <p>
    <%= f.label :rms_max_record_size %><br />
    <%= f.text_field :rms_max_record_size %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', devices_path %>