<p>
  <b>Midp version:</b>
  <% if ( @device.midp_version ) %>
	<%=h @device.midp_version.version %>
  <% end %>
</p>

<p>
  <b>Cldc version:</b>
  <% if ( @device.cldc_version ) %>
    <%=h @device.cldc_version.version %>
  <% end %>
</p>

<p>
  <b>Vendor:</b>
  <% if ( @device.vendor ) %>
    <%=h @device.vendor.name %>
  <% end %>
</p>

<p>
  <b>Family:</b>
  <% if ( @device.family ) %>
    <%=h @device.family.name %>
  <% end %>
</p>

<p>
  <b>Commercial name:</b>
  <%=h @device.commercial_name %>
</p>

<p>
  <b>Model:</b>
  <%=h @device.model %>
</p>

<p>
  <b>Screen width:</b>
  <%=h @device.screen_width %>
</p>

<p>
  <b>Screen height partial:</b>
  <%=h @device.screen_height_partial %>
</p>

<p>
  <b>Screen height full:</b>
  <%=h @device.screen_height_full %>
</p>

<p>
  <b>Jar size max:</b>
  <%=h @device.jar_size_max %>
</p>

<p>
  <b>Memory heap:</b>
  <%=h @device.memory_heap %>
</p>

<p>
  <b>Memory image:</b>
  <%=h @device.memory_image %>
</p>

<p>
  <b>User agent:</b>
  <%=h @device.user_agent %>
</p>

<p>
  <b>Pointer events:</b>
  <%=h @device.pointer_events %>
</p>

<p>
  <b>Rms total size:</b>
  <%=h @device.rms_total_size %>
</p>

<p>
  <b>Rms max record size:</b>
  <%=h @device.rms_max_record_size %>
</p>

<p>
  <b>Bands supported:</b>
  <% if ( @device.bands.empty? ) %>
	<br/><%= 'None' %>
  <% 
	else
	  for band in @device.bands
  %>
	<br/><%= h band.name + ' ' + band.frequency.to_s %>
  <%
      end
	end
  %>
</p>
<p>
  <b>Data services supported:</b>
  <% if ( @device.data_services.empty? ) %>
	<br/><%= 'None' %>
  <% 
	else
	  for data in @device.data_services
  %>
	<br/><%= h data.name + ' ' + data.max_speed.to_s %>
  <%
      end
	end
  %>
</p>
<p>
  <b>Optional APIs supported:</b>
  <% if ( @device.optional_apis.empty? ) %>
	<br/><%= 'None' %>
  <% 
	else
	  for optional_api in @device.optional_apis
  %>
	<br/>
	<% if optional_api.jsr_index %>
	  <%= h "JSR#{optional_api.jsr_index}" -%>
	<% end %>

	<%= h optional_api.name %>
  <%
      end
	end
  %>
</p>


<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
