<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Nano Online</title>
  <%= stylesheet_link_tag 'nano', :media => 'all' %>
  <div id="banner">
<%#	<img src="/images/logo.png" /> %>
	<%= @page_title %>
  </div> 
</head>

<body id="device">
  
  <div id="columns">
	<div id="side">
	  <%= link_to 'Submissions', :controller => 'submissions' %><br/><br/>
	  
	  <%= link_to 'Applications', :controller => 'apps' %><br/>
	  <%= link_to 'Application versions', :controller => 'app_versions' %><br/>
	  <%= link_to 'Application categories', :controller => 'app_categories' %><br/><br/>
	  	  
	  <%= link_to 'Devices', :controller => 'devices' %><br/>
	  <%= link_to 'Vendors', :controller => 'vendors' %><br/>
	  <%= link_to 'Families', :controller => 'families' %><br/><br/>
	  
	  <%= link_to 'Integrators', :controller => 'integrators' %><br/>
	  <%= link_to 'Operators', :controller => 'operators' %><br/><br/>
	  
	  <%= link_to 'MIDP versions', :controller => 'midp_versions' %><br/>
	  <%= link_to 'CLDC versions', :controller => 'cldc_versions' %><br/>
	  <%= link_to 'Devices bugs', :controller => 'device_bugs' %><br/>
	  <%= link_to 'Optional APIs', :controller => 'optional_apis' %><br/>
	  <%= link_to 'Bands', :controller => 'bands' %><br/>
	  <%= link_to 'Data services', :controller => 'data_services' %><br/>
	  <%= link_to 'User roles', :controller => 'user_roles' %><br/>
	  
	  <p>
	    <%= link_to 'List users', :controller => 'users' %><br/>
	    <%= link_to 'Add user', :controller => 'login', :action => 'add_user' %><br/>
	    <%= link_to 'Log out', :controller => 'login', :action => 'logout' %><br/>
	  </p>
	</div>
  </div>

  <div id="main">
	<% if flash[:notice] -%>
	  <div id="notice" ><%= flash[:notice] %></div>
	<% end -%>
	<%= yield :layout %>
  </div>
</body>
</html>
