<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/><meta http-equiv="cache-control" content="no-cache"/><meta http-equiv="pragma" content="no-cache"/><meta http-equiv="expires" content="0"/>
<link href="/stylesheets/css.css" rel="stylesheet" type="text/css">
<title><%= @page_title %></title>
</head>
<body style="background-color:#005c67;">
<%= yield %>
</body>
</html>