/*XXXXXXXX PRÉ-DEFINIÇÕES XXXXXXXX*/
*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body{
  background: #fff url(/images/bckColunaMenu.gif) repeat-y 0 0;
}

img{
  border: 0;
}

.noMargin{
  margin: 0;
}

li{
  list-style-type: none;
}

/*--- DIV PRINCIPAL ---*/

.desktopFull {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height:auto !important;
  height: 100%;
  min-height: 100%;
}

.desktopFull:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/*--- TOPO 1 - ESTRUTURA ---*/

.divTopo1{
  background: url(/images/bckTopo.gif) repeat-x 0 0;
  border: 0;
  float: left;
  height: 71px;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
}

.divTopo1:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.divTopo1{
  display: inline-block;
}

/*--- TOPO 1 - ITENS ---*/

.divTopo1 div.imgLogo{
  background: #FFF url(/images/logoCDF.jpg) no-repeat 40px 0;
  border: 0;
  float: left;
  height: 71px;
  display: block;
  margin: 0 0 0 8px;
  padding: 0;
  width: 186px;
}

.divTopo1 div.imgLogo span{
  display: none;
}

#Saudacao{
  float: left;
  font: 70% Tahoma, sans-serif;
  color: #fff;
  margin-left: 10px;
  padding-top: 50px;
}

#Saudacao a{
  font-weight: bold;
  color: #fff;
}
/*--- TOPO 2 - ESTRUTURA ---*/

.divTopo2{
  background: #fffaf4;
  border: 0;
  float: left;
  height: 45px;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
}

.divTopo2:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.divTopo2{
  display: inline-block;
}

/*--- TOPO 2 - ITENS ---*/

.divTopo2 div.LogoffHome{
  background: #b7ab9c;
  border: 0;
  border-left: solid 8px #9d9181;
  float: left;
  height: 25px;
  display: block;
  margin: 0;
  padding: 20px 0 0 0;
  width: 186px;
}

.divTopo2 div.LogoffHome a{
  border: 0;
  color: #FFF;
  display: block;
  font: 70% Tahoma, sans-serif;
  margin: 0;
  padding: 0 5px 0 5px;
}

.divTopo2 div.LogoffHome a.btLogoff{
  float: left;
}

.divTopo2 div.LogoffHome a.btHome{
  float: right;
}

.divTopo2 div.NomeArea{
  border: 0;
  color: #069;
  display: block;
  float: left;
  font: 75% Tahoma, sans-serif;
  height: 28px;
  margin: 0;
  padding: 18px 0 0 20px;
  text-transform: uppercase;
}

/*--- CONTEUDO DA PAGINA ---*/

.divCentral{
  padding: 20px 20px 0 220px;
  font-family: Tahoma, Verdana, sans-serif;
  clear: both;
}


/*--- MENU ---*/

.Menu{
  border: 0;
  position: absolute;
  left: 0;
  top: 120px;
  margin: 0 0 0 5px;
  padding-left: 4px;
  width: 186px;
}

.Menu .expandable{
  background: #fff5e9 url(/images/bulOpen.gif) no-repeat 163px 6px;
  border-bottom: solid 1px #FFF;
  color: #ff4c1a;
  display: block;
  font: 70% Tahoma, sans-serif;
  height: 16px;
  margin: 5px 0 0 0;
  padding: 4px 0 0 10px;
  cursor: pointer;
}

.Menu ul{
  margin: 0;
  padding: 5px 0 5px 15px;
  background: #FFF;
  width: 160px;
  font: 70% Tahoma, sans-serif;
  color: #D87204;
  line-height: 20px;
}

.Menu ul li a{
  color: #0066a8;
}
.categoryitems{
    display: none;
}
.fieldWithErrors{
    border: solid red 1px;
}
/*li{border:0; float:left; margin:0; padding:0; width:186px;}
.divCentral ul.Menu li a{background:#fff5e9 url(/images/bulOpen.gif) no-repeat 163px 6px; border:0; border-bottom: solid 1px #FFF; color:#069; display:block; font: 70% Tahoma; height:16px; margin:2px 0 0 0; padding:4px 0 0 10px; width:175px;}
.divCentral ul.Menu li a.active{background:#fff5e9 url(/images/bulClose.gif) no-repeat 163px 6px;}*/