<%= render :partial => 'shared/messages' %>
<% form_for @news, :url => {:action => 'update'} , :html => {:method => :put} do |news_form| %>
   <%= render :partial=>'form', :locals => { :news_form => news_form } %>
<% end %>

