<%= render :partial => 'shared/messages' %>

<% form_for [:admin, @news], :html => { :method => :post } do |news_form| %>
  <%= render :partial=>'form', :locals => { :news_form => news_form } %>
<% end %>

