<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">

<!--[if IE 7 ]>
<html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="title" content="Bolsão PENSI 2012">
  <meta name="description" content="Bolsão PENSI 2012. Estude com os melhores e veja videos dos professores em troca de um tweet">
  <meta name="author" content="Nano Studio">

  <link rel="shortcut icon" href="../images/favicon.png">
  <link rel="alternate" type="application/rss+xml" title="SEO Blog (RSS 2.0)" href="http://bolsao2012.com.br/feed.atom"/>
  <title>Bolsão PENSI 2012</title>
  <link rel="stylesheet" href="/stylesheets/comum.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/home.css" type="text/css">
  <link href="/web/skin/blue.monday/jplayer.blue.monday.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="../stylesheets/jquery.jscrollpane.css" type="text/css">


  <%= javascript_include_tag :defaults %>
  <script type="text/javascript" src="../javascripts/jquery.mousewheel.js"></script>
  <script type="text/javascript" src="../javascripts/jquery.jscrollpane.min.js"></script>
  <script type="text/javascript" src="../javascripts/mwheelIntent.js"></script>
  <script type="text/javascript" src="/web/js/jquery.jplayer.min.js"></script>

  <%= yield :head %>

  <%= csrf_meta_tag %>
</head>
<body>
<%= yield :videos %>

<div class="central">
  <div class="conteudo_principal">
    <div class="header">
      <h1 class="logo">
        <a class="link_home" href="/home"></a>
        <span>Bols&atilde;o 2012 PENSI</span>
      </h1>

      <h2 class="barra_primaria"><span>Estude com os melhores</span></h2>
      <ul class="barra_secundaria">
        <li>
          <a href="http://pensi.com.br/home.html" target="_blank">Site do Pensi</a>
        </li>
        <!--        <li>
       <a href="/faq">D&uacute;vidas Frequentes</a>
        </li>-->
        <li>
          <a href="/about">Sobre o Bols&atilde;o</a>
        </li>
        <li>
          <a href="/home">Home</a>
        </li>
      </ul>
    </div>

    <div class="box_conteudo clearfix">
      <%= yield %>

      <%= form_tag '#', :class => 'video_select' do %>

        <p class="info_dica">Pegue a sua dica:</P>
        
        <div class="custom_selecao ico1 ico1_desabilitado clearfix">
          <select id="curso" class="curso select_curso">
            <option class="sel_interesse" value="-1">Escolha a Turma</option>
            <% @categories.each do |cat| %>
              <option class="sel_interesse" value="<%= cat.id %>"><%= cat.name %></option>
            <% end if @categories %>
          </select>
          <%#= select_tag :category, options_for_select((@categories.map{|c| [c.name, c.id]} << ['Todos', -1]).reverse!), :id => 'curso' %>
        </div>
        <div class="custom_selecao ico2 ico2_desabilitado clearfix">
          <select id="materia_default" disabled=disabled class="materia select_materia">
            <option class="sel_interesse" value="-1">Escolha a Mat&eacute;ria</option>
          </select>
          <% @categories.each do |cat| %>
            <select class="<%= cat.id %> materia" style='display:none'>
              <option id="<%= cat.id %>_default" class="sel_interesse" value="-1">Escolha a Mat&eacute;ria</option>
              <% Category.where(:parent_id => cat.id).each do |sub| %>
                <option class="sel_interesse <%= sub.parent.id %>" value="<%= sub.id %>"><%= sub.name %></option>
              <% end if @subcategories %>
            </select>
          <% end if @categories %>
        </div>

        <p class="info_dica troca_post">Troque por um Post:</p>

      <% end %>

      <div class="info_inscricao">
            <div class="data">
                  <p class="titulo_box">Pr&oacute;ximo Bols&atilde;o:</p>

                  <p class="data_inscricao">24/09</p>
            </div>

            <div class="link_inscreva_se">
                <a class="inscreva_se"
                   href="http://www.mamorim.eti.br/pensi/bolsao2012/incluircandidato.asp"
                   target="_blank"
                   onClick="_gaq.push(['_trackEvent', 'Clicks', 'Inscreva-se', '']);">Inscreva-se</a>
            </div>
      </div>
    </div>
  </div>

  <div class="conteudo_secundario">
    <h3>Quer conquistar <span>as melhores notas?</span></h3>

    <p>
      Aqui voc&ecirc; vai encontrar v&iacute;deos com dicas dos professores do Pensi para mandar
      bem no Bols&atilde;o
      2012.
    </p>

    <p class="divisa">Siga as instru&ccedil;&otilde;es abaixo e tenha acesso a esse conte&uacute;do exclusivo.</p>

    <p>Escolha a turma para a qual voc&ecirc; vai fazer o Bols&atilde;o</p>

    <p class="divisa">
      Escolha a mat&eacute;ria e clique em &quot;Trocar por um post no Twitter ou Facebook&quot; para liberar a dica.
    </p>
    <a class="base" href="http://feeds.feedburner.com/com/ESHs" target='_blank'>Feeds dos v&iacute;deos</a>
  </div>
  <div class="redes_sociais">
    <a class="facebook" href="http://www.facebook.com/pages/Pensi-Col%C3%A9gio-e-Curso/164277990291700" target="_blank">
      <img src="../images/facebook.png" width="21" height="21" alt="Facebook">
    </a>
    <a class="tweeter" href="http://www.twitter.com/_pensi" target="_blank">
      <img src="../images/tweet.png" width="21" height="21" alt="Tweeter">
    </a>
  </div>
</div>


<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25295971-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>