<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">

<!--[if IE 7 ]>
<html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="title" content="Bolsão PENSI 2012">
  <meta name="description" content="Bolsão PENSI 2012. Estude com os melhores e veja videos dos professores em troca de um tweet">
  <meta name="author" content="Nano Studio">

  <link rel="shortcut icon" href="/images/comum/favicon.png">
  <title>Bolsão PENSI 2012</title>

  <%= javascript_include_tag :defaults %>
  <%= yield :stylesheets %>
  <%= yield :head %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= yield %>
</body>
</html>