<%= render :partial=>'shared/messages' %>

<script>
  function toggle_select(){
    if( jQuery('#theme_parent_id').attr("disabled") ){
      jQuery('#theme_parent_id').removeAttr("disabled");
      jQuery('fieldset').removeClass();
    }
    else{
      jQuery('#theme_parent_id').attr("disabled", 'true');
      jQuery('fieldset').addClass("fs_disabled");
    }
  }
</script>
<%= #noinspection RubyResolve
theme_form.error_messages%>
<ul>
  <li>
    <%= theme_form.label :name, I18n.t( :title ) %>
    <%= theme_form.text_field :name %>
  </li>

  <% if ((params[:action] == 'edit') and (@theme.ancestors_count != 0)) %>
    <fieldset>
    <% elsif Theme.count == 0 %>
      <fieldset style="display: none">
      <% else %>
        <fieldset class="fs_disabled">
        <% end %>

        <legend>
          <% if ((params[:action] == 'edit') and (@theme.ancestors_count != 0))%>
            <%= check_box_tag :select_theme,'', true, :onclick=>"toggle_select();"%>
          <% else %>
            <%= check_box_tag :select_theme,'', false, :onclick=>"toggle_select();"%>
          <% end %>

          <%= I18n.t(:register_inside_another_theme) %>
        </legend>

        <li>
          <%= theme_form.label :parent_id, I18n.t(:parent_theme) %>
          <%if ((params[:action] == 'edit') and (@theme.ancestors_count != 0)) %>
            <%= theme_form.select :parent_id, @select_options, { :selected => @theme.parent_id } %>
          <%else%>
            <%= theme_form.select :parent_id, @select_options, { :selected => @theme.parent_id }, :disabled => true %>
          <% end %>
        </li>
      </fieldset>

      <li>
        <%= theme_form.submit I18n.t( :save ), :class=>'Botao', :style => "display:inline;"%>
        <%= link_to "Cancelar", :admin_themes, :class=>"Botao", :method => :get %>
      </li>

    </ul>
