<%= render :partial=>'shared/messages' %>

<table class="GridView">
  <tr class="gridHeader">
    <th class="nomeTema"><%= I18n.t( :theme )%></th>
    <th><%= I18n.t( :edit )%></th>
    <th><%= I18n.t( :delete )%></th>
  </tr>
  
  <% for theme in @themes %>
    <tr id="theme_<%=theme.id%>">
      <td class="nivel_0<%=theme.name_with_level.split('>').size%>">
        <%= theme.name %>
        
        <%if theme.descendants_count?%>
            <%= link_to("(#{I18n.t( :show_sub_theme )})", "#",
                        :onclick=>"get_childrens(#{theme.id})", :id=>"more_#{theme.id}",
                        :class=>'linkVisualizar') %>
        <%end%>
      </td>
      
      <td class="linkColumn">
				<%= link_to image_tag('/images/admin/page_white_edit.png'), 
				            edit_admin_theme_path( theme ), 
				            :id => "edit_theme_#{theme.id}"%>
			</td>

      <td class="linkColumn">
				<%= link_to image_tag('/images/admin/delete.png'), 
				            admin_theme_path( theme ), 
				            :id => "delete_theme_#{theme.id}", 
				            :confirm=> theme.descendants.blank? ? I18n.t(:deletion, :object => theme.name) : I18n.t(:multiple_deletion, :object => theme.name), 
				            :method=>"delete"%>
			</td>
  	</tr>
	<%end%>
</table>

<%= will_paginate @themes%>





    
