<% @title = "Resource Types" %>

<table id="table" border="1">
	<thead>
		<tr>
			<th>Title</th>
			<th>Client id</th>
			<th>Description</th>
			<th>Elements</th>
			<th colspan="3"></th>
	  </tr>
	</thead>

	<tbody>
		<% for resource_type in @resource_types %>
		  <tr>
				<td><%= h resource_type.title %></td>
				<td><%= h resource_type.client_id %></td>
				<td><%= h resource_type.description %></td>
				<td><% for element in resource_type.resource_type_elements %>
							<%= h element.resource_file_type.name + ": " + element.quantity.to_s %><br />
						<% end %>
				</td>
		    <td><%= link_to 'Show', resource_type_path(resource_type) %></td>
		    <td><%= link_to 'Edit', edit_resource_type_path(resource_type) %></td>
		    <td><%= link_to 'Destroy', resource_type, :confirm => 'Are you sure?', :method => :delete %></td>
		  </tr>
		<% end %>
	</tbody>
</table>

<div id="pager" class="pager">
	<form>
		<img 		class="first" 			src=	"images/icons/first.png"/>
		<img 		class="prev" 				src=	"images/icons/prev.png"/>
		<input 	class="pagedisplay" type=	"text"/>
		<img 		class="next" 				src=	"images/icons/next.png"/>
		<img 		class="last" 				src=	"images/icons/last.png"/>

		<select class="pagesize">
			<option value="15" selected="selected">15</option>
			<option value="30">30</option>
			<option value="50">50</option>
			<option value="100">100</option>
		</select>
	</form>
</div>
<br />
<br />

<%= link_to 'New Resource Type', new_resource_type_path %>

<script type="text/javascript">
	jQuery(document).ready(function() { 
	    jQuery("#table") 
		    .tablesorter({sortColumn: '#app', dateFormat: 'mm/dd/yyyy', widgets: ['zebra']}) 
		    .tablesorterPager({container: jQuery("#pager")}); 

	});
</script>