<h1>Editing data transmission type</h1>

<% form_for(@data_service) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :max_speed %><br />
    <%= f.text_field :max_speed %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', data_services_path %>
