<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Clube Desafio Futura</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    <%= stylesheet_link_tag 'FrontEnd/comum', 'FrontEnd/popup'%>
    <link rel="shortcut icon" href="/favicon.ico" />
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <%= javascript_include_tag :defaults, 'lightbox','futura/front_end/modal',
      'cufon-yui', 'DIN_Alternate_Medium_500.font', 'jquery-1.4.2.min', 'jquery.Jcrop','futura/front_end/poll', 'futura/front_end/share_on_orkut'%>
      <script>
        jQuery.noConflict();
        Cufon.replace('h2');
        Cufon.replace('em');

        <% if current_user %>
          pollServer("/im_alive" , 30000);
        <% end %>
          
         var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-20443707-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
      </script>
      <%= yield :head %>
    </head>
    <body>
      <%= yield :juggernaut_modal%>
      <div id="geral">
        <div id="site" class="clearfix">
          <div id="cabecalho">
            <div class="barra_topo">
              <div class="breadcrumb"><%= bread_crumb %></div>
              <%= link_to("<span>x</span>#{t( :get_out )}", destroy_user_session_path, :class=>"link_logoff")%>
            </div>
            <a href="<%= current_user ? "/rooms" : home_futura_url %>"><img src="/images/comum/logo_CDF.jpg" alt="Clube Desafio Futura" class="logo"></a>

            <div class="full_banner texthide">
              <a href="http://www.futuratec.org.br/" target="_blank">
                <img src="/images/comum/full_banner.jpg" width="468" height="60" alt="Full Banner">
              </a>
              <span>Publicidade</span>
            </div>
            <% if current_user %>
              <%=render :partial=>'shared/header_profile'%>
            <%elsif not session[:ouid]%>
              <%=render :partial=>'shared/header_login'%>
            <%end%>

            <img src="/images/comum/logo_Futura.png" width="54" height="54" alt="Futura" class="logo_futura">
          </div>
    
          <%= yield :sidebar %>
          <%= render :partial=>'shared/messages'%>
          <%= yield%>

        </div>
        <%=render :partial=>'shared/footer'%>  
      </div>

      <%if session[:login_error_message] or params[:pop] == 'login'%>
        <script>
          errorModal('login_modal', '/users/sign_in')
        </script>
      <%elsif session[:password_error_message] or params[:pop] == 'password'%>
        <script>
          errorModal('password_modal', '/users/password/new')
        </script>
      <%elsif params[:pop] == 'admin'%>
        <script>
          errorModal('password_modal', '/admins/sign_in')
        </script>
      <%elsif session[:confirmed_error_message] or session[:confirmed_message]%>
        <script>
          errorModal('login_modal', '/users/confirmation')
        </script>
      <%end%>
      <%= yield :body_bottom %>
      <script>
        Cufon.now();
      </script>
    </body>
  </html>
