  <% if logged_user_id %>
    <% Notification.active_to(logged_user_id).each do |notification| %>
      <p class='notificacao' id="notification_<%#= notification.id %>">
        <%#  TODO seria interessante colocar a hora aqui, no estilo "Há 2 horas" (Twitter)    <%=  time_ago_in_words notification.created_at %>
        <%= auto_link(notification.body).html_safe %>
      </p>
    <% end %>
  <% end %>