<% @title = "Edit Unit Format" %>
<%= form_for @unit_format do |f| %>
    <%= f.error_messages %>

    <table class="form">
      <tr>
        <td class="text"><%= f.label :name %></td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td class="submit" colspan="2"><%= f.submit "Edit" %></td>
      </tr>
    </table>
<% end %>
<%= link_to "Voltar", unit_formats_url %>
