<% @title = "Unit Format" %>
<table id="table" border="1">
    <tr>
        <th>Name</th>
        <th colspan="2"></th>
    </tr>
    <% for unit_format in @unit_formats do %>
      <tr>
        <td><%= unit_format.name %></td>
        <td><%= link_to "Edit", edit_unit_format_url(unit_format) %></td>
        <td><%= button_to "Delete", unit_format, :method => :delete, :confirm => 'Are you sure?' %></td>
      </tr>
    <% end %>
</table>
<%= paginate @unit_formats %>

<br />
<%= link_to "New", new_unit_format_url %>
