<div id="product-list">

  <h1>MIDP versions list</h1>

  <table cellpadding="5" cellspacing="0" >
	<tr>
	  <th>Version</th>
	  <th>Id</th>
	</tr>

  <% for midp in @midp_versions%>
	<tr valign="top" class="<%=cycle('list-line-odd', 'list-line-even' ) %>" >

	  <td class="list-title" ><%=h midp.version %></td>
	  <td class="list-title" ><%=h midp.id %></td>

	  <td class="list-actions" ><%= link_to 'Edit', edit_midp_version_path(midp) %></td>
	  <td class="list-actions" ><%= link_to 'Destroy', midp, :confirm => "Remove MIDP version " + midp.version + '?', :method => :delete %></td>
	</tr>
  <% end %>
  </table>

  <br />

</div>
<%= paginate @midp_versions %>
<%= link_to 'Add MIDP version', new_midp_version_path %>
