<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div><br/>
<% end %>

<% form_tag(:action => "recover_password") do %>
	<label for= :name >E-mail:</label>
	<%= text_field_tag :email, params[:email] %>
	
	<%= submit_tag "Reenviar" %>
<% end -%>