<p>
  <b>Id:</b>
  <%=h @user.id %>
</p>

<p>
  <b>Nickname:</b>
  <%=h @user.nickname %>
</p>

<p>
  <b>First Name:</b>
  <% if ( @user.first_name ) %>
    <%=h @user.first_name %>
  <% end %>
</p>

<p>
  <b>Last name:</b>
  <% if ( @user.last_name ) %>
    <%=h @user.last_name %>
  <% end %>
</p>

<p>
  <b>E-mail:</b>
  <% if ( @user.email ) %>
    <%=h @user.email %>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
