Ad channel versions supported:
<%
  if ( @ad_channel_versions.length <= 0 )
%>
<br/>None.<br/>
<%
  else
   for ad_channel_version in @ad_channel_versions
%>
  <div>
	<%= check_box_tag "ad_channel[ad_channel_version_ids][]", ad_channel_version.id, @ad_channel.ad_channel_versions.include?( ad_channel_version ) %>
	<%= h ad_channel_version.name %>
  </div>
<%
	end
  end
%>
