<% @title = "Ad Channels" %>
<table id="table" border="1">
	<thead>
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th>Status</th>
			<th>Versions</th>
			<th colspan="3"></th>
	  </tr>
	</thead>

  <tbody>
		<% for ad_channel in @ad_channels %>
		  <tr valign="top" >
			<td><%= h ad_channel.title %></td>
			<td><%= h ad_channel.description %></td>
			<td><%= h ad_channel.ad_channel_status.status %></td>
			<td><% ad_channel.ad_channel_versions.each { |v|
					link_to v.id, v, :controller => :ad_channel_versions, :id => v
				  } %></td>

			<td><%= link_to 'Show', ad_channel %></td>
			<td><%= link_to 'Edit', edit_ad_channel_path(ad_channel) %></td>
			<td><%= link_to 'Destroy', ad_channel, :confirm => 'Are you sure?', :method => :delete %></td>
		  </tr>
		<% end %>
  </tbody>
</table>

<div id="pager" class="pager">
	<form>
		<img class="first" src="images/icons/first.png"/>
		<img class="prev" src="images/icons/prev.png"/>
		<input class="pagedisplay" type="text"/>
		<img class="next" src="images/icons/next.png"/>
		<img class="last" src="images/icons/last.png"/>

		<select class="pagesize">
			<option value="15" selected="selected">15</option>
			<option value="30">30</option>
			<option value="50">50</option>
			<option value="100">100</option>
		</select>
	</form>
</div>
<br />
<br />

<%= link_to 'New Ad Channel', new_ad_channel_path %>

<script type="text/javascript">
	jQuery(document).ready(function() { 
	    jQuery("#table") 
		    .tablesorter({sortColumn: '#app', dateFormat: 'mm/dd/yyyy', widgets: ['zebra']}) 
		    .tablesorterPager({container: jQuery("#pager")}); 

	});
</script>