<h1>Editing CLDC</h1>

<%= form_for(@cldc_version) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :version %><br />
    <%= f.text_field :version %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', cldc_versions_path %>
