<div id="product-list">

  <h1>CLDC versions list</h1>

  <table cellpadding="5" cellspacing="0" >
	<tr>
	  <th>Version</th>
	  <th>Id</th>
	</tr>

  <% for cldc in @cldc_versions%>
	<tr valign="top" class="<%=cycle('list-line-odd', 'list-line-even' ) %>" >

	  <td class="list-title" ><%=h cldc.version %></td>
	  <td class="list-title" ><%=h cldc.id %></td>

	  <td class="list-actions" ><%= link_to 'Edit', edit_cldc_version_path(cldc) %></td>
	  <td class="list-actions" ><%= link_to 'Destroy', cldc, :confirm => "Remove CDLC version " + cldc.version + '?', :method => :delete %></td>
	</tr>
  <% end %>
  </table>

  <br />

</div>
<%= paginate @cldc_versions %>
<%= link_to 'Add CLDC version', new_cldc_version_path %>
