<div id="element">
	<%= fields_for "elements[]", elements do |element_form| -%>
	  <%= element_form.label :type %>
		<%= element_form.collection_select ( :resource_file_type_id, @file_types, :id, :name, :prompt => "select type" ) %>
		<%= element_form.label :quantity %>
		<%= element_form.text_field :quantity, :size => "5" %>
	<% end -%>
</div>
