<% @title = "Resource Types" %>

<table id="table" border="1">
	<thead>
		<tr>
			<th>Title</th>
			<th>Client id</th>
			<th>Description</th>
			<th>Elements</th>
			<th colspan="3"></th>
	  </tr>
	</thead>

	<tbody>
		<% for resource_type in @resource_types %>
		  <tr>
				<td><%= h resource_type.title %></td>
				<td><%= h resource_type.client_id %></td>
				<td><%= h resource_type.description %></td>
				<td><% for element in resource_type.resource_type_elements %>
							<%= h element.resource_file_type.name + ": " + element.quantity.to_s %><br />
						<% end %>
				</td>
		    <td><%= link_to 'Show', resource_type_path(resource_type) %></td>
		    <td><%= link_to 'Edit', edit_resource_type_path(resource_type) %></td>
		    <td><%= link_to 'Destroy', resource_type, :confirm => 'Are you sure?', :method => :delete %></td>
		  </tr>
		<% end %>
	</tbody>
</table>

<br />
<br />
<%= paginate @resource_types %>
<%= link_to 'New Resource Type', new_resource_type_path %>