<p>
	Title:
	<%= h @resource_type.title %>
</p>

<p>
	Client id:
	<%= h @resource_type.client_id %>
</p>

<p>
	Description:
	<%= h @resource_type.description %>
</p>

<p>
	File types:<br /><br />
	<% for element in @resource_type.elements %>
		<%= h element.resource_file_type.name %>:
		<%= h element.quantity %>
		<br />
	<% end %>
</p>
<%= link_to 'Edit', edit_resource_type_path(@resource_type) %> |
<%= link_to 'Back', resource_types_path %>
