<div id="product-list">
  
  <h1>Download codes list</h1>

  <table cellpadding="5" cellspacing="0" >
	<tr>
	  <th>Code</th>
	  <th>Filename</th>
	  <th>Download id</th>
	  <th>Used at</th>
	</tr>

  <% for code in @download_codes %>
	<tr valign="top" class="<%=cycle('list-line-odd', 'list-line-even' ) %>" >
	
	  <td class="list-title" ><%=h code.code %></td>
	  <td class="list-title" ><%=h code.file %></td>
	  <td class="list-title" ><%=h code.download_id %></td>
	  <td class="list-title" ><%=h code.used_at %></td>
      
	</tr>
  <% end %>
  </table>

  <br />

</div>
