﻿/*
iMuzDB Quiz - Main stylesheet
author:   Werther Azevedo - Nano Studio
*/

/* Embedded Fonts
-------------------------------------------------------------------*/

@font-face {
    font-family: 'Droid Sans' ;
    src: url(DroidSans.ttf) format("truetype");
}

@font-face {
    font-family: 'Droid Sans' ;
    src: url(DroidSans-Bold.ttf) format("truetype");
    font-weight: bold;
}

/* General
-------------------------------------------------------------------*/

body{
    font-family: 'Droid Sans', sans-serif;
    margin: 0;
}

#viewport{
	width: 320px;
	height: 460px;
    color: #554B39;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.default_viewport{
    background: #BCAD8E url(/imuz_db/mobile/images/bg_general.jpg) no-repeat 0 51px;
}

a{
    color: #970303;
    text-decoration: none;
}

.footer{
    margin: 20px 2% 0 2%;
}

.aside{
    background:
        url(/imuz_db/mobile/images/double_bar.png) top left no-repeat,
        url(/imuz_db/mobile/images/amp_pattern.png);
	width: 300px;
    padding: 20px 10px;
}

.general_text{
    font: 16px 'Droid Sans', sans-serif;
    line-height: 1.5em;
    color: #554B39;
    margin: 0 5%;
    text-align: justify;
}

.orientation_waning{
    display: block;
}

/* Landscape Orientation
-------------------------------------------------------------------*/

@media screen and (orientation:landscape) {
    #viewport{
        background: url(/imuz_db/mobile/images/orientation_warning.jpg) no-repeat 0 0;
        width: 480px;
        height: 300px;
    }
    #viewport *{
        display: none;
    }
}

/* Header
-------------------------------------------------------------------*/

.header{
    background:
        url(/imuz_db/mobile/images/title_bar_bg.png) repeat-x,
        url(/imuz_db/mobile/images/double_bar.png) no-repeat bottom left;
    height: 51px;
    margin-bottom: 10px;
    position: relative;
}

.header h1{
    color: #fff;
    font: bold 18px 'Droid Sans', sans-serif;
    text-align: center;
    padding: 10px 0 0 0;
    height: 41px;
}

.app_title{
    background: url(/imuz_db/mobile/images/app_title.jpg) no-repeat bottom left;
    height: 79px;
}

.app_title h1{
    display: none;
}

.header a{
    color: #fff;
}

.header .small_button{
    display: block;
    float: left;
    height: 30px;
    background:
        url(/imuz_db/mobile/images/black_button_left.png) no-repeat top left,
        url(/imuz_db/mobile/images/black_button_right.png) no-repeat top right;
    margin: 7px 0 0 10px;
}

.header .small_button span{
    display: block;
    margin: 0 6px;
    padding: 7px 5px 0 5px;
    height: 23px;
    background: url(/imuz_db/mobile/images/black_button_repeat.png) repeat-x;
    font: bold 12px Arial;
}

.header .small_bt_pressed{
    color: #737171;
    background: #000;
    -webkit-border-radius: 5px;
}

.header .small_bt_pressed span{
    background: #000;
}

/* Links and Buttons
-------------------------------------------------------------------*/

.button{
    font: 15px 'Droid Sans', sans-serif;
}

a.bt_cancel{
    background: url(/imuz_db/mobile/images/ic_cancel.png) no-repeat 0 0;
    color: #554B39;
    height: 30px;
    float: left;
    padding: 3px 0 0 28px;
    margin-top: 22px;
}

.bt_default{
    height: 44px;
    border: none;
    color: #fff;
    padding: 0 7px;
    background:
        url(/imuz_db/mobile/images/bt_red_left.png) top left no-repeat,
        url(/imuz_db/mobile/images/bt_red_right.png) top right no-repeat;
    display: block;
}

.bt_default strong{
    display: block;
    height: 31px;
    background: url(/imuz_db/mobile/images/bt_red_repeat.png) top left;
    margin: 0 0 0 0;
    text-align: center;
    padding: 13px 0 0 0;
    font-weight: normal;
}

.bt_signin{
    background: url(/imuz_db/mobile/images/bt_submit.png) no-repeat 0 0;
    width: 187px;
    height: 44px;
    color: #fff;
    float: right;
    border: none;
    font: 17px 'Droid Sans', sans-serif;
}

.bt_generic{
    background: url(/imuz_db/mobile/images/bt_generic.png) no-repeat 0 0;
    width: 187px;
    height: 44px;
    color: #fff;
    float: right;
    border: none;
    font: 17px 'Droid Sans', sans-serif;
}

.bt_back{
    background: url(/imuz_db/mobile/images/bt_back.png) no-repeat 0 0;
    width: 88px;
    height: 20px;
    padding: 7px 0 0 0;
    font-size: 12px;
    color: #fff;
    text-align: center;
    display: block;
    position: absolute;
    top: 8px;
    left: 10px;
    font: bold 12px Arial;
}

.bt_edit{
    position: absolute;
    top: 0;
    right: 10px;
}

.options_back{
    right: 10px;
    left: auto;
}

/* Modal Overlay
-------------------------------------------------------------------*/

.modal_overlay{
    position: absolute;
	width: 320px;
	height: 440px;
    padding-top: 20px;
    background: rgba(0,0,0,0.7);
    z-index: 100;
}

.modal_overlay .window{
    margin: 20% auto 0 auto;
    width: 95%;
    background: -webkit-gradient(linear, center top, center bottom, from(#F4F1E9), to(#C2B087));
    padding-top: 5px;
    padding-bottom: 20px;
    -webkit-border-radius: 6px;
    -webkit-box-shadow: 2px 2px 5px #000;
    border-radius: 6px;
    box-shadow: 3px 3px 4px #000;
}

.modal_overlay .window h5{
    width: 273px;
    height: 34px;
    background: url(/imuz_db/mobile/images/modal_topBar.png) no-repeat 0 0;
    font: bold 16px 'Droid Sans', sans-serif;
    color: #fff;
    padding: 7px 0 0 20px;
    margin: 0 0 10px 5px;
}

.modal_overlay .window p{
    margin: 0 10px;
    padding-bottom: 20px;
    font-size: 15px;
    color: #554B39;
    line-height: 20px;
}

.modal_overlay .window .close_link{
    width: 28px;
    height: 28px;
    float: right;
    margin: -3px 5px 0 0;
}

.modal_overlay .buttons{
    height: 45px;
}

.modal_overlay .button strong{
    padding-left:10px;
    padding-right:10px;
}

.modal_overlay .bt_backToGame{
    float: left;
    margin-left: 15px;
}

.modal_overlay .bt_quit{
    float: right;
    margin-right: 15px;
}

.preloader p{
    text-align: center;
}

.preloader_img{
    display: block;
    margin: 0 auto 20px auto;
}

.modal_overlay .preloader h5{
    background: url(/imuz_db/mobile/images/modal_topBar_noLink.png) no-repeat 0 0;
}

.modal_overlay .bt_center{
    margin: 0 30px;
}

/* Options
-------------------------------------------------------------------*/

.options{
    background: url(/imuz_db/mobile/images/bg_options.jpg) no-repeat 0 0;
    height: 360px;
    width: 320px;
    position: absolute;
    z-index: 100;
    top: 50px;
}

.options .knob{
    width: 280px;
    padding-top: 50px;
    margin: 45px auto 0 auto;
    background: url(/imuz_db/mobile/images/knob_volume_bg.png) bottom center no-repeat;
    position: relative;
}

.options .knob img{
    display: block;
    /*-webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;*/
}

.options .knob img.turn_on{
    margin: 0 0 0 64px;
}

.options .knob img.turn_off{
    margin: 0 0 0 70px;
}

.options .knob p{
    position: absolute;
    bottom: 15px;
    color: #977543;
}

.options .knob .on{
    right: 0;
}

.options .knob .off{
    left: 0;
}

.audio_label{
    text-align: center;
    color: #C9B591;
    font-size: 24px;
    text-transform: uppercase;
    margin: 15px 0 0 0;
    font-weight: bold;
}

/* Animations   -- Dropped due to lack of support in iOS 3.0

@-webkit-keyframes rotateRight {
     from {
        -webkit-transform:rotate(-180deg);
     }
     to {
        -webkit-transform:rotate(0deg);
     }
 }

 @-webkit-keyframes rotateLeft {
     from {
        -webkit-transform:rotate(0deg);
     }
     to {
        -webkit-transform:rotate(-180deg);
     }
 }

.stopLeft {
    -webkit-transform:rotate(-180deg);
}

.stopRight {
    -webkit-transform:rotate(0deg);
}

.turnOn{
    -webkit-animation-name: rotateRight;
 }

.turnOff{
    -webkit-animation-name: rotateLeft;
}
*/

/* External Frame
-------------------------------------------------------------------*/

.external_frame{
    width: 100%;
    height: 395px;
    margin: 0 auto;
    border: none;
}
