﻿/* Main Menu
-------------------------------------------------------------------*/

.main_menu li{
    margin-bottom: 5px;
    padding-left: 43px;
    height: 40px;
    padding-top: 3px;
}

.main_menu li a{
    color: #332B1E;
    font-size: 18px;
    display: block;
    background: rgba(143,123,86,0.3);
    height: 29px;
    padding: 7px 0 0 10px;
    border-bottom: 1px solid #706250;
}

.main_menu li:nth-child(1){
    background: url(/imuz_db/mobile/images/ic_menu_playNewGame.png) no-repeat 0 0;
}

.main_menu li:nth-child(2){
    background: url(/imuz_db/mobile/images/ic_menu_myProfile.png) no-repeat 0 0;
}

.main_menu li:nth-child(3){
    background: url(/imuz_db/mobile/images/ic_menu_help.png) no-repeat 0 0;
}

.main_menu li:nth-child(4){
    background: url(/imuz_db/mobile/images/ic_menu_ranking.png) no-repeat 0 0;
}

.main_menu li:nth-child(5){
    background: url(/imuz_db/mobile/images/ic_menu_visit.png) no-repeat 0 0;
}

.aside{
    margin: 10px 0 0 0;
    width: 320px;
    padding: 10px 0 0 0;
    height: 122px;
    overflow: hidden;
}

.aside h2{
    font: bold 18px 'Droid Sans', sans-serif;
    color: #000;
    background: #BCAD90 url(/imuz_db/mobile/images/bass_clef.png) no-repeat 6px 2px;
    border-bottom: 1px solid #63523B;
    height: 30px;
    padding: 5px 0 0 40px;
}

.aside p{
    color: #40382B;
    margin: 0 0 5px 0;
    font-size: 15px;
    line-height: 20px;
}

.aside .news_content{
    margin: 5px 10px 0 10px;
    height: 40px;
    overflow: hidden;
}

.aside p a{
    color: #40382B;
}

.aside .link_news{
    float: right;
    background: url(/imuz_db/mobile/images/ic_plus.png) top right no-repeat;
    padding: 5px 30px 10px 0;
    margin: 4px 5px 0 0;
    color: #B50303;
    font-size: 14px;
}
