﻿/* Header
-------------------------------------------------------------------*/

.bt_next{
    background: url(/imuz_db/mobile/images/bt_skip.png) no-repeat 0 0;
    width: 61px;
    height: 22px;
    padding: 7px 20px 0 8px;
    float: right;
    font: bold 12px Arial, Helvetica, sans-serif;
    margin: 5px 10px 0 0;
    text-align: center;
}

.bt_skip{
    text-align: right;
    width: 68px;
    padding: 7px 15px 0 5px;
}

.skipcount{
    float: left;
    height: 7px;
    background: url(/imuz_db/mobile/images/skip_dots.png) no-repeat 0 0;
    margin: 4px 0 0 7px;
}

.sc_1{
    width: 10px;
}

.sc_2{
    width: 20px;
}

.sc_3{
    width: 29px;
}

/* Question
-------------------------------------------------------------------*/

.knob_sprite{
    background-image: url(/imuz_db/mobile/images/knob_sprite.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 75px;
    right: 0;
    width: 91px;
    height: 217px;
}

.knob_a{
    background-position: -182px 0;
}

.knob_b{
    background-position: -91px 0;
}

.knob_c{
    background-position: -273px 0;
}

.knob_d{
    background-position: -365px 0;
}

.question{
    position: relative;
}

.question h2{
    color: #4D0906;
    font-size: 16px;
    font-weight: normal;
    margin: 0 5%;
    min-height: 60px;
}

.question ul{
    list-style: none;
    list-style-position: outside;
    margin: 15px 0 0 0;
    padding: 0;
    height: 275px;
    overflow: auto;
}

.question ul li{
    display: block;
    margin-bottom: 10px;
    background: url(/imuz_db/mobile/images/alternative_bg2.png) no-repeat;
}

.question ul li a{
    display: block;
    padding: 15px 0px 15px 35px;
    color: #554B39;
    width: 210px;
}

.question li:nth-child(1) a{
    background: url(/imuz_db/mobile/images/a.png) no-repeat 5px 12px;
}

.question li:nth-child(2) a{
    background: url(/imuz_db/mobile/images/b.png) no-repeat 8px 12px;
}

.question li:nth-child(3) a{
    background: url(/imuz_db/mobile/images/c.png) no-repeat 8px 12px;
}

.question li:nth-child(4) a{
    background: url(/imuz_db/mobile/images/d.png) no-repeat 8px 12px;
}

.hud{
    background:
        url(/imuz_db/mobile/images/double_bar.png) top left no-repeat,
        url(/imuz_db/mobile/images/amp_pattern.png);
    height: 50px;
}

.hud * {
    float: left;
}

.hud dl{
    margin: 20px 0 0 0;
}

.hud dt{
    color: #330604;
    font: bold 14px 'Droid Sans', sans-serif;
}

.hud dt.score{
    padding-left: 10px;
    padding-top: 3px;
}

.hud dt.question{
    padding-left: 110px;
    padding-top: 2px;
}

.hud dd{
    margin: 0;
    color: #831813;
    padding-left: 5px;
}

.hud dd.score{
    font: bold 20px 'Droid Sans', sans-serif;
}

.hud dd.question{
    color: #831813;
    font: bold 18px 'Droid Sans', sans-serif;
}

.timer{
    float: right;
    font: bold 26px 'Droid Sans', sans-serif;
    color: #554B39;
    margin: 0 10px 0 20px;
}

/* Bottom Link Bar
-------------------------------------------------------------------*/

.link_bar{
    list-style: none;
    background: url(/imuz_db/mobile/images/bottom_bar_bg.png) repeat-x;
    height: 54px;
    display: block;
    padding: 0;
    margin: 0;
    clear: both;
}

.link_bar li{
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    height: 54px;
}

.link_bar li a{
    color: #fff;
    display: block;
    padding: 33px 0 0 0;
    text-align: center;
}

.link_bar li a:active{
    color: #FFCB08;
}

li.video_link{
    background:
        url(/imuz_db/mobile/images/ic_video.png) no-repeat center 6px,
        url(/imuz_db/mobile/images/bottom_bar_division.png) no-repeat top right;
    padding-right: 4px;
    width: 49%;
}

li.video_link:active{
    background:
        url(/imuz_db/mobile/images/ic_video.png) no-repeat center 8px,
        url(/imuz_db/mobile/images/bottom_bar_division.png) no-repeat top right;
}

li.bio_link{
    background: url(/imuz_db/mobile/images/ic_biography.png) no-repeat center 8px;
    width: 49%;
}

li.bio_link:active{
    background: url(/imuz_db/mobile/images/ic_biography.png) no-repeat center 10px;
}

li.share_link{
    width: 32%;
    background: url(../../../imuz_db/mobile/images/ic_share.png) no-repeat center 7px;
}

li.playAgain_link{
    width: 35%;
    background:
        url(../../../imuz_db/mobile/images/ic_playAgain.png) no-repeat center 10px,
        url(/imuz_db/mobile/images/bottom_bar_division.png) no-repeat bottom left,
        url(/imuz_db/mobile/images/bottom_bar_division.png) no-repeat bottom right;
}

li.ranking_link{
    width: 32%;
    background: url(../../../imuz_db/mobile/images/ic_ranking.png) no-repeat center 6px;
}

.no_share li.share_link{
    display: none;
}

.no_share li.playAgain_link{
    width: 50%;
    background:
        url(../../../imuz_db/mobile/images/ic_playAgain.png) no-repeat center 10px,
        url(/imuz_db/mobile/images/bottom_bar_division.png) no-repeat bottom right;
}

.no_share li.ranking_link{
    width: 49%;
}

/* Answers
-------------------------------------------------------------------*/

.answer{
    position: absolute;
    z-index: 10;
    top: 50px;
    left: 0;
    width: 320px;
    background: none;
}

.answer h3 span, .answer h2 span{
    display: none;
}

.artist{
    width: 145px;
}

.artist .image{
    width: 145px;
    height: 145px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.artist .image img{
    vertical-align: middle;
    max-width: 130px;
    max-height: 130px;
}

.background{
    position: absolute;
    width: 320px;
    overflow: hidden;
    top: 50px;
    left: 0;
    z-index: 0;
}

.artist_name{
    padding-top: 20px;
}

/* Correct Answer */

.answer_correct_view{
    background: url(/imuz_db/mobile/images/bg_correct.png) no-repeat 0 -10px;
    height: 460px;
    width: 320px;
}

.answer_correct_view h3{
    background: url(/imuz_db/mobile/images/correct_yourAnswer.png) no-repeat 0 0;
    width: 126px;
    height: 18px;
    margin: 10px 0 0 10px;
}

.answer_correct_view h2{
    background: url(/imuz_db/mobile/images/correct.png) no-repeat 0 0;
    width: 303px;
    height: 51px;
    margin: 10px 0 0 5px;
}

.answer_correct_view .background img{
    margin-top: -85px;
    margin-left: -130px;
}

.answer_correct_view .background{
    height: 410px;
}

.answer_correct_view .artist{
    position: absolute;
    top: 126px;
    left: 86px;
}

.answer_correct_view .artist_name{
    text-align: center;
    text-shadow:
        1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    color: #fff;
    font: bold 16px 'Droid Sans', sans-serif;
    letter-spacing: 0.065em;
    height: 51px;
    width: 320px;
    position: absolute;
    top: 260px;
    left: 0;
}

/* Wrong Answer */

.answer_wrong_view{
    background: url(../../../imuz_db/mobile/images/bg_wrong.jpg) no-repeat 0 0;
    height: 460px;
    width: 320px;
}

.answer_wrong_view h3{
    background: url(/imuz_db/mobile/images/wrong_yourAnswer.png) no-repeat 0 0;
    width: 126px;
    height: 18px;
    position: absolute;
    top: 10px;
    left: 20px;
}

.answer_wrong_view h2{
    background: url(/imuz_db/mobile/images/wrong.png) no-repeat 0 0;
    width: 229px;
    height: 66px;
    position: absolute;
    top: 30px;
    left: 40px;
}

.answer_wrong_view .background{
    height: 408px;
}

.answer_wrong_view .background img{
    margin: 0 0 0 -60px;
}

.answer_wrong_view .artist{
    margin: 138px auto 0 auto;
}

.answer_wrong_view .artist_name{
    text-align: center;
    color: #fff;
    font: bold 16px 'Droid Sans', sans-serif;
    letter-spacing: 0.065em;
    height: 42px;
}

/* Correct Answer Animations */

@-webkit-keyframes glowRotate {
     from {
        -webkit-transform:rotate(0deg);
     }
     to {
        -webkit-transform:rotate(359deg);
     }
 }

.background img {
    -webkit-animation-name: glowRotate;
    -webkit-animation-duration: 2.8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

/* Game Over
-------------------------------------------------------------------*/

.gameover_negative{
    background: url(/imuz_db/mobile/images/bg_gameoverNegative.jpg) no-repeat 0 0;
    padding-top: 1px;
}

.gameover_positive{
    background: url(/imuz_db/mobile/images/bg_gameoverPositive.jpg) no-repeat 0 0;
    padding-top: 1px;
}

.gameover h1{
    background: url(/imuz_db/mobile/images/game_over.png) no-repeat 0 0;
    width: 288px;
    height: 38px;
    position: absolute;
    margin: 30px 0 0 10px;
    z-index: 10;
}

.gameover h1 span{
    display: none;
}

.amp{
    height: 168px;
    position: relative;
    margin: 70px 0 0 0;
}

.amp img{
    position: absolute;
    z-index: 1;
}

.amp_spark{
    top: 3px;
    right: 74px;
}

.amp_smoke{
    top: -41px;
    left: 130px;
}

.amp_notes{
    top: 0px;
    right: 48px;
    opacity: 0.8;
}

.game_stats{
    margin-top: 8px;
    height: 159px;
}

.game_stats li{
    background: rgba(255,255,255,0.2);
    color: #fff;
    margin-bottom: 10px;
    padding: 10px 0;
    font: bold 17px 'Droid Sans', sans-serif;
}

.game_stats li strong{
    color: #071921;
    margin-right: 10px;
    padding-left: 10px;
}

/* Time's Up
-------------------------------------------------------------------*/

#time_up{
    background: #230801;
    width: 320px;
    height: 460px;
    text-align: center;
    padding-top: 1px;
}

#time_up h1{
    font-size: 43px;
    color: #826138;
    margin-top: 30px;
}

#time_up img{
    display: block;
    margin: 30px auto;
}

#time_up p{
    color: #826138;
    margin: 0 20px;
    line-height: 25px;
}

.bt_nextQuestion{
    width: 45%;
    margin: 20px auto 0 auto;
    font-size: 18px;
}
