﻿/* Correct Answer animations
-------------------------------------------------------------------*/

@-webkit-keyframes glowRotate {
     from {
        -webkit-transform:rotate(0deg);
     }
     to {
        -webkit-transform:rotate(359deg);
     }
 }

.animate_background .background img {
    -webkit-animation-name: glowRotate;
    -webkit-animation-duration: 2.8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
