﻿/* Player Profile
-------------------------------------------------------------------*/

.player_info{
    color: #554B39;
    padding: 0 10px 15px 10px;
    float: left;
    width: 300px;
    font-size: 16px;
    background: url(../../../imuz_db/mobile/images/double_bar.png) bottom left no-repeat;
    margin-bottom: 10px;
}

.player_info .image{
    float: left;
    width:  100px;
    text-align: center;
    margin-right: 20px;
}

.player_info .image img{
    border: 3px solid #62271F;
    max-width: 100px;
    max-height: 150px;
}

.player_info h2{
    font-size: 18px;
    font-weight: bold;
    color: #61271F;
}

.player_info h3{
    font-weight: normal;
}

.player_stats{
    margin: 10px 0;
    clear: both;
}

.player_stats li{
    background: ;
    margin-bottom: 10px;
    padding: 10px 10px;
}

.player_stats strong{
    font-weight: bold;
    color: #531D0D;
    margin-left: 10px;
}

li.score{
    background: rgba(147,123,87,0.26) url(/imuz_db/mobile/images/ic_score.png) no-repeat 8px 3px;
    padding-left: 70px;
}

li.student{
    background: rgba(147,123,87,0.26) url(/imuz_db/mobile/images/ic_student.png) no-repeat 10px 5px;
    padding-left: 70px;
}

li.musician{
    background: rgba(147,123,87,0.26) url(/imuz_db/mobile/images/ic_musician.png) no-repeat 10px 5px;
    padding-left: 70px;
}

li.soloist{
    background: rgba(147,123,87,0.26) url(/imuz_db/mobile/images/ic_soloist.png) no-repeat 10px 5px;
    padding-left: 70px;
}

li.virtuoso{
    background: rgba(147,123,87,0.26) url(/imuz_db/mobile/images/ic_virtuoso.png) no-repeat 10px 5px;
    padding-left: 70px;
}

li.correct_answers{
    background: rgba(147,123,87,0.26) url(/imuz_db/mobile/images/ic_correctAnswer.png) no-repeat 10px 3px;
    padding-left: 70px;
}

li.wrong_answers{
    background: rgba(147,123,87,0.26) url(/imuz_db/mobile/images/ic_wrongAnswer.png) no-repeat 10px 5px;
    padding-left: 70px;
}

.player_stats li em{
    font-weight: bold;
    font-size: 18px;
    font-style: normal;
}

li.correct_answers em{
    color: #D54F06;
}

li.wrong_answers em{
    color: #450085;
}

.bt_facebook{
    width: 75%;
    margin: 15px 0;
}

.bt_edit{

}



