﻿/* Forms
-------------------------------------------------------------------*/

table.form{
    border: 2px solid #7F6541;
    width: 96%;
    margin: 0 2%;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border-spacing: 0;
}

.form th{
    background: #947B57;
    font: 16px 'Droid Sans', sans-serif;
    text-align: right;
    padding: 0 15px 0 10px;
    min-width: 80px;
}

.form td{
    background: #AB9878;
    opacity: 0.8;
}

.form th, .form td {
    border-bottom: 2px solid #765F3D;
    border-top: 1px solid #CDBB9D;
    height: 40px;
}

.form tr:last-child td, .form tr:last-child th{
    border-bottom: none;
    padding: 10px 0;
}

.form tr:first-child td, .form tr:first-child th{
    border-top: none;
}

.form label{
    color: #332B1E;
}

.form tr:first-child th{
    -webkit-border-top-left-radius: 15px;
    border-top-left-radius: 15px;
}

.form tr:first-child td{
    -webkit-border-top-right-radius: 15px;
    border-top-right-radius: 15px;
}

.form tr:last-child td{
    -webkit-border-bottom-left-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.form select{
    font: 16px 'Droid Sans', sans-serif;
    border: none;
    color: #554B39;
    margin-left: 5px;
}

.form input{
    color: #554B39;
}

.form input[type="email"], .form input[type="password"], .form input[type="text"]
{
    background: transparent;
    height: 30px;
    width: 88%;
    border: none;
    font: 16px 'Arial';
    -webkit-appearance: none;
    margin-left: 5px;
    -webkit-border-radius: none;
    border-radius: none;
}

.form a{
    margin-left: 10px;
}

.validation{
    background: url(/imuz_db/mobile/images/error_container.png) no-repeat 0 0;
    width: 308px;
    height: 35px;
    text-align: center;
    position: absolute;
    padding-top: 28px;
    color: #4D0905;
    font-size: 14px;
    left: 5px;
    display: none;
    z-index: 100;
}

.form input[type="checkbox"]{
    margin: 0 0 0 10px;
}

input.invalid{
    font-weight: bold;
    color: #4D0906;
}

.date select{
    float: left;
    background: #C7BBA5;
    line-height: 15px;
    margin: 0 0 0 5px;
    padding: 0;
}

input#year{
    width: 50px;
}

input#month{
    width: 50px;
}

input#day{
    width: 50px;
}

/* Single Field Form
-------------------------------------------------------------------*/

table.single_field{
    margin-top: 20px;
}

.single_field tr:last-child td{
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 15px;
}

.single_field tr:last-child th{
    -webkit-border-bottom-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-right: 15px;
}

/* Login
-------------------------------------------------------------------*/

.login .email_validation{
    top: 130px;
}


/* Remember Password
-------------------------------------------------------------------*/

.remember_password{
    margin-top: 20px;
}

.remember_password .bt_signin{
    padding: 5px 0 0 3px;
    text-align: left;
}


/* Signup
-------------------------------------------------------------------*/

.signup_text{
    text-align: center;
    margin-bottom: 10px;
}

.signup .email_validation{
    top: 160px;
}

.signup .password_validation{
    top: 250px;
}

.signup .nickname_validation{
    top: 205px;
    display: none;
    display: block;
}

.form .fieldWithErrors input {
  color: red;
}

