﻿.aside{
    height: 180px;
    margin: 30px 0 0 0;
}

.aside .button{
    margin-left: 10px;
    margin-right: 10px;
}

.aside .button:first-child{
    margin-top: 30px;
    margin-bottom: 40px;
}



