﻿/* News
-------------------------------------------------------------------*/

.news{
    position:absolute;
    z-index:1;
    color: #554B39;
    height: 390px;
    overflow: auto;
}

.news li{
    background: rgba(147,123,87, 0.48);
    padding: 10px;
    margin-bottom: 10px;
    width: 300px;
}

.news h2{
    font: bold 18px 'Droid Sans', sans-serif;
    color: #554B39;
}

.news p{
    margin: 5px 0 0 0;
    line-height: 22px;
}
