<div id="global" class="bg_estadio">
  <div class="esq_mudar">
    <a href="#" class="esq_mudar_bg" title="Fundo Anterior">Fundo Anterior</a>
  </div>
  <div id="conteudo">
    <ul id="menu">
      <li class="selecionado"><a href="produto.html" class="lnk_produto" title="Produto">Produto</a></li>
      <li><a href="downloads.html" class="lnk_downloads" title="Downloads">Downloads</a></li>
      <li><a href="promocoes.html" class="lnk_promocoes" title="Promoções">Promoções</a></li>
      <li><a href="fc_barcelona.html" class="lnk_fcbarcelona" title="FC Barcelona">FC Barcelona</a></li>
      <li><a href="institucional.html" class="lnk_institucional" title="Institucional">Institucional</a></li>
      <li><a href="contato.html" class="lnk_contato" title="Contato">Contato</a></li>
    </ul>
    <div id="interno">
      <h1 class="logo logo_bigcola">
        <a href="#">Big Cola</a>
      </h1>
      
      <div class="conteudo_interno home_produto">
        <a href="produto.html" class="lnk_voltar" title="Voltar">Voltar para Produtos</a>
        <div class="integra_garrafa">
          <h2 class="big_cola_tit_gr tit_prod">
            Linha Big Cola</h2>
            <p>
              O sabor único que é sucesso em mais de 20 países, agora no Brasil.</p>
              <h4 class="tit_tamanho">
                Escolha o seu tamanho:</h4>
                <ul class="lista_tamanhos">
                  <li>
                    <a href="bigcola_275l.htm" title="Big Cola 2.75 l"> <img src="images/produtos/garrafa_275l.png" alt="Big Cola 2,75l" /></a>
                  </li>
                  <li>
                    <a href="bigcola_175l.htm" title="Big Cola 1.75 l"><img src="images/produtos/garrafa_175l.png" alt="Big Cola 1,75l" /></a>
                  </li>
                  <li>
                    <a href="bigcola_500ml.htm" title="Big Cola 500ml"><img src="images/produtos/garrafa_500ml.png" alt="Big Cola 500ml" /></a>
                  </li>
                  <li>
                    <a href="bigcola_300ml.htm" title="Big Cola 300ml"><img src="images/produtos/garrafa_300ml.png" alt="Big Cola 300ml" /></a>
                  </li>
                </ul>
              </div>
              <div class="integra_refri bigcola_grande">
                Big Cola
              </div>
            </div>
            <ul class="pequenos_destaques">
              <li class="destaque_bigcolazerocafeina">
                <h2>Big Cola Zero Cafeína</h2>
                
                <a href="#" class="ico_mais">mais</a>
              </li>
              <li class="destaque_bigcolazerocaloria">
                <h2>Big cola Zero Caloria</h2>
                
                <a href="#" class="ico_mais">mais</a>
              </li>
              <li class="destaque_bigguarana">
                <h2>Big Cola Guaraná</h2>
                
                <a href="#" class="ico_mais">mais</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="dir_mudar">
          <a href="#" class="dir_mudar_bg" title="Próximo Fundo">Próximo fundo</a>
        </div>
      </div>