<div>
  <table id="table" border="1" >
		<thead>
			<tr>
			  <th>Id</th>
			  <th>Integrator</th>
			  <th>Creation date</th>
			  <th># Devices</th>
				<th colspan="4"></th>
			</tr>
		</thead>

		<tbody>
			<% for submission in @submissions %>
			<tr valign="top" >

			  <td><%=h submission.id %></td>
			  <td><%=h submission.integrator.name %></td>
			  <td><%=h submission.created_at %></td>
			  <td><%=h submission.devices.length %></td>

			  <td><%= link_to 'Show', submission %></td>
			  <td><%= link_to 'Edit', edit_submission_path(submission) %></td>
			  <td><%= link_to 'Generate files', :controller => 'submissions', :action => 'generate', :id => submission %></td>
			  <td><%= link_to 'Destroy', submission, :confirm => "Remove submission " + submission.id.to_s + '?', :method => :delete %></td>
			</tr>
		  <% end %>
		</tbody>
  </table>
 <br />
</div>
<div id="pager" class="pager">
	<form>
		<img class="first" src="images/icons/first.png"/>
		<img class="prev" src="images/icons/prev.png"/>
		<input class="pagedisplay" type="text"/>
		<img class="next" src="images/icons/next.png"/>
		<img class="last" src="images/icons/last.png"/>

		<select class="pagesize">
			<option value="15" selected="selected">15</option>
			<option value="30">30</option>
			<option value="50">50</option>
			<option value="100">100</option>
		</select>
	</form>
</div>
<br />

<%= link_to 'Add submission', new_submission_path %>

<script type="text/javascript">
	jQuery(document).ready(function() { 
	    jQuery("#table") 
		    .tablesorter({sortColumn: '#app', dateFormat: 'dd/mm/yyyy', widgets: ['zebra']}) 
		    .tablesorterPager({container: jQuery("#pager")}); 

	});
</script>