<p>
  <b>Application name:</b>
</p>

<p>
  <b>Application versions:</b>
  <% if ( @submission.app_versions.empty? ) %>
	<%= 'None' %>
  <% 
	else
	  for app_version in @submission.app_versions
  %>
	<%= h app_version.app_version_number %><br/>
  <%
	  end
	end
  %>		
</p>

<p>
  <b>Integrator:</b>
  <%=h @submission.integrator.name %>
</p>

<p>
  <b>Creation date:</b>
  <%=h @submission.created_at %>
</p>

<p>
  <b>Devices supported:</b>
  <% if ( @submission.devices.empty? ) %>
	<br/><%= 'None' %>
  <% 
	else
	  for device in @submission.devices
  %>
	<%= h device.model %>, 
  <%
      end
	end
  %>
</p>


<%= link_to 'Edit', edit_submission_path(@submission) %> 
<%= link_to 'Back', submissions_path %>
