<h1>Editing MIDP</h1>

<% form_for(@midp_version) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :version %><br />
    <%= f.text_field :version %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', midp_versions_path %>
