<?xml version="1.0"  encoding="UTF-8"?><!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link rel="stylesheet" type="text/css" href="http://wap.lux.com.br/css/main.css" />

    <title>Game Reconstru&ccedil;&atilde;o em 10 dias</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style type="text/css">
      <!--
      body {
        background-color: #14242f;
      }
      .produto{color: #ff7300; font-family: Arial; font-size:12px}
      .marca {color: #FFFFFF; font-family: Arial; font-size:12px}
      .titulo {
        font-size: 9px;
        color: #ff7300;
        font-family: Arial;
      }
      .texto {
        font-size: 9px;
        color: #ffffff;
        font-family: Arial;
      }
      a:link {
        font-size: 9px;
        color: #ff7300;
        font-family: Arial;
      }
      a:visited {
        font-size: 9px;
        color: #ff7300;
        font-family: Arial;
      }
      -->
  </style></head>
  <body>
    <p align="center"><span class="marca">SEDA S.O.S</span><br/>
    <span class="produto">RECONSTRUÇÃO<br/>ESTRUTURAL</span></p>
    <br/>

    <%= yield %>

    <p align="center"><img src="/images/line.png" width="100" height="1" /></p>
    <p align="center" class="titulo"> <a href="http://game.reconstrucaoem10dias.com.br">Voltar para página principal</a></p>


  </body>
</html>