@charset "UTF-8";
/*-----------------------------------------------------------------------------
Nano Studio - Mobile Common Stylesheet
Author: Fabricio Fernandes
e-mail: fabricio@nanostudio.com.br
-----------------------------------------------------------------------------*/

@media screen and (min-width: 321px) {
.wrapperContent {
    width: 66.1%;
    border-left: 0.24em groove #787a7c;
    float: right;
}

.titleArea {
    padding-top: 12px;
    border-bottom: 0.24em groove #787a7c;
}

.titleArea h2 { display: none; }

/* =Select
-----------------------------------------------------------------------------*/
.titleArea form { margin-bottom: 5px; }

.titleArea form label {
   margin-right: 1.785714%;  /* = 10px of 280px */
   color: #bedce4;
}

select#ordenacao {
    height: 2em;
    min-width: 105px;
    text-align: center;
}

.productsList {
    width: 100%;
}

}


@media screen and (max-width: 320px) {
/* =Show More Products
-----------------------------------------------------------------------------*/
.showMore {
    text-align: center;
    border-top: 1px solid #000;
}

.showMore p {
   display: block;
   margin: 20px 0 10px;
   color: #d3e3e8;
}

.showMore a {
    margin-bottom: 20px;
    padding: 6px 12px 6px 19px;
    font-size: 1em;
    font-weight: bold;
    display: inline-block;
    background: rgb(71,92,106); /* Old browsers */
    background: url(/assets/setaMostrarMais.png) 5px 9px no-repeat,
                -moz-linear-gradient(top, rgba(71,92,106,1) 0%, rgba(31,46,56,1) 76%, rgba(30,45,55,1) 100%); /* FF3.6+ */
    background: url(/assets/setaMostrarMais.png) 5px 9px no-repeat,
                -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(71,92,106,1)), color-stop(76%,rgba(31,46,56,1)), color-stop(100%,rgba(30,45,55,1))); /* Chrome,Safari4+ */
    background: url(/assets/setaMostrarMais.png) 5px 9px no-repeat,
                -webkit-linear-gradient(top, rgba(71,92,106,1) 0%,rgba(31,46,56,1) 76%,rgba(30,45,55,1) 100%); /* Chrome10+,Safari5.1+ */
    background: url(/assets/setaMostrarMais.png) 5px 9px no-repeat,
                -o-linear-gradient(top,  rgba(71,92,106,1) 0%,rgba(31,46,56,1) 76%,rgba(30,45,55,1) 100%); /* Opera 11.10+ */
    background: url(/assets/setaMostrarMais.png) 5px 9px no-repeat,
                -ms-linear-gradient(top,  rgba(71,92,106,1) 0%,rgba(31,46,56,1) 76%,rgba(30,45,55,1) 100%); /* IE10+ */
    background: url(/assets/setaMostrarMais.png) 5px 9px no-repeat,
                linear-gradient(top,  rgba(71,92,106,1) 0%,rgba(31,46,56,1) 76%,rgba(30,45,55,1) 100%); /* W3C */
}

.showMore a.buttonLightBlueDisabled {
    background: rgb(61,72,79); /* Old browsers */
    background: url(/assets/setaMostrarMaisDes.png) 5px 9px no-repeat,
                -moz-linear-gradient(top,  rgba(61,72,79,1) 0%, rgba(58,68,74,1) 29%, rgba(44,52,57,1) 100%); /* FF3.6+ */
    background: url(/assets/setaMostrarMaisDes.png) 5px 9px no-repeat,
                -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(61,72,79,1)), color-stop(29%,rgba(58,68,74,1)), color-stop(100%,rgba(44,52,57,1))); /* Chrome,Safari4+ */
    background: url(/assets/setaMostrarMaisDes.png) 5px 9px no-repeat,
                -webkit-linear-gradient(top,  rgba(61,72,79,1) 0%,rgba(58,68,74,1) 29%,rgba(44,52,57,1) 100%); /* Chrome10+,Safari5.1+ */
    background: url(/assets/setaMostrarMaisDes.png) 5px 9px no-repeat,
                -o-linear-gradient(top,  rgba(61,72,79,1) 0%,rgba(58,68,74,1) 29%,rgba(44,52,57,1) 100%); /* Opera 11.10+ */
    background: url(/assets/setaMostrarMaisDes.png) 5px 9px no-repeat,
                -ms-linear-gradient(top,  rgba(61,72,79,1) 0%,rgba(58,68,74,1) 29%,rgba(44,52,57,1) 100%); /* IE10+ */
    background: url(/assets/setaMostrarMaisDes.png) 5px 9px no-repeat,
                linear-gradient(top,  rgba(61,72,79,1) 0%,rgba(58,68,74,1) 29%,rgba(44,52,57,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d484f', endColorstr='#2c3439',GradientType=0 ); /* IE6-8 */
}

}
