body {
	background-image: url(teste1.gif);
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
    text-align:center; /* hack para o IE */		
}

a:link {
	color: #FFF710;
	font-family: "Microsoft Sans Serif";
	font-size: 12px;
	text-decoration: none;
}
a:visited {
	font-family: "Microsoft Sans Serif";
	font-size: 12px;
	color: #FFF710;
	text-decoration: none;
}
a:active {
	font-family: "Microsoft Sans Serif";
	font-size: 12px;
	color: #FFF710;
	text-decoration: none;
}
a:hover {
	color: #FFCC00;
	font-family: Microsoft Sans Serif;
	font-size: 12px;	

}


#Barradegrade {

	background-image: url(imagens/fundo.gif);
	background-repeat: repeat-x;
}

#geral {
	background-color: rgb(0, 92, 103);
	width:665px;
	margin:0 auto;			
	text-align:left; /* "remÃƒÂ©dio" para o hack do IE */	
}
#geralhome {

	width:665px;
	margin:0 auto;			
	text-align:left; /* "remÃƒÂ©dio" para o hack do IE */	
}

.linhatopicocima {
	height: 18px;	margin: 0px 2px 0px 2px;	
	background-image: url(imagens/linhatopicocima.gif);
	background-repeat: repeat-x;
	
	}
.topicoconteudo {
	height: 93px;
	margin: 0px;		

	}
.topico_conteudo {
	height: 323px;	margin: 0px 2px 0px 2px;	
	background-image: url(imagens/celular_contudo_fundo.gif);
	background-repeat: repeat-x;
	
	}

.linhatopicobaixo {
	height: 18px;	margin: 0px 2px 0px 2px;	
	background-image: url(imagens/linhatopicocima.gif);
	background-repeat: repeat-x;
	
	}
	
.topico {
	height: 144px;
	margin: 0px;		
	background-image: url(imagens/topic.gif);
	background-repeat: repeat-x;

	}

.espacotopico
{
    clear:both;
	height: 41px;
	margin: 0px;
	text-align:center;
	}
	
.linha{
    padding:0;
    clear:both;
	margin:0; /*Defin a a separacao das colunas aqui*/
    padding:0;
    }

.coluna{    

	float:left;
	margin:13; /*Defin a a separacao das colunas aqui*/
    padding:0;
	text-align: center;
    }
.coluna1{    

	float:left;
	margin:0; /*Defin a a separacao das colunas aqui*/
    padding:0;
	text-align: center;
    }
	
.coluna2{    

	float:left;
	margin-left:18px; /*Defin a a separacao das colunas aqui*/
    padding:0;
	text-align: top;
    }	
	
.divisaoconteudo {
	background-image: url(imagens/divisaoconteudo.gif);
	background-repeat: repeat-x;
	height: 41px;	margin: 0px 2px 0px 2px;	
    clear:both;		
	
}
.rodape {
	height: 27px;
	background-image: url(imagens/rodape.gif);
	background-repeat: repeat-x;	
	text-align: center;
    clear:both;
	padding-top:20px;	margin: 0px 2px 0px 2px;	
	

}

h1{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 7px;
	font-size: 18px;
	font-weight: bold;
	color: #FFFF00;
}

.cabecalho{
	font-family: "Microsoft Sans Serif";
	font-size: 16px;
	color: #FFF710;
	font-weight: bold;
}
.fonte{
	font-family: Microsoft Sans Serif;
	font-size: 12px;
	color: rgb(124, 241, 255);	
}
.fonteform{
	font-family: "Microsoft Sans Serif";
	font-size: 12px;
	color: #005C67;
}

.menutopico{
	font-family: Microsoft Sans Serif;
	padding: 5px;
	padding-top: 25px;	
	text-align: right;	
	font-size: 12px;
	color: rgb(124, 241, 255);	
}
.nomejogo {
	height: 36px; 
	background-color:rgb(0, 53, 59); 
	margin: 3px 0px 6px 0px; 
	text-align:left;"
}

.imagemjogo {
	height: 187px; 
	width:398px; 
	margin: 6px 4px 0x 0px;
}
.sodois {
	height: 0px; 
}

.botoesjogo {
	height: 90px; 
	width: 398px; 
	padding-top: 1px;
}

.conteudo{
padding: 14px;
}

.barramenu {
	height: 43px;	
	width: 655px; 
	margin: 0px 6px 0px 6px;
	align: middle;
	text-align:center;	
	}
	
.destaque {
    height: 187px;	
	margin:0 auto;	
	margin: 0px 0px 0px 0px;	
	background-image: url(imagens/destaque.gif);
	}
	
.topicodestaque {
	height: 323px;
	margin: 0px 2px 0px 2px;	
	clear:both;
	}
	
.dicas {
	height: 180px;
	background-color: rgb(0, 130, 145);
	}
	
.dicastexto {
	height: 175px;
	font-family: Verdana;
	font-size: 11px;
	color: rgb(255, 235, 62);	
	padding: 3px;
	margin-top: 3px;
	margin-bottom: 0px;
	margin-left: 3px;
	margin-right: 3px;
	background-color: rgb(0, 18, 32);
	overflow: auto;
	scrollbar-base-color: #990022;
	text-align:left;
	}
	
.nanoca {
	height: 79px;	
	margin: 0px 0px 0px 0px;
	background-image: url(imagens/nanoca_indica.gif);
	}
	
	
.textodestaque{
	font-family: Verdana;
	font-size: 11px;
	color: rgb(255, 235, 62);	
}
	
.destaquetitulo {
    margin: 5px 0px 0px 2px;
	padding: 0px;
	text-align:left;
	font-family: Verdana;
	font-size: 13px;
	font-weight: bold;	
	color: rgb(255, 235, 62);	
	}
	
.destaquefundo {
   	height: 77px;
	text-align:left;
	background-image: url(imagens/destaque_texto.gif);
	clear:both;	
	margin: 0px 0px 0px 0px;	
	}
	
.jogos {
	height: 420px;	margin: 0px 2px 0px 2px;	
	background-image: url(imagens/pattern_jogos.gif);
	}

#boxes {
	font: 0.9em Verdana, Arial, Helvetica, sans-serif;
	width:100%;
	color:#333; 
	margin: 0;
	}
	
.fixo {
	margin: 0 auto;
	width: 250px;
	background: url(bottomright.png) no-repeat 100% 100%;
	font-size: 100%;
	}

.titulo {
	background: url(topright.png) no-repeat 100% 0;
	margin: 0;
	padding: 0;
	text-align: center;
	}

.titulo h6 { 
	background: url(topleft.png) no-repeat 0 0;
	margin: 0;
	padding: 45px 20px px;
	color: #333; 
	font-weight: bold; 
	font-size: 1.4em; 
	line-height: 1.0em;
	}

.conteudojogos {
	background: url(bottomleft.png) no-repeat  0 100%;
	color:#fff;
	margin: 0;
	padding: 5px 35px 45px;
	}