<table class="fonte" cellpading="0" width="180"  border="0" cellspacing="0" align="center" >
  <tr >
    <th width="22"><div align="left"><img src="images/seda_puzzle/15x15.png"></div></th>
    <th colspan="2" class="destaquetitulo"><div align="left">Seda Puzzle</div></th>
  </tr>

<td colspan="3" height="3px"></td>


  <tr valign="center" >
    <td>1º&nbsp;&nbsp;&nbsp;</td>
    <td align="left">logan171</td>
    <td align="right">131530</td>
  </tr>

  <tr valign="center" >
    <td>2º&nbsp;&nbsp;&nbsp;</td>
    <td align="left">shell</td>
    <td align="right">114330</td>
  </tr>

  <tr valign="center" >
    <td>3º&nbsp;&nbsp;&nbsp;</td>
    <td align="left">michaela</td>
    <td align="right">69010</td>
  </tr>

  <tr valign="center" >
    <td>4º&nbsp;&nbsp;&nbsp;</td>
    <td align="left">fabricio</td>
    <td align="right">45520</td>
  </tr>

  <tr valign="center" >
    <td>5º&nbsp;&nbsp;&nbsp;</td>
    <td align="left">ynessa</td>
    <td align="right">45480</td>
  </tr>

  <tr valign="center" >
    <td>6º&nbsp;&nbsp;&nbsp;</td>
    <td align="left">peter</td>
    <td align="right">34060</td>
  </tr>

  <tr valign="center" >
    <td>7º&nbsp;&nbsp;&nbsp;</td>
    <td align="left">jkdaj</td>
    <td align="right">16490</td>
  </tr>

  <tr valign="center" >
    <td>8º&nbsp;&nbsp;&nbsp;</td>
    <td align="left">tuba</td>
    <td align="right">15770</td>
  </tr>

  <tr valign="center" >
    <td>9º&nbsp;&nbsp;&nbsp;</td>
    <td align="left">telmiro</td>
    <td align="right">11740</td>
  </tr>

  <tr valign="center" >
    <td>10º&nbsp;&nbsp;&nbsp;</td>
    <td align="left">black</td>
    <td align="right">8930</td>
  </tr>

</table>