<% cache 'page_ajuda' do %>
  ﻿<h1>Ajuda</h1>

  <div class="box_mensagem">
	  <div class="conteudo_box">
  <h4>Como iniciar uma partida?</h4>
  <p>É muito fácil se divertir com o CDF. Clique aqui e confira o passo-a-passo que vai tirar suas dúvidas sobre como jogar! (link para Como Jogar)</p>

  <h4>Como eu ganho pontos no jogo?</h4>
  <p>Existem várias maneiras de ganhar pontos no CDF. A principal delas é vencer uma partida. Além disso, você ainda ganha pontos ao acertar cada uma das perguntas, indicar amigos que se cadastrem no jogo, colaborar enviando perguntas para o jogo e responder a questionários que disponibilizaremos eventualmente.</p>

  <h4>Quais são as pontuações do jogo?</h4>
  <p>Confira a tabela de pontos do CDF:</p>

  <dl>
  <dt>Resposta certa no jogo no modo normal</dt><dd> 10 pontos</dd>
  <dt>Resposta certa no jogo no modo turbo</dt><dd> 15 pontos</dd>
  <dt>Carta de bonificação</dt><dd> 10 pontos</dd>
  <dt>Carta de penalidade</dt><dd> 10 pontos</dd>
  <dt>Sugerir perguntas</dt><dd> 50 pontos</dd>
  <dt>Indicar um amigo que efetue o cadastro no jogo</dt><dd> 100 pontos</dd>
  <dt>Responder a questionários</dt><dd> 200 pontos</dd>
  <dt>Vitória em uma partida no modo normal</dt><dd> 200 pontos</dd>
  <dt>Vitória em uma partida no modo turbo</dt><dd> 300 pontos</dd>
  </dl>

  <br class="clear">

  <h4>Como eu ganho uma partida?</h4>
  <p>O vencedor é aquele que conseguir encaixar mais peças no tabuleiro. Quando uma partida chega ao fim, você verá uma tela com a posição de cada um dos jogadores. Se você teve um maior número de acertos ao longo do jogo, parabéns! Você é o campeão.</p>

  <h4>E se acontecer um empate?</h4>
  <p>Em caso de empate, o resultado é decidido de acordo com o tempo que cada jogador demorou para responder às perguntas do jogo. Ao fim da partida, o jogo exibirá a classificação final com o tempo de todos os jogadores que terminaram com o mesmo número de peças encaixadas no tabuleiro.</p>

  <h4>Como eu faço para sugerir perguntas?</h4>
  <p>Você pode sugerir perguntas sempre que vir um aviso no quadro de notificações indicando que o prazo para o envio de perguntas está aberto. Todas as perguntas deverão ter um enunciado (limitar caracteres) e três opções de resposta. Para ganhar pontos, as perguntas deverão ser aprovadas pela equipe do jogo.</p>

  <h4>Existe um limite para o número de perguntas que eu posso mandar?</h4>
  <p>Não, você pode mandar quantas perguntas sua imaginação criar! Só lembre de conferir o conteúdo para colocar apenas informações corretas em cada pergunta. Além disso, é preciso ficar de olho nos prazos para o envio de perguntas.</p>

  <h4>Como saberei que uma pergunta minha foi aceita e que eu ganhei os pontos?</h4>
  <p>Assim que a sua pergunta for aceita e entrar no jogo, você verá um aviso na área de notificações com a pontuação que você ganhou por contribuir com a gente.</p>

  <h4>Como são elaborados os rankings do jogo?</h4>
  <p>Os rankings são elaborados de acordo com o número de pontos de cada jogador. O CDF apresenta três rankings: semanal, mensal e geral. O semanal mostra quais jogadores pontuaram mais naquela semana. O mensal exibe as estatísticas por mês e o geral mostra os jogadores que mais pontuaram desde que o jogo entrou no ar. </p>

  <h4>O que acontece se eu jogar uma partida e não acertar nenhuma pergunta?</h4>
  <p>Não se desespere! Você vai terminar a partida com 0 pontos. Os pontos que você acumulou anteriormente no ranking não serão descontados.</p>

  <h4>E se eu quiser abandonar uma partida?</h4>
  <p>Se você fizer isso, os pontos que conquistou durante a partida não serão contabilizados para o ranking. Caso outro jogador abandone a sua partida, você continua normalmente. Se todos os jogadores decidirem sair da partida, o último a deixar a mesa mantém os pontos conquistados através das perguntas, mas não será considerado o vencedor da disputa.</p>
  
  <h4>O que acontece se a minha conexão cair durante a partida?</h4>
  <p>Caso a sua conexão caia durante uma partida, será como se você tivesse abandonado a mesa. Assim, os pontos conquistados naquela partida não serão contabilizados.</p>

  <h4>Quero jogar só com meus amigos. Como faço?</h4>
  <p>Basta criar uma sala privada. Aí, é só selecionar na sua lista de amigos no jogo quem você deseja disputar uma partida. Eles receberão um convite. Assim que pelo menos um amigo seu confirmar presença, você já pode dar início à partida, se desejar.</p>

  <h4>O que acontece se eu ficar muito tempo sem jogar?</h4>
  <p>Além de sentirmos sua falta, você pode perder posições no ranking. Afinal, enquanto você não estiver jogando, é bem possível que seus amigos estejam disputando várias partidas no jogo, o que fará com que eles somem mais pontos que você. </p>

  <h4>Como faço para subir de nível?</h4>
  <p>Jogue, jogue e jogue! O CDF é proporcional: por isso, cada um dos cinco níveis corresponderá ao percentual correspondente de pontuação dos jogadores. Ou seja, para cada cem jogadores, os 20 melhores colocados serão sábios, os 20 seguintes serão mestres e por aí vai...</p>

  <h4>Meu nível caiu. E agora?</h4>
  <p>Isso aconteceu porque seus adversários pontuaram mais do que você recentemente. Como o sistema de níveis é proporcional, é preciso jogar para se manter no topo!</p>

  <h4>Qual a diferença entre jogar no Orkut e jogar pelo site do jogo?</h4>
  <p>Você pode jogar pelo site ou pelo aplicativo para o Orkut. A diferença é que, se você jogar dentro do Orkut, poderá compartilhar seus resultados e convidar seus amigos através da rede social.</p>

  <h4>Posso jogar pelo Orkut e pelo site ao mesmo tempo?</h4>
  <p>Não. Caso você entre no jogo através do aplicativo para o Orkut, não poderá fazer o login para jogar através do site ao mesmo tempo.</p>

  <h4>Posso jogar duas partidas ao mesmo tempo?</h4>
  <p>Você só poderá jogar uma partida por vez. Caso queira trocar de mesa, basta clicar no botão “deixar a partida”. Assim, você estará livre para escolher outra mesa e continuar jogando.</p>

  <h4>Como eu faço para responder a questionários e ganhar pontos?</h4>
  <p>Os questionários não serão disponibilizados o tempo todo, então é importante ficar atento à área de notificações. Assim que houver um novo questionário disponível para ser respondido, você será avisado e poderá participar. Após responder às questões, você receberá automaticamente a pontuação correspondente.</p>

  <h4>Posso mudar do modo “normal” para o “turbo” durante uma partida?</h4>
  <p>Não. Você deve optar pelo modo de jogo antes de escolher a mesa na qual vai jogar. Após iniciar uma partida, você só poderá trocar a velocidade ao deixar a mesa de jogo.</p>

  <h4>Encontrei uma pergunta com uma informação errada. O que devo fazer?</h4>
  <p>Entre em contato com a gente! Ficaremos muito gratos pela sua colaboração. Basta escrever para o e-mail cdf@futura.org.br e especificar qual é a pergunta que pode conter alguma informação errada. </p>
	  </div>
  </div>
<% end %>
