<% cache 'page_canal_futura' do %>
<h1>Canal Futura</h1>
<div class="box_mensagem">
	<div class="conteudo_box">
		<h4 style="margin-top: 0;">Sobre o Canal Futura</h4>
		<p>O Futura é um projeto social de comunicação criado para transmitir valores e informações úteis ao cotidiano da população 24 horas por dia. Na nossa programação, são abordados temas como saúde, trabalho, educação, meio ambiente e cidadania. </p>
		<p>E o ideal de ajudar o brasileiro a construir uma vida melhor não está presente apenas na televisão. Você também encontra o Futura em diversas plataformas, como o Orkut, o Twitter e o Futuratec. Com o CDF – Clube Desafio Futura, queremos mostrar que é possível se divertir com conteúdo de qualidade, exatamente como acontece com os programas que você vê na telinha.</p>
		<p>O Futura é resultado da parceria entre organizações da iniciativa privada, unidas pelo compromisso de investir socialmente. Líderes nos seus segmentos, essas organizações promovem ações de efetivo impacto em áreas prioritárias da agenda nacional. São elas: Bayer Schering Pharma; Fundação Bradesco; CNI; CNN; FIESP; FIRJAN; Fundação Itaú Social; Fundação Vale; Gerdau; SEBRAE; TV Globo e Votorantim.</p>
		<p>Quer saber mais sobre o Futura? Saiba onde você nos encontrar:</p>
		
		<h4>Na televisão</h4>
		<p>O telespectador pode assistir ao Futura gratuitamente através das parabólicas na polarização vertical 20 em todo o território nacional ou por meio de TV aberta em canais UHF e VHF em algumas localidades do Brasil. O canal também é transmitido por meio de cabo (canal 32 da NET) e mini-parabólicas (canal 8 da SKY).</p>

		<h4>Na internet</h4>
		<dl>
			<dt>Site:</dt>
			<dd> www.futura.org.br</dd>
			
			<dt>Futuratec:</dt>
			<dd> nosso acervo digital de programas está disponível gratuitamente em www.futuratec.org.br</dd>
			
			<dt>Twitter:</dt>
			<dd> @canalfutura (www.twitter.com/canalfutura)</dd>
			
			<dt>YouTube:</dt>
			<dd> www.youtube.com/canalfutura</dd>	
			
			<dt>Orkut:</dt>
			<dd> comunidade oficial do canal: http://www.orkut.com.br/Main#Community?cmm=69750</dd>		
		</dl>
		
		<br class="clear">
	</div>
</div>
<% end %>
