<% cache 'page_index_orkut' do %>

  <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
  <html>
    <head>
      <title>Clube Desafio Futura</title>
      <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
      <link href="/stylesheets/FrontEnd/comum.css?1292949027" media="screen" rel="stylesheet" type="text/css" />
      <link href="/stylesheets/FrontEnd/popup.css?1292530460" media="screen" rel="stylesheet" type="text/css" />
      <link rel="shortcut icon" href="/favicon.ico" />

      <script src="/javascripts/effects.js?1288288467" type="text/javascript"></script>
      <script src="/javascripts/dragdrop.js?1288288467" type="text/javascript"></script>
      <script src="/javascripts/controls.js?1288288467" type="text/javascript"></script>
      <script src="/javascripts/lightbox.js?1291736267" type="text/javascript"></script>
      <script src="/javascripts/futura/front_end/modal.js?1291055604" type="text/javascript"></script>
      <script src="/javascripts/cufon-yui.js?1288288467" type="text/javascript"></script>
      <script src="/javascripts/DIN_Alternate_Medium_500.font.js?1288288467" type="text/javascript"></script>
      <script src="/javascripts/cropper.js?1288288467" type="text/javascript"></script>
      <script src="/javascripts/jquery-1.4.2.min.js?1288288467" type="text/javascript"></script>

      <script src="/javascripts/futura/front_end/poll.js?1293025777" type="text/javascript"></script>
      <script src="/javascripts/application.js?1288288467" type="text/javascript"></script>
        <script>
          jQuery.noConflict();
          Cufon.replace('h2');
          Cufon.replace('em');
        </script>

      <link href="/stylesheets/FrontEnd/home.css?1291737750" media="screen" rel="stylesheet" type="text/css" />

      </head>
      <body>
          <div id="geral" class="home_orkut">
              <div id="site" class="clearfix">
                  <div id="cabecalho">
                      <div class="barra_topo"><%=bread_crumb%></div>

                      <a href="/"><img src="/images/comum/logo_CDF.jpg" alt="Clube Desafio Futura" class="logo"></a>

                      <div class="full_banner texthide">
                          <a href="http://www.futuratec.org.br/" target="_blank">
                              <img src="http://187.84.228.69/images/comum/full_banner.jpg" width="468" height="60" alt="Full Banner">
                          </a>
                          <span>Publicidade</span>
                      </div>

                      <div class="txt_introducao">
                          <h2>Bem-vindo ao Clube Desafio Futura!</h2>
                          <p>Aqui no CDF, voc&#234; encara desafios superdivertidos para mostrar todo o seu conhecimento. Chame seus amigos para jogar no tabuleiro e prove que voc&#234; &#233; fera em temas como m&#250;sica, hist&#243;ria e atualidades. Divirta-se no nosso clube!</p>
                      </div>
                      <img src="/images/comum/logo_Futura.png" width="54" height="54" alt="Futura" class="logo_futura">
                  </div>

                  <div class="box_cadastrado">
                      <p>Já é cadastrado no jogo?</p>
                      <a href="/oauth_consumers/google" class="bt_jogarAgora texthide"><span>Jogar Agora</span></a>
                  </div>
                  <a href="/users/sign_up"><img src="/images/home/img_cadastro.png" width="520" height="118" alt="Quer jogar? Cadastre-se agora" class="img_cadastro"></a>
              </div>

              <div id="rodape">
                  <div class="conteudo">
                      <div class="menu_rodape">
                          <ul>
                              <li class="primeiro"><a href="/">Home</a></li>
                              <li><a href="/pages/canal_futura">Canal Futura</a></li>

                              <li><a href="/pages/o_jogo">O Jogo</a></li>
                              <li><a href="/pages/como_jogar">Como Jogar</a></li>
                              <li><a href="/invitations/new">Indique o Jogo</a></li>
                              <li><a href="/pages/ajuda">Ajuda</a></li>
                              <li><a href="/pages/termos_uso">Termos de Uso</a></li>
                              <li><a href="http://www.futura.org.br/data/Pages/LUMISF3CC23DDPTBRIE.htm" target="blank">Parcerias</a></li>
                              <li><a href="/contacts/new">Contato</a></li>
                          </ul>
                      </div>
                      <a href="http://www.futura.org.br/data/Pages/LUMISF3CC23DDPTBRIE.htm" target="_blank"><img src="/images/comum/rodape_parceiros.png" alt="Parceiros" title="Parceiros" class="parceiros"></a>
                      <p class="copyright">Canal Futura &copy; 2010</p>
                  </div>
              </div>
        </div>
        <script>
          Cufon.now();
        </script>
      </body>
    </html>

  <% content_for :head do %>
      <%= stylesheet_link_tag "FrontEnd/home" %>
  <%end%>
	  <div class="home">
		  <div class="txt_introducao">
			  <h2>Bem-vindo ao Clube Desafio Futura!</h2>
			  <p>Aqui no CDF, voc&#234; encara desafios superdivertidos para mostrar todo o seu conhecimento. Chame seus amigos para jogar no tabuleiro e prove que voc&#234; &#233; fera em temas como m&#250;sica, hist&#243;ria e atualidades. Divirta-se no nosso clube!</p>
		  </div>

	</div>
<% end %>

