<h1>O Jogo</h1>

<div class="box_mensagem">
	<div class="conteudo_box">
		<p>Uma campanha recente do Canal Futura diz que "o conhecimento é irresistível". Aqui no Clube Desafio Futura, além de irresistível, ele também é divertido!</p>
		<p>O ideal de contribuir para a melhoria da qualidade de vida da população brasileira e formação educacional da nossa população inspira o Canal Futura em diversas ações e projetos. Em um deles, a Maleta Futura sobre o tema Saúde (um kit com programas em DVDs, caderno de atividades, guias de uso e livros sobre o assunto, distribuído a instituições em todo o Brasil), a equipe do Futura criou um jogo de tabuleiro com perguntas sobre saúde e qualidade de vida.</p>
		<p>Pouco tempo depois, refletimos que seria muito interessante ter os conteúdos do jogo em uma versão para a Internet, aberta a todos que quisessem de divertir aprendendo. A ideia foi crescendo, os temas se multiplicaram e o jogo invadiu o Orkut, com salas inspiradas nos programas do Canal e até mesmo recursos colaborativos, onde os jogadores podem criar perguntas para o jogo.</p>
		<p>O resultado dessa grande brincadeira você confere aqui, chamando seus amigos para partidas on-line em tempo real!</p>

		<p>Divirta-se!</p>
		<br>
		<a href="/pages/como_jogar" class="bt_grande">Como Jogar</a>

<br/><br/><h1>Créditos:<br/></h1>
<strong>Canal Futura<br/><br/>
Equipe de Conteúdo e Novas Mídias<br/><br/>
Débora Garcia<br/>
Leonardo Machado<br/>
Simone Evangelista<br/>
Isadora Marinho<br/><br/>

Gerente Geral do Canal Futura<br/>
Lúcia Araújo<br/><br/><br/>


Consultores:<br/><br/>

André Poyart<br/></strong>
<p>Consultor de Música para a sala Afinando a Língua<br/><br/>
É violonista formado pela Escola de Música e mestre em Poética pela Faculdade de Letras da Universidade Federal do Rio de Janeiro (UFRJ). Trabalha como músico, arranjador, diretor musical e técnico de estúdio. Pratica Krav Magá, já foi piloto de parapente e adora assistir a qualquer jogo de futebol. Qualquer mesmo!</p>

<strong>Bruno Leal</strong>
<p>Consultor de História para a sala Um Pé de Quê?<br/><br/>
É historiador, jornalista e doutorando em História Social pela UFRJ. Há alguns anos, fundou uma rede social chamada Café História. Carioca, é torcedor do Flamengo em tempo integral e ultimamente vem sofrendo de uma profunda saudade de sua série de TV favorita, a recém-extinta Lost.</p>

<strong>Jurema Salles</strong>
<p>Consultora de saúde para a sala Estação Saúde<br/><br/>
É fisioterapeuta, especialista em Osteopatia pelo Instituto Brasileiro de Osteopatia (IBO) e mestranda em Saúde Coletiva pela Universidade Federal do Rio de Janeiro (UFRJ), onde trabalha como pesquisadora há 2 anos. Mãe de Tom, um cachorrinho da raça Lhasa Apso de 7 anos, Jurema se alimenta de MPB ao som de comida japonesa.</p>

<strong>Karoline Lisanne Fendel</strong>
<p>Consultora de meio ambiente e sustentabilidade para a sala Um Pé de Quê?<br/><br/>
Bióloga, permacultora e sambista, Karoline trabalha e vive em uma comunidade no Sítio Çarakura, em Florianópolis, Santa Catarina. Sempre indica o filme francês “La Belle Verte” (Turista Espacial) e em seu altar você encontra a foto do médico norte-americano Patch Adams. Sua frase preferida é “Se não for divertido não é sustentável!”</p>

<strong>Maria Inês Herzog</strong>
<p>Consultora de atualidades e cultura geral para a sala Conexão Futura<br/><br/>
Jornalista com 30 anos de experiência, foi editora-chefe da TV Brasil, Manchete e Bandeirantes, além de editora-executiva do GNT e roteirista de programas como Globo Ciência e Mojubá, do Canal Futura. Hoje, trabalha de forma independente e aproveita o tempo livre para ler, pintar, fazer artesanato e cuidar de um pequeno jardim.</p>

<strong>Paulo Sérgio Pedrosa</strong>
<p>Consultor de Língua Portuguesa e Literatura para a sala Afinando a Língua<br/><br/>
Professor de Língua Portuguesa e de Literatura de alguns dos mais conceituados cursos pré-vestibulares do Rio de Janeiro, Paulo prepara alunos para doutorado e faz parte de bancas de correção de concursos de universidades públicas e particulares. Morador apaixonado do Rio de Janeiro, adora motocicletas e esportes a motor.</p>

<br/><strong>Desenvolvimento<br/><br/>
<p><a href="http://www.dizain.com.br" target="_blank" >Diz'Ain</a><br/>
<a href="http://www.nanogames.com.br" target="_blank">Nano Games</a></p></strong>

	</div>
</div>
