
<h1 class="tit_ipad">Promoção CDF Nota 10</h1>

<div class="box_mensagem">
  <div class="conteudo_box">
    <p>Aqui no Clube Desafio Futura, você se diverte, aprende e ainda pode levar prêmios para casa. Quer faturar camisas, DVDs e concorrer a um iPad no fim do mês de abril? Confira o funcionamento da promoção CDF Nota 10:</p>
    <p>A promoção CDF Nota 10 terá início no dia 1º e chegará ao fim no dia 30 de abril. Durante este período, todos os pontos conquistados no jogo serão contabilizados no ranking mensal. O jogador que estiver na primeira colocação às 23h59m do dia 30 será premiado com um iPad*.</p>

    <p>Além disso, durante o mês de abril, os dez primeiros colocados no ranking de cada semana também terão motivos para comemorar e receberão uma camisa do Clube Desafio Futura ou DVD de programas do Canal (Globo Ciência, Globo Ecologia, Passagem Para ou Um Pé de Quê?). Os premiados de cada semana serão anunciados nos dias 09, 16, 23 e 30 de abril.</p>

    <p>Como eu ganho pontos para o ranking?</p>
    <p>Além de vencer partidas, você pode conquistar pontos para o seu ranking de várias maneiras.</p>
    <p><strong>Veja a tabela de pontos do CDF:</strong></p>

    <table class="promo_pontos">
      <tr>
        <td>Resposta certa no jogo no modo normal</td>
        <td><strong>10 pontos</strong></td>
      </tr>
      <tr>
        <td>Resposta certa no jogo no modo turbo</td>
        <td><strong>15 pontos</strong></td>
      </tr>
      <tr>
        <td>Carta de bonificação</td>
        <td><strong>10 pontos</strong></td>
      </tr>
      <tr>
        <td>Sugerir perguntas</td>
        <td><strong>50 pontos</strong></td>
      </tr>
      <tr>
        <td>Indicar um amigo que efetue o cadastro no jogo</td>
        <td><strong>100 pontos</strong></td>
      </tr>
      <tr>
        <td>Responder a questionários</td>
        <td><strong>200 pontos</strong></td>
      </tr>
      <tr>
        <td>Vitória em uma partida no modo normal</td>
        <td><strong>200 pontos</strong></td>
      </tr>
      <tr>
        <td>Vitória em uma partida no modo turbo</td>
        <td><strong>300 pontos</strong></td>
      </tr>
    </table>

    <br><br>

    <p>Ficou com alguma dúvida? Entre em contato com a gente através do e-mail <a href="mailto:cdf@futura.org.br">cdf@futura.org.br</a> ou da comunidade do CDF no Orkut.</p>
    <p class="observacao">*Especificações sobre o iPad: Tela Multi-Touch widescreen brilhante de 9,7 polegadas, Memória flash de 16GB, Wi-Fi, iPod, Acesso à App store.</p>
  </div>
</div>
