<div id="orkut_share" style="width:100%;">Compartilhar no Orkut</div>
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
  google.load('orkut.share', '1');
  google.setOnLoadCallback(function() {
    new google.orkut.share.Button({style:'mini',
      title:'Compartilhe',
      summary:'<%= @message %>'
    }).draw('orkut_share');
  }, true);
</script>

<a onClick="window.open('http://www.facebook.com/sharer.php?s=100&p[title]=<%= "Clube Desafio Futura" %>&p[summary]=<%= @message %>&p[url]=www.cdf.org.br&','sharer','toolbar=0,status=0,width=548,height=325');" href="javascript: void(0)">Compartilhe no Facebook</a>