﻿<% content_for :head do %>
  <%= stylesheet_link_tag "FrontEnd/conteudo_em_blocos" %>
<% end %>

<h1>Termos de Uso</h1>

<div class="box_mensagem">
	<div class="conteudo_box termos_uso">
		<p>Este Termo de Serviço (“Termo”) diz respeito ao serviço do jogo criado pela Fundação Roberto Marinho - Canal Futura, intitulado “Clube Desafio Futura – CDF”, e a todos os serviços sucessores ou relacionados ao jogo (“Serviço”), que pode ser acessado através do website da rede social de relacionamentos “Orkut”, exclusivo para aqueles que possuem um perfil no site, ou através de acesso ao website do Jogo <a href="#">http://www.cdf.org.br</a>.</p>
		
		<ul class="lista_pai">
		
		<li>
			<h4>1. Aceitação dos Termos:</h4>
		 
			<ol>
				<li>1.1. O uso deste canal de jogo constitui sua concordância com estes termos, condições e avisos, bem como com as regras do jogo adiante descritas. Qualquer violação ao Termo poderá ocasionar no desligamento temporário ou permanente do jogador, a exclusivo critério da Fundação Roberto Marinho.</li>
				<li>1.2. A Fundação Roberto Marinho reserva-se o direito de realizar a qualquer momento, a seu exclusivo critério, quaisquer alterações neste Termo, garantida a divulgação da alteração de forma eficaz.</li>
				<li>1.3. A Fundação Roberto Marinho reserva-se o direito de descontinuar o Serviço ou a realizar alterações de qualquer natureza no conteúdo do Serviço, incluindo, mas não se limitando a: mudar as regras do jogo; mudar os critérios de classificação e de pontuação dos jogadores. Estas alterações podem ocorrer a qualquer tempo, estando desobrigada a notificar os participantes do ocorrido, sem que desta forma possa estar sujeita a qualquer questionamento.</li>
			</ol>
		</li>
		 
		<li><h4>2. Regras do Jogo:</h4>
			<ol>
				<li>2.1. O jogo pode ser acessado através do Orkut ou do site do jogo http://www.cdf.org.br. O acesso pelo Orkut deverá ser feito por meio do aplicativo do jogo, clicando em ‘adicionar aplicativo’. Já para acessar através do site o participante deverá se cadastrar no site e confirmar o cadastro através do e-mail informado no momento do cadastro.</li>
				<li>2.1.1. O participante não poderá jogar ao mesmo tempo através do aplicativo do Orkut e através do site do jogo, cada participante somente poderá disputar uma partida de cada vez.</li>
				<li>2.2. O Serviço consiste em um jogo de perguntas e respostas, a ser jogado por no mínimo 2 (dois) e no máximo 6 (seis) participantes em cada sala.</li>
				<li>2.3. O jogador deverá escolher uma sala para jogar, sendo que as salas possuirão temas diversos, e o jogador escolherá a sua sala com base no tema de seu interesse. </li>
				<li>2.4. Após escolher a sala onde deseja jogar, o participante deverá escolher a mesa. A escolha poderá ser feita entre mesas já existentes (criadas por outros participantes) ou criar a sua própria mesa.</li>
				<li>2.4.1. A mesa criada pelo participante poderá ser pública ou privada. As mesas públicas poderão ser acessadas por qualquer participante que entre na sala, já as mesas privadas só poderão ser acessadas pelos amigos convidados pelo criador da mesa.</li>
				<li>2.4.2. O participante poderá escolher ainda o nível de dificuldade de sua mesa, que poderá ser em Modo Normal ou em Modo Velocidade Turbo. Neste segundo modo os participantes terão um tempo menor para responderem às perguntas. O nível de dificuldade escolhido antes do início da partida não poderá ser modificado.</li>
				<li>2.5. O jogo começa após todos os participantes da mesa confirmarem sua participação. A ordem dos jogadores seguirá a ordem de confirmação de cada participante no jogo. Será atribuída uma cor diferente a cada jogador, de forma a facilitar a identificação de cada um no tabuleiro.</li>
				<li>2.6. A cada pergunta respondida corretamente o jogador ganha o direito de colocar uma peça sua no tabuleiro.</li>
				<li>2.6.1. Cada jogador só pode responder a uma pergunta por vez. Enquanto seus amigos estiverem jogando, o participante pode aproveitar para conversar com os outros participantes da mesa em um chat.</li>
				<li>2.7. O jogo termina quando todos os espaços do tabuleiro estiverem preenchidos com as peças dos participantes.</li>
				<li>2.8. Será considerado o ganhador da rodada aquele que ao final possuir o maior número de peças no tabuleiro.</li>
				<li>2.8.1. Em caso de empate, o critério a ser usado como desempate será o tempo usado por cada jogador para responder às perguntas, sendo que aquele que tiver usado menos tempo será considerado o ganhador.</li>
				<li>2.9. O vencedor da partida receberá 200 (duzentos) pontos se estiver jogando no modo normal e 300 (trezentos) se estiver no modo turbo.</li>
				<li>2.10. Caso o participante resolva abandonar uma partida, os pontos acumulados naquela partida não serão contabilizados para o ranking. Se todos os jogadores decidirem sair da partida, o último a deixar a mesa será o único a manter os pontos conquistados através das perguntas, mas não será considerado o vencedor, e desta forma não acumulará a pontuação de vencedor da partida.</li>
				<li>2.10.1. Caso o participante tenha a sua conexão à internet interrompida durante a partida será considerado como abandono de jogo, e desta forma ele não receberá os pontos adquiridos nesta partida.</li>
				<li>2.11. Os participantes poderão acumular pontos de diversas formas, incluindo: vencer uma partida, acertar perguntas nas partidas, sugerir perguntas, responder a questionários, indicar um amigo que efetue o cadastro no jogo, através da Carta Nota 10 e Carta Nota 0. Cada uma das formas aqui descritas possui uma pontuação específica:</li>
				<li>2.1. O jogo pode ser acessado através do Orkut ou do site do jogo http://www.cdf.org.br. O acesso pelo Orkut deverá ser feito por meio do aplicativo do jogo, clicando em ‘adicionar aplicativo’. Já para acessar através do site o participante deverá se cadastrar no site e confirmar o cadastro através do e-mail informado no momento do cadastro.</li>
				<li>2.1.1. O participante não poderá jogar ao mesmo tempo através do aplicativo do Orkut e através do site do jogo, cada participante somente poderá disputar uma partida de cada vez.</li>
				<li>2.2. O Serviço consiste em um jogo de perguntas e respostas, a ser jogado por no mínimo 2 (dois) e no máximo 6 (seis) participantes em cada sala.</li>
				<li>2.3. O jogador deverá escolher uma sala para jogar, sendo que as salas possuirão temas diversos, e o jogador escolherá a sua sala com base no tema de seu interesse. </li>
				<li>2.4. Após escolher a sala onde deseja jogar, o participante deverá escolher a mesa. A escolha poderá ser feita entre mesas já existentes (criadas por outros participantes) ou criar a sua própria mesa.</li>
				<li>2.4.1. A mesa criada pelo participante poderá ser pública ou privada. As mesas públicas poderão ser acessadas por qualquer participante que entre na sala, já as mesas privadas só poderão ser acessadas pelos amigos convidados pelo criador da mesa.</li>
				<li>2.4.2. O participante poderá escolher ainda o nível de dificuldade de sua mesa, que poderá ser em Modo Normal ou em Modo Velocidade Turbo. Neste segundo modo os participantes terão um tempo menor para responderem às perguntas. O nível de dificuldade escolhido antes do início da partida não poderá ser modificado.</li>
				<li>2.5. O jogo começa após todos os participantes da mesa confirmarem sua participação. A ordem dos jogadores seguirá a ordem de confirmação de cada participante no jogo. Será atribuída uma cor diferente a cada jogador, de forma a facilitar a identificação de cada um no tabuleiro.</li>
				<li>2.6. A cada pergunta respondida corretamente o jogador ganha o direito de colocar uma peça sua no tabuleiro.</li>
				<li>2.6.1. Cada jogador só pode responder a uma pergunta por vez. Enquanto seus amigos estiverem jogando, o participante pode aproveitar para conversar com os outros participantes da mesa em um chat.</li>
				<li>2.7. O jogo termina quando todos os espaços do tabuleiro estiverem preenchidos com as peças dos participantes.</li>
				<li>2.8. Será considerado o ganhador da rodada aquele que ao final possuir o maior número de peças no tabuleiro.</li>
				<li>2.8.1. Em caso de empate, o critério a ser usado como desempate será o tempo usado por cada jogador para responder às perguntas, sendo que aquele que tiver usado menos tempo será considerado o ganhador.</li>
				<li>2.9. O vencedor da partida receberá 200 (duzentos) pontos se estiver jogando no modo normal e 300 (trezentos) se estiver no modo turbo.</li>
				<li>2.10. Caso o participante resolva abandonar uma partida, os pontos acumulados naquela partida não serão contabilizados para o ranking. Se todos os jogadores decidirem sair da partida, o último a deixar a mesa será o único a manter os pontos conquistados através das perguntas, mas não será considerado o vencedor, e desta forma não acumulará a pontuação de vencedor da partida.</li>
				<li>2.10.1. Caso o participante tenha a sua conexão à internet interrompida durante a partida será considerado como abandono de jogo, e desta forma ele não receberá os pontos adquiridos nesta partida.</li>
				<li>2.11. Os participantes poderão acumular pontos de diversas formas, incluindo: vencer uma partida, acertar perguntas nas partidas, sugerir perguntas, responder a questionários, indicar um amigo que efetue o cadastro no jogo, através da Carta Nota 10 e Carta Nota 0. Cada uma das formas aqui descritas possui uma pontuação específica:
					<ul>
						<li>- Resposta certa no jogo no modo normal – 10 pontos</li>
						<li>- Resposta certa no jogo no modo turbo – 15 pontos</li>
						<li>- Carta Nota 10 – 10 pontos</li>
						<li>- Carta Nota 0 –  - 10 pontos</li>
						<li>- Sugerir perguntas – 50 pontos</li>
						<li>- Indicar um amigo que efetue o cadastro no jogo – 100 pontos</li>
						<li>- Responder a questionários – 200 pontos</li>
						<li>- Vitória em uma partida no modo normal – 200 pontos</li>
						<li>- Vitória em uma partida no modo turbo – 300 pontos</li>
					</ul>
				</li>
				<li>2.12. Serão disponibilizados 3 (três) Rankings para o Jogo – semanal, mensal e geral.</li>
				<li>2.13. Os participantes poderão sugerir perguntas para o Jogo sempre que for postado um aviso no quadro de notificações indicando que o prazo para envio de perguntas está aberto. Não há limites de perguntas por cada participante. Todas as perguntas deverão ter um enunciado com no máximo 200 caracteres e três opções de resposta, sendo uma correta.</li>
				<li>2.13.1. Para que o participante faça jus à pontuação a pergunta submetida deverá ser aprovada pela equipe do Jogo, capaz e idônea para realizar tal julgamento. Caso a pergunta seja aprovada, o participante receberá um aviso na área de notificações com a pontuação ganha pela contribuição com o  jogo.</li>
				<li>2.13.2. Os participantes concordam em ceder ao Canal Futura toda e qualquer sugestão de pergunta enviada, que poderá ser utilizada pelo mesmo indiscriminadamente, para toda e qualquer forma de utilização existente ou que venha a existir, sem limitação de tempo, território, ou número de utilizações.</li>
				<li>2.14. Os participantes poderão ainda responder à questionários para ganharem pontos no Jogo. O quadro de notificações irá avisar quando os questionários estiverem disponíveis para serem respondidos. Após responder às perguntas os participantes receberão os pontos automaticamente.</li>
				<li>2.15. O jogo, a princípio, não realizará a comercialização de quaisquer bens ou objetos, o que não impede a Fundação Roberto Marinho de, futuramente, vir a realizar ações neste sentido, sem necessidade de prévio comunicado.</li>
				<li>2.16. Caso o participante encontre alguma pergunta com qualquer informação errônea pode entrar em contato com a equipe do Canal Futura através do e-mail cdf@futura.org.br.</li>
			</ol>
		</li>
 
		<li><strong>3.</strong> No ato de cadastro no jogo os participantes deverão informar o seu e-mail pessoal, que poderá ser utilizado, mediante o aceite do participante, para o envio de avisos e comunicações acerca do jogo, da instituição e seus parceiros.</li>
		<li><strong>4.</strong> Os participantes estão cientes de que a utilização do conteúdo do jogo para quaisquer fins comerciais, a qualquer tempo, está terminantemente proibida.</li>
		<li><strong>5.</strong> Os participantes concordam em utilizar os serviços disponibilizados dentro das normas legais, e comprometem-se em não praticar as condutas adiante listadas, que são meramente exemplificativas:
			<ul>
				<li>a)Fazer quaisquer comentários ofensivos, inclusive que estejam relacionados à raça, sexo, nacionalidade, religião, entre outras;</li>
				<li>b)Fazer uso de qualquer imagem/foto com conteúdo pornográfico, obsceno, ou que de qualquer forma possa ofender os demais usuários;</li>
				<li>c)Promover qualquer ato de violência para com terceiros;</li>
				<li>d)Difamar, assediar, ridicularizar de qualquer forma demais usuários;</li>
				<li>e)Violar quaisquer normas legais, nacionais ou internacionais e/ou participar em atividades consideradas ilícitas;</li>
				<li>f)Violar o presente Termo e/ou as regras do jogo;</li>
				<li>g)Criar contas de usuários falsas e/ou utilizando informações de terceiros;</li>
				<li>h)Participar de qualquer atividade comercial, incluindo qualquer tentativa de promover produtos, serviços, websites de terceiros;</li>
				<li>i)Transmitir quaisquer tipos de vírus, spam aos demais usuários, ou de qualquer forma interferir no bom uso do jogo, seu conteúdo, função.</li>
			</ul> 
		</li>
		<li><strong>6.</strong> Os jogadores ao aceitarem participar do jogo concordam em fornecer à Fundação Roberto Marinho seu e-mail e demais dados pessoais que se façam necessários, os quais a Fundação Roberto Marinho compromete-se, desde já, a manter em sigilo total, não os divulgando a terceiros, a não ser que os participantes autorizem expressamente, exceto quando exigido por ordem judicial.</li>
		<li><strong>7.</strong> A Fundação Roberto Marinho, através do Canal Futura, poderá eventualmente vir a realizar promoções entre os participantes do jogo, que poderão distribuir prêmios a estes. Fica desde já esclarecido que a Fundação Roberto Marinho não está de qualquer forma obrigada a realizar estas promoções, e caso as realize será a seu único e exclusivo critério.</li>
		<li><strong>8.</strong> Os casos omissos não previstos neste regulamento serão analisados e decididos exclusivamente pela Fundação Roberto Marinho.</li>
		<li><strong>9.</strong> O cadastro no jogo implicará na concordância total e incondicional com todos os itens deste Termo.</li>
		<li><strong>10.</strong> Em caso de dúvidas favor entrar em contato através do e-mail <a href="mailto:cdf@futura.org.br">cdf@futura.org.br</a>.</li>
		</ul>
	</div>
</div>
