@import url("reset.css");

/*-----------------------------------------------------------------------------
Nano Studio Website - General Stylesheet

Authors:  Werther Azevedo & Fabricio Fernandes
-----------------------------------------------------------------------------*/


/* =General
-----------------------------------------------------------------------------*/

@font-face {
    font-family: 'FloridaProjectPhaseOne';
    src: url('../fonts/floridaproject-webfont.eot');
    src: url('../fonts/floridaproject-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/floridaproject-webfont.woff') format('woff'),
         url('../fonts/floridaproject-webfont.ttf') format('truetype'),
         url('../fonts/floridaproject-webfont.svg#FloridaProjectPhaseOne') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LiberationSansRegular';
    src: url('../fonts/LiberationSans-Regular-webfont.eot');
    src: url('../fonts/LiberationSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LiberationSans-Regular-webfont.woff') format('woff'),
         url('../fonts/LiberationSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/LiberationSans-Regular-webfont.svg#LiberationSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
   /* background-image: url(../images/comum/body_transp_left.png), -moz-linear-gradient(top, #d9e8ea, #d9e3e3);
    background-image: url(../images/comum/body_transp_left.png), -webkit-gradient(linear, left top, left bottom, from(#d9e8ea), to(#d9e3e3));
    background-repeat: no-repeat;*/
    background: #dae8eb url(../images/comum/body_transp_left.png) no-repeat left top;
}

body {
    background: url(../images/comum/body_transp_right.png) no-repeat right 150px;
    padding-bottom: 50px; 
}

.central {
    width: 940px;
    margin: 54px auto 0px auto;
    padding-bottom: 100px;
}

.central p {
    font: 12px Arial, sans-serif;
}

.saiba_mais {
    color: #e5b30d;
    text-decoration: underline;
    float: right;
    margin: 0px 20px 0px 0px;
    font: 12px Arial, sans-serif;
}

.container_generico {
    border: 1px solid  #c3d6da;
    background-color: #f4f9fa;
    padding-bottom: 25px;
}

/* =Box Padrao
-----------------------------------------------------------------------------*/

.box_padrao {
    background-color: rgba(0,56,64,0.8);
    background-repeat: no-repeat;
    border: 1px solid #c3c8c9 ;
    float: left;
    padding-bottom: 12px;
}

.no-rgba .box_padrao{
    background-color: #315f65;
}

.box_padrao h2 {
    height: 28px;
    padding-top: 7px;
    position: relative;
    font: bold 15px Arial, sans-serif;
    color: #fff;
    background: #0a4047;
    border-bottom: 2px solid #fec412;
}

.box_padrao p{
    color: #fff;
}

.box_padrao h2 .ic_subtitulo{
    position: absolute;
}

/* =Titulacao
-----------------------------------------------------------------------------*/

.box_cabecalho {
    border-bottom: 3px solid #fec412;
    background-color: rgba(0,56,64,0.8);
}

.no-rgba .box_cabecalho {
    background-color: #2b5c63;
}

.titulo_principal {
    font: bold 18px FloridaProjectPhaseOne, sans-serif;
    text-transform: uppercase;
    color: #193539;
    background: url(../images/comum/degrade_titulo.png) repeat-x left bottom;
    border-radius: 10px;
    box-shadow: 0 9px 15px rgba(0,0,0,0.5);
    border: 1px solid #bec9cb;
    margin-top: -20px;
    position: relative;
    height: 35px;
    float: left;
    padding: 10px 20px 0 0;
}

.ic_titulo {
    position: absolute;
}

.titulo_com_elementos h1{
    padding: 0 0 0 80px;
    float: left;
}


/* =Header
-----------------------------------------------------------------------------*/

header{
    background: url(../images/header/bg_header.jpg) no-repeat bottom center;
    min-height: 134px;
    position: relative;
    padding-top: 1px;
}

.nav_principal{
    background: url(../images/header/bg_menu.png) no-repeat bottom center;
    height: 52px;
    margin-top: 36px;
    font: 17px LiberationSansRegular, sans-serif;
    letter-spacing: -0.06em;
    border-top: 2px solid #f6fafa;
    border-bottom: 2px solid #f0f6f7;
}

.nav_principal ul{
    width: 960px;
    margin: 0 auto;
    border-top: 1px solid #e3edf0;
    border-bottom: 1px solid #d5dee0;
    height: 50px;
}

header ul li{
    float: left;
    border-right: 1px solid #d9e8ea;
    border-left: 1px solid #eef4f5;
    margin: 0 1px;
    height: 50px;
}

header ul li a{
    color: #005672;
    display: block;
    height: 38px;
    padding: 14px 20px 0 20px;
}

header ul li a:hover{
    background: url(../images/header/bg_item_ativo.png) repeat-x;
    color: #fff;
}

header ul li:last-child{
    border-right: none;
}

header ul li.divisor_esq{
    margin-right: 290px;
}

header ul li.divisor_dir{
    border-left: 1px solid #d9e8ea;
}

header .logo{
    background: url(../images/header/logo.png) no-repeat 0 0;
    width: 207px;
    height: 79px;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -104px;
    top: 23px;
}

header .logo a{
    display: block;
    height: 79px;
}

header .logo em{
    margin-left: -10000px;
}


/* =Box de Mensagens
-----------------------------------------------------------------------------*/

.mensagens .msn {
    background-color: #27545b;
    height: 165px;
    width: 375px;
    color: #fff;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}

.mensagens h2 {
    height: 38px;
    padding-top: 12px;
    padding-right: 15px;
    position: relative;
    font: bold 18px FloridaProjectPhaseOne, sans-serif;
    text-transform: uppercase;
    text-align: center;
    background-color: #16383d;
}

.close_box {
    position: absolute;
    top: 10px;
    right: 15px;
}

.msn .txt_msn {
    font: bold 15px arial, sans-serif;
    margin: 25px 15px 0 15px;
}

.enviados em {
    color: #91c000;
}

.erro em {
    color: #ff1d1d;
}

.amarelo {
    color: #ffc000;
    font: bold 18px arial, sans-serif;
    text-align: center;
}


/* =Links de Redes Sociais
-----------------------------------------------------------------------------*/

.social_links{
    float: right;
}

.social_links li{
    float: left;
    margin-left: 10px;
}

/* =Media queries
-------------------------------------------------------------------------------*/

@media screen and (max-device-width: 480px) {


}

@media all and (orientation: portrait) {

}

@media all and (orientation: landscape) {

}
