/*-----------------------------------------------------------------------------
Nano Studio Website - Carreira Stylesheet

Authors:  Werther Azevedo & Fabricio Fernandes
-----------------------------------------------------------------------------*/


/* =Formulário
-----------------------------------------------------------------------------*/

#arquivo {
    width: 260px;
}

.fieldWithErrors #interesse {
    border: 1px solid red;
}

/* =Lista de Vagas
-----------------------------------------------------------------------------*/

.lista_vagas {
    float: right;
}

.box_padrao {
    width: 340px;
    margin: 38px 60px 0 0;
}

.lista_vagas h2 {
    text-indent: 85px;
    border-bottom: 2px solid #fec412;
    margin-bottom: 13px;
}

.lista_vagas .ic_subtitulo {
    top: -18px;
    left: 10px;
}

.box_padrao h4, .box_padrao p {
    padding: 0 20px 0 20px;
}

.box_padrao h4 {
    font: bold 14px arial, sans-serif;
    color: #fccc00;
    margin-top: 15px;
}

.box_padrao p {
    margin-top: 20px;
}

.lista_vagas li{
    border-bottom: 2px solid #fff;
    padding-bottom: 20px;
    float: left;
    width: 100%;
}

.lista_vagas li:last-child{
    border: none;
}
