@import url("reset.css");

/*-----------------------------------------------------------------------------
Nano Studio Website - General Stylesheet

Authors:  Werther Azevedo & Fabricio Fernandes
-----------------------------------------------------------------------------*/


/* =General
-----------------------------------------------------------------------------*/

@font-face {
    font-family: 'FloridaProjectPhaseOne';
    src: url('../fonts/floridaproject-webfont.eot');
    src: url('../fonts/floridaproject-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/floridaproject-webfont.woff') format('woff'),
         url('../fonts/floridaproject-webfont.ttf') format('truetype'),
         url('../fonts/floridaproject-webfont.svg#FloridaProjectPhaseOne') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LiberationSansRegular';
    src: url('../fonts/LiberationSans-Regular-webfont.eot');
    src: url('../fonts/LiberationSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LiberationSans-Regular-webfont.woff') format('woff'),
         url('../fonts/LiberationSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/LiberationSans-Regular-webfont.svg#LiberationSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    background: #dae8eb url(../images/comum/body_transp_left.png) no-repeat left top;
}

body {
    background: url(../images/comum/body_transp_right.png) no-repeat right 220px;
    padding-bottom: 50px;
}

.central {
    width: 940px;
    margin: 54px auto 0 auto;
}

.central p {
    font: 12px Arial, sans-serif;
}

.central p a{
    color: #009cb5;
    text-decoration: underline;
}

.saiba_mais {
    color: #e5b30d;
    text-decoration: underline;
    float: right;
    margin: 0px 20px 0px 0px;
    font: bold 12px Arial, sans-serif;
}

.container_generico {
    border: 1px solid  #c3d6da;
    background-color: #f4f9fa;
    padding-bottom: 25px;
}

/* =Box Padrao
-----------------------------------------------------------------------------*/

.box_padrao {
    background-color: rgba(0,56,64,0.8);
    background-repeat: no-repeat;
    border: 1px solid #c3c8c9 ;
    float: left;
    padding-bottom: 12px;
}

.no-rgba .box_padrao{
    background-color: #315f65;
}

.box_padrao h2 {
    height: 28px;
    padding-top: 7px;
    position: relative;
    font: bold 15px Arial, sans-serif;
    color: #fff;
    background: #0a4047;
    border-bottom: 2px solid #fec412;
}

.box_padrao p{
    color: #fff;
    float: right;
}

.box_padrao h2 .ic_subtitulo{
    position: absolute;
}

/* =Titulacao
-----------------------------------------------------------------------------*/

.box_cabecalho {
    border-bottom: 3px solid #fec412;
    background-color: rgba(0,56,64,0.8);
}

.no-rgba .box_cabecalho {
    background-color: #315f65;
}

.titulo_principal {
    font: bold 18px FloridaProjectPhaseOne, sans-serif;
    text-transform: uppercase;
    color: #193539;
    background: url(../images/comum/degrade_titulo.png) repeat-x left bottom;
    border-radius: 10px;
    box-shadow: 0 9px 15px rgba(0,0,0,0.5);
    border: 1px solid #bec9cb;
    margin-top: -20px;
    position: relative;
    height: 35px;
    float: left;
    padding: 10px 10px 0 0;
}

.titulo_principal  .link_titulo {
    color: #193539;
    padding: 0 50px 0 60px;
}

.ic_titulo {
    position: absolute;
}

.titulo_com_elementos h1{
    float: left;
}


/* =Header
-----------------------------------------------------------------------------*/

.global_header{
    background: url(../images/header/bg_header.jpg) no-repeat bottom center;
    min-height: 134px;
    position: relative;
    padding-top: 1px;
}

.subheader{
    width: 960px;
    margin: 0 auto;
}

.nav_principal{
    background: url(../images/header/bg_menu.png) no-repeat bottom center;
    height: 52px;
    margin-top: 36px;
    font: 17px LiberationSansRegular, sans-serif;
    letter-spacing: -0.06em;
    border-top: 2px solid #f6fafa;
    border-bottom: 2px solid #f0f6f7;
}

.nav_principal .conteudo_nav{
    width: 960px;
    margin: 0 auto;
    text-align: center;
}

.nav_principal ul{
    display: inline-block;
    height: 50px;
    border-top: 1px solid #e3edf0;
    border-bottom: 1px solid #d5dee0;
}

.ie7 .nav_principal ul{
    display: inline;
}

.nav_principal ul li{
    float: left;
    border-right: 1px solid #d9e8ea;
    border-left: 1px solid #eef4f5;
    margin: 0 1px;
    height: 50px;
}

.nav_principal ul li a{
    color: #005672;
    display: block;
    height: 38px;
    padding: 12px 20px 0 20px;
    -moz-transition-property: background-color, color;
    -moz-transition-duration: 0.5s;
    -webkit-transition-property: background-color, color;
    -webkit-transition-duration: 0.5s;
    -opera-transition-property: background-color, color;
    -opera-transition-duration: 0.5s;
}

.nav_principal ul li a:hover{
    background-color: #007a8d;
    color: #fff;
}

.nav_principal ul li.logo_spot a:hover{
    background-color: transparent;
}

.nav_principal ul li a.ativo{
    background: url(../images/header/bg_item_ativo.png) repeat-x;
    color: #fff;
}

.nav_principal ul li:first-child{
    border-left: none;
}

.nav_principal ul li:last-child{
    border-right: none;
}

.nav_principal ul li.logo_spot{
    padding: 0 10px;
}

.nav_principal .logo{
    background: url(../images/header/logo.png) no-repeat 0 0;
    width: 207px;
    height: 79px;
    display: block;
    margin-top: -16px;
}

.nav_principal .logo a{
    display: block;
    height: 79px;
}

.nav_principal .logo em{
    margin-left: -10000px;
}

/* Seleção de linguagem */

.seletor_de_linguagem {
    float: right;
    height: 21px;
    width: 123px;
    margin: 1px 40px 0 0;
    color: #fff;
    font: 11px arial, sans-serif;
    background-color: #09afc5;
    border-radius: 0 0 5px 5px;
}

.seletor_de_linguagem p {
    height: 8px;
    padding: 2px 0 6px 10px;
    float: left;
}

.seletor_de_linguagem .lista_linguagem {
    float: right;
}

.seletor_de_linguagem .lista_linguagem li {
    float: left;
    padding: 3px 0 3px 0;
}

.seletor_de_linguagem .lista_linguagem a {
    color: #fff;
    font-weight: bold;
    padding: 3px 6px 4px 6px;
    width: 25px !important;
}

.seletor_de_linguagem .lista_linguagem li a:hover {
    background-color: #1d6f79;
    color: #fce100;
}

.seletor_de_linguagem .lista_linguagem li a.idioma_ativo {
    background: #1d6f79;
    color: #fce100;
}

.seletor_de_linguagem .lista_linguagem li .en:hover {
    border-radius: 0 0 5px 0;
}

.seletor_de_linguagem .lista_linguagem li .en {
    border-radius: 0 0 5px 0;
}

/* =Links de Redes Sociais
-----------------------------------------------------------------------------*/

.social_links {
    float: right;
}

.social_links li {
    float: left;
    margin-left: 10px;
}

/* =Footer
-----------------------------------------------------------------------------*/

footer{
    width: 900px;
    height: 25px;
    margin: 10px auto 0 auto;
    padding: 10px 20px;
    background-color: #eef5f6;
    border-top: 2px solid #fec412;
    font: 12px arial, sans-serif;
    color: #003138;
    clear: both;
    box-shadow: 1px 1px 5px #666666;
}

.vcard div, .vcard p {
    float: left;
}

.vcard .org {
    background: url(../images/footer/logo_pq.png) no-repeat;
    width: 70px;
    height: 25px;
}

.vcard .org h6, .vcard .adr span {
    display: none;
}

.vcard .tel {
    background: url(../images/footer/hexagono_footer.png) no-repeat left bottom;
    text-indent: 17px;
    margin: 5px 0 0 20px;
}

.vcard .mail {
    background: url(../images/footer/hexagono_footer.png) no-repeat left bottom;
    text-indent: 17px;
    margin: 5px 0 0 5px;
}

.vcard .mail .email {
    text-decoration: underline;
    color: #057f8f;
    margin-left: 5px;
}

.vcard .enfase {
    font-weight: bold;
}

.direitos {
    float: right;
    margin-top: 5px;
    font-size: 11px;
}


/* =Media queries
-------------------------------------------------------------------------------*/

@media screen and (max-device-width: 480px) {


}

@media all and (orientation: portrait) {

}

@media all and (orientation: landscape) {

}
