/*-----------------------------------------------------------------------------
Nano Studio Website - Contato_sucesso Stylesheet

Authors:  Werther Azevedo & Fabricio Fernandes
-----------------------------------------------------------------------------*/


/* =Central
-----------------------------------------------------------------------------*/

.titulo_principal .ic_titulo {
    top: -3px;
    left: -12px;
}

.titulo_principal .link_titulo {
    padding-left: 75px;
}

.box_padrao {
    background-image: url(../images/servicos/servicos_detalhes/colmeia_exemplo_serv.png);
    background-repeat: no-repeat;
    background-position: right 40px;
    padding-bottom: 60px;
    margin-bottom: 60px;
}


/* =Secao Primaria
-----------------------------------------------------------------------------*/

.box_obrigado p {
    padding-bottom: 3px;
    line-height: 17px;
    float: none;
    padding: 20px 0 0 20px;
}
