/*-----------------------------------------------------------------------------
Nano Studio Website - Contato Stylesheet

Authors:  Werther Azevedo & Fabricio Fernandes
-----------------------------------------------------------------------------*/


/* =General
-----------------------------------------------------------------------------*/

.central  {
    border: 1px solid #aebbbe;
    background-color: rgba(255,255,255,0.7);
    background-image: url(../images/servicos/servicos_detalhes/fundo_serv_games.png);
    background-position: bottom left;
    background-repeat: no-repeat;
}

.no-rgba .central {
    background-color: #f4f9fa;
}

/* =Navegação de contato
-----------------------------------------------------------------------------*/

.nav_contato {
    position: relative;
}

.nav_contato li{
    margin-right: 5px;
}

.link_contato{
    position: absolute;
}

.link_contato li {
    float: left;
}

.titulo_principal .ic_titulo {
    top: -5px;
    left: -15px;
}

.titulo_principal .link_titulo {
    padding-left: 60px;
}


/* =Cabeçalho
-----------------------------------------------------------------------------*/

.box_cabecalho {
    height: 135px;
}

.box_cabecalho p {
    padding-top: 65px;
    padding-left: 60px;
    background-image: url(../images/hexagonos/cabecalho.png);
    background-repeat: no-repeat;
    background-position: top center;
    color: #fff;
    font: bold italic 14px arial, sans-serif;
    line-height: 18px;
}

.box_cabecalho a {
    color: #fff;
}

.redes_sociais {
    float: right;
    margin: -80px 60px 0 0;
}

.redes_sociais li {
    float: left;
}


/* =Formulário
-----------------------------------------------------------------------------*/

.form_contato {
    padding: 25px 0 0 30px;
    width: 400px;
    float: left;              
}

.form_contato label {
    display: block;
    font: bold italic 14px arial, sans-serif;
    color: #27545b;
    margin-bottom: 4px;
    clear: both;
}

input, textarea, select, #arquivo {
    width: 100%;
    height: 25px;
    display: block;
    margin-bottom: 10px;
    border: 1px solid #929697;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.form_contato textarea {
    min-height: 160px !important;
    max-height: 160px !important;
    min-width: 400px !important;
    max-width: 400px !important;
    margin-right: -2px;
    float: right;
}

.fieldWithErrors input, .fieldWithErrors textarea {
    border: 1px solid red;
}

#ddd {
    width: 40px;
    height: 25px;
    float: left;
}

#phone {
    float: right;
    width: 344px;
    height: 25px;
    margin: 0 -3px 0 10px;
}

.link_envio {
   padding: 15px 0 200px 0;
   margin-right: -2px;
   float: right;
}

.link_envio button {
    padding: 8px 14px;
    border: 1px solid #c3c6c7;
    box-shadow: 0 2px 2px rgba(161,164,165,0.5);
    background-color: #315f65;
    color: #fff;
    font: bold 18px FloridaProjectPhaseOne, sans-serif;
    text-transform: uppercase;
}


/* =Mensagens
-----------------------------------------------------------------------------*/

.mensagens{
    width: 375px;
    float: right;
    padding: 40px 40px 0 0
}

.msn {
    background-color: #27545b;
    width: 375px;
    color: #fff;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    padding-bottom: 20px;
}

.msn h2 {
    height: 38px;
    padding-top: 12px;
    padding-right: 15px;
    position: relative;
    font: bold 18px FloridaProjectPhaseOne, sans-serif;
    text-transform: uppercase;
    text-align: center;
    background-color: #16383d;
}

.close_box {
    position: absolute;
    top: 10px;
    right: 15px;
}

.msn .txt_msn {
    font: bold 15px arial, sans-serif;
    margin: 25px 15px 0 15px;
}

.enviados em {
    color: #91c000;
}

.erro em {
    color: #ff1d1d;
}

.error_list{
    margin: 15px;
}

.error_list li{
    margin-bottom: 5px;
}

.central p.obrigado {
    color: #ffc000;
    font: bold 18px arial, sans-serif;
    text-align: center;
}
