/*-----------------------------------------------------------------------------
Nano Studio Website - Detalhe Vagas Stylesheet

Authors:  Werther Azevedo & Fabricio Fernandes
-----------------------------------------------------------------------------*/


/* =Central
-----------------------------------------------------------------------------*/

.central {
    position: relative;
}

.retorno_de_pagina {
    position: absolute;
    top: -15px;
    right: 62px;
    padding: 15px 18px;
    border: 1px solid #c3c6c7;
    box-shadow: 0 2px 2px rgba(161,164,165,0.5);
    background-color: #315f65;
    color: #fff;
    font: 14px FloridaProjectPhaseOne, sans-serif;
    text-transform: uppercase;
}

.retorno_de_pagina span {
    color: #e9bf6a;
}

.titulo_principal .ic_titulo {
    top: -10px;
    left: 5px;
}

.titulo_principal .link_titulo {
    padding-left: 75px;
}

.box_padrao h2 .subtitulo{
    float: left;
}

/* =Box Padrão
-----------------------------------------------------------------------------*/

.box_padrao {
    width: 820px;
    float: none;
    margin: 60px auto 0 auto;
    background-image: url(../images/servicos/servicos_detalhes/colmeia_exemplo_serv.png);
    background-position: right 40px;
}

.box_padrao h2 {
    padding-left: 20px;
    border-bottom: 3px solid #fec412;
}                           

.social_links li {
     float: right;
     margin-left: 5px;
}

.twitter-share-button {
    width: 45px;
}

#fb_iframe {
    width: 120px;
    height: 30px;
}

.gplus {
    width: 70px;
}

.box_padrao h4 {
    color: #fccc00;
    font: bold 14px arial, sans-serif;
}

.box_padrao p, .box_padrao li {
    font: 13px arial, sans-serif;
    color: #fff;
}

/* =Secao Primaria
-----------------------------------------------------------------------------*/

.secao_primaria {
    float: left;
    width: 448px;
    padding: 30px 20px 20px 20px;
}

.secao_primaria p {
    padding-top: 15px;
    line-height: 17px;
}

/* =Secao Secundária
-----------------------------------------------------------------------------*/

.secao_secundaria {
    float: right;
    width: 308px;
    padding: 30px 20px 20px 0;
}

.secao_secundaria ul {
    padding-top: 15px;
    list-style-image: url(../images/contato/ponto_ul.png);
}

.secao_secundaria li {
    margin-bottom: 25px;
}

/* =Envio
-----------------------------------------------------------------------------*/

.envio {
    width: 820px;
    background-color: rgba(0,56,64,0.8);
    border: 1px solid #c3c8c9;
    padding: 13px 0 13px 0;
    margin: 0 auto 60px auto;
}

.no-rgba .envio {
    background-color: #315f65;
}

.envio .candidatura {
    float: right;
    padding: 8px 14px;
    border: 1px solid #c3c6c7;
    box-shadow: 0 2px 2px #234549;
    font: bold 14px FloridaProjectPhaseOne, sans-serif;
    text-transform: uppercase;
    color: #fff;
    background-color: #ffa700;
    margin-right: 25px;
}
