/*-----------------------------------------------------------------------------
Nano Studio Website - Home Stylesheet

Authors:  Werther Azevedo & Fabricio Fernandes
-----------------------------------------------------------------------------*/


/* =General
-----------------------------------------------------------------------------*/
.titulo_principal{
    padding-right: 40px;
}

/* =Destaques
-----------------------------------------------------------------------------*/

.destaques{
    position: relative;
    height: 412px;
    background: #e8f1f3;
}

.destaques .titulo{
    background: rgba(0,56,64,0.9);
    border-bottom: 2px solid #fec412;
    height: 40px;
    width: 940px;
    z-index: 10;
    position: absolute;
}

.no-rgba .destaques .titulo{
    background: #0a4047;
}

.destaques .ic_titulo{
    top: -16px;
    left: 10px;
}

.destaques .titulo_principal{
    padding-left: 85px;
    padding-top: 14px;
}

.destaques .img_destaque{
    display: block;
    position: absolute;
    top: 0;
    z-index: 0;
}

.destaques .descricao{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0,56,64,0.9);
    background-image: url(../images/hexagonos/cabecalho.png);
    background-repeat: no-repeat;
    background-position: top center;
    width: 940px;
    padding: 20px 0;
    height: 65px;
}

.no-rgba .destaques .descricao{
    background-color: #184b52;
}

.destaques .descricao .texto{
    color: #fff;
    float: left;
    margin-left: 80px;
    width: 660px;
}

.destaques .descricao h1{
    font: bold 20px FloridaProjectPhaseOne, sans-serif;
    margin-bottom: 1px;
}

.destaques .descricao p{
    font-style: italic;
}

.destaques{
    margin-bottom: 40px;
}

#thumbs{
    float: right;
    margin: 0 60px 0 0;
}

.thumbs li{
    float: right;
    margin-left: 10px;
}

.thumbs li img{
    border: 1px solid #fff;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.7);
    display: none;
}

.thumbs li.ativo img, .thumbs li img:hover{
    border: 2px solid #fdde5c;
}


/* =Servicos
-----------------------------------------------------------------------------*/

.servicos{
    width: 540px;
    float: left;
    background: url(../images/home/hexagonos.png) bottom right no-repeat #fff;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.2);
    margin-bottom: 20px;
}

.servicos .titulo{
    background: #0a4047;
    border-bottom: 2px solid #fec412;
    height: 40px;
}

.servicos .subcoluna{
    float: left;
    width: 269px;
    min-height: 280px;
}

.servicos .titulo_principal{
    padding-left: 75px;
}

.servicos .ic_titulo{
    left: -20px;
    top: -15px;
}

.servicos .games{
    background: url(../images/home/pontilhado.png) top right repeat-y;
}

.servicos .apps{
    background: url(../images/home/pontilhado.png) top left repeat-y;
    float: left;
    margin-left: 2px;
}

.servicos dl{

}

.servicos dl a{
    display: block;
    margin: 0 20px; 
}

.servicos dl a:hover dt, .servicos dl a:hover dd{
    text-decoration: underline;
}

.servicos dl dt{
    font: bold 13px Arial, sans-serif;
    padding-top: 10px;
    color: #d18f00;
}

.servicos dl dd{
    color: #003138;
}

.servicos h3{
    background: #2b5b62;
    color: #fff;
    padding: 5px 0 5px 20px;
    font-size: 15px;
    height: 18px;
}

.servicos h3 .tit{
    float: left;
    color: #fff;
}

.servicos .saiba_mais{
    color: #fff;
    font-size: 11px;
    margin-top: 2px;
}

.servicos h3 a:hover{
    color: #fbcf14;
}

/* =Portfolio
-----------------------------------------------------------------------------*/

.portfolio{
    float: right;
    width: 380px;
    min-height: 322px;
    position: relative;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.2);
    background: rgba(255,255,255,0.6);
}

.no-rgba .portfolio{
    background: #fff;
}

.portfolio .descricao{
    padding: 15px 20px;
    line-height: 1.5em;
}

.portfolio .descricao a{
    color: #003138;
}

.portfolio .descricao a:hover{
    text-decoration: underline;
}

.portfolio .titulo_principal{
    padding-left: 70px;
    position: absolute;
}

.portfolio .ic_titulo{
    top: -10px;
    left: -5px;
}

.portfolio .imagem{
    width: 100%;
    height: 240px;
    overflow: hidden;
}


/* =Nano News
-----------------------------------------------------------------------------*/

.nanonews{
    clear: both;
    background: url(../images/home/barra_nanonews.png) no-repeat 0 0;
    width: 938px;
    height: 68px;
    color: #fff;
}

.nanonews h2{
    font: bold 18px FloridaProjectPhaseOne, sans-serif;
    color: #f5fafb;
    text-transform: uppercase;
    padding: 20px 0 0 90px;
    float: left;
}

.tweet{
    padding: 15px 0 0 60px;
    float: left;
    width: 440px;
    height: 50px;
    overflow: hidden;
}

.nanonews .saiba_mais{
    float: right;
    padding-top: 10px;
}

.ie7 .nanonews .saiba_mais{
    padding-top: 0;
}

.nanonews ul{
    float: right;
    margin: 15px 20px 0 0;
}

.nanonews ul li{
    float: left;
}

.nanonews ul li a{
    cursor: pointer;
}


