/*-----------------------------------------------------------------------------
Nano Studio Website - Portfolio Stylesheet

Authors:  Werther Azevedo & Fabricio Fernandes
-----------------------------------------------------------------------------*/


/* =Geral
-----------------------------------------------------------------------------*/
.bloco_conteudo{
    float: left;
    background: rgba(245,250,251,0.9);
    color: #315f65;
    width: 695px;
    *float: none;
    *padding-bottom: 20px;
}

.no-rgba .bloco_conteudo{
    background: #fff;
}

.conteudo_principal{
    position: relative;
}

/* =Home Portfolio
-----------------------------------------------------------------------------*/

.tit_portfolio{
    padding-left: 60px;
}

.tit_portfolio img{
    top: -15px;
    left: -10px;
}

.box_padrao{
    margin: 25px 20px;
    clear: both;
    *width: 94%;
}

.subtitulo_games .ic_subtitulo{
    top: -10px;
    left: 5px;
}

.subtitulo_apps .ic_subtitulo{
    top: -20px;
    left: 5px;
}

.subtitulo_games{
    padding: 0 15px 0 85px;
}

.subtitulo_apps{
    padding: 0 15px 0 60px;
}

.vitrine_portfolio{
    margin: 20px 0;
}

.vitrine_portfolio li{
    float: left;
    width: 46%;
    min-height: 160px;
    padding-bottom: 20px;
    margin-left: 20px;       
}

.vitrine_portfolio li a{
    color: #fff;
}

.vitrine_portfolio li a h3{
    color: #eec507;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 10px;
}

.vitrine_portfolio li a img{
    float: left;
    margin-right: 20px;
    border: 3px solid #fff;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.4);
}

.box_padrao p{
    float: none;
}

.vitrine_portfolio li .saiba_mais{
    color: #eec507;
    float: left;
    font-weight: bold;
    margin: 10px 0 0 0;
}

/* =Detalhe de uma peca
-----------------------------------------------------------------------------*/

.central .detalhe_peca p{
    font-size: 13px;
    line-height: 22px;
}

.detalhe_peca{
    position: relative;
    min-height: 840px;
    margin-bottom: 40px;
}

.detalhe_peca header{
    background: url(../images/portfolio/embed/banner_peca_arremate.png) no-repeat bottom left;
    padding-bottom: 24px;
    height: 150px;
}

.detalhe_peca .titulo_principal{
    position: absolute;
    z-index: 10;
    *width: 400px;
}

.detalhe_peca .banner_jogo{
    position: asbolute;
    z-index: 0;
}

.detalhe_peca .ic_titulo{
    top: -15px;
    left: 10px;
}

.bloco_conteudo .titulo_principal{
   padding-left: 65px;
   padding-right: 15px;
}

.detalhe_peca .titulo_principal h1, .detalhe_peca .titulo_principal .social_links {
    float: left;
}

.tit_portfolio .ic_titulo{
    top: -19px;
    left: -5px;
}

.social_links {
    height: 30px;
    min-width: 206px;
    margin: -6px 0 0 10px;
    padding: 10px 0 0 5px;
    border-left: 1px dotted #09afc5;
}

.titulo_com_elementos .link_titulo {
    padding: 0 0 0 20px;
}

.titulo_com_elementos .social_links li {
    float: right;
}

.titulo_com_elementos .social_links #___plusone_0 {
    width: 60px !important;
    height: 25px !important;
}

.titulo_com_elementos .social_links #fb_iframe {
    overflow: hidden;
    width: 90px;
    height: 25px;
    margin-left: -13px;
}

.detalhe_peca p{
    margin: 20px 60px 20px 40px;
}

.detalhe_peca p.chamada_jogue{
    margin-left: 70px;
    margin-right: 0;
}

.chamada_jogue{
    background: url(../images/portfolio/embed/bt_jogue.png) no-repeat 0 0;
    width: 241px;
    height: 105px;
    float: left;
    display: none;
}

.chamada_jogue a{
    display: block;
    height: 100%;
}

.screenshots{
    float: left;
    margin: 20px 0 0 40px;
    width: 80%;
}

.screenshots h5{
    text-transform: uppercase;
    font-weight: bolder;
    margin: 0 0 10px 5px;
    font-size: 12px;
}

.screenshots li{
    float: left;
    margin: 0 0 7px 7px;
    border: 1px solid #fff;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.3);
    overflow: hidden;
    width: 60px;
    height: 60px;
}

.screenshots li img{

}

.screenshots .seta_dir, .screenshots .seta_esq{
    margin-top: 3px;
}

/* As setas estão escondidas por enquanto pois existe espaço para exibir todas as thumbs */

.screenshots .seta_esq{
    float: left;
    cursor: pointer;
    display: none;
}

.screenshots .seta_dir{
    float: left;
    margin-left: 5px;
    cursor: pointer;
    display: none;
}


/* =Download do Jogo
-----------------------------------------------------------------------------*/

.download{
    margin: 30px 0 0 0;
    padding-bottom: 20px;
    min-height: 280px;
}

.titulo{
    background: #305e65 url(../images/portfolio/embed/textura_hexagonos_gd.png) no-repeat 200px 0;
    height: 46px;
}

.download .titulo_principal{
    font-weight: normal;
    padding-left: 60px;
}

.download .titulo_principal .ic_titulo{
    left: 0;
    top: 0;
}

.download form{
    margin: 20px 0 0 70px;
}

.download label, .download select{
    display: block;
}

.download label{
    margin: 0 0 2px 0;
    font-weight: bold;
}

.download select{
    display: block;
    border: 1px solid #315f65;
    margin-bottom: 15px;
    padding-left: 3px;
    min-width: 40%;
}

.download button{
    background: #264a4f;
    border: none;
    color: #fff;
    font-weight: bold;
    padding: 6px 10px;
    border-radius: 5px;
}

.link_appStore{
    margin: 20px;
    display: block;
    width: 200px;
}


/* =Navegacao do Portfolio
-----------------------------------------------------------------------------*/

.folio_nav{
    width: 244px;
    position: absolute;
    top: -20px;
    right: 0;
    z-index: 10;
    box-shadow: -1px 14px 5px 1px #767676;
    -webkit-box-shadow: -1px 14px 5px 1px #767676;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-bottom: 6px;
}

.folio_nav .nav_conteudo{
    background: url(../images/portfolio/embed/bg_coluna.png) repeat-y;
    padding: 20px 0 0x 0;
}

.folio_nav .abas{
    background: url(../images/portfolio/embed/nav_abas_sprite.png);
    background-repeat: 0;
    width: 244px;
    height: 42px;
    cursor: pointer;
}

.folio_nav .Games{
    background-position: 0 0;
}

.folio_nav .Apps{
    background-position: 0 -42px;
}

.folio_nav .abas li{
    float: left;
    font: bold 18px FloridaProjectPhaseOne, sans-serif;
    font-weight: bold;
    padding-top: 13px;
    text-transform: uppercase;
    text-align: center;
    width: 48%;
}

.folio_nav .abas li a{
    color: #b9c6c8;
}

.folio_nav .abas li.aba_ativa{
    width: 52%;
}

.folio_nav .abas li.aba_ativa a{
    padding-top: 10px;
    color: #001f23;
}

.folio_nav h5{
    color: #183438;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 5px 15px;
    padding: 15px 0 0 0;
}

.folio_nav form{
    background: rgba(255,255,255,0.5);
    border-bottom: 1px dotted #0cb0c6;
    margin: 0 5px 10px 5px;
    padding: 10px 8px 15px 8px;
}

.no-rgba .folio_nav form{
     background: #fff;
}

.folio_nav form label{
    margin-right: 10px;
}

.folio_nav form select{
    clear: both;
    display: block;
    margin-top: 10px;
    width: 100%;
}

.img_jogos li{
    margin: 8px 10px;
    position: relative;
    cursor: pointer;
}

.img_jogos li .marcador{
    position: absolute;
    background: url(../images/portfolio/embed/seta_thumb_selecionada.png) no-repeat 0 0;
    width: 47px;
    height: 84px;
    top: -1px;
    left: 1px;
    display: none;
}

.img_jogos li.selecionado .marcador{
    display: block;
}

.img_jogos li.selecionado img{
    border: 1px solid #066a78;
}

.img_jogos li img{
    border: 1px solid #fff;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.3);
}

.subnav_jogos li{
    width: 113px;
    height: 60px;
    cursor: pointer;
}

.subnav_jogos li a{
    color: #1d97a7;
    display: block;
    padding-top: 25px;
    height: 35px;
    font-weight: bold;
    font-size: 12px;
}

.subnav_jogos li.seta_esq{
    float: left;
    text-align: right;
    margin-left: 3px;
    border-right: 3px solid #fff;
    border-left: 1px solid #e4eced;
}

.subnav_jogos li.seta_esq a{
    background: url(../images/portfolio/embed/nav_esquerda_sprite.png) no-repeat 0 0;
    width: 93px;
    padding-right: 20px;
}

.subnav_jogos li a:hover{
    color: #2ebdd0;
}

.subnav_jogos li a:active{
    color: #a0d1d7;
}

.subnav_jogos li.seta_esq a:active{
    background: url(../images/portfolio/embed/nav_esquerda_sprite.png) no-repeat 0 -61px;
}

.subnav_jogos li.seta_dir{
    float: right;
    margin-right: 3px;
    border-left: 3px solid #fff;
    border-right: 1px solid #e4eced;
}

.subnav_jogos li.seta_dir a{
    width: 103px;
    padding-left: 10px;
    background: url(../images/portfolio/embed/nav_direita_sprite.png) no-repeat 0 0;
}

.subnav_jogos li.seta_dir a:active{
    background: url(../images/portfolio/embed/nav_direita_sprite.png) no-repeat 0 -61px;
}

.subnav_jogos li.seta_inativa{
    opacity: 0.7;
}

.subnav_jogos li.seta_inativa a{
    color: #88a4a8;
    cursor: default;
}

.subnav_jogos li.seta_inativa a:active{
    background-position: 0 0;
}

.jcarousel-clip {
    width: 100px;
    overflow: hidden;
}
