/*-----------------------------------------------------------------------------
Nano Studio Website - Serviços Stylesheet

Authors:  Werther Azevedo & Fabricio Fernandes
-----------------------------------------------------------------------------*/


/* =General
-----------------------------------------------------------------------------*/
.box_padrao p {
    margin: 10px 26px 0px 20px;
}

.boxes{
    clear: both;
}


/* =Coluna de Games e Apps
-----------------------------------------------------------------------------*/
.conteudo_principal {
    float: left;
    width: 620px;
}
.conteudo_principal h2 {
    border-bottom: 2px solid #fec412;
    text-indent: 64px;
}

.conteudo_principal .box_padrao{
    width: 281px;
    min-height: 180px;
    margin-left: 18px;
    margin-top: 16px;
}

/* =Area Games
-----------------------------------------------------------------------------*/
.games .titulo_principal {
    padding-left: 12px;
}

.games .ic_titulo {
    top: -7px;
    left: -15px;
}

.advergames {
    background-image: url(../images/servicos/box_colmeia_invertida.png) ;
    background-position: right 38px;
}

.advergames .ic_subtitulo {
    left: 15px;
    top: -10px;
}
.web-e-social-games .ic_subtitulo {
    left: 10px;
    top: -16px;
}
.mobile-games .ic_subtitulo {
    left: 4px;
    top: -12px;
}
.smartphone-e-tablet-games .ic_subtitulo {
    left: 3px;
    top: -16px;
}

/* =Area Apps
-----------------------------------------------------------------------------*/
.apps {
    margin-top: 30px;
}

.apps .ic_titulo {
    top: -15px;
    left: -15px;
}

.boxes_apps p {
    padding: 16px 10px 0px 10px;
    height: 74px;
    width: 254px;
}
.boxes_apps a {
    color: #e5b30d;
    text-decoration: underline;
    float: right;
    margin: 0px 20px 0px 0px;
    font: 12px Arial, sans-serif;
}
.apps-nativos-multi-plataforma .ic_subtitulo {
    left: 8px;
    top: -8px;
}

.apps-web-moveis .ic_subtitulo {
    left: 8px;
    top: -6px;
}

/* =Area Tecnologias
-----------------------------------------------------------------------------*/
.tecnologias {
    float: right;
    border-top: 1px solid #c3d4d8;
    border-bottom: 1px solid #c3d4d8;
    background-color: rgba(14,73,82,0.7);
    width: 299px;
    height: 635px;
    margin-top: 0px;
    min-height: 635px;
    padding-bottom: 15px;
}

.no-rgba .tecnologias {
    background-color:  #4b777e;
}

.tecnologias .titulo_principal {
    padding-left: 20px;
}

.tecnologias .ic_titulo {
    top: -8px;
    left: -5px;
}

.tecnologias .titulo_principal .link_titulo {
    padding-left: 50px;
}

.tecnologias .box_padrao {
    background-color: rgba(10,64,72,0.8);
    margin: 16px 18px 0 18px;
    min-width: 260px;
    height: 270px;
    border-color: #3c5f64;
}

.no-rgba .tecnologias .box_padrao{
    background-color: #154a52;
}

.tecnologias h2 {
    width: 260px;
    font-size: 16px;
    border-bottom: 0;
}

.tecnologias .saiba_mais {
    margin-top: 30px;
}

.nano-volksphone-framework h2, .nano-online h2 {
    text-indent: 10px;
}

.nano-volksphone-framework {
    background-image: url(../images/servicos/box_colmeia.png);
    background-position: bottom left;
}

.nano-online {
    background-image: url(../images/servicos/box_colmeia_invertida.png);
    background-position: bottom right;
}
