/*-----------------------------------------------------------------------------
Nano Studio Website - Serviços Detalhes Stylesheet

Authors:  Werther Azevedo & Fabricio Fernandes
-----------------------------------------------------------------------------*/


/* =General
-----------------------------------------------------------------------------*/
.principal {
    width: 940px;
    border: 2px solid #c5d5d8;
}

.navegacoes{
    height: 130px;
    background-color: #315f65;
    border-bottom: 3px solid #fec412;
    position: relative;
}

/* =Navegação de Serviços
-----------------------------------------------------------------------------*/
.nav_servicos{
    position: absolute;
}

.nav_servicos li{
    margin-right: 5px;
    float: left;
}

.nav_servicos .ic_titulo{
    display: none; /* Inicia a pagina com todos os icones escondidos */
}

ul#Games img.Games, ul#Apps img.Apps, ul#Tecnologias img.Tecnologias{
    display: block;
}

.titulo_principal  .link_titulo {
    padding-left: 60px;
}

.Games {
    top: -9px;
    left: -15px;
}

.Apps {
    top: -15px;
    left: -5px;
}

.Tecnologias {
    top: -10px;
    left: -10px;
}

.titulo_principal .tecnologias_titulo {
    padding-left: 60px;
}


/* =Subnavegação de Serviços
-----------------------------------------------------------------------------*/
.subnav_servicos li{
    float: left;
}

.subnav_servicos a {
    float: left;
    height: 75px;
    font-family: 15px Arial, sans-serif;
    color: #fff;
    padding: 55px 20px 0 20px;
    display: block;
}

.subnav_servicos a:hover,
#advergames li.advergames,
#web-e-social-games li.web-e-social-games,
#mobile-games li.mobile-games,
#smartphone-tablet-games li.smartphone-tablet-games,
#apps-nativos-multi-plataforma li.apps-nativos-multi-plataforma,
#apps-web-moveis li.apps-web-moveis,
#nano-volksphone-framework li.nano-volksphone-framework,
#nano-online  li.nano-online
{
    color: #fff;
    background: #0a4047;
}

.subnav_servicos img {
    float: left;
    max-width: none;
    margin-right: 10px;
}

.subnav_servicos span {
    font: 15px Arial, sans-serif;
    float: left;
    padding-top: 15px;
}

.subnav_servicos .nano-volksphone-framework a, .subnav_servicos .nano-online a {
    padding-left: 20px;
}

/* =Conteúdo Principal
-----------------------------------------------------------------------------*/
.conteudo_principal {
    width: 940px;
    background-color: rgba(255,255,255,0.7);
    background-image: url(../images/servicos/servicos_detalhes/fundo_serv_games.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    clear: both;
}

.no-rgba .conteudo_principal {
    background-color: #f4f9fa;
}

.conteudo_advergames {
    float: left;
    width: 639px;
    border-right: 1px solid #d3d8d8;
    padding: 40px 0 120px 0;
}

.conteudo_advergames h2 strong {
    font-size: 16px;
    font-weight: bold;
    margin-left: 62px;
}

.conteudo_advergames p, .conteudo_advergames h2 {
    color: #013d41;
}

.conteudo_advergames p {
    width: 557px;
    line-height: 160%;
    padding-top: 18px;
    margin-left: 62px;
}

.apresentacao {
    float: right;
    height: 392px;
    width: 300px;
    background-image: url(../images/servicos/servicos_detalhes/bg_apresentacao.png);
    background-repeat: no-repeat;
}

.apresentacao .banner {
    display: none;
}
/* Banner do serviços detalhes */
#advergames .apresentacao #bannerAdvergames,
#web-e-social-games .apresentacao #bannerSocialGames,
#mobile-games .apresentacao #bannerMobileGames,
#smartphone-tablet-games .apresentacao #bannerSmartphone,
#apps-nativos .apresentacao #bannerAppsNativos,
#apps-web-movies .apresentacao #bannerAppsMoveis,
#nano-volksphone-framework .apresentacao #bannerVolks,
#nano-online .apresentacao #bannerNanoOnline {
    display: inline;
    margin: 25px 24px 37px 24px;
    border: 2px solid #2c5a62;
    box-shadow: 5px 7px 5px #888;
}


/* =Exemplos de Serviços
-----------------------------------------------------------------------------*/
.exemplos_servicos {
    height: 145px;
    width: 940px;
    margin: 10px auto 10px auto;
    background-image: url(../images/servicos/servicos_detalhes/colmeia_exemplo_serv.png);
    background-position: center 50px;
}

.exemplos_servicos h2 {
    border-bottom: 3px solid #fec412;
    text-indent: 15px;
  /*  height: 45px;   */
  padding: 15px 0 5px 0;

}

.exemplos_servicos ul {
    margin-left: 30px;
}

.exemplos_servicos li {
    float: left;
    width: 293px;
    margin-top: 20px;
}

.exemplos_servicos img{
    box-shadow: 3px 3px 0 rgba(0,0,0,0.22);
}

.exemplos_servicos img, .exemplos_servicos p {
    float: left;
}

.exemplos_servicos p {
    color: #001f23;
    padding: 5px 0 0 10px;
}

.exemplos_servicos strong {
    font: 19px FloridaProjectPhaseOne, sans-serif;
    color: #ffffff;
    letter-spacing: 0.05em;
}