/*-----------------------------------------------------------------------------
Nano Studio Website - Sobre Stylesheet

Authors:  Werther Azevedo & Fabricio Fernandes
-----------------------------------------------------------------------------*/


/* =General
-----------------------------------------------------------------------------*/

.central {
    position: relative;
}

.sobre, .nano_games, .nano_apps {
    background-color: rgba(255,255,255,0.7);
    width: 698px;
    margin-bottom: 28px;
    border: 1px solid #c3d4d8;
}

.nano_apps {
    margin-bottom: 0px;
}

.no-rgba .sobre, .no-rgba .nano_games, .no-rgba .nano_apps {
    background-color: #f4fafb;
}


/* =Titulação
-----------------------------------------------------------------------------*/

.titulo_principal {
    padding-left: 25px;
}

.titulo_principal .ic_titulo {
    top: -7px;
    left: 3px;
}

.nano_games .ic_titulo {
    left: -12px;
}

/* =Sobre a Nano
---------------------------------------------------------------------------*/

.sobre_a_nano {
    float: left;
}

.descricao {
    margin: 18px 36px 40px 60px;
    font: 12px arial, sans-serif;
    color: #01393d;
}

.descricao p {
    margin-bottom: 5px;
    line-height: 18px;
}


/* =Titulacao
-----------------------------------------------------------------------------*/

.box_cabecalho {
    height: 42px;
}


/* =Equipe
-----------------------------------------------------------------------------*/

.sobre_a_equipe {
    float: right;
    position: relative;
    top: 0px;
    right: 0px;
    width: 238px;
    min-height: 1153px;
    border: 1px solid #bbc5c6;
    background: url(../images/hexagonos/sobre_unico_hexpng.png) no-repeat 0 40px rgba(255,255,255,0.7);
}

.no-rgba .sobre_a_equipe {
    background: url(../images/hexagonos/sobre_unico_hexpng.png) no-repeat 0 40px #f4fafb;
}

.lista_equipe {
    position: relative;
}

.lista_equipe li {
    background: url(../images/hexagonos/perfil_padrao.png) no-repeat center;
    height: 125px;
    width: 108px;
    position: absolute;
    cursor: pointer;
}

.caricatura{
    display: block;
    position: absolute;
}

.lista_equipe li:hover {
    background: url(../images/hexagonos/perfil_selecionado.png) no-repeat center;
}

.lista_equipe .perfil {
    position: absolute;
    border: 4px solid #315f65;
    border-radius: 10px 0 0 10px;
    padding: 5px 20px 5px 20px;
    background: #fff url(../images/comum/degrade_titulo.png) repeat-x bottom;
    visibility: hidden;
    top: 33px;
    left: -164px;
    width: 120px;
}

.lista_equipe li:hover .perfil{
    visibility: visible;
}

.lista_equipe .nome {
    font: 14px FloridaProjectPhaseOne, sans-serif;
    color: #00323b;
}

.lista_equipe .funcao {
    font: bold 11px arial, sans-serif;
    color: #408a97;
    line-height: 12px;
}

.ceo, .diretor_de_arte, .diretor_web, .novos_negocios {
    left: 62px;
}

.ceo {
    top: 39px;
}

.ceo a {
    top: 15px;
    left: 19px;
}

.dever1 {
    top: 138px;
    left: 3px;
}

.dever1 a {
    top: 16px;
    left: 18px;
}

.dever2 {
    top: 138px;
    left: 120px;
}

.dever2 a {
    top: 12px;
    left: 19px;
}

.diretor_de_arte {
    top: 238px;
}

.diretor_de_arte  a {
    top: 25px;
    left: 20px;
}

.designer1 {
    top: 337px;
    left: 3px;
}

.designer1 a {
    top: 23px;
    left: 20px;
}

.designer2 {
    top: 337px;
    left: 120px;
}

.designer2 a {
    top: 10px;
    left: 15px;
}

.diretor_web {
    top: 436px;
}

.diretor_web a {
    top: 16px;
    left: 23px;
}

.dever3 {
    top: 537px;
    left: 3px;
}

.dever3 a {
    top: 8px;
    left: 18px;
}

.dever4 {
    top: 536px;
    left: 120px;
}

.dever4 a {
    top: 14px;
    left: 23px;
}

.novos_negocios {
    top: 636px;
}

.novos_negocios a {
    top: 14px;
    left: 11px;
}
