@charset "UTF-8";
/*-----------------------------------------------------------------------------
Nano Studio - Common QG Stylesheet
Author: Fabricio Fernandes
e-mail: fabricio@nanostudio.com.br
-----------------------------------------------------------------------------*/

/* =General Style
-----------------------------------------------------------------------------*/
.glow {
    color: #fff;
    font-family: JuraDemiBold;
    text-shadow: 0 0 15px #00c3ff;
    -webkit-text-shadow: 0 0 3px #00c3ff;
    -moz-text-shadow: 0 0 3px #00c3ff;
}

.opacity {
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter:alpha(opacity=5);    
}

.grayButtonDisabled {
    background: rgb(101,109,115);
    background: -moz-linear-gradient(top, rgba(101,109,115,1) 0%, rgba(86,94,99,1) 42%, rgba(86,94,99,1) 62%, rgba(79,87,92,1) 81%, rgba(79,86,92,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(101,109,115,1)), color-stop(42%,rgba(86,94,99,1)), color-stop(62%,rgba(86,94,99,1)), color-stop(81%,rgba(79,87,92,1)), color-stop(100%,rgba(79,86,92,1)));
    background: -webkit-linear-gradient(top, rgba(101,109,115,1) 0%,rgba(86,94,99,1) 42%,rgba(86,94,99,1) 62%,rgba(79,87,92,1) 81%,rgba(79,86,92,1) 100%);
    background: -o-linear-gradient(top, rgba(101,109,115,1) 0%,rgba(86,94,99,1) 42%,rgba(86,94,99,1) 62%,rgba(79,87,92,1) 81%,rgba(79,86,92,1) 100%);
    background: -ms-linear-gradient(top, rgba(101,109,115,1) 0%,rgba(86,94,99,1) 42%,rgba(86,94,99,1) 62%,rgba(79,87,92,1) 81%,rgba(79,86,92,1) 100%);
    background: linear-gradient(top, rgba(101,109,115,1) 0%,rgba(86,94,99,1) 42%,rgba(86,94,99,1) 62%,rgba(79,87,92,1) 81%,rgba(79,86,92,1) 100%);
    -moz-box-shadow: 0 0 1px 1px #373d40;
    -webkit-box-shadow: 0 0 1px 1px #373d40;
    box-shadow: 0 0 1px 1px #373d40;
    border: 1px solid #70777c;
    color: #a9b0b4;
}

.blueButton {
    background: rgb(71,92,106);
    background: -moz-linear-gradient(top, rgba(71,92,106,1) 0%, rgba(43,60,72,1) 42%, rgba(43,60,72,1) 62%, rgba(31,46,56,1) 81%, rgba(30,45,55,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(71,92,106,1)), color-stop(42%,rgba(43,60,72,1)), color-stop(62%,rgba(43,60,72,1)), color-stop(81%,rgba(31,46,56,1)), color-stop(100%,rgba(30,45,55,1)));
    background: -webkit-linear-gradient(top, rgba(71,92,106,1) 0%,rgba(43,60,72,1) 42%,rgba(43,60,72,1) 62%,rgba(31,46,56,1) 81%,rgba(30,45,55,1) 100%);
    background: -o-linear-gradient(top, rgba(71,92,106,1) 0%,rgba(43,60,72,1) 42%,rgba(43,60,72,1) 62%,rgba(31,46,56,1) 81%,rgba(30,45,55,1) 100%);
    background: -ms-linear-gradient(top, rgba(71,92,106,1) 0%,rgba(43,60,72,1) 42%,rgba(43,60,72,1) 62%,rgba(31,46,56,1) 81%,rgba(30,45,55,1) 100%);
    background: linear-gradient(top, rgba(71,92,106,1) 0%,rgba(43,60,72,1) 42%,rgba(43,60,72,1) 62%,rgba(31,46,56,1) 81%,rgba(30,45,55,1) 100%);
    border: 1px solid #6d7881;
    -moz-box-shadow: 0 0 1px 1px rgba(26,33,36,0.9);
    -webkit-box-shadow: 0 0 1px 1px rgba(26,33,36,0.9);
    box-shadow: 0 0 1px 1px rgba(26,33,36,0.9);
    color: #d3e0e5;
}

.darkBlueButton {
    background: rgb(62,71,78);
    background: -moz-linear-gradient(top, rgba(62,71,78,1) 0%, rgba(29,37,42,1) 42%, rgba(29,37,42,1) 62%, rgba(14,21,26,1) 81%, rgba(13,20,24,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(62,71,78,1)), color-stop(42%,rgba(29,37,42,1)), color-stop(62%,rgba(29,37,42,1)), color-stop(81%,rgba(14,21,26,1)), color-stop(100%,rgba(13,20,24,1)));
    background: -webkit-linear-gradient(top, rgba(62,71,78,1) 0%,rgba(29,37,42,1) 42%,rgba(29,37,42,1) 62%,rgba(14,21,26,1) 81%,rgba(13,20,24,1) 100%);
    background: -o-linear-gradient(top, rgba(62,71,78,1) 0%,rgba(29,37,42,1) 42%,rgba(29,37,42,1) 62%,rgba(14,21,26,1) 81%,rgba(13,20,24,1) 100%);
    background: -ms-linear-gradient(top, rgba(62,71,78,1) 0%,rgba(29,37,42,1) 42%,rgba(29,37,42,1) 62%,rgba(14,21,26,1) 81%,rgba(13,20,24,1) 100%);
    background: linear-gradient(top, rgba(62,71,78,1) 0%,rgba(29,37,42,1) 42%,rgba(29,37,42,1) 62%,rgba(14,21,26,1) 81%,rgba(13,20,24,1) 100%);
    -moz-box-shadow: 0 0 1px 1px #000;
    -webkit-box-shadow: 0 0 1px 1px #000;
    box-shadow: 0 0 1px 1px #000;
    border: 1px solid #64686d;
}

body { width: 100%;}

.pageWrapper {
/*	width: 1024px;*/
	margin: 0 auto;
	background-color: #000;
}

/* =Header
-----------------------------------------------------------------------------*/
header {
    height: 192px;
    background: url(img/marquise.jpg) center -17px repeat-x,
                url(img/bg_header_left_stoneless.png) left bottom no-repeat,
                url(img/bg_header_right_stoneless.png) right bottom no-repeat,
                url(img/bg_header_center_stoneless.png) left bottom repeat-x #000;
    padding: 0px 91px;
}

header .logo {
    margin: 0 auto;
    width: 428px;
}

.mainNav { 
    text-align: center;
    margin-top: -16px;
}

.mainNav ul {
    margin-top: -2px; 
    padding: 17px 0;
}

.mainNav ul li {
    text-transform: uppercase;
    margin: 0 auto;
    padding: 17px 20px;
    display: inline;
    background: url(img/li_left_border_header2.png) left 5px no-repeat;
}

.mainNav ul li:first-child { 
    background: none;
}
.mainNav ul li a {
    padding: 17px 25px;
    font: 14px JuraDemiBold;
    color: #fff;
    text-shadow: 0 0 15px #00c3ff;
    -webkit-text-shadow: 0 0 3px #00c3ff;
    -moz-text-shadow: 0 0 3px #00c3ff;
}

.subNav {
    margin-top: 12px;
    text-align: center;
}

.subNav ul { 
    padding: 20px 0;
}

.subNav ul li { 
    display: inline;
    margin-left: 30px;
}
.subNav ul li:first-child { margin-left: 0; }

.subNav ul li a {
    text-transform: uppercase;
    padding: 11px 40px;
    font: 13px JuraDemiBold;
    color: #fff;
    text-shadow: 0 0 15px #00c3ff;
    -webkit-text-shadow: 0 0 3px #00c3ff;
    -moz-text-shadow: 0 0 3px #00c3ff;
    background: rgba(92, 113, 128, 0.3);
    border: 1px solid #4C6C8B;
    border-top: 1px solid #AFCFDA;
}

/* =Main Section
-----------------------------------------------------------------------------*/
.mainSection {
	background: url(img/footer_style_left.png)left bottom no-repeat,
                url(img/footer_style_right.png) right bottom no-repeat,
                url(img/footer_style_center.png) left bottom repeat-x,
                url(img/main_bg.png) repeat;
    -moz-box-shadow: inset 0 0 15px 4px rgba(42,58,68,0.7);
    -webkit-box-shadow: inset 0 0 15px 4px rgba(42,58,68,0.7);
    box-shadow: inset 0 0 15px 4px rgba(42,58,68,0.7);
    padding: 18px 0 65px 0;
}

.subject h1 {
    text-indent: 15px;
    text-transform: uppercase;
    font: 14px JuraDemiBold;
} 

.mainContent {
    margin-top: 15px;
    padding-top: 13px;
    border-top: 1px solid #586772;
	overflow: hidden;
}


.mainContent form {
    margin-bottom: 15px;
}

.mainContent form label {
    font: 13px JuraDemiBold;
    padding: 0 15px;
}

/* =Info Training
-----------------------------------------------------------------------------*/
.infoTraining {
    background: -moz-linear-gradient(top, rgba(142,185,216,0.1) 0%, rgba(142,185,216,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(142,185,216,0.1)), color-stop(100%,rgba(142,185,216,0)));
    background: -webkit-linear-gradient(top, rgba(142,185,216,0.1) 0%,rgba(142,185,216,0) 100%);
    background: -o-linear-gradient(top, rgba(142,185,216,0.1) 0%,rgba(142,185,216,0) 100%);
    background: -ms-linear-gradient(top, rgba(142,185,216,0.1) 0%,rgba(142,185,216,0) 100%);
    background: linear-gradient(top, rgba(142,185,216,0.1) 0%,rgba(142,185,216,0) 100%);
    width: 320px;
    height: 176px;
    border: 1px solid rgba(88, 103, 114, 0.7);
    float: left;
    margin: 0 0 10px 10px;
}

.subjectAttributes:nth-child(3n+1) { 
    clear: left;
    margin: 0 0 10px 0; 
}

.fitLeft { padding: 10px 0 0 10px; }

.avatar {
    margin-bottom: 5px;
    display: block;
	border: 1px solid #fff;
}

.fitLeft em {
    vertical-align: 13px;
    display: inline;
    color: #bababa;
    font: 11px PTSansRegular;
}

.fitRight {
    position: relative;
    max-width: 228px;
    padding-top: 9px;
}

.fitRight .closeBox {
    position: absolute;
    top: -4px;
    right: 4px;
    text-align: center;
    display: inline;
    padding: 0 6px;
    color: #ffffff;
    font: 14px PTSansBold, sans;
    border: 1px solid #586772;
    background-color: rgba(68,74,82,0.5);
}

.fitRight h5 {
    color: #9bbac6;
    font: 13px PTSansBold;
}

.toolTip {
    background: -moz-linear-gradient(top, rgba(51,51,51,0.97) 0%, rgba(46,46,46,0.97) 29%, rgba(33,33,33,0.97) 71%, rgba(28,28,28,0.97) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,51,51,0.97)), color-stop(29%,rgba(46,46,46,0.97)), color-stop(71%,rgba(33,33,33,0.97)), color-stop(100%,rgba(28,28,28,0.97)));
    background: -webkit-linear-gradient(top, rgba(51,51,51,0.97) 0%,rgba(46,46,46,0.97) 29%,rgba(33,33,33,0.97) 71%,rgba(28,28,28,0.97) 100%);
    background: -o-linear-gradient(top, rgba(51,51,51,0.97) 0%,rgba(46,46,46,0.97) 29%,rgba(33,33,33,0.97) 71%,rgba(28,28,28,0.97) 100%);
    background: -ms-linear-gradient(top, rgba(51,51,51,0.97) 0%,rgba(46,46,46,0.97) 29%,rgba(33,33,33,0.97) 71%,rgba(28,28,28,0.97) 100%);
    background: linear-gradient(top, rgba(51,51,51,0.97) 0%,rgba(46,46,46,0.97) 29%,rgba(33,33,33,0.97) 71%,rgba(28,28,28,0.97) 100%);    
    -moz-box-shadow: 0 0 12px 2px #000;
    -webkit-box-shadow: 0 0 12px 2px #000;
    box-shadow: 0 0 12px 2px #000;
    position: absolute;
    left: -55px;
    top: 10px;
    width: 190px;
    padding: 10px;
    border: 1px solid #7a7a7a;
}

.fitRight .toolTip .closeBox {
    padding: 0 4px;
    color: #fff;
    font: 11px PTSansBold, sans;
}

.toolTip h6 {
    font: 14px PTSansBold;
    color: #fff;
}

.fitRight .toolTip em {
    color: #fff;
    vertical-align: 13px;
}

.fitRight .toolTip p {
    font: 14px PTSansRegular;
    color: #fff;
    line-height: 16px;
}

.fitRight a {
    font: 14px PTSansBold;
    color: #fff;
    display: table;
    margin: 9px 0;
    line-height: 18px;
}

.fitRight a span {
    padding-right: 22px;
    background: url(img/popup_icon.png) right center no-repeat;
}

.fitRight strong {
    vertical-align: 6px;
    font: 14px PTSansRegular;
    color: #bababa;
    display: inline-block;
}

.fitRight p#conclusion {
    margin: 6px 0;
    font: 12px PTSansRegular;
    color: #fff;
    display: block;
    background: url(img/relogio.png) left center no-repeat;
    padding-left: 20px;
}

.finishedTraining {
    border: 1px solid #7daad7; 
    background: -moz-linear-gradient(top, rgba(74,112,138,0.39) 0%, rgba(72,107,132,0.38) 7%, rgba(63,98,122,0.37) 14%, rgba(62,93,117,0.37) 19%, rgba(58,86,109,0.37) 22%, rgba(56,84,107,0.37) 25%, rgba(47,75,94,0.36) 32%, rgba(46,73,92,0.36) 34%, rgba(40,63,82,0.36) 43%, rgba(40,62,81,0.36) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(74,112,138,0.39)), color-stop(7%,rgba(72,107,132,0.38)), color-stop(14%,rgba(63,98,122,0.37)), color-stop(19%,rgba(62,93,117,0.37)), color-stop(22%,rgba(58,86,109,0.37)), color-stop(25%,rgba(56,84,107,0.37)), color-stop(32%,rgba(47,75,94,0.36)), color-stop(34%,rgba(46,73,92,0.36)), color-stop(43%,rgba(40,63,82,0.36)), color-stop(100%,rgba(40,62,81,0.36)));
    background: -webkit-linear-gradient(top, rgba(74,112,138,0.39) 0%,rgba(72,107,132,0.38) 7%,rgba(63,98,122,0.37) 14%,rgba(62,93,117,0.37) 19%,rgba(58,86,109,0.37) 22%,rgba(56,84,107,0.37) 25%,rgba(47,75,94,0.36) 32%,rgba(46,73,92,0.36) 34%,rgba(40,63,82,0.36) 43%,rgba(40,62,81,0.36) 100%);
    background: -o-linear-gradient(top, rgba(74,112,138,0.39) 0%,rgba(72,107,132,0.38) 7%,rgba(63,98,122,0.37) 14%,rgba(62,93,117,0.37) 19%,rgba(58,86,109,0.37) 22%,rgba(56,84,107,0.37) 25%,rgba(47,75,94,0.36) 32%,rgba(46,73,92,0.36) 34%,rgba(40,63,82,0.36) 43%,rgba(40,62,81,0.36) 100%);
    background: -ms-linear-gradient(top, rgba(74,112,138,0.39) 0%,rgba(72,107,132,0.38) 7%,rgba(63,98,122,0.37) 14%,rgba(62,93,117,0.37) 19%,rgba(58,86,109,0.37) 22%,rgba(56,84,107,0.37) 25%,rgba(47,75,94,0.36) 32%,rgba(46,73,92,0.36) 34%,rgba(40,63,82,0.36) 43%,rgba(40,62,81,0.36) 100%);
    background: linear-gradient(top, rgba(74,112,138,0.39) 0%,rgba(72,107,132,0.38) 7%,rgba(63,98,122,0.37) 14%,rgba(62,93,117,0.37) 19%,rgba(58,86,109,0.37) 22%,rgba(56,84,107,0.37) 25%,rgba(47,75,94,0.36) 32%,rgba(46,73,92,0.36) 34%,rgba(40,63,82,0.36) 43%,rgba(40,62,81,0.36) 100%);
    -moz-box-shadow: 0 0 6px 0px rgba(156,174,203,0.9);
    -webkit-box-shadow: 0 0 6px 0px rgba(156,174,203,0.9);
    box-shadow: 0 0 6px 0px rgba(156,174,203,0.9);
}

#abilityName {
    color: white;
    display: block;
    text-transform: capitalize;
}

.finishedTraining .fitRight p,
.canceledTraining .fitRight p {
    width: 225px;
    margin: 20px 0 24px 0;
    font: 14px PTSansBold, sans;
    text-transform: uppercase;
    color: #fff;
}

.canceledTraining .fitRight p { 
    color: #c13e3f;
    text-shadow: 0 2px 0 #000;
    -webkit-text-shadow: 0 2px 0 #000;
    -moz-text-shadow: 0 2px 0 #000;
}

.canceledTraining {
    border: 1px solid rgba(88,103,114,0.2);
    background: url(img/bg-canceled-training.png) repeat-x;
}

.canceledTraining img {
    opacity: 0.2;
    -moz-opacity: 0.2;
    filter:alpha(opacity=2);
}

.canceledTraining .fitLeft em { color: #43474b; }

.canceledTraining .fitRight h5 { color: #464a4c; }

.fitRight button {
    padding: 4px 15px;
    font: 14px PTSansRegular;
}

.fitRight button#gr {
    border: 1px solid #6c7269;
    padding-left: 37px;
    margin-left: 7px;
    background: url(img/cadeado.png) 9px center no-repeat, rgb(80,87,82);
    background: url(img/cadeado.png) 9px center no-repeat, 
                -moz-linear-gradient(top, rgba(80,87,82,1) 0%, rgba(80,87,82,1) 8%, rgba(74,80,76,1) 23%, rgba(44,51,47,1) 73%, rgba(42,49,44,1) 81%, rgba(42,49,44,1) 100%);
    background: url(img/cadeado.png) 9px center no-repeat, 
                -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(80,87,82,1)), color-stop(8%,rgba(80,87,82,1)), color-stop(23%,rgba(74,80,76,1)), color-stop(73%,rgba(44,51,47,1)), color-stop(81%,rgba(42,49,44,1)), color-stop(100%,rgba(42,49,44,1)));
    background: url(img/cadeado.png) 9px center no-repeat, 
                -webkit-linear-gradient(top, rgba(80,87,82,1) 0%,rgba(80,87,82,1) 8%,rgba(74,80,76,1) 23%,rgba(44,51,47,1) 73%,rgba(42,49,44,1) 81%,rgba(42,49,44,1) 100%);
    background: url(img/cadeado.png) 9px center no-repeat, 
                -o-linear-gradient(top, rgba(80,87,82,1) 0%,rgba(80,87,82,1) 8%,rgba(74,80,76,1) 23%,rgba(44,51,47,1) 73%,rgba(42,49,44,1) 81%,rgba(42,49,44,1) 100%);
    background: url(img/cadeado.png) 9px center no-repeat, 
                -ms-linear-gradient(top, rgba(80,87,82,1) 0%,rgba(80,87,82,1) 8%,rgba(74,80,76,1) 23%,rgba(44,51,47,1) 73%,rgba(42,49,44,1) 81%,rgba(42,49,44,1) 100%);
    background: url(img/cadeado.png) 9px center no-repeat, 
                linear-gradient(top, rgba(80,87,82,1) 0%,rgba(80,87,82,1) 8%,rgba(74,80,76,1) 23%,rgba(44,51,47,1) 73%,rgba(42,49,44,1) 81%,rgba(42,49,44,1) 100%);
    -moz-box-shadow: 0 0 1px 1px #070f13;
    -webkit-box-shadow: 0 0 1px 1px #070f13;
    box-shadow: 0 0 1px 1px #070f13;
}

.finishedTraining .fitRight button,
.canceledTraining .fitRight button {
    margin-right: 23px;
}
