<%= javascript_include_tag 'futura/admin/notification'%>
<ul>
  <li>
    <%= notification_form.label :title, I18n.t( :title ) %>
    <%= notification_form.text_field :title %>
  </li>
  <li>
    <%= notification_form.label :body, "Corpo da notificação" %>
    <%= notification_form.text_area :body, :onkeyup => 'maxLength();' %>
    <div><span class="char_count"><%=text_length%></span></div>
  </li>
  <%= notification_form.label :active, "Ativo?" %>
  <%= notification_form.select :active, [["Sim", "true"], ["Não", "false"]],:selected => @notification.active.to_s %>
  <li>
    <%= notification_form.submit I18n.t( :save ), :class=>"Botao"%>
    <%= link_to "Cancelar", {:action => 'index', :active => @notification.active.to_s}, :class=>"Botao" %>
  </li>
</ul>
