<%=render :partial=>'shared/messages'%>

<table class="GridView">
  <tr class="gridHeader">
  <th class="nomeTema">Notificação</th>
  <th><%= I18n.t( :edit )%></th>
  <th><%= I18n.t( :delete )%></th>
  </tr>
	
  <% for notification in @notifications %>
    <tr>
      <td><%= notification.title %></td>
      <td class="linkColumn">
      <%= link_to image_tag('/images/admin/page_white_edit.png'), 
                            edit_admin_notification_path( notification ), 
                            :id => "edit_notification_#{notification.id}"%>
      </td>
      <td class="linkColumn">
        <%= link_to image_tag('/images/admin/delete.png'), 
                              admin_notification_path( notification ), 
		                :confirm=>I18n.t( :deletion, :object => notification.title ), 
		                :method=>"delete", 
		                :id => "delete_notification_#{notification.id}"%>
      </td>				
    </tr>
  <%end%>
</table>
<%= will_paginate @notifications%>
