<%=render :partial=>'shared/messages'%>

<% form_for @notification, :url=>admin_notifications_path, :html=>{:method=>:post} do |notification_form| %>
  <%= render :partial=>'form', :locals => { :notification_form => notification_form } %>
<%end%>

