<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% unless @contact_errors.empty? %>
  <div class="errors" id="errors">
  <p>Corrija os erros abaixo e envie novamente:
  <% @contact_errors.each do |error| %>
    <li><%= h error %></li>
  <% end %></p>
  </div>
<% end %>

<% form_tag(:host => "localhost:3000", :controller => "static", :action => "web_contact") do %>
<div class="linha" style="height: 35px;">
	<div class="coluna" style="width:100px;">
    	<div align="right"> <label for= :name >Nome:</label> </div>
    </div>
    <div class="coluna" style="width:400px;"> 
		<div align="left"> 
		   <%= text_field_tag :name, params[ :name ], :size => 40 %>
		</div>
    </div>
</div>

<div class="linha" style="height: 35px;">
	  <div class="coluna" style="width:100px;">
           <div align="right"> <label for= :email>E-mail: </label> </div> 
      </div>
      <div class="coluna" style="width:400px;"> 
		   <div align="left"> 
				<%= text_field_tag :email, params[ :email ], :size => 30 %> 
		   </div>
      </div>
</div>

<div class="linha" style="height: 35px;">
	  <div class="coluna" style="width:100px;">
           <div align="right"> <label for= :phone>Telefone: </label> </div> 
      </div>
      <div class="coluna" style="width:400px;"> 
		   <div align="left"> 
		   		<%= text_field_tag :ddd, params[ :ddd ], :size => 2 %>
		   		<%= text_field_tag :phone, params[ :phone ], :size => 16 %>
		   </div>
      </div>
</div>  
      
<div class="linha">
	  <div class="coluna" style="width:100px;">
            <div align="right"> <label for= :comments>Comentários: </label> </div>
      </div>
      <div class="coluna" style="width:400px;"> 
		   <div align="left">
				<%= text_area_tag :comments, params[ :comments ], :size => "40x6" %>
		   </div>
      </div>
</div>

<div class="linha">
	<div class="coluna" style="width:100px;">
          <%= ""%>
    </div>
    <div class="coluna" style="width:400px;"> 
    <div align="left"><br>
		<%= submit_tag 'Enviar' %>
    </div>
</div>
<% end -%>

