<div id="product-list">

  <h1>Partners</h1>

  <table cellpadding="5" cellspacing="0" >
	<tr>
	  <th>Id</th>
	  <th>Name</th>
	  <th>Users</th>
	  <th>Apps</th>
	</tr>

  <% for partner in @partners%>
	<tr valign="top" class="<%=cycle('list-line-odd', 'list-line-even' ) %>" >

	  <td class="list-title" ><%=h partner.id %></td>
	  <td class="list-title" ><%=h partner.name %></td>
      <td class="list-title" ><%=h @partner_users[ partner ].empty? ? 'none' : @partner_users[ partner ] %></td>
	  <td class="list-title" ><%=h partner.apps.empty? ? 'none' : partner.apps.collect { |a| a.name }.join( ', ' ) %></td>

	  <td class="list-actions" ><%= link_to 'Edit', edit_partner_path(partner) %></td>
	  <td class="list-actions" ><%#= link_to 'Destroy', partner, :confirm => "Remove partner #{partner.name}?", :method => :delete %></td>
	</tr>
  <% end %>
  </table>

  <br />

</div>

<%= paginate @partners %>

<%= link_to 'Add partner', new_partner_path %>
