<%= stylesheet_link_tag 'FrontEnd/comum', 'FrontEnd/popup' %>

<div class="popup pop_login">
  <div class="conteudo_pop">
    <%#= form_for resource_name, resource, :url => session_path(resource_name) do |f| -%>
    <%= form_for resource, :as => resource_name, :url => session_path(resource_name) do |f| -%>
      <%= flash[:error] if flash[:error] %>
      <%= session[:login_error_message] %>
      <% session[:login_error_message] = nil %>

      <%= f.label :email, I18n.t(:email_or_nickname) %>
      <%= f.text_field :email %>
      <%= f.label :password, I18n.t(:password) %>
      <%= f.password_field :password %>

      <% if resource_name == :user %>
        <a href="#" class="msg_senha" onclick="forgetPassword();">Esqueci minha senha</a>

        <p class="msg"> <%= I18n.t(:login_message) %> <a href="/pages/termos_de_uso"><%= I18n.t(:use_terms) %></a>.</p>
      <% end %>

      <div class="botoes">
        <a href="/" class="bt_cancelar texthide">
          <span>Cancelar</span>
        </a>
        <%= f.submit "", :class=>"bt_conectar" %>
      </div>

      <% if resource_name == :user %>
        <div class="link_cadastro">
          <strong>N&atilde;o &eacute; cadastrado?</strong>
          <a href="/users/sign_up" id="sign_up"><img src="/images/popup/bt_cadastrese.png"></a>
        </div>
      <% end %>
    <% end -%>
  </div>
</div>
