<h1><%= h "Editing news feed category #{ @news_feed_category.title }" %></h1>

<% form_for(@news_feed_category) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', news_feed_categories_path %>
