<div id="product-list">

  <table cellpadding="5" cellspacing="0" >
	<tr>
	  <th><%= "Id".t %></th>
	  <th><%= "Title".t %></th>
	  <th><%= "Description".t %></th>
	</tr>

  <% for news_feed_category in @news_feed_categories%>
	<tr valign="top" class="<%=cycle('list-line-odd', 'list-line-even' ) %>" >
	
	  <td class="list-title" ><%=h news_feed_category.id %></td>
	  <td class="list-title" ><%=h news_feed_category.title %></td>
	  <td class="list-title" ><%=h news_feed_category.description %></td>
	  
	  <td class="list-actions" ><%= link_to 'Show'.t, :action => :show, :id => news_feed_category.id %></td>
	  <td class="list-actions" ><%= link_to 'Destroy'.t, news_feed_category, :confirm => "Remove news feed category #{news_feed_category.title}?", :method => :delete %></td>
	</tr>
  <% end %>
  </table>

  <br />

</div>

<%= paginating_links( @news_feed_categories ) %><br/><br/>

<%= link_to 'Add news feed category', new_news_feed_category_path %>
