<% content_for :head do %>
  <%= stylesheet_link_tag "FrontEnd/conteudo_em_blocos" %>
<% end %>

<% render_sidebar %>

<% cache "lista_noticias", 5.seconds.from_now do %>
  <div class="conteudo_principal conteudo_blocos">
    <h1>Notícias</h1>

    <ul class="lista_blocos">
      <% @news.each do |news| %>
        <li>
          <div class="bloco noticia">
            <h3><%= news.title %></h3>
            <span class="data"><%= news.created_at.strftime("%d/%m/%Y - %H:%M") %></span>
            <p>
              <%= auto_link news.body.gsub( "\n", "<br/>" ).gsub( "\t", "&nbsp;&nbsp;&nbsp;&nbsp;" ) %>
            </p>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
