<h1><%= h "Celular não suportado."%></h1>

<p>Seu celular ainda não é suportado<%=  @app ? " pelo jogo #{@app.name}." : "..." %></p>

<p><%= "Estamos sempre trabalhando para suportar mais aparelhos. Volte em breve para conferir as novidades!" %></p>

<%= link_to 'Página principal', :controller => :downloads %>

