<h1>Celular não suportado.</h1>

<p>Nossos jogos ainda não suportam o seu aparelho...</p>

<p><%= "Se o seu celular não for o #{ session[ :device_chosen ].vendor.name } #{ session[ :device_chosen ].model }, por favor escolha o aparelho correto." %></p>

<p>Estamos sempre trabalhando para suportar mais aparelhos.<br/>Volte em breve para conferir as novidades!</p>

<%= link_to 'Escolher outro aparelho', :action => :vendor_select %>
