<p align="center" class="titulo"> APARELHO NÃO SUPORTADO </p>
<p align="center" class="texto">Seu aparelho ainda não é suportado pelo jogo Seda Puzzle. <br/>
Estamos sempre trabalhando para suportar mais aparelhos. Volte em breve para conferir as novidades!</p>

