<h1><%= "Choose your phone's model".t %>:</h1><br/>

<% form_tag :action => :device_selected, :style => "margin-top:20px" do -%>

	<%= collection_select( 	:model, 
							:chosen, 
							@models, 
							:last, 
							:first )%>
							
	<%= submit_tag :ok, :class => "buttons", 
						:style => "margin-top:-12px; _margin-top:-5px;", 
						:type  => "image", 
						:src   => "/images/ok.gif", 
						:align => "middle" -%>

<% end -%>