<h1><%= h "Jogos e aplicativos disponíveis para o seu #{ session[ :device_chosen ].vendor.name } #{ session[ :device_chosen ].model }:"%></h1>
<br/>

<% form_tag :action => :download_jad, :style => "margin-top:20px" do %>

  <%= collection_select(:download, 
												:chosen, 
												@supported_versions, 
												:id, 
												:app_version_number, 
												:prompt => 'Jogos' ) %>
						
  <%= submit_tag 	:download, 
									:class => "buttons", 
									:style => "margin-top:-12px; _margin-top:-5px;", 
									:type => "image", 
									:src => "/images/ok.gif", 
									:align => "middle" %> <br/>
									
  <% unless @vendor.name == "Blackberry" %>
    <%= label_tag 'Download zip file for manual install'.t %>
    <%= check_box_tag  'zipped', 'yes' %>
  <% end %>
					
<% end %>
<br/>

<%= link_to 'Escolher outro modelo de celular', :action => :vendor_select %>
