<h1 class="titulo"><%= h "Erro interno do servidor."%></h1>

<p class="texto">Ops, isso não era pra ter acontecido.</p><p>Nosso suporte já foi avisado e irá trabalhar pra resolver o mais rápido possível!</p>
