<p>
  <b>Id:</b>
  <%=h @download.id %>
</p>

<p>
  <b>User-agent:</b>
  <%=h @download.nickname %>
</p>

<p>
  <b>Número de telefone:</b>
  <% if ( @download.phone_number ) %>
    <%=h @download.phone_number %>
  <% end %>
</p>

<p>
  <b>Hora:</b>
  <%=h @download.created_at %>
</p>

<p>
  <b>Id Nano do cliente:</b>
  <% if ( @download.customer_id ) %>
    <%=h @download.customer_id %>
  <% else %>
    <%=h '-1' %>
  <% end %>
</p>

<p>
  <b>Aplicativo:</b>
  <%=h @app_version.app_version_number %>
</p>

<p>
  <b>Modelo do aparelho:</b>
  <% if ( @download.device ) %>
	<%=h @download.device.model_full %>
  <% else %>
	<%=h "não detectado" %>
  <% end %>
</p>

<p>
  <b>Endereão IP:</b>
  <% if ( @download.ip_adress ) %>
	<%=h @download.ip_address.gsub( ', ', ' -> ' ) %>
  <% else %>
	<%=h "não detectado" %>
  <% end %>
</p>

<%= link_to 'Back', downloads_path %>
