<h1><%= "Choose you phone's vendor".t + ":" %></h1>
<br/>
<% form_tag :id => 'vendors', :action => :select_model, :style => "margin-top:20px" do %>
   <%=
    collection_select( :vendor, :chosen, @vendors, :id, :name, :prompt => "Vendor".t ) # TODO pré-selecionar fabricante detectado
  %>

  <%= submit_tag :ok, :class => "buttons", :style => "margin-top:-12px; _margin-top:-5px;", :type => "image", :src => "/images/ok.gif", :align => "middle" %>
<% end %>
