<html><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <%= stylesheet_link_tag 'nano', :media => 'all' %>
  </head><body>

    <table width="550px" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#005C67" style="margin-top:30px">
      <tr>
        <td height="13px" background="/images/tl.png"></td>
        <td height="13px" background="/images/t.png"></td>
        <td height="13px" background="/images/tr.png"></td>
      </tr>
      <tr>
        <td  height="13px" background="/images/l.png"></td>
        <td>
          <div class="logo"></div><br/>
          <div class="depot-form" align="center">
            <legend><%= "Please log in".t %></legend>

            <% form_tag do %>
              <p>
                <label for= :name ><%= "Name".t + ": "%></label>
                <%= text_field_tag :name, params[ :name ] %>
              </p>

              <p>
                <label for= :password><%= "Password".t + ": " %></label>
                <%= password_field_tag :password, params[ :password ] %>
              </p>

              <p>
                <%= submit_tag 'Login'.t %>
              </p>

			  <p>
				  <%= link_to "Forgot my password/login".t, :controller => "users", :action => "recover_password" %>
			  </p>
            <% end %>
          </div>
        </td>
        <td height="13px" background="/images/r.png"></td>
      </tr>
      <tr>
        <td  width="13px"  background="/images/bl.png"></td>
        <td height="13px" background="/images/b.png"></td>
        <td  width="13px" background="/images/br.png"></td>

      </tr>
    </table>
    
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>


  </body>
</html>
