<div class="secondary_info artist_profile">
  <h3><span><%= question.artist_name %></span></h3>

  <table class="artist_image"><tr><td valign="middle"><img src=<%= question.artist_photo %> /></td></tr></table>

  <p class="btn_bright btn_discography">
    <span>
      <a href="<%= question.artist_url %>" target="_blank">
        Artist Info
      </a>
    </span>
  </p>

  <% if question.youtube != "" %>
    <p class="btn_bright btn_biography">
      <span>
        <a href="http://www.youtube.com/watch?v=<%= question.youtube %>" target="_blank">
          View Video
        </a>
      </span>
    </p>
  <% elsif question.album_url == "" %>
    <p class="btn_bright btn_biography">
      <span>
        <a href="<%= question.artist_url %>" target="_blank">
          View Biography
        </a>
      </span>
    </p>
  <% else %>
    <p class="btn_bright btn_biography">
      <span>
        <a href="<%= question.album_url %>" target="_blank">
          View Album
        </a>
      </span>
    </p>
  <% end %>

  <!--<div class="amazon_link">-->
    <!--<a href="#">-->
      <!--<img src="http://ecx.images-amazon.com/images/I/51VS6ngjoyL._AA115_.jpg">-->
      <!--<span>Buy Album at amazon.com</span>-->
    <!--</a>-->
  <!--</div>-->

  <% unless question.album_cover.blank? %>
      <div class="amazon_link">
        <a href="<%= "http://www.amazon.com/dp/#{question.album_asin}?tag=imuzdb-20"%>" target="_blank">
          <img src="<%= question.album_cover %>" width="200" alt="">
          <span>Buy Album at amazon.com</span>
        </a>
      </div>
  <% end %>
</div>

<script>
    window.onload = function(){
        var image = $('.artist_image img');
        if (image.width() > 160){
            image.css('width','160px');
        }
        image.show();
    };
</script>
