<% content_for :head do %>
  <%= javascript_include_tag "imuz_db/gx", "imuz_db/game" %>
  <%= stylesheet_link_tag "imuz_db/game" %>
<% end %>

<% content_for :sound_controller do %>
    <script type="text/javascript">
        SoundController.bind('menu', '/audio/SFX/interacao_menu.mp3', '.answer_li', 'click');
    </script>
<% end %>

<div class="modal_dialog" id='timeout_modal' style='display: none;'>
  <div class="window">
    <h4>
      Time's Up
      <a href="/imuz_db/game_sessions/respond?game_id=<%= game.id %>" class="close_link" title="Close Window"></a>
    </h4>
    <div class="window_body window_timeUp">
      <img src="/images/imuz_db/hourglass.png" width="52" height="73" class="img_timeUp">
      <p>Your time to answer the current question is over. You missed this one, but let’s try another one!</p>
      <div class="button bt_next"><a href="/imuz_db/game_sessions/missed_question?game_id=<%= game.id %>"><span>Next</span></a></div>
    </div>
  </div>
</div>

<div class="question">
  <h1><%= game.current_question.text %></h1>
  <% form_tag '/imuz_db/game_sessions/respond', :name => 'question_form' do %>
    <ul class="answers">
      <% game.current_question.answers.each_with_index do |answer, index| %>
        <%= hidden_field_tag :answer_id, answer.id, :id => "answer_#{index}" %>
        <li onclick="setAnswer(<%= index %>)" class="answer_li"><a class="op_<%= index %>"><%= answer.text %></a></li>
      <% end %>
    </ul>

    <%= hidden_field_tag :game_id, game.id %>
    <%= hidden_field_tag :choosed %>

    <div class="buttons">
      <%= skip_button(game) %>
      <div class="button button_disabled" id="bt_submit"><%= link_to '<span>Answer</span>', "#", :id => 'respond', :onclick => "submitQuestion()"%>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $time = 0;
  $question_choosed = false;
  document.getElementById('respond').href = null;
  var delay = 3;

  var interval = window.setInterval(function() {
      updateTimer();
  }, 500);

  var timeout = new Date().getTime() + ((<%= ImuzDb::GameSession::TIMEOUT %> + delay) * 1000);

  if(<%= @game.skips_left? %> == false){
    document.getElementById('skip_question_button').href = null;
    document.getElementById('skip_question_button').onclick = null;
  }

  window.setTimeout(function() {
      updateTimer();
      clearInterval(interval);
      showModal();
  }, ((<%= ImuzDb::GameSession::TIMEOUT %> + delay) * 1000));
  
  function updateTimer() {
      $time = Math.ceil( Math.max(0, timeout - new Date().getTime()) / 1000 );
      document.getElementById('timer').innerHTML = Math.max(parseInt($time) - delay, 0);
  }

  function disableRespond() {
    button = document.getElementById('respond');
    button.disabled = true;
    button.href = '#';
  }

  function enableRespond() {
    document.getElementById('respond').href = "#";
    document.getElementById('bt_submit').className = "button bt_answer";
  }

  function setAnswer(index) {
    document.getElementById('choosed').value = document.getElementById("answer_" + index).value;
    $question_choosed = true;
    enableRespond();
  }

  function submitQuestion() {
    if($question_choosed) {
      document['question_form'].submit();
      clearInterval(interval);
      disableRespond();
    }
  }

  function showModal() {
    document.getElementById('timeout_modal').style.display = 'block';
    disablePlayQuit();
  }

  function disablePlayQuit() {
    $('.power_switch').unbind('click');
  }

</script>
