<div class="header">
    <a class="small_button" onclick="redirectTo('/imuz_db/game_sessions/home')"><span>Home</span></a>
    <a class="small_button" id='options_bt'><span>Opções</span></a>

    <a id="bt_skip" class="bt_next bt_skip"><span id="skip_count" class="skipcount sc_<%= @game.skips_left %>"></span>Skip</a>
</div>

<div class="question">
    <span id="question_correct_option" style="display: none"><%= @game.current_question.correct_answer.id%></span>
    <div id="knob" class="knob_sprite"></div>
    <span id="timer" class="timer">60</span>
    <h2 id="question_title"><%=@game.current_question.text%></h2>
    <ul>
        <% @game.current_question.answers.each_with_index do |option, index| %>
          <li><a id="option_<%= index %>" rel="<%= option.id%>"><%= option.text %></a></li>
        <% end -%>
    </ul>
</div>

<div class="hud">
    <dl>
      <dt class="score">Score</dt>
      <dd id='user_score' class="score"><%= @game.hits %></dd>
      <dt class="question">Question</dt>
      <dd class="question"><span id='current_question'><%= @game.hits + @game.misses + 1%></span>/<%= @game.max_questions %></dd>
    </dl>
</div>
