<div class="header">
  <a href="#" class="bt_next next_question">Next</a>
</div>
 
<div class="answer">
  <div class="content">
    <h3 id="your_answer_<%= state %>"><span>Your answer is</span></h3>
    <h2 id="state_<%= state %>"><span>WRONG</span></h2>

    <div class="artist">
        <div class="image" id="artist_photo_<%= state %>"><img id="artist_thumb_<%= state %>" src=""></div>
    </div>

    <p class="artist_name">
      The correct answer was: <br />
      <span id='correct_answer'>@game.current_question.correct_answer.text</span>
    </p>

    <ul class="link_bar">
        <li class="video_link"><a id="video_link_<%= state %>" href="<%= @game.current_question.artist_url %>">Watch Video</a></li>
        <li class="bio_link"><a id="biography_link_<%= state %>" href="#">Biography</a></li>
    </ul>

  </div>
</div>    
<div id="background_<%= state %>" class="background"><img src="/imuz_db/mobile/images/spiralwrong.png" width="434" height="426"></div>
