<% content_for :head do %>
  <%= stylesheet_link_tag "imuz_db/home" %>
<% end %>

<div class="choose_nickname">
  <% form_tag '/imuz_db/game_sessions/set_nickname', :id => "nickname_form" do %>
      <h2>Please choose a <strong>nickname</strong></h2>
      <p>Hi, this is your first time playing the imuzDB quiz. Please choose a nickname</p>

      <%= text_field_tag :nickname, "", :maxlength => 20 %>
      <input type="image" src="/images/imuz_db/btn_playNow.png" class="btn_playNow">
  <% end -%>

  <p class="form_error" style="display: none;"><span class="nick_error">This Nickname is already taken. Please try another one</span></p>
</div>

<%= render :partial => 'latest_news', :locals => {:game => @game} %>

<script>
    $(document).ready(function(){
        $("#nickname_form").submit(function() {
            $.post($(this).attr("action"), $(this).serialize(), null, "script");
            return false;
        });
    });
</script>