<% content_for :head do %>
  <%= javascript_include_tag "imuz_db/answers" %>
  <%= stylesheet_link_tag "imuz_db/game" %>
<% end %>

<% content_for :sound_controller do %>
    <script type="text/javascript">
        SoundController.onLoadSound('/audio/music/correct_answer.mp3');
    </script>
<% end %>

<div class="question_feedback correct_answer">
  <div class="small_title">
    <%= render :partial => "/imuz_db/title_content", :locals => { :game => @game } %>
  </div>

  <h1>
    <span class="your_answer"><strong>Your answer is</strong></span>
    <span class="correct"><strong>CORRECT!</strong></span>
  </h1>

  <div class="button bt_next"><a href="/imuz_db/game_sessions/next_question?game_id=<%= @game.id %>"><span>Next</span></a></div>
</div>

<%= render :partial => 'context_column', :locals => {:question => @game.ended? ? @game.current_question : @game.last_question} %>
