<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">

<html>

<head>
	<title>iMuzDB Quiz</title>
	<link rel="stylesheet" href="/stylesheets/imuz_db/main.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold'">

	<script language="JavaScript" src="/javascripts/imuz_db/jquery_min.js" type="text/javascript"></script>
	<script language="JavaScript" src="/javascripts/imuz_db/spritely.js" type="text/javascript"></script>
	<script language="JavaScript" src="/javascripts/imuz_db/control_panel.js" type="text/javascript"></script>
</head>

<body>
	<div class="game_wrapper">
		<div class="game_canvas">
			<div class="header">
				<span class="header_left"></span>
				<img src="/images/imuz_db/logo.png" class="logo">
				<span class="header_right"></span>
			</div>

            <div class="amp_pattern"></div>
            <iframe src="home?signed_request=<%= params[:signed_request] %>" class="game_frame" scrolling="no" allowtransparency="true" frameborder="0"></iframe>
		</div>
	</div>
</body>

</html>