<% content_for :head do %>
  <%= stylesheet_link_tag "imuz_db/jquery.jscrollpane", "imuz_db/friend_invite" %>
  <%= javascript_include_tag "imuz_db/jquery.jscrollpane.min", "imuz_db/jquery.mousewheel" %>
<% end %>

<script>
  $(document).ready(function(){
    $("#invitation_form").submit(function() {
      $.post($(this).attr("action"), $(this).serialize(), null, "script");
      $("#invitation_sent").show();
      return false;
    });

    function hidePopup() {
      $("#invitation_sent").hide();
      return false;
    }

    $('.bt_share').click(hidePopup);
    $('.close_link').click(hidePopup);

    $('.unselected').live('click', function() {
      selectLi(this);
    });

    $('.selected').live('click', function() {
      unselectLi(this);
    });

    $('#search').keyup(function(event) {
      var string = event.target.value;
      $('.unselected').each(function() {
        regexp = new RegExp(string, "i");
        if(!(($(this).find('label').text()).match(regexp))) {
          $(this).css("display", "none");
        } else {
          $(this).css("display", "block");
        }
      });
    });

    $('.bt_share').click(function() {
      $('.selected_friends').find('li').each(function() {
        unselectLi(this);
      });
      $('#search').val('');
        $('.friend_selector').find('li').each(function(){
          $(this).css("display", "block");
        });
    });
  });

  function selectLi(element){
    $(element).attr("class", "selected");
    $(element).find('input').attr("checked", "checked");
    $('.selected_friends').children().first().append($(element));
  }

  function unselectLi(element){
    $(element).attr("class", "unselected");
    $(element).find('input').attr("checked", "");
    $('.friend_selector').children().first().append($(element));
  }
</script>

<div class="static_content">
  <div class="title_bar">
    <div class="content">
      <a href="home?p=<%= self.id %>" class="link_home">Home</a>
      <h1>Invite Friends</h1>
    </div>
  </div>

  <div class="friend_invite">
    <h2>Invite your friends to take the iMuzDB Musical Quiz and compete for the highest ranking position!</h2>
    <div class="invite_component">
      <% form_tag "/imuz_db/game_sessions/invite_friends.js", {:id => "invitation_form"} do %>
          <div class="interaction_area">
            <input type="text" id="search">
            <div class="friend_box friend_selector">
              <ul>
                <% @friends.each do |friend| %>
                    <li class="unselected">
                      <%= check_box_tag "friends_to_invite[]", friend[:uid] %>
                      <%= label_tag friend[:name], friend[:name] %>
                    </li>
                <% end %>
              </ul>
            </div>
            <div class="friend_box selected_friends">
              <ul>
              </ul>
            </div>
          </div>
          <button type="submit" class="submit_invitation">Send iMuzDB Quiz invitations</button>
      <%- end %>
    </div>
  </div>

  <div class="modal_dialog" id="invitation_sent" style="display: none;">
    <div class="window">
      <h4>
        Your invitations have been sent successfully
        <a href="#" class="close_link" title="Close Window"></a>
      </h4>
      <div class="window_body">
        <p>Your invitations have been sent successfully. Soon your friends will be able to challenge you for the highest ranking position.</p>
        <div class="buttons">
          <div class="button bt_share"><a href="#"><span>Invite more friends</span></a></div>
          <div class="button bt_back"><a href="home?p=123456"><span>Back to home</span></a></div>
        </div>
      </div>
    </div>
  </div>
</div>