<% content_for :head do %>
  <meta property="og:description" content="I just played the iMuzDB Quiz and got <%= pluralize(@game.hits, 'question') %> right! Can you beat my musical knowledge?" />
  <meta property="og:image" content="http://imuzdb.com/imagens/no_image_artist.png" />
  <meta property="og:url" content="http://www.imuzdb.com/"/>
  
  <%= javascript_include_tag "imuz_db/game_over" %>
  <%= stylesheet_link_tag "imuz_db/game" %>

  <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share"
    type="text/javascript">
  </script>
<% end %>

<% content_for :sound_controller do %>
    <script type="text/javascript">
        SoundController.onLoadSound('/audio/music/game_over.mp3');
    </script>
<% end %>

<div class="game_over" style="display: block;">
  <div class="small_title">
    <%= render :partial => "/imuz_db/title_content", :locals => { :game => @game } %>
    <a href="home?p=<%= 1234 %>" class="link_home">Home</a>
  </div>

  <h1 class="gameOver_title"><span>Game Over</span></h1>
  
  <table class="final_stats">
    <tr>
      <th>Correct Answers:</th>
      <td><%= @game.hits %></td>
    </tr>
    <tr>
      <th>Wrong Answers:</th>
      <td><%= @game.misses %></td>
    </tr>
  </table>

  <div class="buttons">
    <div class="bt_fbShare"><a name="fb_share" type="button"></a></div>
    <div class="button bt_playAgain"><a href="/imuz_db/game_sessions/start"><span>Play Again</span></a></div>
    <div class="button bt_ranking"><a href="/imuz_db/game_sessions/ranking"><span>Ranking</span></a></div>
  </div>
</div>

<%= render :partial => 'context_column', :locals => {:question => @game.ended? ? @game.current_question : @game.last_question} %>

<script>
  $('.game_over').fadeIn(800, gameOverText);
</script>