<div class="static_content">
  <% content_for :head do %>
      <%= javascript_include_tag "imuz_db/jquery.mousewheel" %>
      <%= javascript_include_tag "imuz_db/jquery.jscrollpane.min" %>
      <%= stylesheet_link_tag "imuz_db/static_content" %>
      <%= stylesheet_link_tag "imuz_db/jquery.jscrollpane" %>
  <% end %>

  <div class="small_title help_title">
    <a href="home?p=<%= self.id %>" class="link_home">Home</a>
    <h1>Help</h1>
  </div>

<div class="scrolling_content" style='overflow: hidden;'>
        <h2>The Game</h2>
        <p>Playing the iMuzDB quiz is very easy. Just click “Play New Game” on the home screen and you’ll be presented with the first of 10 questions you need to answer to complete the game. Each question presents 5 possible answers, ranging from the letter “A” to “E”. To answer a question, just click on the selected option to select it, and then click the “Answer” button to confirm your choice. Just be careful not to let your time expire! You have 60 seconds to answer each question. If you are unsure about the correct answer, you may skip the question by clicking on the “Skip Question” button. But be careful! You can only skip 3 questions. After that, you’re on your own!</p>
        <p>After every answer, you’ll be shown a feedback screen displaying whether your answer is correct or wrong. If the answer happens to be wrong, the correct option will be displayed on the screen. On the right column, you’ll have a chance to see more information, videos and albums about the artist related to the question. If the question involves an album, you’ll also be able to buy the album at Amazon. Each correct question grants you 1 point. When the question is wrong, you won’t score points.</p>
        <p>When 10 answers have been answered, the Game will be over. In the Game Over screen, you are able to Share your performance with your Facebook friends, start a new game, or see the Ranking. You’re also shown how many of your answers were correct, and how many were wrong.</p>
        <h2>The Control Panel</h2>
        <p>The topmost section of the screen, which represents an amplifier’s knobs and buttons, is your control panel. From there, you may switch the game audio, view your profile or quit. To switch the audio on or off, click the “Audio ON/OFF” knob. To see your profile info, click the “Player Profile” knob. To hide your profile info, click the knob again. To quit the game, click the power button on the right edge of the control panel. Be careful! If you quit during the game, you’ll lose your points.</p>
        <h2>Ranking</h2>
        <p>The ranking page displays an ordered list of the best players of the game, from the highest to lowest scorer. The red notes next to the player’s accumulated score indicates the player’s level. There are four player levels on the iMuzDB quiz, distributed in the following rates:</p>
        <ul class="badges">
            <li class="virtuoso"><span><img src="/images/imuz_db/badge_virtuoso.png" width="44" height="15" alt=""></span>Virtuoso (10%)</li>
            <li class="soloist"><span><img src="/images/imuz_db/badge_soloist.png" width="35" height="15" alt=""></span>Soloist (20%)</li>
            <li class="musician"><span><img src="/images/imuz_db/badge_musician.png" width="26" height="15" alt=""></span>Musician (30%)</li>
            <li class="student"><span><img src="/images/imuz_db/badge_student.png" width="17" height="15" alt=""></span>Student (40%)</li>
        </ul>
        <p>That is, to be a Virtuoso, you must be among the 10% better scorers , to be a soloist, you must be among the  20% better scorers, and so on.</p>
        <p>If you are not within the 100 better scorers, you’ll still be displayed at the bottom of the rank, so you know your position and level.</p>
        <h2>Inviting Friends</h2>
        <p>You may invite your friends from Facebook to the game. To do so, click on the “Invite Friends” button from the home screen. This will take you to the “Invite Friends” screen, where you can select the friends you want to invite from the upper panel. Check as many friends as you like, then click on the “Send Invitation from iMuzDB Quiz” button. To delete an unwanted friend, just click on the “X” next to your friend’s name on the lower panel.</p>
    </div>

<%= render :partial => 'latest_news' %>