<% content_for :head do %>
  <%= javascript_include_tag  "imuz_db/home" %>
  <%= stylesheet_link_tag "imuz_db/home" %>
     <%= javascript_include_tag 'imuz_db/bookmark_bubble'%>
     <script>
         window.addEventListener('load', function() {
    var bubble = new google.bookmarkbubble.Bubble();

    

    bubble.showIfAllowed();
}, false);
      </script>
<% end %>
                        
<div class="band_stage">
  <div class="guitarrist"></div>
  <div class="guitarrist2"></div>
  <div class="vocalist"></div>
  <div class="bassist"></div>
</div>

<ul class="main_menu">
  <li class="menu_newGame"><%= link_to "Play new game", :action => :start %></li>
  <li class="menu_ranking"><%= link_to "Ranking", :action => :ranking %></li>
  <li class="menu_inviteFriends"><%= link_to "Invite Friends", :action => :friend_list %></li>
  <li class="menu_help"><%= link_to "Help", :action => :help %></li>
</ul>

<%= render :partial => 'latest_news' %>
