<% content_for :head do %>
  <%= stylesheet_link_tag 'imuz_db/mobile/mob-game' %>
  <script>
    current_game_id = "<%= @game.id %>"
  </script>
  <%= javascript_include_tag  'imuz_db/gx', 'imuz_db/gx.transitions' , 'imuz_db/mobile/game.iphone'%>

<% end %>
  
<div id="question_main" class="default_viewport">
  <%= render :partial => 'question' %>
</div>
  
<div id="answer" style="display: none;" class='animate_background'>
  <!-- class="animate_background" -->
  <%= render :partial => 'answer'%>
</div>
  
<div id="time_up" style="display: none;">
    <%= render :partial => 'timeup', :locals => {:state => 'timeup'} %>
</div>
<% content_for :out_viewport do %>
  <%= render :partial => 'options' %>
<% end %>
