<div class="title_bar">
  <%= render :partial => "/imuz_db/title_content", :locals => { :game => @game } %>
</div>

<div class="timer"><strong id="timer"><%= ImuzDb::GameSession::TIMEOUT %></strong></div>
<%= render :partial => 'question', :locals => { :game => @game } %>
