<% facebook_profile = @user.facebook_profile %>
  <% content_for :head do %>
    <% if flash[:fb_account_is_taken] %>
      <script>
        alert('This facebook account is already taken.')       
      </script>
     <% flash[:result_fb] = nil %>
    <% end %>
    <%= stylesheet_link_tag 'imuz_db/mobile/mob-profile' %>
  <% end %>
<div class="header">
    <% if params[:customer_id].nil? %>
      <a class="small_button bt_edit" onclick="redirectTo('/customer_login/edit?id=<%=@user.id%>')">
        <span>Edit Profile</span>
      </a>
    <% end %>
    <%= previous_button params[:customer_id].nil? ? :home : :ranking %>
    <h1><%= params[:customer_id].nil? ? "My" : "Player" %> Profile</h1>
</div>

<div class="player_info">
    <% if facebook_profile and facebook_profile.pic %>
      <div class="image">
        <%= image_tag facebook_profile.pic %>
      </div>
    <% end %>
    <h2><%= @user.nickname %></h2>
    <h3><%= @user.first_name %></h3>
    <% if @user.show_birthday %>  
      <p><strong>Birthdate:</strong><%= @user.birthday.strftime("%Y/%m/%d") if @user.birthday%></p>
    <% end %>
    <% if not facebook_profile and not params[:customer_id] %>
      <a class="button bt_default bt_facebook" onclick="redirectTo('<%= url_for({:controller => 'imuz_db/game_sessions', :action => 'fb_login'})%>')">
        <strong>Associate to Facebook account</strong>
      </a>        
    <% end %>
</div>

<ul class="player_stats">
    <li class="score">Score:<strong><%= @score %></strong></li>
    <li class="level <%= @patent.downcase %>">Level:<strong><%= @patent %></strong></li>
    <li class="correct_answers"><em>Correct</em> Answers:<strong><%= @hits %></strong></li>
    <li class="wrong_answers"><em>Wrong</em> Answers:<strong><%= @misses %></strong></li>
</ul>
