<% content_for :head do %>
  <%= javascript_include_tag  "imuz_db/jquery.mousewheel", 
                              "imuz_db/jquery.jscrollpane.min",
                              "imuz_db/ranking"%>
  <%= stylesheet_link_tag "imuz_db/ranking",
                          "imuz_db/jquery.jscrollpane" %>
<% end %>

<div class="small_title ranking_title">
  <a href="home?p=<%= self.id %>" class="link_home">Home</a>
  <h1>Ranking</h1>
</div>
<div class="ranking scrolling_content" style='overflow: hidden;'>
  <table>
    <% @ranking_entries.each_with_index do |ranking_entry, index| %>
      <tr>
        <th><%= index + 1 %></th>
        <td class="player_name"><%= ranking_entry.customer.nickname  %></td>
        <td class="badge <%= ImuzDb::GameSession.patent_for_score(ranking_entry.score).downcase %>"><span></span></td>
        <td class="score"><%= ranking_entry.score %></td>
      </tr>
    <% end %>
  </table>

</div>
<table class="user_info">
  <tr>
    <td class="player_name"><strong><%= @current_user_position %> - </strong> <%= @current_user.nickname %> (You)</td>
    <td class="badge <%= ImuzDb::GameSession.patent_for_score(@current_user_score || 0).downcase %>"><span></span></td>
    <td class="score"><%= @current_user_score || 0 %></td>
  </tr>
</table>

<%= render :partial => 'latest_news', :locals => {:game => @game} %>

<script type="text/javascript">
  $(".jspContainer").css("height", 300)
</script>
