<% content_for :head do %>
  <%= stylesheet_link_tag 'imuz_db/mobile/mob-ranking', 'imuz_db/mobile/scrollbar' %>
  <%= javascript_include_tag 'imuz_db/mobile/iscroll', 'imuz_db/mobile/scrollbar' %>  
<% end %>
  
<div class="header">
  <%= previous_button :home %>  
  <h1>Ranking</h1>
</div>

       
<div id='wrapper' class="ranking">
  <table>
    <% @ranking_entries.each_with_index do |ranking_entry, index| %>
      <tr>
        <th><%= index + 1 %></th>
        <td>
          <a onclick="redirectTo('<%= url_for({:controller => 'imuz_db/game_sessions', :action => 'profile', :customer_id => ranking_entry.customer.id })%>')">
            <%= ranking_entry.customer.nickname || ranking_entry.customer.first_name  %>
          </a>
        </td>
        <td class="ranking_level"><span class="<%= ImuzDb::GameSession.patent_for_score(ranking_entry.score).downcase %>"></span></td>
        <td class="score"><%= ranking_entry.score %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="player_position">
  <table>
    <tr>
      <th><%= @current_user_position %> </th>
      <td><%= @user.nickname || @user.first_name %></td>
      <td class="ranking_level"><span class="<%= @patent.downcase %>"></span></td>
      <td class="score"><%= @score %></td>
    </tr>
  </table>
</div>
