<% @title = "Ranking Types" %>
<table id="table" border="1">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Unit Format</th>
        <th>Minimum</th>
        <th>Maximum</th>
        <th>Sub Type</th>
        <th colspan="3"></th>
    </tr>
    <% for ranking_type in @ranking_types do %>
      <tr>
        <td><%= ranking_type.name %></td>
        <td><%= ranking_type.description %></td>
        <td><%= ranking_type.unit_format.name %></td>
        <td><%= ranking_type.minimum %></td>
        <td><%= ranking_type.maximum %></td>
        <td><%= ranking_type.sub_type %></td>
        <td><%= link_to "Show", ranking_type_url(ranking_type) %></td>
        <td><%= link_to "Edit", edit_ranking_type_url(ranking_type) %></td>
        <td><%= link_to "Delete",ranking_type, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
</table>
<br />
<%= link_to "New", new_ranking_type_url %>
