<% @title = "New Ranking Type" %>
<% form_for @ranking_type do |f| %>
    <%= f.error_messages %>

    <table class="form">
      <tr>
        <td class="text"><%= f.label :name %></td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td class="text"><%= f.label :description %></td>
        <td><%= f.text_area :description, :rows => 8 %></td>
      </tr>
      <tr>
        <td class="text"><%= f.label :unit_format %></td>
        <td><%= f.collection_select(:unit_format_id, @unit_formats, :id, :name, :prompt => "Unit Format") %></td>
      </tr>
      <tr>
        <td class="text"><%= f.label :maximum %></td>
        <td><%= f.text_field :maximum %></td>
      </tr>
      <tr>
        <td class="text"><%= f.label :minimum %></td>
        <td><%= f.text_field :minimum %></td>
      </tr>
      <tr>
        <td class="text"><%= f.label :sub_type %></td>
        <td><%= f.text_field :sub_type %></td>
      </tr>
      <tr>
        <td class="submit" colspan="2"><%= f.submit "Create" %></td>
      </tr>
    </table>
<% end %>
<%= link_to "Voltar", ranking_formats_url %>
