<% @title = "Ranking Type" %>

<%= "Name: " + @ranking_type.name %><br />
<%= "Description: " + @ranking_type.description %><br />
<%= "Unit Format: " + @ranking_type.unit_format.name %><br />
<%= "Maximum Value: " + @ranking_type.maximum.to_s if @ranking_type.maximum %><br />
<%= "Minimum Value: " + @ranking_type.minimum.to_s if @ranking_type.minimum %><br />
<%= "Sub Type: " + @ranking_type.sub_type.to_s %><br />
<br />
<%= link_to "Back", ranking_types_url %>
