/*-----------------------------------------------------------------------------
Nano Studio - Mobile Common Stylesheet
Author: Fabricio Fernandes
-----------------------------------------------------------------------------*/

@charset "UTF-8";

/* =General
-----------------------------------------------------------------------------*/
.pageContent .titleArea {    /* width:280px */
   padding: 0 6.25% 20px 6.25%;  /* = 20px of 320px */

}

.titleArea h2 {
    float: left;
}

.titleArea #buyMoney {
   text-decoration: underline;
   float: right;
   margin: 18px 0 12px;
   color: #92d0d3;
}

/* =Showcase
-----------------------------------------------------------------------------*/
.showcase {
    clear: both;
}

#frame {
    z-index: 0;
    position: relative;
    height: 180px;
    overflow: hidden;
    background: url(/assets/bgCarrousel.png) 0 0 repeat;
}

#frame img {
    display: none;
    margin-top:200px;
    position: absolute;
}

#frame #img01 {
    display: block;
    margin-top:0px;
}

.control {
    position: relative;
    height: 54px;
    margin-top: -10px;
    background: url(/assets/parafuso.png) 0 0 no-repeat,
     url(/assets/parafuso.png) right 0 no-repeat,
     url(/assets/controleL.png) left bottom no-repeat,
     url(/assets/fio_slide45.png) 5px bottom repeat-x;
    z-index: 10;
}

.control .therm {
    float: left;
    background-color: #E6C693;
    border: 3px groove #C19157;
    border-radius: 5px;
    width: 90px;
    height: 1px;
    margin-top: 29px;
    margin-left: 15%;
}

.control nav {
    float: right;
    margin-top: 14px;
}

.control nav ul li {
    cursor: pointer;
    float: left;
    background: url(/assets/botaoControleOff2.png) left top no-repeat #2d3031;
    padding: 8px 14px;
    color: #313131;
    font: bold 1.5em JuraDemibold;
    display: block;
}

.control nav ul li.active{
    background: url(/assets/spotControl.png) 50% bottom no-repeat, url(/assets/botaoControleOn2.png) left top no-repeat #2d3031;
    color: #002a57;
}
