body {
background-color:#005c67;
text-align:center;
margin:0;
}

a:link {
color:#fff710;
font-family:"Microsoft Sans Serif";
font-size:12px;
text-decoration:none;
}

a:hover {
color:#fc0;
font-family:Microsoft Sans Serif;
font-size:12px;
}

#Barradegrade {
background-image:url(imagens/fundo.gif);
background-repeat:repeat-x;
}

#geral {
background-color:#005c67;
width:665px;
text-align:left;
margin:0 auto;
}

#geralhome {
width:665px;
text-align:left;
margin:0 auto;
}

.topicoconteudo {
height:93px;
margin:0;
}

.topico_conteudo {
height:323px;
background-image:url(imagens/celular_contudo_fundo.gif);
background-repeat:repeat-x;
margin:2px;
}

.topico {
height:144px;
background-image:url(imagens/topic.gif);
background-repeat:repeat-x;
margin:0;
}

.espacotopico {
clear:both;
height:41px;
text-align:center;
margin:0;
}

.linha {
clear:both;
margin:0;
padding:0;
}

.coluna2 {
float:left;
margin-left:18px;
padding:0;
}

.divisaoconteudo {
background-image:url(imagens/divisaoconteudo.gif);
background-repeat:repeat-x;
height:41px;
clear:both;
margin:0 2px;
}

.rodape {
height:27px;
background-image:url(imagens/rodape.gif);
background-repeat:repeat-x;
background-color:#005C67;
text-align:center;
clear:both;
padding-top:20px;
margin:0 2px;
}

h1 {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
font-weight:700;
color:#ff0;
margin:0;
padding:5px;
background-color:#003f46;
}

.cabecalho {
font-family:"Microsoft Sans Serif";
font-size:16px;
color:#fff710;
font-weight:700;
}

.fonte {
font-family:Microsoft Sans Serif;
font-size:12px;
color:#7cf1ff;
}

.fonte1 {
font-family:Microsoft Sans Serif;
font-size:36px;
color:#fff710;
}


.fonteform {
font-family:"Microsoft Sans Serif";
font-size:12px;
color:#005c67;
}

.menutopico {
font-family:Microsoft Sans Serif;
text-align:right;
font-size:12px;
color:#7cf1ff;
padding:25px 5px 5px;
}

.nomejogo {
height:36px;
background-color:#00353b;
text-align:left;
margin:3px 0 6px;
}

.imagemjogo {
height:187px;
width:398px;
margin:6px 2px 0;
}

.sodois {
height:0;
}

.botoesjogo {
height:90px;
width:405px;
padding-top:1px;
}

.separabotoes{
padding-right:1px;
float: left;
}

.conteudo {
padding:14px;
}

.barramenu {
height:43px;
width:660px;
text-align:center;
margin:0 3px;
}

.menudropdown {
height:250px;
width:660px;
text-align:left;
}

.destaque {
height:187px;
background-image:url(imagens/destaque.jpg);
margin:2px 0 0 2px;
}

.topicodestaque {
height:280px;
clear:both;
margin:0 2px;
}

.dicas {
height:180px;
background-color:#008291;
text-align:center;
padding-left:5px;
padding-top:5px;
padding-right:5px;
}

.dicastexto {
height:170px;
font-family:Verdana;
font-size:11px;
color:#ffeb3e;
text-align:left;
margin:5px;
}

.nanoca {
height:79px;
background-image:url(imagens/nanoca_indica.gif);
margin:0;
}

.textodestaque {
font-family:Verdana;
font-size:11px;
color:#ffeb3e;
}

.destaquetitulo {
text-align:left;
font-family:Verdana;
font-size:13px;
font-weight:700;
color:#ffeb3e;
margin:5px 0 0 2px;
padding:0;
}

.destaquefundo {
height:77px;
text-align:left;
background-image:url(imagens/destaque_texto.gif);
clear:both;
margin:0 0 0 2px;
}

.jogos {
height:470px;
background-image:url(imagens/pattern_jogos.gif);
margin:0 2px;
}

a:visited,a:active {
font-family:"Microsoft Sans Serif";
font-size:12px;
color:#fff710;
text-decoration:none;
}

.linhatopicocima,.linhatopicobaixo {
height:18px;
background-image:url(imagens/linhatopicocima.gif);
background-repeat:repeat-x;
margin:0 2px;
}

.imghome {
display:block;
float:left;
width:79px;
height:43px;
background:url(imagens/home.gif) top left no-repeat;
}

.imghome:hover {
display:block;
float:left;
width:79px;
height:43px;
background:url(imagens/home.gif) bottom left no-repeat;
}

.imgnano {
display:block;
float:left;
width:143px;
height:43px;
background:url(imagens/sobre_a_nano.gif) top left no-repeat;
}

.imgnano:hover {
display:block;
float:left;
width:143px;
height:43px;
background:url(imagens/sobre_a_nano.gif) bottom left no-repeat;
}

.imgprodutos {
display:block;
float:left;
width:111px;
height:43px;
background:url(imagens/produtos.gif) top left no-repeat;
}

.imgprodutos:hover {
display:block;
float:left;
width:111px;
height:43px;
background:url(imagens/produtos.gif) bottom left no-repeat;
}

.imgnoticias {
display:block;
float:left;
width:104px;
height:43px;
background:url(imagens/noticias.gif) top left no-repeat;
}

.imgnoticias:hover {
display:block;
float:left;
width:104px;
height:43px;
background:url(imagens/noticias.gif) bottom left no-repeat;
}

.imgparceiros {
display:block;
float:left;
width:119px;
height:43px;
background:url(imagens/parceiros.gif) top left no-repeat;
}

.imgparceiros:hover {
display:block;
float:left;
width:119px;
height:43px;
background:url(imagens/parceiros.gif) bottom left no-repeat;
}

.imgcontato {
display:block;
float:left;
width:100px;
height:43px;
background:url(imagens/contato.gif) top left no-repeat;
}

.imgcontato:hover {
display:block;
float:left;
width:100px;
height:43px;
background:url(imagens/contato.gif) bottom left no-repeat;
}

.menuprodutos {
text-align:left;
font-family:Verdana;
font-size:12px;
font-weight:700;
color:#0097a8;
padding:0;
}

.titulojogo {
text-align:top;
font-family:Verdana;
font-size:18px;
font-weight:700;
color:#ffeb3e;
padding:0;
}

.titulojogo:hover {
text-align:top;
font-family:Verdana;
font-size:18px;
font-weight:700;
color:#fc0;
padding:0;
}

.subtitulojogo:hover {
text-align:left;
font-family:Verdana;
font-size:12px;
font-weight:700;
color:#fc0;
padding:0;
}

div.scrollholder {
position:relative;
width:188px;
height:180px;
overflow:auto;
z-index:3;
background-color:#001220;
}

div.scroll {
position:absolute;
text-align:left;
left:5px;
top:px;
width:90%;
z-index:4;
font-family:Verdana;
font-size:11px;
color:#ffeb3e;
padding:8px 3px 3px;
}

div.track {
position:relative;
float:right;
top:0;
width:7px;
height:95%;
z-index:5;
background:#005c67;
border-right:solid;
border-right-color:#001220;
border-top:solid;
border-top-color:#001220;
}

div.drag_bar {
position:absolute;
width:7px;
cursor:pointer;
z-index:5;
background:#00acc0;
}

.menuprodutos:hover,.subtitulojogo {
text-align:left;
font-family:Verdana;
font-size:12px;
font-weight:700;
color:#ffeb3e;
padding:0;
}

.bordaBox {background:transparent; width:280px;}
.bordaBox .b1, .bordaBox .b2, .bordaBox .b3, .bordaBox .b4, .bordaBox .b1b, .bordaBox .b2b, .bordaBox .b3b, .bordaBox .b4b {display:block; overflow:hidden; font-size:1px;}
.bordaBox .b1, .bordaBox .b2, .bordaBox .b3, .bordaBox .b1b, .bordaBox .b2b, .bordaBox .b3b {height:1px;}
.bordaBox .b2, .bordaBox .b3, .bordaBox .b4 {background:#005C67; border-left:1px solid #005C67; border-right:1px solid #005C67;}
.bordaBox .b1 {margin:0 5px; background:#005C67;}
.bordaBox .b2 {margin:0 3px; border-width:0 2px;}
.bordaBox .b3 {margin:0 2px;}
.bordaBox .b4 {height:2px; margin:0 1px;}
.bordaBox .conteudobox {padding:5px;display:block; background:#005C67; border-left:1px solid #005C67; border-right:1px solid #005C67;}

.coluna,.coluna1 {
float:left;
text-align:center;
margin:0;
padding:0;
}

.jogosaplicativos {
height:40px;
width:660px;
text-align:left;
}

.linhacomocomprar {
background-image:url(imagens/linha_como_comprar.gif);
background-repeat:repeat-x;
background-color:#004f59;
height:30px;
}

.linhabaixocomocomprar {
background-image:url(imagens/linha_baixo_como_comprar.gif);
background-repeat:repeat-x;
height:20px;
clear:both;
}

.claro {
background-image:url(imagens/claro.gif);
height:150px;
width:94px;
float:left;
margin-left:12px;
margin-bottom:-35px;
margin-top:-40px
}

.tim {
background-image:url(imagens/tim.gif);
height:150px;
width:94px;
float:left;
margin-left:12px;
margin-bottom:-35px;
margin-top:-40px
}

.mtv {
background-image:url(imagens/mtv.gif);
height:150px;
width:94px;
float:left;
margin-left:12px;
margin-bottom:-35px;
margin-top:-40px
}

.oi {
background-image:url(imagens/oi.gif);
height:150px;
width:94px;
float:left;
margin-left:12px;
margin-bottom:-35px;
margin-top:-40px
}

.divisoria{
background-image:url(imagens/divisoria.gif);
height:60px;
width:12px;
float:left;
margin:7px;
}

.sms {
font-family:Verdana;
font-size:20px;
color:#7cf1ff;
}

.valor {
font-family:Verdana;
font-size:20px;
color:#fff710;
}

.transparente {
position:absolute;
width:113px;
height:550px;
z-index:12;
left: 691px;
_left: 706px;
top: -1136px;
_top: -1186px;
display:block;
}

.transparente a {
position:absolute;
width:113px;
height:550px;
z-index:12;
left: 691px;
_left: 706px;
top: -1136px;
_top: -1186px;
display:block;
}


		.highlight { font-weight: bold; }
		.searchheading { font-family: Verdana ; font-size: 16px; font-weight: bold; color: #fff710; }
		.summary { font-family: Verdana ; font-size: 12px; font-style: italic;  color: #7cf1ff; }
		.suggestion { font-family: Verdana ; font-size: 12px; }
		.results { font-family: Verdana ; font-size: 12px;  color:#fff710;}
		.category { color: #999999; }
		.sorting { text-align: right; }

		.result_title { font-family: Verdana ; font-size:14px; font-weight: bold;}
		.result_title a:link { color: #fff710; font-size:14px; font-weight: bold;}
        .result_title a:visited { color: #fff710;font-size:14px; font-weight: bold;}
        .result_title a:hover { color:#FFCC00;font-size:14px; font-weight: bold;}
        .result_title a:active { color: #fff710;font-size:14px; font-weight: bold;}		
		.description { font-family: Verdana;  color: #7cf1ff; font-size:12px;  }
		.context { font-family: Verdana ; font-size:12px; color:#0097a8;}
		.infoline { font-family: Verdana ; font-size:10px; font-style: normal; color: #7cf1ff;}

		.zoom_searchform { font-family: Verdana ; font-size: 12px; color: #7cf1ff; }
		.zoom_results_per_page { font-family: Verdana ; font-size: 12px; margin-left: 10px; color: #7cf1ff;}
		.zoom_match { font-family: Verdana ; font-size: 12px; margin-left: 10px; color: #7cf1ff;}				
		.zoom_categories { font-family: Verdana ; font-size: 80%; }
		.zoom_categories ul { display: inline; margin: 0px; padding: 0px;}
		.zoom_categories li { display: inline; margin-left: 15px; list-style-type: none; }
		
		input.zoom_button { background: transparent url(imagens/buscar_but.gif) no-repeat center bottom; border: 0px; width: 52px; height: 22px; } 
		input.zoom_searchbox { font-family: Verdana ; font-size: 12px; color: #001220 ;}		
		
		.result_image { float: left; display: block; }
		.result_image img { margin: 10px; width: 80px; border: 0px; }

		.result_block { margin-top: 15px; margin-bottom: 15px; clear: left; background-color:#004A53; padding:5px}
		.result_altblock { margin-top: 15px; margin-bottom: 15px; clear: left; background-color:#004A53; padding:5px}
		
		.result_pages { font-size: 80%; }
		.result_pagescount { font-family: Verdana ; font-size: 10px; }
		
		.searchtime { font-size: 80%; }
		
		.recommended 
		{ 
			background: #DFFFBF; 
			border-top: 1px dotted #808080; 
			border-bottom: 1px dotted #808080; 
			margin-top: 15px; 
			margin-bottom: 15px; 
		}
		.recommended_heading { float: right; font-weight: bold; }
		.recommend_block { margin-top: 15px; margin-bottom: 15px; clear: left; }		
		.recommend_title { font-family: Verdana ; font-size: 100%; }
		.recommend_description { font-family: Verdana ; font-size: 100%; color: #008000; }
		.recommend_infoline { font-family: Verdana ; font-size: 80%; font-style: normal; color: #808080;}
		
.busca { 
background: url (imagens/buscar_but.gif) #DFFFBF; 
float:right;
margin-left:10px;
height:20px;
}

.tamanho a{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:9px;
font-weight:500;
color: #FFFF00;
}

.tamanho a:hover {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:9px;
font-weight:500;
color: #FFCC00;
}

form {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color: #0097a8;
}

select {
font-family:Verdana, Arial, Helvetica, sans-serif;
border:3px solid #0097a8;
font-size:12px;
font-weight:bold;
color: #001220;
background-color: #0097a8;
}

option {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color: #0097a8;
background-color:#003f46;
}