<% content_for :head do %>
  <%= include_stylesheets :sobre %>
<% end %>

<section class="sobre_a_nano">
  <section class="sobre">
    <div class="box_cabecalho">
      <h1 class="titulo_principal">
        <img src="/images/icones/balao.png" width="58" height="51" title="Sobre" class="ic_titulo"/>
        <a href="#" class="link_titulo"><%= t('about.header') %></a>
      </h1>
    </div>

    <div class="descricao sobre_tx">
      <%= raw @page[:sobre] %>
    </div>
  </section>

  <section class="nano_games">
    <div class="box_cabecalho">
      <h1 class="titulo_principal">
        <img src="/images/icones/joystick.png" width="77" height="65" title="Joystick" class="ic_titulo"/>
        <a href="#" class="link_titulo">Nano Games</a>
      </h1>
    </div>

    <div class="descricao nano_tx clearfix">
      <%= raw @page[:nano_games] %>
      <a href="/portfolio#games" class="saiba_mais"><%= t('about.our_games') %></a>
    </div>
  </section>

  <section class="nano_apps">
    <div class="box_cabecalho">
      <h1 class="titulo_principal">
        <img src="/images/icones/tablet.png" width="54" height="70" title="Tablet" class="ic_titulo"/>
        <a href="#" class="link_titulo">Nano Apps</a>
      </h1>
    </div>

    <div class="descricao apps_tx clearfix">
      <%= raw @page[:nano_apps] %>
      <a href="/portfolio#apps" class="saiba_mais"><%= t('about.our_apps') %></a>
    </div>
  </section>
</section>

<section class="sobre_a_equipe">
  <h1 class="titulo_principal">
    <img src="/images/icones/nano.png" width="56" height="55" title="Nano Studio" class="ic_titulo"/>
    <span class="link_titulo"><%= t('about.team') %></span>
  </h1>
  <ul class="lista_equipe">
    <li class="ceo">
      <div class="perfil">
        <p class="nome">Peter Hansen</p>

        <p class="funcao">CEO</p>
      </div>
      <a class="caricatura"><img src="/images/caricaturas/peter.png"/></a>
    </li>

    <li class="dever1">
      <div class="perfil">
        <p class="nome">Ygor Speranza</p>

        <p class="funcao"><%= t('about.game_developer') %></p>
      </div>
      <a class="caricatura"><img src="/images/caricaturas/ygor.png"/></a>
    </li>

    <li class="dever2">
      <div class="perfil">
        <p class="nome">Daniel Monteiro</p>

        <p class="funcao"><%= t('about.game_developer') %></p>
      </div>
      <a class="caricatura"><img src="/images/caricaturas/monteiro.png"/></a>
    </li>

    <li class="diretor_de_arte">
      <div class="perfil">
        <p class="nome">Viviane Mesquita</p>

        <p class="funcao"><%= t('about.art_director') %></p>
      </div>
      <a class="caricatura"><img src="/images/caricaturas/vivis.png"/></a>
    </li>

    <li class="designer1">
      <div class="perfil">
        <p class="nome">Camila Queiroz</p>

        <p class="funcao">Designer</p>
      </div>
      <a class="caricatura"><img src="/images/caricaturas/chuchu.png"/></a>
    </li>

    <li class="designer2">
      <div class="perfil">
        <p class="nome">Rafael Hansen</p>

        <p class="funcao">Designer</p>
      </div>
      <a class="caricatura"><img src="/images/caricaturas/rafael.png"/></a>
    </li>

    <li class="diretor_web">
      <div class="perfil">
        <p class="nome">Werther Azevedo</p>

        <p class="funcao"><%= t('about.web_and_audio_director') %></p>
      </div>
      <a class="caricatura"><img src="/images/caricaturas/werther.png"/></a>
    </li>

    <li class="dever3">
      <div class="perfil">
        <p class="nome">Fabricio Fernandes</p>

        <p class="funcao"><%= t('about.web_developer') %></p>
      </div>
      <a class="caricatura"><img src="/images/caricaturas/fabricio.png"/></a>
    </li>

    <li class="dever4">
      <div class="perfil">
        <p class="nome">Dimas Cyriaco</p>

        <p class="funcao"><%= t('about.web_developer') %></p>
      </div>
      <a class="caricatura"><img src="/images/caricaturas/dilas.png"/></a>
    </li>

<!--    <li class="novos_negocios">
      <div class="perfil">
        <p class="nome">Izabel Cardoso</p>

        <p class="funcao"><%= t('about.new_business_manager') %></p>
      </div>
      <a class="caricatura"><img src="/images/caricaturas/izabel.png"/></a>
    </li>-->
  </ul>             
</section>