<% content_for :head do %>
  <%= include_stylesheets :home %>
  <%= include_javascripts :home %>
<% end %>

<% content_for :meta do %>
  <meta name="title" content="Nano Studio">
  <meta name="description" content="<%= t('head.description') %>">
<% end %>

<section class="destaques">
  <div class="titulo">
    <h2 class="titulo_principal">
      <img src="../images/icones/destaques.png" width="66" height="62" title="" class="ic_titulo"/>
      Destaques
    </h2>
  </div>

  <div id="slideshow">
    <ul id="slide">
      <li>
        <a href="/portfolio/boa-dica" title="BoaDica">
          <img src="../images/home/destaque_boadica.png" alt="BoaDica" class="img_destaque"/>
        </a>

        <div class="descricao">
          <a href="/portfolio/boa-dica" title="BoaDica">
            <div class="texto">
              <h1>BoaDica</h1>

              <p>Com a vers&atilde;o java mobile do famoso comparador de pre&ccedil;os, voc&ecirc; pode usar seu celular
                para buscar as melhores oportunidades em eletr&ocirc;nicos e componentes de inform&aacute;tica.</p>
            </div>
          </a>
        </div>
      </li>
      <li>
        <a href="/portfolio/topa-ou-não-topa" title="Topa ou N&atilde;o Topa">
          <img src="/images/home/topa_940x408.jpg" alt="Topa ou N&atilde;o Topa" class="img_destaque"/>
        </a>

        <div class="descricao">
          <a href="/portfolio/topa-ou-não-topa" title="Topa ou N&atilde;o Topa">
            <div class="texto">
              <h1>Topa ou N&atilde;o Topa</h1>

              <p>Roberto Justus comanda o jogo oficial deste programa de audit&oacute;rio. Curta toda a emo&ccedil;&atilde;o
                do jogo como se fosse um participante, testando sua sorte e estrat&eacute;gia em busca de um milh&atilde;o
                de reais.</p>
            </div>
          </a>
        </div>
      </li>
    </ul>
  </div>


</section>

<section class="servicos">
  <div class="titulo">
    <h2 class="titulo_principal">
      <img src="../images/icones/servicos.png" width="82" height="63" alt="" class="ic_titulo"/>
      <%= t('header.menu.services') %>
    </h2>
  </div>

  <div class="subcoluna games">
    <h3><a href="/service_details?service=games" class="tit">Games</a>
      <a href="/service_details?service=games" class="saiba_mais"><%= t('default.job.learn_more') %></a></h3>
    <dl>
      <% games = Page.find('games') %>
      <% if games %>
        <% games.children.each do |game| %>
          <a href='<%= "/service_details?service=#{game.translations.first.title.parameterize}" %>'>
            <dt><%= game.title %></dt>
            <dd><%= raw game.short_frase %></dd>
          </a>
        <% end %>
      <% end %>
    </dl>
  </div>

  <div class="subcoluna apps">
    <h3><a href="/service_details?service=apps" class="tit">Apps</a>
      <a href="/service_details?service=apps" class="saiba_mais"><%= t('default.job.learn_more') %></a></h3>
    <dl>
      <% apps = Page.find('apps') %>
      <% if apps %>
        <% apps.children.each do |app| %>
          <a href='<%= "/service_details?service=#{app.translations.first.title.parameterize}" %>'>
            <dt><%= app.title %></dt>
            <dd><%= raw app.short_frase %></dd>
          </a>
        <% end %>
      <% end %>
    </dl>
  </div>
</section>
<% port_sample = PortfolioEntry.where('parent_id > 0').sample %>
<section class="portfolio">
  <h2 class="titulo_principal">
    <img src="../images/icones/portfolio.png" width="60" height="66" alt="" class="ic_titulo"/>
    Portfólio
  </h2>

  <div class="imagem">
    <a href="portfolio"><img src="/images/home/banner_geral_2011.jpg" alt="" width="380"/></a>
  </div>
  <p class="descricao">
    <a href="portfolio">Desde games de vários gêneros até apps de busca, confira em nosso portfólio o trabalho de uma
      equipe versátil.</a></p>
</section>

<section class="nanonews">
  <h2>NanoNews</h2>

  <p class="tweet">
    <%= @twitter_status %>
    <a href="http://www.twitter.com/nanostudios" class="saiba_mais" target="_blank">Mais news</a>
  </p>

  <ul>
    <li>
      <a href="http://twitter.com/nanostudios" target='_blank' title="Twitter"><img src="/images/icones/twitter.png" alt="Twitter"/></a>
    </li>
    <li>
      <a href="http://www.facebook.com/pages/Nano-Studio/185029794887760" target="_blank" title="Facebook"><img src="/images/icones/facebook.png" alt="Facebook"/></a>
    </li>
    <li>
      <a href="https://plus.google.com/117506812455480952546" title="Google+" target="_blank"><img src="/images/icones/plus.png" alt="Google Plus"/></a>
    </li>
    <li>
      <a href="http://www.orkut.com.br/Main#Community?cmm=40037651" target='_blank' title="Orkut"><img src="/images/icones/orkut.png" alt="Orkut"/></a>
    </li>
  </ul>
</section>

<script>
  $(function() {
    var slide = $('#slide');
    var size = slide.children().length;
    var time = 8000;
    var current = 0;

    function change() {
      $($('#slide').children()[current]).fadeOut(function() {
        current = (current + 1) % size;
        $($('#slide').children()[current]).fadeIn();
      });
    }

    slide.children().hide(function () {
      slide.children(':first').show();
    });

    setInterval(change, time);
  });
</script>
