<%
   #@page = Page.find('services') || Page.find('services-page')
   @page = Page::Translation.find_by_title("Services").page
   @body_content = @page.parts.find_by_title('body')
   @side_body_content = @page.parts.find_by_title('side body')
%>
<% content_for :head do %>
  <%= include_stylesheets :services %>
<% end %>

<div class="conteudo_principal">
  <% @body_content.pages_placed.each do |section| %>
    <section class="container_generico <%= section.title.parameterize if section.title %> clearfix">
      <h1 class="titulo_principal">
        <%= image_tag section.icon_image.url, :class => 'ic_titulo' if section.icon_image_uid %>
        <%= link_to section.title || '', "/service_details?service=#{section.translations.first.title.parameterize}", :class => 'link_titulo' %>
      </h1>
      <section class="boxes">
        <% section.children.each do |child| %>
          <div class="box_padrao <%= child.translations.first.title.parameterize %>">
            <h2>
              <%= image_tag child.icon_image.url, :class => "ic_subtitulo" if child.icon_image_uid %>
              <%= child.title %>
            </h2>
            <%= raw child.resume %>
            <%= link_to t('default.job.learn_more'), "service_details?service=#{child.translations.first.title.parameterize}", :class => 'saiba_mais' %>
          </div>
        <% end %>
      </section>
    </section>
  <% end %>
</div>

<% @side_body_content.pages_placed.each do |section| %>
  <section class="<%= section.translations.first.title.parameterize %>">
    <h1 class="titulo_principal">
      <%= image_tag section.icon_image.url, :class => 'ic_titulo' if section.icon_image_uid %>
      <%= link_to section.title || '', "service_details?service=#{section.translations.first.title.parameterize}", :class => 'link_titulo' %>
    </h1>

    <% section.children.each do |child| %>
      <div class="box_padrao <%= child.translations.first.title.parameterize %>">
        <h2>
          <%= image_tag child.icon_image.url if child.icon_image_uid %>
          <%= child.title %>
        </h2>
        <%= raw child.resume %>
        <%= link_to t('default.job.learn_more'), "service_details?service=#{child.translations.first.title.parameterize}", :class => 'saiba_mais' %>
      </div>
    <% end %>
  </section>
<% end %>
