<% content_for :head do %>
  <%= include_stylesheets  :service_details %>
<% end %>                   
        <section class="principal">
            <nav class="navegacoes">
                <ul class="nav_servicos" id="<%= @page.parent.translation.title  %>">
                    <% @menu_parents.each do |menu_parent| %>
                      <li>
                          <h1 class="titulo_principal">
                              <%= image_tag menu_parent.icon_image.url, :class => "ic_titulo #{menu_parent.translations.first.title}" if menu_parent.icon_image_uid %>
                              <%= link_to menu_parent.translations.first.title, "/service_details?service=#{menu_parent.translations.first.title.parameterize}", :class => "link_titulo" %>
                          </h1>
                      </li>
                    <% end if @menu_parents %>
                </ul>

                <ul class="subnav_servicos">
                  <% @menu_pages.each do |menu_page| %>
                    <li class="<%= menu_page.translation.title.parameterize if menu_page.translation %>">
                        <a href="/service_details?service=<%= menu_page.translation.title.parameterize if menu_page.translation %>">
                            <%= image_tag menu_page.icon_image.url if menu_page.icon_image_uid %>
                            <span><%= menu_page.translation.title %></span>
                        </a>
                    </li>
                  <% end if @menu_pages %>
                </ul>
            </nav>

            <div class="conteudo_principal clearfix">
                <div class="conteudo_advergames">
                    <h2><strong><%= @page.title %></strong></h2>
                    <%= raw @page.content_for('body') %>
                </div>

                <div class="apresentacao">
                    <%= image_tag(@page.body_image.url, :width => 250, :height => 320) if @page.body_image_uid %> 
                </div>
            </div>

        </section>

        <section class="box_padrao exemplos_servicos">
            <h2><%= t('.service_examples') %></h2>
            <ul>
                <% @service_examples.each do |service_example| %>
                    <li>
                        <%=link_to(image_tag(service_example.square_image.url, :width => 63, :height => 61), portfolio_path(service_example.translations.first.title.parameterize) )if service_example.menu_image_uid %>
                        <p>
                            <strong><%= service_example.title %></strong>                      
                        </p>
                    </li>
                    
                <% end %>
            </ul>
        </section>