<% @title = "Advertisers" %>
<table id="table" border="1">
	<thead>
		<tr>
			<th>Partner</th>
			<th colspan="3"></th>
	  </tr>
	</thead>

	<tbody>
		<% for advertiser in @advertisers %>
		  <tr valign="top" >
				<td><%= advertiser.partner.name %></td>
		    <td><%= link_to 'Show', advertiser %></td>
		    <td><%= link_to 'Edit', edit_advertiser_path(advertiser) %></td>
		    <td><%= link_to 'Destroy', advertiser, :confirm => 'Are you sure?', :method => :delete %></td>
		  </tr>
		<% end %>
	</tbody>
</table>

<br />
<br />
<%= paginate @advertisers %>
<%= link_to 'New advertiser', new_advertiser_path %>