<%= content_for :head, stylesheet_link_tag('tablet/product_list') %>
<%= content_for :head, javascript_include_tag('index.products') %>
<%= content_for :title, @current_category.name %>

<div class="titleArea">
  <%= hidden_field_tag :env, Rails.env %>
  <form action="#" method="get">
    <label for="orderList">Ordenar por:</label>
    <select id="ordenacao">
      <option class='option' value="view_count desc">Mais popular</option>
      <option class='option' value="price">Menor preço</option>
      <option class='option' value="price desc">Maior preço</option>
    </select>
  </form>
</div>

<div class="productsList">
  <ul id="lista" class="catalog">
    <%# raise @collection.class.to_s %>
    <%#= hidden_field_tag :total, @collection['total'] %>
    <%#= hidden_field_tag :search, @collection['search'] %>
    <%#= hidden_field_tag :next_page, @collection['next_page'] %>
    <%#= hidden_field_tag :order, @collection['order'] %>
    <%#= hidden_field_tag :category, @current_category.id if @current_category %>

    <% count = 0 %>
    <% image_list = "" %>

    <% @collection.each do |product| %>
      <%
         image_control = "image#{count.inspect}"
         content_price = number_to_currency(product.price)
         image_list += "{control:'#{image_control}', src:'#{product.thumb}'},"

         if product.price_discounted
           content_price = "<span>De: #{product.price} G</span> Por: #{product.price_discounted} G".html_safe

           if product.discount_term == "1"
             discount_sale = "<span class=\"stripeSale\">#{product.discount_term}% de desconto</span>".html_safe
           else
             discount_sale = "<span class=\"stripeSale\">Promoção</span>".html_safe
           end
         end
      %>
      <% count = count + 1 %>
      <%= content_tag :li do %>
        <div class="imgWrapper">
          <img id='<%= image_control %>'>
          <%= discount_sale %>
        </div>

        <%= content_tag :div, class: 'productInfo' do %>
          <%= content_tag :p, product.name %>
          <%= content_tag :p, content_price, class: 'price' %>
          <%= link_to 'Ver detalhes', product, class: 'buttonLightBlue' %>
        <% end %>
      <% end %>
    <% end %>
  </ul>

  <script language="javascript">
    $(function () {
      nano.httpImg.server = $('#env').val() == 'production' ? 'http://products.staging.nanostudio.com.br/' : "http://localhost:9393/";
      nano.httpImg.load([<%= image_list[0..-2] %>]);
    });
  </script>


  <div class="showMore clearfix">
    <%= will_paginate @collection, previous_label: '&lsaquo;', next_label: '&rsaquo;' %>

  </div>
</div>
