<% if Refinery.version < '0.9.9' %>
  <%= stylesheet_link_tag 'portfolio' %>
  <%= javascript_include_tag 'portfolio' %>
<% else %>
  <% content_for :stylesheets do %>
    <%= stylesheet_link_tag('portfolio') %>
  <% end %>

  <% content_for :javascripts do %>
    <%= javascript_include_tag('portfolio') %>
    <%= include_javascripts :portfolio_admin %>
  <% end %>
<% end %>

<%= hidden_field_tag :name_short, @portfolio_entry.name_short %>
<%= hidden_field_tag :title, @portfolio_entry.title %>
<%= hidden_field_tag :portfolio_entries, PortfolioEntry.select(:name_short).map {|p| p.name_short}.compact! %>

<%= form_for([:admin, @portfolio_entry], :html => {:multipart => true}) do |f| %>
  <%= render :partial => "/shared/admin/form_actions",
             :locals => { :f => f,
                          :continue_editing => true } %><br />

  <%= render :partial => "/shared/admin/error_messages",
             :locals => {
               :object => f.object,
               :include_object_name => true
             }  %>

  <%= hidden_field :portfolio_entry, :locale, :value => params[:l] || 'en' %>

  <ul id='switch_locale_picker' class='clearfix'>
    <% RefinerySetting.get('i18n_translation_frontend_locales').each do |locale| %>
      <li<%= " class='selected'" if (locale.to_s == params[:l].to_s) || (params[:l].blank? && locale == @portfolio_entry.translated_locales.first) %>>
        <%= link_to refinery_icon_tag("flags/#{locale}.png", :size => '48x33'),
                    "/refinery/portfolio/#{@portfolio_entry.to_param}/edit/?l=#{locale}" %>
      </li>
    <% end if RefinerySetting.get('i18n_translation_frontend_locales') %>
  </ul>

  <div class="field">
    <%= f.label 'Nano App' %>
    <%= f.select :name_short, '', {},  :class => "larger widest" %>
  </div>

  <div id='portfolio_body' class='field clearfix'>
    <%= f.required_label t('.title') %>
    <%= f.text_field :title, :class => "larger" %>
  </div>

  <div class='field clearfix'>
    <div id='page-tabs' class='clearfix ui-tabs ui-widget ui-widget-content'>
      <ul id='page_parts'>
        <li class='ui-state-default ui-state-active'>
          <%= link_to t('.content'), '#page_part_content'%>
        </li>
        <li class='ui-state-default'>
          <%= link_to t('.images'), '#portfolio_image_picker'%>
        </li>
      </ul>
    </div>

    <div id='page_part_editors'>
      <div id='page_part_content' class='page_part'>
        <%= f.text_area :body, :class => "wymeditor widest", :rows => 7 %>
      </div>

      <div class='page_part wym_skin_refinery' id='portfolio_image_picker'>
        <div class='wym_area_top'>
          <span class='clearfix label_inline_with_link'>
            <%= link_to t('.add_another_image').html_safe,
                        insert_admin_images_url(:dialog => true,
                                                :width => 866,
                                                :height => 510,
                                                :callback => "image_added"),
                        :id => "add_image_link" %>
          </span>
        </div>
        
        <div class='wym_box field images_field'>
          <ul id='portfolio_images' class='clearfix portfolio_entry_images'>
            <%= f.fields_for :images do |image_form| %>
              <li id='image_<%= image_form.object.id %>'>
                <%= image_form.hidden_field :id %>
                <%= image_fu image_form.object, '135x135#c' %>
              </li>
            <% end %>
            <li class='empty'>
              <%= hidden_field_tag "portfolio_entry[images_attributes][#{@portfolio_entry.images.size}][id]" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.hidden_field :download_origin %>

    <%= f.label :download_origin %>
    <ul>
      <li> <%= radio_button_tag :download_origin, '', false, :id => 'download_origin_none' %> None </li>
      <li> <%= radio_button_tag :download_origin, '', false, :id => 'download_origin_nano' %> Nano Online </li>
      <li>
        <%= radio_button_tag :download_origin, '', false, :id => 'download_origin_other' %> Other: <%= text_field_tag :download_origin, '', :id => 'download_origin_text', :class => "larger", :style => 'width: 80%;' %>
      </li>
    </ul>
  </div>

  <div class="field">
    <%= f.label :tags %>
    <%= f.text_field :category_list, :class => "larger widest" %>
  </div>

  <div class="field">
    <%= f.label 'Demo Url' %>
    <%= f.text_field :demo_url, :class => "larger widest" %>
  </div>

  <div class='field'>
    <%= f.label 'Header Image' %>
    <%= image_tag @portfolio_entry.header_image.url, :width => '200' if @portfolio_entry.header_image_uid %>
    <%= f.file_field :header_image %>
  </div>

  <div class='field'>
    <%= f.label 'Menu Image' %>
    <%= image_tag @portfolio_entry.menu_image.url, :width => '200' if @portfolio_entry.menu_image %>
    <%= f.file_field :menu_image %>
  </div>

  <div class='field'>
    <%= f.label 'Square Image' %>
    <%= image_tag @portfolio_entry.square_image.url, :width => '200' if @portfolio_entry.square_image %>
    <%= f.file_field :square_image %>
  </div>

  <% if (nested_portfolios = nested_set_options(PortfolioEntry, @portfolio_entry) {|i| "#{'-' * i.level} #{i.title}" }).present? %>
    <div class='field'>
      <%= f.label t('.parent') %>
      <%= f.select :parent_id, nested_portfolios, {:include_blank => true}, :class => "larger" %>
    </div><br />
  <% end %>

  <%= render :partial => "/shared/admin/form_actions",
             :locals => { :f => f,
                          :continue_editing => true } %>

<% end %>
