<%= "Title: " + @ad_piece.title %><br />
<%= "Description: " + @ad_piece.description %><br />
<%= "Ad Channel: " + @ad_piece.ad_channel.title %><br />
<br />
<%= link_to 'Edit', edit_ad_piece_path(@ad_piece) %> |
<%= link_to 'Back', ad_pieces_path %>
