<% @title = "Ad Campaigns" %>

<table id="table" border="1">
	<thead>
	  <tr>
			<th>Advertiser</th>
			<th>Title</th>
			<th>Ad Pieces</th>
			<th>Expiration</th>
			<th colspan="3"></th>
	  </tr>
	</thead>
	
	<tbody>
		<% for ad_campaign in @ad_campaigns %>
		  <tr valign="top" >
				<td><%= ad_campaign.advertiser.partner_name %></td>
				<td><%= ad_campaign.title %></td>
				<td><% ad_campaign.ad_pieces.each{ |p| %>
				  <%= p.title %><br/>
				<% } %> </td>
				<td><%= ad_campaign.expires_at.blank? ? 'never' : ad_campaign.expires_at.to_date.to_s %></td>
		    <td><%= link_to 'Show', ad_campaign %></td>
		    <td><%= link_to 'Edit', edit_ad_campaign_path(ad_campaign) %></td>
		    <td><%= link_to 'Destroy', ad_campaign, :confirm => 'Are you sure?', :method => :delete %></td>
		  </tr>
		<% end %>
	</tbody>
</table>

<div id="pager" class="pager">
	<form>
		<img class="first" src="images/icons/first.png"/>
		<img class="prev" src="images/icons/prev.png"/>
		<input class="pagedisplay" type="text"/>
		<img class="next" src="images/icons/next.png"/>
		<img class="last" src="images/icons/last.png"/>

		<select class="pagesize">
			<option value="15" selected="selected">15</option>
			<option value="30">30</option>
			<option value="50">50</option>
			<option value="100">100</option>
		</select>
	</form>
</div>
<br />
<br />

<%= link_to 'New Ad Campaign', new_ad_campaign_path %>

<script type="text/javascript">
	jQuery(document).ready(function() { 
	    jQuery("#table") 
		    .tablesorter({sortColumn: '#app', dateFormat: 'mm/dd/yyyy', widgets: ['zebra']}) 
		    .tablesorterPager({container: jQuery("#pager")}); 

	});
</script>
