<div class="titulo_abas abas_esq">
    <ul class="abas_busca">
        <%= content_tag :li, link_to("Amigos do Orkut", orkut_invitations_url),   :class => invitation_tab_class(:orkut, active ) unless logged_in_facebook? %>
        <%= content_tag :li, link_to("Amigos do Facebook", 'facebook'),           :class => invitation_tab_class(:facebook,    active ) if logged_in_facebook? %>
        <%= content_tag :li, link_to("Convidar por e-mail", new_invitation_url),  :class => invitation_tab_class(:new,      active ) %>
    </ul>
</div>