<% unless friends.nil? %>
 <% friends.each do |friend| %>
    <li <%="class='selecionado'" if friend.selected?%> id="<%=friend.id%>">

      <%= image_tag( friend.thumb_url, :width => 26, :class => 'img_jogador' )%>
      <div class="perfil">
        <h4>
          <%= friend.name%>
        </h4>
        <% if friend.selected? %>
          <%= link_to "Desfazer", "#",:class => 'bt_desfazer texthide toggle_button', :id => 'invite_button'%>
        <% else %>
          <%= link_to I18n.t(:Challenge), "#",:class => 'bt_desafiar texthide toggle_button', :id => "invite_button"%>
        <% end %>
<!--        <p class="nick">
          <% friend["id"]%>
        </p> -->
    </li>
    <% end %>

<% end %>

