<% content_for :head do %>
  <%= stylesheet_link_tag 'FrontEnd/busca' %>
  <%= javascript_include_tag 'futura/front_end/search_results' %>
  <script src="http://connect.facebook.net/en_US/all.js"></script>
<% end %>

<% render_sidebar %>

<div class="conteudo_principal">
    <%= render partial: 'invitation_tabs', locals: { active: :facebook } %>
    <div id="fb-root"></div>

    <p><input type="button"
              onclick="sendRequestViaMultiFriendSelector(); return false;"
              value="Convide seus amigos!" /></p>
</div>


<script>
  FB.init({
    appId: <%= Rails.configuration.facebook_app_id %>,
    status:true,
    cookie:true,
    oauth:true
  });

  function sendRequestToRecipients() {
    var user_ids = document.getElementsByName("user_ids")[0].value;
    FB.ui({method:'apprequests',
      message:'My Great Request',
      to:user_ids
    }, requestCallback);
  }

  function sendRequestViaMultiFriendSelector() {
    FB.ui({method:'apprequests',
      message:'My Great Request'
    }, requestCallback);
  }

  function requestCallback(response) {
    // Handle callback here
  }
</script>

