<% content_for :head do %>
    <%= stylesheet_link_tag 'FrontEnd/indicar_amigos' %>
<% end %>

<% render_sidebar %>

<div class="conteudo_principal">
    <%= render partial: 'invitation_tabs', locals: { active: :new } %>

    <div class="escolha_mensagem">
        <%= form_tag '/invitations' do %>
            <label> Destinatários </label>

            <p>Escreva os endereços de e-mail dos amigos que quer convidar, separados por vírgula. <br>(Ex.:
                joao@gmail.com, jose@gmail.com)</p>

            <%= text_area_tag :friends, nil, :rows => "3" %>

            <label for="msg_padrao">Mensagem</label>

            <p>Escreva uma mensagem personalizada, ou simplesmente clique em "enviar convites" para mandar a mensagem
                padrão abaixo</p>
            <%= text_area_tag :message, "Olá! Eu estou jogando o CDF: Clube Desafio Futura e quero te desafiar para uma partida. Venha se divertir comigo!", :rows => "10" %>

            <%= submit_tag "", :class => "bt_convites_azul" %>
        <% end %>
    </div>
</div>

