<% render_sidebar %>

<div class="conteudo_principal">
    <%= render partial: 'invitation_tabs', locals: { active: :orkut } %>

    <div class="conteudo_box">
        <p>Você ainda não relacionou sua conta ao orkut. Deseja associar agora?</p><br><br>
        <%= link_to "<span>#{I18n.t(:final_step_yes_orkut)}</span>".html_safe,
                    "/oauth_consumers/google", :class => "bt_orkutSIM texthide" %>
    </div>
</div>

