<% content_for :head do %>
    <%= stylesheet_link_tag 'FrontEnd/indicar_amigos' %>
<% end %>

<% render_sidebar %>

<div class="conteudo_principal">
    <%= render partial: 'invitation_tabs', locals: { active: :new } %>

    <p class="txt_basico" style="margin-top: 20px;"><strong>Seus convites foram enviados com sucesso.</strong></p>

    <p class="txt_basico">Clique no botão abaixo para enviar mais convites</p>

    <br><br><br><br>

    <%= link_to "", 'new', :class => "bt_enviarMaisConvites texthide" %>
</div>
