<% content_for :head do %>
  <%= stylesheet_link_tag 'FrontEnd/busca' %>
  <%= javascript_include_tag 'futura/front_end/search_results', 'scriptaculous' %>
<% end %>

<% render_sidebar %>

<div class="conteudo_principal">
    <%= render partial: 'invitation_tabs', locals: { active: :orkut } %>

    <p class="txt_basico">Para convidar seus amigos do Orkut, basta selecionar os perfis de cada um e clicar em "enviar
        convites".</p>
    <%= label_tag :filter, "Filtro" %>
    <%= text_field_tag :filter, "", :onkeyup => "filterOrkutFriends(this);" %>
    <br />
    <%= link_to "<span>Marcar todos</span>", {:action => 'orkut_invitation', :select_all => true}, :class => 'bt_marcarTodos texthide' %>
    <%= link_to "<span>Desmarcar todos</span>", {:action => 'orkut_invitation', :deselect_all => true}, :class => 'bt_desmarcarTodos texthide' %>
    <span id="orkut_invitation" style="display: none"></span>

    <p class="retorno_Orkut"><%= flash[:notice] %></p>
    <ul class="resultados_busca">
        <% @friends.each do |friend| %>
          <li <%= "class='selecionado'" if friend.selected? %> id="<%= friend.id %>">

              <%= image_tag(friend.thumb_url, :width => 26, :class => 'img_jogador') %>
              <div class="perfil">
                  <h4>
                      <%= friend.name %>
                  </h4>
                  <% if friend.selected? %>
                    <%= link_to "Desfazer", "#", :class => 'bt_desfazer texthide toggle_button', :id=>"invite_button" %>
                  <% else %>
                    <%= link_to I18n.t(:Challenge), "#", :class => 'bt_desafiar texthide toggle_button', :id=>"invite_button" %>
                  <% end %>
                  <% friend["id"] %>
              </div>
          </li>
        <% end %>
    </ul>
    <%= will_paginate @friends %>

    <%= link_to "<span>Enviar convites</span>", {:action => 'show_captcha'}, :class => 'bt_convitesOrkut texthide' %>
</div>

