<% content_for :head do %>
  <%= stylesheet_link_tag 'FrontEnd/busca' %>
<% end %>

<% render_sidebar %>

<div class="conteudo_principal">
    <%= render partial: 'invitation_tabs', locals: { active: :orkut } %>

    <div class="orkut_captcha">
        <%= form_tag '/invitations/send_orkut_invitation' do %>
          <p>Por favor, digite o texto da mensagem abaixo para podermos ter certeza de que você é um ser humano</p>
          <%= image_tag(url_for(:controller=>"invitations", :action => "captcha"), :class => 'captcha_img') %>

          <label>Digite o texto da mensagem ao lado</label>
          <%= text_field_tag :captcha_answer %>

          <h2>Conteúdo da sua mensagem:</h2>

          <div class="orkut_msg"><%= @message_body %></div>
          <%= submit_tag "", :class => "bt_enviarConvites texthide" %>
        <% end %>
    </div>
</div>

