<?xml version="1.0"  encoding="UTF-8"?><!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= "Axe Twist the Dice" %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style type="text/css">
      <!--
      body {
        background-color: black;
				color: white;
				font-size: 12px;
				font-weight: bold;
      }

      .titulo {
        font-size: 9px;
        color: yellow;
        font-family: Arial;
      }
      .texto {
        font-size: 9px;
        color: #ffffff;
        font-family: Arial;
				text-align: center;
      }
      a:link {
        font-size: 9px;
        color: yellow;
        font-family: Arial;
      }
      a:visited {
        font-size: 9px;
        color: yellow;
        font-family: Arial;
      }
      -->
  </style></head>
  <body>
		<%= yield %>
  </body>
</html>