<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"

"http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta>
      <link href="http://www.nanogames.com.br/css.css" rel="stylesheet" type="text/css">
    </meta>
  </head>

  <body><%= yield :layout %></body>
</html>
