<% cache "notifications_#{current_user.id}" do %>
  <% if current_user %>
    <% for notification in current_user.active_notifications %>
      <p class='notificacao' id="notification_<%= notification.id %>">
  <%#  TODO seria interessante colocar a hora aqui, no estilo "Há 2 horas" (Twitter)    <%=  time_ago_in_words notification.created_at %>
        <%= auto_link(notification.body) %>
      </p>
    <% end %>
  <% end %>
<% end %>
