﻿/*-----------------------------------------------------------------------------
iMuzDB Quiz - Home stylesheet
-----------------------------------------------------------------------------*/

/* =Band Stage
-----------------------------------------------------------------------------*/

.band_stage{
	background: url(../../images/imuz_db/bg_band.jpg) no-repeat 0 0;
	width: 470px;
	height: 192px;
	position: relative;
	overflow: hidden;
    margin-top: -7px;
}

.band_stage div {
	position: absolute;
}

.band_stage .guitarrist{
	background: url(../../images/imuz_db/guitarist.png) no-repeat 0 0;
	width: 123px;
	height: 166px;
	z-index: 10;
    display: none; /* To be shown by CSS */
}

.band_stage .guitarrist2{
	background: url(../../images/imuz_db/guitarist_2.png) no-repeat -30px 0;
	width: 103px;
	height: 164px;
    display: none; /* To be shown by CSS */
}

.band_stage .vocalist{
	background: url(../../images/imuz_db/vocalist.png) no-repeat 0 0;
	width: 56px;
	height: 101px;
    display: none; /* To be shown by CSS */
}

.band_stage .bassist{
	background: url(../../images/imuz_db/bassist.png) no-repeat 0 0;
	width: 84px;
	height: 139px;
    display: none; /* To be shown by CSS */
}

/* =Main Menu
-----------------------------------------------------------------------------*/

.main_menu{
	margin: 10px 0 0 0;
	width: 470px;
}

.main_menu li{
	font: bold 24px 'Droid Sans', Arial, sans-serif;
	height: 46px;
	background: url(../../images/imuz_db/bg_homeMenu.png) repeat-x 0 0;
	margin-bottom: 3px;
}

.main_menu li a{
	color: #1F130B;
	display: block;
	height: 38px;
	padding-top: 8px;
	padding-left: 50px;
}

.main_menu li a:hover{
	color: #C10202;
}

.menu_newGame a{
	background: url(../../images/imuz_db/ic_newGame.png) no-repeat 0 0;
}

.menu_ranking a{
	background: url(../../images/imuz_db/ic_ranking.png) no-repeat 0 0;
}

.menu_inviteFriends a{
	background: url(../../images/imuz_db/ic_inviteFriends.png) no-repeat 0 0;
}

.menu_help a{
	background: url(../../images/imuz_db/ic_help.png) no-repeat 0 0;
}

/* =Choose Nickname
-----------------------------------------------------------------------------*/

.choose_nickname{
    background: url(../../images/imuz_db/bg_nickname.png) no-repeat 0 0;
    width: 374px;
    height: 162px;
    margin: 10px 0 0 15px;
    padding: 15px;
    color: #1F130B;
}

.choose_nickname form{
    *margin-left: 15px;
}

.choose_nickname h2{
    font: bold 20px 'Droid Sans', Arial, sans-serif;
    padding-bottom: 10px;
}

.choose_nickname h2 strong{
    color: #C01919;
}

.choose_nickname p{
    font: bold 14px 'Droid Sans', Arial, sans-serif;
    margin-bottom: 10px;
}

.choose_nickname input[type='text']{
    border: 2px solid #524840;
    float: left;
    padding: 4px;
    width: 230px;
    margin: 10px 0;
    *margin-left: -15px;
}

.btn_playNow{
    float: left;
    margin: 3px 0 0 10px;
}

.choose_nickname p.form_error{
    float: left;
    clear: left;
    width: 100%;
    color: #6F0B0B;
    font: bold 12px Arial;
    padding: 12px 0 0 0;
    background: url(../../images/imuz_db/arrow_top.png) no-repeat 10px 0;
    margin: -5px 0 0 0;
}


