﻿/* =Ranking
-----------------------------------------------------------------------------*/

.ranking{
    min-height: 300px;
}

.scrolling_content{
    height: 300px;
    margin-top: 20px;
    margin-left: 15px;
}

.ranking_title h1{
    background: url(../../images/imuz_db/ic_rankingTitle.png) no-repeat 15px 10px;
    padding: 13px 0 10px 48px; 
}


/* =Table
-----------------------------------------------------------------------------*/

.ranking table{
    width: 420px;
}

.ranking table th{
    background: #AE0F0F;
    font: bold 16px Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: center;
    height: 27px;
    width: 32px;
    padding: 0 2px;
    border-bottom: 1px solid #C0B08E;
}

.ranking table td{
    height: 27px;
    color: #210F0D;
    font: 16px Arial, Helvetica, sans-serif;
    padding: 0 2px;
    border-bottom: 1px solid #C0B08E;
}

.ranking table td.player_name{
    padding: 0 10px;
    width: 220px;
    overflow-x: hidden;
}

td.badge{
    width: 56px;
}

td.badge span{
    display: block;
    width: 44px;
    height: 100%;
}

.ranking table td.score{
    font-weight: bold;
}

td.zebra{
    background: url(../../images/imuz_db/ranking_cell_bg.png);
}

td.student span{ background: url(../../images/imuz_db/badge_student.png) no-repeat right center;}
td.musician span{ background: url(../../images/imuz_db/badge_musician.png) no-repeat right center;}
td.soloist span{ background: url(../../images/imuz_db/badge_soloist.png) no-repeat right center;}
td.virtuoso span{ background: url(../../images/imuz_db/badge_virtuoso.png) no-repeat right center;}

.user_info{
    height: 28px;
    margin: 10px 0 0 15px;
    width: 440px;
    background: #210F0D;
}

.user_info td{
    color: #fff;
    font: bold 14px Arial, Helvetica, sans-serif;
    height: 28px;
}

.user_info td.player_name{
    background: #210F0D url(../../images/imuz_db/ic_user_table.png) no-repeat 0 0;
    padding-left: 50px;
    width: 220px;
    font-size: 13px;
}

.user_info td.score{
    color: #FF9933;
    font: bold 16px Arial, Helvetica, sans-serif;
    padding-left: 5px;
}




