<% content_for :head do %>
  <%= javascript_include_tag "imuz_db/mobile/sign_up", "imuz_db/mobile/date_select" %>
<% end %>
<div class="header">
  <h1>Edit Profile</h1>
</div>
<p class="general_text signup_text">Tap the desired field to edit</p>
<% form_for @customer , :url => {:controller => :customer_login, :action => :update, :id => @customer.id} do |f|%>
  <%= render :partial => 'form', :locals => {:editing => true, :type => 'register', :submit_text => "Save Profile", :f => f} %>
<% end %>
