<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>
  <title>Newsletter</title>
</head>

<body style="background: #000;">
    <div style="max-width: 545px;">
        <table cellspacing="0" cellpadding="0" border="0" style="border: 3px solid #705E42; background:#D5CCB4;" width="100%">
        <tr>
            <td style="background-color: #000" align="center">
                <img src="/imuz_db/mobile/images/email/email_top.jpg" width="544" height="82" alt="">
            </td>
        </tr>
        <tr>
            <td height="8"><img src="images/email/bar.gif" width="550" height="8" alt=""></td>
        </tr>
        <tr>
            <td style="font: 1.05em Arial, Helvetica, sans-serif; background: #D5CCB4 url(images/email/bg_email.jpg) repeat-x; padding: 1.5em 2em; color: #332D22; " valign="top">
                This URL is meant to be accessed with an iPhone, iPad or iPod Touch.
                <br><br>
                If you see this message, you are probably using a desktop browser. If that's the case, please play our <a href="http://apps.facebook.com/imuzdbquiz/" style="color: #9b2620;">desktop version</a> on Facebook.
            </td>
        </tr>
        </table>
    </div>

</body>

</html>
