<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="/imuz_db/mobile/images/icon-57x57.png"/>

    <link rel="apple-touch-startup-image" href="/imuz_db/mobile/images/splash_screen.jpg">
    <%= javascript_include_tag 'imuz_db/jquery_min','imuz_db/mobile/before_filters', 'imuz_db/mobile/modal', 
                               'imuz_db/mobile/listners', 'imuz_db/mobile/main' %>
    <title>ImuzDB</title>

    <style type="text/css">
        body{
            padding: 0;
            margin: 0;
        }

        #installation{
            background: url(/imuz_db/mobile/images/installation.jpg) no-repeat 0 -40px;
            width: 320px;
            height: 358px;
            position: relative;
        }

        .tooltip{
            background: url(/imuz_db/mobile/images/tooltip.png) no-repeat 0 0;
            width: 320px;
            height: 175px;
            bottom: 0;
            left: -3px;
            position: absolute;
        }

        .tooltip p{
            padding: 15px 15px 0 15px;
            margin: 0 0 0 8px;
            font: 14px 'Droid Sans', Helvetica, Arial, sans-serif;
            color: #554B39;
            line-height: 20px;
        }

    </style>
</head>
<body>
    <div id="installation">
        <div class="tooltip">
            <p>
                Welcome to the ImuzDB quiz iphone app.
                To install this app please touch the "+" icon below,and then select "Add to home screen". After that, just touch the iMuz DB icon on your device and you're ready to play.
            </p>
        </div>
    </div>
 </body>
</html>
