<% content_for :head do %>
  <%= javascript_include_tag "imuz_db/jquery_min", "imuz_db/mobile/mobile_login" %>
<% end %>
  
<div class="header">
  <h1>Login</h1>
</div>
<% form_for @customer, :url => {:controller => :customer_login, :action => :do_login} do |f|%>
  <%= render :partial => 'form', :locals => {:type => 'login', :submit_text => "Play", :f => f} %>
<% end %>
