<% content_for :head do %>
  <%= javascript_include_tag "imuz_db/mobile/sign_up", "imuz_db/mobile/date_select" %>
<% end %>
<div class="header app_title">
  <h1>SignUp</h1>
</div>

<% form_for @customer , :url => {:controller => :customer_login, :action => :create} do |f|%>
  <%= render :partial => 'form', :locals => {:type => 'register', :submit_text => "Sign Up And Play", :f => f} %>
<% end %>
<% content_for :modal do %>
  <%= render :partial => 'imuz_db/shared/modal', :locals => 
    {
      :header => 'Come back soon',
      :body => 'Thank you for installing the imuzDB quiz. We hope you come back soon and complete the sign up process. ItŽs just a couple of minutes and then youŽre free to play and compete in the ranking.'  
    }
  %>
<% end %>
