<% @title = "Ad Pieces" %>
<table id="table" border="1">
	<thead>
		<tr>
		  <th>Id</th>
			<th>Title</th>
			<th>Description</th>
			<th>Ad Channel</th>
			<th>Versions</th>
			<th colspan="3"></th>
	  </tr>
	</thead>

	<tbody>
		<% for ad_piece in @ad_pieces %>
		  <tr valign="top" >
		    <td><%= ad_piece.id %></td>
				<td><%= ad_piece.title %></td>
				<td><%= ad_piece.description %></td>
				<td><%= ad_piece.ad_channel.title %></td>
	      <td>
	        <% for version in ad_piece.ad_piece_versions do %>
	          <%= version.id.to_s + " - " + version.title %><br />
	        <% end %>
	      </td>
		    <td><%= link_to 'Show', ad_piece %></td>
		    <td><%= link_to 'Edit', edit_ad_piece_path(ad_piece) %></td>
		    <td><%= link_to 'Destroy', ad_piece, :confirm => 'Are you sure?', :method => :delete %></td>
		  </tr>
		<% end %>
	</tbody>
</table>

<br />
<br />
<%= paginate @ad_pieces %>
<%= link_to 'New Ad Piece', new_ad_piece_path %>