<% @title = "New Ad Piece" %>
<%= form_for(@ad_piece) do |f| %>
  <%= f.error_messages %>
	<table class="form">
		<tr>
			<td class="text"><%= f.label :title %></td>
			<td><%= f.text_field :title %></td>
		</tr>
		<tr>
			<td class="text"><%= f.label :description %></td>
			<td><%= f.text_field :description %></td>
		</tr>
		<tr>
			<td class="text"><%= f.label :ad_channel %></td>
			<td><%= f.collection_select(:ad_channel_id, @channel, :id, :title, :prompt => "Ad Channel") %></td>
		</tr>
		<tr>
			<td class="submit" colspan="2"><%= f.submit "Create" %></td>
		</tr>
	</table>
<% end %>

<%= link_to 'Back', ad_pieces_path %>
