<div class="coluna_auxiliar">
  <%=render :partial => 'shared/notification' %>

  <% cache "box_noticias", 5.seconds.from_now do %>
    <div class="box noticias">
      <h2>Notícias</h2>

      <% New.last_two.each do |news| %>
        <p>
          <strong><%= news.title %></strong>
          <%= news.summary %>
        </p>
      <% end %>
    <%= link_to "Leia mais", :controller => :home, :action => :news %>
    </div>
  <% end %>

  <% cache "box_sugestao_perguntas" do %>
    <% if StaticDataGame.first.suggest_question_active? %>
      <div class="box sugestao_perguntas">
        <h2>Sugestão de<span>Perguntas</span></h2>
        <p><a href="/suggest_question">Sugira perguntas para o jogo e ganhe pontos no ranking.</a></p>
      </div>
    <% else %>
      <div class="box sugestao_perguntas_maior">
        <h2>Sugestão de<span>Perguntas</span></h2>
        <p>Ganhe pontos no ranking sugerindo novas perguntas! Fique ligado e mande a sua quando a temporada de colaboração estiver aberta!</p>
        <%= link_to "Saiba mais", "/suggest_question", :class => 'link_mais' %>
      </div>
    <% end %>
  <% end %>
  
  <% render_ranking %>
  <%= yield :ranking_left_column %>
</div>
