<script>
  var $timer='';

  function forceExitRoom(){
    window.location = "/rooms/<%=current_user.room_id%>"     
  }

  function setTurnHTML(new_turn){
    $$(".indicador_jogadorAtivo").each(function(display, index){
      if(display.getStyle("display") == "inline"){
        display.setStyle({display: "none"});
      }
    });
      
    if($("turn_" + new_turn) != null ){  
      $("turn_" + new_turn).setStyle({display: "inline"});
    }
  }

  function getQuestion() {
    var question;
    new Ajax.Request("/games/get_question?game_id=<%=@game.id%>", {
      asynchronous:false,
      method: 'get',
      onSuccess: function(data){
        question = data.responseText.evalJSON();
      }
    });
    return question;
  }

  function sendQuestion(question, asnwer_status = null, answer = null) {
    var message = question.evalJSON();
    $('flash').getNewQuestion(message, answer_status, answer);
  }

  function join(user){
    if( $('flash') != null ){
      var user_json = user.evalJSON();
      try{
        $('flash').joinGame(user_json);
      }
      catch(err){
        "flash is not loaded"
      }
    }  
  }

  function requestUsersList()  {
    var users_list;
    new Ajax.Request("/games/users_list?game_id=<%=@game.id%>", {
      asynchronous:false,
      method: 'get',
      onSuccess: function(data){
        users_list = data.responseText.evalJSON();
      }
    });
    return users_list;
  }

  function setUserListHTML(users){
    player_list = $('lista_jogadores')
    for(index in users){
      player_list.append("<li class='" + users[index].color + "' id='jogador_" + users[index].id + "'>");
        player_list.append("<img src='" + users[index].thumb + "' alt='" + users[index].nickname + "' class='img_jogador'>");  
        player_list.append("<div class='info_jogador'>");
          player_list.append("<h5>" + users[index].nickname + "</h5>");
          player_list.append("<p class='info'><span>"+ users[index].ranking_position +"<sup>o</sup> lugar</span> - <span>"+ users[index].score +"pontos</span></p>");  
          player_list.append("</div>");
        player_list.append("</li>");
    }
  }

  function getMyID(){
    return '<%= current_user.id%>'
  }

  function leave(args){
    params = args.evalJSON()
    if( $('flash') != null){
      $('flash').leaveGame(params.id);
    }
    if( $('jogador_' + params.id) != null ){
      $('jogador_' + params.id).remove();
    }
    for(i=0; i < params.game_users; i++ ){
      if( $$('.indicador_jogadorAtivo')[i] != null ){ 
        $$('.indicador_jogadorAtivo')[i].id = 'turn_' + i
      }
    }
    if(params.user_turn == params.game_turn){
      askForNewTurn(null);
    }
  }

  function nextTurn(turn){
    if( $('flash') != null){
      $('flash').nextTurn(parseInt(turn));
    }
  }

  function askForNewTurn(turn){
    new Ajax.Request("/games/new_turn?game_id=<%=@game.id%>&turn=" + turn,{
      method: 'get',
      asynchronous:true})
  }

  function getAnswer(answer, question_id){

    new Ajax.Request("/games/verify_answer?answer=" + answer +"&question_id=" + question_id, {
      method: 'get',
      asynchronous:false
    });
  }

  function sendAnswerResponse(response, answer){
    if( $('flash') != null){
      $('flash').sendAnswerResponse(response, answer);
    }
  }

  function imReady(game_id){
    new Ajax.Request("/games/set_user?id=" + game_id, {
      method: 'get',
      asynchronous:true,
      onSuccess: function(){
        $$('.bt_pronto')[0].remove();
      }
    });
  }

  function setPlayerReady(user_id){      
    $('lobby_user_' + user_id).childElements()[0].innerHTML = "Está pronto"
    $('lobby_user_' + user_id).className="pronto"
  }

  function startTimer(game_id){
    if($('timer') == null){
      var timer_start = 0;
      new Ajax.Request("/games/get_timer?id=" + game_id, {
        method: 'get',
        asynchronous:false,
        onSuccess: function(data){
          timer_start = parseInt(data.responseText);
        }
      });
      timeout = 60 - timer_start
      text_timer = '<p>A partida terá início em: <span class="contador"><span id="timer">' + timeout + '</span> SEGUNDOS</span> <br> Você só entrará no jogo se clicar no botão "Estou pronto!" <br> dentro deste tempo.</p>'
      $('invite_header').insert({after: text_timer}) 
      new PeriodicalExecuter(function(pe) {
        $timer = pe;
        if (timeout == 0){
          pe.stop();
          startGame(game_id);
        }
        else{
          timeout = timeout - 1;
          $('timer').innerHTML = timeout; 

        }
      }, 1);
    }
  }

  function startGame(game_id){
    if($timer != ''){
      $timer.stop();
    }
    new Ajax.Request("/games/start_game?id=" + game_id, {
      method: 'get',
      asynchronous:true,
      onSuccess: function(){
        $('lightbox').remove();
      }
    });
  }

  function set_user_lobby( user_id, user_name ){
    if( ( $('lobby_list_users') != null ) && ( $('lobby_user_'+ user_id) == null)) {
      li = new Element('li');
      $('lobby_list_users').appendChild(li);
      li.setAttribute("id", "lobby_user_" + user_id);
      li.addClassName("nao_pronto");
      li.innerHTML = "" + user_name + " - <span>Não está pronto</span>";
    }
  }
  
  function getBackgroundURL(){
      var image_url = ""
      new Ajax.Request("/games/get_background_image", {
        method: 'get',
        asynchronous:false,
        onSuccess: function(image){
          if(image.responseText != "null"){
            image_url = "http://" + window.location.host + image.responseText
          }
          else{
            image_url = null
          }
        }
      });
      return image_url;
  }
  function endGame(){
     new Ajax.Request("/games/exit", {
       method: 'get',
       asynchronous:false,
       onSuccess: function(){
         window.location = "/rooms/index"
       }
     })
</script>
