<script>
  jQuery('#login_link').live('click', function() {
    constructModal('login_modal', '/users/sign_in');
  });
</script>

<a href="http://www.orkut.com.br/Main#Application?appId=41868001178" class="bt_jogarOrkut">
  <img src="/images/comum/bt_jogarOrkut.jpg" width="260" height="49" alt="Jogar Pelo Orkut" title="Jogar Pelo Orkut">
</a>

<%=link_to(image_tag("/images/comum/bt_jogarSite.jpg", :width=>'260', :height=>'49', :alt=>I18n.t(:play_from_site), :title=>I18n.t(:play_from_site)), "#", {:class=>"bt_jogarSite", :id => 'login_link'})%>
