<div class="carregando_jogo juggernaut_loading">
  <div class="popup pop_padrao">
    <div class="cabecalho_pop"></div>
    <div class="pop_meio">
      <div class="conteudo_pop">
        <h1>Arrumando <%= @type %><img src="/images/comum/loader.gif" class="img_load"></h1>
        <p>Por favor aguarde alguns instantes...</p>
        <%= link_to "<span>Cancelar</span>", @url_modal, :class => "bt_cancelar texthide" %>        
        </a>
      </div>
    </div>
  </div>
</div>
