<% if flash[:result] %>
  <script>
    function hide_element(e) {
      var element = document.getElementById(e);
      
      if ((element.className == "alerta msg_sucesso") || (element.className == "alerta msg_erro")) {
        element.style.visibility = 'hidden';
        $('#' + e).slideUp('slow');
      }
    };
    
    setTimeout("hide_element('flash_message')", 2000);
  </script>

  <div id="flash_message" class="alerta msg_<%=flash[:class]%>">
    <h6><%=flash[:result]%></h6>
    
    <% if flash[:description] %>
      <p><%=flash[:description]%></p>
      
      <!-- por algum motivo o flash não estava sendo apagado, então eu estou apagando ele na mão -->
      <% flash[:description] = nil %>
    <% end %>    
    
    <!-- por algum motivo o flash não estava sendo apagado, então eu estou apagando ele na mão -->
    <% flash[:result] = nil %>
    <% flash[:class] = nil %>
  </div>
<%end%>
