<% cache "box ranking_ipad", 3.minutes.from_now.time do %>
  <div class="box ranking_periodico promo_ipad">
    <h2>Promoção CDF Nota 10</h2>
    <ol>
      <% @ranking_players.each_with_index do |ranking_player, ranking_index| %>
        <li>
          <%= ranking_index + 1 %><sup>o</sup> <%= ranking_player.nickname%> - 
          <span><%= ranking_player.patent_name%></span>
        </li>
      <% end %>
    </ol>
    <a href="#" class="link_left">Ranking</a>
    <a href="#" class="link_right">Regras</a>
<% end %>

<% cache "box ranking_periodico#{current_user.id}", 3.minutes.from_now.time do %>
    <p class="sua_posicao">Sua posição: <%= current_user.position_in_week_ranking %><sup>o</sup></p>

    <%= link_to "Ver todo o ranking", {:controller => 'rankings', :action => 'weekly'}, :class => "link_mais" %>
  </div>
<% end %>
