<% content_for :head do %>
    <%=stylesheet_link_tag 'FrontEnd/cadastro'%>
    <%=stylesheet_link_tag 'FrontEnd/popup'%>
    <%=javascript_include_tag 'futura/front_end/registration'%>
<%end%>

<%if not user %>
<h1><%= I18n.t( :signup )%></h1>
<p class="texto_chamada"> <%=I18n.t(:register_to_play)%> <br /><%=I18n.t(:call_text)%></p>
<%end%>
<%
  if user

    resource_name = :user
    resource = user
    url = url_for(:controller => 'profiles', :action =>'update',  :id => user.id )
    method = :put
    disabled = true

  else
    url = registration_path(resource_name)
    method = :post
    disabled = false
  end
%>

<% form_for resource_name, resource, :url => url, :html => {:method => method, :multipart => true} do |f| -%>


    <% if not resource.errors.count == 0  and not user%>
      <%= render :partial => 'shared/messages' %>
      <div class='alerta msg_erro'>
        <%=f.error_messages%>
      </div>
    <%end%>

    <div class="coluna_form">
      <%= f.label :name, "<span class='obrigatorio'>#{I18n.t( :name )}</span>"%>
      <%= f.text_field :name, :tabindex =>1 %>

      <%= f.label :marital_status_id, I18n.t( :marital_status )%>

      <%= f.select :marital_status_id, MaritalStatus.all.collect{|status| [status.name, status.id]}, {:include_blank=>true}, :tabindex =>4 %>
      <p class="observacao obs_checkbox"><%= f.check_box :show_marital_status, :tabindex =>5%><%=I18n.t( :show_marital_status )%></p>

      <%= f.label :city, "<span class='obrigatorio'>#{I18n.t( :city )}</span>", :class=>'label_cidade'%>
      <%= f.text_field :city , :tabindex =>11%>


      <%= f.label :password, "<span class='obrigatorio'>#{I18n.t( :password_sign_up )}</span>", :class=>'label_senha'%>

      <%= f.password_field :password, :tabindex =>15, :disabled => disabled %>

      <%= f.label :password_confirmation, "<span class='obrigatorio'>#{I18n.t( :password_confirmation_sign_up )}</span>", :class=>'label_repetirSenha'%>
      <%= f.password_field :password_confirmation, :tabindex =>16, :disabled => disabled%>

      <% if user %>
        <a class="bt_trocarSenha texthide" onclick="enablePassword();">
          <span><%=I18n.t(:change_password)%></span>
        </a>
      <% end %>
    </div>

    <div class="coluna_form coluna_meio">
      <%= f.label :post_name, "<span class='obrigatorio'>#{I18n.t( :post_name )}</span>"%>
      <%= f.text_field :post_name, :tabindex =>2 %>

      <%= f.label :gender_id, I18n.t( :gender )%>
      <%= f.select :gender_id, Gender.all.collect{|gender| [gender.name, gender.id]},{:include_blank=>true}, :tabindex =>6 %>

      <div class="estado">
        <%= f.label :state_id, I18n.t( :state )%>
        <%= f.select :state_id, State.all.collect{|state| [state.abv, state.id]}, {:include_blank=>true},{:id=>'estado', :tabindex =>12}%>
      </div>

      <div class="pais">
        <%= f.label :country_id, I18n.t( :country )%>
        <%= f.select :country_id, Country.all.collect{|country| [country.name, country.id]}, {:selected => Country.find(:first, :conditions=>{:name=>"Brasil"}).id} , {:id=>'pais',:tabindex =>13}%>
      </div>

        <%= f.label :about, I18n.t( :about_me ), :class=>'label_sobre'%>
        <%= f.text_area :about, :tabindex =>17, :rows => 6, :cols => 10, :maxlength => 230%>
        <p><%= I18n.t(:limit_reminder) %></p>
    </div>

    <div class="coluna_form">
      <%= f.label :nickname, "<span class='obrigatorio'>#{I18n.t( :nickname )}</span>", :class=>'label_apelido'%>
      <%= f.text_field :nickname, :tabindex =>3 , :maxlength => 20%>

      <label class="label_nascimento">
        <span class='obrigatorio'><%=I18n.t( :born_date )%></span>
      </label>

      <%= f.text_field :born_day,    {:id => 'dia',
                                      :onkeyup => "checkNumberSize(this, 2);",
                                      :tabindex => 7} %>
      <%= f.text_field :born_month,  {:id => 'mes',
                                      :tabindex => 8,
                                      :onkeyup => "checkNumberSize(this, 2);"} %>
      <%= f.text_field :born_year,   {:id => 'ano',
                                      :tabindex => 9,
                                      :onkeyup => "checkNumberSize(this, 4);"} %>

      <p class="observacao obs_checkbox">
        <%= f.check_box :show_age, :tabindex =>10%><%= I18n.t( :show_age ) %>
      </p>

      <div class="foto_user">
      <% if not user %>
        <%= f.label :avatar, I18n.t(:you_pic), :class=>'label_foto'%>
        <%= f.file_field :avatar, {:class=>"bt_procurar", :size=>'14', :tabindex =>14}%>
      <% end %>
      </div>

      <%= f.label :email, "<span class='obrigatorio'>#{I18n.t( :email )}</span>", :class=>'label_email'%>
      <%= f.text_field :email, :tabindex =>18%>
      <p class="observacao obs_checkbox"><%= f.check_box :show_email, :tabindex =>19%><%=I18n.t( :show_email )%></p>
    </div>


    <div class="rodape_form">
      <p class="obrigatorios">*<%=I18n.t(:required_fields)%></p>
      <% if not user %>
      <ul>
        <li><%=f.check_box :agreed_terms, :tabindex =>20, :onclick => "setSubmitState()"%> <%=I18n.t(:read_and_agree_use_terms)%></li>
        <li><%=f.check_box :receive_newsletter, :tabindex =>21%> <%= I18n.t(:receive_newsletter_from_futura)%></li>
      </ul>
      <%end%>
      <% if user %>
        <%= f.submit "", {:class=>"bt_salvarAlteracoes"} %>
      <%else%>
        <%= f.submit "", {:class=>"bt_continuar_disabled"} %>
      <%end%>
    </div>
<% end -%>

<script>
  setSubmitState()
</script>

