<h2>
  <%= h "Editing user #{@user.nickname}" %>
</h2>

<%= form_for(@user) do |f| %>
  <%= f.error_messages %>

  <% if current_user.is_admin? %>
    <p>
      <%= f.label 'Nickname: ' %><%= f.text_field :nickname %>
    </p>

    <p>
      <%= f.label 'First name: ' %><%= f.text_field :first_name %>
    </p>

    <p>
      <%= f.label 'Last name: ' %><%= f.text_field :last_name %>
    </p>

    <p>
      <%= f.label 'Email: ' %><%= f.text_field :email %>
    </p>

    <p><label for="user_user_role">Role:</label>
    <%= select 'user', 'user_role_id',
        UserRole.all( :order => [ :name ] ).collect { |u| [u.name, u.id] },
        :prompt => "Select a role" %>
    </p>

    <p><label for="user_partner">Partner:</label>
    <%= select 'user', 'partner_id',
        Partner.all( :order => [ :name ] ).collect { |u| [u.name, u.id] },
        :prompt => "Select a partner" %>
    </p>
  <% else %>
    <p>
      <%= f.label "Nickname: #{@user.nickname}" %>
    </p>

    <p>
      <%= f.label 'First name: ' %><%= f.text_field :first_name %>
    </p>

    <p>
      <%= f.label 'Last name: ' %><%= f.text_field :last_name %>
    </p>

    <p>
      <%= f.label "E-mail: #{@user.email}" %>
    </p>

    <p>
      <label for="previous_password">Old password:</label>
      <%= password_field :previous_password, nil, :size => 40 %>
    </p>

    <p>
      <label for="user_password">New password:</label>
      <%= f.password_field :password, :size => 40 %>
    </p>

    <p>
      <label for="user_password_confirmation" >Confirm new password:</label>
      <%= f.password_field :password_confirmation, :size => 40 %>
    </p>
  <% end %>


  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<% if current_user.is_admin? %>
  <%= link_to 'Back', users_path %>
<% end %>