<div id="product-list">

  <h2>Users</h2>

  <table cellpading="0" width="900" border="0" cellspacing="2" >
	<tr>
	  <th>Id</th>
	  <th>Nickname</th>
	  <th>First name</th>
	  <th>Last name</th>
	  <th>E-mail</th>
	  <th>Partner</th>
	  <th>Role</th>
	</tr>
  <% for user in @users %>
	<tr valign="top" class="<%=cycle('list-line-odd', 'list-line-even' ) %>" >

	  <td class="list-title" ><%=h user.id %></td>
	  <td class="list-title" ><%=h user.nickname %></td>
	  <td class="list-title" ><%=h user.first_name %></td>
	  <td class="list-title" ><%=h user.last_name %></td>
	  <td class="list-title" ><%=h user.email %></td>
	  <td class="list-title" ><%=h user.partner.nil? ? 'none' : user.partner.name %></td>
	  <td class="list-title" ><%=h user.user_role.name %></td>

	  <td class="list-actions" ><%= link_to 'Show', user %></td>
	  <td class="list-actions" ><%= link_to 'Edit', edit_user_path(user) %></td>
	  <td class="list-actions" ><%= link_to 'Destroy', user, :confirm => "Remove user \##{user.id}?", :method => :delete %></td>
	</tr>
  <% end %>
  </table>

  <br/>

</div>
<%= paginate @users %>
<%= link_to 'Add user', new_user_path %>
