<h1>New user</h1>

<%= form_for( @user ) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nickname %><br/>
    <%= f.text_field :nickname %>
  </p>

  <p>
    <%= f.label :first_name %><br/>
    <%= f.text_field :first_name %>
  </p>

  <p>
    <%= f.label :last_name %><br/>
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= f.label :email %><br/>
    <%= f.text_field :email %>
  </p>

  <p><label for="user_user_role">Role:</label>
  <%= select 'user', 'user_role_id',
	  UserRole.all( :order => [ :name ] ).collect { |u| [u.name, u.id] },
	  :prompt => "Select a role" %>
  </p>

  <p><label for="user_partner">Partner:</label>
  <%= select 'user', 'partner_id',
	  Partner.all( :order => [ :name ] ).collect { |u| [u.name, u.id] },
	  :prompt => "Select a partner" %>
  </p>

  <p>
    <label for="user_password">Password:</label>
    <%= f.password_field :password, :size => 40 %>
  </p>

  <p>
    <label for="user_password_confirmation" >Confirm:</label>
    <%= f.password_field :password_confirmation, :size => 40 %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', users_path %>




