<% form_for(:translation, :url => {:action => "update_translation"}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.hidden_field :id %>
  </p>

  <p>
    <%= f.hidden_field :news_feed_id %>
  </p>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>

  </p>
    <%= f.submit "Update".t %>
  </p>

<% end %>

<%= link_to 'Back', :action => "show" %>
