<h1 class="with_button">
  <span>Editing > </span><%= @translation.title %>
  <%= link_to "Delete Article", @news_feed, :confirm => "Remove news #{@translation.title}?", :method => :delete, :class => "button delete_article" %>
</h1>

<% form_for(@news_feed) do |f| %>
  <% unless @news_feed.errors.blank? && @translation.errors.blank? %>
    <div class="error_message">
      <%= error_messages_for :news_feed %>
      <%= error_messages_for :translation %>
    </div>
  <% end %>

    <% unless !session_user.partner.blank? && session_user.partner.name == "imuz_db" %>
        <%= f.label :news_feed_category_id %>
        <%= f.collection_select(  :news_feed_category_id,
                                  @news_feed_categories,
                                  :id,
                                  :title,
                                  :prompt => 'Select a news feed category' ) %>
    <% end %>

    <%= label :translation, "Title".t %>
    <%= text_field :translation, :title %>

    <%= label :translation, "Content".t %>
    <%= text_area :translation, :content %><br />

    <%= f.label :active, "Status" %>
    <%= f.collection_select(:active,
                            { "Active" => true, "Archived" => false },
                            :last,
                            :first ) %>

  <div class="button_row">
    <button type='submit'>Save</button>
    <a href="/news_feeds" class="button bt_back"><span>&lsaquo;&lsaquo;</span>Back</a>
  </div>

<% end %>
