<h1><span>News > </span>Manage News</h1>

<!--<div class="pagination">-->
  <!--<ul>-->
    <!--<li class="prev"><a href="#"></a></li>-->
    <!--<li><a href="#">1</a></li>-->
    <!--<li><a href="#">2</a></li>-->
    <!--<li><a href="#">3</a></li>-->
    <!--<li class="next"><a href="#"></a></li>-->
  <!--</ul>-->
<!--</div>-->

<div>
  <table class="data_table" >
    <tr>
      <th class="title">Title</th>
      <th class="status">Status</th>
      <% unless !session_user.partner.blank? && session_user.partner.name == "imuz_db" %>
        <th><%= "Category".t %></th>
        <th><%= "Language".t %></th>
      <% end %>
      <th class="edit">Edit</th>
      <th class="delete">Delete</th>
    </tr>
	
	<% if !@news_feeds.blank? %>
	  <% for feed in @news_feeds %>
		<tr valign="top" class="<%=cycle('', 'zebra') %>" >
			<td class="title" ><%=h feed.title %></td>
			<td class="status <%= feed.status %>" ><%=h feed.status.to_s.capitalize %></td>
      <% unless !session_user.partner.blank? && session_user.partner.name == "imuz_db" %>
        <td class="list-title" ><%=h feed.category %></td>
        <td class="list-title" ><%=h feed.language %></td>
      <% end %>
      <td class="edit" ><%= link_to image_tag("imuz_db/admin/ic_editar.png",
                                              :width => 23,
                                              :height => 20,
                                              :alt => "edit",
                                              :title => "Edit"),
                                    :action => :edit,
                                    :id => feed.id %></td>

      <td class="delete" ><%= link_to image_tag("imuz_db/admin/ic_apagar.png",
                                              :width => 23,
                                              :height => 20, 
                                              :alt => "edit",
                                              :title => "Edit"),
                                      feed,
                                      :confirm => "Remove news #{feed.title}?",
                                      :method => :delete %></td>
		</tr>
	  <% end %>
	<% end %>
	</table>

  <!--<div class="pagination">-->
    <!--<ul>-->
      <!--<li class="prev"><a href="#"></a></li>-->
      <!--<li><a href="#">1</a></li>-->
      <!--<li><a href="#">2</a></li>-->
      <!--<li><a href="#">3</a></li>-->
      <!--<li class="next"><a href="#"></a></li>-->
    <!--</ul>-->
  <!--</div>-->
  <br class="clear">
</div>

<%= if ( session_user.is_admin? ) then link_to 'Add news feed'.t, :action => :new end %>