<% unless @news_feed.errors.blank? && @translation.errors.blank? %>
  <div class="error_message">
    <%= error_messages_for :news_feed %>
    <%= error_messages_for :translation %>
  </div>
<% end %>

<h1><span>News > </span>Add News Article</h1>

<% form_tag :controller => :news_feeds, :action => "create" do -%>
  <% if !session_user.partner.blank? && session_user.partner.name == "imuz_db" %>
    <%= hidden_field :news_feed, :news_feed_category_id, :value => NewsCategoryTranslation.find_by_title("Main").news_feed_category.id %>
  <% else %>
    <%= label :news_feed, "Category".t %><br/>
    <%= collection_select(:news_feed,
                          :news_feed_category_id,
                          @news_feed_categories,
                          :id,
                          :title,
                          :prompt => 'Select a news feed category'.t) %>
  <% end %>

  <% if !session_user.partner.blank? && session_user.partner.name == "imuz_db" %>
    <!--<input id="translation_language_id" name="translation[language_id]" value="#{Language.find_by_name('English').id}" type="hidden" />-->
    <%= hidden_field_tag "translation[language_id]", Language.find_by_name("inglês").id %>
  <% else %>
    <%= label :translation, "Language".t %>
    <%= collection_select(:translation,
                          :language_id,
                          @languages,
                          :id,
                          :name,
                          :prompt => "Select a language".t) %>
  <% end %>

  <%= label :translation, "Title".t %>
  <%= text_field :translation, :title %>

  <%= label :translation, "Content".t %>
  <%= text_area :translation, :content %><br >
  
  <%= label :news_feed, :active, "Status" %>
  <%= collection_select(:news_feed,
                        :active,
                        { "Active" => true, "Archived" => false },
                        :last,
                        :first ) %>

  <div class="button_row">
    <button type='submit'>Save</button>
    <a href="/news_feeds" class="button bt_back"><span>&lsaquo;&lsaquo;</span>Back</a>
  </div>
<% end -%>

<script>
  $('.bt_back').click(function() {
    if($('.nicEdit-main').css('background-color', 'white').text().length > 0) {
      if(!confirm("Your modifications will not be saved. Are you sure you want to continue?")) {
        return false;
      }
    }
  });
</script>