<%= error_messages_for :news_feed %>

<% form_for @news_feed do |f| -%>
	<p> <%= f.label "Feed id".t %>:
		<%= f.label "#{@news_feed.id}" %></p>

	<p> <%= f.label "Category".t %>:
		<%= f.label "#{@news_feed.category}" %></p>
		
		<h3><%= "Translations".t %>:</h3>
	<table cellpading="0" border="0" cellspacing="2" >
	<tr class="list-title"><%=  %>
	  	<th><%= "Title".t %></th>
	  	<th><%= "Description".t %></th>
	  	<th><%= "Url".t %></th>
	  	<th><%= "Language".t %></th>
	</tr>

	<% if !@news_feed.translations.blank? %>
		<%= render :partial => "translation_detail", :object => @news_feed.translations %>
	<% end %>
	</table>
	<br/>
<% end -%>

<p><%= link_to "Add Translation".t, :action => :add_translation, :id => @news_feed.id %></p>
<p><td class="list-actions" ><%= link_to "Change category".t, :action => :edit, :id => @news_feed.id %></td></p>

<%= link_to "Back".t, :action => "index" %>