<% content_for :head do %>
    <%=stylesheet_link_tag 'FrontEnd/cadastro'%>
<%end%>
<h1><%=I18n.t(:Activation)%></h1>

<div class="box_mensagem">
  <div class="conteudo_box">

    <p><strong><%=I18n.t(:register_with_success)%></strong><br><%=I18n.t(:tell_for_your_friends)%></p>


    <%=link_to("<span>#{I18n.t(:play_now)}</span>", {:controller=>'rooms'}, :class=>'bt_jogarAgora texthide')%>

    <%=link_to("<span>#{I18n.t(:friends)}</span>", {:controller=>'invitations', :action =>'new'}, :class=>'bt_convidarAmigos texthide')%>
  </div>
</div>


