!!!
%html
    %head
        %title
            BigCola
        = stylesheet_link_tag :all
        = javascript_include_tag :defaults
        = csrf_meta_tag

    %body  
        = yield
    
        %script
            // QueryLoader.init();