<% content_for :head do %>
    <%= include_stylesheets  :contact %>
<% end %>

<div class="box_cabecalho">
    <%= render :partial => 'shared/contact_menu' %>
    <p><%= t('contact.form.brazil') %> - Rio de Janeiro - RJ<br />Rua do Carmo, Centro, n.7, 11. andar<br /><a href="mailto:contato@nanostudio.com.br"><%= t('contact_email') %></a></p>

    <%= render :partial => 'shared/social_network' %>
</div>

<%= form_for @inquiry, :html => {:class => 'form_contato'} do |f| %>
    <%= f.required_label :name %>
    <%= f.text_field :name %>
    <%= f.required_label :email %>
    <%= f.text_field :email %>
    <%= f.required_label :phone %>
    <%= f.text_field :ddd, {:id => 'ddd', :class=> 'numeric', :maxlength => "3"} %>
    <%= f.text_field :phone, {:id => 'phone', :class=> 'numeric', :maxlength => "8"} %>
    <%= f.required_label :message  %>
    <%= f.text_area :message, :rows => 15 %>

    <div class="link_envio">
        <button type='submit'><%= t('contact.form.send') %></button>
    </div>
<% end %>

<section class="mensagens" style='display: <%= @inquiry.errors.any? ? 'block' : 'none' %>';>
    <div class="msn erro">
        <h2>
            <%= t('inquiry.form.error') %>
        </h2>
        <p class="txt_msn"><%= t('inquiry.form.guidelines') %></p>

        <ul class="error_list">
            <% @inquiry.errors.full_messages.each do |error| %>
                <li><%= error %></li>
            <% end %>
        </ul>
    </div>
</section>