<% content_for :head do %>
  <%= include_stylesheets :contact_success %>
<% end %>

<h1 class="titulo_principal">
  <span class="link_titulo"><%= t('inquiry.success.header') %></span>
  <img src="/images/icones/envelope.png"
       width="70"
       height="53"
       alt=""
       class="ic_titulo"/>
</h1>

<a href="/contact" class="retorno_de_pagina">
  <span>&lt;</span>
  <%= t('inquiry.success.back') %>
</a>

<div class="box_padrao box_obrigado clearfix">
  <h2>
    <span class="subtitulo"><%= t('inquiry.success.message') %></span>
  </h2>

  <p>Sua mensagem foi enviada com sucesso! Entraremos em contato assim que poss&iacute;vel.</p>

  <p>Obrigado!</p>
</div>

