<h3><%= flash[ :result ] %></h3>
<%= form_for @notification, :url => admin_notification_path(@notification)  do |notification_form| %>
  <%= render :partial=>'form', :locals => { :notification_form => notification_form } %>
<%end%>
