/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require jquery.ui.autocomplete.custom
*/

/* =General
-----------------------------------------------------------------------------*/
h2 {
    font-weight: bold;
    color: #23160c;
    margin-bottom: 10px;
}

fieldset {
    float: left;
    margin: 5px 30px 20px 0;

}

fieldset legend {
    font-size: 0.9em;
}

.userButton {
   margin-top: 15px;
}

.edit_user input,
.new_user input {
    margin-bottom: 15px;
}


/* = Product Basic informations
-----------------------------------------------------------------------------*/
.publishedField {
    margin-top: 15px;
}

.publishedField label {
    display: inline;
}

.publishedField #product_published_sim {
    margin-right: 15px;
}

.publishedField legend {
    padding-bottom: 5px;
    font: bold 0.75em Arial;
}

.tagField {
    clear: both;
}


.tagField div.line {
    clear: both;
    min-height: 50px;
}

.tagField label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

#mytags {
   border: 1px solid #23160C;
   background-color: #F0EBE3;
}

.price {
    clear: left;
}

.price input {
    width: 95px;
}

fieldset.saveButton {
    clear: left;
    margin-bottom: 0;
}


/* = Products Descriptions
-----------------------------------------------------------------------------*/
.description {
    padding-top: 10px;
    clear: both;
}

.description fieldset {
    margin-bottom: 10px;
}

.description fieldset legend {
    font-weight: bold;
}

.description fieldset label {
    margin: 5px 0 5px;
}

#new_description_button {
    margin-bottom: 10px;
}


/* = Product Categories
-----------------------------------------------------------------------------*/
.newCategory .selectField {
    margin-left: 40px;
    clear: right;
}

.categoryDescriptions {
    margin-top: 10px;
}

.editCategory {
  clear: both;
}


/* = Product Images
-----------------------------------------------------------------------------*/
fieldset#images {
    float: none;
}

.linkAdd {
  /*  float: left;  */
    text-decoration: underline;
}

.imageButtons a:nth-child(2) {
    float: right;
    text-decoration: underline;
}

.thumbnail {
    background: url("/images/bg_column.gif") repeat scroll 0 0 #E7E1D8;
    padding:15px;
    border: 1px solid #FFF9F0;
    border-radius: 3px;
    width: 96%;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    margin-top: 10px;
}

.thumbnail legend {
    background-color: white;
    color: #4D3C32;
    padding: 0 5px;
    border-radius: 3px;
    border: 3px solid #E7E1D8;
}

.thumbnail ul {
    padding-bottom:25px;
}

.thumbnail ul li {
    border: 2px solid #CCC6BF;
    border-radius: 4px;
    background-color: #fff;
    float:left;
    position:relative;
    margin-right: 15px;
    text-align: center;
    padding: 5px;
    margin-bottom: 15px;
}

.thumbnail ul li p {
    border-top: 2px solid #CCC6BF;
    padding: 2%;
}

.thumbnail ul li .loader {
    position: absolute;
    top: 0;
    left:0;
    left: 50%;
    margin-left: -64px;
    top: 50%;
    margin-top: -64px;
}

.thumbnail .alignButton {
    clear:left;
}

.links {
    position:absolute;
    width: 135px;
    border: 1px solid #A89371;
    background-color: rgba(231, 225,216, 0.8);
    border-radius: 4px;
    box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.5);
    padding: 8px;
    z-index: 99;
}

.links a {
    display: block;
    text-decoration: underline;
    text-align: center;
    padding: 5px 0;
    clear: left;
}

.links a:hover {
    color: #D90000;
}

#replace_thumb_form .alignButton {
    clear: left;
}

/* = Errors
-----------------------------------------------------------------------------*/
label.error {
    float: none;
    color: #FF0000;
    padding-top: .5em;
    vertical-align: top;
    margin-top: 3px;
}


/* =Overlay
-----------------------------------------------------------------------------*/
.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    z-index: 100;
}

.overlay .popup {
    width: 500px;
    height: 500px;
    margin: 7% auto;
}

.popup_form {
    background-color: #E7E1D8;
    padding: 30px 20px 20px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #D7D7D7;
}

.popup_form h4 {
    background-color: #23160C;
    color: #E7E1D8;
    border-radius: 2px;
    margin-bottom: 20px;
    padding: 8px 12px;
}

.popup_form fieldset {
    margin: 0 0 20px 0;
}

.popup_form .alignButton {
    margin-bottom: 0;
}

.popup_form .locale {
    margin-right: 30px;
}

.popup_form input[type="text"] {
    width: 268px;
    height: 17px;
}

.popup_form textarea {
    width: 450px;
}

.popup_form select,
.popup_form input[type="text"],
.popup_form textarea {
    background-color: #fff;
}

.chooseDimension label,
.chooseDimension input {
    float: left;
}

.chooseDimension label {
    margin-left: 10px;
    margin-top: 0;
}

.chooseDimension p {
    clear: left;
    font-weight: bold;
    font-size:0.8em;
    margin-bottom: 5px;
}

.chooseDimension ul li {
    font-size:0.8em;
    float: left;
}

.chooseDimension ul li:nth-child(even) {
    margin: 0 10px;
}


/* =Highlight
-----------------------------------------------------------------------------*/
.optionLinks {
    clear: none;
    float: left;
    margin-left: 10px;
}

.optionLinks p {
    margin-bottom: 10px;
    text-decoration: underline;
}

.optionLinks .show_thumbs {
    padding-left: 12px;
    background: url(/images/leftArrowBlack.png) 0 2px no-repeat;
}

.optionLinks .hide_thumbs {
    padding-left: 20px;
    background: url(/images/downArrowBlack.png) 0 7px no-repeat;
}

.buttonsForImg {
    margin-top: 15px;
    clear: both;
}

/* Edição do produto
-----------------------------------------------------------------------------*/

fieldset.modifiers {
  clear: both;
}

properties_form {
    margin: 10px 0;
}

.properties_form input[type=text] {
    margin-bottom: 10px;
}
