﻿/*-----------------------------------------------------------------------------
Nano Studio - Product Registration Stylesheet

author:   Werther Azevedo
website:   http://www.nanostudio.com.br/
-----------------------------------------------------------------------------*/

/* =General
-----------------------------------------------------------------------------*/
body{
    background: #E7E1D8;
    font-size: 100%;
}

.main_content a:link {
    color: #970303;
}

.main_content a:visited {
    color: #23160c;
}

.main_content a:hover {
    color: #23160c;
}

.texthide span{
    position: absolute;
    margin-left: -10000px;
}

.clear{
    clear: both;
    height: 1%;
}

#admin{
    width: 980px;
    margin: 10px auto 20px;
    background: #fff url(/images/bg_column.gif) repeat-y;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 7px;
}

h1.with_button{
    position: relative;
}

/* =Header
-----------------------------------------------------------------------------*/
.header{
    background: #23160C;
    height: 106px;
    position: relative;
    border-radius: 5px 5px 0 0;
}

.header .logo{
    margin: 15px 0 0 20px;
}

.tit_admin{
    position: absolute;
    top: 0;
    right: 0;
    background: url(/images/img_admin.png) no-repeat 0 0;
    width: 116px;
    height: 49px;
    border-radius: 7px;
}

/* =Main Content
-----------------------------------------------------------------------------*/
.main_content{
    width: 760px;
    float: left;
    margin-right: 20px;
    min-height: 600px;
    padding: 10px 0 20px 20px;
}

.main_content h1{
    font: bold 1em 'Droid Sans', Arial, sans-serif;
    color: #D90000;
    margin: 20px 0;
    border-bottom: 1px dotted #A89371;
    padding-bottom: 10px;
}

.main_content h1 span{
    font-size: 0.875em;
    color: #333333;
}

.main_content #mainLogo {
    margin-left: 70px;
    border: 1px solid red;
}


/* =Navigation
-----------------------------------------------------------------------------*/
.main_menu{
    background: #A89371;
    height: 34px;
    margin-top: 1px;
    border-bottom: 2px solid #fff;
}

.main_menu ul{
    float: left;
}

.main_menu li{
    padding: 7px 10px 8px 10px;
    float: left;
}

.main_menu li a{
    text-transform: uppercase;
    font-size: 0.75em;
    color: #23160C;
    font-weight: bold;
}

.main_menu li.selected {
    background-color: #4D3C32;
}

.main_menu li a:hover, .main_menu li.selected a{
    color: #fff;
}

.logout_link{
    float: right;
    font-size: 0.75em;
    padding: 8px 10px 0 10px;
    background: #4D3C32;
    height: 26px;
    color: #F0EBE3;
}

.logout_link:hover{
    text-decoration: underline;
    background: #970303;
}

.logout_link span{
    font-weight: bold;
    font-size: 0.75em;
    margin-right: 5px;
}

.contextual_menu{
    background: #F0EBE3;
    width: 180px;
    float: left;
}

.contextual_menu ul{
    margin: 20px 10px 0 10px;
}

.contextual_menu li a{
    color: #22150C;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #fff;
    padding: 8px 0 10px 0;
    display: block;
}

.contextual_menu li a:hover {
    color: #a89371;
    border-bottom: 1px solid #23160C;
}

.contextual_menu li.selected a{
    color: #D90000;
}

.contextual_menu li.selected{
    font-weight: bold;
}


/* =Tables
-----------------------------------------------------------------------------*/
.data_table{
    width: 100%;
    font: 0.875em Arial;
    color: #333333;
    border-collapse: collapse;
}

.data_table td, .data_table th{
    text-align: center;
    padding: 8px 5px;
    border: 1px solid #999999;
}

.data_table tr th{
    background: #23160C;
    color: #fff;
    font-size: 0.875em;
    padding: 10px 5px;
}

.data_table td.title, .data_table th.title{
    text-align: left;
    padding-left: 20px;
}

.data_table .zebra{
    background: #EEEAE3;
}

.data_table td.online{
    color: #006600;
    font-weight: bold;
}

.data_table td.archived{
    color: #999999;
    font-weight: bold;
}

.data_table a {
    text-decoration: underline;
}

#table_descriptions {
    margin: 5px 0 15px 0;
}

/* =Pagination
-----------------------------------------------------------------------------*/
.pagination{
    float: right;
    margin: 20px 0;
}

.pagination li{
    float: left;
    margin: 0 5px;
}

.pagination li a, .pagination li span{
    font-weight: bold;
    font-size: 0.8125em;
    float: left;
    width: 20px;
    height: 18px;
    padding-top: 2px;
    color: #22150C;
    text-align: center;
}

.pagination li a:hover, .pagination li span.current{
    background: #23160C;
    color: #fff;
}

.pagination li.next a{
    background: #23160C url(/images/seta_dir.png) center center no-repeat;
}

.pagination li.prev a{
    background: #23160C url(/images/seta_esq.png) center center no-repeat;
}

/* =Form Elements
-----------------------------------------------------------------------------*/
label, legend{
    display: block;
    font: bold 0.75em Arial;
    margin-bottom: 5px;
    margin-top: 10px;
}

input[type="text"],
input[type="password"],
textarea {
    background: #F0EBE3;
    border: 1px solid #23160C;
    width: 345px;
    display: block;
    padding: 3px;
}

textarea{         
    height: 150px;
}

.shortDescription {
    height: 60px;
    overflow: auto;
}

.labelDescriptionFull {
    margin-top: 20px;
}

select{
    background: #F0EBE3;
    border: 1px solid #23160C;
    height: 22px;
    min-width: 150px;
}

select optgroup {
    color: #A89371;
}

select optgroup option {
    color: #23160C;
}

/* =Links and Buttons
-----------------------------------------------------------------------------*/
.delete_article{
    position: absolute;
    right: 0;
    top: -3px;
    background: #23160C url(/images//ic_apagar_pq.png) no-repeat 8px 7px;
    padding-left: 28px;
}

.button_row{
    margin: 10px 0 0 0;
}

.button_row .button, .button_row button{
    float: left;
    margin-right: 10px;
}

.bt_back span{
    font-size: 0.9375em;
    line-height: 10px;
    font-weight: bold;
    padding-right: 5px;
}


button, .button {
    display: block;
    background: #23160C;
    color: #fff;
    border: none;
    padding: 6px 8px;
    -moz-border-radius: 3px;
    -opera-border-radius: 3px;
    border-radius: 3px;
    font: bold 0.75em Arial;
    cursor: pointer;
}

.alignButton {
    float: left;
}

.alignButton button,
.alignButton .button {
    float: left;
    margin: 15px 15px 0 0;
}

a.button {
    display: inline;
    color: #fff;
    padding: 6px 7px;
}

a:hover.button,
a:link.button,
a:visited.button {
    color: #fff;
}

a.cancel {
    float: left;
    margin-right: 10px;
}

input[disabled="disabled"], a.disabled {
    background: #65635b;
    color: #fff;
    cursor: default;
}

/* =Messages
-----------------------------------------------------------------------------*/
.message{
    padding: 15px;
    margin: 10px 0;
    font-size: 0.8125em;
    font-weight: bold;
    line-height: 18px;
    border-radius: 2px;
}

.fail {
    color: #fff;
    background: #D00000;
    border: 1px solid red;
    text-shadow: 1px 1px 3px 790000;
    box-shadow: inset 9px 9px 50px rgba(92,0,0,0.5);
}

.success {
    color: white;
    background: #3C0;
    border: 1px solid #0C0;
    text-shadow: 1px 1px 2px #0A6C05;
    box-shadow: inset 9px 9px 70px rgba(0,0,0,0.5);
    border: 1px solid #0A6C05;
}

