/* =Reset
-----------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
-----------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
/* end of eric meyer's reset
-----------------------------------------------------------------------*/

/* force a vertical scrollbar to prevent a jumpy page */
html { overflow-y: scroll; }

body {               
    font: 0.75em Helvetica, Arial, Helmet, Freesans, sans-serif;
}

a { background: transparent; text-decoration: none; }
/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #fcd700; }

/* Responsive images and other embedded objects  */
img, object, embed {max-width: 100%;}
/* scale images in IE7 more attractively */
.ie7 img { -ms-interpolation-mode: bicubic; }

ol, ul { list-style: none; }

/* forms */
button, input, select, textarea {margin: 0;}
input, select {vertical-align: middle;}
input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; *vertical-align: baseline;}
select, input, textarea {font: 99% arial,helvetica,clean,sans-serif;}
/* make buttons play nice in IE */
button {width: auto; overflow: visible;}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Make sure sup and sub don't screw with your line-heights
 gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* hand cursor on clickable elements */
.clickable, label, input[type=button], input[type=submit], button { cursor: pointer; }

/* clearfix: http://nicolasgallagher.com/micro-clearfix-hack   */
.clearfix:before, .clearfix:after {
    content:"";
    display:table;
}
.clearfix:after { clear:both; }
.clearfix { zoom:1; }

/* Hide for both screenreaders and browsers */
.hidden { display:none; visibility:hidden; }
/* Hide only visually, but have it available for screenreaders http://www.webaim.org/techniques/css/invisiblecontent/ */
.visuallyhidden { position:absolute; left:-10000px; top:auto; width:1px; height:1px; overflow:hidden; }
.invisible { visibility: hidden; }
