/* =Invite Area
-----------------------------------------------------------------------------*/

.friend_invite{
    width: 639px;
    height: 364px;
    background: url(../../images/imuz_db/bg_invite.jpg) no-repeat 0 0;
    margin: 10px 0 0 25px;
}

.friend_invite h2{
    float: left;
    font: bold 16px Arial;
    color: #1F130B;
    width: 250px;
    margin: 30px 0 0 30px;
}

/* =Invite Component
-----------------------------------------------------------------------------*/

.friend_invite .invite_component{
    float: right;
    margin: 40px 25px 0 0;
    width: 320px;
}

.invite_component .interaction_area{
    width: 320px;
    height: 274px;
    border: 1px solid #8F0D0D;
    font: 11px Arial;
    color: #000;
}

.invite_component input[type="checkbox"]{
    margin-right: 5px;
}

.friend_box{
    background: #fff;
    overflow: auto;
    height: 123px;
}

.friend_box ul{
    margin-top: 5px;
}

.friend_box li{
    margin-bottom: 3px;
    padding: 0 5px;
}

.friend_box, .invite_component input[type="text"]{
    border: 1px solid #BDC7D8;
    *margin-top: -1px;
}

.invite_component input[type="text"]{
    width: 308px;
    border-bottom: none;
    padding: 3px 5px;
    font: 11px Arial;
}

.invite_component .selected_friends{
    margin-top: 3px;
}

.invite_component .selected_friends li{
    padding: 0 5px;
}

.invite_component .selected_friends li a{
    float: left;
    height: 12px;
    width: 12px;
    margin: 0 5px 0 5px;
    cursor: pointer;
    display: block;
}

.submit_invitation{
    background: #B3241F url(../../images/imuz_db/invite_component/letter_icon.gif) no-repeat 5px 6px;
    border-top: 1px solid #F3CFCF;
    border-left: 1px solid #F3CFCF;
    border-right: none;
    border-bottom: none;
    color: #fff;
    padding: 1px 0 1px 28px;
    margin: 5px 0 0 0;
    width: 230px;
    height: 25px;
    text-align: left;
}
