/*-----------------------------------------------------------------------------
iMuzDB Quiz - Game Stylesheets
-----------------------------------------------------------------------------*/

/* =Questions
-----------------------------------------------------------------------------*/

.question{
	margin: 20px 15px 0 15px;
}

.question h1{
	font: bold 20px 'Droid Sans', Arial, sans-serif;
	margin: 0 100px 20px 0;
}

.answers{
    height: 215px;
    overflow-y: auto;
    overflow-x: hidden;
}

.answers li{
	margin-bottom: 4px;
	background: url(../../images/imuz_db/bg_answer.png);
}

.answers li.selected{
    background: #900F0E;
}

.answers li.selected a{
    color: #fff;
}

.answers li a{
	display: block;
	font: bold 18px 'Droid Sans';
	color: #24180D;
	padding: 9px 0 9px 35px;
    cursor: pointer;
}

.answers li a.op_0{
	background: transparent url(../../images/imuz_db/a.png) no-repeat 8px 10px;
}

.answers li a.op_1{
	background: url(../../images/imuz_db/b.png) no-repeat 8px 10px;
}

.answers li a.op_2{
	background: url(../../images/imuz_db/c.png) no-repeat 8px 10px;
}

.answers li a.op_3{
	background: url(../../images/imuz_db/d.png) no-repeat 8px 10px;
}

.answers li a.op_4{
	background: url(../../images/imuz_db/e.png) no-repeat 8px 10px;
}

.answers li.selected a.op_0{
	background: url(../../images/imuz_db/a_selected.png) no-repeat 8px 10px;
}

.answers li.selected a.op_1{
	background: url(../../images/imuz_db/b_selected.png) no-repeat 8px 10px;
}

.answers li.selected a.op_2{
	background: url(../../images/imuz_db/c_selected.png) no-repeat 8px 10px;
}

.answers li.selected a.op_3{
	background: url(../../images/imuz_db/d_selected.png) no-repeat 8px 10px;
}

.answers li.selected a.op_4{
	background: url(../../images/imuz_db/e_selected.png) no-repeat 8px 10px;
}

/* =Game Buttons
-----------------------------------------------------------------------------*/

.buttons{
    margin-right: 15px;
    margin-top: 15px;
    float: right;
}

.buttons * {
	float: left;
}

.button_disabled{
	background: url(../../images/imuz_db/disabled_bt_left.png) no-repeat 0 0;
}

.button_disabled a, .button_disabled a:hover{
	background: url(../../images/imuz_db/disabled_bt_right.png) no-repeat top right;
    color: #9E5D5D;
    cursor: default;
}

.bt_skip{
	width: 141px;
	height: 41px;
	background: url(../../images/imuz_db/bt_skip.png) no-repeat 0 0;
	margin-right: 5px;
}

.bt_skip a{
	display: block;
	height: 41px;
	font: 14px 'Droid Sans', Arial, sans-serif;
	color: #E8C8A8;
	padding: 12px 0 0 18px;
}

.bt_skip a:hover{
	color: #fff;
}

.bt_skip_disabled{
	background: url(../../images/imuz_db/bt_skip_disabled.png) no-repeat 0 0;
}

.bt_skip_disabled a, .bt_skip_disabled a:hover{
    color: #7A502E;
    cursor: default;
}

.bt_answer a span, .bt_next a span{
	background: url(../../images/imuz_db/double_arrow.png) no-repeat right 2px;
	padding-right: 20px;
    float: left;
}

.bt_next{
    position: absolute;
    bottom: 20px;
    right: 235px;
}

.bt_playAgain a{
    padding-left: 8px;
}

.bt_playAgain a span{
    background: url(../../images/imuz_db/ic_btPlayAgain.png) no-repeat 0 3px;
    padding-left: 20px;
}

.bt_ranking a{
    padding-left: 4px;
}

.bt_ranking a span{
    background: url(../../images/imuz_db/ic_btRanking.png) no-repeat 0 0;
    height: 27px;
    margin-top: 6px;
    padding-top: 6px;
    padding-left: 23px;
}

/* =Question Feedback
-----------------------------------------------------------------------------*/

.question_feedback{
    width: 470px;
    height: 425px;
    padding-top: 10px;
}

.question_feedback h1 strong {
    position: absolute;
    margin-left: -10000px;
}

.question_feedback .bt_next{
    display: none; /* Initial Value Before Animation */
}

.correct_answer{
    background: url(../../images/imuz_db/bg_correctAnswer.jpg) no-repeat 0 0;
    height: 0; /* Initial Value Before Animation */
}

.correct_answer h1{
    margin: 50px 0 0 20px;
    position: relative;
    overflow: hidden;
    height: 200px;
}

.correct_answer .your_answer{
    background: url(../../images/imuz_db/txt_yourAnswer.png) no-repeat 0 0;
    width: 230px;
    height: 31px;
    position: absolute;
    left: -250px; /* Initial Value Before Animation */
}

.correct_answer .correct{
    background: url(../../images/imuz_db/txt_correct.png) no-repeat 0 0;
    width: 421px;
    height: 68px;
    position: absolute;
    top: 40px;
    left: 900px; /* Initial Value Before Animation */
}

.wrong_answer{
    background: url(../../images/imuz_db/bg_wrongAnswer.jpg) no-repeat 0 0;
    width: 0; /* Initial Value Before Animation */
}

.wrong_answer h1{
    margin: 40px 0 0 70px;
    position: relative;
    overflow: hidden;
    height: 150px;
}

.wrong_answer .your_answer{
    background: url(../../images/imuz_db/txt_yourAnswer_dark.png) no-repeat 0 0;
    width: 230px;
    height: 31px;
    position: absolute;
    left: 50px;
    bottom: -30px; /* Initial Value Before Animation */
}

.wrong_answer .wrong{
    background: url(../../images/imuz_db/txt_Wrong.png) no-repeat 0 0;
    width: 351px;
    height: 101px;
    position: absolute;
    top: -250px;  /* Initial Value Before Animation */
}

.artist_image{
    margin: 10px auto 0 auto;
}

.artist_image td{
    background: url(../../images/imuz_db/image_area.png) no-repeat 0 0;
    height: 190px;
    width: 190px;
    text-align: center;
}

.artist_image td img{
    /*max-width: 160px;*/
    max-height: 160px;
    /*show by javascript*/
    display: none;
}

.correct_was{
    margin: 20px 0 0 0;
    display: none; /* Initial Value Before Animation */
}

.correct_was span{
    display: block;
    width: 80%;
    text-align: center;
    font: 20px Arial, Helvetica, sans-serif;
    color: #fff;
    background: url(../../images/imuz_db/modal_overlay.png);
    padding: 6px 5px;
    margin: 0 auto;
}

.correct_was strong{
    color: #A20E0E;
}

/* =Timer
-----------------------------------------------------------------------------*/

.timer{
	width: 114px;
	height: 91px;
	position: absolute;
	top: 0;
	right: 0;
	font: bold 44px 'Droid Sans', Arial, sans-serif;
	color: #fff;
	background: url(../../images/imuz_db/bg_timer.png) no-repeat 0 0;
	text-align: right;
    z-index: 0;
}

.timer strong{
	display: block;
	margin: 8px 20px 0 0;
}

/* =Time Up
-----------------------------------------------------------------------------*/

.window_timeUp .img_timeUp{
    float: left;
    margin: 0 20px 0 20px;
}

.window_timeUp .bt_next{
    margin: 30px 20px 0 0;
}


/* =Game Over
-----------------------------------------------------------------------------*/

.game_over{
    width: 470px;
    height: 427px;
    padding-top: 10px;
    background: url(../../images/imuz_db/bg_gameOver.jpg) no-repeat 0 0;
    display: none; /* Initial Value Before Animation */
}

.game_over .small_title{
    background: url(../../images/imuz_db/title_small_blue.png) no-repeat 0 0;
    margin-bottom: 130px;
}

.gameOver_title{
    background: url(../../images/imuz_db/txt_gameOver.png) no-repeat 0 0;
    width: 418px;
    height: 56px;
    position: absolute;
    top: -300px; /* Initial Value Before Animation */
    left: 25px;
}

.game_over h1 span{
    position: absolute;
    margin-left: -10000px;
}

.final_stats{
    font: bold 20px 'Droid Sans', Arial, sans-serif;
    margin: 0 0 0 20px;
    color: #fff;
}

.final_stats tr * {
    padding-bottom: 5px;
}

.final_stats th{
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
}

.game_over .buttons{
    float: left;
    margin: 30px 0 0 20px;
}

.game_over .buttons .button{
    margin-right: 5px;
}


