﻿/*-----------------------------------------------------------------------------
iMuzDB Quiz - Main stylesheet

author:   Werther Azevedo - Nano Studio
website:   http://www.nanostudio.com.br/
-----------------------------------------------------------------------------*/


/* =Reset
-----------------------------------------------------------------------------*/

a{text-decoration:none;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h5,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
caption,th{text-align:left;}
fieldset,img,abbr,acronym{border:0;}
h1,h2,h5,h4,h5,h6{font-size:100%;font-weight:normal;}
ol,ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
q:before,q:after{content:'';}


/* =General
-----------------------------------------------------------------------------*/

body{
    font-family: Arial, Helvetica, sans-serif;
}

.game_wrapper{
	background: url(../../images/imuz_db/wood_floor.jpg) no-repeat bottom left;
	width: 760px;
	padding: 0 0 126px 0;
	margin: auto;
}

.game_canvas{
	width: 729px;
	height: 594px;
	background: url(../../images/imuz_db/amp_base.png) no-repeat 0 0;
	padding: 32px 0 0 31px;
    position: relative;
}

.scrolling_content{
    width: 440px;
    overflow-y: auto;
}

.clear{
    clear: both;
    height: 1px;
    line-height: 1px;
}

.main_area{
	width: 690px;
	height: 435px;
	position: relative;
    overflow: hidden;
    margin: 12px 0 0 5px;
}

.amp_pattern{
	background: #CABB97 url(../../images/imuz_db/amp_pattern.png);
	width: 690px;
	height: 436px;
    margin: 10px 0 0 4px;
}

/* =iFrames
-----------------------------------------------------------------------------*/

.game_frame{
	width: 700px;
	height: 558px;
    position: absolute;
    top: 30px;
    left: 30px;
    overflow: visible;
    border: none;
}

.iframe_body{
    /*background: none url(../../images/imuz_db/ghost.png);*/
    background-color: transparent;
}


/* =Static Content
-----------------------------------------------------------------------------*/

.static_content h2{
    font: bold 16px 'Droid Sans', Arial, sans-serif;
    margin: 0 0 15px 0;
    color: #2d1d10;
}

.scrolling_content ul{
    list-style: none;
    font: bold 12px Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}

.scrolling_content ul li{
    margin-bottom: 5px;
}

ul.badges li span{
    width: 60px;
    text-align: right;
    float: left;
    margin-right: 15px;
}

/* =Header
-----------------------------------------------------------------------------*/

.header{
	width: 698px;
	height: 110px;
	position: relative;
	background: url(../../images/imuz_db/amp_header_repeat.png) repeat-x 0 0;
    margin-left: 1px;
}

.header_left{
	display: block;
	height: 110px;
	width: 11px;
	top: 0;
	left: 0;
	background: url(../../images/imuz_db/amp_header_left.png) no-repeat 0 0;
	position: absolute;
}

.header_right{
	display: block;
	height: 110px;
	width: 11px;
	top: 0;
	right: 0;
	background: url(../../images/imuz_db/amp_header_right.png) no-repeat 0 0;
	position: absolute;
}

.header_iframe{
    background: none;
    padding-left: 160px;
	width: 538px;
}

.logo{
	margin: 20px 0 0 20px;
	float: left;
	display: block;
}

.knob{
	float: left;
	width: 92px;
	height: 84px;
	margin: 15px 0 0 15px;
	text-transform: uppercase;
	font: 11px Arial, sans-serif;
	position: relative;
	cursor: pointer;
}

.knob_sprite{
	position: absolute;
	width: 92px;
	height: 70px;	
}

.knob span{
	display: block;
	width: 100%;
	bottom: 0;
	text-align: center;
	color: #CAB691;	
	position: absolute;	
}

.off_to_on{
	background: url(../../images/imuz_db/knob_sprite_on.png) no-repeat 0 0;
}

.on_to_off{
	background: url(../../images/imuz_db/knob_sprite_off.png) no-repeat 0 0;
}

.player_box{
	float: left;
	background: url(../../images/imuz_db/user_area.png) no-repeat 0 0;
	width: 208px;
	height: 40px;
	font: bold 11px 'Droid Sans', Arial, sans-serif;
	color: #fff;
	margin: 30px 0 0 20px;
}

.player_box strong{
	display: block;
	margin: 13px 0 0 40px;
    width: 150px;
    overflow: hidden;
}

.power_switch{
	width: 37px;
	height: 80px;
	float: right;
	margin: 15px 25px 0 0;
	background: url(../../images/imuz_db/power_switch.png) no-repeat 0 0;
	cursor: pointer;
}


/* =Secondary Info
-----------------------------------------------------------------------------*/

.secondary_info{
	width: 218px;
	position: absolute;
	right: 0;
	top: 0;
	background: url(../../images/imuz_db/bg_right_col.png);
	height: 435px;
	overflow: hidden;
	z-index: 0;
}

.secondary_info h3{
	background: url(../../images/imuz_db/bg_col_title.gif);
	height: 40px;
	margin: 0;
	font: bold 15px 'Droid Sans', Arial, sans-serif;
	padding: 7px 0 0 40px;
    line-height: 17px;
}

.secondary_info h3 span{
    display: block;
    height: 34px;
    overflow: hidden;
    padding-right: 5px;
}

.amazon_link{
    background: url(../../images/imuz_db/link_amazon.png) no-repeat 0 0;
    width: 191px;
    height: 89px;
    margin: 5px auto 0 auto;
    position: relative;
}

.amazon_link a{
    position: absolute;
    width: 191px;
    height: 89px;
    top: 0;
    left: 0;
}

.amazon_link span{
    position: absolute;
    margin-left: -10000px;
}

.amazon_link img{
    display: block;
    margin: 13px 0 0 15px;
    border: 2px solid #fff;
    max-width: 58px;
    max-height: 58px;
}


/* =Latest News
-----------------------------------------------------------------------------*/

.latest_news ul{
    /*margin-top: 3px;*/
}

.latest_news li{
	border-bottom: 1px solid #9E8854;
	border-top: 1px solid #fff;
	padding: 10px 15px;
	font: 12px Arial, Helvetica, sans-serif;
	line-height: 16px;
}

.latest_news li.last{
	border-bottom: none;
}

.latest_news h3 strong{
	color: #C01919;
}

/* =Title Bar
-----------------------------------------------------------------------------*/

.title_bar{
	background: url(../../images/imuz_db/title_left.png) no-repeat 0 0;
	height: 54px;
	margin: 7px 15px 0 15px;
	clear: both;
    position: relative;
}

.title_bar .content{
	background: url(../../images/imuz_db/title_right.png) no-repeat top right;
	height: 54px;
	margin-left: 9px;
}

.title_bar h1{
    padding: 15px 0 0 10px;
    color: #1F130B;
}

.small_title{
    background: url(../../images/imuz_db/title_small.png) no-repeat 0 0;
    width: 440px;
    height: 54px;
    margin: 12px 0 20px 15px;
    position: relative;
}

.small_title h1, .title_bar h1{
    font: bold 20px 'Droid Sans', Arial, sans-serif;
}

.small_title .link_home, .title_bar .link_home{
    position: absolute;
    top: 10px;
    right: 10px;
    background: url(../../images/imuz_db/bt_home.png) no-repeat 0 0;
    width: 46px;
    height: 26px;
    display: block;
    color: #17698C;
    padding: 8px 0 0 25px;
    font: bold 12px Arial;
}

.small_title .link_home:hover{
    color: #A60000;
}

/* =HUD
-----------------------------------------------------------------------------*/

.hud{
	padding: 17px 0 0 10px;
}

.hud * {
	float: left;
}

.hud dt{
	font: 16px 'Yanone Kaffeesatz', sans-serif;	
	color: #A20E0E;
}

.hud dd{
	font: bold 20px 'Droid Sans', Arial, sans-serif;
	margin: -3px 15px 0 5px;
}

/* =Buttons
-----------------------------------------------------------------------------*/

.button{
	background: url(../../images/imuz_db/generic_bt_left.png) no-repeat 0 0;
	height: 41px;
	padding-left: 13px;
	font: 14px 'Droid Sans', Arial, sans-serif;
}

.button a{
	background: url(../../images/imuz_db/generic_bt_right.png) no-repeat top right;
	display: block;
	height: 41px;
	color: #fff;
	font-weight: bold;
	padding-right: 15px;
	padding-left: 10px;
    cursor: pointer;
}

.button a:hover{
	color: #FF9933;
}

.button a span{
	margin-top: 12px;
    padding-right: 5px;
}

.btn_bright{
    height: 42px;
    padding-left: 9px;
    font: bold 12px Arial, Helvetica, sans-serif;
    background: url(../../images/imuz_db/btn_bright_left.png) no-repeat top left;
}

.btn_bright span{
    display: block;
    height: 32px;
    padding-top: 10px;
    background: url(../../images/imuz_db/btn_bright_right.png) no-repeat top right;
    font-size: 14px;
    text-align: center;
}

.btn_bright a{
    color: #CC3300;
}

.btn_discography{
    margin: 6px 15px 0 15px;
}

.btn_biography{
    margin: 2px 15px 0 15px;
}

.btn_discography a, .btn_biography a{
    background: url(../../images/imuz_db/ic_external_link.png) center right no-repeat;
    padding-right: 18px;
}

.btn_discography a:hover, .btn_biography a:hover{
    color: #DE0202;
}

.bt_back a{
    padding-left: 8px;
}

.bt_back a span{
    background: url(../../images/imuz_db/ic_btPlayAgain.png) no-repeat 0 3px;
    padding-left: 20px;
}

.bt_fbShare{
    background: url(../../images/imuz_db/bt_share_full.png) no-repeat 0 0;
    width: 102px;
    height: 41px;
    margin-right: 5px;
}

.bt_fbShare a{
    display: block;
    width: 100%;
    height: 100%;
    background: none;
}

.bt_fbShare .FBConnectButton{
    background: none;
}

.bt_fbShare span.FBConnectButton_Text{
    visibility: hidden;
}


/* =Modal Dialog
-----------------------------------------------------------------------------*/

.modal_dialog, .overlay{
    position: absolute;
    width: 691px;
    height: 435px;
    top: 0;
    left: 0;
    background: #000;
    background: url(../../images/imuz_db/modal_overlay.png);
    z-index: 50;
}

.modal_dialog .window{
    width: 422px;
    margin: 30px auto;
}

.modal_dialog .window_body{
    background: url(../../images/imuz_db/modal_bottom.png) left bottom;
    padding: 20px 0 20px 0;
    min-height: 119px;
}

.modal_dialog .window h4{
    height: 30px;
    background: url(../../images/imuz_db/modal_titleBar.png) no-repeat 0 0;
    padding: 20px 0 0 20px;
    font: bold 14px 'Droid Sans', Arial, sans-serif;
    color: #fff;
    position: relative;
}

.modal_dialog .window h4 a{
    position: absolute;
    top: 12px;
    right: 17px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.modal_dialog .window p{
    color: #212121;
    font: 13px Arial, Helvetica, sans-serif;
    margin: 0 20px 10px 20px;
}

.modal_dialog .bt_next{
    position: static;
    float: right;
}

.modal_dialog .buttons{
    float: right;
    margin: 10px 20px 0 0;
}

.modal_dialog .buttons *{
    float: left;
}

.modal_dialog .buttons .button{
    margin-left: 5px;
}

/* =Form Elements
-----------------------------------------------------------------------------*/

.form_error span{
    border: 2px solid #991313;
    background: #FEF5F5;
    padding: 5px;
    display: block;
}

/* =Preloader
-----------------------------------------------------------------------------*/

.preloader{
    background: url(../../images/imuz_db/loader_bg.png) no-repeat 0 0;
    width: 374px;
    height: 81px;
    margin: 50px auto 0 auto;
    text-align: center;
    padding-top: 6px;
}

.preloader .notes{
    width: 347px;
    height: 40px;
    margin: 0 0 0 8px;
}

.preloader .mask{
    overflow: hidden;
    width: 0;
    padding-bottom: 3px;
    border-bottom: 1px solid #2D1D10;
}

.preloader .notes img{
    display: block;
    margin-left: 20px;
}

.loading_text{
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    margin: 6px 15px 0 10px;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
}

