﻿/* =General
-----------------------------------------------------------------------------*/

.player_profile{
    background: url(../../images/imuz_db/overlay.png);
    position: absolute;
	width: 691px;
	height: 435px;
    z-index: 100;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;  /* Initial state before script animation */
}

.profile_content{
    background: url(../../images/imuz_db/amp_pattern.png);
    padding-top: 10px;
    width: 470px;
    height: 380px;
    margin: 10px auto;
    border: 3px solid #705E42;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: relative;
}

.profile_title h1{
    background: url(../../images/imuz_db/ic_profileTitle.png) no-repeat 15px 10px;
    padding: 15px 0 10px 53px;
    margin-top: 15px;
    *margin-top: 0;
}

/* =Image Column
-----------------------------------------------------------------------------*/

.image_stats{
    width: 175px;
    float: left;
    margin: 0 20px 0 20px;
}

.player_image td{
    background: #D0C0A1;
    width: 175px;
    padding: 20px 0;
    text-align: center;
    vertical-align: center;
}

.player_image td div{
    width: 130px;
    margin: 0 auto;
}

.player_image img{
    border: 2px solid #fff;
    max-height: 150px;
    max-width: 126px;
}

.player_stats{
    margin-top: 10px;
}

.player_stats li{
    height: 23px;
    background: #210F0D;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 5px;
    color: #FF9933;
    font: bold 15px Arial, Helvetica, sans-serif;
    padding: 5px 5px 0 10px;
}

.player_stats li strong{
    font-size: 12px;
    color: #fff;
    padding-right: 5px;
}

li span.student{
    background: url(../../images/imuz_db/badge_student.png) top right no-repeat;
    padding-right: 22px;
}

li span.musician{
    background: url(../../images/imuz_db/badge_musician.png) top right no-repeat;
    padding-right: 32px;
}

li span.soloist{
    background: url(../../images/imuz_db/badge_soloist.png) top right no-repeat;
    padding-right: 42px;
}

li span.virtuoso{
    background: url(../../images/imuz_db/badge_virtuoso.png) top right no-repeat;
    padding-right: 50px;
}


/* =Names and Answers
-----------------------------------------------------------------------------*/

.names dt{
    font: bold 16px 'Droid Sans', Arial, sans-serif;
    color: #541D0E;
    margin: 15px 0 3px 0;
}

.names dd{
    font: 15px Arial, Helvetica, sans-serif;
    color: #1F0C0C;
}

.answers_summary{
    margin-top: 25px;
}

.answers_summary th{
    font: bold 15px 'Droid Sans', Arial, sans-serif;
    color: #24180C;
    padding-bottom: 5px;
}

.answers_summary .correct strong{
    color: #C50C0C;
}

.answers_summary .wrong strong{
    color: #4C1F44;
}

table.answers_summary td{
    color: #541D0E;
    font: bold 19px 'Droid Sans', Arial, sans-serif;
    padding-left: 3px;
    padding-bottom: 5px;
}


