/* =Static Content General
-----------------------------------------------------------------------------*/

.static_content{
    padding-top: 15px;
    height: 420px;
}

.static_content p{
    font: 12px Arial, Helvetica, sans-serif;
    color: #1F0C0C;
    margin: 0 10px 15px 0;
    line-height: 17px;
}

.static_content .scrolling_content{
    height: 330px;
    margin-left: 15px;
}

/* =Help
-----------------------------------------------------------------------------*/

.help_title h1{
    background: url(../../images/imuz_db/ic_helpTitle.png) no-repeat 15px 10px;
    padding: 13px 0 10px 45px;
}


