<% @title = "Edit Ranking Entry" %>

<%= form_for @ranking_entry do |f| %>
  <%= f.error_messages %>
    <table class="form">
      <tr>
        <td class="text"><%= f.label :app_version %></td>
        <td>
          <%= f.collection_select   :app_version_id,
                                    @app_versions,
                                    :id,
                                    :full_name,
                                    :prompt => "Select an application" %>
        </td>
      </tr>
      <tr>
        <td class="text"><%= f.label :customer %></td>
        <td>
          <%= f.collection_select 'customer_id',
                                  @customers,
                                  :id,
                                  :nickname,
                                  :prompt => "Select a customer" %>
        </td>
      </tr>
      <tr>
        <td class="text"><%= f.label :device %></td>
        <td>
          <%= f.collection_select 'device_id',
                                  @devices,
                                  :id,
                                  :full_name ,
                                  :prompt => "Select a device" %>
        </td>
      </tr>
      <tr>
        <td class="text"><%= f.label :score %></td>
        <td><%= f.text_field :score %></td>
      </tr>
      <tr>
        <td class="text"><%= f.label :ranking_type %></td>
        <td>
            <%= f.collection_select   'ranking_type_id',
                                      @ranking_types.map{ |r| [r.id, r.name.force_encoding('utf-8')] },
                                      :first,
                                      :last ,
                                      :prompt => "Select a ranking type" %>
        </td>
      </tr>
      <tr>
        <td class="submit" colspan="2"><%= f.submit "Edit" %></td>
      </tr>
    </table>
<% end %>

<%= link_to 'Back', ranking_entries_path %>