		<div id="wn">
	<div id="lyr1">
		<%= render :partial => 'high_score_details' %>
	</div>
	<div id="scrollbar">
	  <div id="track">
	    <div id="dragBar"></div>
	  </div>
	</div>
</div>

<%= @ranking_entry.name %>

<script type="text/javascript">
   wndo = new dw_scrollObj('wn', 'lyr1');
   wndo.setUpScrollbar('dragBar', 'track', 'v', 1, 1, true);
   wndo.setUpScrollControls('scrollbar');
</script>