<div>
	<table id="table" border="1">
		<thead>
	    <tr>
			  <th>Customer</th>
			  <th>Application</th>
			  <th>Ranking Type</th>
			  <th>Score</th>
			  <th>When</th>
		    <th colspan="2"></th>
	      </tr>
		</thead>

		<tbody>
			<% for entry in @ranking_entries %>
				<tr valign="top">

				  <td><%= entry.customer.nickname %></td>
				  <td><%= entry.app_version.app.name + ' ' + entry.app_version.number %></td>
				  <td><%= entry.ranking_type.name.force_encoding("UTF-8") if entry.ranking_type %></td>
				  <td><%= entry.score %></td>
				  <td><%= distance_of_time_in_words_to_now(entry.created_at) + ' ago' %></td>
		      <% if current_user.is_admin? %>
		        <td><%= link_to 'Edit', edit_ranking_entry_path(entry) %></td>
		        <td><%= link_to 'Destroy', entry, :confirm => "Remove ranking entry?", :method => :delete %></td>
		      <% end  %>
				</tr>
		  <% end %>
		</tbody>
	</table>
<br />
</div>

<%= paginate @ranking_entries %>

<br />
<%= if ( current_user.is_admin? ) then link_to 'Add ranking entry', new_ranking_entry_path end %>