/* Global styles */

/* START:notice */
#notice {
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}
/* END:notice */

div#wn	{ 
	position:relative;
	width:150px; height:240px; 
	overflow:hidden;	
}

#wn table {
  font-size:small;
}
	
div#lyr1{
  float:right;
/*  position:absolute;
  top:0px;
  left:0px;*/
}

div#scrollbar { 
  position:relative;
  float:right;
  width:11px; 
  font-size:1px;  /* for image vertical alignment issue */
}
  
div#track { 
  position:absolute; left:0; top:0px;
  width:11px; height:240px;
  background: #D4EDF4;
}
  
div#dragBar {
  position:absolute; left:1px; top:1px;
  width:9px; height:20px;
  background-color:#003366;
}  
  
div#up { position:absolute; left:0; top:0; }  
div#down { position:absolute; left:0; bottom:0; }

/* for safari, to prevent selection problem  */
div#scrollbar, div#track, div#dragBar, div#up, div#down {
    -moz-user-select: none;
    -khtml-user-select: none;
}

/* so no gap or misplacement due to image vertical alignment [1]*/
div#scrollbar img {
  display:block; 
} 


/* Styles for admin/list */

#product-list .list-title {
	color: #FFFFFF;
	font-size:    12px;
	font-weight:  bold;
    text-align: center;
    vertical-align: middle;
	background-color: #018393;
	font-family: Arial;
	
}

#product-list .list-title a {
	font-weight:  bold;
	font-size:    12px;
    text-align: center;
    vertical-align: middle;
	background-color: #018393;
	color: #FFFFFF;
	font-family: Arial;
	text-decoration:none;
	
}

#product-list .list-title a:hover {
	background-color: #018393;
	color: #FFFF00;
	font-family: Arial;
	font-weight: bold;
	font-size:12px;
	height:20px;
	text-decoration:none;
}

#product-list .list-image {
  width:        60px;
  height:       70px;
}


#product-list .list-actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#product-list .list-line-even {
  background-color: #aeebef;
  color: #003366;
  font-family: Arial;
	font-weight: bold;
	font-size:12px;
}

#product-list .list-line-odd {
  background-color: #d6fbff;
  color: #003366;
  font-family: Arial;
  font-weight: bold;
  font-size:12px;
}

.list-line-even {
  background-color: #aeebef;
  color: #003366;
  font-family: Arial;
	font-weight: bold;
	font-size:12px;
}

.list-line-odd {
  background-color: #d6fbff;
  color: #003366;
  font-family: Arial;
  font-weight: bold;
  font-size:12px;
}

/* Styles for main page */

#banner {

  text-align: left;
  background-image: url(/images/bg.png);
  height:75px; padding-top:14px;
  padding-left:20px;
}

#banner img {
  float: left;
}

#columns {
  background: #141;
}

#main {
  margin-left:    195px;
  padding-top: 5px;
  background: transparent;
}

#side {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px; text-decoration:none;
	color: #FFFF00;
	font-weight:bold
}

#side a {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	color:#30b6ce;
	font-weight:bold
}

#side a:hover {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	color: #F8D307;
	font-weight:700
}

#side #logo {
  position: relative;
  left:     -13px;
  top:      -15px;
}

h1 {
  	font-size:16px;
	font-weight:bold;
 	color: #FFFF00;
	text-align:left;
	padding-top:3ex;
	margin-left:1em;
}

body { 
	background-color:#d4edf4;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #003366;
}

a { font:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	color: #30b6ce;
	}
a:hover { font:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #068bae;
	font-weight: bold;
}

hr {
	color: #005C67;
}

.bordaBox {background:transparent; width:172px; padding-top:5px; padding-left:5px ; padding-right:20px ; _padding-right:10px ; float:left; _width:170px; float: left;}
.bordaBox .b1, .bordaBox .b2, .bordaBox .b3, .bordaBox .b4, .bordaBox .b1b, .bordaBox .b2b, .bordaBox .b3b, .bordaBox .b4b {display:block; overflow:hidden; font-size:1px;}
.bordaBox .b1, .bordaBox .b2, .bordaBox .b3, .bordaBox .b1b, .bordaBox .b2b, .bordaBox .b3b {height:1px;}
.bordaBox .b2, .bordaBox .b3, .bordaBox .b4 {background:#005C67; border-left:1px solid #005C67; border-right:1px solid #005C67;}
.bordaBox .b1 {margin:0 5px; background:#005C67;}
.bordaBox .b2 {margin:0 3px; border-width:0 2px;}
.bordaBox .b3 {margin:0 2px;}
.bordaBox .b4 {height:2px; margin:0 1px;}
.bordaBox .conteudobox {padding:15px;display:block; background:#005C67; border-left:1px solid #005C67; border-right:1px solid #005C67;}

/* An entry in the store catalog */

#store  .entry {
  border-bottom: 1px dotted #77d;
}

#store  .title {
  font-size: 120%;
  font-family: sans-serif;
}

#store .entry img {
  width: 75px;
  float: left;
}


#store .entry h3 {
 margin-bottom: 2px;
 color: #227;
}

#store .entry p {
 margin-top: 0px; 
 margin-bottom: 0.8em; 
}

#store .entry .price-line {
}

#store .entry .add-to-cart {
  position: relative;
}

#store .entry  .price {
  color: #44a;
  font-weight: bold;
  margin-right: 2em;
}

/* START:inline */
#store .entry form, #store .entry form div {
  display: inline;
}
/* END:inline */

/* START:cart */
/* Styles for the cart in the main page and the sidebar */

#profile {
	align: right;
}

.cart-title {
  font: 120% bold; 
}

.item-price, .total-line {
  text-align: right;	
}

.total-line .total-cell {
  font-weight: bold;
  border-top: 1px solid #595;
}


/* Styles for the cart in the sidebar */

#cart, #cart table {
  font-size: smaller;	
  color:     white;
}

#cart table {
  border-top:    1px dotted #595;
  border-bottom: 1px dotted #595;
  margin-bottom: 10px;
}
/* END:cart */

/* Styles for order form */

.depot-form {
 	background: #005C67;
	width:450px;
 	padding-left:30px;
 	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	color:#FFFF00;
	font-weight:bold
}

.depot-form legend {
  color: #dfd;
  background: #141;
  font-family: sans-serif;
  align:left;
}

.depot-form label {
  width: 5em;
  float: left;
  text-align:left;
  display: block;
}

.depot-form .submit {
  margin-left: 0;
}

.logo{
	background-image:url(/images/nano_online.png);
	margin:7px;
	width:166px;
	height:62px;
}
/* The error box */

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  font-size: 12px;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  color: #333;
  font-size: 12px;
  list-style: square;
}
.localCellClass {
	background-color: #006666;
	color: #FFFFFF;
	font-family: Arial;
	font-weight: bold;
	font-size:12px;
	height:20px;
}

.localCellClass a {
	background-color: #006666;
	color: #FFFFFF;
	font-family: Arial;
	font-weight: bold;
	font-size:12px;
	height:20px;
	text-decoration:none
}

.localCellClass a:hover {
	background-color: #006666;
	color: #FFFF00;
	font-family: Arial;
	font-weight: bold;
	font-size:12px;
	height:20px;
	text-decoration:none
}

.news_feed_detail{
	background-color:#d4edff;
	border:1px solid #AAAAAA;
	margin-right:50px;
	margin-top:10px;
	padding:8px;
}

.news_feed_detail .details{
	float: left;
}
.news_feed_detail .options{
	margin-left:350px;
	text-align: right;
}
.news_feed_detail .title{
	
}
.news_feed_detail .name{
	float: left;
}
.news_feed_detail .category{
	margin-left:300px;
	text-align: right;
}	
.news_feed_detail .description{
	
}	
.news_feed_detail .date{
	float: left;
}	
.news_feed_detail .translations{
	margin-left:250px;
	text-align: right;
}

#table {
  border:      thin solid #9BC4CF;
  border-collapse:  collapse;
}

#table td {
  background: #D4EDF4;
  padding:    5px;
}

#table th {
  padding:  5px 20px 5px 5px;
}

#table tr.odd td {background: #B5D6DF}

#table th.header {
  cursor:               pointer;
  text-align:           left;
  background:           #DFDFDF;
  background-image:     url(/images/small.gif);
  background-repeat:    no-repeat;
  background-position:  97%;
  padding-right:        15px;
}

td#app {
  width: 150px;
}

td#country {
  width: 250px;
}

td#user_agent {
  width:  200px;
}

#table th.headerSortUp { 
    background-color: #BFBFBF; 
    background-image: url(/images/small_desc.gif);
}

#table th.headerSortDown { 
    background-color: #BFBFBF; 
    background-image: url(/images/small_asc.gif);
}

/*Formulario de filtros do apple_downloads*/
table.form{
  border: thin solid #9BC4CF;
}

table tr#table_form{
  border: thin solid black;
}

table.form td {
  padding:  5px;
}

table.form td.text {
  padding-right:  0px;
  text-align: right;
  vertical-align: top;
}

table.form td.submit {
  text-align: center;
}

table.wide {
  width:      2000px;
}

div#show img {
  vertical-align: top;
  padding:  1px;
  border:   thin solid #9BC4CF;
}

div#resource_images {
  padding:  5px;
  border:   thin solid #9BC4CF;
  margin-right: 50px;
}

div#file_list {
  border:   thin solid #9BC4CF;
  padding:  10px;
}