/* CSS Document */
body {
	background-color: #005c67;
}
a:link {
	font-size: 9px;
	color: #fff710;
	font-family: Arial;
}
a:visited {
	font-size: 9px;
	color: #fff710;
	font-family: Arial;
}
h1 {
	font-size: 9px;
	color: #fff710;
	font-family: Arial;
}
.titulo {
	font-size: 9px;
	color: #fff710;
	font-family: Arial;
}
.texto {
	font-size: 9px;
	color: #7cf1ff;
	font-family: Arial;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
.logo {
	background-image: url(line.png);
	background-repeat:repeat-x;
	padding: 13px 0px 4px 0px;
}
.conteudo {
	background-image: url(line.png);
	background-repeat:repeat-x;
	padding: 25px 5px 5px 5px;
}
.fonteform {
font-family: Arial;
font-size:9px;
color:#005c67;
}
select {
font-family: Arial;
border:1px solid #0097a8;
font-size:9px;
font-weight:bold;
color: #003333;
background-color: #0097a8;
}

option {
font-family:Arial;
font-size:9px;
color: #0097a8;
background-color:#003f46;
}