<div id="resources_list">
  <% @ad_piece_version.resources.each { |resource| %>
    <%= h resource.description %>
		
		<%= link_to_remote 'delete', :update => 'resources_list', :url => { :action => :delete_resource, :resource_id => resource.id, :id => @ad_piece_version }%>
		<br />
  <% } %>

</div>
