<h1>Listing ad_piece_versions</h1>

<table>
  <thead>
	<tr>
	  <th>Id</th>
	  <th>Ad piece</th>
	  <th>Ad channel version</th>
	  <th>Title</th>
	  <th>Resources</th>
		<th colspan="3"></th>
	</tr>
  </thead>

<% for ad_piece_version in @ad_piece_versions %>
  <tr>
	<td><%=h ad_piece_version.id %></td>
	<td><%=h ad_piece_version.ad_piece.title %></td>
	<td><%=h ad_piece_version.ad_channel_version.title %></td>
	<td><%=h ad_piece_version.title %></td>
	<td><%=h ad_piece_version.resources %></td>
	
    <td><%= link_to 'Show', ad_piece_version %></td>
    <td><%= link_to 'Edit', edit_ad_piece_version_path(ad_piece_version) %></td>
    <td><%= link_to 'Destroy', ad_piece_version, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br/>

<%= link_to 'New ad_piece_version', new_ad_piece_version_path %>
