<div id="recaptcha_widget" style="display:none" class="clearfix">

  <div id="recaptcha_image"></div>
  <div class="recaptcha_only_if_incorrect_sol" style="color:red">Incorrect please try again</div>

  <span class="recaptcha_only_if_image">Enter the words above:</span>
  <span class="recaptcha_only_if_audio">Enter the numbers you hear:</span>

  <input type="text" id="recaptcha_response_field" name="recaptcha_response_field" />

  <div class="linkCaptcha">
    <a href="javascript:Recaptcha.reload()">
      <img src="refresh.png" width="25" height="17" alt="Get another CAPTCHA" />
    </a>
  </div>

  <div class="recaptcha_only_if_image linkCaptcha">
    <a href="javascript:Recaptcha.switch_type('audio')">
      <img src="audio.png" width="25" height="16" alt="Get an audio CAPTCHA" />
    </a>
  </div>

  <div class="recaptcha_only_if_audio linkCaptcha">
    <a href="javascript:Recaptcha.switch_type('image')">
      <img src="img/text.png" width="25" height="16" alt="Get an image CAPTCHA" />
    </a>
  </div>

  <div class="linkCaptcha">
    <a href="javascript:Recaptcha.showhelp()">
      <img src="help.png" width="25" height="16" alt="Help" />
    </a>
  </div>

</div>
<script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k=6Lff2MsSAAAAAFWhUsA_3yPbD0a1VenJ7lTRHFHC"></script>

<noscript>
  <iframe src="http://www.google.com/recaptcha/api/noscript?k=6Lff2MsSAAAAAFWhUsA_3yPbD0a1VenJ7lTRHFHC" height="300" width="500" frameborder="0"></iframe><br>
  <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
  <input type="hidden" name="recaptcha_response_field" value="manual_challenge">
</noscript>