<%= content_for :head, stylesheet_link_tag('mobile/userForm') %>

<div class="titleArea">
    <div class="clearfix">
        <h2 class="fitLeft">Login</h2>
    </div>
</div>

<div class="userPage">
    <%= flash[:notice] if flash[:notice].present? %>

    <%= form_tag '/sessions', class: 'clearfix' do %>
      <fieldset>
        <%= label_tag :login %>
        <%= text_field_tag :login, '', class: 'errorStyle' %>
      </fieldset>

      <fieldset>
        <%= label_tag :password %>
        <%= password_field_tag :password, '', class: 'errorStyle' %>
      </fieldset>

      <%#= render :partial => 'recaptcha' %>

      <div class="fitRight">
        <%= link_to "Esqueci minha senha", remember_password_path, class: 'formLink' %>
        <%= button_tag 'login', class: 'buttonLightBlue login' %>
      </div>
    <% end %>
</div>
