<div id="product-list">
  
  <h1>User roles</h1>

  <table cellpadding="5" cellspacing="0" >
	<tr>
	  <th>Name</th>
	  <th>Id</th>
	</tr>

  <% for role in @user_roles%>
	<tr valign="top" class="<%=cycle('list-line-odd', 'list-line-even' ) %>" >
	
	  <td class="list-title" ><%=h role.name %></td>
	  <td class="list-title" ><%=h role.id %></td>
	  
	  <td class="list-actions" ><%= link_to 'Edit', edit_user_role_path(role) %></td>
	  <td class="list-actions" ><%= link_to 'Destroy', role, :confirm => "Remove user role" + role.name + '?', :method => :delete %></td>
	</tr>
  <% end %>
  </table>

  <br />

</div>

<%= link_to 'Add user role', new_user_role_path %>
