<% users.each do |user| %>
  <% if user.confirmed_in_lobby?(game)%>
    <li id="lobby_user_<%= user.id%>" class="pronto">
      <%= user.nickname %> - <span>Está pronto</span>
    </li>
  <% else %>
    <li id="lobby_user_<%= user.id%>" class="nao_pronto">
      <%= user.nickname %> - <span>Não está pronto</span>
    </li>
  <% end %>
<% end %>
