<div id='lobby_timer' style="display: none">
  <p>
    A partida terá início em: 
    <span class="contador">
      <span id="timer">
        30 SEGUNDOS
      </span>
    </span> <br> 
    Você só entrará no jogo se clicar no botão "Estou pronto!" <br> dentro deste tempo.
  </p>
</div>
