<html>
<head>
</head>
<body>

<div class="popup pop_padrao pop_confirmaJogo">
  <div class="cabecalho_pop">
    <a href="#" class="bt_fechar texthide" onclick="closeModal('confirm_exit');"><span>Fechar</span></a></div>

  <div class="pop_meio">
    <div class="conteudo_pop">
      <h1>Sair do CDF</h1>

      <p>Você tem certeza que deseja sair deste jogo? Saindo você perderá os pontos desta partida.</p>
      <%= link_to "<span>Não</span>".html_safe, '#', :onclick => "closeModal('confirm_exit');", :class => 'bt_nao texthide' %>
      <%= link_to "<span>Sim</span>".html_safe, { :controller => 'rooms', :action => 'show', :id => @game.room_id }, :class =>"bt_sim texthide" %>
    </div>
  </div>
</div>
</body>
</html>  
