<html>
  <head>
    <script>
      $lobby_timer = pollServer('/games/lobby/' + <%= @game.id.to_s %> + '?update=true', 5000, 'lobby_list_users', function(data){
        if(jQuery(".pronto").size() >= 2) {
          if(jQuery(".pronto").size() < <%= @game.max_users %> ) {
            startTimer(<%= @game.id.to_s %>);
          } else {
            startGame(<%= @game.id.to_s %>);
          }
        } else {
          if($timer != '') {
            stopTimer();
          }
        }
      });

      jQuery(function() {
        jQuery('.bt_pronto').click(function() {
          imReady(jQuery('#game_id').val(), jQuery('#user_id').val());
        });
      });
    </script>
  </head>

  <body>
    <%= hidden_field_tag :game_id, @game_id %>
    <%= hidden_field_tag :user_id, logged_user %>

    <div class="popup pop_padrao pop_lobby">
      <div class="cabecalho_pop">
      </div>
      <div class="pop_meio">
        <div class="conteudo_pop">
          <h1 id='invite_header'>Sala de espera - <%= @game.room.name %> - <%= @game.difficulty.name %></h1>
          <%= render :partial => 'lobby_timer' %>
          <ul id="lobby_list_users">
            <%= render :partial => 'lobby_list', :locals => { :users => @users,
                                                              :game => @game,
                                                              :ready_users => @ready_users,
                                                              :timer => 60,
                                                              :start => false } %>
          </ul>
          <div class="botoes">
            <%= link_to "<span>Estou Pronto!</span>".html_safe,
                        "#", 
                        :class =>"bt_pronto texthide" %>
            <a href="/rooms/<%=@game.room_id%>" class="bt_cancelar texthide"><span>Cancelar</span></a>
          </div>    
        </div>
      </div>
    </div>

    <% if @game.users_playing_count >= @game.min_users and @game.users_playing_count < @game.max_users %>
      <script>
        startTimer('<%=@game.id%>');
      </script>
    <% end %>
  </body>
</html>  
