<% content_for :head do %>
    <%= stylesheet_link_tag 'FrontEnd/popup' %>
<%end%>

<div class="popup pop_public">
  <div class="conteudo_pop">
    <%= link_to "", "#", :class=>"bt_fechar lbAction", :rel => "deactivate"%>

    <% @users_count = [["2","2"], ["3","3"], ["4","4"], ["5","5"], ["6","6"]] %>

    <%= form_for :game, :url=>games_path, :html=>{:method=>:post} do |f| %>
        <%= f.error_messages%>

        <h1><%= "Mesa #{@private ? "particular" : "pública" }" %></h1>

        <span><%=I18n.t(:choose_difficulty_level)%></span>
        <span><b><%=I18n.t(:a_tip)%></b>: <%=I18n.t(:tip_turbo_mode)%></span>

        <table class="pop_table">
          <tr>
            <td class="text">
              <%= f.label :difficulty_id, I18n.t(:difficulty) %>
            </td>
            <td>
              <%= f.select :difficulty_id, @difficulties.map {|a| [a.name, a.id]} %>
            </td>
          </tr>
          <% unless @private %>
          <tr>
            <td class="text">
              <%= f.label :max_users, I18n.t(:participants) %>
            </td>
            <td>
              <%= f.select :max_users, @users_count.reverse %>
            </td>
          </tr>
          <% end %>
          <tr>
            <td colspan="2" class="submit">

              <% if @private %>
                <% class_submit = "bt_convidar" %>
              <% else %>
                <% class_submit = "bt_criar" %>
              <% end %>

              <%= f.submit "", :class => class_submit + " texthide" %>
            </td>
          </tr>
        </table>

        <%= f.hidden_field :room_id, :value => params[:id]%>
        <%= f.hidden_field :private, :value => @private%>
    <%end%>
  </div>
</div>

<script>
  jQuery('.bt_fechar').click(function() {
    jQuery('.popup').hide();
  });
</script>
