<% content_for :head do %>
  <%= javascript_include_tag 'futura/front_end/game_interface', 'jquery.jscrollpane.min.js', 'chat' %>
  <%= stylesheet_link_tag 'FrontEnd/jogo', 'FrontEnd/jscrollpane_blue' %>
<% end %>

<%= hidden_field_tag(:game_id, @game.id) %>
<%= hidden_field_tag(:user_name, logged_user.nickname) %>
<%= hidden_field_tag(:user_id, logged_user.id) %>
<%= hidden_field_tag(:color, logged_user.color_for_game(@game)) %>

<script>
  window.onload = function() {
    constructModal('lobby', '/games/lobby?id=' + <%=@game.id%> + '');

    function getLocation() {
      return window.location.protocol + '//' + window.location.host;
    }
  };

  pollServer('/games/update_player_list/' + <%=  @game.id.to_s %>, 6000, 'lista_jogadores');
</script>

<div class="coluna_auxiliar">
  <ul class="lista_jogadores" id="lista_jogadores">
    <%= render :partial => 'games/player_info', :locals => { :users => @users, :game => @game } %>
  </ul>

  <div id="chat">
    <div id="main_panel" class="main_panel scrolling_content"></div>

    <textarea id="input_message" rows="1" cols="">Digite seu texto aqui (Ctrl+Enter para enviar)</textarea>

    <input type="image" src="/images/comum/bt_enviarMensagem.png" alt="Enviar Mensagem" class="bt_enviarMensagem" id="chat_button">
    <span id='char_counter' style="color: blue;">300</span>
  </div>
</div>

<span id="my_id" style="display:none" rel="<%= logged_user.id %>"></span>

<div class="conteudo_principal">
  <h1 class="com_botao">
    <%= @game.room.name if @game.room %>
    <%= link_to content_tag(:span, "Sair"), '#', :onclick => "constructModal('confirm_exit', '/games/confirm_exit?id=#{@game.id}');", :class=> "bt_sairPartida texthide", :id => 'bt_sairPartida' %>
  </h1>

  <div id="jogo_flash" style="visibility:hidden;">
    <OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" WIDTH="530" HEIGHT="411" id="flash">
      <PARAM NAME=movie VALUE="/swf/futura.swf?version=<%= StaticDataGame.first.flash_version %>">
      <PARAM NAME=quality VALUE=autohigh>
      <PARAM NAME=wmode VALUE=transparent>
      <EMBED href="/support/flash/ts/documents/myFlashMovie.swf" wmode='transparent' id='flash' quality=autohigh bgcolor=#FFFFFF WIDTH="530" HEIGHT="411" NAME="Futura CDF" ALIGN="" TYPE="application/x-shockwave-flash" PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer" src="/swf/futura.swf"></EMBED>
    </OBJECT>
  </div>
</div>
