<% if @users.empty? %>
  <p> Nenhum jogador foi encontrado com o nome digitado </p>
<% else %>
  <ul class="resultados_busca">
    <% for user in @users %>
      <% if not user.id == logged_user.id %>
        <% if user.challenges_out.include?(logged_user) %>
          <li class="selecionado" id="<%= user.id %>">
        <% else %>
          <li id="<%= user.id %>">
        <% end %>
        <%= link_to image_tag(user.avatar.url(:small_thumb), :width => 26, :height => 26, :class => 'img_jogador'),
                    "#",
                    :onclick=>"constructModal('profile_#{user.id}', '/profiles/#{user.id}');" %>
        <div class="perfil">
          <h4>
            <%= link_to user.nickname, "#",
                        :onclick=>"constructModal('profile_#{user.id}', '/profiles/#{user.id}');" %>
          </h4>

          <p class="nick"><%= "#{user.name} #{user.post_name}" %></p>

          <p class="patente">
            <%= image_tag user.patent_icon_url, :width => 21, :height => 22 %>
            <span><%= user.patent_name %></span>
          </p>
          <span class="status_online">Online</span>

          <% if user.game %>
            <span class="label_jogando">Jogando</span>
          <% else %>
            <% if user.challenges_out.include?(logged_user) %>
              <%= link_to "Desfazer", "#", :class => 'bt_desfazer texthide toggle_button', :id => user.id %>
            <% else %>
              <%= link_to t('challenge'), "#", :class => 'bt_desafiar texthide toggle_button', :id => user.id %>
            <% end %>
          <% end %>
        </div>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>



