<% render_sidebar %>

<% content_for :head do %>
  <%= stylesheet_link_tag 'FrontEnd/busca' %>
  <%= javascript_include_tag 'futura/front_end/search_results', 'scriptaculous' %>
<% end %>

<div class="conteudo_principal conteudo_busca">
  <div class="titulo_abas">
    <h1><%= t(:find_people_result) %></h1>
    <ul class="abas_busca">
      <li class="aba_ativa"><%= link_to t(:online_friends), :action => 'index' %></li>
      <li><%= link_to t(:online_players), :action => 'all' %></li>
    </ul>
  </div>

  <p class="txt_basico"><%= t(:player_text_result) %></p>

  <div class="busca_autocomplete">
    <%= form_for :search, :url => { :controller => 'players', :action => 'friends' }, :html => { :method => :get } do |f| -%>
      <%= f.text_field :nickname %>
      <%= f.submit "", :class => 'bt_buscar' %>
    <% end %>
  </div>

  <%= render :partial => 'list_users' %>

  <% if params[:show_selecteds] %>
    <%= link_to "<span>Mostrar Todos</span>".html_safe, { :action => params[:action] }, :class=>"bt_mostrar_toggle mostrar_todos texthide" %>
  <% else %>
    <%= link_to "<span>Mostrar Selecionados</span>".html_safe, { :action => params[:action], :show_selecteds => true }, :class=>"bt_mostrar_toggle mostrar_selecionados texthide" %>
  <% end %>

  <% if logged_user.challenges_in and logged_user.challenges_in.size > 0 %>
    <a href="#" class="bt_enviarDesafio texthide" id="invite_button" onclick="constructModal('challenge_list', '/challenges')"><span>Enviar Desafio</span></a>
  <% else %>
    <a href="#" class="bt_enviarDesafio_disabled texthide" id="invite_button"><span>Enviar Desafio</span></a>
  <% end %>

  <div class="conteudo_adicional">
    <%= link_to("<span>#{t(:import_friends)}</span>".html_safe, session[:ouid] ? "/invitations/orkut" : "/invitations/new", :class=>"bt_conviarOutrosAmigos texthide",
                :onclick                                                                                                          =>"constructModal('friends_modal', '/social_medias/show');") %>
  </div>

  <%= will_paginate(@users) %>
</div>