<% @ranking_list.each_with_index do |player, index| %>
  <%= "#{(index + 1) + ((@ranking_list.current_page - 1) * 10) } - #{player.nickname}" %><br />
<% end %><br />
Sua posição é <%= @player_position %>
<%=will_paginate(@ranking_list)%>
