<table class="fonte" cellpading="0" width="180"  border="0" cellspacing="0" align="center" >
	<tr >
		<th width="22"> </th>
		<th colspan="2" class="destaquetitulo"><div align="center"><%= @app.name %></div></th>

		<td colspan="3" height="3px"></td>

		<% @count = 1; for score in @scores %>
	<tr>	
		<td><%=h ("#{@count}") %>&ordm;&nbsp;</td>
		<td><%= "#{score.customer.nickname} - #{score.score}" %></td>
	</tr>
	<% @count += 1; end %>
	<% if !@customer_scores.blank? %>
		<% for score in @customer_scores %>
			<tr>	
				<td><%=h ("#{score.ranking}.") %></td>
 				<td><%= "#{score.nickname} - #{score.score}" %></td>
			</tr>
		<% end %>
	<% end %>
</table>