		<div id="wn">
	<div id="lyr1">
		<%= render :partial => 'high_score_details' %>
	</div>
	<div id="scrollbar">
	  <div id="track">
	    <div id="dragBar"></div>
	  </div>
	</div>
</div>

<% if @app.name_short == "BRAZ" %>
	<a href="http://www.nanogames.com.br/index.php?app=SEDP">Recordes do Seda Puzzle</a>
<% else %>
	<% if @app.name_short == "SEDP"%>
		<a href="http://www.nanogames.com.br/index.php?app=BRAZ">Recordes do Brazooka Soccer</a>
	<% end %>
<% end %>
		
<script type="text/javascript">
   wndo = new dw_scrollObj('wn', 'lyr1');
   wndo.setUpScrollbar('dragBar', 'track', 'v', 1, 1, true);
   wndo.setUpScrollControls('scrollbar');
</script>