<div>
	<table id="table" border="1">
		<thead>
	      <tr>
		  	<th>Id</th>
			  <th>Customer</th>
			  <th>Application</th>
			  <th>Version</th>
			  <th>Score</th>
			  <th>Device</th>
			  <th>Ranking Type</th>
		    <th colspan="2"></th>
	      </tr>
		</thead>

		<tbody>
			<% for entry in @ranking_entries %>
				<tr valign="top">

				  <td><%=h entry.id %></td>
				  <td><%=h entry.customer.nickname %></td>
				  <td><%=h entry.app_version.app.name %></td>
				  <td><%=h entry.app_version.number %></td>
				  <td><%=h entry.score %></td>
				  <td><%=h entry.device ? "#{entry.device.vendor.name} #{entry.device.model}" : 'undetected' %></td>
				  <td><%=h entry.ranking_type.name if entry.ranking_type %></td>
		      <% if ( session_user.is_admin? ) %>
		        <td><%= link_to 'Edit', edit_ranking_entry_path(entry) %></td>
		        <td><%= link_to 'Destroy', entry, :confirm => "Remove ranking entry?", :method => :delete %></td>
		      <% end  %>
				</tr>
		  <% end %>
		</tbody>
	</table>
<br />
</div>

<div id="pager" class="pager">
	<form>
		<img class="first" src="images/icons/first.png"/>
		<img class="prev" src="images/icons/prev.png"/>
		<input class="pagedisplay" type="text"/>
		<img class="next" src="images/icons/next.png"/>
		<img class="last" src="images/icons/last.png"/>

		<select class="pagesize">
			<option value="15" selected="selected">15</option>
			<option value="30">30</option>
			<option value="50">50</option>
			<option value="100">100</option>
		</select>
	</form>
</div><br />

<%= if ( session_user.is_admin? ) then link_to 'Add ranking entry', new_ranking_entry_path end %>

<script type="text/javascript">
	jQuery(document).ready(function() { 
	    jQuery("#table") 
		    .tablesorter({widgets: ['zebra']}) 
		    .tablesorterPager({container: jQuery("#pager")}); 
	});
</script>