﻿/*-----------------------------------------------------------------------------
Futura CDF Admin - Regras para conteudo
-----------------------------------------------------------------------------*/

/* =Gerais
-----------------------------------------------------------------------------*/

.divCentral .TextContent:after{
  clear: both;
}

/* =Titulacao
-----------------------------------------------------------------------------*/

.divCentral h1{
  background: url(/images/bulH1.gif) no-repeat 0 8px;
  border-bottom: solid 1px #e1d2c2;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: 15px;
  margin: 0 0 15px 0;
  padding: 4px 0 5px 10px;
  color: #FF4C1A;
}

.divCentral h2{
    color: #B7AB9C;
    font-size: 14px;
    font-size: 12px;
    border-bottom: solid 1px #F7A675;
    padding: 4px 0 5px 0px;
    margin-bottom: 15px;
}

.divCentral .subTitulo{
  margin: 15px 0 15px 0;
  border-bottom: solid 1px #e1d2c2;
}

/* =Elementos de Formulario
-----------------------------------------------------------------------------*/

.divCentral fieldset{
    width: 60%;
    border: 1px solid #6B5E4E;
    padding: 20px;
}

.divCentral fieldset legend{
    font-size: 12px;
    font-weight: bold;
    padding: 0 10px;
    color: #7A6B58;
}

.divCentral label{
  height: 16px;
  padding: 0 10px 3px 0;
  font-size: 70%;
  font-weight: bold;
  display: block;
  color: #FF4C19;
}

.divCentral b{
  height: 16px;
  padding: 0 10px 0 0;
  font-size: 100%;
}

.divCentral input[type="text"], .divCentral textarea, .divCentral select{
  border: solid 1px #069;
  font: 80% Tahoma, sans-serif;
  padding: 2px;
  margin: 0 10px 20px 0;
  display: block;
}

.divCentral option{
    padding-right: 15px;
}

.divCentral fieldset {
  margin: 10px 0;
}

.divCentral fieldset.fs_disabled{
    border: 1px solid #999999;
}

.divCentral fieldset.fs_disabled legend, .divCentral fieldset.fs_disabled label{
    color: #999999;
}

.divCentral fieldset.fs_disabled input[type="text"], .divCentral fieldset.fs_disabled textarea, .divCentral fieldset.fs_disabled select{
    border: 1px solid #999999;
}

/* =Info Atividades
-----------------------------------------------------------------------------*/

.divCentral .Info_Atividades{
  margin: 40px 0 0 0;
  border-bottom: solid 1px #FFCC99;
  padding: 0 0 27px 0;
}

.divCentral .Info_Atividades li{
  float: left;
  margin: 0 20px 0 0;
  border: solid 1px #FFCC99;
  background: #FFF6E7;
}

.divCentral .Info_Atividades li:hover {
  background-color: #FFCC99;
}

.divCentral .Info_Atividades .selected {
  background-color: #FFCC99;
}

.divCentral .Info_Atividades li a{
  color: #0066AC;
  display: block;
  padding: 5px 10px 5px 10px;
}

/* =Links e Botoes
-----------------------------------------------------------------------------*/

input.Botao, a.Botao{
  background: #FFF url(/images/bckBt.gif) repeat-x bottom;
  border: solid 1px #f90;
  color: #333;
  cursor: pointer;
  font: bold 75% Tahoma, sans-serif;
  margin: 0 10px 10px 0;
  padding: 3px;
}

a.Botao:hover{
  text-decoration: none;
}

.divCentral .Botoes{
  margin: 15px 0 15px 0;
  padding: 20px 0 0 0;
  border-top: solid 1px #e1d2c2;
}

input.Botao{
    display: block;
    clear: both;
    margin: 20px 0 0 0;
    display: inline
}

/* =Mensagens do sistema
-----------------------------------------------------------------------------*/

.alerta{
  font-weight: bold;
  font-size: 12px;
  padding: 10px;
  width: 40%;
  margin: 10px 0;
}

.alerta h6{
  font-size: 14px;
}

.alerta p{
  margin-top: 5px;
  font-weight: normal;
}

.msg_padrao{
  border: 1px solid #d87204;
}

.msg_padrao h6{
  color: #d87204;
}

.msg_erro{
  border: 1px solid #CC0000;
}

.msg_erro h6{
  color: #990000;
}

.msg_sucesso{
    border: 1px solid #006600;
}

.msg_sucesso h6{
  color: #006600;
}

.validacao{
  font-size: 11px;
  font-family: Tahoma, sans-serif;
  color: #D87204;
}

.validacao ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin: 10px 0 10px 0;
  padding-bottom: 10px;
  color: #D87204;
  font-weight: normal;
  border-bottom: solid 1px #E1D2C2;
}

/* =Salas
-----------------------------------------------------------------------------*/

.img_sala{
    border: 1px solid #6B5E4E;
    display: block;
    margin-bottom: 15px;
}


/* =Outros
-----------------------------------------------------------------------------*/

.ThumbApoio{
  float: left;
  padding: 3px;
  border: solid 1px #CCC;
  margin-right: 5px;
  margin-bottom: 5px;
}

.ThumbApoio div{
  font-size: 10px;
  padding-bottom: 5px;
}

.ThumbApoio a{
  color: #D87204;
  font-size: 10px;
  font-weight: bold;
}

.Facilitador{
  font-weight: bold;
  font-size: 11px;
  margin-bottom: 5px;
}

.Facilitador a{
  color: #FF9900;
}

.Curriculo{
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  border-bottom: dotted 1px #E1D2C2;
  font-size: 11px;
}

#divCropImage{
  position: relative;
  left: 50%;
  margin-left: -260px;
  margin-top: 50px;
  width: 500px;
  min-height: 450px;
  background-color: #FFF;
  border: dashed 3px #FFCC99;
  text-align: center;
  padding: 10px 10px 0 10px;
}

.tbFaixa td{
  border: solid 1px #E1D2C2;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

.VerTodos {
  color: #666666;
}

.texto_corrido{
    font-size: 12px;
}

























