﻿.GridView
{
    width:100%;
    border: 1px solid #E1D2C2;
}
.GridView td
{
    padding:5px;
    height:25px;
    border-bottom-style:solid;
    border-bottom-color:#E1D2C2;
    border-bottom-width:1px;
    color: #FF4C1A;
    font-size: 12px;
}

.GridView td a
{
    color:#666666;
    text-decoration:none;
}

.GridView td a:hover
{
    color:#666666;
    text-decoration:underline;
}

.gridHeader
{
    text-align:left;
    color:#333333;
    height:25px;
}

.gridHeader th{
    background: #B7AB9C;
    font-size: 13px;
    padding: 8px 5px;
    text-align: center;
}

.gridHeader th.nomeTema{
    text-align: left;
}

.gridRow
{
    background-color:#FFFAF4;
}
.gridFooter
{
    background-image:url(/images/bg_tf.gif);
    font-weight:bold;
    height:22px;      
    padding-top:3px;  
    color:#d87204;
    font-size:10px; 
}
.gridFooter td
{
    padding-left:5px;
}
.gridFooter a
{
    color:#666666; 
    text-decoration:none;  
}
.gridFooter a:hover
{
    color:#d87204; 
}
.gridColumn2
{
    padding-left:10px;
    height:25px;
    border-bottom-style:solid;
    border-bottom-color:#E1D2C2;
    border-bottom-width:1px;    
}
.gridColumn2 a
{
    color:#333333;  
    text-decoration:underline;
}
.gridColumn2 a:hover
{
    text-decoration:none;
}
.gridColumn a:hover
{    
    text-decoration:underline;
}
.grid
{
    margin-top:30px;
}

.linkColumn{
    text-align: center;
}

.GridView td a.linkVisualizar{
    font-size: 11px;
    cursor: pointer;
    text-decoration: underline;
    font-weight: normal;
}

.InputCheck {border:0;}

.Promo{color:#009933;font-weight:bold;}
.Padrão{color:#006699;font-weight:bold;}
.Gold{color:#FF9900;font-weight:bold;}
.Premium{color:#993300;font-weight:bold;}

/* Hierarquias de temas */

.GridView td.nivel_01{
    font-weight: bold;
}

.GridView td.nivel_02
{
    color: #7D7D7D;
    padding-left: 30px;
    background: url(../Img/treeIcon.gif) no-repeat 18px 6px;
    font-weight: bold;
    font-size: 11px;
}

.GridView td.nivel_03, .GridView td.nivel_04
{
    color: #7D7D7D;
    padding-left: 50px;
    background: url(../Img/treeIcon.gif) no-repeat 38px 6px;
    font-weight: normal;
    font-size: 11px;
}

.GridView td.nivel_04
{
    padding-left: 70px;
    background: url(../Img/treeIcon.gif) no-repeat 58px 6px;
}

/* Pagincacao */

.pag_container{
    clear: both;
    *height: 1%;
    padding-top: 20px;
}

.pagination{
    background: url(/images/comum/bg_paginacao.gif) repeat-x;
    padding: 0 5px 0 0;
    height: 20px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: #fff;
    text-align: right;
    font: 13px Arial;
}

.pagination ul{
    float: right;
    margin: 2px 0 0 0;
}

.pagination li a, .pagination li span{
    float: left;
    height: 16px;
    width: 16px;
    margin: 0 2px;
    text-align: center;
    color: #FFF;
    text-decoration: underline;
}

.pagination a:hover, .pagination span.current{
    display: block;
    background: #FFF;
    color: #152A39;
}

.pagination .next_page a:hover, .pagination .prev_page a:hover {
    background: #01395B;
}

.pagination li{
    float: left;
    height: 16px;
}

.pagination .prev_page, .pagination .next_page{
    font-weight: bold;
}

