﻿body{background-color:#f2e9df;margin:0;padding:0; }
#divLogin{position:absolute;width:400px;height:185px;background-color:#fffaf4;border:solid 2px #FFFFFF;top:50%;left:50%;margin-left:-200px;margin-top:-100px;}
#divTopoLogin{height:30px;background-color:#219ed5;padding:0;}
#divMiolo{font-family:Arial; font-size:70%;color:#006699;padding:20px;}
#divMiolo h1{background: url(../img/bulH1.gif) no-repeat 0 8px; border:0; border-bottom: solid 1px #e1d2c2; display:block; font-size:100%; font-weight:normal; height:15px; margin:0 0 15px 0; padding:4px 0 0 10px;}
.Input{float:left;display:inline;margin-right:35px;}
.Input label{display:block;}
.Input input{border:solid 1px #158eca;font-family:Arial;font-size:11px;width:160px;}
.Botao{padding:20px 20px 0 0;text-align:right;}
.Aviso{padding:0 0 0 20px;font-family:Arial; font-size:70%;color:#7c2424;}