<% @title = "Ad Channel Statuses" %>

<table id="table" border="1">
	<thead>
		<tr>
		  <th>Status</th>
			<th colspan="2"></th>
		</tr>
	</thead>

	<tbody>
	  <% for ad_channel_status in @ad_channel_statuses %>
		<tr valign="top">
		  <td><%= h ad_channel_status.status %></td>
		  <td><%= link_to 'Edit', edit_ad_channel_status_path(ad_channel_status) %></td>
		  <td><%= link_to 'Destroy', ad_channel_status, :confirm => 'Are you sure?', :method => :delete %></td>
		</tr>
	  <% end %>
  </tbody>
</table>

<div id="pager" class="pager">
	<form>
		<img class="first" src="images/icons/first.png"/>
		<img class="prev" src="images/icons/prev.png"/>
		<input class="pagedisplay" type="text"/>
		<img class="next" src="images/icons/next.png"/>
		<img class="last" src="images/icons/last.png"/>

		<select class="pagesize">
			<option value="15" selected="selected">15</option>
			<option value="30">30</option>
			<option value="50">50</option>
			<option value="100">100</option>
		</select>
	</form>
</div>
<br />
<br />

<%= link_to 'New Ad Channel Status', new_ad_channel_status_path %>

<script type="text/javascript">
	jQuery(document).ready(function() { 
	    jQuery("#table") 
		    .tablesorter({sortColumn: '#app', dateFormat: 'mm/dd/yyyy', widgets: ['zebra']}) 
		    .tablesorterPager({container: jQuery("#pager")}); 

	});
</script>