<!DOCTYPE html>
<html manifest="imuzdb.manifest">
<head>

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="iphon_tetris_icon.png"/>

    <link rel="apple-touch-startup-image" href="startup.png" />
    <link rel="stylesheet" href="../../stylesheets/imuz_db/mobile/mob-main.css" type="text/css" media="screen, mobile" title="main" charset="utf-8">
    <link rel="stylesheet" href="../../stylesheets/imuz_db/mobile/mob-forms.css" type="text/css" media="screen, mobile" title="main" charset="utf-8">


    <title>iMuzDB Quiz</title>
</head>
<body>
    <div id="viewport" class="default_viewport">
        <header>
			<h1>Login</h1>
		</header>

		<form name="login" action="">
			<table class="form">
			<tr>
				<th><label for="login_type">Login with</label></th>
				<td>
					<select name="login_type">
						<option>Facebook Account</option>
						<option>Game Account</option>
					</select>
				</td>
			</tr>
			<tr>
				<th><label for="email">E-Mail</label></th>
				<td>
					<input type="email" id="email"></input>
				</td>
			</tr>
			<tr>
				<th><label for="nickname">Nickname</label></th>
				<td>
					<input type="text" id="nickname" class="invalid"></input>
				</td>
			</tr>
			<tr>
				<th><label for="password">Password</label></th>
				<td>
					<input type="password" id="password"></input>
				</td>
			</tr>
			<tr>
				<td colspan="2"><a href="#">I forgot my password</a></td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="checkbox" id="remember_me" ></input>
					<label for="remember_me">Remember me on this device</label>
				</td>
			</tr>
			</table>

            <div class="button_bar">
    			<a href="#" class="button bt_cancel">Cancel</a>
    			<button class="bt_default bt_play" action="submit"><strong>Play</strong></button>
            </div>
		</form>
    </div>

</body>
</html>
