<% for download in @downloads %>
  <tr valign="top">
	  <td><%=h download.id %></td>
	  <td><%=h download.created_at %></td>
	  <td><%=h download.customer ? download.customer_id : 'not detected' %></td>
    <td><%=h download.app_version.app_version_number %></td>
	</tr>
<% end %>