<h1>Celular não suportado.</h1>

<p>Nossos jogos ainda não suportam o seu aparelho...</p>

<p>Estamos sempre trabalhando para suportar mais aparelhos.<br/>Volte em breve para conferir as novidades!</p>

<%= link_to 'Escolher outro aparelho', :controller => :downloads, :action => :select_vendor %>