<%= javascript_include_tag 'prototype' %>
<div id="download_form">
  <h1><%= "Choose you phone's vendor" + ":" %></h1>
  <br/>
    <%= form_tag :id => 'vendors', :url => 'select_model', :remote => true, :style => "margin-top:20px" do %>
    <%= collection_select( :vendor, :chosen, @vendors, :id, :name, :prompt => "Vendor" ) %>

    <%= submit_tag :ok, :class => "buttons", :style => "margin-top:-12px; _margin-top:-5px;", :type => "image", :src => "/images/ok.gif", :align => "middle" %>
  <% end %>
</div>

