<%= javascript_include_tag 'jquery', 'application' %>

<script>
  $(function() {
    $.getJSON('/vendors/list.json?app=BOAD', function(data) {
      $('#vendor').addItems(data, 'name', 'id');
    });
  });

  $("#vendor").live('change', function() {
    $.getJSON('/devices/list.json?app=BOAD&vendor=' + $(this).val(), function(data) {
      $('#model').addItems(data, 'name', 'id')
    });
  });
</script>

<%= form_tag(:action => "download_jar_file") do %>

  <h1><%= "Baixe o #{@app.name}" %>:</h1><br/>

  <%= hidden_field_tag :app, @app.name_short %>
  <%= select_tag :vendor %>
  <%= select_tag :model %>

  <%= submit_tag  :ok, :class => "buttons",
    :style => "margin-top:-12px; _margin-top:-5px;",
    :type  => "image",
    :src   => "/images/ok.gif",
    :align => "middle" -%>
<% end %>