<div id="product-list">
  <p>Start date: <%= select_date( Time.now, :order => [:day, :month, :year ], :date_separator => '/') %></p>
  <p>End date: <%= select_date( Time.now, :order => [:day, :month, :year ], :date_separator => '/') %></p>
  <p><%= submit_tag 'Generate report' %></p>

  <table id="table" border="1" >
  	<tr>
      <th>Id</th>
  	  <th>Time</th>
  	  <th>Client Nano Id</th>
  	  <th>App</th>
  	</tr>

    <%= render( :partial => 'list' ) %>
  </table><br/>

  <%= paginate @downloads %>
</div>