<h1><%= "Choose your phone's model" %>:</h1><br/>

<%= form_tag 'select_app' do %>
  <%= hidden_field_tag :vendor, @vendor %>
  <%= select_tag( :model, options_for_select(['Devices'].concat(@devices.collect {|v| [v.model, v.id]}))) %>

  <%= submit_tag :ok, :class => "buttons",
            :style => "margin-top:-12px; _margin-top:-5px;",
            :type  => "image",
            :src   => "/images/ok.gif",
            :align => "middle" %>
<% end %>