<%= form_tag "/downloads/download_jad" do %>
  <h1><%= "Choose the game" %>:</h1><br/>

  <%= hidden_field_tag :model, @model %>
  <%= select_tag( :app, options_for_select(['Apps'].concat(@apps.collect {|v| [v.name, v.name_short]}))) %>

    <%= submit_tag :ok, :class => "buttons", :style => "margin-top:-12px; _margin-top:-5px;", :type => "image", :src => "/images/ok.gif", :align => "middle" %>
<% end %>