<div id="down_form">
  <h1><%= "Choose you phone's vendor:" %></h1><br/>

  <%= form_tag 'downloads/select_device' do %>
    <%= select_tag( :vendor, options_for_select(['Vendor'].concat(@vendors.collect {|v| [v.name, v.id]}))) %>

    <%= submit_tag :ok, :class => "buttons", :style => "margin-top:-12px; _margin-top:-5px;", :type => "image", :src => "/images/ok.gif", :align => "middle" %>
  <% end %>
</div>