<% # encoding: utf-8 %>
<!DOCTYPE html>

<html>
<head>
  <title><%= yield :title %></title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'application' %>

  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans:bold,italic,bolditalic">

  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>

<body>
<div id="admin" class="clearfix">
  <%= render partial: 'header' %>
  <%= render partial: 'main_menu' %>
  <%= render partial: "#{controller_name}/sidebar" rescue render partial: 'sidebar' %>

  <div class="main_content">
    <%= yield %>
  </div>
</div>

<div id="javascripts">
  <%= yield :javascripts %>
</div>
</body>
</html>