<% @title = "Advertisers" %>
<table id="table" border="1">
	<thead>
		<tr>
			<th>Partner</th>
			<th colspan="3"></th>
	  </tr>
	</thead>
	
	<tbody>
		<% for advertiser in @advertisers %>
		  <tr valign="top" >
				<td><%= advertiser.partner.name %></td>
		    <td><%= link_to 'Show', advertiser %></td>
		    <td><%= link_to 'Edit', edit_advertiser_path(advertiser) %></td>
		    <td><%= link_to 'Destroy', advertiser, :confirm => 'Are you sure?', :method => :delete %></td>
		  </tr>
		<% end %>
	</tbody>
</table>

<div id="pager" class="pager">
	<form>
		<img class="first" src="images/icons/first.png"/>
		<img class="prev" src="images/icons/prev.png"/>
		<input class="pagedisplay" type="text"/>
		<img class="next" src="images/icons/next.png"/>
		<img class="last" src="images/icons/last.png"/>

		<select class="pagesize">
			<option value="15" selected="selected">15</option>
			<option value="30">30</option>
			<option value="50">50</option>
			<option value="100">100</option>
		</select>
	</form>
</div>
<br />
<br />

<%= link_to 'New advertiser', new_advertiser_path %>

<script type="text/javascript">
	jQuery(document).ready(function() { 
	    jQuery("#table") 
		    .tablesorter({sortColumn: '#app', dateFormat: 'mm/dd/yyyy', widgets: ['zebra']}) 
		    .tablesorterPager({container: jQuery("#pager")}); 

	});
</script>