<% @title = "New Advertiser" %>
<% form_for(@advertiser) do |f| %>
  <%= f.error_messages %>

	<p>
		<%= f.label :partner %>
		<%= f.collection_select(:partner_id, @partners, :id, :name, :prompt => "Partner") %>
	</p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', advertisers_path %>
