<h1> <%= h "Editing integrator #{ @integrator.name }" %> </h1>

<% form_for(@integrator) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
	Operators:
	<%
	  operators = Operator.find( :all, :order => 'name' )
	  if ( operators.empty? )
	%>
	<br/>No operators found in database.<br/>
	<%
	  else
	   for operator in operators
	%>
	  <div>
		<%= check_box_tag "integrator[operator_ids][]", operator.id, @integrator.operators.include?( operator ) %>
		<%= h operator.name %>
	  </div>
	<%
		end
	  end 
	%>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @integrator %> |
<%= link_to 'Back', integrators_path %>
