<div id="product-list">
  
  <h1>Integrators list</h1>

  <table cellpadding="5" cellspacing="0" >
	<tr>
	  <th>Id</th>
	  <th>Name</th>
	  <th>Operators</th>
	  <th>Devices</th>
	</tr>

  <% for integrator in @integrators %>
	<tr valign="top" class="<%=cycle('list-line-odd', 'list-line-even') %>" >
	
	  <td class="list-title" ><%=h integrator.id %></td>
	  <td class="list-title" ><%=h integrator.name %></td>
	  <td class="list-title" >
		<% if ( integrator.operators.empty? ) %>
		  <%= 'None' %>
		<% 
		  else
			for operator in integrator.operators
		%>
		  <%= h operator.name %><br/>
		<%
			end
		  end
		%>		
	  </td>
	  <td class="list-title" ><%= h integrator.devices.count %><br/></td>
	  
	  
	  <td class="list-actions" ><%= link_to 'Show', integrator %></td>
	  <td class="list-actions" ><%= link_to 'Edit', edit_integrator_path(integrator) %></td>
	  <td class="list-actions" ><%= link_to 'Destroy', integrator, :confirm => "Remove integrator " + integrator.name + '?', :method => :delete %></td>
	</tr>
  <% end %>
  </table>

  <br />

</div>

<%= link_to 'Add integrator', new_integrator_path %>
