<p>
  <b>Name:</b>
  <%=h @integrator.name %>
</p>
<p>
  <b>Operators:</b>
  <% if ( @integrator.operators.empty? ) %>
	<br/><%= 'None' %>
  <% 
	else
	  for operator in @integrator.operators
  %>
	<br/><%= h operator.name %>
  <%
      end
	end
  %>
</p>

<%= link_to 'Edit', edit_integrator_path(@integrator) %> |
<%= link_to 'Back', integrators_path %>
