<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>
  <title>Newsletter</title>
</head>

<body>
    <div style="max-width: 550px;">
        <table cellspacing="0" cellpadding="0" border="0" style="border: 3px solid #705E42; background:#D5CCB4;" width="100%">
        <tr> 
          <td style="background-color: #000" align="center"> 
            <img src="<%=@host%>/imuz_db/mobile/images/email/email_top.jpg" width="544" height="82" alt=""> 
          </td> 
        </tr>   
        
        <tr>
            <td height="8"><img src="<%=@host%>/imuz_db/mobile/images/email/bar.gif" width="550" height="8" alt=""></td>
        </tr>
        <tr>
            <td style="font: 1.05em Arial, Helvetica, sans-serif; background: #D5CCB4 url(<%=@host%>/imuz_db/mobile/images/email/bg_email.jpg) repeat-x; padding: 1.5em 2em; color: #332D22; " valign="top">
                Dear <%= @full_name %>.,

                <p>You just signed up on the imuzDB quiz game. You can login and start playing anytime by using the following game account info.</p>

                <p>username: <span style="color:#6D392C;"><%= @username %></span></p>
                <p>password: <span style="color:#6D392C;"><%= @password %></span></p>

                <p>Please keep this message for future reference.</p>
                <p>Now go answer some questions will you?</p>

                <p>Good luck,</p>
                <p style="color:#6D392C;">imuzDB</p>
            </td>
        </tr>
        </table>
    </div>

</body>

</html>
