<% @title = "Ad Pieces" %>
<table id="table" border="1">
	<thead>
		<tr>
		  <th>Id</th>
			<th>Title</th>
			<th>Description</th>
			<th>Ad Channel</th>
			<th>Versions</th>
			<th colspan="3"></th>
	  </tr>
	</thead>
	
	<tbody>
		<% for ad_piece in @ad_pieces %>
		  <tr valign="top" >
		    <td><%= ad_piece.id %></td>
				<td><%= ad_piece.title %></td>
				<td><%= ad_piece.description %></td>
				<td><%= ad_piece.ad_channel.title %></td>
	      <td>
	        <% for version in ad_piece.ad_piece_versions do %>
	          <%= version.id.to_s + " - " + version.title %><br />
	        <% end %>
	      </td>
		    <td><%= link_to 'Show', ad_piece %></td>
		    <td><%= link_to 'Edit', edit_ad_piece_path(ad_piece) %></td>
		    <td><%= link_to 'Destroy', ad_piece, :confirm => 'Are you sure?', :method => :delete %></td>
		  </tr>
		<% end %>
	</tbody>
</table>

<div id="pager" class="pager">
	<form>
		<img class="first" src="images/icons/first.png"/>
		<img class="prev" src="images/icons/prev.png"/>
		<input class="pagedisplay" type="text"/>
		<img class="next" src="images/icons/next.png"/>
		<img class="last" src="images/icons/last.png"/>

		<select class="pagesize">
			<option value="15" selected="selected">15</option>
			<option value="30">30</option>
			<option value="50">50</option>
			<option value="100">100</option>
		</select>
	</form>
</div>
<br />
<br />

<%= link_to 'New Ad Piece', new_ad_piece_path %>

<script type="text/javascript">
	jQuery(document).ready(function() { 
	    jQuery("#table") 
		    .tablesorter({sortColumn: '#app', dateFormat: 'mm/dd/yyyy', widgets: ['zebra']}) 
		    .tablesorterPager({container: jQuery("#pager")}); 

	});
</script>
