<%= "Title: " + @ad_piece.title %><br />
<%= "Description: " + @ad_piece.description %><br />
<%= "Ad Channel: " + @ad_piece.ad_channel.title %><br /><br />
<%= "Ad Piece Versions" %><br />
<ul>
<% for version in @ad_piece.ad_piece_versions do -%>
  <li>
    <%= version.title %><br />
  </li>
<% end -%>
</ul>
<br />
<%= link_to 'Edit', edit_ad_piece_path(@ad_piece) %> |
<%= link_to 'Back', ad_pieces_path %>
