<% content_for :head do %>
  <%= stylesheet_link_tag "FrontEnd/home" %>	
<% end %>

<div class="home">
  <%= flash[:notice] %>
  <div class="txt_introducao">
    <h2>Bem-vindo ao Clube Desafio Futura!</h2>
    <p>Aqui no CDF, voc&#234; encara desafios superdivertidos para mostrar todo o seu conhecimento. Chame seus amigos para jogar no tabuleiro e prove que voc&#234; &#233; fera em temas como m&#250;sica, hist&#243;ria e atualidades. Divirta-se no nosso clube!</p>
  </div>
  
  <img src="/images/home/img_desafio.jpg" alt="Aceita o nosso desafio?" title="Aceita o nosso desafio?" class="img_desafio">
  
	<div class="col_chamadas">
        <% debugger %>
		<div class="chamada chamada_cadastro">
      <h3>Quer participar, mas n&atilde;o tem conta no Orkut?</h3>
      <p>Voc&ecirc; tamb&eacute;m pode jogar pelo nosso site. Inscreva-se aqui. <br> &Eacute; rapidinho!</p>
      <a href="/users/sign_up" class="botao"><em>Quero me cadastrar</em></a>
    </div>
    
		<div class="chamada chamada_amigos">
      <h3><em>Chame seus amigos</em></h3>
      <p>Jogar com seus amigos &eacute; ainda mais divertido. Chame a galera pelo Orkut ou por e-mail!</p>
      <a href="/invitations/new" class=" botao"><em>Convidar agora!</em></a>
    </div>
  </div>
</div>