<script>
  function pollServer(path, timer, element){
    window.setInterval(
    function(){
      new Ajax.Request(path, {
        method: 'get',
        asynchronous:false,
        onSuccess: function(data){
          document.getElementById(element).innerHTML = data.responseText;
        }
      });
    }, timer);
  }

  pollServer('/get_time', 1000, 'time');
</script>

<div id='time'>
  <%= @time %>
</div>
