<% content_for :head do %>
  <%= stylesheet_link_tag "FrontEnd/envio_pergunta.css" %>
<% end %>

<% render_sidebar %>

<div class="conteudo_principal">

  <h1>Sugestão de Perguntas</h1>

  <% if StaticDataGame.first.suggest_question_active? %>
    <p class="txt_basico"><strong>Sugira perguntas para o jogo!</strong></p>

    <p class="txt_basico">Você já é sócio do Clube Desafio Futura. Agora, que tal contribuir para fazer o CDF?</p>
    <p class="txt_basico">Crie perguntas para o jogo e ganhe pontos extras no ranking!</p>
    <p class="txt_basico">Basta escolher um dos temas e elaborar uma pergunta criativa com três opções de resposta (uma certa e duas erradas). Solte sua criatividade e torne o desafio para os competidores ainda maior!</p>
    <p class="txt_basico">Sua sugestão será avaliada pela equipe do CDF e, caso seja aprovada, você será notificado e ganhará pontos no ranking.</p>

  <p class="txt_basico">Boa sorte!</p>
  
  <div class="formulario_sugestao">
    <%= form_for :suggest_question, @suggested_question, :url => {:action => 'submit_question'} do |f| %>
      <%= flash[:message] %>
      <%= f.error_messages %>
      <br>
      <%= f.label :theme_id, '<strong>Tema</strong></label>'.html_safe, :class => 'label_tema'%>
      <%= f.select :theme_id, themes, {:include_blank => true}%>  

      <%= f.label :title, '<strong>Pergunta:</strong></label>'.html_safe, :class => 'label_pergunta'%>
      <%= f.text_field :title %>

      <%= f.label :answer_one, "Resposta - Opção 1"%>
      <%=  f.text_field :answer_one %>
        
      <%= f.label :answer_two, "Resposta - Opção 2:"%>
      <%=  f.text_field :answer_two %>

      <%= f.label :answer_three, "Resposta - Opção 3:"%>
      <%=  f.text_field :answer_three %>
      
      <%= f.label :correct, "Resposta correta"%>
      <%= f.select :correct, [ ["Opção - 1", "a"], ["Opção - 2", "b"], ["Opção - 3", "c"] ] %>
      <input type="image" src="/images/comum/bt_enviarPergunta.png"></input>
    <%end%>
  </div>

  <% else %>

    <p class="txt_basico"><strong>Como eu faço para sugerir perguntas?</strong></p>
    <p class="txt_basico">Você pode sugerir perguntas sempre que vir um aviso no quadro de notificações indicando que a temporada para o envio de perguntas está aberta. Todas as perguntas deverão ter um enunciado e três opções de resposta. Para ganhar pontos, as perguntas deverão ser aprovadas pela equipe do jogo.</p>

    <p class="txt_basico"><strong>Existe um limite para o número de perguntas que eu posso mandar?</strong></p>
    <p class="txt_basico">Não, você pode mandar quantas perguntas sua imaginação criar! Só lembre de conferir o conteúdo para colocar apenas informações corretas em cada pergunta. Além disso, é preciso ficar de olho nos prazos para o envio de perguntas.</p>

    <p class="txt_basico"><strong>Como saberei que uma pergunta minha foi aceita e que eu ganhei os pontos?</strong></p>
    <p class="txt_basico">Assim que a sua pergunta for aceita e entrar no jogo, você verá um aviso na área de notificações por ter contribuído com a comunidade CDF!</p>

  <% end %>

</div>
