<% content_for :head do %>
  <%= stylesheet_link_tag "FrontEnd/envio_pergunta.css" %>
<% end %>
<% render_sidebar %>
<div class="conteudo_principal">
  <h1>Sugestão de Perguntas</h1>
	<p class="txt_basico"><strong>Sua sugestão foi enviada com sucesso</strong></p>
  <p class="txt_basico">Se ela for aprovada, você será notificado e automaticamente receberá pontos extras em seu ranking no jogo. Fique na torcida!</p>			
  <p class="txt_basico">Boa sorte!</p>
  <a href="/suggest_question" class="bt_sugerirPerguntas texthide"><span>Sugerir mais perguntas</span></a>
</div>

