<div id="product-list">
  <table cellpading="0" width="900" border="0" cellspacing="2" >
    <tr class="list-title">
	  <th>Id</th>
	  <th>Application</th>
	  <th>Version</th>
	  <th>Status code</th>
	  <th>Device</th>
	  <th>Phone number</th>
	  <th>IP Address</th>
	  <th>Date</th>
	</tr>

  <% for report in @midlet_reports %>
	<tr valign="top" class="<%=cycle('list-title list-line-odd', 'list-title list-line-even') %>" >
	
	  <td><%=h report.id %></td>
	  <td><%=h report.download.nil? || report.app_version.blank? ? report.app.name : report.app_version.number %></td>
      <td><%=h report.app_version.blank? ? "" : report.app_version.number %></td>
      <td><%=h report.status_code_name %></td>
	  <td><%=h report.access.device.model_full if report.access %></td>
	  <td><%=h report.access.phone_number if report.access %></td>
	  <td><%=h report.access.ip_address if report.access %></td>
	  <td><%=h report.access.created_at if report.access %></td>

    </tr>
  <% end %>
  </table>

  <br />

</div>

<%= paginating_links( @midlet_reports ) %><br/><br/>