<%=render :partial=>'shared/messages'%>

<table class="GridView">
  <tr class="gridHeader">
    <th class="nomeTema"><%= t( '.title' )%></th>
    <th><%= t( '.suggested_theme' )%></th>
    <th><%= t( '.user' )%></th>
    <th>Analisar</th>
    <th><%= t( :delete )%></th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%= question.title %></td>
    <td><%= question.theme.name %></td>
    <td><%= question.user.nickname %></td>      
    <td class="linkColumn">
      <%= link_to image_tag('/images/admin/page_white_edit.png'), 
        edit_admin_suggested_question_path( question ), 
        :id => "edit_suggested_question_#{question.id}"%>
    </td>
    <td class="linkColumn">
      <%= link_to image_tag('/images/admin/delete.png'), 
        admin_suggested_question_path( question ), 
        :confirm=>I18n.t( :deletion, :object => question.title ), 
        :method=>"delete", 
        :id => "delete_suggested_question_#{question.id}"%>
      </td>
  </tr>
<% end %>
</table>
