<div id="login_body" class="conteudobox">
	<% if @logado %>
	  	<%= "Welcome".t + ", #{Customer.find(session[:customer_id]).nickname}" %>
		<%= " (#{link_to "Profile".t, :controller => "customers", :action => "profile"} | #{link_to "Log out".t, :action => "logout"})" %>
	<% else %>
	  	<%= "#{link_to "Sign up".t, :action => :cadastro} | #{link_to "Login".t, :action => :login}" %>
	<% end %>
</div>