<% form_tag(:action => "change_password") do %>
	<p>
		<%= "Current password".t %>
		<%= password_field_tag :current_password, params[:current_password]%>
	</p>
	<p>
		<%= "New password".t %>
		<%= password_field_tag :password, params[:password]%>
	</p>
	<p>
		<%= "Confirm password".t %>
		<%= password_field_tag :password_confirmation%>
	</p>
	<p>
		<%= submit_tag 'Change'.t %>
	</p>
<% end -%>

<p>
	<%= "#{link_to "Back".t, :action => "profile"}"%>
</p>