<div>
  <table 
  <% if @partner != "imuz_db" %>
  	id="table" border="1"
  <% else %>
  	class="data_table" 
  <% end %>
  >
  	<% if @partner != "imuz_db" %>
			<thead>
		<% end %>
			<tr>
				<% if @partner != "imuz_db" %>
			  	<th>Id</th>
			 	<% end %>
			  <th>Nickname</th>
				<% if @partner == "imuz_db" %>
					<th>Name</th>
				<% else %>
			  	<th>First name</th>
			  	<th>Last name</th>
				<% end %>

			  <th>E-mail</th>
			  <% if @partner != "imuz_db" %>
			  	<th>Phone number</th>
			  <% end %>
			  <th>Birthday</th>
			  <% if @partner != "imuz_db" %>
			  	<th>Genre</th>
					<th colspan="3"></th>
				<% end %>
			</tr>
		</thead>

		<tbody>
			<% for customer in @customers %>
			<tr valign="top" >
				<% if @partner != "imuz_db" %>
			  	<td><%=h customer.id %></td>
			  <% end %>
			  <td><% if ( customer.nickname ) %> <%=h customer.nickname %> <% end %></td>
			  <td><% if ( customer.first_name ) %> <%=h customer.first_name %> <% end %></td>
			  <% if @partner != "imuz_db" %>
			  	<td><% if ( customer.last_name ) %> <%=h customer.last_name %> <% end %></td>
			  <% end %>
			  <td><% if ( customer.email ) %> <%=h customer.email %> <% end %></td>
			  <% if @partner != "imuz_db" %>
			  	<td><% if ( customer.phone_number ) %> <%=h customer.phone_number %> <% end %></td>
			  <% end %>
			  <td><% if ( customer.birthday ) %> <%=h customer.birthday %> <% end %></td>
			  <% if @partner != "imuz_db" %>
			  	<td><% if ( customer.genre ) %> <%=h customer.genre %> <% end %></td>
			  

			  	<td><%= link_to 'Show', customer %></td>
			  	<td><%= link_to 'Edit', edit_customer_path(customer) %></td>
			  	<td><%= link_to 'Destroy', customer, :confirm => "Remove customer \##{customer.id}?", :method => :delete %></td>
			  <% end %>
			</tr>
		  <% end %>
		</tbody>
  </table>
<br/>
</div>
<% if @partner == "imuz_db" %>
	<%= will_paginate(@customers) %>
<% else %>
	<div id="pager" class="pager">
		<form>
			<img class="first" src="images/icons/first.png"/>
			<img class="prev" src="images/icons/prev.png"/>
			<input class="pagedisplay" type="text"/>
			<img class="next" src="images/icons/next.png"/>
			<img class="last" src="images/icons/last.png"/>

			<select class="pagesize">
				<option value="15" selected="selected">15</option>
				<option value="30">30</option>
				<option value="50">50</option>
				<option value="100">100</option>
			</select>
		</form>
	</div>
	<br />
<% end %>
<% if @partner != "imuz_db" %>
	<%= link_to 'Add customer', new_customer_path %>
<% end %>

<script type="text/javascript">
	$(document).ready(function() { 
	    $("#table") 
		    .tablesorter({sortColumn: '#app', dateFormat: 'dd/mm/yyyy', widgets: ['zebra']}) 
		    .tablesorterPager({container: $("#pager")}); 

	});
</script>