<div class="depot-form">
  <%= error_messages_for 'customer' %>

  <fieldset>
	<legend>Enter customer information</legend>
	
	<% form_for @customer do |form| %>
	  <p>
		<label for="customer_nickname">Nickname:</label>
		<%= form.text_field :nickname, :size => 40 %>
	  </p>
	  
	  <p>
		<label for="customer_first_name">First name:</label>
		<%= form.text_field :first_name, :size => 40 %>
	  </p>
	  
	  <p>
		<label for="customer_last_name">Last name:</label>
		<%= form.text_field :last_name, :size => 40 %>
	  </p>

	  <p>
		<label for="customer_genre">Sexo:</label>
		<%= form.text_field :genre, :size => 40 %>
	  </p>
	  
	  <p>
		<label for="customer_email">E-mail:</label>
		<%= form.text_field :email, :size => 40 %>
	  </p>
	  
	  <p>
		<label for="customer_phone_number">Phone number:</label>
		<%= form.text_field :phone_number, :size => 40 %>
	  </p>
	  
	  <p>
		<label for="customer_password">Password:</label>
		<%= form.password_field :password, :size => 40 %>
	  </p>
	  
	  <p>
		<label for="customer_password_confirmation" >Confirm:</label>
		<%= form.password_field :password_confirmation, :size => 40 %>
	  </p>
	  
	  <%= submit_tag 'Add customer', :class => 'submit' %>

	<% end %>
  </fieldset>
</div>