<div id="profile">
	<%= error_messages_for :customer %>

	<% form_for @customer do |f| -%>
	  	<p><%= f.label "name".t + ":" %>
			<%= f.label "#{@customer.nickname}" %></p>
		
	  	<p><%= f.label "first name".t + ":" %>
			<%= f.label "#{@customer.first_name}" %></p>
		
		<p><%= f.label "Last name".t + ":" %>
			<%= f.label "#{@customer.last_name}" %></p>
	
		<p><%= f.label "E-mail:" %>
			<%= f.label "#{@customer.email}" %></p>
	
		<p><%= f.label "phone".t + ":" %>
			<%= f.label "#{@customer.phone_number}" %></p>
		
		<p><%= f.label "birthday".t + ":" %>
			<%= f.label "#{@customer.birthday}" %></p>
		
		<p><%= f.label "Cpf:" %>
			<%= f.label "#{@customer.cpf}" %></p>
		
		<p><%= f.label "genre".t + ":" %>
			<%= f.label "#{@customer.genre}" %></p>
	<% end -%>

	<%= link_to "edit".t, :action => "edit_profile" %> <br/><br/>

	<%= link_to "Change Password".t, :action => "change_password" %>
</div>

<div id="profile_photo">
	
</div>