<p>
  <b>Id:</b>
  <%=h @customer.id %>
</p>

<p>
  <b>Nickname:</b>
  <%=h @customer.nickname %>
</p>

<p>
  <b>First Name:</b>
  <% if ( @customer.first_name ) %>
    <%=h @customer.first_name %>
  <% end %>
</p>

<p>
  <b>Last name:</b>
  <% if ( @customer.last_name ) %>
    <%=h @customer.last_name %>
  <% end %>
</p>

<p>
  <b>E-mail:</b>
  <% if ( @customer.email ) %>
    <%=h @customer.email %>
  <% end %>
</p>

<p>
  <b>Phone number:</b>
  <% if ( @customer.phone_number ) %>
	<%=h @customer.phone_number %>
  <% end %>
</p>

<p>
  <b>Birthday:</b>
  <% if ( @customer.phone_number ) %>
	<%=h @customer.model %>
  <% end %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
