<h3><%= flash[:result] %></h3>
<%= form_for @question, :url => { :controller => 'admin/questions', :action => 'show', :id => @question.id }  do |question_form| %>
  <%= render :partial=>'form', :locals => { :question_form => question_form } %>
<%end%>
