<%= render :partial=>'shared/messages' %>

<% if @select_options %>
  <%= form_for :csv, :url=>{:controller=>'questions', :action=>'create_question_from_csv'}, :html=>{:multipart=>true} do |f|%>
    <fieldset>
      <legend><%=I18n.t(:send__csv_file)%></legend>

      <%=f.label :theme, I18n.t(:theme)%>
      <%=f.select :theme, @select_options%>
      <%=f.label :file, I18n.t(:file)%>
      <%=f.file_field :file%>
      <br />
      <%=f.submit "#{I18n.t(:send)} #{I18n.t(:questions)}", :class=>"Botao"%>
    </fieldset>
<br/>Abaixo há um exemplo de pergunta bem formatada em arquivo CSV. A ordem das colunas é: questão-opção 1-opção 2-opção 3-opção 4 (mesmo que não haja)-resposta correta (somente a letra)<br/><br/>
"O pai da Mariana vive chamando-a de hipocondríaca. Nunca soube o que era isso. Olhei no dicionário e agora sei que ela...";"Acha que tem alguém sempre a perseguindo.";"Acha sempre que está doente.";"Acha que tem uma aparência ruim. ";;"B"
  <%end%>
<br/>
  <%= form_for :doc, :url=>{:controller=>'questions', :action=>'create_question_from_txt'}, :html=>{:multipart=>true} do |f|%>
    <fieldset>
      <legend><%=I18n.t(:send__doc_file)%></legend>

      <%=f.label :theme, I18n.t(:theme)%>
      <%=f.select :theme, @select_options_doc%>
      <%=f.label :file, I18n.t(:file)%>
      <%=f.file_field :file%>
      <br />
      <%=f.submit "#{I18n.t(:send)} #{I18n.t(:questions)}", :class=>"Botao"%>
    </fieldset>
<br/>Exemplo de pergunta bem formatada em arquivo TXT:<br/><br/>
<p>1;Durante a Segunda Guerra Mundial, ele imortalizou com os dedos o “V” da vitória.<br/>
*A;Winston Churchill<br/>
B;Benito Mussolini<br/>
C;François Mitterrand</p>

  <%end%>

<% else %>
	<%= button_to(I18n.t(:create_theme), new_admin_theme_path, :class => "Botao")%>
<% end %>
