<%= content_tag :div, flash[:notice], class: 'message success' if flash[:notice] %>
<%= content_tag :div, class: 'message fail' do %>
  <% flash[:alert].each do |error| %>
    <%= content_tag :p, error %>
  <% end %>
<% end if flash[:alert].present? %>

<div id="error" class="message fail" style="display: none;">Verifique os erros abaixo</div>