<fieldset>          
  <% record = form.object.class.to_s.downcase %>

  <%= form.fields_for 'descriptions_attributes' do |description_form| %>
    <%= hidden_field_tag "#{record}[descriptions_attributes][locale]", 'pt-BR' %>
    <%= hidden_field_tag "#{record}[descriptions_attributes][title]", '' %>
    <%= description_form.label 'Descrição reduzida', for: "#{record}_descriptions_attributes_shorted" %>
    <%= description_form.text_area "shorted",
                                   value: descriptions ? descriptions['shorted'] : '',
                                   class: "shortDescription" %>
    <%= description_form.label 'Descrição completa', for: "#{record}_descriptions_attributes_complete", class:'labelDescriptionFull' %>
    <%= description_form.text_area "complete",
                                   value: descriptions ? descriptions['complete'] : '' %>
  <% end %>
</fieldset>