<div class="main_menu">
  <ul>
    <li class="<%= controller_name == "users" ? "selected" : "" %>"><%= link_to 'Usuários', users_path %></li>
    <li class="<%= controller_name == "products" ? "selected" : "" %>"><%= link_to 'Produtos', products_path %></li>
    <li class="<%= controller_name == "categories" ? "selected" : "" %>"><%= link_to 'Categorias', categories_path %></li>
    <li class="<%= controller_name == "highlights" ? "selected" : "" %>"><%= link_to 'Vitrine', highlights_path %></li>
    <li class="<%= controller_name == "promotions" ? "selected" : "" %>"><%= link_to 'Promoções', promotions_path %></li>
  </ul>
  <a href="#" class="logout_link"><span>X</span>Sair</a>
</div>