<div class="contextual_menu">
  <ul>
    <li class="<%= controller.action_name == "index" ? "selected" : "" %>">
      <a href="/<%= controller_name %>">Lista de <%= I18n.t controller_name %></a>
    </li>

    <li class="<%= controller.action_name == "new" ? "selected" : "" %>">
      <a href="/<%= controller_name %>/new">Criar <%= I18n.t controller_name.singularize %></a>
    </li>
  </ul>
</div>