<%= flash_error %>

<%= form_tag sessions_path do %>
	<%= label_tag :username, "Username" %>
	<%= text_field_tag :username %><br />
	<%= label_tag :password, "Password" %>
	<%= password_field_tag :password %><br />
	<%= submit_tag "Submit", :disable_with => 'Submiting...' %>
<% end %>

<%= link_to "Sign Up", new_registration_url %><br />

<%= link_to "Clique aqui para logar com o Twitter.", '/auth/twitter' %><br />
<%= link_to "Clique aqui para logar com o Facebook.", '/auth/facebook' %>