<% @title = "Add Resource Type" %>

<% form_for(@resource_type) do |f| %>
  <%= f.error_messages %>

	<table class="form">
		<tr>
			<td class="text">
				<%= f.label :title %>
			</td>
			<td>
				<%= f.text_field :title %>
			</td>
		</tr>
		<tr>
			<td class="text">
				<%= f.label 'Client id' %>
			</td>
			<td>
				<%= f.text_field :client_id %>
			</td>
		</tr>
		<tr>
			<td class="text">
				<%= f.label :description %>
			</td>
			<td>
				<%= f.text_area :description, :rows => 8 %>
			</td>
		</tr>
		<tr>
			<td class="text">
				<%= f.label :accepted_files %>:
			</td>
			<td>
				<div id="files">
					<%= render :partial => 'elements', :object => @resource_type.resource_type_elements.build %>
				</div>
				
					<%= link_to_function "Add a file" do |page|
						page.insert_html 	:bottom, 
															:files, 
															:partial => 'elements', 
															:locals => {:elements => @resource_type.resource_type_elements.build}
					end %>
			</td>
		</tr>
		<tr>
			<td colspan="2" class="submit">
				<%= f.submit "Create" %>
			</td>
		</tr>
	</table>
<% end %>

<%= link_to 'Back', resource_types_path %>
