﻿/* Help
-------------------------------------------------------------------*/

.help{
    padding: 10px 10px;
    position:absolute;
    z-index:1;
    color: #554B39;
    height: 390px;
    overflow: auto;
}

.help h2{
    font-size: 18px;
    margin: 20px 0 15px 0;
    color: #000;
}

.help p{
    margin: 0 0 10px 0;
    display: block;
    line-height: 25px;
    clear: both;
}

.help{
    background: url(/imuz_db/mobile/images/bg_pattern.gif);
    background-attachment: fixed;
    margin-top: -10px;
}

.badges{
    margin: 20px 0;
}

.badges li{
    clear: both;
    margin-bottom: 20px;
}

.badges li * {
    float: left;
}

.badges li span{
    width: 65px;
    margin-top: -5px;
}
