﻿/* Ranking
-------------------------------------------------------------------*/
.ranking{
	position:absolute;
    z-index:1;
	top:55px;
    bottom:48px;
    left:0;
    width: 310px;
    height: 360px;
	overflow:auto;
}

table{
    border-spacing: 0;
    width: 310px;
}

table td{
    background: rgba(165,145,111,0.6);
    color: #554B39;
    font-size: 15px;
    border-bottom: 2px solid #BCAE8E;
    padding: 0 5px;
}

table td a{
    color: #554B39;
    text-decoration: underline;
    display: table-cell;
    padding: 10px 0;
}

table th{
    background: #937B57;
    color: #fff;
    padding: 0 8px;
    text-align: center;
    border-bottom: 2px solid #BCAE8E;
}

td.score{
    text-align: right;
    color: #531D0D;
    font-weight: bold;
    font-size: 16px;
}

td.ranking_level{
    width: 23px;
}

.ranking_level span{
    background: url(/imuz_db/mobile/images/ranking_levels.png) no-repeat 0 0;
    height: 10px;
    margin: 0 auto;
}

.ranking_level .student{
    width: 11px;
    display: block;
}

.ranking_level .musician{
    width: 17px;
    display: block;
}

.ranking_level .soloist{
    width: 23px;
    display: block;
}

.ranking_level .virtuoso{
    width: 29px;
    display: block;
}

.player_position{
    background: url(/imuz_db/mobile/images/double_bar.png) 0 0 no-repeat;
    padding-top: 8px;
    width: 310px;
    position: absolute;
    bottom: 0;
}

.player_position table td, .player_position table th{
    background: #531D0D;
    padding: 8px;
}

.player_position table th{
    color: #C1B399;
    width: 23px;
}

.player_position table td{
    color: #fff;
}

.player_position table td.score{
    color: #FF9933;
}
