<% if @product and @product["category_name"] %>
  <p id="startButton" class="headerButton"><a href="/products?category=<%= @product["root_category_id"] %>"><span><%= @product["category_name"] %></span></a></p>
<% else %>
  <p id="startButton" class="headerButton"><a href="/"><span>Inicio</span></a></p>
<% end %>

