<p class="shareList">COMPARTILHAR</p>
<ul class="clearfix">
  <li>
  <a href="https://twitter.com/intent/tweet?source=webclient&via=FavelaWars&text=<%= @product["name"] %>&url=<%= @url %>">
    <img src="/assets/twitterButtonT.png" width="44" height="44" alt="Twitter">
  </a>
  </li>
  <li>
  <a href="https://www.facebook.com/sharer.php?u=<%= @url %>&t=<%= @product["name"] %>">
    <img src="/assets/facebuttonT.png" width="44" height="44" alt="Facebook" />
  </a>
  </li>
  <li>
      <a href="https://plusone.google.com/_/+1/confirm?url=<%= @url %>">
        <img src="/assets/gplusButtonT.png" width="44" height="44" alt="g+" />
      </a>
  </li>
  <li>
  <a href="http://promote.orkut.com/preview?nt=orkut.com&tt=<%= @product["name"] %>&cn=<%= @url %>&du=<%= @url %>">
    <img src="/assets/orkutButtonT.png" width="44" height="44" alt="Orkut" />
  </a>
  </li>
</ul>
