<%= content_for :head, stylesheet_link_tag('tablet/product_detail') %>
<%= content_for :head, javascript_include_tag('zepto/zepto') %>
<%= content_for :head, javascript_include_tag('nano.httpImg') %>
<%= content_for :head, javascript_include_tag('show.products') %>
<%= content_for :title, @product["name"] %>

<%= hidden_field_tag :env, Rails.env %>
<%= hidden_field_tag :thumb, @product["thumb"] %>
<%= hidden_field_tag :product_id, @product["id"] %>

<div class="weaponFeature">
    <div class="highlight clearfix">
        <div class="presentation">
            <div class="mainImage">
                <p><img src="/assets/selo.png" alt="10% de desconto"/></p>
                <img id="imgMain" alt="<%= @product["name"] %>"/>
            </div>

            <p class="itemButtom"><span>Pistola</span></p>

            <table>
                <% @product["properties"].each do |name, value| %>
                <tr>
                    <%= content_tag :td, name %>
                    <%= content_tag :td, value %>
                </tr>
                <% end if @product["properties"] %>
            </table>
        </div>

        <div class="productLinks">
            <% if @product["price"] > 0 and (@product["price_black"] == 0 or @product["price_black"] > 0)  %>
                <a href="" class="buttonLightBlue" id='buy' data-command="normal"><%= "#{@product["price"]} G" %></a>
                <!-- <p class="oldPrice"><%= "#{@product["price"]} G" %></p> -->
            <% elsif @product["price_black"] > 0 %>
                <a href="" class="buttonLightBlue" id='buy' data-command="black"><%= "#{@product["price_black"]} GB" %></a>
                <!-- <p class="oldPrice"><%= "#{@product["price_black"]} GB" %></p> -->
            <% end %>

            <% if is_favorite?(@product["id"]) %>
                <p class="buttonDarkBlueDisable bookmark" id="pFavorited">Favorito</p>
            <% else %>
                <button class="buttonDarkBlue" name="button" type="submit" disabled="disabled" id="buttonAddFavorite" data-id="<%= @product["id"] %>"><span>+</span>Favoritos</button>
            <% end %>

            <%= render partial: 'share' %>
        </div>
    </div>

    <p class="productDescription">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Vestibulum mollis ligula sed mauris dapibus vehicula.
        Praesent a justo id arcu aliquet dignissim ac quis magna.
        Vestibulum semper faucibus nibh, at aliquet diam auctor quis.
        <br>
        Quisque sem elit, tempus id sodales vel, commodo at turpis.
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur libero elit, imperdiet eget blandit at, porta quis justo. Fusce eget fermentum eros. 
    </p>

</div>