<h1>Editing ranking_system</h1>

<% form_for(@ranking_system) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @ranking_system %> |
<%= link_to 'Back', ranking_systems_path %>
