<h1>Listing ranking_systems</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for ranking_system in @ranking_systems %>
  <tr>
    <td><%=h ranking_system.name %></td>
    <td><%= link_to 'Show', ranking_system %></td>
    <td><%= link_to 'Edit', edit_ranking_system_path(ranking_system) %></td>
    <td><%= link_to 'Destroy', ranking_system, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New ranking_system', new_ranking_system_path %>
