<% @title = "New Ad Channel Status" %>

<% form_for(@ad_channel_status) do |f| %>
	<%= f.error_messages %>

	<p>
		<%= f.label :status_name %>:
		<%= f.text_field :status %>
	</p>

	<p>
	  <%= f.submit "Update" %>
	</p>
<% end %>

<%= link_to 'Back', ad_channel_statuses_path %>
