<p>
  <b>Name:</b>
  <%= h @family.name %>
</p>
<p>
  <b>Description:</b>
  <%= h @family.description %>
</p>
<p>
  <b>Devices:</b>
  <%
	if ( @family.devices.empty? )
  %>
	None
  <%
	else
	  device_list = []
	  for device in @family.devices
		device_list << device.model + ', '
      end
  %>
	  <%= h device_list %>
  <%
	end
  %>
</p>

<%= link_to 'Edit', edit_family_path(@family) %> |
<%= link_to 'Back', families_path %>
