<% @title = "Ad Campaigns" %>

<table id="table" border="1">
	<thead>
	  <tr>
			<th>Advertiser</th>
			<th>Title</th>
			<th>Ad Pieces</th>
			<th>Expiration</th>
			<th colspan="3"></th>
	  </tr>
	</thead>

	<tbody>
		<% for ad_campaign in @ad_campaigns %>
		  <tr valign="top" >
				<td><%= ad_campaign.advertiser.partner_name %></td>
				<td><%= ad_campaign.title %></td>
				<td><% ad_campaign.ad_pieces.each{ |p| %>
				  <%= p.title %><br/>
				<% } %> </td>
				<td><%= ad_campaign.expires_at.blank? ? 'never' : ad_campaign.expires_at.to_date.to_s %></td>
		    <td><%= link_to 'Show', ad_campaign %></td>
		    <td><%= link_to 'Edit', edit_ad_campaign_path(ad_campaign) %></td>
		    <td><%= link_to 'Destroy', ad_campaign, :confirm => 'Are you sure?', :method => :delete %></td>
		  </tr>
		<% end %>
	</tbody>
</table>

<br />
<br />
<%= paginate @ad_campaigns %>
<%= link_to 'New Ad Campaign', new_ad_campaign_path %>