<p>
	<%= "Advertiser: " + @ad.advertiser.partner_name %>
</p>

<p>
	<%= "Title: " + @ad.title %>
</p>

<p>
	<%= "Expiration Date: " + @ad.expires_at.to_date.to_s %>
</p>

<%= link_to 'Edit', edit_ad_campaign_path(@ad) %> |
<%= link_to 'Back', ad_campaigns_path %>
