/* =Gerais
-----------------------------------------------------------------------------*/
.conteudo_principal{
    float: left;
    width: 530px;
}

.conteudo_busca h1{
    padding-top: 0;
}

.bt_enviarDesafio, .bt_enviarDesafio_disabled{
    float: right;
    clear: left;
}


/* =Campo Autocomplete
-----------------------------------------------------------------------------*/

.busca_autocomplete{
    background: #E0ECFF;
    margin-top: 20px;
    height: 20px;
    padding: 5px;
}

.busca_autocomplete input[type="text"]{
    background: #fff;
    float: left;
    margin-right: 5px;
    font-size: 11px;
}

.busca_autocomplete .bt_buscar{
    float: left;
    border: none;
}

/* =Resultados da busca
-----------------------------------------------------------------------------*/

.resultados_busca{
    margin-top: 20px;
    clear: both;
}

.resultados_busca li{
    background: url(/images/comum/fnd_jogador.gif) no-repeat 0 0;
    float: left;
    width: 260px;
    height: 68px;
    margin-bottom: 10px;
}

.resultados_busca li.selecionado{
    background: url(/images/comum/fnd_jogador_on.gif) no-repeat 0 0;
}

.resultados_busca li .img_jogador{
    float: left;
    margin: 10px 0 0 10px;
    border: 1px solid #01395C;
	max-height: 40px;
}

.resultados_busca .perfil{
    width: 215px;
    float: right;
    margin: 8px 0 0 0;
}

.resultados_busca .perfil h4, .resultados_busca .perfil h4 a {
    font: bold 14px Arial, Helvetica, sans-serif;
    height: 16px;
    overflow: hidden;
    margin-bottom: 6px;
    color: #01395B;
	min-height: 18px;
	line-height: 20px;
}

.resultados_busca .perfil p.nick{
    margin: -5px 0 3px 0;
    height: 14px;
    overflow: hidden;
}

.resultados_busca .perfil span, .resultados_busca .perfil a{
    font-size: 10px;
    float: left;
}

.resultados_busca .perfil span{
    margin-right: 6px;
}

.resultados_busca .perfil a, .perfil .label_jogando{
    text-align: right;
    color: #fff;
    margin-top: -3px;
}

.resultados_busca .perfil .posicao_ranking{
    font-weight: bold;
    line-height: 17px;
}

.resultados_busca .label_jogando{
    background: url(/images/comum/label_jogando.gif) no-repeat 0 0;
    width: 67px;
    height: 17px;
    padding: 4px 8px 0 0;
}

.resultados_busca .bt_convidar{
    background: url(/images/comum/bt_convidar.png) no-repeat 0 0;
    width: 69px;
    height: 21px;
    padding: 4px 9px 0 0;
}

.busca_orkut li{
    height: 58px;
    padding: 5px 0;
}

.resultados_busca .patente{
    margin-top: -7px;
    float: left;
}

/* Ajax Autocomplete
-----------------------------------------------------------------------------*/

div.autocomplete {
  position:absolute;
  width:250px;
  background-color:white;
  border:1px solid #888;
  margin:0;
  padding:0;
}

div.autocomplete ul {
  list-style-type:none;
  margin:0;
  padding:0;
}

div.autocomplete ul li.selected {
    background-color: #C2CFF1;
    color: #01395C;
    font-weight: bold;
}

div.autocomplete ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:10px;
  height:20px;
  cursor:pointer;
}

div.autocomplete ul li a{
    color: #01395C;
}

/* Buscar amigos do Orkut
-----------------------------------------------------------------------------*/

.bt_convitesOrkut{
    border: none;
    float: right;
    background: url(/images/comum/bt_enviarConvites.png) no-repeat 0 0;
    width: 106px;
    height: 20px;
    margin: 15px 0;	
}

.retorno_Orkut{
    clear: both;
    margin: 10px 0;
}

.orkut_captcha p{
    margin: 20px 0;
}

.orkut_captcha h2{
    clear: both;
    margin: 20px 0 10px 0;
    font-size: 14px;
}

.captcha_img{
    float: left;
    margin-bottom: 10px;
    border: 1px solid #1773AF;
}

.orkut_msg{
    font-style: italic;
    padding: 10px;
    width: 300px;
}

#captcha_answer{
    float: left;
    margin-left: 10px;
}

.orkut_captcha label{
    float: left;
    margin-left: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

.conteudo_adicional{
    padding-top: 20px;
    border-top: 1px solid #B7CEE0;
    float: left;
    width: 100%;
    margin-top: 20px;
}

