/* =Gerais
-----------------------------------------------------------------------------*/
.conteudo_blocos{
    float: left;
    width: 530px;
}

.conteudo_blocos h1{
    padding-top: 0;
}

.lista_blocos > li{
    background: url(/images/comum/boxGrande_bottom.gif) left bottom no-repeat;
    margin-bottom: 10px;
}

.lista_blocos .bloco{
    background: url(/images/comum/boxGrande_top.gif) 0 0 no-repeat;
    padding: 15px;
    font-family: Verdana, Tahoma, sans-serif;
}


/* =Lista de Noticias
-----------------------------------------------------------------------------*/

.noticia .data{
    color: #86A3CE;
    font: bold 11px Verdana, Tahoma, sans-serif;
    display: block;
    margin-bottom: 5px;
}

.noticia h3{
    font: 20px Arial, Helvetica, sans-serif;
    margin: 0;
}


/* =Enquete
-----------------------------------------------------------------------------*/

.conteudo_enquete .lista_blocos{
    margin-top: 5px;
}

.enquete h3{
    font: bold 13px Arial, Helvetica, sans-serif;
    margin: 0 0 10px 0;
}

.enquete li{
    padding-bottom: 4px;
    margin: 0;
}

.enquete li input[type="radio"]{
    margin-right: 5px;
}

.conteudo_enquete input[type="image"]{
    float: right;
}

/* =Termos de Uso
-----------------------------------------------------------------------------*/

.termos_uso li{
	margin-bottom: 10px;
}

.termos_uso ul li ul{
	padding: 15px 0 0 20px;
}

.termos_uso li strong{
	font-size: 12px;
}
