/* =Variacao do site com fundo azul
-----------------------------------------------------------------------------*/

#geral_azul{
    background: #6ba9d2 url(../../images/comum/bg_azul.png) repeat-x;
    display: block;
    position: absolute;
    min-height: 100%;
    width: 100%;
}

#geral_azul #site{
    padding-top: 23px;
}

#geral_azul .logo_futura{
    position: static;
    float: right;
    margin-top: -17px;
}

.txt_grande{
    font-size: 18px;
    padding-top: 40px;
    width: 500px;
    float: right;
    margin-right: 35px;
}

.txt_grande p{
    margin-bottom: 16px;
}
