/* =Gerais
-----------------------------------------------------------------------------*/
.conteudo_principal{
    float: left;
    width: 530px;
}

/* =Indicacao por e-mail
-----------------------------------------------------------------------------*/

.escolha_mensagem{
    width: 300px;
    float: left;
    font-family: Verdana, Tahoma, sans-serif;
    padding-top: 10px;
}

.escolha_mensagem p{
    margin-bottom: 20px;
}

.escolha_mensagem label{
    font-weight: bold;
    display: block;
    padding-bottom: 10px;
}

.escolha_mensagem input[type="radio"]{
    margin-right: 3px;
}

.escolha_mensagem textarea{
    width: 98%;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 20px;
}

p.exemplo_msgPadrao{
    margin-top: 5px;
}

.escolha_mensagem .bt_convites_azul{
    border: none;
    float: right;
    margin-right: 0 ;
}

/* Estilos relativos ao layout antigo

.nomes_amigos{
    width: 250px;
    float: right;
}

.nomes_amigos label{
    display: block;
    padding: 5px 0 4px 0;
}

.nomes_amigos input[type="text"]{
    width: 240px;
}

.nomes_amigos .input_mail{
    margin-bottom: 20px;
}

.nomes_amigos .bt_convites_azul{
    border: none;
    float: right;
}

*/