/* =Gerais
-----------------------------------------------------------------------------*/
.conteudo_principal{
    float: left;
    width: 530px;
}

.conteudo_salas h1{
    padding-top: 0;
}

/* =Coluna Auxiliar
-----------------------------------------------------------------------------*/

.coluna_auxiliar{
    width: 210px;
    background: #E7E7E7;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding: 10px;
}

.lista_jogadores li{
    height: 34px;
    color: #fff;
    margin-bottom: 5px;
    *margin-bottom: 2px;
    display: block;
}

.lista_jogadores li.selecionado{
    border: 2px solid #000;
}

.lista_jogadores li.amarelo { background: #FFC600; }
.lista_jogadores li.vermelho { background: #DD2B0C; }
.lista_jogadores li.verde { background: #60B138; }
.lista_jogadores li.azul { background: #056CAC; }
.lista_jogadores li.roxo { background: #A632CA; }
.lista_jogadores li.laranja { background: #F6741F; }

.lista_jogadores li .img_jogador{
    float: left;
    border: 1px solid #fff;
    margin: 3px 10px 0 3px;
}

.lista_jogadores li h5{
    font-size: 13px;
    font-weight: bold;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    height: 17px;
    overflow: hidden;
    line-height: 19px;
}

.lista_jogadores li p.info{
    margin-top: -1px;
}

li p.info{
    font-size: 10px;
    padding-top: 2px;
}

li p.info strong{
    font-weight: bold;
}

li p.info .acertos{
    background: url(/images/jogo/ic_acerto.png) no-repeat center right;
    padding-right: 15px;
}

li p.info .erros{
    background: url(/images/jogo/ic_erro.png) no-repeat center right;
    padding-right: 15px;
}

.lista_jogadores .info_jogador{
    width: 130px;
    float: left;
}

img.indicador_jogadorAtivo{
    float: right;
    margin: 9px 8px 0 0;
}

/* =Chat
-----------------------------------------------------------------------------*/

#chat{
    color: #6B6B6B;
}

#chat .main_panel{
    background: #fff;
    height: 132px;
    margin-bottom: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}
#chat .main_panel p{
    padding: 5px 5px 0 5px;
}

#chat .main_panel strong{
    margin-right: 5px;
}

#chat .main_panel .amarelo { color: #FF9B00; }
#chat .main_panel .vermelho { color: #E00000; }
#chat .main_panel .verde { color: #15B100; }
#chat .main_panel .azul { color: #007BF7; }
#chat .main_panel .roxo { color: #00006B; }
#chat .main_panel .laranja { color: #F6741F; }

#chat textarea{
    height: 28px;
    background: #fff;
    width: 200px;
    border: none;
    color: #6B6B6B;
    font: 11px Arial, Helvetica, sans-serif;
    overflow: auto;
}

#chat .bt_enviarMensagem{
    float: right;
    width: 124px;
    height: 20px;
    margin: 6px 0 0 0;
}

/* =Botoes
-----------------------------------------------------------------------------*/

.bt_sairPartida{
    background: url(/images/jogo/bt_sairPartida.gif) no-repeat 0 0;
    width: 120px;
    height: 20px;
    display: block;
    position: absolute;
    bottom: 3px;
    right: -15px;
    visibility: hidden;
}

