/* =Gerais
-----------------------------------------------------------------------------*/
.conteudo_principal{
    float: left;
    width: 530px;
}

.bt_amarelo{
    float: left;
    margin-left: 10px;
}

.bt_enviarDesafio{
    float: right;
}

/* =Texto
-----------------------------------------------------------------------------*/

.texto{
    width: 336px;
    float: left;
}

.txt_ipad{
    background: url(/images/comum/ipad_menor.jpg) no-repeat 0 10px;
    padding-left: 70px;
    width: 285px;
}


/* =Tabela de Ranking
-----------------------------------------------------------------------------*/

.ranking table{
    width: 100%;
    clear: both;
    border-collapse: separate;
    *border-collapse: collapse;
    border-spacing: 0 10px;
    margin: 10px 0;
}

.ranking_table td{
    background: #E0ECFF;
    height: 30px;
    vertical-align: middle;
    *border-bottom: 10px solid #f6f6f6;
}

.ranking_table td.posicao{
    width: 49px;
    background: url(/images/ranking/pos_padrao.gif) no-repeat 0 0;
    color: #fff;
    font-size: 20px;
    border-right: 3px solid #f6f6f6;
    vertical-align: top;
}

.ranking_table td.posicao em{
    display: block;
    text-align: center;
    *padding-top: 3px;
}

.ranking_table td.posicao sup{
    font-size: 9px;
    line-height: 10px;
    vertical-align: text-top;
}

.ranking_table td.pos_ouro{
    background: url(/images/ranking/pos_ouro.gif) no-repeat 0 0;
}

.ranking_table td.pos_prata{
    background: url(/images/ranking/pos_prata.gif) no-repeat 0 0;
}

.ranking_table td.pos_bronze{
    background: url(/images/ranking/pos_bronze.gif) no-repeat 0 0;
}

.ranking_table .patente{
    text-align: center;
    width: 85px;
    padding: 0 8px;
}

.ranking_table td.img_jogador{
    vertical-align: top;
    width: 26px;
}

.ranking_table td.img_jogador img{
    display: block;
    margin: 2px 0 0 1px;
}

.ranking_table td.jogador{
    font: 17px Arial, Helvetica, sans-serif;
}

.ranking_table td.pontos {
    font: 17px Arial, Helvetica, sans-serif;
    text-align: right;
    padding: 0 20px 0 0;
    letter-spacing: -0.05em;
}

.ranking_table td.jogador a{
    color: #01395C;
}

.ranking_table td.jogador a:hover{
    text-decoration: underline;
}

.ranking_table td.situacao{
    width: 87px;
    background: #E0ECFF url(/images/ranking/bg_cantoLinha.gif) top right no-repeat;
}

.ranking_table .label_jogando{
    display: block;
}

.ranking_table tr.selecionado td{
    background-color: #B4D0E2;
}

.ranking_table tr.selecionado td.situacao{
    background: #B4D0E2 url(/images/ranking/bg_cantoLinha_select.gif) top right no-repeat;
}

.ranking_table tr.enviado td{
    background-color: #D7E6CF;
}

.ranking_table tr.enviado td.situacao{
    background: #D7E6CF url(/images/ranking/bg_cantoLinha_enviado.gif) top right no-repeat;
}

.ranking_table tr.enviado td.posicao{
    background: url(/images/ranking/pos_selecionada.gif) no-repeat 0 0;
}

/* =Posicao do Jogador no Ranking
-----------------------------------------------------------------------------*/

.pos_jogador{
    background: url(/images/ranking/bg_posJogador.png);
    width: 243px;
    height: 47px;
    font: bold 12px Arial, Helvetica, sans-serif;
    float: left;
}

.pos_jogador * {
    float: left;
    margin-top: 8px;
}

.pos_jogador img{
    margin-left: 10px;
    margin-right: 5px;
    border: 1px solid #fff;
}

.pos_jogador p{
    width: 90px;
}

.pos_jogador a{
    margin: 0 0 0 5px;
    font-size: 26px;
    font-weight: normal;
    color: #01395B;
}

.pos_jogador strong sup{
    float: none;
    font-size: 16px;
    line-height: 16px;
    vertical-align: top;
}


