<h1><%= h "Editing app category #{ @app_category.name }" %></h1>

<%= form_for(@app_category) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', app_categories_path %>
