<div>
  <table id="table" border="1" >
		<thead>
			<tr>
			  <th>Id</th>
			  <th>Name</th>
				<th colspan="2"></th>
			</tr>
		</thead>

		<tbody>
			<% for app_category in @app_categories %>
				<tr valign="top" >

				  <td><%=h app_category.id %></td>
				  <td><%=h app_category.name %></td>

				  <td><%= link_to 'Edit', edit_app_category_path(app_category) %></td>
				  <td><%= link_to 'Destroy', app_category, :confirm => "Remove app category " + app_category.name + '?', :method => :delete %></td>
				</tr>
		  <% end %>
		</tbody>
  </table>
<br />
</div>

<%= paginate @app_categories %>

<br />
<%= link_to 'Add app category', new_app_category_path %>