<%= javascript_include_tag :defaults, 'lightbox'%>
<%= stylesheet_link_tag 'FrontEnd/comum', 'FrontEnd/popup' %>
<div class="popup pop_padrao pop_senha">
    <div class="cabecalho_pop"><a href="#" class="bt_fechar texthide" onclick="closeModal('password_modal');"><span><%=I18n.t(:close)%></span></a>   </div>
    <div class="pop_meio">
        <div class="conteudo_pop">
            <h1><%=I18n.t(:forget_password)%>?</h1>

            <p><%=I18n.t(:forget_passwd_body_message)%></p>

            <%= form_for resource_name, resource, :url => password_path(resource_name) do |f| -%>
                <%=session[:password_error_message]%>
                <%session[:password_error_message]=nil%>
                <%= f.label :email, I18n.t( :you_email ) %>
                <%= f.text_field :email %>


                <div class="botoes">
                  <%= f.submit "", {:class=>"bt_enviar texthide"} %>
                </div>
            <% end -%>
        </div>
    </div>
</div>



