<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>
      <% unless @title.blank? %>
        <%= "Nano Online" + " - " + @title %>
      <% else %>
        <%= "Nano Online" %>
      <% end %>
    </title>

    <%= stylesheet_link_tag 'nano', :media => 'all' %>
		<%= javascript_include_tag :defaults %>

		<script language="javascript">
			var $j = jQuery.noConflict();
		</script>

    <%= csrf_meta_tag %>
  </head>

  <body id="device">
    <div id="columns">
      <div class="bordaBox">
        <b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
        <div id="side" class="conteudobox">
					<img id="logo" src="/images/nano_online.png" />
          <%= link_to 'Submissions', :controller => 'submissions' %><br/><br/>

          <%= link_to 'Applications', :controller => 'apps' %><br/>
          <%= link_to 'Application versions', :controller => 'app_versions' %><br/>
          <%= link_to 'Application categories', :controller => 'app_categories' %><br/><br/>

          <%= link_to 'Customers', :controller => 'customers' %><br/>
          <%= link_to 'Ranking entries', :controller => 'ranking_entries' %><br/>
          <%= link_to 'Ranking types', :controller => 'ranking_types' %><br/>
          <%= link_to 'Unit Formats', :controller => 'unit_formats' %><br/><br/>

          <%= link_to 'Downloads', :controller => 'downloads', :action => 'index' %><br/>
          <%= link_to 'Download codes', :controller => 'download_codes' %><br/>
          <%= link_to 'MIDlet reports', :controller => 'midlet_reports' %><br/>
          <%= link_to 'Apple Downloads', :controller => 'apple_downloads' %><br/><br/>

          <%= link_to 'Devices', :controller => 'devices' %><br/>
          <%= link_to 'Vendors', :controller => 'vendors' %><br/>
          <%= link_to 'Families', :controller => 'families' %><br/><br/>

          <%= link_to 'Advertisers', :controller => 'advertisers' %><br/>
          <%= link_to 'Ad campaigns', :controller => 'ad_campaigns' %><br/>
          <%= link_to 'Ad pieces', :controller => 'ad_pieces' %><br/>
          <%= link_to 'Ad piece versions', :controller => 'ad_piece_versions' %><br/>
          <%= link_to 'Ad channels', :controller => 'ad_channels' %><br/>
          <%= link_to 'Ad channel versions', :controller => 'ad_channel_versions' %><br/>
          <%= link_to 'Ad channel statuses', :controller => 'ad_channel_statuses' %><br/>
          <%= link_to 'Resources', :controller => 'resources' %><br/>
          <%= link_to 'Resource types', :controller => 'resource_types' %><br/>
          <%= link_to 'Resource file types', :controller => 'resource_file_types' %><br/><br/>

          <%= link_to 'News feeds', :controller => 'news_feeds' %><br/>
          <%= link_to 'News feed categories', :controller => 'news_feed_categories' %><br/><br/>

          <%= link_to 'Partners', :controller => 'partners' %><br/>
          <%= link_to 'Integrators', :controller => 'integrators' %><br/>
          <%= link_to 'Operators', :controller => 'operators' %><br/><br/>

          <%= link_to 'MIDP versions', :controller => 'midp_versions' %><br/>
          <%= link_to 'CLDC versions', :controller => 'cldc_versions' %><br/>
          <%= link_to 'Devices bugs', :controller => 'device_bugs' %><br/>
          <%= link_to 'Optional APIs', :controller => 'optional_apis' %><br/>
          <%= link_to 'Undetected user-agents', :controller => 'undetected_user_agents' %><br/>
          <%= link_to 'Bands', :controller => 'bands' %><br/>
          <%= link_to 'Data services', :controller => 'data_services' %><br/><br/>

          <%= link_to 'Change Password', :controller => 'users', :action => 'change_password' %><br/>

          <p>
            <%= link_to 'Users', :controller => 'users' %><br/>
            <%= link_to 'User roles', :controller => 'user_roles' %><br/><br/>
            <%= link_to 'Log out', :controller => 'login', :action => 'logout' %><br/>
          </p>
        </div>
        <b class="b4"></b><b class="b3"></b><b class="b2"></b><b class="b1"></b>
      </div>
    </div>

    <div id="main">
      <% if flash[:notice] -%>
        <div id="notice" ><%= flash[:notice] %></div>
      <% end -%>
      <%= yield :layout %>
    </div>
  </body>
</html>

