<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
  <head>
    <title>Nano Online</title>
    <%= stylesheet_link_tag 'home' %>
  </head>

  <body>
    <div>
      <% if flash[:notice] -%>
        <div id="notice" ><%= flash[:notice] %></div>
      <% end -%>
    </div>

    <div id='geral'>
      <%= yield :layout %>
    </div>
    
    <%= javascript_include_tag :defaults %>
  </body>
</html>