<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>

  <title>iMuzDB Quiz</title>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>

  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold|Yanone+Kaffeesatz:bold'">
  <%= stylesheet_link_tag "imuz_db/main.css", "imuz_db/profile" %>

  <%= javascript_include_tag "imuz_db/spritely",
                             "imuz_db/gx_full",
                             "imuz_db/gx.transitions",
                             "imuz_db/control_panel" %>

  <script>
    jQuery.get("/audio/SFX/interacao_menu.mp3");
    jQuery.get("/audio/music/wrong_answer.mp3");
    jQuery.get("/audio/music/correct_answer.mp3");
  </script>

  <%= yield :head %>
</head>

<body>
<div class="header header_iframe">

  <div class="knob" id="audio_knob">
    <% if @game and @game.audio %>
      <div class="knob_sprite on_to_off"></div>
      <div class="knob_sprite off_to_on" style="display: none;"></div>
      <span>Audio <em>on</em></span>
    <% else %>
      <div class="knob_sprite on_to_off" style="display: none;"></div>
      <div class="knob_sprite off_to_on"></div>
      <span>Audio <em>off</em></span>
    <% end %>
  </div>

  <div class="knob" id="player_knob">
    <div class="knob_sprite on_to_off"></div>
    <div class="knob_sprite off_to_on"></div>
    <span>Player Profile</span>
  </div>

  <div class="player_box">
    <strong><%= FacebookProfile.find_by_uid( session[:uid] ).customer.nickname if FacebookProfile.find_by_uid( session[:uid] ) %></strong>
  </div>

  <div class="power_switch"></div>
</div>


<div class="overlay" style="display: none;">
  <div class="preloader">
    <div class="notes">
      <div class="mask"><img src="/images/imuz_db/loader_notes.png" width="310" height="39" alt=""></div>
    </div>
    <p class="loading_text">Loading</p>
  </div>
</div>

<div class="main_area">
  <%= yield %>

  <div class="modal_dialog" id='quit_modal' style='display: none;'>
    <div class="window">
      <h4>
        Quit
        <a onclick="tooglePowerSwitch();"></a>
      </h4>
      <div class="window_body">
        <p>Are you sure?</p>
        <div class="buttons">
          <div class="button">
            <a onclick="top.location = 'http://www.facebook.com/'"><span>Yes</span></a>
          </div>
          <div class="button">
            <a onclick="tooglePowerSwitch();"><span>No</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if @user %>
    <div class="player_profile">
      <div class="profile_content">
        <div class="small_title profile_title">
          <% unless session[:game_running] %>
            <a href="home?p=123456" class="link_home">Home</a>
          <% end %>
          <h1>Player Profile</h1>
        </div>

        <div class="image_stats">
          <table class="player_image"><tr><td><div><%= (image_tag @user.facebook_profile.pic) unless @user.facebook_profile.pic.blank? %></div></td></tr></table>

          <ul class="player_stats">
            <li><strong>Level:</strong><span class="<%= @patent.downcase %>"><%= @patent %></span></li>
            <li><strong>Score:</strong><%= @score %></li>
          </ul>
        </div>

        <dl class="names">
          <dt>Name:</dt>
          <dd><%= "#{@user.first_name} #{@user.last_name}" %></dd>
          <dt>Nickname:</dt>
          <dd><%= @user.nickname %></dd>
        </dl>

        <table class="answers_summary">
          <tr class="correct">
            <th><strong>Correct</strong> Answers:</th>
            <td><%= @hits %></td>
          </tr>
          <tr class="wrong">
            <th><strong>Wrong</strong> Answers:</th>
            <td><%= @misses %></td>
          </tr>
        </table>
      </div>
    </div>
  <% end %>
</div>

<%= yield :bottom %>
</body>
</html>