<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="/imuz_db/mobile/images/icon-57x57.png"/>
    <!--script src="http://192.168.1.3:8080/target/target-script-min.js"></script--> 
    <link rel="apple-touch-startup-image" href="/imuz_db/mobile/images/splash_screen.jpg" />
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/imuz_db/mobile/mob-main.css" type="text/css" media="screen, mobile" title="main" charset="utf-8">  
    <link rel="stylesheet" href="/stylesheets/imuz_db/mobile/mob-forms.css" type="text/css" media="screen, mobile" title="main" charset="utf-8">
     <%= javascript_include_tag 'imuz_db/jquery_min','imuz_db/mobile/before_filters', 'imuz_db/mobile/modal', 
                                'imuz_db/mobile/listners', 'imuz_db/mobile/main' %>
    <title>iMuzDB Quiz</title>
    <%= yield :head %>
</head>
<body>
  <img id='orientation_warning' src="/imuz_db/mobile/images/orientation_warning.jpg" width="480" height="320" alt="" class="orientation_warning" style="display: none">
  <% if params[:feedback_send] %>
  <div id="modal" class="modal_overlay">
            <div class="window">
                <h5>
                    Password generated
                    <a class="close_link" ontouchend="closeModal();"></a>
                </h5>
                <p>A new password has been generated and sent to your registered e-mail.</p>
                <p> Please log in and change your password at the profile settings as soon as possible.</p>

                <div class="buttons">
                    <a class="button bt_default bt_center" ontouchend="closeModal();"><strong>Back to Login</strong></a>
                </div>
            </div>
        </div>
  <% else %>  
    <div id="modal_fb" style="display: none" class="modal_overlay">
    <div class="window preloader">
        <h5>
            Connecting to Facebook
        </h5>
        <img src="/imuz_db/mobile/images/preload.gif" width="84" height="64" alt="" class="preloader_img">
        <p>Please wait a moment while we connect with Facebook.</p>
        <!-- Gamibarra para contornar bug do iphone(aparentemente de cache). -->  
        <img src="/imuz_db/mobile/images/modal_topBar_noLink.png" style="visibility: hidden">  
      </div>
    </div>
  <% end %>
    <div id="viewport" class="default_viewport">
        <%= yield %>
    </div>
    <%= yield :out_viewport %>
  </body>
</html>
