<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
  <head>
    <title>iMuz DB Admin - Add News</title>

    <%=  stylesheet_link_tag "imuz_db/admin/main.css" %>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans:bold,italic,bolditalic">

    <%=  javascript_include_tag "imuz_db/jquery_min" %>
    <%=  javascript_include_tag "imuz_db/admin/nicEdit" %>
      <script type="text/javascript">
        bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
      </script>
  </head>
  <body>
    <div id="admin">
      <div class="header">
        <%= image_tag "imuz_db/admin/logo.png", :width => '142', :height => '67', :alt => 'iMuzDB', :class => 'logo' %>
        <div class="tit_admin texthide"><span>Admin</span></div>
      </div>

      <div class="main_menu">
        <ul>
          <li class="<%= controller_name == "news_feeds" ? "selected" : ""%>"><%= link_to "News", news_feeds_path %></li>
          <li class="<%= controller_name == "customers" ? "selected" : ""%>"><%= link_to "Users", customers_path %></li>
        </ul>

        <%= link_to content_tag("span", "X") + "Logout", "/login/logout", :class => "logout_link", :confirm => "Are you sure you want to exit?" %>
        <!--<a href="/login/logout" class="logout_link"><span>X</span>Logout</a>-->
      </div>

      <div class="contextual_menu">
        <ul>
          <% if controller_name == "news_feeds" %>
            <li class="<%= controller_name == "news_feeds" && controller.action_name == "index" ? "selected" : "" %>">
              <%= link_to "Manage News", news_feeds_path %>
            </li>
            <li class="<%= controller.action_name == "new" ? "selected" : "" %>"><%= link_to "Add News Article", new_news_feed_path %></li>
          <% elsif controller_name == "customers" %>
            <li class="<%= controller_name == "customers" && controller.action_name == "index" ? "selected" : "" %>">
              <%= link_to "Users List", customers_path %>
            </li>
            <li class=""><%= link_to "Export Users List to CSV", customers_path(:format => :csv) %></li>
          <% end %>
        </ul>
      </div>

      <div class="main_content">
        <%= yield %>
      </div>

      <br class="clear">
    </div>
  </body>
</html>