<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<html>
  <head>
    <%= stylesheet_link_tag 'home.css' %>
    <link rel="shortcut icon" href="../images/favicon.ico" />

    <%= javascript_include_tag "AC_RunActiveContent.js" %>
    <%= javascript_include_tag :defaults %>

    <script type="text/javascript">
      var woopra_id = '1580895495';
    </script>

    <script src="http://static.woopra.com/js/woopra.js"></script>
  </head>
  <body>
    <a name="topo"></a>
    <div id="Barradegrade">
      <div id="geral">
	      <div class="espacotopico">	
	        <%= render 'banner_right' %>
	        <%= render 'banner_left' %>
          <%= render "menu_topico" %>
	      </div>
	
	      <div class="linhatopicocima">
        </div>    
          
        <div class="topicoconteudo">
          <div class="linha">
            <div class="coluna" style="width:249px;">
              <span class="coluna" style="width:249px;">
                <%= render 'logo' %>
         		  </span>
         		</div>
         		
            <div class="coluna" style="margin-top:3px; margin-botton:4px; background-color: rgb(0, 74, 83); height: 86px; width:410px;">          
              <%= render 'banners' %>
		        </div>
          </div>     
        </div>
        
        <div class="linhatopicobaixo">
        </div> 
          
        <div class="espacotopico">
          <div class="barramenu"  style="position:relative; z-index:10">
            <%= render 'menu_principal' %>
          </div>
        </div>
        
        <%= yield :destaque -%>
        
        <%= yield :layout %>
          
        <%= render 'rodape' %>
      </div>
    </div>

  </body>
</html>
