<div id="product-list">
  
  <h1>Submission list</h1>

  <table cellpadding="5" cellspacing="0" >
	<tr>
	  <th>Id</th>
	  <th>Integrator</th>
      <th>App versions</th>
	  <th>Creation date</th>
	  <th># Devices</th>
	</tr>

  <% for submission in @submissions %>
	<tr valign="top" class="<%=cycle('list-line-odd', 'list-line-even') %>" >
	
	  <td class="list-title" ><%=h submission.id %></td>
	  <td class="list-title" ><%=h submission.integrator.name %></td>
      <td class="list-title" ><%=h submission.app_versions_list.join( ", " ) %></td>
	  <td class="list-title" ><%=h submission.created_at %></td>
	  <td class="list-title" ><%=h submission.devices.length %></td>
	  
	  <td class="list-actions" ><%= link_to 'Show', submission %></td>
	  <td class="list-actions" ><%= link_to 'Edit', edit_submission_path(submission) %></td>
	  <td class="list-actions" ><%= link_to 'Generate files', :controller => 'submissions', :action => 'generate', :id => submission %></td>
	  <td class="list-actions" ><%= link_to 'Destroy', submission, :confirm => "Remove submission " + submission.id.to_s + '?', :method => :delete %></td>
	</tr>
  <% end %>
  </table>

  <br />

</div>

<%= paginating_links( @submissions ) %><br/><br/>

<%= link_to 'Add submission', new_submission_path %>
