<%= render :partial=>'shared/messages' %>

<% if @room and @themes %>
  <%= form_for [ :admin, @room ] do |room_form| %>
    <%= render :partial=>'form', :locals => { :room_form => room_form } %>
  <% end %>
<% else %>
  <%= button_to(I18n.t(:create_theme), new_admin_theme_path, :class => "Botao") %>
<% end %>
