<h1>Editing resource_file</h1>

<%= form_for(@resource_file) do |f| %>
  <%= f.error_messages %>

  <%= f.label "Path" + ": " + @resource_file.filename.to_s %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @resource_file %> |
<%= link_to 'Back', resource_files_path %>
