<% @title = "Resource Files" %>

<table id="table" border="1">
	<thead>
		<tr>
			<th>File Name</td>
			<th>File Type</td>
			<th colspan="2"></td>
		</tr>
	</thead>
	<tbody>
		<% for resource_file in @resource_files %>
		  <tr>
				<td><%= resource_file.file.original_filename %></td>
				<td><%= resource_file.resource_file_type.name %></td>
		    <td><%= link_to 'Show', resource_file %></td>
		    <td><%= link_to 'Edit', edit_resource_file_path(resource_file) %></td>
		  </tr>
		<% end %>
	</tbody>
</table>
<%= paginate @resource_files %>