<%= form_for(@resource_file, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <%= f.label "File" %>:
  <%= f.file_field :file %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', resource_files_path %>
