<%= "Path" + ": " + @resource_file.file.to_s %>
<%= "Type" + ": " + @resource_file.resource_file_type.name %>

<%= link_to 'Edit', edit_resource_file_path(@resource_file) %> |
<%= link_to 'Back', resource_files_path %>
