<div id="product-list">

  <h1>Bands list</h1>

  <table cellpadding="5" cellspacing="0" >
	<tr>
	  <th>Name</th>
	  <th>Frequency (MHz)</th>
	  <th>Id</th>
	</tr>

  <% for band in @bands%>
	<tr valign="top" class="<%=cycle('list-line-odd', 'list-line-even' ) %>" >

	  <td class="list-title" ><%=h band.name %></td>
	  <td class="list-title" ><%=h band.frequency %></td>
	  <td class="list-title" ><%=h band.id %></td>

	  <td class="list-actions" ><%= link_to 'Edit', edit_band_path(band) %></td>
	  <td class="list-actions" ><%= link_to 'Destroy', band, :confirm => "Remove band " + band.name + ' ' + band.frequency.to_s + '?', :method => :delete %></td>
	</tr>
  <% end %>
  </table>

  <br />

</div>
<%= paginate @bands %>
<%= link_to 'Add band', new_band_path %>
