<% @title = "Ranking Types" %>
<table id="table" border="1">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Ranking System</th>
        <th>Unit Format</th>
        <th>Minimum</th>
        <th>Maximum</th>
        <th>Sub Type</th>
        <th>Apps</th>
        <th colspan="3"></th>
    </tr>
    <% for ranking_type in @ranking_types do %>
      <tr>
        <td><%= ranking_type.name %></td>
        <td><%= ranking_type.description %></td>
        <td><%= ranking_type.ranking_system.name if ranking_type.ranking_system %></td>
        <td><%= ranking_type.unit_format.name %></td>
        <td><%= ranking_type.minimum %></td>
        <td><%= ranking_type.maximum %></td>
        <td><%= ranking_type.sub_type %></td>
        <td>
          <% v = '' -%>
          <% for app_version in ranking_type.app_versions -%>
            <% if v == '' -%>
              <%= "#{app_version.app.name} - #{app_version.number}" -%>
              <% v = app_version.app.name -%>
          <% else -%>
            <% if v == app_version.app.name -%>
            <%= " - #{app_version.number}" -%>
          <% else -%>
            <br />
                <%= "#{app_version.app.name} - #{app_version.number}" -%>
                <% v = app_version.app.name -%>
            <% end -%>
          <% end -%>

        <% end -%>
        </td>
        <td><%= link_to "Show", ranking_type_url(ranking_type) %></td>
        <td><%= link_to "Edit", edit_ranking_type_url(ranking_type) %></td>
        <td><%= link_to "Delete",ranking_type, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
</table>
<%= paginate @ranking_types %>

<br />
<%= link_to "New", new_ranking_type_url %>
