<% title @category.persisted? ? 'Editar Categoria' : 'Criar Categoria' %>

<% content_for :head, stylesheet_link_tag("form.css") %>
<% content_for :javascripts, javascript_include_tag("form.category.js") %>

<%= render :partial => 'error_form' %>

<%= content_tag :h1, @category.persisted? ? 'Editar Categoria' : 'Criar Categoria' %>

<%= form_for @category, url: "/categories/#{@category.id}", html: {method: @category.persisted? ? :put : :post, class: 'form clearfix'} do |f| %>
  <%= hidden_field_tag :env, Rails.env %>

  <div class="editCategory clearfix">
    <%= f.hidden_field :id, value: @category.id, id: 'descriptible_id' %>
    <%= f.hidden_field :type, value: 'category', id: 'descriptible_type' %>
    <fieldset>
      <%= f.label :name, 'Nome' %>
      <%= f.text_field :name, maxlength: 200 %>
    </fieldset>

    <fieldset>
      <%= f.label :parent, 'Categoria Pai', for: 'category_parent_id' %>
      <%= collection_select :category, :parent_id, @categories, :id, :name, include_blank: true %>
    </fieldset>

    <% if @category.persisted? %>
      <%= render partial: 'products/descriptions', locals: {form: f, entity: @category} %>
    <% else %>
      <%= render partial: 'inline_description_form', locals: {form: f, descriptions: @descriptions_attributes} %>
    <% end %>

    <fieldset class="alignButton saveButton">
      <%= f.submit 'Salvar Categoria', class: 'button submit_form', id: 'button_save', disabled: true %>
      <%= link_to 'Apagar categoria',
                  "/categories/#{@category.id}",
                  method: :delete,
                  confirm: 'Tem certeza?',
                  class: 'delete_link button' if @category.persisted? %>
    </fieldset>
  </div>
<% end %>

<% if @category.persisted? %>
  <%= render partial: 'products/description_form' if @category.persisted? %>
<% else %>
  <script>

  </script>
<% end %>
