<% title 'Lista de Categorias' %>

<h1>Lista de Categorias</h1>

<section>
  <%= content_tag :div, flash[:notice], class: 'message success' if flash[:notice] %>
  <%= content_tag :div, flash[:alert], class: 'message fail' if flash[:alert] %>

  <table class="data_table">
    <thead>
    <%= content_tag :tr do %>
      <%= content_tag :th, 'Id' %>
      <%= content_tag :th, 'Nome' %>
      <%= content_tag :th, 'Categoria Pai' %>
    <% end %>
    </thead>
    <tbody>

    <% @categories.each_with_index do |category, index| %>
      <%= content_tag :tr, class: index.odd? ? 'zebra' : '' do %>
        <%= content_tag :td, category.id %>
        <%= content_tag :td, link_to(category.name, edit_category_path(category.id)) %>
        <%= content_tag :td, category.parent_name %>
      <% end %>
    <% end %>
    </tbody>
  </table>

  <div id='pagination'>
    <%= link_to '< Anterior', categories_path(page: @previous), class: 'previous_page' if @previous %>
    <% (1..(@total.to_f / 50).ceil).each do |p| %>
      <%= p.to_s == @current ? content_tag(:span, p, class: 'current_page') : link_to(p, categories_path(page: p)) %>
    <% end if (@total.to_f / 50) > 1 %>
    <%= link_to 'Próxima >', categories_path(page: @next), class: 'next_page' if @next %>
  </div>
</section>