<% content_for :head, stylesheet_link_tag("form.css") %>
<%= render :partial => 'form' %>

<!--<form action="" method="post">-->
<!--<div class="editCategory clearfix">-->
<!--<h1>Editar Categoria</h1>-->

<!--<h2>Informações da Categoria</h2>-->

<!--<fieldset>-->
<!--<label for="officialName">Nome Oficial</label>-->
<!--<input type="text" id="officialName">-->
<!--</fieldset>-->

<!--<fieldset>-->
<!--<label for="parent">Parent</label>-->
<!--<select id="parent">-->
<!--<option value="">Heavy machinegun</option>-->
<!--<option value="">Bla</option>-->
<!--<option value="">Ble</option>-->
<!--</select>-->
<!--</fieldset>-->

<!--&lt;!&ndash;  Só aparece quando não há item cadastrado  &ndash;&gt;-->
<!--<fieldset>-->
<!--<legend>Descrição reduzida</legend>-->
<!--<textarea id="description_shorted" class="shortDescription"></textarea>-->

<!--<legend class="labelDescriptionFull">Descrição completa</legend>-->
<!--<textarea id="description_complete"></textarea>-->
<!--</fieldset>-->

<!--<fieldset class="alignButton saveButton">-->
<!--<input type="submit" value="Salvar" name="commit" class="button">-->
<!--</fieldset>-->
<!--</div>-->
<!--</form>-->