<div class='overlay image_overlay' data-id='<%= id %>' style="display:none">
  <div class='popup'>
    <div id="add_image" class="popup_form clearfix">
      <%= form_tag action, multipart: true, class: 'upload_image' do %>
        <h4>Upload de imagem</h4>

        <%= hidden_field_tag "#{(action == '/images') ? record.class.to_s.downcase : 'highlight'}_id".to_sym, record.id %>

        <fieldset>
          <%= file_field_tag 'datafile', class: 'button datafile', size: '40' %>
        </fieldset>

        <fieldset class="chooseDimension clearfix">
          <%= check_box_tag 'generate_thumbs', 1, true, id: 'checkIt', style: 'display: none' %>
          <p>Dimensões dos thumbnails:</p>
          <ul>
            <li>16x16</li>
            <li>|</li>
            <li>32x32</li>
            <li>|</li>
            <li>64x64</li>
            <li>|</li>
            <li>128x128</li>
            <li>|</li>
            <li>256x256</li>
            <li>|</li>
            <li> 512x512</li>
            <li>|</li>
          </ul>
        </fieldset>

        <fieldset class="alignButton">
          <%= link_to 'Cancelar', '#', class: 'button cancel_upload' %>
          <%= submit_tag 'Enviar arquivo', id: 'submit_image', class: 'button submit_image', disabled: true %>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>
