<fieldset id="images">
  <form action="" method="post" name="images">
    <h1>Imagens</h1>

    <div class="imageButtons">
      <a id="add_image_link" class="linkAdd add_image" data-id="image" href="#">Adicionar nova Imagem</a>

      <%= link_to 'Regerar dimensões para todas as imagens', "/products/#{product.id}/refresh_thumbs",
                  method: :post,
                  confirm: 'As imagens serão regeradas com base na primeira imagem enviada. Confirma a operação?' %>
    </div>

    <% if product.images %>
      <% thumb_id = 0 %>

      <% product.images.each do |image| %>
      <% image = image['image'] %>
        <fieldset class="thumbnail" data-image-id="<%= image['id'] %>">
          <legend><%= image['name'] %><%= content_tag :strong, ' (Imagem principal)' if image['id'] == product.main_image_id %></legend>

          <ul>
            <% image['thumbs'].each do |size, url| %>
              <li id="thumb_<%= thumb_id %>" data-thumb-size='<%= size %>'>
                <img src="<%= asset_host + url %>" alt=""/>
                <p><%= "#{size}x#{size}" %></p>
              </li>

              <% thumb_id += 1 %>
            <% end %>
          </ul>

          <div class="alignButton">
            <%= link_to 'Definir como principal', '#',
                        class: "button set_as_main #{image['id'] == product.main_image_id ? 'disabled' : ''}" %>

            <%= link_to 'Regerar dimensões', "/images/#{image['id']}/refresh_thumbs",
                        class: 'button',
                        method: :post,
                        confirm: 'As imagens serão regeradas com base na primeira imagem enviada. Confirma a operação?' %>

            <%= link_to 'Excluir imagem', "/images/#{image['id']}/remove_thumbs",
                        class: 'button',
                        method: :post,
                        confirm: 'Tem certeza?' %>
          </div>
        </fieldset>
      <% end %>
    <% end %>
  </form>
</fieldset>

<div class='overlay' id='new_thumb_overlay' style="display:none">
  <div class='popup'>
    <div id="replace_thumb" class="popup_form clearfix">
      <%= form_tag "", multipart: true, id: 'replace_thumb_form', class: 'upload_image' do %>
        <%= hidden_field_tag :product_id, @product.id %>
        <%= hidden_field_tag :image_id, nil %>
        <%= hidden_field_tag :thumb_size, nil %>

        <h4>Trocar imagem</h4>
        <fieldset>
          <%= file_field_tag 'datafile', class: 'button datafile', size: '40' %>
        </fieldset>

        <fieldset class="alignButton">
          <%= link_to 'Cancelar', '#', class: 'button cancel_upload' %>
          <%= submit_tag 'Enviar arquivo', id: 'submit_image', class: 'button submit_image' %>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>