<fieldset class="thumbnail">
  <%= content_tag :legend, name %>

  <%= image_tag "#{image_host}#{main_image}", class: 'show_thumbs alignButton', width: 80, height: 80, 'data-id' => id %>

  <div class='optionLinks clearfix'>
    <%= content_tag :p, 'Exibir todos os tamanhos', class: 'show_thumbs', 'data-id' => id %>
    <%= content_tag :p, 'Esconder tamanhos', class: 'hide_thumbs', 'data-id' => id, style: 'display: none' %>

    <%= content_tag :ul, "data-id" => id, style: 'display: none' do %>
      <% images.attributes.each_pair do |size, image| %>
        <%= content_tag :li, id: "#{id}_#{size}", 'data-thumb-size' => size do %>
          <%= image_tag "#{image_host}#{image}" %>
        <% end %>
      <% end %>
    <% end %>

    <div class='buttonsForImg'>
      <%= link_to 'Regerar dimensões',
                  regenerate_link,
                  class: 'button',
                  method: :post,
                  confirm: 'As imagens serão regeradas com base na primeira imagem enviada. Confirma a operação?' %>

      <%= link_to 'Excluir imagem',
                  delete_link,
                  class: 'button',
                  method: :post,
                  confirm: 'Tem certeza?' %>
    </div>
  </div>
</fieldset>

<script>
  $('.show_thumbs').unbind('click');
  $('.show_thumbs').click(function (e) {
    var id = $(e.target).attr('data-id');

    $('p.show_thumbs[data-id=' + id + ']').hide();
    $('.hide_thumbs[data-id=' + id + ']').show();
    $('img[data-id=' + id + ']').hide();
    $('ul[data-id=' + id + ']').show();
  })

  $('.hide_thumbs').unbind('click');
  $('.hide_thumbs').click(function (e) {
    var id = $(e.target).attr('data-id');

    $('p.hide_thumbs[data-id=' + id + ']').hide();
    $('.show_thumbs[data-id=' + id + ']').show();
    $('img[data-id=' + id + ']').show();
    $('ul[data-id=' + id + ']').hide();
  })
</script>
