<h1>Meu Perfil - Editar</h1>
<% if not flash[:notice].blank? %>
  <div class="conteudo_principal conteudo_blocos">
    <div class="alerta msg_sucesso">
      <h6>Operação realizada com sucesso</h6>
      <p>Você salvou suas alterações do perfil com sucesso!</p>
    </div>
  </div>
<% elsif flash[:error] %>
  <div class="conteudo_principal conteudo_blocos">
    <div class="alerta msg_erro">
      <h6>Operação não realizada</h6>
      <p>Ocorreram alguns erros enquanto você estava salvando as alterações no seu perfil</p>
    </div>
  </div>
<% end %>

<% if @poll %>
  <div class="msg_alerta">
    <div class="conteudo">
      <p>
        Você tem uma pesquisa pendente para responder. Clique <%= link_to "aqui", @poll %> para respondê-la. 
      </p>
      <p><strong>Participe e ganhe <%= Poll::POINTS %> pontos no ranking!</strong></p>
    </div>
  </div>
<% end %>

<div class="box_generico box_perfil">
  <div class="conteudo_box clearfix">
    <div class="usuario">
      <%= link_to( image_tag( current_user.avatar.url(:thumb), :width => 66, :height => 66 ),
                  "#", :onclick=>'constructModal("avatar", "/avatar/index");') %>
      <h3><%=current_user.name%> <%=current_user.post_name %></h3>
      <%= link_to( "<span class='texthide'>Trocar Imagem</span>", "#", :onclick=>'constructModal("avatar", "/avatar/index");', :class=> "bt_trocarImg texthide") %>      
      <span class="data_socio"><%= I18n.t(:affiliated_since)%> <%= I18n.l current_user.created_at.to_date %></span>
    </div>

    <ul class="stats">
      <li>
        <p class="patente">
          <%= image_tag current_user.patent_icon_url, :width => 21, :height => 22%>
          <span><%= current_user.patent_name %> <%= current_user.score%> pontos</span>
        </p>
      </li>   
     
      <li class="perguntas">Contribuí com <strong><%=current_user.how_many_approved_questions%></strong> perguntas para o jogo</li>
      <li class="amigos">Indiquei <strong><%= current_user.inviteds.size %></strong> amigos</li>
    </ul>
  </div>
</div>
<%= render :partial => 'shared/registration', :locals => { :user => current_user }%>
