<div id="files_list">
  <% @app_version.app_files.each { |file| %>
    <p><%= h( file.filename ) %>&nbsp;&nbsp;&nbsp;(<%= link_to_remote 'delete', :update => 'files_list', :url => { :action => :delete_file, :file_id => file, :id => @app_version } %>)</p>
  <% } %>
</div>
