<h1>New application version</h1>

<% form_for( @app_version, :html => { :multipart => true } ) do |f| %>
  <%= f.error_messages %>

  <p><label for="app_version_app">Application</label><br/>
  <%= select 'app_version', 'app_id', 
	  App.find(:all).collect {|a| [a.name, a.id]}, 
	  :prompt => "Select an application" %>
  </p>
  <p>
    <%= f.label :number %><br/>
    <%= f.text_field :number %>
  </p>
	<p>
		<%= f.label :state %>
		<%= f.collection_select(:app_version_state_id, @states, :id, :name, :prompt => "State") %>
	</p>
  <p>Files: </p>
    <% for i in 1..6 %>
      <p>
        <td class='Label'><label for="app_file">File</label></td>
        <input id="<%= "app_file_#{i}_app_file_temp" %>" name="<%=  "app_files[#{i}][app_file_temp]" %>" type="hidden" />
          <input id="<%= "app_file_#{i}_app_file" %>" name="<%=  "app_files[#{i}][app_file]" %>" size="30" type="file" />
      </p>
    <% end %>
  <p>
    <%= f.label :release_notes %><br />
    <%= f.text_area :release_notes, :size => '40x3' %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', app_versions_path %>