<p>
  <b>Application:</b>
  <%=h @app_version.app.name %>
</p>
<p>
  <b>Version:</b>
  <%=h @app_version.number %>
</p>
<p>
  <b>Files:</b><br/>
  <% @app_version.app_files.each { |v| %>
    <%= link_to "#{ v.filename.filename }", v.filename.url %><br/>
  <% } %>
</p>
<p>
  <b>Release notes:</b>
  <%=h @app_version.release_notes %>
</p>
<p>
	<b>State:</b>
	<%=h @app_version.state.name %>
</p>
<p>
  <b>Families supported:</b>
  <% if ( @app_version.families.empty? ) %>
	<br/><%= 'None' %>
  <% 
	else
	  for family in @app_version.families
  %>
	<br/><%= h family.name %>
  <%
      end
	end
  %>
</p>

<%= link_to 'Edit', edit_app_version_path(@app_version) %> |
<%= link_to 'Back', app_versions_path %>
