@charset "UTF-8";
/*-----------------------------------------------------------------------------
Nano Studio - Mobile Common Stylesheet
Author: Fabricio Fernandes
e-mail: fabricio@nanostudio.com.br
-----------------------------------------------------------------------------*/

.weaponFeature {
    background: url(/assets/listras_li_v.png) repeat #555D63;
    padding: 1.25em 6.25%;  /* = 20px of 320px -> width:280px */
}


/* =Highlighted
-----------------------------------------------------------------------------*/
.mainImage {
    position: relative;
    float: left;
    clear: left;
    margin-right: 3.57142857142857142%;    /* = 10px of 280px */
    margin-bottom: 5px;
    text-align: center;
    overflow: hidden;
    background-color: #c0c3c5;
    height: 180px;
}

.mainImage p {
    position: absolute;
    top: 0;
    right: 0;
}

.productLinks {
   float: left;
   width: 83px;
}

.productLinks p,
.productLinks a {
   text-align: center;
}

.productLinks p span {
   text-decoration: line-through;
   color: #b8bec0;
}

.productLinks a {
   clear: right;
   display: block;
   font-size: 1.083333em;
}
/*
.productLinks button {
    width: 100%;
}
 */
.productLinks .buttonDarkBlue,
.productLinks .buttonDarkBlueDisable {
    margin: 0.93em 0px 0.7em 0px;
}

.productLinks .buttonDarkBlue span {
    font-size: 1.6em;
    font-weight: bold;
    vertical-align: -0.1em;
    margin-right: 5px;
    color: #fff;
}

button.buttonDarkBlueDisable {
    padding: 5px 22px;
}

.productLinks .bookmark {
    padding: 5px 0;
}

.productLinks ul{
    max-width: 100px;
    margin: 0 auto;
    padding: 0 9.638%;   /* = 8px of 83px */
}

.productLinks ul li a {
   float: left;
   clear: none;
   display: inline;
   margin: 0.307692em 0;
   padding: 0;
}

.productLinks ul li:nth-child(odd) {
   clear: left;
   float: right;
}


/* =Table
----------------------------------------------------------------------*/
table {
    width: 100%;    /* = 280px  */
    margin-top: 8px;
    font-size: 1.148em;     /* = 14px of 12px */
    font-weight: bold;
    border-collapse: collapse;
}

table td {
    text-align: center;
    padding: 4px 2px;
    background-color: #bfc2c4;
    color: #24292d;
    border: 0.2em solid #474d51;
}

table td:first-child {
    background-color: rgba(191, 194, 196, 0.4);
    text-align: left;
    padding-left: 15px;
    color: #e8e8e8;
}
