/*-----------------------------------------------------------------------------
Nano Studio - Mobile Common Stylesheet
Author: Fabricio Fernandes
-----------------------------------------------------------------------------*/

@charset "UTF-8";

/* =General User Form
----------------------------------------------------------------------*/
.titleArea div button,
.userPage form button {
    padding: 5px 17px;
    font: 0.91666666666666666666666666666667em PTSansRegular;
}

.titleArea div button {
    margin-top: 13px;
}

.userPage {
    background: url(/assets/listras_li_v.png) repeat;
    padding: 0 6.25% 20px;  /* = 20px of 320px */
}

.userPage p.mainMessage {
    padding: 7px 10px 7px 45px;
    margin-bottom: 20px;
    font-family: PTSansBoldItalic;
    font-size: 1.0833em;
    float: none;
}

.userPage p.success {
    background: rgb(249,250,250); /* Old browsers */
    background: url(/assets/v_green.png) no-repeat 10px 55%, url(/assets/canto-mensagem.png) no-repeat left top, -moz-linear-gradient(top,  rgba(249,250,250,1) 0%, rgba(229,230,230,1) 15%, rgba(208,210,211,1) 100%); /* FF3.6+ */
    background: url(/assets/v_green.png) no-repeat 10px 55%, url(/assets/canto-mensagem.png) no-repeat left top, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,250,250,1)), color-stop(15%,rgba(229,230,230,1)), color-stop(100%,rgba(208,210,211,1))); /* Chrome,Safari4+ */
    background: url(/assets/v_green.png) no-repeat 10px 55%, url(/assets/canto-mensagem.png) no-repeat left top, -webkit-linear-gradient(top,  rgba(249,250,250,1) 0%,rgba(229,230,230,1) 15%,rgba(208,210,211,1) 100%); /* Chrome10+,Safari5.1+ */
    background: url(/assets/v_green.png) no-repeat 10px 55%, url(/assets/canto-mensagem.png) no-repeat left top, -o-linear-gradient(top,  rgba(249,250,250,1) 0%,rgba(229,230,230,1) 15%,rgba(208,210,211,1) 100%); /* Opera 11.10+ */
    background: url(/assets/v_green.png) no-repeat 10px 55%, url(/assets/canto-mensagem.png) no-repeat left top, -ms-linear-gradient(top,  rgba(249,250,250,1) 0%,rgba(229,230,230,1) 15%,rgba(208,210,211,1) 100%); /* IE10+ */
    background: url(/assets/v_green.png) no-repeat 10px 55%, url(/assets/canto-mensagem.png) no-repeat left top, linear-gradient(top,  rgba(249,250,250,1) 0%,rgba(229,230,230,1) 15%,rgba(208,210,211,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fafa', endColorstr='#d0d2d3',GradientType=0 ); /* IE6-9 */
    border: 2px solid #d9e1e5;
    color: #055f5e;
}

.userPage p.fail {
    background: rgb(249,250,250); /* Old browsers */
    background: url(/assets/x_red.png) no-repeat 10px 55%, url(/assets/canto-mensagem.png) no-repeat left top, -moz-linear-gradient(top,  rgba(249,250,250,1) 0%, rgba(229,230,230,1) 15%, rgba(208,210,211,1) 100%); /* FF3.6+ */
    background: url(/assets/x_red.png) no-repeat 10px 55%, url(/assets/canto-mensagem.png) no-repeat left top, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,250,250,1)), color-stop(15%,rgba(229,230,230,1)), color-stop(100%,rgba(208,210,211,1))); /* Chrome,Safari4+ */
    background: url(/assets/x_red.png) no-repeat 10px 55%, url(/assets/canto-mensagem.png) no-repeat left top, -webkit-linear-gradient(top,  rgba(249,250,250,1) 0%,rgba(229,230,230,1) 15%,rgba(208,210,211,1) 100%); /* Chrome10+,Safari5.1+ */
    background: url(/assets/x_red.png) no-repeat 10px 55%, url(/assets/canto-mensagem.png) no-repeat left top, -o-linear-gradient(top,  rgba(249,250,250,1) 0%,rgba(229,230,230,1) 15%,rgba(208,210,211,1) 100%); /* Opera 11.10+ */
    background: url(/assets/x_red.png) no-repeat 10px 55%, url(/assets/canto-mensagem.png) no-repeat left top, -ms-linear-gradient(top,  rgba(249,250,250,1) 0%,rgba(229,230,230,1) 15%,rgba(208,210,211,1) 100%); /* IE10+ */
    background: url(/assets/x_red.png) no-repeat 10px 55%, url(/assets/canto-mensagem.png) no-repeat left top, linear-gradient(top,  rgba(249,250,250,1) 0%,rgba(229,230,230,1) 15%,rgba(208,210,211,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fafa', endColorstr='#d0d2d3',GradientType=0 ); /* IE6-9 */
    border: 2px solid #892307;
    color: #892307;
}

.userPage form {
    padding-top: 17px;
}

.userPage form fieldset {
    margin-bottom: 20px;
}

.userPage form label {
    color: #bfc2c4;
    font: 1.0833em PTSansBold;
    float: left;
    width: 21.428571%; /* = 60px of 280px */
    padding-right: 5%;  /* = 14px of 280px */
    margin-top: 6px;
    text-align: right;
}

.userPage form input {
    float: right;
    width: 65%; /* = 182px of 280px */
    padding: 7px 10px;
    border: 1px solid #e8f0f4;
    background-color: #d4d8da;
    color: #212c34;
    overflow: hidden;
}

.userPage form .error {
    color: #a22b0a
}

.userPage form input.locked {
    background-color: #6a7176;
    color: #bfc2c4;
    border: 1px solid #60666B;
}

input:-webkit-autofill {
    background-color: #d4d8da !important;
    color: #A22B0A !important;
}

form fieldset p {
    background-color: #fff;
    width: 64.86%;
    margin-top: 2px;
    padding: 5px 10px;
    border: 2px solid #892307;
    color: #892307;
    font: 1.0833em PTSansItalic;
    float: right;
}

/* =Login
----------------------------------------------------------------------*/
.formLink {
   text-decoration: underline;
   margin-bottom: 12px;
   color: #92d0d3;
   float: right;
}

.login {
    float: right;
    clear: both;
}
