<h1>Editing user role</h1>

<%= form_for(@user_role) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :layout %><br />
    <%= f.text_field :layout %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', user_roles_path %>
