<div id="rodape">
	<div class="conteudo">
		<div class="menu_rodape">
			<ul>
				<li class="primeiro"><a href="/">Home</a></li>
				<li><a href="/pages/canal_futura">Canal Futura</a></li>
				<li><a href="/pages/o_jogo">O Jogo</a></li>
				<li><a href="/pages/como_jogar">Como Jogar</a></li>
				<li><a href="/invitations/new">Indique o Jogo</a></li>
				<li><a href="/pages/ajuda">Ajuda</a></li>
				<li><a href="/pages/termos_de_uso">Termos de Uso</a></li>
				<li><a href="http://www.futura.org.br/data/Pages/LUMISF3CC23DDPTBRIE.htm" target="blank">Parcerias</a></li>
				<li><a href="/contacts/new">Contato</a></li>
			</ul>
		</div>
		<a href="http://www.futura.org.br/data/Pages/LUMISF3CC23DDPTBRIE.htm" target="_blank"><img src="/images/comum/rodape_parceiros.png" alt="Parceiros" title="Parceiros" class="parceiros"></a>
		<p class="copyright">Canal Futura &copy; 2010</p>
	</div>
</div>

