<% cache "box_usuario_#{logged_user.id}", 10.minutes.from_now do %>
  <div class="box_usuario">
    <%= image_tag( logged_user.avatar.url(:small_thumb),
      :alt => t(:you_pic),
      :class => "foto_usuario",
      :width => 26,
      :height => 26 ) %>

    <div class="usuario">
      <h5><%= logged_user.nickname %></h5>
      <%= link_to( t(:my_profile), '/profiles', :class => "link_perfil" ) %>


     <p class="patente">
       <%= image_tag logged_user.patent_icon_url, :width => 21, :height => 22 %>
       <span><%= logged_user.patent_name %></span>
     </p>


    </div>
    <a href="/rooms" class="link_jogo texthide"><span>Ir Para o Jogo</span></a>
  </div>
<% end %>

<div class="info_jogadores">
  <ul>
    <% cache "online_users_box", 10.seconds.from_now do %>
      <li>
        <%= link_to( how_many_online_users, "/players/all" ) %>
      </li>
    <% end %>

    <% cache "online_friends_#{logged_user.id}_box", 1.minute.from_now do %>
      <li>
        <%= link_to( how_many_online_friends, "/players/friends" )%>
      </li>
      <%=link_to(I18n.t(:import_friends), session[:ouid] ? "/invitations/orkut" : "/invitations/new", :class=>"convidar_amigos",
                 :onclick=>"constructModal('friends_modal', '/social_medias/show');")%>
    <% end if logged_user %>
  </ul>
</div>

