<% content_for :head do %>
  <%= javascript_include_tag  'soundmanager2','futura/front_end/sound', 'futura/front_end/notification' %>
<%end%>

<script>
  pollServer('/notifications/get_notifications', 10000, 'notifications')
</script>

<div class="box notificacoes">
  <h2>Notificações</h2>
  <div class="cont_notificacoes" id='notifications'>
    <%= render :partial => 'notifications/notification_box' %>
  </div> 
</div>