<% cache "box ranking_periodico", 3.minutes.from_now.time do %>
  <div class="box ranking_periodico">
    <h2>Ranking <span>da Semana</span></h2>
    <ol>
      <% @ranking_players.each_with_index do |ranking_player, ranking_index| %>
        <li>
          <%= ranking_index + 1 %>
          <sup>o</sup> <%= ranking_player.nickname %> -
          <span><%= ranking_player.patent_name %></span>
        </li>
      <% end %>
    </ol>
<% end %>
<% cache "box ranking_periodico#{logged_user.id}", 3.minutes.from_now.time do %>
  <p class="sua_posicao">Sua posição: <%= logged_user.position_in_week_ranking %><sup>o</sup></p>

  <%= link_to "Ver todo o ranking", { :controller => 'rankings', :action => 'weekly' }, :class => "link_mais" %>
  </div>
<% end %>
