<div class="box ranking_periodico promo_ipad">
  <h2>Promoção CDF Nota 10</h2>
  <% cache "box ranking_ipad", 3.minutes.from_now.time do %>
    <ol>
      <% @ranking_players.each_with_index do |ranking_player, ranking_index| %>
        <li>
          <%= ranking_index + 1 %><sup>o</sup> <%= ranking_player.nickname%> -
          <span><%= ranking_player.patent_name%></span>
        </li>
      <% end %>
    </ol>
  <% end %>

  <% cache "box ranking_ipad_user_#{logged_user.id}", 3.minutes.from_now.time do %>
    <p class="sua_posicao">Sua posição: <%= logged_user.position_in_month_ranking %><sup>o</sup></p>

    <%= link_to "Ranking", {:controller => 'rankings', :action => 'monthly'}, :class => "link_left" %>
    <%#= link_to "Regras", {:controller => 'pages', :action => 'regulamento_ipad', :layout => false}, :class => "link_right" %>
    <a href="/pages/regulamento_ipad" class='link_right'>Regras</a>
  <% end %>
</div>
