<% content_for :head do %>
  <%=stylesheet_link_tag "FrontEnd/cadastro"%>
  <%= javascript_include_tag "futura/front_end/contact_mail"%>

<%end%> 
  <div class="carregando_jogo juggernaut_loading" id="loading" style="display:none;">
  <div class="popup pop_padrao">
    <div class="cabecalho_pop"></div>
    <div class="pop_meio">
      <div class="conteudo_pop">
        <h1>Enviando mensagem <img src="/images/comum/loader.gif" class="img_load"></h1>
        <p>Por favor aguarde alguns instantes...</p>
        <%= link_to "<span>Cancelar</span>", {:controller=>'contacts', :action => 'new'}, 
          :class => "bt_cancelar texthide" %>
        </a>
      </div>
    </div>
  </div>
</div>

<h1>Fale Conosco</h1>
<p class="txt_comum"><strong>Precisa de ajuda ou quer fazer uma sugestão? Entre em contato com a gente, responderemos o mais rápido possível.</strong></p>
<% if flash[:message] %>
  <div class="alerta msg_erro">
    <div id="errorExplanation" class="errorExplanation">
      <p>Os erros ocorreram nos seguintes campos:</p>
      <ul>
        <%= flash[:message] %>
      </ul>      
    </div>
  </div>
<% end %>

<div class="fale_conosco">
<% form_for :user_info, :url => {:controller => :contacts, :action => :create} do |f|%>
  <div class="coluna_form">
    <%= f.label :name, '<span class="obrigatorio">Nome</span>'%>
    <% if flash[:errors] and flash[:errors][:name]%>  
      <div class="fieldWithErrors">
    <% end %>
    <%= f.text_field :name, :tabindex => 1%>
    <% if flash[:errors] and flash[:errors][:name]%>  
      </div>
    <% end %>
    <%= f.label :city, "Cidade"%>
    <%= f.text_field :city, :tabindex => 4 %>
  </div>
  <div class="coluna_form coluna_meio">
    <%= f.label :post_name, "Sobrenome"%>
    <% if flash[:errors] and flash[:errors][:post_name]%>  
      <div class="fieldWithErrors">
    <% end %>
    <%= f.text_field :post_name, :tabindex => 2%>
    <% if flash[:errors] and flash[:errors][:post_name]%>  
      </div>
    <% end %>
    <div class="estado">
      <%= f.label :state_id, "Estado"%>
      <%= f.select :state_id, @states, {:include_blank => true}, :id => 'estado', :tabindex => 5 %>
    </div>
    <div class="pais">
      <%= f.label :country_id, "País"%>
      <%= f.select :country_id, @countries, {:selected => @selected_country}, :id => 'pais', :tabindex => 6 %>
    </div>
  </div>
  <div class="coluna_form">
    <%= f.label :email, '<span class="obrigatorio">E-Mail</span>'%>
    <% if flash[:errors] and flash[:errors][:email]%>  
      <div class="fieldWithErrors">
    <% end %>
    <%= f.text_field :email, :tabindex => 3 %>
    <% if flash[:errors] and flash[:errors][:email]%>  
      </div>
    <% end %>
  </div>
  <%= label_tag :message, '<span class="obrigatorio">Mensagem</span>', :class => 'label_sobre'%>
   <% if flash[:errors] and flash[:errors][:message]%>  
     <div class="fieldWithErrors">
   <% end %>  
  <%= text_area_tag :message, "",{:cols => 15, :rows => 5, :class => 'contato_msg', :id => 'message', :tabindex => 7} %>
   <% if flash[:errors] and flash[:errors][:message]%>  
     </div>
   <% end %>
  <span class="observacao">limite de 230 caracteres</span>
  <div class="rodape_form">
    <ul>
      <li><%= check_box_tag :receive_news_letter, "1" %> Aceito receber novidades e promoções do Canal Futura e parceiros</li>
    </ul>
    <br><br><br><br>
    <%= f.submit "", :class => "bt_enviar", :onclick =>'showLoading();',:tabindex => 9%>
  </div>
<% end %>
</div>
