 <% content_for :head do %>
  <%=stylesheet_link_tag "FrontEnd/cadastro"%>
<%end%> 
<h1>Mensagem Enviada</h1>
<div class="box_mensagem">
  <div class="conteudo_box">
    <p><strong>Mensagem enviada com sucesso</strong></p>
    <p>Agradecemos o seu contato.</p>
  	<p>Equipe Canal Futura.</p>
    <a href="/contacts/new" ><img src="/images/comum/bt_voltar.png"></a>
  </div>
</div>
