<div id="compositions">
  <% for composition in @ad_channel_version.ad_channel_version_compositions -%>
    <%= h composition.resource_type.title %>
    <%= " Code: " %>
    <%= h composition.code %>
	  <%= link_to 'delete',
                :update => 'compositions',
                :url => { :action => :delete_composition,
                          :composition_id => composition.id,
                          :id => @ad_channel_version },
                :remote => true %>
    <br />
  <% end -%>

</div>
