<div class="resource_type">
  <%= fields_for "compositions[]", resource_types do |f| -%>
    <%= f.collection_select 'resource_type_id',
                            @resource_types,
                            :id,
                            :title %>
    <%= f.label :code %>
    <%= f.text_field :code %>
    <%= link_to_function 	'remover', "this.up('.resource_type').remove()" %>
    <br />
  <% end -%>
</div>

