<%=javascript_include_tag 'json_descendants'%>
<ul>
  <li>
    <%= room_form.label :name, I18n.t( :name ) + " (máximo de 32 caracteres)"%>
    <%= room_form.text_field :name, {:maxlength => 32} %>
  </li>

  <li>
    <%= room_form.label :description, I18n.t( :description ) + " (máximo de 120 caracteres)" %>
    <%= room_form.text_field :description, {:maxlength => 120 } %>
  </li>

  <fieldset>
    <legend><%= I18n.t( :choose_themes )%></legend>
    <li>
      <ul id="themes_boxes">
        <% room_form.fields_for :themes, @room.themes.uniq do |themes_fields| %>
            <% for theme in @themes%>
                <li>
                  <% if theme.room_ids.include?(@room.id) %>
                      <%= themes_fields.label theme.id.to_sym, "#{themes_fields.check_box :id, {:name=>"themes[#{theme.id}]", :checked=>true, :id=>"checkbox_#{theme.id}", :onclick=>"checkDescendants(#{theme.id})" }} #{theme.name_with_level}" %>

                  <% else %>
                      <%= themes_fields.label theme.id.to_sym, "#{themes_fields.check_box :id, {:name=>"themes[#{theme.id}]", :checked=>false, :id=>"checkbox_#{theme.id}",:onclick=>"checkDescendants(#{theme.id})" }} #{theme.name_with_level}" %>
                  <% end %>
                </li>
            <% end %>
        <% end %>
      </ul>
    </li>
  </fieldset>

  <li>
    <%= room_form.label :image, I18n.t( :image ) %>
    <%= room_form.file_field :image %>
  </li>
    
  <li>
    <%= room_form.label :background, I18n.t( :background_image ) %>
    <%= room_form.file_field :background %>
  </li>

  <li>
    <%= room_form.submit I18n.t( :save ), :class=>"Botao"%>
    <%= link_to "Cancelar", :admin_rooms, :class=>"Botao" %>
  </li>
</ul>
