<%=render :partial=>'shared/messages'%>

<% if @room and @themes %>
    <%= image_tag @room.image.url(:thumb), :class => "img_sala"%>

    <% form_for @room, :url=>admin_room_path( @room ), :html=>{:multipart=>true}  do |room_form| %>
        <%= render :partial=>'form', :locals => { :room_form => room_form } %>
    <%end%>
<% else %>
    <%= button_to(I18n.t(:create_theme), new_admin_theme_path, :class => "Botao")%>
<% end %>
