<%=render :partial=>'shared/messages'%>

<table class="GridView">
	<tr class="gridHeader">
  	<th class="nomeTema"><%= I18n.t( :room )%></th>
  	<th><%= I18n.t( :description )%></th>
  	<th><%= I18n.t( :themes )%></th>
  	<th><%= I18n.t( :edit )%></th>
  	<th><%= I18n.t( :delete )%></th>
	</tr>
	
	<% for room in @rooms %>
		<tr>
			<td>
			  <%= room.name %>
			</td>
			
			<td class="linkColumn">
			  <%= room.description %>
			</td>
			
			<td class="linkColumn">
			  <%= room.themes.uniq.map {|t| t.name }.join(", ") %>
			</td>
			
			<td class="linkColumn">
			  <%= link_to image_tag('/images/admin/page_white_edit.png'), edit_admin_room_path( room ), :id => "edit_room_#{room.id}"%>
		  </td>
		  
			<td class="linkColumn">
				<%= link_to image_tag('/images/admin/delete.png'), 
				            admin_room_path( room ), 
				            :id =>      "delete_room_#{room.id}", 
				            :confirm=>  I18n.t(:deletion, :object => room.name), 
				            :method=>   "delete"%>
			</td>
		</tr>
	<%end%>
</table>

<%= will_paginate @rooms%>



		

