<ul>
  <li>
    <%= question_form.label :title, I18n.t( :title ) + " (máximo de 200 caracteres)" %>
    <%= question_form.text_field :title %>
  </li>
  <li>
    <% fields_for :answer, @question.answer do |answer_form| -%>
      <%= answer_form.error_messages%>
      <fieldset>
        <legend><%= I18n.t( :answers ) + " (máximo de 130 caracteres)" %></legend>
        <ul>
          <li>
            <%= answer_form.label :a, "A" %>
            <%= answer_form.text_field :a %>
          </li>
          <li>
            <%= answer_form.label :b, "B" %>
            <%= answer_form.text_field :b %>
          </li>
          <li>
            <%= answer_form.label :c, "C" %>
            <%= answer_form.text_field :c %>
          </li>
        </ul>
      </fieldset>
    <% end -%>
  </li>
  <li>
    <fieldset>
      <legend><%= I18n.t( :correct_answer )%></legend>
      <ul>
        <li>
          <%= question_form.label :question_correct_a, "A"%>
          <%= radio_button("question", "correct", "a") %>
        </li>
        <li>
          <%= question_form.label :question_correct_b, "B"%>
          <%= radio_button("question", "correct", "b") %>
        </li>
        <li>
          <%= question_form.label :question_correct_c, "C"%>
          <%= radio_button("question", "correct", "c") %>
        </li>
      </ul>
    </fieldset>
  </li>
  <li>
    <%= question_form.label :theme_id, I18n.t( :theme )%>
    <%=question_form.select :theme_id, @select_options, {:selected=>@question.theme_id}%>
  </li>
  <li>
    <%= question_form.submit I18n.t( :save ), :class=>"Botao"%>
    <%= link_to "Cancelar", :admin_questions, :class=>"Botao" %>
  </li>
</ul>
