<%= render :partial=>'shared/messages' %>
<% form_tag 'questions', :method => :get do %>
  <%= label_tag :search, "Buscar", :style => "display: inline;" %>
  <%= text_field_tag :search, "", :style => "width: 500px; display: inline;" %>
  <%= submit_tag "Pesquisar", :style => "display: inline; margin-right; 10px;" %>
  <input style="display: inline;" type="submit" value="Limpar Busca">
<% end %>

<table class="GridView">
  <tr class="gridHeader">
  <th class="nomeTema"><%= I18n.t( :question )%></th>
  <th><%= I18n.t( :theme )%></th>
  <th><%= I18n.t( :edit )%></th>
  <th><%= I18n.t( :delete )%></th>
  </tr>
	
  <% for question in @questions %>
    <tr>
      <td><%= question.title %></td>
      <% if question.theme.nil? %>
        <td><%= I18n.t(:no_theme)%></td>
      <% else %>
        <td><%= question.theme.name %></td>
      <% end %>
      <td class="linkColumn">
      <%= link_to image_tag('/images/admin/page_white_edit.png'), 
                            edit_admin_question_path( question ), 
                            :id => "edit_question_#{question.id}"%>
      </td>
      <td class="linkColumn">
        <%= link_to image_tag('/images/admin/delete.png'), 
                              admin_question_path( question ), 
		                :confirm=>I18n.t( :deletion, :object => question.title ), 
		                :method=>"delete", 
		                :id => "delete_question_#{question.id}"%>
      </td>				
    </tr>
  <%end%>
</table>
<%= will_paginate @questions%>
