<%=render :partial=>'shared/messages'%>

<% if @question %>
  <% form_for @question, :url=>admin_questions_path, :html=>{:method=>:post} do |question_form| %>
    <%= render :partial=>'form', :locals => { :question_form => question_form } %>
  <%end%>
<% else %>
  <%= button_to(I18n.t(:create_theme), new_admin_theme_path, :class => "Botao")%>
<% end %>
