<div class="resource">
	<%= fields_for "ad_piece_version[resources][]", resource do |f| -%>
		<p>
		  <%= f.file_field :resource %>
			<%= link_to_function 	'remove', "this.up('.resource').remove()" %>
		</p>
	<% end -%>
</div>

