<div id="product-list">
  
  <h1>Device list</h1>

  <table cellpadding="5" cellspacing="0" >
	<tr>
	  <th>Vendor</th>
	  <th>Model</th>
	  <th>Commercial name</th>
	  <th>MIDP</th>
	  <th>CLDC</th>
	  <th>Family</th>
	  <th>Screen width</th>
	  <th>Screen partial height</th>
	  <th>Screen full height</th>
	  <th>Max jar size</th>
	  <th>Heap memory</th>
	  <th>Image memory</th>
	  <th>User-agent</th>
	  <th>Touch screen</th>
	  <th>RMS max size</th>
	  <th>RMS max record size</th>
	</tr>

  <% for device in @devices %>
	<tr valign="top" class="<%=cycle('list-line-odd', 'list-line-even') %>" >
	
	  <td class="list-title" ><% if ( device.vendor ) %> <%=h device.vendor.name %> <% end %></td>
	  <td class="list-title" ><%=h device.model %></td>
	  <td class="list-title" ><%=h device.commercial_name %></td>
	  <td class="list-title" ><% if ( device.midp_version ) %> <%=h device.midp_version.version %> <% end %></td>
	  <td class="list-title" ><% if ( device.cldc_version ) %> <%=h device.cldc_version.version %> <% end %></td>
	  <td class="list-title" ><% if ( device.family ) %> <%=h device.family.name %> <% end %></td>
	  <td class="list-title" ><%=h device.screen_width %></td>
	  <td class="list-title" ><%=h device.screen_height_partial %></td>
	  <td class="list-title" ><%=h device.screen_height_full %></td>
	  <td class="list-title" >
		<%= 
		  if ( device.jar_size_max == -1 ) 
			h 'Ilimitado'
		  else
			h device.jar_size_max 
          end
		%>
	  </td>
	  <td class="list-title" >
		<%= 
		  if ( device.memory_heap == -1 ) 
			h 'Ilimitada'
		  else
			h device.memory_image 
          end
		%>
	  </td>
	  <td class="list-title" >
		<%= 
		  if ( device.memory_image == -1 ) 
			h 'Ilimitado'
		  else
			h device.memory_image 
          end
		%>
	  </td>
	  <td class="list-title" ><%=h device.user_agent %></td>
	  <td class="list-title" ><%=h device.pointer_events %></td>
	  <td class="list-title" ><%=h device.rms_total_size %></td>
	  <td class="list-title" ><%=h device.rms_max_record_size %></td>
	  
	  <td class="list-actions" ><%= link_to 'Show', device %></td>
	  <td class="list-actions" ><%= link_to 'Edit', edit_device_path(device) %></td>
	  <td class="list-actions" ><%= link_to 'Destroy', device, :confirm => "Remove device " + device.vendor.name + ' ' + device.model + '?', :method => :delete %></td>
	</tr>
  <% end %>
  </table>

  <br />

</div>

<%= paginating_links( @devices ) %><br/><br/>

<%= link_to 'Add device', new_device_path %>
