@charset "UTF-8";
/*-----------------------------------------------------------------------------
Nano Studio - Mobile Common Stylesheet
Author: Fabricio Fernandes
e-mail: fabricio@nanostudio.com.br
-----------------------------------------------------------------------------*/

/* =General
-----------------------------------------------------------------------------*/
/* -------- color guide ----------
#212323 rgb(33, 35, 35): main dark gray
#585f65 rgb(88, 95, 101): gray
#303f46 rgb(48, 63, 70): dark blue-gray
#3d515e rgb(61, 81, 94): blue-gray
#862818 rgb(134, 40, 24) : magenta
#ac8417 rgb(172, 132, 23) : old gold
*/

body {
    background: #353839;
    background: -moz-linear-gradient(left,  #353839 0%, #36393a 21%, #3b3f41 34%, #52595f 76%, #555d63 85%, #555d63 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#353839), color-stop(21%,#36393a), color-stop(34%,#3b3f41), color-stop(76%,#52595f), color-stop(85%,#555d63), color-stop(100%,#555d63)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #353839 0%,#36393a 21%,#3b3f41 34%,#52595f 76%,#555d63 85%,#555d63 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #353839 0%,#36393a 21%,#3b3f41 34%,#52595f 76%,#555d63 85%,#555d63 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #353839 0%,#36393a 21%,#3b3f41 34%,#52595f 76%,#555d63 85%,#555d63 100%); /* IE10+ */
    background: linear-gradient(left,  #353839 0%,#36393a 21%,#3b3f41 34%,#52595f 76%,#555d63 85%,#555d63 100%); /* W3C */
    font-family: PTSansRegular, Arial, sans-serif;
    color: #fff;
}

a { color: #fff; }

.pageWrapper {
    width: 100%;
}

.titleArea {
    background:
        url(/assets/divisa_secoes.png) left bottom repeat-x,
        url(/assets/spot.png) left top repeat-x,
        url(/assets/padrao_display.jpg) repeat;
        padding: 0 6.25% 10px;  /* = 20px of 320px -> width:280px */
}

.titleArea h2 {
    padding: 16px 0 6px;
    font-size: 1.4em;
    font-family: JuraDemibold, Arial, sans-serif;
    font-weight: bold;
    color: #fff;
}

.buttonLightBlue {
    border: 1px solid #5e666a;
    padding: 3px;
    text-align: center;
    text-transform: uppercase;
    font-family: PTSansRegular;
    -moz-box-shadow: 0 0 1px 1px #070f13;
    -webkit-box-shadow: 0 0 1px 1px #070f13;
    box-shadow: 0 0 1px 1px #070f13;
    background: rgb(71,92,106); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(71,92,106,1) 0%, rgba(31,46,56,1) 76%, rgba(30,45,55,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(71,92,106,1)), color-stop(76%,rgba(31,46,56,1)), color-stop(100%,rgba(30,45,55,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(71,92,106,1) 0%,rgba(31,46,56,1) 76%,rgba(30,45,55,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(71,92,106,1) 0%,rgba(31,46,56,1) 76%,rgba(30,45,55,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(71,92,106,1) 0%,rgba(31,46,56,1) 76%,rgba(30,45,55,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(71,92,106,1) 0%,rgba(31,46,56,1) 76%,rgba(30,45,55,1) 100%); /* W3C */
}

.buttonLightBlueDisabled {
    color: #70797f;
    border: 1px solid #323638;
    -moz-box-shadow: 0 0 1px 1px #283339;
    -webkit-box-shadow: 0 0 1px 1px #283339;
    box-shadow: 0 0 1px 1px #283339;
    background: rgb(61,72,79); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(61,72,79,1) 0%, rgba(58,68,74,1) 29%, rgba(44,52,57,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(61,72,79,1)), color-stop(29%,rgba(58,68,74,1)), color-stop(100%,rgba(44,52,57,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(61,72,79,1) 0%,rgba(58,68,74,1) 29%,rgba(44,52,57,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(61,72,79,1) 0%,rgba(58,68,74,1) 29%,rgba(44,52,57,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(61,72,79,1) 0%,rgba(58,68,74,1) 29%,rgba(44,52,57,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(61,72,79,1) 0%,rgba(58,68,74,1) 29%,rgba(44,52,57,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d484f', endColorstr='#2c3439',GradientType=0 ); /* IE6-8 */
}

.buttonDarkBlue {
    border: 1px solid #000;
    padding: 0 10px;
    color: #7caeb0;
    font: 0.98em PTSansRegular;
    background: rgb(22,25,29); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(22,25,29,1) 0%, rgba(42,50,57,1) 70%, rgba(43,51,58,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(22,25,29,1)), color-stop(70%,rgba(42,50,57,1)), color-stop(100%,rgba(43,51,58,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(22,25,29,1) 0%,rgba(42,50,57,1) 70%,rgba(43,51,58,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(22,25,29,1) 0%,rgba(42,50,57,1) 70%,rgba(43,51,58,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(22,25,29,1) 0%,rgba(42,50,57,1) 70%,rgba(43,51,58,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(22,25,29,1) 0%,rgba(42,50,57,1) 70%,rgba(43,51,58,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16191d', endColorstr='#2b333a',GradientType=0 ); /* IE6-8 */
}

.buttonDarkBlueDisable {
    border: 1px solid #393d41;
    padding: 0 10px;
    color: #fefefe;
    font: 1.08333333em PTSansRegular;
    background: rgb(66,73,77); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(66,73,77,1) 0%, rgba(71,78,84,1) 74%, rgba(70,77,83,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(66,73,77,1)), color-stop(74%,rgba(71,78,84,1)), color-stop(100%,rgba(70,77,83,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(66,73,77,1) 0%,rgba(71,78,84,1) 74%,rgba(70,77,83,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(66,73,77,1) 0%,rgba(71,78,84,1) 74%,rgba(70,77,83,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(66,73,77,1) 0%,rgba(71,78,84,1) 74%,rgba(70,77,83,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(66,73,77,1) 0%,rgba(71,78,84,1) 74%,rgba(70,77,83,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42494d', endColorstr='#464d53',GradientType=0 ); /* IE6-9 */
}


/* =Header
-----------------------------------------------------------------------------*/
header {
    position: relative;
    background: url(/assets/padrao_pedras.jpg) repeat-x;
    height: 61px;
    padding: 0 3.125%;   /* = 10px of 320 */
}

header .fitLeft {
    margin-top: 17px;
}

.headerButton {
    background: url(/assets/bordaBotaoMenuL.png) left 2px no-repeat,
                url(/assets/bordaBotaoMenuR.png) right 2px no-repeat;
    display: inline;
    padding: 10px 3px 6px 3px;
    margin-left: 10px;
}

.headerButton a {
    background: url(/assets/botaoMenuDegadeL2.png) left top no-repeat,
                url(/assets/botaoMenuDegadeR2.png) right top no-repeat,
                url(/assets/botaoMenuDegadeMeio2.png) repeat-x;
    -webkit-box-shadow: 0 8px 15px -2px #000;
    -moz-box-shadow: 0 8px 15px -2px #000;
    box-shadow: 0 8px 15px -2px #000;
    padding: 4px 7px 5px 7px;
}

#startButton span {
    background: url(/assets/setaAmarelaL.png) 2px 5px no-repeat;
    padding-left: 12px;
}

#buyButton span {
    background: url(/assets/setaAmarelaDown.png) right 7px no-repeat;
    padding-left: 0;
    padding-right: 12px;
}

header .fitRight a {
    display: inline-block;
    margin: 7px 0 0 3px;
}

header nav {
    position: absolute;
    width: 93.75%;  /* = 300px of 320px */
    top: 40px;
    border-top: 1px solid #6d7d7d;
    border-bottom: 1px solid #6d7d7d;
    background-color: rgba(5, 7, 7, 0.9);
    z-index: 9;
    visibility: hidden;
}

header nav div{
    overflow: hidden;
    height: 0px;
}

header nav ul, #searchContent form {
    padding: 13px 7.142857% 20px 3.57142857%;     /* = 13px 20px 20px 10px of 280px */
}

header nav ul li a,
header #searchContent button {
    background: rgb(107,114,106); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(107,114,106,1) 0%, rgba(80,87,79,1) 3%, rgba(77,84,77,1) 7%, rgba(79,86,79,1) 10%, rgba(75,81,77,1) 14%, rgba(76,82,78,1) 17%, rgba(47,53,49,1) 72%, rgba(43,49,45,1) 86%, rgba(43,49,45,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(107,114,106,1)), color-stop(3%,rgba(80,87,79,1)), color-stop(7%,rgba(77,84,77,1)), color-stop(10%,rgba(79,86,79,1)), color-stop(14%,rgba(75,81,77,1)), color-stop(17%,rgba(76,82,78,1)), color-stop(72%,rgba(47,53,49,1)), color-stop(86%,rgba(43,49,45,1)), color-stop(100%,rgba(43,49,45,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(107,114,106,1) 0%,rgba(80,87,79,1) 3%,rgba(77,84,77,1) 7%,rgba(79,86,79,1) 10%,rgba(75,81,77,1) 14%,rgba(76,82,78,1) 17%,rgba(47,53,49,1) 72%,rgba(43,49,45,1) 86%,rgba(43,49,45,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(107,114,106,1) 0%,rgba(80,87,79,1) 3%,rgba(77,84,77,1) 7%,rgba(79,86,79,1) 10%,rgba(75,81,77,1) 14%,rgba(76,82,78,1) 17%,rgba(47,53,49,1) 72%,rgba(43,49,45,1) 86%,rgba(43,49,45,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(107,114,106,1) 0%,rgba(80,87,79,1) 3%,rgba(77,84,77,1) 7%,rgba(79,86,79,1) 10%,rgba(75,81,77,1) 14%,rgba(76,82,78,1) 17%,rgba(47,53,49,1) 72%,rgba(43,49,45,1) 86%,rgba(43,49,45,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(107,114,106,1) 0%,rgba(80,87,79,1) 3%,rgba(77,84,77,1) 7%,rgba(79,86,79,1) 10%,rgba(75,81,77,1) 14%,rgba(76,82,78,1) 17%,rgba(47,53,49,1) 72%,rgba(43,49,45,1) 86%,rgba(43,49,45,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b726a', endColorstr='#2b312d',GradientType=0 ); /* IE6-8 */
    border: none;
    font-size: 0.91666em; /* = 11px of 12px */
    padding: 0.6666em 0.7em;
}

header .walletButton {
  margin: 5px 0 0 8px;
  padding: 0 3px 3px 0;
  float: right;
}

header .walletButton a {
  margin-top: 6px;
  padding: 5px 7px 3px 7px;
}

/* =Nav Header search field
-----------------------------------------------------------------------------*/
header nav form label {
    display: block;
    color: #acbeb5;
    margin-bottom: 4px;
    font-size: 1em;
    font-weight: bold;
}

header nav form input#search_box {
    background-color: #d6e4de;
    border: none;
    padding: 6px;
    font-size: 1em;
    width: 68%;     /* = 172px of 252px */
}

header nav form button {
    text-transform: uppercase;
    margin-left: 10px;
}

/* =Nav Header buy button list
-----------------------------------------------------------------------------*/
header nav ul li {
    float: left;
    margin: 0 15px 15px 0;
}

header nav ul li a {
    display: block;
}


/* =Products List
-----------------------------------------------------------------------------*/
.productsList ul{
    background: url(/assets/listras_li_v.png) repeat;
}

.productsList li:before, .productsList li:after {
    content:"";
    display:table;
}
.productsList li:after { clear:both; }

.productsList ul li,
.productsList .showMore {
    /* brightness bottom */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 60%, rgba(255,255,255,0.15) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(60%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.15))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 60%,rgba(255,255,255,0.15) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 60%,rgba(255,255,255,0.15) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 60%,rgba(255,255,255,0.15) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 60%,rgba(255,255,255,0.15) 100%); /* W3C */
}

.productsList ul li {
    padding: 10px 0 10px 7.14285%;    /*  = 20px of 280px */
    border-top: 1px solid #000;
    border-bottom: 1px solid #878d90;
}

.productsList li .imgWrapper {
    position: relative;
    min-width: 28.571428%;  /* = 80px of 280 */
    min-height: 80px;
    float: left;
    margin-right: 7.14285%;    /*  = 20px of 280px */
    background-color: #c0c3c5;
    text-align: center;
    overflow: hidden;
}

.productsList li .stripeSale {
    position: absolute;
    bottom: 1px;
    left: 0;
    background: url(/assets/bg_selo.png) #660000 repeat;
    font-size: 0.916em;  /* = 11px of 12px */
    line-height: 2em;
    text-align: center;
    width: 88.4%;  /* = 70px of 80px */
    padding: 0 6.25%;   /* = 5px of 70px */
}

.productsList li .productInfo > p:first-child {
    padding-bottom: 5px;
    font-size: 1.083em;
    text-transform: uppercase;
}

.productsList li .price {
    font-weight: bold;
    font-size: 1.25em;
    text-shadow: 2px 2px 2px #000;
}

.productsList li .price span {
    text-decoration: line-through;
    font-weight: normal;
    text-shadow: none;
    color: #b8bec0;
    margin-right: 1.785714%;   /* = 5px of 280px */
}

.productsList li .productInfo a {
    display: inline-block;
    margin-top: 15px;
    padding: 5px 7px;
}


/* =Footer
----------------------------------------------------------------------*/
footer {
    background: url(/assets/border_footer_bottom.png) bottom left repeat-x #282a2a;
    font-size: 1em;
}

footer nav {
    padding: 12px 5px 0 5px;
    background: url(/assets/border_footer-top-nav.png) 0 0 repeat-x #35383a;
    border-bottom: 1px solid #000;
}

footer nav ul {
    text-align: center;
}

footer nav ul li {
    display: inline;
}

footer nav ul li a {
    background: url(/assets/ponto_footer.png) 0 9px no-repeat;
    padding: 0 8px 10px 16px;
    line-height: 2em;
    display: inline-block;
}

footer nav ul li:first-child a {
    background: none;
}

footer div {
    text-align: center;
    border-top: 1px solid #4a5054;
}

footer div a {
    display: inline-block;
    padding: 10px 0 12px 0;
}

footer div a:nth-child(2) {
    padding: 0 9.7%;
}
