<% @title = "Resource Files" %>

<table id="table" border="1">
	<thead>
		<tr>
			<th>File Name</td>
			<th>File Type</td>
			<th colspan="2"></td>
		</tr>
	</thead>
	<tbody>
		<% for resource_file in @resource_files %>
		  <tr>
				<td><%= resource_file.file.original_filename %></td>
				<td><%= resource_file.resource_file_type.name %></td>
		    <td><%= link_to 'Show', resource_file %></td>
		    <td><%= link_to 'Edit', edit_resource_file_path(resource_file) %></td>
		  </tr>
		<% end %>
	</tbody>
</table>

<div id="pager" class="pager">
	<form>
		<img 		class="first" 			src=	"images/icons/first.png"/>
		<img 		class="prev" 				src=	"images/icons/prev.png"/>
		<input 	class="pagedisplay" type=	"text"/>
		<img 		class="next" 				src=	"images/icons/next.png"/>
		<img 		class="last" 				src=	"images/icons/last.png"/>

		<select class="pagesize">
			<option value="15" selected="selected">	15	</option>
			<option value="30">											30	</option>
			<option value="50">											50	</option>
			<option value="100">										100	</option>
		</select>
	</form>
</div>
<br />
<br />

<script type="text/javascript">
	jQuery(document).ready(function() { 
	    jQuery("#table") 
		    .tablesorter({sortColumn: '#app', dateFormat: 'mm/dd/yyyy', widgets: ['zebra']}) 
		    .tablesorterPager({container: jQuery("#pager")}); 

	});
</script>