<h1><%= "User Sign Up".t %></h1>

<% form_for(@customer, :url => {:action => :salvar_cadastro}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "name".t %><br/>
    <%= f.text_field :nickname %>
  </p>

  <p>
    <%= f.label "first name".t %><br/>
    <%= f.text_field :first_name %>
  </p>

  <p>
    <%= f.label "Last name".t %><br/>
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= f.label "genre".t %><br/>
    <%= f.select (:genre, %w{M F}) %>
  </p>

  <p>
    <%= f.label "email".t %><br/>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label "phone".t %><br/>
    <%= f.text_field :phone_number %>
  </p>

  <p>
    <%= f.label "password".t %><br/>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label "confirmation".t %><br/>
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.submit "Sign up".t %>
  </p>
<% end %>

<%= link_to "Back".t, :action => :index %>