<div id="profile">
	<%= error_messages_for :customer %>

	<% form_for @customer, :url => {:action => :update_profile}, :multipart => true do |f| -%>
	  	<p><%= f.label :nickname, "Nickname:" %>
			<%= f.text_field :nickname %></p>
		
	  	<p><%= f.label :first_name, "Primeiro Nome:" %>
			<%= f.text_field :first_name %></p>
		
		<p><%= f.label :last_name, "Último Nome:" %>
			<%= f.text_field :last_name %></p>
	
		<p><%= f.label :email, "E-mail:" %>
			<%= f.text_field :email %></p>
	
		<p><%= f.label :phone_number, "Telefone:" %>
			<%= f.text_field :phone_number %></p>
		
		<p><%= f.label :birthday, "Data de nascimento:" %>
			<%= f.text_field :birthday %></p>
		
		<p><%= f.label :cpf, "Cpf:" %>
			<%= f.text_field :cpf %></p>
		
		<p><%= f.label :genre, "Sexo:" %>
			<%= f.text_field :genre %></p>
		
		<%= submit_tag "Salvar Alterações", :class => "submit" %>
	<% end -%>
</div>
<div id="profile_photo">
	<%= render :partial => 'edit_photo', :object => @customer %>
</div>
<p>
  <%= link_to "Voltar", :action => "profile" %>
</p>