<div>
  <table id="table" border="1">
		<thead>
			<tr>
			  <th>Id</th>
			  <th>Nickname</th>
			  <th>First name</th>
			  <th>Last name</th>
			  <th>E-mail</th>
			  <th>Phone number</th>
			  <th>Birthday</th>
			  <th>Genre</th>
				<th colspan="3"></th>
			</tr>
		</thead>

		<tbody>
			<% for customer in @customers %>
			<tr valign="top" >

			  <td><%=h customer.id %></td>
			  <td><% if ( customer.nickname ) %> <%=h customer.nickname %> <% end %></td>
			  <td><% if ( customer.first_name ) %> <%=h customer.first_name %> <% end %></td>
			  <td><% if ( customer.last_name ) %> <%=h customer.last_name %> <% end %></td>
			  <td><% if ( customer.email ) %> <%=h customer.email %> <% end %></td>
			  <td><% if ( customer.phone_number ) %> <%=h customer.phone_number %> <% end %></td>
			  <td><% if ( customer.birthday ) %> <%=h customer.birthday %> <% end %></td>
			  <td><% if ( customer.genre ) %> <%=h customer.genre %> <% end %></td>

			  <td><%= link_to 'Show', customer %></td>
			  <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
			  <td><%= link_to 'Destroy', customer, :confirm => "Remove customer \##{customer.id}?", :method => :delete %></td>
			</tr>
		  <% end %>
		</tbody>
  </table>
<br/>
</div>
<div id="pager" class="pager">
	<form>
		<img class="first" src="images/icons/first.png"/>
		<img class="prev" src="images/icons/prev.png"/>
		<input class="pagedisplay" type="text"/>
		<img class="next" src="images/icons/next.png"/>
		<img class="last" src="images/icons/last.png"/>

		<select class="pagesize">
			<option value="15" selected="selected">15</option>
			<option value="30">30</option>
			<option value="50">50</option>
			<option value="100">100</option>
		</select>
	</form>
</div>
<br />

<%= link_to 'Add customer', new_customer_path %>

<script type="text/javascript">
	jQuery(document).ready(function() { 
	    jQuery("#table") 
		    .tablesorter({sortColumn: '#app', dateFormat: 'dd/mm/yyyy', widgets: ['zebra']}) 
		    .tablesorterPager({container: jQuery("#pager")}); 

	});
</script>