/*-----------------------------------------------------------------------------
Nano Studio - Mobile Common Stylesheet
Author: Werther Azevedo
-----------------------------------------------------------------------------*/

@charset "UTF-8";
/* =Jura
-----------------------------------------------------------------------------*/
@font-face {
    font-family: 'JuraDemiBold';
    src: url(/assets/Jura-DemiBold-webfont.eot);
    src: url(/assets/Jura-DemiBold-webfont.eot?#iefix) format('embedded-opentype'),
         url(/assets/Jura-DemiBold-webfont.woff) format('woff'),
         url(/assets/Jura-DemiBold-webfont.ttf) format('truetype'),
         url(/assets/Jura-DemiBold-webfont.svg#JuraDemiBold) format('svg');
    font-weight: normal;
    font-style: normal;
}

/* =PT Sans
-----------------------------------------------------------------------------*/
@font-face {
    font-family: 'PTSansRegular';
    src: url('/assets/PTS55F-webfont.eot');
    src: url('/assets/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/PTS55F-webfont.woff') format('woff'),
         url('/assets/PTS55F-webfont.ttf') format('truetype'),
         url('/assets/PTS55F-webfont.svg#PTSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSansBoldItalic';
    src: url('/assets/PTS76F-webfont.eot');
    src: url('/assets/PTS76F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/PTS76F-webfont.woff') format('woff'),
         url('/assets/PTS76F-webfont.ttf') format('truetype'),
         url('/assets/PTS76F-webfont.svg#PTSansBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSansBold';
    src: url('/assets/PTS75F-webfont.eot');
    src: url('/assets/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/PTS75F-webfont.woff') format('woff'),
         url('/assets/PTS75F-webfont.ttf') format('truetype'),
         url('/assets/PTS75F-webfont.svg#PTSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSansItalic';
    src: url('/assets/PTS56F-webfont.eot');
    src: url('/assets/PTS56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/PTS56F-webfont.woff') format('woff'),
         url('/assets/PTS56F-webfont.ttf') format('truetype'),
         url('/assets/PTS56F-webfont.svg#PTSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSansNarrowRegular';
    src: url('/assets/PTN57F-webfont.eot');
    src: url('/assets/PTN57F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/PTN57F-webfont.woff') format('woff'),
         url('/assets/PTN57F-webfont.ttf') format('truetype'),
         url('/assets/PTN57F-webfont.svg#PTSansNarrowRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSansNarrowBold';
    src: url('/assets/PTN77F-webfont.eot');
    src: url('/assets/PTN77F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/PTN77F-webfont.woff') format('woff'),
         url('/assets/PTN77F-webfont.ttf') format('truetype'),
         url('/assets/PTN77F-webfont.svg#PTSansNarrowBold') format('svg');
    font-weight: normal;
    font-style: normal;
}