<% @title = "Unit Format" %>
<table id="table" border="1">
    <tr>
        <th>Name</th>
        <th colspan="2"></th>
    </tr>
    <% for unit_format in @unit_formats do %>
      <tr>
        <td><%= unit_format.name %></td>
        <td><%= link_to "Edit", edit_unit_format_url(unit_format) %></td>
        <td><%= link_to "Delete",unit_format, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
</table>
<br />
<%= link_to "New", new_unit_format_url %>
