.conteudo_contato{
    padding-left: 16px;
    padding-top: 14px;
}
.info_contato{
    background:url(../images/bg_contato.png) no-repeat;
    margin-top:13px;
    width:479px;
    height:99px;
}
.info_contato a{
    color:#fff;
}
.info_contato h4{
    color:#d14218;
    font-size:13px;
    font-weight:bold;
    text-transform:none;
    margin-left:0px;
    margin-top:0px;
    width:135px;
}
.info_contato p{
    color:#fff;
    font-size:15px;
    margin-top:9px;
    text-transform:none;
    clear:left;
}
.info_endereco{
    background:url(../images/ico_endereco.png) left bottom no-repeat;
    clear: left;
    float: left;
    margin-left: 23px;
    margin-top: 24px;
    padding-left: 90px;
}
.info_telefone{
    background:url(../images/ico_telefone.png) no-repeat;
    float: left;
    margin-left: 23px;
    margin-right:35px;
    margin-top: 24px;
    padding-left: 84px;
    width:100px;
    height:80px;
}
.info_email{
    background:url(../images/ico_email.png) no-repeat;
    float: left;
    margin-top: 24px;
    padding-left: 80px;
    width:100px;
    height:80px;
}
    