
.lista_wallpaper{
    margin-top:10px;
    margin-left:25px;
    float:left;
    clear:left;
    width:485px;
}
.lista_wallpaper li{
    float:left;
    margin-right:30px;
    width:90px;
}
.lista_wallpaper span{
    width:85px;
    height:61px;
    border:1px solid #7a6c27;
    display:block;
    margin:auto;
    margin-bottom:6px;
}
.lista_wallpaper p{
    display:block;
    clear:left;
    text-align:center;
    color:#c66029;
    font-size:12px;
    font-weight:bold;
}
.lista_wallpaper .lnk_baixar{
    margin:auto;
    clear:left;
    margin-top:6px;
}
.wallpaper_1{
    background-color:#717225;
}
.wallpaper_2{
    background-color:#529ecc;
}
.wallpaper_3{
    background-color:#e44240;
}
.wallpaper_4{
    background-color:#00e2bf;
}
.destaque_gr_aplicativo{
    background:url(../images/destaques/destaque_gr_aplicativo.png) no-repeat;
    width:458px;
    height:131px;
    padding-top:50px;
    clear:left;
    float:left;
    margin-top:10px;
    margin-left:20px;
}
.destaque_gr_aplicativo p{
    width:278px;
    margin-left:150px;
    color:#93fcf9;
    font-size:12px;
    line-height:13px;
    text-transform:none;
}
.destaque_gr_aplicativo .lnk_baixar_destaque{
    margin-left:210px;
    margin-top:-5px;
}
