.destaque_principal{
    background-repeat:no-repeat;
    width:571px;
    height:308px;
    float:left;
    margin-left:10px;
    text-indent:-90000px; 
}
.destaque_principal a{
    display:block;
     width:571px;
    height:308px;
}
.bg_estadio .destaque1{
    background:url(../images/destaques/destaque1_home_estadio.png);
}
.bg_estadio .destaque2{
    background:url(../images/destaques/destaque2_home_estadio.png);
}
.bg_estadio .destaque3{
    background:url(../images/destaques/destaque3_home_estadio.png);
}
.bg_praia .destaque1{
    background:url(../images/destaques/destaque1_home_praia.png);
}
.bg_praia .destaque2{
    background:url(../images/destaques/destaque2_home_praia.png);
}
.bg_praia .destaque3{
    background:url(../images/destaques/destaque3_home_praia.png);
}
.bg_oceano .destaque1{
    background:url(../images/destaques/destaque1_home_oceano.png);
}
.bg_oceano .destaque2{
    background:url(../images/destaques/destaque2_home_oceano.png);
}
.bg_oceano .destaque3{
    background:url(../images/destaques/destaque3_home_oceano.png);
}
.mudar_destaque{
    float:left;
    margin-left: -2px;
    margin-top: 114px;
}
.mudar_destaque li{
    display:block;
    clear:left;
    margin-top:5px;
    margin-bottom:3px;
}
.mudar_destaque li a{
    display:block;
    width:11px;
    height:11px;
    background:url(../images/destaques/ico_mudar_destaque.png) no-repeat;
    text-indent:-9000px;
}
.mudar_destaque li.destaque_selecionado a{
    background:url(../images/destaques/ico_mudar_destaque_selecionado.png) no-repeat;
}

.pequenos_destaques li.destaque_aplicativo{
    background:url(../images/destaques/destaque_aplicativo.png) no-repeat;
}
.pequenos_destaques li.destaque_aplicativo a.ico_mais{
    background:url(../images/destaques/ico_mais_aplicativo.png) no-repeat;
}
.bg_estadio .pequenos_destaques li.destaque_zerocafeina{
    background:url(../images/destaques/destaque_zerocafeina_estadio.png) no-repeat;
}
.bg_oceano .pequenos_destaques li.destaque_zerocafeina{
    background:url(../images/destaques/destaque_zerocafeina_oceano.png) no-repeat;
}
.bg_praia .pequenos_destaques li.destaque_zerocafeina{
    background:url(../images/destaques/destaque_zerocafeina_praia.png) no-repeat;
}
.pequenos_destaques li.destaque_zerocafeina a.ico_mais{
    background:url(../images/destaques/ico_mais_zerocafeina.png) no-repeat;
}
.pequenos_destaques li.destaque_altinha{
    background:url(../images/destaques/destaque_altinha.png) no-repeat;
}
.pequenos_destaques li.destaque_altinha a.ico_mais{
    background:url(../images/destaques/ico_mais_altinha.png) no-repeat;
}