.conteudo_interno {
    margin-top: 28px;
}
.home_produto{
    margin-bottom:0px;
    height:430px;
}
.escolha_bebida {
    width: 100%;
    float: left;
    clear: left;
}
.escolha_bebida li {
    display: block;
    float: left;
}
.escolha_bebida li a {
    background-repeat: no-repeat;
    float: left;
    display: block;
    text-indent: -90000px;
}
a.apr_bigcola {
    background: url(../images/produtos/apr_bigcola.png);
    width: 115px;
    height: 275px;
    margin-top: 36px;
    margin-left: 5px;
    margin-right: 5px;
}
a.apr_zerocafeina {
    background: url(../images/produtos/apr_zerocafeina.png);
    width: 130px;
    height: 279px;
    margin-top: 32px;
    margin-left: -6px;
}
a.apr_zeroacucar {
    background: url(../images/produtos/apr_zeroacucar.png);
    width: 130px;
    height: 279px;
    margin-top: 31px;
    margin-left: 0px;
}
a.apr_bigguarana {
    background: url(../images/produtos/apr_bigguarana.png);
    width: 121px;
    height: 282px;
    margin-top: 26px;
    margin-left: -3px;
}
.apresentacao-refrigerante {
    position: absolute;
    width: 499px;
    height: 340px;
}
.apresentacao-refrigerante a.refri {
    display: block;
    background-repeat: no-repeat;
    text-indent: -90000px;
    width: 161px;
    height: 367px;
}

.apresentacao-refrigerante .tooltip {
    background-repeat: no-repeat;
    height: 175px;
    position: absolute;
}
.apresentacao-refrigerante .tooltip p {
    color: #fff;
    font-size: 16px;
    line-height: 18px;
}
.apr-bigcola-grande .tooltip {
    background: url(../images/produtos/tooltip_left.png) no-repeat;
    left: 117px;
    top: 55px;
    width: 269px;
    padding: 0px 45px 0 49px;
}
.apr-bigcolazerocafeina-grande .tooltip {
    background: url(../images/produtos/tooltip_left.png) no-repeat;
    left: 253px;
    top: 55px;
    padding: 0 0 0 45px;
    position: absolute;
    width: 284px;
}
.apr-bigcolazeroacucar-grande .tooltip {
    background: url(../images/produtos/tooltip_right.png) no-repeat;
    left: -48px;
    top: 73px;
    padding: 0 0px 0 24px;
    position: absolute;
    width: 307px;
}
.apr-bigcolaguarana-grande .tooltip {
    background: url(../images/produtos/tooltip_right.png) no-repeat;
    left: 70px;
    top: 73px;
    padding: 0 0px 0 24px;
    position: absolute;
    width: 307px;
}
.ico-saibamais {
    background: url(../images/produtos/ico_saibamais.png) no-repeat;
    width: 70px;
    height: 13px;
    display: block;
    text-indent: -90000px;
    margin-top: 12px;
}
.apresentacao-refrigerante h3 {
    display: block;
    text-indent: -90000px;
    border: none;
    padding: 0px;
    margin: 0px 0px 8px 0px;
}
.apr-bigcola-grande {
    bottom: 41px;
    left: 36px;
}
.apr-bigcolazerocafeina-grande {
    bottom: 40px;
    left: 31px;
}
.apr-bigcolazeroacucar-grande {
    bottom: 16px;
    height: 382px;
    left: 40px;
    width: 499px;
}
.apr-bigcolaguarana-grande {
      bottom: 18px;
    height: 387px;
    left: 36px;
    width: 513px;
}
.bg_estadio .apr-bigcola-grande {
    background: url(../images/produtos/apr_bigcola_grande_estadio.png);
}
.bg_oceano .apr-bigcola-grande {
    background: url(../images/produtos/apr_bigcola_grande_oceano.png);
}
.bg_praia .apr-bigcola-grande {
    background: url(../images/produtos/apr_bigcola_grande_praia.png);
}
.bg_estadio .apr-bigcolazerocafeina-grande {
    background: url(../images/produtos/apr_bigcola_zerocafeina_estadio.png);
}
.bg_oceano .apr-bigcolazerocafeina-grande {
    background: url(../images/produtos/apr_bigcola_zerocafeina_oceano.png);
}
.bg_praia .apr-bigcolazerocafeina-grande {
    background: url(../images/produtos/apr_bigcola_zerocafeina_praia.png);
}
.bg_estadio .apr-bigcolazeroacucar-grande {
    background: url(../images/produtos/apr_bigcola_zeroacucar_estadio.png);
}
.bg_oceano .apr-bigcolazeroacucar-grande {
    background: url(../images/produtos/apr_bigcola_zeroacucar_oceano.png);
}
.bg_praia .apr-bigcolazeroacucar-grande {
    background: url(../images/produtos/apr_bigcola_zeroacucar_praia.png);
}
.bg_estadio .apr-bigcolaguarana-grande {
    background: url(../images/produtos/apr_bigcola_guarana_estadio.png);
}
.bg_oceano .apr-bigcolaguarana-grande {
    background: url(../images/produtos/apr_bigcola_guarana_oceano.png);
}
.bg_praia .apr-bigcolaguarana-grande {
    background: url(../images/produtos/apr_bigcola_guarana_praia.png);
}
h3.tit-bigcola-peq {
    background: url(../images/titulos/big_cola_tit_peq.png) no-repeat;
    width: 159px;
    height: 25px;
    margin-top: 23px;
}
h3.tit-bigcolazerocafeina-peq {
    background: url(../images/titulos/big_cola_zero_cafeina_peq.png) no-repeat;
    width: 246px;
    height: 41px;
    margin-top: 15px;
}
h3.tit-bigcolazeroacucar-peq {
    background: url(../images/titulos/big_cola_zero_acucar_tit_peq.png) no-repeat;
    width: 246px;
    height: 41px;
    margin-top: 20px;
}
h3.tit-bigcolaguarana-peq {
    background: url(../images/titulos/big_cola_guarana_tit_peq.png) no-repeat;
    width: 164px;
    height: 41px;
    margin-top: 20px;
}
.apr-bigcola-grande a {
    float: left;
}
.integra_garrafa{
    width:299px;
    float:left;
}
.integra_garrafa p{
    text-transform:uppercase;
    color:#cf4d27;
    font-size:16px;
    margin-left:12px;
    margin-right:10px;
    line-height:23px;
    font-weight:bold;
}
.lista_tamanhos{
    clear:left;
    margin-top:20px;
    margin-left:10px;
 
}
.lista_tamanhos li{
    float:left;
    margin-right:14px;
    height:160px;
    width:58px;
    display:block;
    position:relative;
    bottom:0px;
}
.lista_tamanhos li a{
    position:absolute;
    bottom:0px;
    
}
.integra_refri{
    background-repeat:no-repeat;
    float:left;
    text-indent:-90000px;
}
.bigcola_grande{
    background:url(../images/produtos/bigcola_gr.png);
    width:207px;
    height:443px;
    margin-top:-17px;
}
.lista_pequenos_destaques{
    clear:left;
    margin-top:10px;
}
.lista_pequenos_destaques li{
    float:left;
    margin-right:5px;
}
.pequenos_destaques{
    margin-top:0px;
    margin-left:139px;
}
.pequenos_destaques li{
    width:196px;
    margin-right:0px;
}
.pequenos_destaques li.destaque_bigcolazerocafeina a.ico_mais {
    background: url("../images/destaques/ico_mais_zerocafeina.png") no-repeat scroll 0 0 transparent;
}
.pequenos_destaques li a.ico_mais{
    bottom:17px;
    right:38px;
}
.pequenos_destaques li.destaque_bigcolazerocafeina{
    background:url(../images/destaques/destaque_peq_bigzerocafeina.png) no-repeat;
}
.pequenos_destaques li.destaque_bigcola{
    background:url(../images/destaques/destaque_peq_bigcola.png) no-repeat;
}
.pequenos_destaques li.destaque_bigcolazerocafeina a.ico_mais{
    background:url(../images/destaques/ico_mais_zerocafeina.png) no-repeat;
}
.pequenos_destaques li.destaque_bigcolazerocaloria{
    background:url(../images/destaques/destaque_peq_bigzerocaloria.png) no-repeat;
}
.pequenos_destaques li.destaque_bigcolazerocaloria a.ico_mais{
    background:url(../images/destaques/ico_mais_zerocafeina.png) no-repeat;
}
.pequenos_destaques li.destaque_bigguarana{
    background:url(../images/destaques/destaque_peq_bigguarana.png) no-repeat;
}
.pequenos_destaques li.destaque_bigguarana a.ico_mais{
    background:url(../images/destaques/ico_mais_zerocafeina.png) no-repeat;
}
