.box_showdebola {
    width: auto;
    float: left;
    height:162px;
    clear: left;
    padding-top: 18px;
    position: relative;
    margin-left:5px;
}
.box_showdebola span.box {
    background: url(../images/box_showdebola.png) no-repeat;
    height: 182px;
    width: 189px;
    display: block;
    position:absolute;
    top:0px;
    left:0px;
    z-index:1;
}
.box_altinhaimaginaria {
    width: auto;
    height: 177px;
    float: left;
    clear: left;
    padding-top: 18px;
    position: relative;
    margin-top:10px;
    margin-left:5px;
}
.box_altinhaimaginaria span.box {
    background: url(../images/box_altinhaimaginaria.png) no-repeat;
    width: 184px;
    height: 167px;
    display: block;
     position:absolute;
    top:0px;
    left:0px;
    z-index:1;
}
.box_showdebola p{
    clear: left;
    color: #CF4D27;
    font-size: 14px;
    left: 206px;
    line-height: 18px;
    position: absolute;
    top: 74px;
    width: 312px;
}
.box_showdebola a{
    position:absolute;
    top:135px;
    left:204px;
}
.box_altinhaimaginaria a{
    position:absolute;
    top:122px;
    left:195px;
}
.box_altinhaimaginaria p {
    clear: left;
    color: #CF4D27;
    font-size: 14px;
    left: 196px;
    line-height: 18px;
    position: absolute;
    top: 47px;
    width: 312px;
}
.box_altinhaimaginaria h4, .box_showdebola h4{
    background:url(../images/titulos/tit_box_promocoes.png) no-repeat;
    width:264px;
    height:62px;
    margin-left:8px;
    float:left;
    filter:alpha(opacity=60);
    opacity:0.6;
    position:absolute;
   
    text-transform:uppercase;
    font-size:18px;
    
    padding-top:8px;
    font-weight:bold;
}
.box_showdebola h4{
     top:20px;
    left:150px;
    z-index:0;
    padding-left:48px;
    color:#749126;
}
.box_altinhaimaginaria h4{
        top:-3px;
    left:135px;
    z-index:0;
    color:#fc4b63;
    padding-left:51px;
}