<div class="popup pop_padrao pop_imgPerfil" >
	<div class="cabecalho_pop">
	  <a href="#" class="bt_fechar texthide lbAction" rel="deactivate"><span>Fechar</span></a>
  </div>
	
  <div class="pop_meio">
    <div class="conteudo_pop">
     	<h1>Envio e Recorte de imagem</h1>
			<iframe id="upload_frame" name="upload_frame"  src="/avatar/new" frameborder=0></iframe>
    </div>
  </div>
</div>
