<p>Escolha a imagem a ser enviada:</p>
  <% form_for :avatar, :url=>{:controller=>'avatar',:action=>'temp_image'}, 
            :html=>{:multipart=>true, :target=>'upload_frame'} do |f| %>
  <%= f.file_field :image %>
  <%=f.submit '' %>
<%end%>
