@import url("reset.css");

/*-----------------------------------------------------------------------------
Nano Studio Website - General Stylesheet

Author: Fabricio Fernandes
-----------------------------------------------------------------------------*/


/* =General
-----------------------------------------------------------------------------*/
body {
    background-image: url(../images/bg_site.jpg);
    background-color: #f1c175;
    background-repeat: no-repeat;
    padding-top: 75px;
}

/* =Pop Video
-----------------------------------------------------------------------------*/

.overlay{
    background: url(../images/overlay.png);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.overlay .video{
    width: 810px;
    padding: 5px;
    margin: 5% auto;
    background: #000;
    position: relative;
}

.overlay .video .close {
    position: absolute;
    top: -14px;
    right: -7px;
    text-decoration: none;
    z-index: 2;
}

div.jp-video .close img {
    border: none;
}

/* =Conteúdo Principal
-----------------------------------------------------------------------------*/
.conteudo_principal {
    float: left;
}

.header h1 {
    background: #fff url(../images/logo.png) no-repeat 250px;
    height: 122px;
    width: 540px;
    margin-top: 22px;
}

.header h1 span, .header h2 span {
    display: none;
}

.barra_primaria {
    margin-top: 6px;
    background: #000 url(../images/ttulo_principal.png) no-repeat top right;
    height: 42px;
    width: 540px;
}

.barra_secundaria {
    background: url(../images/barra_amarela.png) repeat-x;
    width: 530px;   /* 490px;   */
    height: 22px;
    padding: 11px 10px 0 0;
    margin: 6px 0;
    color: #000;
}

.barra_secundaria li {
    float: right;
    border-right: #000 solid 1px;
}

.barra_secundaria li:first-child {
    border-right: none;
}

.barra_secundaria li a {
    font: 12px arial, sans-serif;
    color: #000;
    margin: 0 10px;
}


/* =Box de conteúdo
-------------------------------------------------------------------------------*/
.box_conteudo {
    width: 540px;
    margin-top: 20px;
}

.conteudo_menu {
    color: #fff;
    overflow: auto;
    width: 370px;
    height: 187px;
    float: left;
    background: url(../images/bg_box_videos.png);
    font-family: arial, sans-serif;
    padding-bottom: 30px;
}
/*
#video_list {
    padding-bottom: 30px;
}
*/

/* =Sobre o Bolsão & Dúvidas Frequentes
-----------------------------------------------------------------------------*/
.informacoes {
    height: 303px;
}

.informacoes h4 {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 25px 15px 15px;
    color: #fff;
    width: 300px;
}

.informacoes .esclarecer {
    line-height: 16px;
    margin: 0 10px 25px 10px;
}
/*
.enfase {
    background: url(../images/bg_texto_sobre_enfase.png) repeat-x bottom #aaa9a7;
    padding: 5px 6px;
    display: block;
    border-bottom: 1px solid #e2e1df;
    color: #000;
    font: bold 11px arial, sans-serif;
    letter-spacing: -1px;
}*/

.datas {
    display: block;
    margin: 0 0 25px 10px;
}
/*
.tit_sobre{

    background: url(../images/tit_sobreBolsao.png) no-repeat 0 0;
    width: 124px;
    height: 17px;
}*/

.tit_duvidas{
    background: url(../images/tit_duvidasFrequentes.png) no-repeat 0 0;
    width: 164px;
    height: 20px;
}


/* Conteudo das datas
----------------------------------*/
.box_conteudo .info_inscricao {
    float: right;
    background-color: #000;
    padding: 5px;
    font: bold 12px arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.data {
    background: url(../images/bg_box_data2.png) repeat-x;
    width: 137px;
    height: 100px;
    border: 1px solid #c7b200;
}

.titulo_box {
    font-size: 12px;
    margin: 10px auto 0;
    border-bottom: 1px solid #000;
    width: 120px;
    line-height: 25px;
}

.data_inscricao {
    font-size: 46px;
    line-height: 40px;
    padding: 5px 0;
}

.link_inscreva_se {
    background: url(../images/bg_inscreva_se_fio.png) repeat-x;
    height: 42px;
}

.link_inscreva_se:hover {
    background: url(../images/bg_inscreva-se_hover.jpg) repeat-x;
    height: 42px;
}

.inscreva_se {
    color: #fff;
    display: block;
    width: 137px;
    padding-top: 14px;
}

/* =Conteúdo secundário
-----------------------------------------------------------------------------*/
.conteudo_secundario {
    font-family: arial, sans-serif;
    float: left;
    width: 179px;
    color: #fff;
    background: url(../images/bg_box_videos.png);
    padding: 13px 12px 5px 12px;
    margin: 20px 0 0 20px;
    height: 366px;
}

.conteudo_secundario h3 {
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.conteudo_secundario h3 span {
    font-size: 14px;
}

.conteudo_secundario p {
    font-size: 12px;
    padding: 0 10px 10px 5px;
    line-height: 15px;
}

.conteudo_secundario p strong {
    font-weight: bold;
}

.conteudo_secundario .divisa {
    border-bottom: 1px solid #9d9a95;
    padding-bottom: 18px;
    margin-bottom: 17px;
}

.conteudo_secundario .base {
    color: #fff;
    display: block;
    margin-top: -5px;
    padding: 3px 0 10px 30px;
    background: url(../images/feed.png) left top no-repeat;
}

.redes_sociais {
    float: left;
    margin: 20px 0 0 5px;
}

.redes_sociais .facebook, .redes_sociais .tweeter {
    padding-right: 5px;
}

