/*-----------------------------------------------------------------------------
Nano Studio Website - General Stylesheet

Author: Fabricio Fernandes
-----------------------------------------------------------------------------*/

/* =Box de conteúdo
-----------------------------------------------------------------------------*/
.link_home {
    height: 122px;
    width: 320px;
    display: block;
    float: right;
}

.video_conteudo ul li {
    color: #fff;
    border-bottom: 1px solid #9f9e9c;
    padding-top: 16px;
    margin-left: 30px;
    margin-right: 10px;
}

.video_conteudo ul li:last-child {
    border-bottom: none;
}

.video_conteudo ul li .link_video {
    float: left;
    margin-right: 8px;
    cursor: pointer;s
}

.box_conteudo ul li h4 {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 4px;
}

.box_conteudo .nome_pessoa, .box_conteudo .professor {
    font-size: 10px;
    font-style: italic;
}

.box_conteudo ul li .data_video {
    margin-top: 18px;
    font-size: 10px;
}

.box_conteudo ul li .downloads {
    font-weight: bold;
    font-size: 11px;
}

.link_midias {
    padding: 10px 0 10px 0;
    clear: both;
}

.barra_de_midias {
    display: block;
    width: 260px;
    clear: both;
}

.watch .watch, .buy .buy {
    display: block;
}

.watch .buy, .buy .watch {
    display: none;
}

/* =Seleção
-----------------------------------------------------------------------------*/

.box_conteudo .video_select {
    background: url(../images/bg_box_videos.png) repeat;
    width: 310px;
    float: left;
    padding: 20px 30px 0 30px;
}

.info_dica {
    clear: both;
    text-transform: uppercase;
    font: bold 13px arial, sans-serif;
    color: #fff;
    margin-bottom: 3px;
}

.troca_post {
   border-bottom: 1px solid #9f9e9c;
   line-height: 35px;
   width: 300px;
}

.custom_selecao {
    width: 110px;
    color: #ffd300;
    padding: 12px 0px 12px 35px;
    float: left;
    margin-right: 10px;
}

.ico1 {
    background: url(../images/select_1_dir.png) no-repeat left;
}

.ico2 {
    background: url(../images/select_2_dir.png) no-repeat left;
}

.ico1_desabilitado {
    background: url(../images/select_1_dir_desabilitado.png) no-repeat left;
}

.ico2_desabilitado {
    background: url(../images/select_2_dir_desabilitado.png) no-repeat left;
}

.ico1_desabilitado select, .ico2_desabilitado select {
    opacity: 0.5;
    filter: Alpha(Opacity = 50);
}

.curso, .materia,  .select_materia, .select_curso {
    float: right;
    width: 100%;
    -webkit-appearance: button;
    background: #000 url(../images/select_seta.png) no-repeat top right;
    color: #ffd300;
    border: none;
    text-align: left;
    font-size: 10px;
}

.curso option, .materia option {
    background-color: #000;
    color: #FFD300;
    text-align: left;
    font-size: 10px;
}

