@import url("reset.css");

/*-----------------------------------------------------------------------------
Nano Studio Website - General Stylesheet

Author: Fabricio Fernandes
-----------------------------------------------------------------------------*/


/* =General
-----------------------------------------------------------------------------*/
body {
    background-image: url(../images/bg_pagamento1.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
}

.escolha {
    margin: 140px auto 0 260px;
    width: 360px;
    color: #fff;
    font: bold 15px arial, sans-serif;  
}

.post_twitter {
    display: block;
    width: 142px;
    height: 22px;
    float: left;
    margin: 17px 0 0 20px;
}

.post_face {
    display: block;
    width: 142px;
    height: 22px;
    float: right;
    margin: 17px 35px 0 0;
}
