
/*-----------------------------------------------------------------------------
Nano Studio Website - Post rede social Stylesheet

Author: Fabricio Fernandes
-----------------------------------------------------------------------------*/

.escolha {
    margin: 120px auto 0 260px;
    width: 360px;
}

.postagem {
    margin-top: 5px;
}

.pseudo_post{
    width: 340px;
    padding: 5px 10px;
    height: 50px;
    top: 23px;
    left: 0;
    font: 11px arial, sans-serif;
    color: #595959;
    margin: 5px 0 0 0;
    background: #fff;
    border-radius: 3px;
}

#text_area {
    overflow: auto;
    width: 98%;
    font: 11px arial, sans-serif;
    min-height: 45px !important;
    max-height: 45px !important;
    min-width: 98% !important;
    max-width: 98% !important;
    color: #fff;
    cursor: default;
}

.post_rede_social {
    display: block;
    width: 142px;
    height: 22px;
    float: right;
    margin: 6px 0px 0 20px;
    border: none;
}

.button_twitter {
     background: url(../images/post_tweet.png) no-repeat;
}

.button_face {
    background: url(../images/post_facebook.png) no-repeat;
}
