
/*-----------------------------------------------------------------------------
Nano Studio Website - Sucesso Stylesheet

Author: Fabricio Fernandes
-----------------------------------------------------------------------------*/

.escolha {
    margin: 120px 0 0 320px;
    width: 285px;             
}

.descricao {
    padding-top: 5px;
    font: 12px arial, sans-serif;
    text-align: center;
}

.assistir {
    display: block;
    width: 156px;
    height: 41px;
    margin: 17px auto 0 auto;
}