<div class="carregando_jogo juggernaut_loading">
  <div class="popup pop_padrao pop_mesaParticular" id="pop_mesaParticular">
  <div class="cabecalho_pop">
    <%= link_to "<span>Fechar</span>", "#", :class => "bt_fechar texthide lbAction", :rel => "deactivate", 
      :onclick => "closeModal('pop_mesaParticular');"%>
  </div>

  <div class="pop_meio">
    <div class="conteudo_pop">
      <h1>Mesa Particular</h1>
      <% unless current_user.creating_game? %>
        <div class="escolha_sala">
          <label for="room">Sala:</label>
          <%=select_tag "room", options_for_select(@rooms.collect {|room| [room.name, room.id]}), 
             :id=>'room_select', :onchange => "setRoom(this.value);"%>
          <br />
          <label for="difficulty">Dificuldade:</label>
          <%=select_tag "difficulty", options_for_select(@difficulties.collect {|difficulty| [difficulty.name, difficulty.id]}), 
             :id=>'difficulty_select', :onchange => "setAttributestoGame();"%>
          <h5><strong>Temas:</strong> <span id="themes"><%= @themes.uniq.join(", ") %></span></h5>
        </div>
      <% end %>
      <ul class="challenges_list">
        <% @users.each_with_index do |user, index| %>
                <li id="challenge_<%=user.id%>">
                  <div class="jogador">
                    <%= image_tag( user.avatar.url(:small_thumb), :class => 'img_jogador' )%>
                    <div class="perfil">
                      <h4><%= user.complete_name%></h4>
                      <p class="patente">
                        <%= image_tag current_user.patent_icon_url, :width => 21, :height => 22%>
                        <span><%= current_user.patent_name %></span>
                      </p>   
                      <% if user.game %>
                          <span class="label_jogando">Jogando</span>
                      <% else %>
                          <span class="status_online">Online</span>
                      <% end %>
                    </div>
                  </div>
                  <%= link_to "Excluir", "#", :class => "link_excluir", :onclick => "removeUserChallengeList(#{user.id});"%>
                </li>
            <% end %>
      </ul>
  
      <div class="botoes">
        <% if current_user.creating_game? %>
          <a href="/challenges/send_invites" class="bt_enviarConvites texthide"><span>Enviar convites</span></a>
        <% else %>
          <a href="/challenges/send_invites?room_id=<%=@rooms.first.id%>&difficulty_id=<%=@difficulties.first.id%>" class="bt_enviarConvites texthide">
            <span>Enviar convites</span>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
