<% @title = "Edit Ad Campaign" %>
<% form_for(@ad) do |f| %>
	<%= f.error_messages %>
	<table class="form">
		<tr>
			<td class="text"><%= f.label :advertiser %></td>
			<td><%= f.collection_select(:advertiser_id, @advertiser, :id, :partner_name, :prompt => "Advertiser") %></td>
		</tr>
		<tr>
			<td class="text"><%= f.label :expiration_date %></td>
			<td><%= f.date_select :expires_at %></td>
		</tr>
	  <tr>
		Ad Pieces:
		<%
		  if ( @ad_pieces.length <= 0 )
		%>
		None.
		<%
		  else
		   for ad_piece in @ad_pieces
		%>
		  <div>
			<%= check_box_tag "ad_campaign[ad_piece_ids][]", ad_piece.id, ad_piece.ad_campaigns.include?( @ad_campaign ) %>
			<%= h ad_piece.title %>
		  </div>
		<%
			end
		  end
		%>
	  </tr>
		<tr>
			<td class="submit" colspan="2"><%= f.submit "Create" %></td>
		</tr>
	</table>
<% end %>

<%= link_to 'Show', @ad %> |
<%= link_to 'Back', ad_campaigns_path %>
