<%= stylesheet_link_tag 'FrontEnd/comum', 'FrontEnd/popup', 'jquery.Jcrop' %>
<%= javascript_include_tag 'jquery-1.4.2.min', 'jquery.Jcrop' %>

<%= image_tag @image_url, :id => "avatar", :class => "avatar" %>

<script>
    jQuery.noConflict();
    function onEndCrop(c) {
        jQuery('#x1').val(c.x);
        jQuery('#y1').val(c.y);
        jQuery('#x2').val(c.x2);
        jQuery('#y2').val(c.y2);
        jQuery('#width').val(c.w);
        jQuery('#height').val(c.h);
    }

    function initialize_crop() {
        jQuery('#avatar').Jcrop({
            onChange:onEndCrop,
            onSelect:onEndCrop,
            setSelect:[ 0, 0, 66, 66 ],
            minSize:[66, 66],
            aspectRatio:1
        });
    }
    ;

    new Cropper.Img('avatar', { ratioDim:{ x:100, y:100 },
        minWidth:66,
        minHeight:66,
        displayOnInit:true,
        onEndCrop:onEndCrop
    });

    self.onload = initialize_crop;
</script>

<%= form_for :crop, :url=>{:controller=>'avatar', :action=>'crop'} do |f| %>
    <%= hidden_field_tag :x1 %>
    <%= hidden_field_tag :y1 %>
    <%= hidden_field_tag :x2 %>
    <%= hidden_field_tag :y2 %>
    <%= hidden_field_tag :width %>
    <%= hidden_field_tag :height %>
    <%= f.submit '' %>
<% end %>
