<div>
  <table id="table" class="wide" border="1" >
		<thead>
			<tr>
			  <th>Vendor</th>
			  <th>Model</th>
			  <th>Commercial name</th>
			  <th>MIDP</th>
			  <th>CLDC</th>
			  <th>Family</th>
			  <th>Screen width</th>
			  <th>Screen partial height</th>
			  <th>Screen full height</th>
			  <th>Max jar size</th>
			  <th>Heap memory</th>
			  <th>Image memory</th>
			  <th>User-agent</th>
			  <th>Touch screen</th>
			  <th>RMS max size</th>
			  <th>RMS max record size</th>
				<th colspan="3"></th>
			</tr>
		</thead>
		<tbody>
			<% for device in @devices %>
			<tr valign="top" %>

			  <td width="100"><% if ( device.vendor ) %> <%=h device.vendor.name %> <% end %></td>
			  <td width="150"><%=h device.model %></td>
			  <td width="100"><%=h device.commercial_name %></td>
			  <td><% if ( device.midp_version ) %> <%=h device.midp_version.version %> <% end %></td>
			  <td><% if ( device.cldc_version ) %> <%=h device.cldc_version.version %> <% end %></td>
			  <td width="230"><% if ( device.family ) %> <%=h device.family.name %> <% end %></td>
			  <td><%=h device.screen_width %></td>
			  <td width="150"><%=h device.screen_height_partial %></td>
			  <td><%=h device.screen_height_full %></td>
			  <td>
					<% if ( device.jar_size_max == -1 ) %>
						<%= h 'Ilimitado' %>
					<% else %>
						<%= h device.jar_size_max %>
					<% end %>
			  </td>
			  <td>
					<% if ( device.memory_heap == -1 ) %>
						<%= h 'Ilimitado' %>
					<% else %>
						<%= h device.memory_heap %>
					<% end %>
			  </td>
			  <td>
					<% if ( device.memory_image == -1 ) %>
						<%= h 'Ilimitado' %>
					<% else %>
						<%= h device.memory_image %>
					<% end %>
			  </td>
			  <td id="user_agent"><%=h device.user_agent %></td>
			  <td><%=h device.pointer_events %></td>
			  <td><%=h device.rms_total_size %></td>
			  <td><%=h device.rms_max_record_size %></td>

			  <td><%= link_to 'Show', device %></td>
			  <td><%= link_to 'Edit', edit_device_path(device) %></td>
			  <td><%= link_to 'Destroy', device, :confirm => "Remove device " + device.vendor.name + ' ' + device.model + '?', :method => :delete %></td>
			</tr>
		  <% end %>
		</tbody>
  </table>
<br />
</div>

<div id="pager" class="pager">
	<form>
		<img class="first" src="images/icons/first.png"/>
		<img class="prev" src="images/icons/prev.png"/>
		<input class="pagedisplay" type="text"/>
		<img class="next" src="images/icons/next.png"/>
		<img class="last" src="images/icons/last.png"/>

		<select class="pagesize">
			<option value="15" selected="selected">15</option>
			<option value="30">30</option>
			<option value="50">50</option>
			<option value="100">100</option>
		</select>
	</form>
</div><br />

<%= link_to 'Add device', new_device_path %>

<script type="text/javascript">
	jQuery(document).ready(function() { 
	    jQuery("#table") 
		    .tablesorter({widgets: ['zebra']}) 
		    .tablesorterPager({container: jQuery("#pager")}); 
	});
</script>