@charset "UTF-8";
/*-----------------------------------------------------------------------------
Nano Studio - Stylesheet for mobile landscape orientation
Author: Fabricio Fernandes
e-mail: fabricio@nanostudio.com.br
-----------------------------------------------------------------------------*/


/* =Tablet Stylesheet
----------------------------------------------------------------------*/
.wrapperContent {
    background: url(/assets/listras_li_v2.png) repeat #555D63;
}

.titleArea { display: none; }

.weaponFeature {
    padding: 1.25em 30px;  /* = 30px of 1024px */
    width: 92%;
    min-height: 49em;
}

/* =Highlighted
-----------------------------------------------------------------------------*/
.presentation {
    width: 460px;
    float: left;
}

.mainImage {
    position: relative;
    float: left;
    clear: left;
    margin: 0 10px 5px 0;
    text-align: center;
    background-color: #c0c3c5;
    height: 236px;
}

.mainImage p {
    position: absolute;
    top: 0;
    right: 0;
}

.itemButtom {
    float: left;
    margin-bottom: 6px;
    border: 1px solid #6f959b;
    border-top-color: #799ca2;
    border-bottom-color: #537c86;
    padding: 10px 10px;
    padding-left: 50px;
    width: 128px;
    background: url(/assets/pistolIcon.png) 6px 6px no-repeat, rgb(44,54,58);
    background: url(/assets/pistolIcon.png) 6px 6px no-repeat, -moz-linear-gradient(top,  rgba(44,54,58,1) 0%, rgba(43,53,57,1) 26%, rgba(29,36,40,1) 79%, rgba(25,32,36,1) 100%);
    background: url(/assets/pistolIcon.png) 6px 6px no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(44,54,58,1)), color-stop(26%,rgba(43,53,57,1)), color-stop(79%,rgba(29,36,40,1)), color-stop(100%,rgba(25,32,36,1)));
    background: url(/assets/pistolIcon.png) 6px 6px no-repeat, -webkit-linear-gradient(top,  rgba(44,54,58,1) 0%,rgba(43,53,57,1) 26%,rgba(29,36,40,1) 79%,rgba(25,32,36,1) 100%);
    background: url(/assets/pistolIcon.png) 6px 6px no-repeat, -o-linear-gradient(top,  rgba(44,54,58,1) 0%,rgba(43,53,57,1) 26%,rgba(29,36,40,1) 79%,rgba(25,32,36,1) 100%);
    background: url(/assets/pistolIcon.png) 6px 6px no-repeat, -ms-linear-gradient(top,  rgba(44,54,58,1) 0%,rgba(43,53,57,1) 26%,rgba(29,36,40,1) 79%,rgba(25,32,36,1) 100%);
    background: url(/assets/pistolIcon.png) 6px 6px no-repeat, linear-gradient(top,  rgba(44,54,58,1) 0%,rgba(43,53,57,1) 26%,rgba(29,36,40,1) 79%,rgba(25,32,36,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c363a', endColorstr='#192024',GradientType=0 );
}

.itemButtom span {
    font: 14px PTSansRegular;
    color: #c4d0d4;
    text-transform: uppercase;
    padding-left: 10px;
    border-left: 2px groove #526870;
}

/* =Table
----------------------------------------------------------------------*/
table {
    float: left;
    width: 190px;
    font-size: 1.148em;
    font-weight: bold;
    border-collapse: separate;
}

table td {
    text-align: center;
    padding: 7px 2px;
    background-color: #bfc2c4;
    color: #24292d;
    border: 0.145em solid rgba(65, 70, 73, 0.9);
}

table td:first-child {
    background-color: rgba(191, 194, 196, 0.4);
    text-align: left;
    padding-left: 15px;
    color: #e8e8e8;
}

.productLinks {
    min-height: 234px;
   float: left;
   padding-top: 8px;
}

.productLinks a, .productLinks buttom {
    font-size: 18px;
}

.productLinks .buttonLightBlue {
    font-family: PTSansBold;
    padding: 6px 10px;
}

.oldPrice {
    display: inline;
    margin-left: 7px;
    text-decoration: line-through;
    color: #b8bec0;
}

.productLinks .buttonDarkBlue,
.productLinks .buttonDarkBlueDisable {
    margin: 17px 0px 0.7em 0px;
    font-family: PTSansRegular;
    display: table;
}

.productLinks .buttonDarkBlue span {
    font-size: 24px;
    font-weight: bold;
    margin-right: 5px;
    color: #fff;
 /*    vertical-align: -0.1em;    */
}

.productLinks .buttonDarkBlue { padding: 1px 16px; }

.productLinks .buttonDarkBlueDisable {
    font-size: 1.5em;
    padding: 6px 30px;
}

.shareList {
    margin: 76px 0 6px 0;
    font: 15px PTSansNarrowRegular;
}

.productLinks ul li {
   display: inline;
   margin-left: 10px;
}

.productLinks ul li:first-child {
    margin-left: 0;
}

.productDescription {
    background-color: #34393c;
    padding: 10px 10px;
    font: 14px PTSansRegular, 'PT Sans';
    margin-top: 20px;
    line-height: 15px;
    letter-spacing: 0.05em;
}
