@charset "UTF-8";
/*-----------------------------------------------------------------------------
Nano Studio - Home Stylesheet
Author: Fabricio Fernandes
e-mail: fabricio@nanostudio.com.br
-----------------------------------------------------------------------------*/

.mainContent {
    max-width: 1024px;
    margin: 0 auto;                                    
}

.wrapperContent {
    background: none;
    border-left: none;
}

.titleArea {
   padding: 0 0 20px 0;
}

/* =Showcase
-----------------------------------------------------------------------------*/
.showcase {
    position: relative;
    margin-top: 26px;
    max-width: 718px;
    overflow: hidden;
    border: 2px solid #717475;
    border-radius: 2px;
}

#frame {
    z-index: 0;
    max-width: 670px;
    height: 300px;
    background: url(/assets/bgCarrousel.png) 0 0 repeat;
}

#frame img {
    display: none;
    margin-top:200px;
    position: absolute;
}

#frame #img01 {
    display: block;
    margin-top:0px;
}

.control {
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 300px;
    width: 54px;
    z-index: 10;
    background: url(/assets/parafuso_vertical.png) 0 0 no-repeat,
         url(/assets/parafuso_vertical.png) 0 bottom no-repeat,
         url(/assets/controle_top_vertical.jpg) right top no-repeat,
         url(/assets/controle_bottom_vertical.jpg) right bottom no-repeat,
         url(/assets/fio_slide45_vertical.jpg) right bottom repeat-y;
}

.control .therm {
    position: absolute;
    left: 29px;
    bottom: 30px;
    background-color: #E6C693;
    border: 3px groove #C19157;
    border-radius: 5px;
    height: 90px;
    width: 1px;
}

.control nav { margin-top: 2px; }

.control nav ul li {
    background: url(/assets/botaoControleOff2_vertical.png) 14px top no-repeat transparent;
    padding: 8px 25px;
    color: #313131;
    font: bold 1.5em JuraDemibold;
    display: block;
    text-indent: 2px;
    cursor: pointer;
}

.control nav ul li.active {
    background: url(/assets/spotControl_vertical.png) 39px center no-repeat, 
                url(/assets/botaoControleOn2_vertical.png) 14px top no-repeat;
    color: #375b7d;
}

.control nav ul li:first-child.active { text-indent: 6px; }

.productsList {
    max-width: 725px;
    margin-top: 7px;
}

.productsList ul.catalog { border-top: 4px solid #494949; }

.productsList ul.catalog li {
    width: 325px;
    float: left;
    padding: 12px 25px;
    padding-right: 10px;
}

.productsList ul.catalog li .imgWrapper {
    position: relative;
    min-width: 28.571428%;  /* = 80px of 280 */
    min-height: 80px;
    float: left;
    margin-right: 7.14285%;    /*  = 20px of 280px */
    background-color: #c0c3c5;
    text-align: center;
    overflow: hidden;
}

.productsList ul.catalog li .stripeSale {
    position: absolute;
    bottom: 1px;
    left: 0;
    background: url(/assets/bg_selo.png) #660000 repeat;
    font-size: 0.916em;  /* = 11px of 12px */
    line-height: 2em;
    text-align: center;
    width: 88.4%;  /* = 70px of 80px */
    padding: 0 6.25%;   /* = 5px of 70px */
}

.productInfo { float: left; }

.productsList ul.catalog li .price { margin-top: 53px; }

.productsList ul.catalog li .price span { margin-top: -15px; }

.productsList ul.catalog li .productInfo a {
    position: relative;
    margin-top: 5px;
    padding: 5px 20px;
    clear: both;
}
