@charset "UTF-8";
/*-----------------------------------------------------------------------------
Nano Studio - Stylesheet for tablet landscape orientation
Author: Fabricio Fernandes
e-mail: fabricio@nanostudio.com.br
-----------------------------------------------------------------------------*/


/* =Tablet Stylesheet
---------------------------------------------------------------------- */
.titleArea {
    background-color: #44494d;
    color: #bfdde4;
    padding: 20px 0 20px 20px;
    border: 1px solid #a4a6a8;
}

.titleArea h2 {
    display: none;
}

.titleArea form label {
    margin-right: 8px;
}

.weaponFeature {
    padding: 1.25em 30px;  /* = 30px of 1024px */
    width: 92%;
}
 
.productsList ul.catalog li .productInfo > p:first-child {
    padding-bottom: 5px;
}

.productsList ul.catalog li {
    padding: 12px 20px;
    width: 19.4%;   /* 190px of 762px */
}

.productsList ul.catalog li .price {
    position: absolute;
    bottom: 32px;
    left: 0px;
}


.productInfo {
    height: 265px;
    position: relative;
}

.showMore {
    background: #44494d;
    padding: 15px;
    overflow: hidden;
}

.showMore ul {
    display: inline-block;
    overflow: hidden;
    float: right;
}

.showMore li {
    float: left;
  /*   display: inline;   */
    display: block;
    padding: 4px 5px;
}

.showMore li a {
    color: #d3e3e8;
    background-color: #34393d;
    padding: 2px 7px;
    border: 1px solid #24272a;
    font-weight: bold;
}

.showMore li a:hover {
    color: #1a1c1e;
    background: #677078;
    border: 1px solid #1a1c1e;
}

.showMore li.current a {
    color: #24272a;
    background-color: #90989e;
    border: 1px solid #24272a;
}

.showMore li:first-child a {
    border: none;
    padding: 2px 6px;
    background: url(/assets/arrowLeftShowMore.png) center no-repeat;
}

.showMore li.leftDoubleArrow a {
    border: none;
    padding: 2px 6px;
    background: url(/assets/arrowDoubleLeftShowMore.png) center no-repeat;
}

.showMore li.ellipsis a {
    background: none;
    color: #24272a;
    border: none;
    font: 16px bold;
    padding: 0;
    vertical-align: -webkit-baseline-middle;
}

.showMore li:last-child a {
    border: none;
    padding: 2px 6px;
    background: url(/assets/arrowRightShowMore.png) center no-repeat;
}

.showMore li.rightDoubleArrow a {
    border: none;
    padding: 2px 6px;
    background: url(/assets/arrowDoubleRightShowMore.png) center no-repeat;
}
