<% if @portfolio_entry.download_origin == 'Nano Online' %>
    <section class="bloco_conteudo download">
        <div class="titulo">
            <h2 class="titulo_principal">
                <img src="../images/icones/ic_baixar.png" width="50" height="52" alt="" class="ic_titulo" />
                Baixe Esse Jogo
            </h2>
        </div>

        <form method='post'>
            <label for="marca">Marca</label>
            <select id="marca">
                <option>Selecione a marca</option>
            </select>

            <label for="modelo">Modelo de Celular</label>
            <select id="modelo">
                <option>Selecione o modelo</option>
            </select>

            <%= hidden_field_tag :app, @portfolio_entry.name_short  %>
            <%= hidden_field_tag :model, ''  %>

            <button type="submit" id='download_submit'>Baixar Jogo</button>
        </form>
    </section>
<% elsif !@portfolio_entry.download_origin.blank? %>
    <section class="bloco_conteudo download">
        <div class="titulo">
            <h2 class="titulo_principal">
                <img src="../images/icones/ic_baixar.png" width="50" height="52" alt="" class="ic_titulo" />
                Baixe Esse Jogo
            </h2>
        </div>

        <a href="<%= @portfolio_entry.download_origin %>" class="link_appStore"><img src="../images/portfolio/AppStoreButton.gif" /></a>
    </section>
<% end %>