<% game_root = PortfolioEntry.roots.find_by_title "Games" %>
<% app_root = PortfolioEntry.roots.find_by_title "Apps" %>

<% form_tag '/portfolio/show' do %>
  <%= hidden_field_tag :filter, params[:filter] %>
<% end %>

<nav class="folio_nav">
  <ul class="abas <%= active_tab_class %>">
    <li class="tab_switcher aba_games <%= tab_active? 'Games' %>"><a>Games</a></li>
    <li class="tab_switcher aba_apps <%= tab_active? 'Apps' %>"><a>Apps</a></li>
  </ul>

  <div class="nav_conteudo clearfix">
    <h5>Navega&ccedil;&atilde;o R&aacute;pida</h5>

    <div id="Games" class='list' style="<%= div_active? 'Games' %>">
      <form>
        <input type="radio" id="game_categoria" name='filtro_game'/>
        <label for="game_categoria">Por categoria</label>

        <input type="radio" id="game_titulo" name='filtro_game' checked='checked'/>
        <label for="game_titulo">Pelo t&iacute;tulo</label>

        <div id="game_category_select" style="display: none;">
          <%= (select_tag "games_categories", options_for_select(categories_for_children(game_root), params[:filter])) if game_root %>
        </div>

        <div id="game_title_select">
          <%= (select_tag "games", options_for_select(["Selecione"] + game_root.children.map { |g| [g.title, g.to_param] }.sort { |a, b| a.first.casecmp b.first }, params[:id])) if game_root %>
        </div>
      </form>

      <ul id='games_list' class="img_jogos">
        <% game_root.children.each do |game| %>
          <%= thumb_list_item_for game %>
        <% end if game_root %>
      </ul>

      <ul class="subnav_jogos">
        <li class="seta_esq"><a id="games_nav_esq">Anterior</a></li>
        <li class="seta_dir"><a id="games_nav_dir">Mais Jogos</a></li>
      </ul>
    </div>

    <div id="Apps" class='list' style="<%= div_active? 'Apps' %>">
      <form>
        <input type="radio" id="app_categoria" name='filtro_app'/>
        <label for="app_categoria">Por categoria</label>

        <input type="radio" id="app_titulo" name='filtro_app' checked='checked'/>
        <label for="app_titulo">Pelo t&iacute;tulo</label>

        <div id="app_category_select" style="display: none;">
          <%= (select_tag "apps_categories", options_for_select(categories_for_children(app_root) || [], params[:filter])) if app_root %>
        </div>

        <div id="app_title_select">
          <%= (select_tag "apps", options_for_select(["Selecione"] + app_root.children.map { |g| [g.title, g.to_param] }.sort { |a, b| a.first.casecmp b.first }, params[:id])) if app_root %>
        </div>
      </form>

      <ul id='apps_list' class="img_jogos">
        <% app_root.children.each do |app| %>
          <%= thumb_list_item_for app %>
        <% end if app_root %>
      </ul>

      <ul class="subnav_jogos">
        <li class="seta_esq"><a id="apps_nav_esq">Anterior</a></li>
        <li class="seta_dir"><a id="apps_nav_dir">Mais Jogos</a></li>
      </ul>
    </div>
  </div>
</nav>