<% @portfolio_entry = PortfolioEntry.first %>
                       
  <section class="conteudo_principal">
    <%= render 'navigation' %>
  </section>

  <section class="bloco_conteudo">
      <header id='games'>
              <h1 class="titulo_principal tit_portfolio">
                  <img src="/images/portfolio/ic_portfolio.png" width="60" height="66" alt="" class="ic_titulo" />
                  Portfolio
              </h1>
      </header>

      <div class="box_padrao">
          <h2 class="subtitulo_games">
              <img src="/images/portfolio/ic_joystick_azul.png" width="71" height="59" alt="joystick" class="ic_subtitulo" />
              Games em Destaque
          </h2>
          <ul class="vitrine_portfolio">
            <% PortfolioEntry.send('with_exclusive_scope') { PortfolioEntry.where(:parent_id => PortfolioEntry.find_by_title('Games')).order('created_at desc').limit(4) }.each do |portfolio_entry| %>
              <li>
                  <a href="<%= url_for(:controller => :portfolio, :action => :show, :id => portfolio_entry.to_param) %>">
                    <h3><%= portfolio_entry.title %></h3>
                     <img src='<%= portfolio_entry.square_image.url if portfolio_entry.square_image %> 'width="120" height="120" alt="Nome do Projeto" />
                    <div class="resumo_peca">
                        <%= (raw portfolio_entry.content.truncate 150) if portfolio_entry.content %>
                        <p class="saiba_mais">Saiba mais</p>
                    </div>
                  </a>
              </li>
            <% end %>
          </ul>
      </div>

      <div id='aplicativos' class="box_padrao">
          <h2 class="subtitulo_apps">
              <img src="/images/portfolio/ic_palm_azul.png" width="48" height="62" alt="pda" class="ic_subtitulo" />
              Apps em Destaque
          </h2>
          <ul class="vitrine_portfolio">
            <% PortfolioEntry.send('with_exclusive_scope') { PortfolioEntry.where(:parent_id => PortfolioEntry.find_by_title('Apps')).order('created_at desc').limit(4) }.each do |portfolio_entry| %>
              <li>
                  <a href="<%= url_for(:controller => :portfolio, :action => :show, :id => portfolio_entry.to_param) %>">
                  <h3><%= portfolio_entry.title %></h3>
                       <img src='<%= portfolio_entry.square_image.url if portfolio_entry.square_image %> 'width="115" height="115" alt="Nome do Projeto" />
                      <div class="resumo_peca">
                          <%= raw(portfolio_entry.content.truncate 150) if portfolio_entry.content %>
                          <p class="saiba_mais">Saiba mais</p>
                      </div>
                  </a>
              </li>
            <% end %>
          </ul>
      </div>
  </section>

<% content_for :head do %>
  <%= include_javascripts  :portfolio_frontend %>
  <%= include_stylesheets  :portfolio_frontend %>

  <script type="text/javascript" src="http://apis.google.com/js/plusone.js"></script>
<% end %>