<% content_for :title, @portfolio_entry.title %>
<% content_for :meta do %>
  <meta name="description" content="<%= @portfolio_entry.body %>"/>
  <meta name="title" content="<%= @portfolio_entry.title %>"/>

  <!-- link{:rel => "image_src", :href => "http://186.202.60.210/images/destaques/1.png"} -->
<% end %>

<%= hidden_field_tag :name_short, @portfolio_entry.name_short %>

<section class="conteudo_principal">
  <%= render 'navigation' %>

  <section class="bloco_conteudo detalhe_peca">
    <header>
      <div class="titulo_principal titulo_com_elementos">
        <h1>
          <img src="/images/icones/ic_gameBoy.png" width="63" height="77" alt="" class="ic_titulo"/>
          <span class="link_titulo"><%= @portfolio_entry.title %></span>
        </h1>

        <ul class="social_links">
          <li>
            <iframe id="fb_iframe" src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2F<%= request.host_with_port %>&amp;layout=button_count&amp;show_faces=true&amp;width=450&amp;action=like&amp;font&amp;colorscheme=dark&amp;height=80" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
          </li>
          <li>
            <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a>
            <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
          </li>
          <li>
            <g:plusone size="medium"></g:plusone>
          </li>
        </ul>
      </div>

      <%= image_tag(@portfolio_entry.header_image.url, :width => 696, :height => 150, :alt => '', :class => "banner_jogo") if @portfolio_entry.header_image %>
    </header>

    <%= raw @portfolio_entry.body %>

    <p class="chamada_jogue"><a href="#"><span class="hidden">Jogue Agora</span></a></p>

    <div class="screenshots">
      <h5>Screenshots & Videos</h5>
      <a id="seta_esq" class="seta_esq jcarousel-previous" title="Anterior"><img src="/images/portfolio/thumbs_setaEsq.png" width="32" height="36" alt=""/></a>
      <ul id='portfolio_images' class="portfolio">
        <% @portfolio_entry.images.each do |image| %>
          <li><a href="<%= image.url %>" rel="prettyPhoto[portfolio]"><img src="<%= image.url %>" alt=""/></a></li>
        <% end %>
      </ul>
      <a id="seta_dir" class="seta_dir jcarousel-next" title="Pr&oacute;xima"><img src="/images/portfolio/thumbs_setaDir.png" width="32" height="36" alt=""/></a>
    </div>
  </section>

  <div class='portfolio'>
    <%#= render :partial => "/shared/content_page" %>
  </div>


  <%= render 'download_area' %>
</section>

<% content_for :head do %>
  <%= include_javascripts :portfolio_frontend %>
  <%= include_stylesheets :portfolio_frontend %>

  <script type="text/javascript" src="http://apis.google.com/js/plusone.js"></script>
<% end %>