 <!-- INICIO DA JANELA MODAL -->

        <div class="modal_overlay">
            <div class="window">
                <h5>
                    Password generated
                    <a href="#" class="close_link"></a>
                </h5>
                <p>A new password has been generated and sent to your registered e-mail.</p>
                <p> Please log in and change your password at the profile settings as soon as possible.</p>

                <div class="buttons">
                    <a href="#" class="button bt_default bt_center"><strong>Back to Login</strong></a>
                </div>
            </div>
        </div>

        <!-- FIM DA JANELA MODAL -->