<% if flash[:errors] %>
  <% errors = flash[:errors] %>
  <% flash[:errors] = nil %>
  <% content_for :head do %>
    <script>
      alert("<%= errors %>".replace(/;/g,"\n"))
      function unsetFieldError(){
        jQuery('input').focus(function(){
          jQuery(this).parent().attr('class', '')
        })
      }
      window.addEventListener('load', unsetFieldError, false)
    </script>
  <% end %>
<% end %>
<table class="form">
  <% if type == 'register'%>
    <tr>
      <th><%= f.label :first_name, "Full Name" %></th>
      <td>
      <%if (not @customer.errors["first_name"].blank?) || errors %>
        <div class="fieldWithErrors">
          <%= f.text_field :first_name %>
        </div>
      <% else %>
        <%= f.text_field :first_name %>
      <% end %>
      </td>
    </tr>
  <% end %>
  <% if type == 'login'%>
    <tr>
     <th><%= label_tag :login_type, "Login with" %></th>
     <td>
        <%= select_tag :login_type, options_for_select([["ImuzDB Account", "game_account"], ["Facebook Account", "facebook"]]) %>
     </td>
    </tr>
  <% end %>
  <tr>
	  <th><label for="customer_email">E-Mail</label></th>
	  <td>
	   <%if (not @customer.errors["email"].blank?) || errors %>
	    <div class="fieldWithErrors">
		    <%= email_form(@customer.email).html_safe %>
		  </div>
		  <% else %>
        <%= email_form(@customer.email).html_safe %>
		  <% end %>
	  </td>
  </tr>
  <% if type == 'register'%>
    <tr>
      <th><%= f.label :nickname, "Nickname" %></th>
      <td>
      <%if (not @customer.errors["nickname"].blank?) || errors %>
        <div class="fieldWithErrors">
          <%= f.text_field :nickname %>
        </div>
      <% else %>
        <%= f.text_field :nickname %>
      <% end %>
      </td>
    </tr>
  <% end %>
  <tr>
    <th><%= f.label :password, "Password" %></th>
	  <td>
    <%if errors %>
      <div class="fieldWithErrors">
	       <%= f.password_field :password %>
      </div>
    <% else %>
         <%= f.password_field :password %>
    <% end %>
	  </td>
  </tr>
  <% if type == 'register'%>
    <tr>
      <th><%= f.label :birthday, "Birthday"%></th>
      <td class="date">
        <%= date_select("customer", "birthday", :start_year => 100.years.ago.year, :end_year => 1.year.ago.year, :use_month_numbers => true, :default => 1.year.ago) %>
      </td>
    </tr>
    <tr>
			<td colspan="2">
				<%= f.check_box :show_birthday %>
 				<%= f.label :show_birthday, "Show birthday on profile" %>
				<!--input type="checkbox" id="customer_show_birthday" name="customer[show_birthday]">
				<label for="customer_show_birthday">Show birthday on profile</label-->
			</td>
    </tr>
  <% end %>
  <% if type == 'login'%>
   <tr>
   <td colspan="2">
     <a onclick="redirectTo('<%= forget_password_customer_login_path%>')">
       I forgot my password
     </a>
   </td>
   </tr>
     <tr>
	     <td colspan="2">
	       <%= check_box_tag "remember_me" %>
	       <%= label_tag :remember_me, "Remember me on this device" %>
	     </td>
     </tr>
   <% end %>
</table>
<div class='footer'>
  <% if params[:action] == "edit" %>
    <a class="button bt_cancel" id="bt_cancel_edit" onclick="redirectTo('<%= url_for({:controller => 'imuz_db/game_sessions', :action => 'profile'})%>')">
      Cancel
    </a>
  <% elsif params[:first] %>
    <a class="button bt_cancel" id="bt_cancel_signup" ><%= type == 'login' ? "Back" : "Cancel" %></a>
  <% end %>
  <%= f.submit submit_text, :class => "bt_signin", :id => 'bt_signin' %>
</div>
