<h1>Cadastro de Usuario</h1>

<%= form_for(@customer, :url => {:action => :salvar_cadastro}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :apelido %><br/>
    <%= f.text_field :nickname %>
  </p>

  <p>
    <%= f.label "Primeiro Nome" %><br/>
    <%= f.text_field :first_name %>
  </p>

  <p>
    <%= f.label "Último Nome" %><br/>
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= f.label "Sexo" %><br/>
    <%= f.select(:genre, %w{M F}) %>
  </p>

  <p>
    <%= f.label :email %><br/>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label "Telefone" %><br/>
    <%= f.text_field :phone_number %>
  </p>

  <p>
    <%= f.label "Senha" %><br/>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label "Confirmacao" %><br/>
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.submit "Cadastrar" %>
  </p>
<% end %>

<%= link_to 'Voltar', users_path %>