<% content_for :head do %>
   <%=  stylesheet_link_tag 'imuz_db/mobile/mob-firstUse' %>
<% end %>
<div class="header app_title">
  <h1>iMuzDB</h1>
</div>
<p class="general_text">Welcome to iMuzDB Quiz. If you don't have a Facebook or iMuzDB account, please create a new one so you can compete in the ranking and share your status with your friends.</p>

<div class="aside">
  <a class="button bt_default" onclick="redirectTo('<%= url_for({:controller => 'customer_login', :action => 'sign_up', :first => true})%>')">
      <strong>Create new iMuzDB account</strong>
  </a>
  <a class="button bt_default" onclick="redirectTo('<%= url_for({:controller => 'customer_login', :action => 'login', :first => true})%>')">
    <strong>I have a Facebook or iMuzDB account</strong>
  </a>  
</div>
