<%if params[:field_error] %>
  <script>
    alert("The e-mail you entered is not on our database. Please use another email or sign up with a new user.");
  </script>
<% end %>
<div id="viewport" class="default_viewport"> 
  <div class="header">
    <h1>Generate new password</h1>
  </div>

  <p class="general_text">
      Please enter your login e-mail on the form below.
      A new password will be generated and sent to your registered e-mail account.
      You should change that later on your profile settings.
  </p>

  <%= form_for :customer, :url => resend_password_customer_login_path, :html=>{:class => "single_field remember_password"} do |f| %>
    <table class="form">
      <tr>
        <th><%= f.label :email, "Email" %></th>
        <td><%= f.email_field :email, :value => params[:field_error]  %></td>
      </tr>
    </table>
    <div class="footer">
      <a class="button bt_cancel" id="bt_cancel_signup" >Cancel</a>
      <%= f.submit "Generate password", :class => "bt_generic" %>
    </div>
  <% end %>
</div>

