<div id="login_body" class="conteudobox">
	<% if @logado %>
	  	<%= "Welcome" + ", #{Customer.find(session[:customer_id]).nickname}" %>
		<%= " (#{link_to "Profile", :controller => "customers", :action => "profile"} | #{link_to "Log out", :action => "logout"})" %>
	<% else %>
	  	<%= "#{link_to "Sign up", :action => :cadastro} | #{link_to "Login", :action => :login}" %>
	<% end %>
</div>