<%= form_tag(:controller => :customer_login, :action => "login") do %>
 	<p>
		<label for= :name >Login:</label>
		<%= text_field_tag :name, params[ :name ] %>
	</p>
	<p>
		<label for= :name ><%="Password" + ":"%></label>
		<%= password_field_tag :password, params[ :password ] %>
	</p>
	<p>
		<%= submit_tag 'Login' %>
	</p>
	<p>
		<%= "(#{link_to "Forgot my password/login", :action => "recuperar_senha"})"%>
	</p>
	<p>
		<%= link_to "Sign Up", :action => "cadastro" %>
	</p>
<% end -%>
