<div class="content">
  <dl class="hud">
    <dt>SCORE:</dt>
    <dd><%= game.hits %></dd>
    <dt>Question:</dt>
    <dd><%= "#{[(@question_count || (game.hits + game.misses)) + 1, game.max_questions].min}/#{game.max_questions}" %></dd>
    <dt>Skips Left:</dt>
    <dd><%= "#{game.skips_left}" %></dd>
  </dl>
</div>
