<div class="contextual_menu">
  <ul>
    <li class="<%= params[:published] == "true" ? '' : 'selected' %>">
      <a href="/maps">Mapas não publicados</a>
    </li>
    <li class="<%= params[:published] == "true" ? 'selected' : '' %>">
      <a href="/maps?published=true">Mapas publicados</a>
    </li>
  </ul>
</div>
