

<%= content_tag :h1, params['published'] ? 'Mapas publicados' : 'Mapas não publicados' %>

<table class="data_table">
  <thead>
    <%= content_tag :tr do %>
      <%= content_tag :th, 'Nome' %>
      <%= content_tag :th, 'Publicado?' %>
    <% end %>
  </thead>
  <tbody>
    <% @map_collection['maps'].each do |map_hash| %>
      <% map = map_hash['map'] %>
        
      <%= content_tag :tr, id: map['name'] do %>
        <%= content_tag :td, map['name'] %>
        <% if map['published'] == true %>
          <%= form_tag "/maps/#{map['name']}", method: :put do %>
            <%= hidden_field_tag :published, params[:published] %>
            <%= hidden_field_tag "map[id]", map['name'] %>
            <%= hidden_field_tag "map[published]", false %>
            <td><%= submit_tag 'Despublicar' %></td>
          <% end %>
        <% else %>
          <%= form_tag "/maps/#{map['name']}", method: :put do %>
            <%= hidden_field_tag :published, params[:published] %>
            <%= hidden_field_tag "map[id]", map['name'] %>
            <%= hidden_field_tag "map[published]", true %>
            <td><%= submit_tag 'Publicar' %></td>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
