<div id="product-list">
  
  <h1>Application categories list</h1>

  <table cellpadding="5" cellspacing="0" >
	<tr>
	  <th>Id</th>
	  <th>Name</th>
	</tr>

  <% for app_category in @app_categories%>
	<tr valign="top" class="<%=cycle('list-line-odd', 'list-line-even' ) %>" >
	
	  <td class="list-title" ><%=h app_category.id %></td>
	  <td class="list-title" ><%=h app_category.name %></td>
	  
	  <td class="list-actions" ><%= link_to 'Edit', edit_app_category_path(app_category) %></td>
	  <td class="list-actions" ><%= link_to 'Destroy', app_category, :confirm => "Remove app category " + app_category.name + '?', :method => :delete %></td>
	</tr>
  <% end %>
  </table>

  <br />

</div>

<%= paginating_links( @app_categories ) %><br/><br/>

<%= link_to 'Add app category', new_app_category_path %>
