<%# Link to the "Next" page
  - available local variables
    url:           url to the next page
    current_page:  a page object for the currently displayed page
    num_pages:     total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<% if current_user.partner and current_user.partner.name == "imuz_db" %>
  <li class="next">
    <%= link_to_unless current_page.last?, "", url, :rel => 'next', :remote => remote %>
  </li>
<% else %>
  <span class="next">
    <%= link_to_unless current_page.last?, raw(t 'views.pagination.next'), url, :rel => 'next', :remote => remote %>
  </span>
<% end %>
