<%# Link showing page number
  - available local variables
    page:          a page object for "this" page
    url:           url to this page
    current_page:  a page object for the currently displayed page
    num_pages:     total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<% if current_user.partner and current_user.partner.name == "imuz_db" %>
  <li>
    <% if page.current? %>
      <span class="current"><%= page %></span>
    <% else %>
      <%= link_to_unless page.current?, page, url, opts = {:remote => remote, :rel => page.next? ? 'next' : page.prev? ? 'prev' : nil} %>
    <% end %>
  </li>
<% else %>
  <span class="page<%= ' current' if page.current? %>">
    <%= link_to_unless page.current?, page, url, opts = {:remote => remote, :rel => page.next? ? 'next' : page.prev? ? 'prev' : nil} %>
  </span>
<% end %>