<div>
  <table id="table" width="900" border="1" >
		<thead>
			<tr>
			  <th>Id</th>
			  <th>Application</th>
			  <th>Version</th>
			  <th>Release notes</th>
			  <th>Families</th>
			  <th>News Categories</th>
			  <th>State</th>
				<th colspan="3"></th>
			</tr>
		</thead>

		<tbody>
			<% for app_version in @app_versions %>
				<tr valign="top">
				  <td><%=h app_version.id %></td>
				  <td><%=h app_version.app.name %></td>
				  <td><%=h app_version.number %></td>
				  <td><%=h app_version.release_notes %></td>
				  <td>
						<% if ( app_version.families.empty? ) %>
							<%= 'None' %>
						<% else %>
							<% for family in app_version.families %>
								<%= h family.name %><br/>
							<% end %>
						<% end %>		
				  </td>
				  <td>
            <% for news_category in app_version.news_feed_categories %>
              <%=h news_category.default_translation %><br />
            <% end %>
          </td>
				  <td>
            <%=h app_version.state.name if app_version.state %>
          </td>

				  <% if ( session_user.is_admin? ) %>
			        <td class="list-actions" ><%= link_to 'Show', app_version %></td>
			        <td class="list-actions" ><%= link_to 'Edit', edit_app_version_path(app_version) %></td>
			        <td class="list-actions" ><%= link_to 'Destroy', app_version, :confirm => "Remove app version " + app_version.app.name + ' ' + app_version.number + '?', :method => :delete %></td>
			    <% end %>
				</tr>
		  <% end %>
		</tbody>
  </table>
  <br />
</div>

<div id="pager" class="pager">
	<form>
		<img class="first" src="images/icons/first.png"/>
		<img class="prev" src="images/icons/prev.png"/>
		<input class="pagedisplay" type="text"/>
		<img class="next" src="images/icons/next.png"/>
		<img class="last" src="images/icons/last.png"/>

		<select class="pagesize">
			<option value="15" selected="selected">15</option>
			<option value="30">30</option>
			<option value="50">50</option>
			<option value="100">100</option>
		</select>
	</form>
</div><br />

<%= if ( session_user.is_admin? ) then link_to 'Add application version', new_app_version_path end %>

<script type="text/javascript">
	jQuery(document).ready(function() { 
	    jQuery("#table") 
		    .tablesorter({widgets: ['zebra']}) 
		    .tablesorterPager({container: jQuery("#pager")}); 
	});
</script>