<script language="javascript" src="/javascripts/datetimepicker.js" type="text/javascript"></script>
<div id="product-list">
  <form action="" method="get" accept-charset="utf-8">
    <table>
      <tr>
        <td>Data Inicial:</td><td><input name="iniDate" id="iniDate" value="<%=@iniDate.strftime("%d/%m/%Y")%>" size="8">&nbsp;&nbsp;<a href="javascript:NewCal('iniDate','ddMMyyyy',false,24)"><img src="/images/cal.gif" width="16" height="16" border="0" alt="Adicione uma data" border="0"></a></td><td>&nbsp;&nbsp;&nbsp;</td><td>Data Final:</td><td valign="middle"><input name="endDate" id="endDate" value="<%=@endDate.strftime("%d/%m/%Y")%>" size="8">&nbsp;&nbsp;<a href="javascript:NewCal('endDate','ddMMyyyy',false,24)"><img src="/images/cal.gif" width="16" height="16" border="0" alt="Adicione uma data" border="0"></a></td><td valign="middle">&nbsp;&nbsp<input type="submit" value="Pesquisar"></td>
      </tr>
      <tr>
        <td>

        </td>
        <td colspan="4"></td>

      </tr>
    </table>

    <% if ( @gridViewWeekReport && @gridViewWeekReport.length > 0 ) %>
      <p>Total de entradas no período selecionado: <%= @gridViewWeekReport.length %> </p>
    <% end %>

    <hr>
    <%= if (!@gridViewWeekReport.nil?) then @gridViewWeekReport.render end %>
        <br />
    <%= if (!@exporterReport.nil?) then @exporterReport.render end %>
    <input name="doSearch" value="search" type="hidden">
  </form>
</div>
