<% cache 'page_como_jogar' do %>
  ﻿<h1>Como Jogar</h1>

          <div class="box_mensagem">
              <div class="conteudo_box">
                  <p>É muito fácil se divertir no CDF – Clube Desafio Futura. Você pode brincar através do aplicativo do jogo no Orkut ou do site do jogo (www.cdf.org.br).</p>
                  <p>Se você estiver no Orkut, basta entrar na página do nosso aplicativo e clicar em “adicionar aplicativo”. Se você preferir jogar pelo site, basta se cadastrar e confirmar o cadastro em seu e-mail. Depois, é só digitar o login e a senha de acesso no site. Pronto! Você já pode jogar.</p>

				  <h4>Primeiro passo: escolha a sala</h4>
				  <p>Aqui no CDF, não faltam opções para você desafiar seu conhecimento. O primeiro passo para jogar é escolher em qual sala você quer entrar. Cada uma das salas apresenta temas diferentes. Basta selecionar uma das opções disponíveis e você está pronto para escolher sua mesa.</p>

				  <h4>Segundo passo: escolha a mesa</h4>
				  <p>Depois que você escolheu sua sala, é a vez de escolher em qual mesa deseja jogar. Você pode escolher entre jogar nas mesas já existentes ou criar a sua própria mesa, que pode ser pública ou privada. Nas mesas públicas, qualquer jogador pode entrar. Nas mesas privadas, apenas os amigos que você convidar terão acesso àquela partida.</p>
				  <p>Você também pode escolher qual é o nível da sua mesa. No modo normal, o tempo para responder às perguntas do jogo é maior. Já na velocidade turbo, o tempo diminui, portanto o desafio é ainda maior!</p>
				  <p>Atenção: cada mesa deve ter no mínimo dois e no máximo seis jogadores para ter início.</p>

				  <h4>Terceiro passo: o jogo</h4>
				  <p>Depois que todos os jogadores confirmarem sua participação na mesa, é hora do desafio começar. A ordem dos jogadores seguirá a ordem de confirmação de cada um no jogo. Cada jogador receberá uma cor diferente, que servirá para identificar suas peças no tabuleiro.</p>
				  <p>O funcionamento do CDF é bem simples: a cada pergunta respondida corretamente, o jogador ganha o direito de colocar uma peça no tabuleiro. Quando não houver mais espaços vazios, o jogador com mais peças no tabuleiro é o campeão da partida.</p>
				  <p>Cada jogador só pode responder a uma pergunta por vez. Enquanto seus amigos estiverem jogando, você pode aproveitar para conversar com os outros jogadores da mesa em um chat. Só não vale perder a concentração na partida!</p>
				  <p>Ficou com alguma dúvida? Entre em contato com a gente, será um prazer ajudar. Escreva para <a href="mailto:cdf@futura.org.br">cdf@futura.org.br</a>. Boa diversão!</p>
				
              
			  </div>
          </div>
<% end %>
