<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html>

  <head>
    <title>Ativação do Cadastro</title>
  </head>

  <body>
 	<table cellspacing="0" cellpadding="0" width="480" bgcolor="#63A7D4">
	<tr>
		<td height="172"><img src="#{request.host_with_port}/images/email/parabens_topo.jpg" width="480" height="172" alt="Clube Desafio Futura" style="display: block;"></td>
	</tr>
	<tr>
		<td style="background: #63A7D4; color: #fff; padding: 0 20px;" valign="top">
			<div style="font: 11px Verdana, Tahoma, sans-serif; line-height: 14px;">
				<p style="margin: 0 0 15px 0;"><strong style="font-size: 14px;"><%= I18n.t(:hello) %> <%= @user.name %>,</strong></p>
				<p style="margin: 0 0 12px 0;">A pergunta que você sugeriu para o jogo Futura CDF foi aceita:</p>
			  <p style="margin: 0 0 12px 0;"><%= @question.title %></p>
				<p style="margin: 0 0 12px 0;">Você ganhou 200 pontos e terá o prazer de ter sua pergunta respondida por vários jogadores!</p>
				<p style="margin: 0 0 25px 0;">Agradecemos sua colaboração e contamos com novas sugestões no futuro.</p>
				<p style="margin: 0 0 10px 0;">Atenciosamente,</p>
				<p style="margin: 0; font: bold 13px Verdana;">Equipe Futura CDF</p>
			</div>
		</td>
	</tr>
	<tr>
		<td bgcolor="#63A7D4" align="right" height="82" valign="bottom">
			  <img src="#{request.host_with_port}/images/email/img_cartas.jpg" width="126" alt="Baralho" align="absbottom">		
		</td>
	</tr>
	<tr>
		<td style="height: 37px; padding-top: 10px; background-color: #01395C;">
			<p style="font: 10px Tahoma; color:#6BB7E3; border-top: 1px solid #6BB7E3; padding: 5px 0 0 0; margin: 0 10px;">Canal Futura &copy; 2010</p>
			<img src="#{request.host_with_port}/images/email/news_rodape.gif" width="480" height="16" alt="" style="display:block; margin: 4px 0 0 0;"-->
		</td>
	</tr>	
	</table>
  </body>

</html>
