<html>
  <head>
    <title>An interesting Page</title>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      var params = {};
      var connection = null;
      function shareOnOrkut(p){
        params[google.orkut.share.Field.CONTENT] = "<html><body><p>oi</p></body></html>";
        connection.send('orkut.com', {})
      }
      google.load('orkut.share', '1');
      google.setOnLoadCallback(function() {
        params[google.orkut.share.Field.TITLE] = 'Futura - CDF';
        params[google.orkut.share.Field.CONTENT] = "Passei de nivel";
        params[google.orkut.share.Field.DESTINATION_URL] = 'http://www.cdf.org.br';
        connection = new google.orkut.share.Connection(params);
       
//        document.getElementById('orkut-share').onclick =
  //        function(e) { connection.send('orkut.com', {}); };
      }, true);
    </script>
  </head>
  <body>
    <a href='#' onclick="shareOnOrkut('Sabio')" >Compartilhar no orkut</a>    
  </body>
</html>
