﻿<%= javascript_include_tag :juggernaut%>
<h1>Mensagem enviada com sucesso</h1>

<div class="box_mensagem">
	<div class="conteudo_box">
		<p>Uma mensagem acaba de ser enviada para o seu endereço de e-mail cadastrado com uma nova senha de acesso. Por favor, verifique sua conta de e-mail e entre no sistema com a nova senha. Para mudar a senha, acesse seu perfil.</p>
		
		<a href="/" class="bt_pagInicial texthide"><span>Voltar para a página inicial</span></a>
	</div>
</div>
