<% @title = "Ad Channel Versions" %>
<% form_for(@ad_channel_version) do |f| %>
  <%= f.error_messages %>
	
	<table class="form">
		<tr>
			<td class="text"><%= f.label :ad_channel %>
			</td>
			
			<td>
			  <%= select 	'ad_channel_version', 
							      'ad_channel_id',
			  				    AdChannel.find(:all).collect {|a| [a.title, a.id]} %>
			</td>
		</tr>
		
		<tr>
			<td class="text"><%= f.label :status %>
			</td>
			
			<td>
			  <%= f.select 	'ad_channel_status_id', @statuses %>
			</td>
		</tr>

		<tr>
			<td class="text">
				<%= f.label :accepted_resources %>:
			</td>
			<td>
				<div id="resource_types">
					<%= render :partial => 'resource_types', :object => @ad_channel_version.ad_channel_version_compositions.build %>
				</div>

					<%= link_to_function "Add a resource type" do |page|
						page.insert_html 	:bottom,
											        :resource_types,
											        :partial => 'resource_types',
											        :locals => {:resource_types => @ad_channel_version.ad_channel_version_compositions.build}
					end %>
			</td>
		</tr>

	  <tr>
	    <td></td>
	    <td>
  		  App versions:
		    <% if ( @apps.length <= 0 ) %>
		      None.
		    <% else %>
          <% for app in @apps %>
		        <div>
		          <%= app.name %>
		          <br />
		          <% for app_version in app.app_versions -%>
		            <%= check_box_tag "app_version_ids[]", 
			                          app_version.id, 
			                          @ad_channel_version.app_versions.include?( app_version ) %>
			                        
			          <%= h app_version.number %>
		          <% end -%>
		        </div>
		        <br />
		      <% end %>
	      <% end %>
	    </td>
	  </tr>
		
		<tr>
			<td class="submit" colspan="2"><%= f.submit "Create" %></td>
		</tr>
	</table>
<% end %>

<%= link_to 'Back', ad_channel_versions_path %>
