<p>
	<%= "Ad Channel: " + @ad_channel_version.ad_channel.title %><br />
	<%= "Status: " + @ad_channel_version.ad_channel_status.status %><br /><br />
	<%= "Resources: " %><br />
  <% for composition in @ad_channel_version.ad_channel_version_compositions -%>
    <%= h composition.resource_type.title %>
    <%= " Code: " %>
    <%= h composition.code %>
    <br />
  <% end -%>
  <br />
	<%= "App Versions:" %><br />
	<% v = '' -%>
  <% for app_version in @ad_channel_version.app_versions -%>
    <% if v == '' -%>
      <%= "#{app_version.app.name} - #{app_version.number}" -%>
      <% v = app_version.app.name -%>
    <% else -%>
      <% if v == app_version.app.name -%>
        <%= " - #{app_version.number}" -%>
      <% else -%>
        <br />
        <%= "#{app_version.app.name} - #{app_version.number}" -%>
        <% v = app_version.app.name -%>
      <% end -%>
    <% end -%>
    
  <% end -%>
</p>
<%= link_to 'Edit', edit_ad_channel_version_path(@ad_channel_version) %> |
<%= link_to 'Back', ad_channel_versions_path %>
