<%= form_for :users, :url=>{:controller => 'admin/users', :action => 'update_max_online_users'} do |f| %>
<ul>
  <li>
    <%= label_tag :max_online_users, "Máximo de usuários online" %>
    <%= text_field_tag :max_online_users, @max_online_users %>
  </li>
	<li><%= f.submit I18n.t(:save)%></li>
  <br />
</ul>	 
<% end %>  
