Total de Jogadores: <%= User.count %><br /><br />
<table class="GridView">
  <tr class="gridHeader">
    <th class="nomeTema"><%= I18n.t( :player ) %></th>
    <th><%= I18n.t( :edit ) %></th>
    <th><%= I18n.t( :delete ) %></th>
  </tr>
  <% for user in @users %>
    <tr>
      <td><%= user.email %></td>
      <td class="linkColumn"><%= link_to image_tag('/images/admin/page_white_edit.png'), admin_user_path( user ), :id => "edit_user_#{user.id}" %></td>
      <td class="linkColumn"><%= link_to image_tag('/images/admin/delete.png'), admin_user_path( user ), :confirm=>I18n.t( :are_you_sure ), :method=>"delete", :id => "delete_user_#{user.id}"%></td>
    </tr>
  <% end %>
</table>
<%= will_paginate(@users) %>
