<%= form_for @user, :url=>admin_user_path(@user) do |f| %>
<ul>
	<li><%= I18n.t(:email)%> <%=@user.email%></li>
	<li><%= f.label :blocked, I18n.t(:block)%> 

		<%=f.check_box :blocked, :checked=>@user.locked_at? %></li>

	<li>Avatar</li>
	<li><%=image_tag @user.avatar.url(:thumb)%></li>
  <li>
    <%= label_tag :max_online_users, "Máximo de usuários online" %>
    <%= text_field_tag :max_online_users, @max_online_users %>
  </li>
	<li><%= f.submit I18n.t(:save)%></li>
	 
<% end %>
