<h2><%= I18n.t( :edit )%> <%= I18n.t( :user ) %></h2>

<%= form_for resource_name, resource, :url => registration_path(resource_name),
:html => { :method => :put, :multipart=>true } do |f| -%>
  <%= f.error_messages %>

  <p><%= f.label :email, I18n.t( :email ) %></p>
  <p><%= f.text_field :email %></p>

  <p>
		<%= f.label :password, I18n.t( :password ) %> 
		<i>( <%= I18n.t( :leave_blank )%> )</i>
	</p>
  <p><%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation, I18n.t( :password_confirmation ) %></p>
  <p><%= f.password_field :password_confirmation %></p>

  <p>
		<%= f.label :current_password, I18n.t( :current_password ) %> 
		<i>( <%=I18n.t( :we_need_u_current_pass )%> )</i>
	</p>
  <p><%= f.password_field :current_password %></p>


<%= logged_user.email%>
<br />
<%= image_tag logged_user.avatar.url(:thumb)%>

<%= render :file=>'avatar/new'%>
<iframe id="hiddenForm" name="hiddenForm" style="display:none" >

</iframe>

  <p><%= f.submit I18n.t( :save ) %></p>
<% end -%>

<h3><%= I18n.t( :cancel_account )%></h3>

<p><%= I18n.t(:unhappy)%>? <%= link_to I18n.t( :cancel_account ), 
registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>


