<script type="text/javascript">
    var flashvars = false;
    var params = {wmode: "transparent" };
    var attributes = {
        id: "flash",
        name: "flash"
        
    };
    swfobject.embedSWF("/swf/futura.swf", "swf", "530", "411", "9.0.0","expressInstall.swf", flashvars, 
      params, attributes);
  </script>
</div>

<div align="left" id="swf">
 <!-- <embed src="ActionscriptJavascriptCommunication.swf" id="flash" quality="high" scale="exactfit" width="450" height="450" name="squambido" align="middle" allowscriptaccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer"/> -->
</div>

