<% cache "game_#{ game.id }", 8.seconds.from_now do %>
  <% for user in users %>
    <% participation = game.participations.select { |p| p.user_id == user.id }[ 0 ] %>
    <li class="<%= user.color_for_game(game) %> jogador <%= "selecionado" if game.current_user && user.id == game.current_user.id %>" id="jogador_<%= user.id.to_s %>">
    <%= image_tag user.avatar.url(:small_thumb), 
      :alt=>user.nickname, 
      :class=>"img_jogador", 
      :width => 26, 
      :height => 26%>

      <div class="info_jogador">
        <strong><%= user.nickname %></strong>
        <p class="info">
          <span class="acertos"><%= participation.hits %></span>
          <span class="erros"><%= participation.misses %></span>
          <%= user.position_in_all_ranking %><sup>o</sup> lugar
        </p>
     </div>
    </li>
  <% end %>
<% end %>

