<td><%=h app.id %></td>
<td><%=h app.name %></td>
<td><%=h app.name_short %></td>
<td><%=h app.description_short %></td>
<td><%=h app.description_medium %></td>
<td><%=h app.description_long %></td>
<%= render( :partial => 'app_categories', :object => app.app_categories ) %>
<td><%=h app.partners.empty? ? 'none' : app.partners.collect { |p| p.name }.join( ', ' ) %></td>
