<div>
  <table id="table" border="1" >
		<thead>
			<tr>
	      <th>Id</td>
	      <th>Name</td>
	      <th>Short name</td>
	      <th>Description short</td>
	      <th>Description medium</td>
	      <th>Description long</td>
	      <th>Categories</td>
	      <th>Partners</td>
				<th colspan="3"></th>
	    </tr>
		</thead>

		<tbody>
			<% for app in @apps%>
	      <tr valign="top" >

	        <%= render( :partial => 'app', :object => app ) %>

	        <% if ( session_user.is_admin? ) %>
	          <td class="list-actions" ><%= link_to 'Show', app %></td>
	          <td class="list-actions" ><%= link_to 'Edit', edit_app_path(app) %></td>
	          <td class="list-actions" ><%= link_to 'Destroy', app, :confirm => "Remove app " + app.name + '?', :method => :delete %></td>
	        <% end %>
	      </tr>
	    <% end %>
		</tbody>
  </table>
<br/>
</div>

<br/>
<div id="pager" class="pager">
	<form>
		<img class="first" src="images/icons/first.png"/>
		<img class="prev" src="images/icons/prev.png"/>
		<input class="pagedisplay" type="text"/>
		<img class="next" src="images/icons/next.png"/>
		<img class="last" src="images/icons/last.png"/>

		<select class="pagesize">
			<option value="15" selected="selected">15</option>
			<option value="30">30</option>
			<option value="50">50</option>
			<option value="100">100</option>
		</select>
	</form>
</div>

<%= if ( session_user.is_admin? ) then link_to 'Add application', new_app_path end %>

<script type="text/javascript">
	jQuery(document).ready(function() { 
	    jQuery("#table") 
		    .tablesorter({widgets: ['zebra']}) 
		    .tablesorterPager({container: jQuery("#pager")}); 
	});
</script>