<!DOCTYPE html>
<%= render :partial => "/shared/html_tag" %>
  <% site_bar = render(:partial => "/shared/site_bar", :locals => {:head => true}) -%>
  <%= render :partial => "/shared/head" %>
  <body <%= id_to(@page) %>>
    <%= site_bar -%>

    <%= render :partial => "/shared/ie6check" if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <header class="global_header">
      <%= render :partial => "/shared/header" -%>
    </header>
    <div id="page_container">
         <section id='page' class='central'>
            <%= yield %>
         </section>
    </div>

    <footer>
        <%= render :partial => "/shared/footer" -%>
    </footer>

    <%= render :partial => "/shared/javascripts" %>
  </body>
</html>
