<h1>New MIDlet report</h1>

<% form_for( @midlet_report, :html => { :multipart => true } ) do |f| %>
  <%= f.error_messages %>

  <p><label for="midlet_report">MIDlet report</label><br/>
  <p>
    <%= f.label :status_code %><br/>
    <%= f.text_field :status_code %>
  </p>
  <p>
    <%= f.label :user_agent %><br/>
    <%= f.text_field :user_agent %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', midlet_reports_path %>