<script>
  pollServer("rooms/get_room_partial/" + <%= room.id %>, 60000, 'room_div');
</script>

<div class="sala">
  <div class="room_image">
    <%= image_tag room.image.url(:thumb)%>
  </div>
  <div class="detalhe_sala">
    <h2><%= room.name %></h2>

    <span class="temas"><%= room.description %></span>
    
    <div id='room_div'>
      <%= render :partial => 'users_count', :locals => { :room => room } %>
    </div>
  </div>
</div>
