<% if game.difficulty and game.difficulty.name == 'Turbo' %>
  <td class="num_mesa vel_turbo"><h6><%= ( index + 1 ).to_s %></h6></td>
<% else %>
  <td class="num_mesa vel_normal"><h6><%= ( index + 1 ).to_s %></h6></td>
<% end %>

<td>
  <%= game.private? ? I18n.t(:private) : I18n.t(:public) %>
</td>

<td>
  <span id='users_in_<%=game.id%>'>
    <%= "#{game.users_in_lobby_or_playing_count} / #{game.max_users} jogadores" %>
  </span> 

  <img src="/images/jogo/ic_olho.gif" width="16" height="10" class="ver_jogadores" id="ver_jogadores_<%=game.id%>" onmouseover="showTooltip(this, <%= game.id %>);" onmouseout="hideTooltip();">
</td>

<td>
  <%= game.difficulty.name if game.difficulty %>
</td>

<td class="status_mesa" id="game_status_<%=game.id%>">
  <% if !game.initialized? || game.users_in_lobby_or_playing_count >= game.max_users %>
    <a href="#" class="jogo_iniciado texthide"><span><%=I18n.t(:game_started)%></span></a>
  <% else %>
    <%= link_to('', game_path(game), :class => "entrar_jogo texthide")%>
  <% end %>
</td>
