<span class="users_on">
  <span id="users_in_<%=room.id%>">
    <% if room.online_users_count == 1 %>
      1 jogador na sala
    <% elsif room.online_users_count == 0 %>
      Sala vazia
    <% else %>
      <%= room.online_users_count %>
      jogadores na sala
    <% end %>
  </span> 
</span>   

<span id="room_button_<%=room.id%>" class="bt_sala"> 
  <% if room.full? %>
    <span class="bt_lotado texthide">
      <%= link_to "", "#"%>
    </span>
  <% else %>
    <span class="bt_entrar texthide">
      <%= link_to "", room_path( room )%>
    </span>
  <% end %>
</span>
