<% content_for :head do %>
    <%= stylesheet_link_tag "FrontEnd/salas" %>
<% end %>

<% render_sidebar %>

<% cache "conteudo_principal conteudo_salas" do %>
  <div class="conteudo_principal conteudo_salas">
    <h1><%= t(:what_room_do_u_wanna_play) %></h1>

    <% for room in @rooms %>
        <ul>
          <li>
            <%= render :partial => 'room', :object => room %>
          </li>
        </ul>
    <% end %>
    
    <%= will_paginate(@rooms) %>
  </div>
<% end %>
