<% content_for :head do %>
  <%= stylesheet_link_tag "FrontEnd/salas" %>
<% end %>

<% content_for :body_bottom do %>
  <%= javascript_include_tag 'futura/front_end/tooltip_room' %>
<% end %>

<% render_sidebar %>

<% cache "room_#{ @room.id }" do %>
  <div id="conteudo_principal" class="conteudo_principal conteudo_salas" data-room-id="<%= @room.id %>">
    <h1><%= I18n.t(:Room) %>: <%= @room.name %></h1>

    <div class="instrucoes">
      <p>Escolha Normal ou Turbo para ser automaticamente encaminhado a uma nova partida com outros jogadores.</p>

      <div class="opcoes_novoJogo">
        <span class="bt_inicioRapido texthide"></span>
        <a href='<%= "/games/quick_start?d=Normal&r=#{@room.id}" %>' class="bt_jogarNormal texthide" title="Velocidade Normal"><span>Jogar Agora - Velocidade Normal</span></a>
        <a href='<%= "/games/quick_start?d=Turbo&r=#{@room.id}" %>' class="bt_jogarTurbo texthide" title="Velocidade Turbo"><span>Jogar Agora - Velocidade Turbo</span></a>
      </div>

      <p>Você também pode criar uma mesa particular para convidar seus amigos ou uma nova mesa pública.</p>

      <div class="opcoes_novoJogo">
        <img src="../../images/jogo/criar_mesa.png" width="70" height="48" alt="Criar Mesa">
        <a href="#" class="bt_mesaPublica texthide" title="Mesa Pública"><span>Mesa Pública - Aberta para todos</span></a>
        <a href="#" class="bt_mesaPrivada texthide" title="Mesa Privada"><span>Mesa Privada - Somente convidados</span></a>
      </div>

      <p>Ou entre em uma mesa pública já disponível abaixo:</p>
    </div>

    <table class="lista_mesas">
      <tr>
        <th><%= t(:game_tables) %></th>
        <th><%= t(:game_table_type) %></th>
        <th><%= t(:number_of_players) %></th>
        <th><%= t(:difficulty_level) %></th>
        <th></th>
      </tr>

      <% @games.each_with_index do |game, index| %>
        <script>
          pollServer('/rooms/get_game_info/' + <%= game.id.to_s %> + "?index=" + <%= index %>, 10000, 'game_' + <%= game.id %> + '_info');
        </script>
        <tr id='game_<%= game.id %>_info'>
          <%= render :partial => 'tool_tip', :locals => { :game => game, :index => index } %>
        </tr>
      <% end %>
    </table>

    <%= link_to "<span>I18n.t(:back_to_the_rooms_index)</span>".html_safe,
                { :controller => 'rooms', :action => 'index' },
                :class => "voltar_selecao texthide" %>

    <%= will_paginate(@games) %>
  </div>
<% end %>

<span class="jogadores_mesa" id="jogadores_mesa">
  <h5><%= I18n.t(:players_on_game_table) %></h5>

  <ul id="list_player">
    <div id='tool_tip'>

    </div>
  </ul>
</span>

<script>
  jQuery(function() {
    var room_id = jQuery('#conteudo_principal').attr('data-room-id');

    jQuery('.bt_mesaPublica').click(function() {
      createGame('Publica', room_id);
    });

    jQuery('.bt_mesaPrivada').click(function() {
      createGame('Particular', room_id);
    });
  });
</script>