<h1>New optional API</h1>

<% form_for(@optional_api) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :size => '40x3' %>
  </p>
  <p>
    <%= f.label :jsr_index %><br />
    <%= f.text_field :jsr_index %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', optional_apis_path %>
