@charset "UTF-8";
/*-----------------------------------------------------------------------------
Nano Studio - Common Stylesheet
Author: Fabricio Fernandes
e-mail: fabricio@nanostudio.com.br
-----------------------------------------------------------------------------*/

/* =General Style
-----------------------------------------------------------------------------*/
body {
    background: #353839;
    background: -moz-linear-gradient(left,  #353839 0%, #36393a 21%, #3b3f41 34%, #52595f 76%, #555d63 85%, #555d63 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#353839), color-stop(21%,#36393a), color-stop(34%,#3b3f41), color-stop(76%,#52595f), color-stop(85%,#555d63), color-stop(100%,#555d63)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #353839 0%,#36393a 21%,#3b3f41 34%,#52595f 76%,#555d63 85%,#555d63 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #353839 0%,#36393a 21%,#3b3f41 34%,#52595f 76%,#555d63 85%,#555d63 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #353839 0%,#36393a 21%,#3b3f41 34%,#52595f 76%,#555d63 85%,#555d63 100%); /* IE10+ */
    background: linear-gradient(left,  #353839 0%,#36393a 21%,#3b3f41 34%,#52595f 76%,#555d63 85%,#555d63 100%); /* W3C */
    font-family: PTSansRegular, 'PT Sans', sans-serif;
    color: #fff;
}

a { color: #fff; }

.buttonLightBlue {
    border: 1px solid #5e666a;
    padding: 3px;
    text-align: center;
    text-transform: uppercase;
    font-family: PTSansRegular, 'PT Sans';
    -moz-box-shadow: 0 0 1px 1px #070f13;
    -webkit-box-shadow: 0 0 1px 1px #070f13;
    box-shadow: 0 0 1px 1px #070f13;
    background: rgb(71,92,106); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(71,92,106,1) 0%, rgba(31,46,56,1) 76%, rgba(30,45,55,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(71,92,106,1)), color-stop(76%,rgba(31,46,56,1)), color-stop(100%,rgba(30,45,55,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(71,92,106,1) 0%,rgba(31,46,56,1) 76%,rgba(30,45,55,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(71,92,106,1) 0%,rgba(31,46,56,1) 76%,rgba(30,45,55,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(71,92,106,1) 0%,rgba(31,46,56,1) 76%,rgba(30,45,55,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(71,92,106,1) 0%,rgba(31,46,56,1) 76%,rgba(30,45,55,1) 100%); /* W3C */
}

.buttonLightBlueDisabled {
    color: #70797f;
    border: 1px solid #323638;
    -moz-box-shadow: 0 0 1px 1px #283339;
    -webkit-box-shadow: 0 0 1px 1px #283339;
    box-shadow: 0 0 1px 1px #283339;
    background: rgb(61,72,79); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(61,72,79,1) 0%, rgba(58,68,74,1) 29%, rgba(44,52,57,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(61,72,79,1)), color-stop(29%,rgba(58,68,74,1)), color-stop(100%,rgba(44,52,57,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(61,72,79,1) 0%,rgba(58,68,74,1) 29%,rgba(44,52,57,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(61,72,79,1) 0%,rgba(58,68,74,1) 29%,rgba(44,52,57,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(61,72,79,1) 0%,rgba(58,68,74,1) 29%,rgba(44,52,57,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(61,72,79,1) 0%,rgba(58,68,74,1) 29%,rgba(44,52,57,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d484f', endColorstr='#2c3439',GradientType=0 ); /* IE6-8 */
}

.buttonDarkBlue {
    border: 1px solid #000;
    padding: 0 10px;
    color: #7caeb0;
    font: 16px PTSansRegular;
    background: rgb(22,25,29); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(22,25,29,1) 0%, rgba(42,50,57,1) 70%, rgba(43,51,58,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(22,25,29,1)), color-stop(70%,rgba(42,50,57,1)), color-stop(100%,rgba(43,51,58,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(22,25,29,1) 0%,rgba(42,50,57,1) 70%,rgba(43,51,58,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(22,25,29,1) 0%,rgba(42,50,57,1) 70%,rgba(43,51,58,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(22,25,29,1) 0%,rgba(42,50,57,1) 70%,rgba(43,51,58,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(22,25,29,1) 0%,rgba(42,50,57,1) 70%,rgba(43,51,58,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16191d', endColorstr='#2b333a',GradientType=0 ); /* IE6-8 */
}

.buttonDarkBlueDisable {
    border: 1px solid #393d41;
    color: #fefefe;
    font: 1.08333333em PTSansRegular;
    background: rgb(66,73,77); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(66,73,77,1) 0%, rgba(71,78,84,1) 74%, rgba(70,77,83,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(66,73,77,1)), color-stop(74%,rgba(71,78,84,1)), color-stop(100%,rgba(70,77,83,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(66,73,77,1) 0%,rgba(71,78,84,1) 74%,rgba(70,77,83,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(66,73,77,1) 0%,rgba(71,78,84,1) 74%,rgba(70,77,83,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(66,73,77,1) 0%,rgba(71,78,84,1) 74%,rgba(70,77,83,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(66,73,77,1) 0%,rgba(71,78,84,1) 74%,rgba(70,77,83,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42494d', endColorstr='#464d53',GradientType=0 ); /* IE6-9 */
}

.oliveButton {
    background: rgb(80,87,82);
    background: -moz-linear-gradient(top,  rgba(80,87,82,1) 0%, rgba(80,87,82,1) 9%, rgba(74,81,77,1) 23%, rgba(44,51,47,1) 73%, rgba(42,49,44,1) 82%, rgba(42,49,44,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(80,87,82,1)), color-stop(9%,rgba(80,87,82,1)), color-stop(23%,rgba(74,81,77,1)), color-stop(73%,rgba(44,51,47,1)), color-stop(82%,rgba(42,49,44,1)), color-stop(100%,rgba(42,49,44,1)));
    background: -webkit-linear-gradient(top,  rgba(80,87,82,1) 0%,rgba(80,87,82,1) 9%,rgba(74,81,77,1) 23%,rgba(44,51,47,1) 73%,rgba(42,49,44,1) 82%,rgba(42,49,44,1) 100%);
    background: -o-linear-gradient(top,  rgba(80,87,82,1) 0%,rgba(80,87,82,1) 9%,rgba(74,81,77,1) 23%,rgba(44,51,47,1) 73%,rgba(42,49,44,1) 82%,rgba(42,49,44,1) 100%);
    background: -ms-linear-gradient(top,  rgba(80,87,82,1) 0%,rgba(80,87,82,1) 9%,rgba(74,81,77,1) 23%,rgba(44,51,47,1) 73%,rgba(42,49,44,1) 82%,rgba(42,49,44,1) 100%);
    background: linear-gradient(top,  rgba(80,87,82,1) 0%,rgba(80,87,82,1) 9%,rgba(74,81,77,1) 23%,rgba(44,51,47,1) 73%,rgba(42,49,44,1) 82%,rgba(42,49,44,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#505752', endColorstr='#2a312c',GradientType=0 );
    border: 1px outset #6c7269;
}

.pageWrapper { width: 100%; }

/* =Header
-----------------------------------------------------------------------------*/
header {
    position: relative;
    background: url(/assets/padrao_pedras.jpg) center bottom repeat-x #000;
    height: 70px;
    padding: 0 3.125%;   /* = 10px of 320 */
}

header .fitLeft {
    margin-top: 2em;
}

.headerButton {
    background: url(/assets/bordaBotaoMenuL.png) left top no-repeat,
                url(/assets/bordaBotaoMenuR.png) right top no-repeat;
    display: inline;
    padding: 12px 3px 10px 3px;
    margin-left: 10px;
}

.headerButton a {
    background: url(/assets/botaoMenuDegadeL.png) left top no-repeat,
                url(/assets/botaoMenuDegadeR.png) right top no-repeat,
                url(/assets/botaoMenuDegadeMeio.png) repeat-x #000;
    -webkit-box-shadow: 0 8px 15px -2px #000;
    -moz-box-shadow: 0 8px 15px -2px #000;
    box-shadow: 0 8px 15px -2px #000;
    padding: 9px 13px 10px;
}

#startButton span {
    background: url(/assets/setaAmarelaL.png) 2px 5px no-repeat;
    padding-left: 12px;
}

#buyButton span {
    background: url(/assets/setaAmarelaDown.png) right 7px no-repeat;
    padding-left: 0;
    padding-right: 12px;
}

header h1 {
    position: absolute;
    top: 16px;
    left: 50%;
    font: 20px JuraDemiBold, 'Jura', sans-serif;
    display: inline;
}

header .fitRight a {
    display: inline-block;
    margin: 1.5em 0 0 10px;
}

header nav {
    position: absolute;
    width: 93.75%;  /* = 300px of 320px */
    top: 40px;
    border-top: 1px solid #6d7d7d;
    border-bottom: 1px solid #6d7d7d;
    background-color: rgba(5, 7, 7, 0.9);
    z-index: 9;
    visibility: hidden;
}

header nav div{
    overflow: hidden;
    height: 0px;
}

header nav ul, #searchContent form {
    padding: 13px 7.142857% 20px 3.57142857%;     /* = 13px 20px 20px 10px of 280px */
}

header nav ul li a,
header #searchContent button {
    background: rgb(107,114,106); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(107,114,106,1) 0%, rgba(80,87,79,1) 3%, rgba(77,84,77,1) 7%, rgba(79,86,79,1) 10%, rgba(75,81,77,1) 14%, rgba(76,82,78,1) 17%, rgba(47,53,49,1) 72%, rgba(43,49,45,1) 86%, rgba(43,49,45,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(107,114,106,1)), color-stop(3%,rgba(80,87,79,1)), color-stop(7%,rgba(77,84,77,1)), color-stop(10%,rgba(79,86,79,1)), color-stop(14%,rgba(75,81,77,1)), color-stop(17%,rgba(76,82,78,1)), color-stop(72%,rgba(47,53,49,1)), color-stop(86%,rgba(43,49,45,1)), color-stop(100%,rgba(43,49,45,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(107,114,106,1) 0%,rgba(80,87,79,1) 3%,rgba(77,84,77,1) 7%,rgba(79,86,79,1) 10%,rgba(75,81,77,1) 14%,rgba(76,82,78,1) 17%,rgba(47,53,49,1) 72%,rgba(43,49,45,1) 86%,rgba(43,49,45,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(107,114,106,1) 0%,rgba(80,87,79,1) 3%,rgba(77,84,77,1) 7%,rgba(79,86,79,1) 10%,rgba(75,81,77,1) 14%,rgba(76,82,78,1) 17%,rgba(47,53,49,1) 72%,rgba(43,49,45,1) 86%,rgba(43,49,45,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(107,114,106,1) 0%,rgba(80,87,79,1) 3%,rgba(77,84,77,1) 7%,rgba(79,86,79,1) 10%,rgba(75,81,77,1) 14%,rgba(76,82,78,1) 17%,rgba(47,53,49,1) 72%,rgba(43,49,45,1) 86%,rgba(43,49,45,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(107,114,106,1) 0%,rgba(80,87,79,1) 3%,rgba(77,84,77,1) 7%,rgba(79,86,79,1) 10%,rgba(75,81,77,1) 14%,rgba(76,82,78,1) 17%,rgba(47,53,49,1) 72%,rgba(43,49,45,1) 86%,rgba(43,49,45,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b726a', endColorstr='#2b312d',GradientType=0 ); /* IE6-8 */
    border: none;
    font-size: 0.91666em; /* = 11px of 12px */
    padding: 0.6666em 0.7em;
}

header .walletButton {
  margin: 5px 0 0 8px;
  padding: 0 3px 3px 0;
  float: right;
}

header .walletButton a {
  margin-top: 6px;
  padding: 5px 7px 3px 7px;
}

/* =Nav Header search field */
header nav form label {
    display: block;
    color: #acbeb5;
    margin-bottom: 4px;
    font-size: 1em;
    font-weight: bold;
}

header nav form input#search_box {
    background-color: #d6e4de;
    border: none;
    padding: 6px;
    font-size: 1em;
    width: 68%;     /* = 172px of 252px */
}

header nav form button {
    text-transform: uppercase;
    margin-left: 10px;
}

/* =Nav Header buy button list  */
header nav ul li {
    float: left;
    margin: 0 15px 15px 0;
}

header nav ul li a {
    display: block;
}

/* =Page content
-----------------------------------------------------------------------------*/
.pageContent{
    background: url(/assets/spot_with_top_shadow.png) left top repeat-x,
                url(/assets/padrao_display.jpg) repeat;
    min-height: 609px;
}

.mainContent {
    background-color: transparent;
    max-width: 1024px;
    margin: 0 auto;
}


/* =Left content box
-----------------------------------------------------------------------------*/
.contentSelection {
    float: left;
    display: block;
    width: 25.6%;   /* = 262px of 1024px */
    padding: 26px 0 15px 0;
}

.contentSelection ul {
    border: 1px solid #535c5e;
    padding: 15px 0;
    background: url(/assets/land-bg-opcoes.png) repeat;
    max-width: 195px;
    margin: 0 auto;
}

.contentSelection ul li a {
    display: block;
    padding: 8px 10px 8px 22px;
    font: 12px PTSansRegular, 'PT Sans';
    text-transform: uppercase;
    text-align: left;
}

.creditInfo {
    background-color: #2d2f2e;
    font: 1.0833333333333333333333333333333em PTSansNarrowRegular, "PT Sans Narrow";
    color: #bfdde4;
    margin: 25px auto 0;
    width: 190px;
    text-shadow: 0px 2px 2px #000;
    border: 4px ridge #676767;
    -moz-box-shadow: 0 0 1px 1px #555;
    -webkit-box-shadow: 0 0 1px 1px #555;
    box-shadow: 0 0 1px 1px #555;
}

.moneyBox { padding: 20px 10px 15px; }

.moneyBox p { font: 1.3333333333333333333333333333333em JuraDemiBold; }

.moneyBox img {
    float: left;
    margin-right: 5px;
}

.yourMoney {
    color: #fff;
    clear: right;
    margin-top: 8px;
}

.moneyBox p span {
    display: inline;
    color: #fff;
    padding-left: 6px;
}

.moneyBox a.oliveButton {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #d3e0e5;
    font-size: 14px;
    margin: 24px auto 0;
    padding: 7px 15px;
    border: 1px solid #6c7269;
    -moz-box-shadow: 0 0 1px 1px #070f13;
    -webkit-box-shadow: 0 0 1px 1px #070f13;
    box-shadow: 0 0 1px 1px #070f13;
    display: table;
    clear: both;
}

.transaction {
    border-top: 0.22em groove #353736;
    padding: 10px 10px;
    text-transform: uppercase;
}

.transaction p {
    color: #d3e0e5;
    font-size: 16px;
}

.transaction p.infoTransaction {
    background-color: #1c1e1d;
    color: #8e8e8e;
    border: 1px solid #141514;
    font-size: 13px;
    text-indent: 5px;
    text-transform: uppercase;
}

.transaction a {
    text-transform: capitalize;
    text-decoration: underline;
    text-align: right;
    text-shadow: none;
    font-size: 1em;
    color: #7ca1ba;
    margin-top: 4px;
    display: block;
}


/* =Right page content
-----------------------------------------------------------------------------*/
.wrapperContent {
    width: 74.2%; /* = 762px of 1024 */
    border-left: 0.24em groove #787a7c;
    float: right;
}

.titleArea {
    padding: 0 6.25% 10px;  /* = 20px of 320px -> width:280px */
}

.titleArea h2 {
    padding: 16px 0 6px;
    font-size: 1.4em;
    font-family: JuraDemibold, Jura, sans-serif;
    font-weight: bold;
    color: #fff;
}

/* =Products List     (available for home and product list)
-----------------------------------------------------------------------------*/
.productsList ul.catalog li {
    /* brightness bottom */
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 60%, rgba(255,255,255,0.15) 100%), #35383A url(/assets/listras_li_v.png) repeat; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(60%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.15))), #35383A url(/assets/listras_li_v.png) repeat; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 60%,rgba(255,255,255,0.15) 100%), #35383A url(/assets/listras_li_v.png) repeat; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 60%,rgba(255,255,255,0.15) 100%), #35383A url(/assets/listras_li_v.png) repeat; /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 60%,rgba(255,255,255,0.15) 100%), #35383A url(/assets/listras_li_v.png) repeat; /* IE10+ */
    background: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 60%,rgba(255,255,255,0.15) 100%), #35383A url(/assets/listras_li_v.png) repeat; /* W3C */

    border: 1px solid;
    border-top-color: #0d0e0f;
    border-bottom-color: #616263;
    border-left-color: #616263;
    border-right-color: #0d0e0f;
    float: left;
}

.productsList ul.catalog li .imgWrapper {
    position: relative;
    min-width: 28.571428%;  /* = 80px of 280 */
    min-height: 80px;
    float: left;
    background-color: #c0c3c5;
    text-align: center;
    overflow: hidden;
    margin-bottom: 5px;
}

.productsList ul.catalog li .stripeSale {
    position: absolute;
    bottom: 1px;
    left: 0;
    background: url(/assets/bg_selo.png) #660000 repeat;
    font-size: 0.916em;  /* = 11px of 12px */
    line-height: 2em;
    text-align: center;
    width: 88.4%;  /* = 70px of 80px */
    padding: 0 6.25%;   /* = 5px of 70px */
}

.productsList ul.catalog li .price {
    font-weight: bold;
    font-size: 1em;
    text-shadow: 2px 2px 2px #000;
}

.productsList ul.catalog li .price span {
    display: block;
    text-decoration: line-through;
    font-weight: normal;
    text-shadow: none;
    color: #b8bec0;
    margin-right: 1.785714%;   /* = 5px of 280px */
}

.productsList ul.catalog li .productInfo > p:first-child {
    font-size: 1.083em;
    text-transform: uppercase;
}

.productsList ul.catalog li .productInfo a {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    padding: 5px 20px;
}

.productsList ul.catalog li:before,
.productsList ul.catalog li:after {
    content:"";
    display:table;
}

.productsList ul.catalog li:after { clear:both; }
