@charset "UTF-8";
/*-----------------------------------------------------------------------------
Nano Studio - Producs List Stylesheet
Author: Fabricio Fernandes
e-mail: fabricio@nanostudio.com.br
-----------------------------------------------------------------------------*/

.titleArea {
    background-color: #44494d;
    color: #bfdde4;
    padding: 20px 0 20px 20px;
    border: 1px solid #a4a6a8;
    border-top: none;
    -moz-box-shadow:    inset 0 15px 15px -8px rgba(0, 0, 0, 0.5),
                        inset 0 15px 15px -8px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 15px 15px -8px rgba(0, 0, 0, 0.5),
                        inset 0 15px 15px -8px rgba(0, 0, 0, 0.5);
    box-shadow:         inset 0 15px 15px -8px rgba(0, 0, 0, 0.5),
                        inset 0 15px 15px -8px rgba(0, 0, 0, 0.5);
}

.titleArea h2 {
    display: none;
}

.titleArea form label {
    margin-right: 8px;
}

.weaponFeature {
    padding: 1.25em 30px;  /* = 30px of 1024px */
    width: 92%;
}
 
.productsList ul.catalog li .productInfo > p:first-child {
    padding-bottom: 5px;
}

.productsList ul.catalog li {
    padding: 12px 20px;
    width: 19.4%;   /* 190px of 762px */
}

.productsList ul.catalog li .price {
    position: absolute;
    bottom: 32px;
    left: 0px;
}

.productInfo {
    height: 265px;
    position: relative;
}

.showMore {
    background: #44494d;
    padding: 15px;
    overflow: hidden;
}
.showMore .pagination { float: right; }
.showMore .pagination a {
    background-color: #34393d;
    border: 1px solid #24272a;
    padding: 2px 7px;
    margin-right: 10px;
    font-weight: bold;
    color: #D3E3E8;
}

.showMore .pagination .previous_page {
    background: url(/assets/arrowLeftShowMore.png) center no-repeat;
    border: none;
    padding: 2px 7px;
    color: #24272A;
}

.showMore .pagination a:hover {
    color: #1A1C1E;
    background: #677078;
    border: 1px solid #1A1C1E;
}

.showMore .pagination .previous_page:hover {
    background: url(/assets/arrowLeftShowMore.png) center no-repeat;
    border: none;
    color: #24272A;
}

.showMore .pagination em.current {
    color: #24272A;
    background-color: #90989E;
    border: 1px solid #24272A;
    padding: 2px 7px;
    margin-right: 10px;
    font-weight: bold;
}

.showMore .pagination span.next_page, 
.showMore .pagination span.disabled {
    padding: 2px 7px;
    background: url(/assets/arrowRightShowMore.png) center no-repeat;
    color: #24272A;
}