<% url_opts = action_name == 'edit' ? {:url => admin_page_path(@page.id)} : {} %>
<%= form_for [:admin, @page], url_opts, :html => {:multipart => true} do |f| %>

  <%= render :partial => "/shared/admin/error_messages",
             :locals => {
               :object => @page,
               :include_object_name => true
             } %>

  <%= render :partial => "locale_picker",
             :locals => {
               :current_locale => Thread.current[:globalize_locale]
             } if ::Refinery.i18n_enabled? %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "larger widest" %>
  </div>

  <%= f.label 'Icon Image' %>
  <%= image_tag @page.icon_image.url if @page.icon_image_uid %>
  <br />
  <%= f.file_field :icon_image %>

  <br />

  <%= f.label 'Body Image' %>
  <%= image_tag @page.body_image.url if @page.body_image_uid %>
  <br />
  <%= f.file_field :body_image %>

  <br />
  
  <% if @page.parent %>
    <%= f.label 'Parent Page Part to place' %>
    <%= select_tag "page[page_part_id]", options_for_select(@page.parent.parts.collect {|p| [p.title, p.id]}, :selected => @page.page_part_id) %>
  <% end %>

  <div class="field">
    <%= f.label 'Short Frase' %>
    <%= f.text_area :short_frase, :rows => 3, :class => "larger widest" %>
  </div>

  <div class="field">
    <%= f.label :resume %>
    <%= f.text_area :resume, :class => "wymeditor widest" %>
  </div>

  <%= render :partial => "form_fields_after_title",
             :locals => { :f => f } %>

  <div class='field'>
    <%= render :partial => "form_page_parts",
               :locals => {
                 :f => f
               } %>
  </div>

  <div class="field">
    <%= f.label :tags %>
    <%= f.text_field :category_list, :class => "larger widest" %>
  </div>

  <%= render :partial => "form_advanced_options",
             :locals => {
                :f => f
              } %>

  <%= render :partial => "/shared/admin/form_actions",
             :locals => {
               :f => f,
               :continue_editing => true,
               :delete_title => t('delete', :scope => 'admin.pages'),
               :delete_confirmation => t('message', :scope => 'shared.admin.delete', :title => @page.title)
             } %>

  <%= render :partial => "form_new_page_parts",
             :locals => {
               :f => f
             } if RefinerySetting.find_or_set(:new_page_parts, false) %>
<% end %>

<% content_for :javascripts do %>
  <script>
    $(document).ready(function(){
      page_options.init(
        <%= RefinerySetting.find_or_set(:new_page_parts, false).to_s %>
        , "<%= new_admin_page_part_path %>"
        , "<%= admin_page_parts_path %>"
      );
    });
  </script>
<% end %>
