<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Clube Desafio Futura - Admin</title>
    <%= stylesheet_link_tag "Base", "Grid", "Conteudo"%>
    <%= javascript_include_tag :defaults, 'jquery-1.4.2.min' %>
    <link rel="shortcut icon" href="/favicon.ico" />
    <%= csrf_meta_tag %>
    <%#TODO: create a js file for these lines below%>
    <script>
      jQuery('.Menu').ready(function(){
        var session_menu = '<%= params[:controller]%>'.split('/')[1];
        if(session_menu == 'suggested_questions'){
          jQuery('#questions').css('display', 'block');
        }
        else{
          jQuery('#' + session_menu).css('display', 'block');
        }
      });

      function slideChildren( children_id ){
        var children = jQuery("#" + children_id);
        if(jQuery(children).css("display") != "none"){
          children.slideUp('slow')
        }
        else{
          children.slideDown('slow')
        }
      }


      function get_level( theme ){
        var i;
        var level;
        for(i in theme.split(">")){}
        i++;
        if (i >= 4){
          level = "4";
        }
        else{
          level = i.toString();
        }
        return level;
      }
      
      function delete_theme(){
        var f = document.createElement('form');
        f.style.display = 'none';
        this.parentNode.appendChild(f);f.method = 'POST';
        f.action = this.href;
        var m = document.createElement('input');
        m.setAttribute('type', 'hidden');
        m.setAttribute('name', '_method');
        m.setAttribute('value', 'delete');
        f.appendChild(m);
        f.submit();
      }

      function hide_all_childrens( id ){
        jQuery("#children_" + id ).attr("class", "hide");
        jQuery("#more_" + id).text("(<%=I18n.t( :show_sub_theme )%>)");
        jQuery(".parent_" + id ).each(function(){

          jQuery(this).css('display', 'none');
          hide_all_childrens(jQuery(this).attr("id").split("_")[1]);
        });
      }

      function get_childrens( id ) {$
        var parent = jQuery("#theme_" + id );
        if(jQuery("#children_" + id ).attr("class") == "show"){
          hide_all_childrens(id);

        }
        else if(jQuery("#children_" + id ).attr("class") == "hide"){
          jQuery("#children_" + id ).attr("class", "show");
          jQuery(".parent_" + id ).each(function(){
            jQuery(this).css('display', 'table-row');

          });
          jQuery("#more_" + id).text("(<%=I18n.t( :hide_sub_theme )%>)");

        }
        else{$
          jQuery.ajax({
            url: '/admin/themes/get_childrens',
            dataType: 'json',
            data: "theme_id=" + id,
            async: false,
            success: function(children){

              for(var index in children ){

                parent.after('<tr id="theme_'+ children[index].theme.id + '" class="parent_' + id + '" style="display: none;"></tr>');
                var td=[];
                var tr = jQuery('#theme_'+ children[index].theme.id);
                var sub_theme;
                if( children[index].theme.descendants_count != 0 ){
                  sub_theme = "<a href='#' id='more_"+ children[index].theme.id +"' class='linkVisualizar' onclick='get_childrens("+ children[index].theme.id + ")'>(<%=I18n.t( :show_sub_theme )%>)</a>";
                }
                else{
                  sub_theme='';
                }
                tr.append('<td class="nivel_0'+ get_level(children[index].theme.name_with_level) +'">' +  children[index].theme.name + " " + sub_theme + '</td>');
                tr.append('<td class="linkColumn"><a href="/admin/themes/' + children[index].theme.id +'/edit"><%= image_tag '/images/admin/page_white_edit.png'%></a></td>');
                tr.append('<td class="linkColumn"><a onclick="if(confirm(\'<%=I18n.t(:are_you_sure)%>\')){delete_theme();};return false" href="/admin/themes/destroy/' + children[index].theme.id +'"><%= image_tag '/images/admin/delete.png'%></a> </td>');
                jQuery("#theme_" + children[index].theme.id).css("display", "table-row");
              }
              parent.append("<td id='children_" + id +"' class='show' style='display: none;'></td>");
              jQuery("#more_" + id).text("(<%=I18n.t( :hide_sub_theme )%>)");
            }
          });
        }
      }
    </script>
  </head>
  <body>

    <div id="maincontainer" class="desktopFull">
      <!--XXX INICIO TOPO XXX-->
      <div class="divTopo1">
        <div class="imgLogo">
          <span>Futura CDF- Content Management</span>
        </div>
        <% if current_admin %>
        <div id="Saudacao">
          Olá <span style="font-weight:bold;"><%= current_admin.email %></span>,
          seja bem-vindo(a).
          (	
          <%= link_to(I18n.t( :data_mine ), {:controller=>"admin/admins", :action=>"edit", :id => current_admin.id })%>)
        </div>
        <% end %>
      </div>
      <div class="divTopo2">
        <div class="LogoffHome">
          <%= link_to("x Logoff", destroy_admin_session_path, :class=>'btLogoff')%>
          <a href="#" class="btHome">Home &raquo;</a>
        </div>
        <div class="NomeArea">
          <%= controller.controller_name %>
        </div>
      </div>
      <!--XXX FIM TOPO XXX-->
      <div class="divCentral">
        <!--XXX MENU - COLOCAR EM INCLUDE XXX-->
        <div class="Menu">
          <a class="expandable" onclick="slideChildren('questions');"><%=I18n.t(:questions)%></a>
          <ul class="categoryitems" id="questions">
            <li><%=link_to("#{I18n.t(:list)} #{I18n.t(:questions)}", admin_questions_path) %></li>
            <li><%=link_to("#{I18n.t(:new_a)} #{I18n.t(:question)}", new_admin_question_path) %></li>
            <li><%=link_to("#{I18n.t(:import)} #{I18n.t(:questions)}", {:controller=>"questions", :action=>"import_csv"}) %></li>
            <li><%=link_to(t('.suggested_questions_list'), admin_suggested_questions_path) %></li>
            <li>
              <%= link_to("#{enable_or_disable} Sugestão de perguntas", 
                           {:controller => "admin/suggested_questions", :action => "toggle_suggest_question"}) %>
            </li>
          </ul>
          <a class="expandable" onclick="slideChildren('themes');"><%=I18n.t(:themes)%></a>
          <ul class="categoryitems" id="themes">
            <li><%=link_to("#{I18n.t(:list)} #{I18n.t(:themes)}", admin_themes_path) %></li>
            <li><%=link_to("#{I18n.t(:new)} #{I18n.t(:theme)}", new_admin_theme_path) %></li>
          </ul>
          <a class="expandable" onclick="slideChildren('rooms');">Salas</a>
          <ul class="categoryitems" id="rooms">
            <li><%=link_to("#{I18n.t(:list)} salas", admin_rooms_path) %></li>
            <li><%=link_to("#{I18n.t(:new_a)} #{I18n.t(:room)}", new_admin_room_path) %></li>
          </ul>
          <a class="expandable" onclick="slideChildren('news');">Noticias</a>
          <ul class="categoryitems" id="news">
            <li><%=link_to("Nova Notícia", :controller => "admin/news", :action => :new ) %></li>
            <li><%=link_to("Notícias Ativas", admin_news_index_path(:active=>'true')) %></li>
            <li><%=link_to("Notícias Inativas", admin_news_index_path(:active=>'false')) %></li>
          </ul>
          <a class="expandable" onclick="slideChildren('polls');">Enquetes</a>
          <ul class="categoryitems" id="polls">
            <li><%=link_to("Lista de Enquetes", admin_polls_path) %></li>
            <li><%=link_to("Nova Enquete", new_admin_poll_path) %></li>
          </ul>  
          <a class="expandable" onclick="slideChildren('notifications');">Notificações</a>
          <ul class="categoryitems" id="notifications">
            <li><%=link_to("Nova Notificação", new_admin_notification_path) %></li>
            <li><%=link_to("Notificações Ativas", admin_notifications_path(:active=>'true')) %></li>
            <li><%=link_to("Notificações Inativas", admin_notifications_path(:active=>'false')) %></li>  
          </ul>   
          <a class="expandable" onclick="slideChildren('users');">Jogadores</a>
          <ul class="categoryitems" id="users">
            <li><%=link_to("#{I18n.t(:list)} jogadores", admin_users_path) %></li>
            <li><%=link_to("#{t(:mailing)}", mailing_admin_users_path) %></li>
            <li><%=link_to("Configurações de usuários", config_users_admin_users_path) %></li>              
          </ul>
          <a class="expandable" onclick="slideChildren('admins');"><%=I18n.t(:admins)%></a>
          <ul class="categoryitems" id="admins">
            <li><%=link_to("#{I18n.t(:list)} #{I18n.t(:admins)}", admin_admins_path) %></li>
          </ul>
        </div>
        <!--XXX FIM MENU XXX-->
        <%=yield%>
      </div>
    </div>
  </body>
</html>
