<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Clube Desafio Futura</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <link rel="shortcut icon" href="/favicon.ico"/>

  <%= stylesheet_link_tag 'FrontEnd/comum', 'FrontEnd/popup' %>
  <script language="javascript" type="text/javascript" src="/javascripts/prototype.js"></script>
  <script language="javascript" type="text/javascript" src="/javascripts/lightbox.js"></script>
  <script language="javascript" type="text/javascript" src="/javascripts/futura/front_end/modal.js"></script>
  <%= javascript_include_tag :defaults, "http://#{request.host}:9292/faye.js" %>

  <%= csrf_meta_tag %>

  <%= yield :head %>
</head>

<body>
<div id="geral">
  <div id="site" class="clearfix">
    <div id="cabecalho">
      <div class="barra_topo">
        <div class="breadcrumb"><%#= bread_crumb %></div>
        <%= link_to(content_tag(:span, 'x') + t(:get_out), destroy_user_session_path, :class=>"link_logoff") unless logged_in_facebook? %>
      </div>

      <a href="<%= logged_user ? "/rooms" : home_futura_url %>"><img src="/images/comum/logo_CDF.jpg" alt="Clube Desafio Futura" class="logo"></a>

      <div class="full_banner texthide">
        <a href="/pages/regulamento_ipad" target="_blank">
          <img src="/images/comum/full_banner.gif" width="468" height="60" alt="Full Banner">
        </a>

        <span>Publicidade</span>
      </div>

      <%= render :partial => logged_user.present? ? 'shared/header_profile' : 'shared/header_login' %>

      <img src="/images/comum/logo_Futura.png" width="54" height="54" alt="Futura" class="logo_futura">
    </div>

    <%= yield :sidebar %>
    <%= render :partial => 'shared/messages' %>
    <%= yield %>

  </div>
  <%= render :partial => 'shared/footer' %>
</div>

<script>
  <% if session[:login_error_message] or params[:pop] == 'login' %>
  errorModal('login_modal', '/users/sign_in');
  <% elsif session[:password_error_message] or params[:pop] == 'password' %>
  errorModal('password_modal', '/users/password/new');
  <% elsif params[:pop] == 'admin' %>
  errorModal('password_modal', '/admins/sign_in');
  <% elsif session[:confirmed_error_message] or session[:confirmed_message] %>
  errorModal('login_modal', '/users/confirmation');
  <% end %>
</script>

<%= yield :body_bottom %>

<script>
  Cufon.now();
</script>
</body>
</html>
