<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Clube Desafio Futura</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
  <%= stylesheet_link_tag 'FrontEnd/comum', 'FrontEnd/popup'%>
  <%= javascript_include_tag :defaults, 'cropper'%>
</head>
<body class="envio_imagem">
  <%= yield %>
</body>
</html>
                                
