<%= error_messages_for :translation %>

<%= form_for @translation, :url => {:action => :add_translation} do |f| %>
    <%= f.hidden_field :news_feed_category_id %>

    <p> <%= f.label :language, "Language" + ":" %></p>
    <p> <%= f.collection_select(:language_id,
                                @languages,
                                :id,
                                :name,
                                :prompt => "Select a language") %></p>

    <p> <%= f.label :title, "Title" + ":" %></p>
    <p> <%= f.text_field :title %></p>

    <p> <%= f.label :description, "Description" + ":" %></p>
    <p> <%= f.text_field :description %></p>

    <p>
        <%= f.submit "Create" %>
    </p>
<% end %>

