<% @title = "Editing news feed category #{ @news_feed_category.title }" %>

<%= form_for(@news_feed_category) do |f| %>
  <%= f.error_messages %>

  <table class="form">
    <tr>
      <td class="text">
        <%= f.label :title %>
      </td>
      <td>
        <%= f.text_field :title %>
      </td>
    </tr>
    <tr>
      <td class="text">
        <%= f.label :description %>
      </td>
      <td>
        <%= f.text_area :description, :rows => 8 %>
      </td>
    </tr>
    <tr>
      <td class="text">
        <%= f.label :public, "Visibility" %>
      </td>
      <td>
        <%= f.collection_select :public, {"Public" => "true", "Not Public" => "false"}, "last", "first", :prompt => "Select Visibility" %>
      </td>
    </tr>
    <tr>
      <td class="submit" colspan="2">
        <%= f.submit "Update" %>
      </td>
    </tr>
  </table>
<% end %>

<%= link_to 'Back', news_feed_categories_path %>
