<div>
  <table id="table" width="900" border="1">
    <thead>
      <tr>
        <th><%= "Id" %></th>
        <th><%= "Title" %></th>
        <th><%= "Description" %></th>
        <th><%= "Visibility" %></th>
        <th><%= "App Versions" %></th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% for news_feed_category in @news_feed_categories%>
        <tr valign="top" class="<%=cycle('list-line-odd', 'list-line-even' ) %>" >

          <td class="list-title" ><%=h news_feed_category.id %></td>
          <td class="list-title" ><%=h news_feed_category.title %></td>
          <td class="list-title" ><%=h news_feed_category.description %></td>
          <td class="list-title" ><%= news_feed_category.public ? "Public" : "Not Public" %></td>
          <td class="list-title">
            <% v = '' -%>
            <% for app_version in news_feed_category.app_versions -%>
              <% if v == '' -%>
                <%= "#{app_version.app.name} - #{app_version.number}" -%>
                <% v = app_version.app.name -%>
              <% else -%>
                <% if v == app_version.app.name -%>
                  <%= " - #{app_version.number}" -%>
                <% else -%>
                  <br />
                  <%= "#{app_version.app.name} - #{app_version.number}" -%>
                  <% v = app_version.app.name -%>
                <% end -%>
              <% end -%>

            <% end -%>
          </td>

          <td class="list-actions" ><%= link_to 'Show', :action => :show, :id => news_feed_category.id %></td>
          <td class="list-actions" ><%= link_to 'Edit', :controller => :news_feed_categories, :action => :edit, :id => news_feed_category.id %></td>
          <td class="list-actions" ><%= link_to 'Destroy', news_feed_category, :confirm => "Remove news feed category #{news_feed_category.title}?", :method => :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br />
</div>

<br />
<%= paginate @news_feed_categories %>
<%= link_to 'Add news feed category', new_news_feed_category_path %>