<%= error_messages_for :news_feed_category %>

<%= form_for @news_feed_category do |f| -%>
  <table cellpadding="5" cellspacing="0" >
      <tr>
        <th><%= "Id" %></th>
        <th><%= "Title" %></th>
        <th><%= "Description" %></th>
        <th><%= "Language" %></th>
      </tr>
      <%= render :partial => "category_translation_detail", :object => @news_feed_category.translations %>
  </table>

  <p> <%= link_to "Add Translation", :action => :add_translation, :id => @news_feed_category.id %></p>
  <p> <%= link_to "Back", :action => :index %></p>
<% end %>