<div class="news_feed_detail">
	<div class="details">
		<div class="title">
			<div class="name"> <%=h news_feed_details.category_title %> </div>
			<div class="category"> <%=h news_feed_details.category_title %>	</div>
		</div>
		<div class="description"> <%=h news_feed_details.content %> </div>
		<div class="more_info">
			<div class="date"> Date	</div>
			<div class="translations"> Translations	</div>
		</div>
	</div>
	<div class="options">
		<div>Edit</div>
		<div>Delete</div>
		<div>Add Translation</div>
	</div>
</div>