<% form_for(@news_feed) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :news_feed_category_id %><br />
    <%=
	  f.collection_select(  :news_feed_category_id,
                                @news_feed_categories,
                                :id,
                                :title,
                                :prompt => 'Select a news feed category' )
    %>
  </p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', :action => "show" %>
