<div>
	<table cellpading="0" border="0" cellspacing="2" >
	<tr class="list-title"><%=  %>
		<th><%= "Id".t %></th>
	  	<th><%= "Title".t %></th>
	  	<th><%= "Description".t %></th>
	  	<th><%= "Category".t %></th>
	  	<th><%= "Language".t %></th>
	  	<th><%= "Transl.".t %></th>
	</tr>
	
	<% if !@news_feeds.blank? %>
	  <% for feed in @news_feeds %>
		<tr valign="top" class="<%=cycle('list-line-odd', 'list-line-even') %>" >
			<td class="list-title" ><%=h feed.id %></td>
			<td class="list-title" ><%=h feed.title %></td>
			<td class="list-title" ><%=h feed.content %></td>
			<td class="list-title" ><%=h feed.category %></td>
			<td class="list-title" ><%=h feed.language %></td>
			<td class="list-title" ><%=h feed.translation_number %></td>
			
	        <td class="list-actions" ><%= link_to "Show".t, :action => :show, :id => feed.id %></td>
			
			<% if ( session_user.is_admin? ) %>
	        <td class="list-actions" ><%= link_to "Add Translation".t, :action => :add_translation, :id => feed.id %></td>
                <td class="list-actions" ><%= link_to 'Destroy'.t, feed, :confirm => "Remove news_feed \##{feed.id}?", :method => :delete %></td>
	      <% end %>
		</tr>
	  <% end %>
	<% end %>
	</table>
	<br/>
</div>

<%= if ( session_user.is_admin? ) then link_to 'Add news feed'.t, :action => :new end %>