<%= error_messages_for :news_feed %>
<%= error_messages_for :translation %>

<% form_tag :controller => :news_feeds, :action => "create" do -%>						
  <p><%= label :news_feed, "Category".t %><br/>
  <%= collection_select(:news_feed,
                        :news_feed_category_id,
                        @news_feed_categories,
                        :id,
                        :title,
                        :prompt => 'Select a news feed category'.t) %></p>

  <p><%= label :translation, "Language".t %><br/>
  <%= collection_select(:translation,
                        :language_id,
                        @languages,
                        :id,
                        :name,
                        :prompt => "Select a language".t) %></p>

  <p><%= label :translation, "Title".t %><br/>
  <%= text_field :translation, :title %></p>

  <p><%= label :translation, "Content".t %><br/>
  <%= text_area :translation, :content %></p>

  <div><%= submit_tag 'Save'.t %></div>
<% end -%><br/>

<%= link_to "Back".t, :action => "index" %>