<% # coding: utf-8 %>
<div>
	<%= form_tag "apple_downloads", :method => :get do %>
		<table class="form">
			<tr>
				<td class="text"><%= label_tag :begin, "De: " %></td>
				<td><%= date_select "start", "date", :default => @initial || 30.days.ago %></td>
				<td class="text"><%= label_tag :end, "Até: " %></td>
				<td><%= date_select "finish", "date", :default => @final || Date.today %><br/></td>
			</tr>
			<tr>
				<td class="text"><%= label_tag :country, "Country: " %></td>
				<td><%= select_tag "countries[]", options_for_select(@countries.map {|c| [c.name.capitalize, c.id]}), { :multiple => true, :size =>8} %></td>
				<td class="text"><%= label_tag :app, "App: " %></td>
				<td><%= select_tag "apps[]", options_for_select(@apps.map {|c| [c.name.capitalize, c.id]}), { :multiple => true, :size =>8} %></td>
			</tr>
			<tr>
				<td class="submit" colspan="4">
					<%= submit_tag "Submit" %>
					<%= link_to "(clear)", :action => "index" %>
				</td>
			</tr>
		</table>

	<% end -%>
</div>

<% if current_user.user_role.name == "Administrator" %>
	<p>
		<div class="table_form">
			<%= form_tag({:action => :create}	, {:multipart => true}) do %>
				<%= label_tag :file, "Select a file to upload: " %>
				<%= file_field_tag :file, :accept => 'text/txt', :value => "Select file" %>

				<%= submit_tag "Upload"%>
			<% end -%>
		</div>
	</p>
<% end %>
<br />

<div>
	<% unless @apple_downloads.blank? %>
		<div>
			<table id="table" border="1">
				<thead>
					<tr class="list-title">
						<th>Date</th>
				    <th id="app">App</th>
						<th>Country</th>
						<th>Category</th>
						<th>Units</th>
						<th>Price</th>
						<th>Total</th>
				  </tr>
				</thead>

				<tbody>
			  <% for download in @apple_downloads %>
					<tr valign="top"%>
						<td id="date"><%= download.begin_date.blank? ? "" : download.begin_date.strftime("%d/%m/%Y")%></td>
		   			<td><%=h download.app.name %></td>
						<td id="country"><%=h download.country.name.capitalize %></td>
						<td><%=h download.apple_product_category.category %></td>
						<td><%=h download.units %></td>
						<td><%=h number_to_currency(download.developer_proceeds) %></td>
						<td><%= number_to_currency(download.developer_proceeds * download.units) %></td>
					</tr>
			  <% end %>
				</tbody>
			</table>
		</div>
		<br />
		<div>
			<%= form_tag :action => :csv do %>
				<%= hidden_field_tag :initial, @initial %>
				<%= hidden_field_tag :final, @final %>
				<% @countries.each do |country| %>
					<%= hidden_field_tag 'countries[]', country.id %>
				<% end %>
				<% @apps.each do |app| %>
					<%= hidden_field_tag 'apps[]', app.id %>
				<% end %>

				<%= submit_tag "Export to CSV", :id => :apple_csv%>
			<% end %>
		</div>
	<% else %>
		<%= "No download found for this query." %>
	<% end %>

  <%= paginate @apple_downloads %>
</div>