<% @title = "Resources" %>
<table id="table" border="1">
  <thead>
    <tr>
		  <th>Type</th>
		  <th>Description</th>
		  <th>Files</th>
			<th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
		<% for resource in @resources %>
		  <tr valign="top" >
				<td><%= h resource.resource_type.title %></td>
				<td><%= h resource.description %></td>
				<td><% resource.resource_files.each do |f| %>
					<%=  h f.file.original_filename %><br />
				<% end %></td>

				<td><%= link_to 'Show', resource %></td>
				<td><%= link_to 'Edit', edit_resource_path(resource) %></td>
				<td><%= link_to 'Destroy', resource, :confirm => 'Are you sure?', :method => :delete %></td>
		  </tr>
	  <% end %>
  </tbody>
</table>

<div id="pager" class="pager">
	<form>
		<img class="first" src="images/icons/first.png"/>
		<img class="prev" src="images/icons/prev.png"/>
		<input class="pagedisplay" type="text"/>
		<img class="next" src="images/icons/next.png"/>
		<img class="last" src="images/icons/last.png"/>

		<select class="pagesize">
			<option value="15" selected="selected">15</option>
			<option value="30">30</option>
			<option value="50">50</option>
			<option value="100">100</option>
		</select>
	</form>
</div>
<br />
<br />

<%= link_to 'New resource', new_resource_path %>

<script type="text/javascript">
	jQuery(document).ready(function() { 
	    jQuery("#table") 
		    .tablesorter({sortColumn: '#app', dateFormat: 'mm/dd/yyyy', widgets: ['zebra']}) 
		    .tablesorterPager({container: jQuery("#pager")}); 

	});
</script>