<% form_for [:admin, @job] do |f| -%>

  <div class='field'>
    <%= f.label :job_title -%>
    <%= f.text_field :job_title, :class => 'larger' -%>
  </div>

  <div class='field'>
    <%= f.label :description -%>
    <%= f.text_area :description, :rows => 8, :cols => 140, :class => 'wymeditor' -%>
  </div>

  <div class='field'>
    <%= f.label :requirements -%>
    <%= f.text_area :requirements, :rows => 8, :cols => 140, :class => 'wymeditor' -%>
  </div>
  
  <div class='field'>
   <%= f.select :area, 
    Job::AREAS.enum_for(:each_with_index).collect{|value, index| [value, index]}, 
    :selected => @job.area, :include_blank => true %>
  </div>

  <div class='field'>
    <%= f.label :active -%>
    <%= f.check_box :active -%>
  </div>

  <div class='field'>
    <%= f.label :employment_terms -%>
    <%= f.text_field :employment_terms -%>
  </div>

  <div class='field'>
    <%= f.label :hours -%>
    <%= f.text_field :hours -%>
  </div>

  <%= render :partial => "/shared/admin/form_actions", :locals => {:f => f, :continue_editing => false} %>
<% end -%>
