<% form_tag do %>

  <%= collection_select(:download, 
												:chosen, 
												@supported_versions, 
												:id, 
												:app_version_number, 
												:prompt => 'Jogos' ) %>
												
  <%= observe_field "download_chosen", :url => {:controller => 'downloads', :action => 'download_jad'}, :with => 'download[chosen]' %>

<% end %>  
  <div id="download_button">
  
  </div>
