<% form_tag "/downloads/download_jad" do %>
	<h1><%= "Choose the game".t %>:</h1><br/>

  <%= collection_select(:download, 
												:chosen, 
												@supported_versions, 
												:id, 
												:app_version_number, 
												:prompt => 'Jogos' ) %>
												
  <%= submit_tag  :ok, :class => "buttons", 
							    :style => "margin-top:-12px; _margin-top:-5px;", 
							    :type  => "image", 
							    :src   => "/images/ok.gif", 
							    :align => "middle" -%>

<% end %>
