  <% for download in @downloads %>
	<tr valign="top" class="<%=cycle('list-line-odd', 'list-line-even' ) %>" >

	  <td class="list-title" ><%=h download.id %></td>
	  <td class="list-title" ><%=h download.user_agent %></td>
	  <td class="list-title" ><%=h download.phone_number ? download.phone_number : 'not detected' %></td>
	  <td class="list-title" ><%=h download.created_at %></td>
	  <td class="list-title" ><%=h download.customer ? download.customer_id : 'not detected' %></td>
      <td class="list-title" ><%=h download.app_version.app_version_number %></td>
      <td class="list-title" ><%=h download.device.model_full %></td>
      <td class="list-title" ><%=h download.ip_address %></td>

	</tr>
  <% end %>