<% if @model_range -%>
	<% form_tag do -%>
		<%= collection_select(:range, :chosen, @model_range, :values, :keys, :prompt => "Group".t ) -%>
								          
    <%= observe_field "range_chosen", :url => {:controller => 'downloads', :action => 'select_specific_model'}, :with => 'range[chosen]' -%>

	<% end -%>
	
  <div id="specific_model">
  </div>
<% else -%>
	<% form_tag do -%>
		<%= collection_select( 	:model, :chosen, @all_models, :id, :model, :prompt => "Models".t ) -%>
								
    <%= observe_field "model_chosen", :url => {:controller => 'downloads', :action => 'select_app'}, :with => 'model[chosen]' -%>

	<% end -%>				
					
  <div id="apps">
  </div>
<% end -%>


