<% if @model_range -%>
	<h1><%= "Choose the group that contains you phone".t %>:</h1><br/>
	
	<% form_remote_tag :url => 'select_specific_model', :style => "margin-top:20px" do -%>
	
		<%= collection_select( 	:range, 
								:chosen, 
								@model_range, 
								:values, 
								:keys )%>
								
		<%= submit_tag :ok, :class => "buttons", 
							:style => "margin-top:-12px; _margin-top:-5px;", 
							:type  => "image", 
							:src   => "/images/ok.gif", 
							:align => "middle" -%>

    <div id="specific_model">
    
    </div>
	<% end -%>
<% else %>
	<h1><%= "Choose your phone's model".t %>:</h1></h1><br/>
	
	<% form_remote_tag :url => 'device_selected', :style => "margin-top:20px" do %>
	
		<%= collection_select( 	:model, 
								:chosen, 
								@all_models, 
								:id, 
								:model, 
								:prompt => "Models".t ) %>
		
		<%= submit_tag :ok, :class => "buttons", 
							:style => "margin-top:-12px; _margin-top:-5px;", 
							:type  => "image", 
							:src   => "/images/ok.gif", 
							:align => "middle" %>
    <div id="apps">
      
    </div>
	<% end %>
<% end %>


