<% form_tag do -%>
	<%= collection_select( 	:model, :chosen, @models, :last, :first, :prompt => "Model".t )%>

  <%= observe_field "model_chosen", :url => {:controller => 'downloads', :action => 'select_app'}, :with => 'model[chosen]' -%>

<% end -%> 								
    <div id="apps">
      
    </div>

