<% form_tag do -%>
  <%= collection_select( :vendor, :chosen, @vendors, :id, :name, :prompt => "Vendor".t ) -%>
 
  <%= observe_field "vendor_chosen", :url => {:controller => 'downloads', :action => 'select_model'}, :with => 'vendor[chosen]' -%>

<% end -%>  
  <div id="model_form">
    
  </div>
