<div class="texto">
	<p class="titulo"> 
		<%= "APARELHO NÃO SUPORTADO" %> 
	</p>
	<p>
		<%= "SEU APARELHO AINDA NÃO É SUPORTADO PELO JOGO AXE TWIST THE DICE" %>
	</p>
	<p>
		<%= "EM COMPENSAÇÃO, SEPARAMOS UM WALLPAPER DE UMA LINDA GATA PARA VOCÊ!" %>
	</p>
	<p>
		<%= "Escolha a resolução:" %><br />
		<%= link_to "128x128", :controller => :downloads, :action => :download_wallpaper, :size => "128_128" %><br />
		<%= link_to "128x160", :controller => :downloads, :action => :download_wallpaper, :size => "128_160" %><br />
		<%= link_to "176x220", :controller => :downloads, :action => :download_wallpaper, :size => "176_220" %><br />
		<%= link_to "240x320", :controller => :downloads, :action => :download_wallpaper, :size => "240_320" %><br />
		<%= link_to "320x240", :controller => :downloads, :action => :download_wallpaper, :size => "320_420" %><br />
		<%= link_to "480x480", :controller => :downloads, :action => :download_wallpaper, :size => "480_480" %><br />
	</p>
</div>



