<%= javascript_include_tag 'jquery' %>

<script>
  $(function() {
    var app = $('#app').val();
    $.getJSON('/vendors/list.json?app=' + app, function(data) {
      $('#vendor').addItems(data);
    });

    $.fn.addItems = function(data, object) {
      return this.each(function() {
        var list = this;
        $(list).empty();
        list.add(new Option('Selecione', ''))
        $.each(data, function(index, itemData) {
          var option = new Option(itemData.name, itemData .id);
          list.add(option);
        });
      });
    };
  });

  $("#vendor").live('change', function() {
    $.getJSON('/devices/list.json?app=' + $('#app').val() + '&vendor=' + $(this).val(), function(data) {
      console.log(data);
      $('#model').addItems(data)
    });
  });
</script>

<% form_tag(:action => "download_jar_file") do %>

  <h1><%= "Baixe o #{@app.name}" %>:</h1><br/>

  <%= hidden_field_tag :app, @app.name_short %>
  <%= select_tag :vendor %>
  <%= select_tag :model %>

  <%= submit_tag  :ok, :class => "buttons",
    :style => "margin-top:-12px; _margin-top:-5px;",
    :type  => "image",
    :src   => "/images/ok.gif",
    :align => "middle" -%>
<% end %>