<div id="product-list">
  
  <h1>Downloads list</h1>

  <p>Start date: <%= select_date( Time.now, :order => [:day, :month, :year ], :date_separator => '/') %></p>
  <p>End date: <%= select_date( Time.now, :order => [:day, :month, :year ], :date_separator => '/') %></p>

  <p><%= submit_tag 'Generate report' %></p>

  <table cellpadding="5" cellspacing="0" >
	<tr>
      <th>Id</th>
	  <th>User-agent</th>
	  <th>Phone number</th>
	  <th>Time</th>
	  <th>Client Nano Id</th>
	  <th>App</th>
	  <th>Device model</th>
	  <th>IP Address</th>
	</tr>
    <%= render( :partial => 'list' ) %>
  </table>

  <br/>

</div>

