<% if session[:layout] == false -%>
  <script src="/javascripts/prototype.js" type="text/javascript"></script>
<% end -%>

<div id="down_form">
  <% if session[:layout] == false -%>
    <%= render :partial => "vendor_js" %>
  <% else -%>
    <%= render :partial => "vendor" %>
  <% end -%>
</div>
