<% content_for :head do %>
  <%= stylesheet_link_tag 'FrontEnd/ranking' %>
  <%= javascript_include_tag 'futura/front_end/search_results', 'scriptaculous' %>
<% end %>
<% render_sidebar %>

<div class="conteudo_principal">
  <div class="titulo_abas abas_esq">
    <ul class="abas_busca">
      <li class="<%= menu_class(:all_time) %>"><%= link_to "Ranking Geral", rankings_url %></li>
      <li class="<%= menu_class(:monthly) %>"><%= link_to "Ranking Mensal", monthly_rankings_url %></li>
      <li class="<%= menu_class(:weekly) %>"><%= link_to "Ranking Semanal", weekly_rankings_url %></li>
    </ul>
  </div>
  <div class="ranking" id="ranking">
    <div class="texto">
      <p class="txt_basico">
        Quer encarar os melhores do ranking em uma partida?
        Basta selecionar quem você quer desafiar e depois clicar em Enviar desafio.
      </p>

      <p class="txt_basico">Clique no nome para ver o perfil do jogador:</p>
    </div>

    <%= link_to "Ranking dos amigos", friend_rankings_url, :class => "bt_amarelo" %>

    <table class="ranking_table">
      <% if @users %>
        <% @users.each_with_index do |user, index| %>
          <% position = set_position(index) %>

          <tr class="<%= selected_user(user, @challenges_made) %>" id="<%= user.id %>">
            <td class="<%= position_class(position) %>">
              <em><%= position %><sup>o</sup></em>
            </td>

            <td class="img_jogador">
              <%= link_to image_tag(user.avatar.url(:small_thumb), :width => 26, :height => 26), "#",
                          :onclick => "constructModal('profile_#{user.id}', '/profiles/#{user.id}')" %>
            </td>

            <td class="patente">
              <%= image_tag user.patent_icon_url, :width => 21, :height => 22 %>
              <span><%= user.patent_name %></span>
            </td>

            <td class="jogador">
              <%= link_to user.nickname, "#", :onclick => "constructModal('profile_#{user.id}', '/profiles/#{user.id}')" %>
            </td>

            <td class="pontos">
              <% case @ranking_type %>
              <% when 'm' %>
                <%= user.skill_month_variation %>
              <% when 'w' %>
                <%= user.skill_week_variation %>
              <% else %>
                <%= user.score %>
              <% end %>
            </td>

            <%= render_user_status(user, @challenges_made) %>
          </tr>
        <% end %>
      <% end %>
    </table>

    <div class="pos_jogador">
      <%= image_tag logged_user.avatar.url(:small_thumb), :width => 26 %>
      <p><%= logged_user.nickname %>, sua posição é:</p>
      <strong><a href="<%= "#{request.request_uri}?page=#{ (@player_position + 9) / 10 }" %>"><%= @player_position %>
        º</a></strong>
    </div>

    <% if not @challenges_made.empty? %>
      <a href="#" class="bt_enviarDesafio texthide" id="invite_button"
         onclick="constructModal('challenge_list', '/challenges/index_ranking')"><span>Enviar Desafio</span></a>
    <% else %>
      <a href="#" class="bt_enviarDesafio_disabled texthide" id="invite_button"><span>Enviar Desafio</span></a>
    <% end %>

    <%= will_paginate(@users) unless @users.blank? %>
  </div>
</div>
