<%= content_for :head, stylesheet_link_tag('mobile/userForm') %>

<div class="titleArea">
  <div class="clearfix">
    <% if new %>
      <h2 class="fitLeft">Novo Usuário</h2>
    <% else %>
      <h2 class="fitLeft">Meu Perfil</h2>
      <button id="edit_button" class="buttonLightBlue fitRight">editar</button>
    <% end %>
  </div>
</div>

<div class="userPage">
  <%= form_for @user, url: new ? '/users' : "/users/update_profile", html: { id: 'edit_user_form', class: 'clearfix' }, method: new ? :post : :put do |f| %>
    <%= content_tag(:p, 'Por favor, verifique os problemas nos campos abaixo:', class: 'mainMessage fail') if flash[:alert].present? %>
    <%= content_tag(:p, flash[:notice], class: 'mainMessage success') if flash[:notice].present? %>

    <fieldset>
      <%= f.label :nickname %>
      <%= f.text_field :nickname, class: class_for_user_input(@user, :nickname) %>

      <%= content_tag :p do %>
        <% flash[:alert][:nickname].each do |message| %>
          <%= message %>
        <% end %>
      <% end if flash[:alert] and flash[:alert].has_key?(:nickname) and !flash[:alert][:nickname].blank? %>
    </fieldset>


    <fieldset>
      <%= f.label :login %>
      <%= f.text_field :login, class: class_for_user_input(@user, :login) %>

      <%= content_tag :p do %>
        <% flash[:alert][:login].each do |message| %>
          <%= message %>
        <% end %>
      <% end if flash[:alert] and flash[:alert].has_key? :login and !flash[:alert][:login].blank? %>
    </fieldset>

    <fieldset>
      <%= f.label :email %>
      <%= f.text_field :email, class: class_for_user_input(@user, :email) %>

      <%= content_tag :p do %>
        <% flash[:alert][:email].each do |message| %>
          <%= message %>
        <% end %>
      <% end if flash[:alert] and flash[:alert].has_key? :email and !flash[:alert][:email].blank? %>
    </fieldset>

    <fieldset>
      <%= f.label :password %>
      <%= f.password_field :password, class: class_for_user_input(@user, :password) %>
    </fieldset>

    <fieldset>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: class_for_user_input(@user, :password_confirmation) %>
    </fieldset>

    <%= button_tag 'Salvar', class: 'buttonLightBlue fitRight' %>
  <% end %>
</div>
