<%= render partial: 'form', locals: { new: true } %>

<script>
  $(function() {
    lockableForm.form = 'edit_user_form';
    lockableForm.button = 'edit_button';
    lockableForm.fieldsToSave = ['user_nickname', 'user_login', 'user_email'];
    lockableForm.init( false );
  });
</script>
