<%= content_for :head, stylesheet_link_tag('mobile/userForm') %>

<div class="titleArea">
    <div class="clearfix">
        <h2 class="fitLeft">Relembrar Senha</h2>
    </div>
</div>

<div class="userPage">
    <%= content_tag :div, flash[:notice], class: 'notice' if flash[:notice] %>
    <%= flash[:notice] %>

    <%= form_tag 'reset_password', class: 'clearfix' do %>
        <fieldset>
            <label for="email">E-Mail</label>
            <%= text_field_tag :email, '', class: 'emailField errorStyle' %>
        </fieldset>

        <div class="fitRight">
            <%= link_to 'Cancelar', new_sessions_path, class: 'formLink' %>
            <%= button_tag 'Resetar senha', class: 'buttonLightBlue login' %>
        </div>

    <% end %>
</div>
