<div id="product-list">
  
  <h1>Optional APIs list</h1>

  <table cellpadding="5" cellspacing="0" >
	<tr>
	  <th>Id</th>
	  <th>Name</th>
	  <th>Description</th>
	  <th>JSR index</th>
	</tr>

  <% for optional_api in @optional_apis%>
	<tr valign="top" class="<%=cycle('list-line-odd', 'list-line-even' ) %>" >
	
	  <td class="list-title" ><%=h optional_api.id %></td>
	  <td class="list-title" ><%=h optional_api.name %></td>
	  <td class="list-title" ><%=h optional_api.description %></td>
	  <td class="list-title" ><%=h optional_api.jsr_index %></td>
	  
	  <td class="list-actions" ><%= link_to 'Edit', edit_optional_api_path(optional_api) %></td>
	  <td class="list-actions" ><%= link_to 'Destroy', optional_api, :confirm => "Remove optional API " + optional_api.name + '?', :method => :delete %></td>
	</tr>
  <% end %>
  </table>

  <br/>

</div>
<%= paginating_links( @optional_apis ) %><br/><br/>


<%= link_to 'Add optional API', new_optional_api_path %>
