<div class="header">
  <a id='bt_next' class="bt_next next_question">Next</a>
</div>
 
<div class="answer">
  <div class="content">
    <h3 id="your_answer"><span>Your answer is</span></h3>
    <h2 id="state"><span></span></h2>

    <div class="artist">
        <div class="image" id="artist_photo"><img id="artist_thumb" src="<%= @game.current_question.artist_photo%>"></div>
    </div>

  
    <p class="artist_name">
      <span id="artist_name" style="display: none">
        <%= @game.current_question.artist_name %>
      </span>
      <span id="the_correct_answer" style="display: none">
        The correct answer was: <br />
        <span id="correct_answer">          
          <%= @game.current_question.correct_answer.text %>
        </span>
      </span>
    </p>

  </div>
</div>    
<div id="background_wrong" style="display: none" class="background">
  <img id='bg_wrong_spiral' class='bg_image' style="display: none" src="/imuz_db/mobile/images/spiralwrong.png" width="434" height="426">
</div>
<div id="background_correct" style="display: none" class="background">
  <img id='bg_correct_highlight' class='bg_image' style="display: none" src="/imuz_db/mobile/images/correct_highlight.png" width="600" height="600">
</div>
