<div class="secondary_info latest_news">
  <% app = App.find_by_name_short('IMDB', :include => {:app_versions => [:news_feed_categories => [:news_feeds, :news_category_translations]]},
                                          :conditions => "app_versions.number = '1.0' and news_category_translations.title = 'Main' and news_feeds.active = 1") %>
  <% if app && !app.app_versions.blank? && app.app_versions.first.news_feed_categories %>
    <% news = app.app_versions.first.news_feed_categories.first.news_feeds %>
  <% end %>
  <h3>Latest <strong>News</strong></h3>
  <ul>
    <% if news %>
      <% news.each do |new| %>
        <li><%= new.content.html_safe %></li>
      <% end %>
    <% end %>
  </ul>
</div>
