<div class="options" id="options_view" style="display: none">
  <div class="knob">
      <p class="off">OFF</p>
      <img id='audio_knob'> 
      <p class="on">ON</p>
  </div>
  <p id="audio_label" class="audio_label">Audio On</p>
</div>
