<h1>Time's Up</h1>
<img src="/imuz_db/mobile/images/hourglass.png" width="97" height="136">
<p>Your time to answer the current question is over. You missed this one, but let's try another one!</p>
<a id='bt_timeup_next' class="button bt_default bt_nextQuestion next_question"><strong>Next Question</strong></a>
