<% if params[:p] == 'error' %>
  <%= content_for :head do %>
    <script>
      alert("An error occurred on facebook.\nPlease, try again.")
    </script>
  <% end %>
<% end %>

<div class="header">
  <h1>Welcome</h1>
</div>

<p class="general_text">
  Hi! This is your first time playing the iMuzDB Quiz. Please choose a nickname,
  which will be used to identify you in our ranking.
</p>
 <%= form_for :user, :url => '/imuz_db/game_sessions/set_nickname', :id => "nickname_form" do |f| %>
  <table class="form single_field">
    <tr>
      <th><%= label_tag :nickname, "Nickname" %></th>
      <td>
        <%= text_field_tag :nickname, "", :maxlength => 20 %>
      </td>
    </tr>
	</table>
	  <div class='footer'>
  <a class="button bt_cancel" onclick="redirectTo('/imuz_db/customer_login/login')">Cancel</a>
  <%= f.submit "Play Now", :class => "bt_signin" %>
</div>
<% end %>

