<div class="error">
  <h2>Oops! Wrong chord here!</h2>
  <p>We are sorry, but something went wrong. Please return to the previous screen and try again.</p>

  <div class="button bt_back"><a href="/imuz_db/game_sessions/home"><span>Back</span></a></div>
</div>