<% content_for :head do %>
  <%= stylesheet_link_tag 'imuz_db/mobile/mob-game', 'imuz_db/mobile/mob-animations' %>
  <%= javascript_include_tag  'imuz_db/gx', 'imuz_db/gx.transitions', 'imuz_db/mobile/game_over'%>
<% end %>
  
  <div id="viewport" class="default_viewport">
    <div id='gameover_view' class="gameover gameover_<%=params[:type]%>" style="display: none">
      <h1 style="display: none" id='game_over'><span>GameOver - <%= params[:type]%></span></h1>

      <div class="amp">
        <% if params[:type] == 'positive' %>
          <img src="/imuz_db/mobile/images/gameover_notes.gif" width="57" height="136" class="amp_notes">
        <% else %>
          <img src="/imuz_db/mobile/images/gameover_spark.gif" width="58" height="67" class="amp_spark">
          <img src="/imuz_db/mobile/images/gameover_smoke.gif" width="41" height="98" class="amp_smoke">
        <% end %>
      </div>

      <ul class="game_stats">
          <li><strong>Score:</strong><%= @game.hits %></li>
          <li><strong>Correct Answers:</strong><%= @game.hits %></li>
          <li><strong>Wrong Answers:</strong><%= @game.misses %></li>
      </ul>

      <ul class="link_bar <%= @user.facebook_profile.nil? ? 'no_share' : ''%>">
        <li class="share_link">
          <a onclick="document.getElementById('modal_fb').style.display='block';redirectTo('<%= url_for({:controller => 'imuz_db/game_sessions', :action => 'facebook_share'})%>')">
            Share
          </a>
        </li>
          <li class="playAgain_link">
            <a onclick="redirectTo('<%= url_for({:controller => 'imuz_db/game_sessions', :action => 'start'})%>')">
              Play Again
            </a>
          </li>  
          <li class="ranking_link">
            <a onclick="redirectTo('<%= url_for({:controller => 'imuz_db/game_sessions', :action => 'ranking'})%>')">
              Ranking
            </a>
          </li>
      </ul>
    </div>
</div>
