<%= content_for :head do %>
  <%= javascript_include_tag "imuz_db/game_over" %>
  <%= stylesheet_link_tag "imuz_db/game" %>

  <script type="text/javascript">
    function shareOnFacebook(message){
      window.open("http://www.facebook.com/sharer.php?u=http://nanogames.com.br/facebook_meta/imuzdb.html", 'Compartilhar_no_Facebook','width=1000,height=600,scrollbar=no')
    }

    $(function () {
      $('#facebook_share').click(shareOnFacebook);
    });
  </script>
<% end %>

<script type="text/javascript" src="/javascripts/imuz_db/soundmanager2.js"></script>
<script type="text/javascript">
  soundManager.url = '/swf';
  soundManager.useFlashBlock = false;
  soundManager.debugMode = false;
  soundManager.flashLoadTimeout = 1000;

  soundManager.onload = function() {
    var mySound = soundManager.createSound({
      id: 'correct',
      url: '/audio/music/game_over.mp3'
    });
    mySound.play();
  };
</script>

<div class="game_over" style="display: block;">
  <div class="small_title">
    <%= render :partial => "/imuz_db/title_content", :locals => { :game => @game } %>
    <a href="home?p=<%= 1234 %>" class="link_home">Home</a>
  </div>

  <h1 class="gameOver_title"><span>Game Over</span></h1>

  <table class="final_stats">
    <tr>
      <th>Correct Answers:</th>
      <td><%= @game.hits %></td>
    </tr>
    <tr>
      <th>Wrong Answers:</th>
      <td><%= @game.misses %></td>
    </tr>
  </table>

  <div class="buttons">
    <div class="button bt_fbShare"><a id='facebook_share' name="fb_share" type="button"></a></div>
    <div class="button bt_playAgain"><a href="/imuz_db/game_sessions/start"><span>Play Again</span></a></div>
    <div class="button bt_ranking"><a href="/imuz_db/game_sessions/ranking"><span>Ranking</span></a></div>
  </div>
</div>

<%= render :partial => 'context_column', :locals => {:question => @game.ended? ? @game.current_question : @game.last_question} %>

<script>
  $('.game_over').fadeIn(800, gameOverText);
</script>