<% content_for :head do %>
  <%= stylesheet_link_tag 'imuz_db/mobile/mob-help', 'imuz_db/mobile/scrollbar' %>
  <%= javascript_include_tag 'imuz_db/mobile/iscroll', 'imuz_db/mobile/scrollbar' %> 
<% end %>
<div class="header">
  <%= previous_button :home %>
  <h1>Help</h1>
</div>

        <div id="wrapper" class="help">
        <div>
            <h2>The Game</h2>
            <p>Playing the iMuzDB quiz is very easy. Just click “Play New Game” on the home screen and you’ll be presented with the first of 10 questions you need to answer to complete the game. Each question presents 5 possible answers, ranging from the letter “A” to “E”. To answer a question, just click on the selected option to select it, and then click the “Answer” button to confirm your choice. Just be careful not to let your time expire! You have 60 seconds to answer each question. If you are unsure about the correct answer, you may skip the question by clicking on the “Skip Question” button. But be careful! You can only skip 3 questions. After that, you’re on your own!</p>
            <p>After every answer, you’ll be shown a feedback screen displaying whether your answer is correct or wrong. If the answer happens to be wrong, the correct option will be displayed on the screen. On the answer screen, you’ll have a chance to see more information, videos and albums about the artist related to the question. Each correct question grants you 1 point. When the question is wrong, you won’t score points.</p>
            <p>When 10 questions have been answered, the Game will be over. In the Game Over screen, you are able to Share your performance with your Facebook friends, start a new game, or see the Ranking. You’re also shown how many of your answers were correct, and how many were wrong.</p>

            <h2>Ranking</h2>
            <p>The ranking page displays an ordered list of the best players of the game, from the highest to lowest scorer. The red notes next to the player’s accumulated score indicates the player’s level. There are four player levels on the iMuzDB quiz, distributed in the following rates:</p>
            <ul class="badges">
                <li class="virtuoso"><span><img src="/imuz_db/mobile/images/ic_virtuoso.png" width="53" height="31" alt=""></span>Virtuoso (10%)</li>
                <li class="soloist"><span><img src="/imuz_db/mobile/images/ic_soloist.png" width="47" height="31" alt=""></span>Soloist (20%)</li>
                <li class="musician"><span><img src="/imuz_db/mobile/images/ic_musician.png" width="41" height="31" alt=""></span>Musician (30%)</li>
                <li class="student"><span><img src="/imuz_db/mobile/images/ic_student.png" width="35" height="31" alt=""></span>Student (40%)</li>
            </ul>
            <p>That is, to be a Virtuoso, you must be among the 10% better scorers , to be a soloist, you must be among the  20% better scorers, and so on.</p>
            <p>If you are not within the 100 better scorers, you’ll still be displayed at the bottom of the rank, so you know your position and level.</p>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
    </div>