<% content_for :head do %>
<script>
  registerApp();
</script>
  <% if params[:message] %>
    <script>
      alert("<%= params[:message] %>")
    </script>
  <% end %>
  <%= stylesheet_link_tag 'imuz_db/mobile/mob-home' %>
<% end %>
<span id="remember" style="display: none"><%= params[:remember]%></span>
<span id="current_user_id" style="display: none"><%= session[:current_user_id]%></span>
<div class="header app_title">
  <h1>ImuzDB</h1>
</div>
<ul class="main_menu">
  <li>
    <a onclick="redirectTo('<%= url_for({:controller => 'imuz_db/game_sessions', :action => 'start'})%>')">
      Play New Game
    </a>
  </li>
  <li>
    <a onclick="redirectTo('<%= url_for({:controller => 'imuz_db/game_sessions', :action => 'profile'})%>')">
      My Profile
    </a>
  </li>
  <li>
    <a onclick="redirectTo('<%= url_for({:controller => 'imuz_db/game_sessions', :action => 'help'})%>')">
      Help
    </a>
  </li>
  <li>
    <a onclick="redirectTo('<%= url_for({:controller => 'imuz_db/game_sessions', :action => 'ranking'})%>')">
      Ranking
    </a>
  </li>
  <li><%= link_to 'Visit imuzDB.com', 'http://www.imuzdb.com', :target => 'blank'%></li>
</ul>
<% if @latest_new %>
  <div class="aside">
    <h2>News</h2>
    <div class="news_content">
      <%= @latest_new.content.html_safe %>
      <a onclick="redirectTo('<%= url_for({:controller => 'imuz_db/game_sessions', :action => 'news'})%>')"></a>
    </div>
    <a class="link_news" onclick="redirectTo('<%= url_for({:controller => 'imuz_db/game_sessions', :action => 'news'})%>')">
      More News
    </a>
  </div>
<% end %>



