<% content_for :head do %>
  <%= stylesheet_link_tag  'imuz_db/mobile/mob-news', 'imuz_db/mobile/scrollbar' %>
  <%= javascript_include_tag 'imuz_db/mobile/iscroll', 'imuz_db/mobile/scrollbar' %>
<% end %>

<div class="header">
  <%= previous_button :home %>
  <h1>News</h1>
</div>


<div id='wrapper' class="news">
  <ul>
    <% @news.each do |feed| %>
      <li>
        <h2><%= feed.title %></h2>
        <p><%= feed.content.html_safe %></p>
      </li>
    <% end %>
  </ul>
</div>
