<script type="text/javascript" src="/javascripts/imuz_db/soundmanager2.js"></script>
<script type="text/javascript">
  soundManager.url = '/swf';
  soundManager.useFlashBlock = false;
  soundManager.debugMode = false;
  soundManager.flashLoadTimeout = 1000;

  soundManager.onload = function() {
    var mySound = soundManager.createSound({
      id: 'menu',
      url: '/audio/SFX/interacao_menu.mp3'
    });
    // mySound.play();

    $('.answer_li').click(function() {
      mySound.play();
    });
  };
</script>

<div class="title_bar">
  <%= render :partial => "/imuz_db/title_content", :locals => { :game => @game } %>
</div>

<div class="timer"><strong id="timer"><%= ImuzDb::GameSession::TIMEOUT %></strong></div>
<%= render :partial => 'question', :locals => { :game => @game } %>
