<%- content_for :head do %>
    <%= stylesheet_link_tag "imuz_db/profile" %>
<%- end -%>

<div class="player_profile">
  <div class="profile_content">

    <div class="small_title profile_title">
      <a href="home?p=<%= self.id %>" class="link_home">Home</a>
      <h1>Player Profile Bla</h1>
    </div>

    <div class="image_stats">
      <ul class="player_stats">
        <li><strong>Level:</strong><span class="<%= @patent.downcase %>"><%= @patent %></span></li>
        <li><strong>Score:</strong><%= @score %></li>
      </ul>
    </div>

    <dl class="names">
      <dt>Name:</dt>
      <dd><%= "#{@user.first_name} #{@user.last_name}" %></dd>
      <dt>Nickname:</dt>
      <dd><%= @user.nickname %></dd>
    </dl>

    <table class="answers_summary">
      <tr class="correct">
        <th><strong>Correct</strong> Answers:</th>
        <td><%= @hits %></td>
      </tr>
      <tr class="wrong">
        <th><strong>Wrong</strong> Answers:</th>
        <td><%= @misses %></td>
      </tr>
    </table>
  </div>
</div>

<%= render :partial => "latest_news" %>