<%= content_for :head do %>
  <%= javascript_include_tag "imuz_db/answers" %>
  <%= stylesheet_link_tag "imuz_db/game" %>
<% end %>

<script type="text/javascript" src="/javascripts/imuz_db/soundmanager2.js"></script>
<script type="text/javascript">
  soundManager.url = '/swf';
  soundManager.useFlashBlock = false;
  soundManager.debugMode = false;
  soundManager.flashLoadTimeout = 1000;

  soundManager.onload = function() {
    var mySound = soundManager.createSound({
      id: 'wrong',
      url: '/audio/music/wrong_answer.mp3'
    });
    mySound.play();
  };
</script>

<div class="question_feedback wrong_answer">
  <div class="small_title">
    <%= render :partial => "/imuz_db/title_content", :locals => { :game => @game } %>
  </div>

  <h1>
    <span class="your_answer"><strong>Your answer is</strong></span>
    <span class="wrong"><strong>WRONG!</strong></span>
  </h1>

  <%= hidden_field_tag :game_id, @game.id %>

  <p class="correct_was"><span><strong>The correct answer was:</strong> <%= @correct.text %></span></p>

  <div class="button bt_next"><a href="/imuz_db/game_sessions/next_question?game_id=<%= @game.id %>"><span>Next</span></a></div>
</div>

<%= render :partial => 'context_column', :locals => {:question => @game.ended? ? @game.current_question : @game.last_question} %>