<div>
  <table id="table" border="1" >
		<thead>
			<tr>
	      <th>Id</td>
	      <th>Name</td>
	      <th>Short name</td>
	      <th>Description short</td>
	      <th>Description medium</td>
	      <th>Description long</td>
	      <th>Categories</td>
	      <th>Partners</td>
				<th colspan="3"></th>
	    </tr>
		</thead>

		<tbody>
			<% @apps.each do |app| %>
	      <tr valign="top" >

	        <td><%=h app.id %></td>
					<td><%=h app.name %></td>
					<td><%=h app.name_short %></td>
					<td><%=h app.description_short %></td>
					<td><%=h app.description_medium %></td>
					<td><%=h app.description_long %></td>
					<%= render( :partial => 'app_categories', :object => app.app_categories ) %>
					<td><%=h app.partners.empty? ? 'none' : app.partners.collect { |p| p.name }.join( ', ' ) %></td>

	        <% if current_user.is_admin? %>
	          <td class="list-actions" ><%= link_to 'Show', app %></td>
	          <td class="list-actions" ><%= link_to 'Edit', edit_app_path(app) %></td>
	          <td class="list-actions" ><%= link_to 'Destroy', app, :confirm => "Remove app " + app.name + '?', :method => :delete %></td>
	        <% end %>
	      </tr>
	    <% end %>
		</tbody>
  </table>
	<br/>
</div>

<%= paginate @apps %>

<br />
<%= if ( current_user.is_admin? ) then link_to 'Add application', new_app_path end %>