<h1>New app</h1>

<%= form_for(@app) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :name_short %><br />
    <%= f.text_field :name_short %>
  </p>
  <p>
    <%= f.label :description_short %><br />
    <%= f.text_area :description_short, :size => '75x2' %>
  </p>
  <p>
    <%= f.label :description_medium %><br />
    <%= f.text_area :description_medium, :size => '75x4' %>
  </p>
  <p>
    <%= f.label :description_long %><br />
    <%= f.text_area :description_long, :size => '75x12' %>
  </p>
  <p>
    <%= f.label :apple_title %><br />
    <%= f.text_field :apple_title, :size => '75x12' %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', apps_path %>