<p>
  <b>Name:</b>
  <%= @app.name %>
</p>
<p>
  <b>Short name:</b>
  <%= @app.name_short %>
</p>
<p>
  <b>Short description:</b>
  <%= @app.description_short %>
</p>
<p>
  <b>Medium description:</b>
  <%= @app.description_medium %>
</p>
<p>
  <b>Long description:</b>
  <%= @app.description_long %>
</p>
<p>
  <b>Apple Title:</b>
  <%= @app.apple_title %>
</p>
<p>
  <b>Categories:</b><br/>
  <%= render( :partial => 'app_categories', :object => @app.app_categories ) %>
</p>

<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
