<div id="product-list">
  
  <h1>Data services list</h1>

  <table cellpadding="5" cellspacing="0" >
	<tr>
	  <th>Name</th>
	  <th>Max speed (kbps)</th>
	  <th>Id</th>
	</tr>

  <% for data_service in @data_services%>
	<tr valign="top" class="<%=cycle('list-line-odd', 'list-line-even' ) %>" >
	
	  <td class="list-title" ><%=h data_service.name %></td>
	  <td class="list-title" ><%=h data_service.max_speed %></td>
	  <td class="list-title" ><%=h data_service.id %></td>
	  
	  <td class="list-actions" ><%= link_to 'Edit', edit_data_service_path(data_service) %></td>
	  <td class="list-actions" ><%= link_to 'Destroy', data_service, :confirm => "Remove data service " + data_service.name + ' ' + data_service.max_speed.to_s + '?', :method => :delete %></td>
	</tr>
  <% end %>
  </table>

  <br />

</div>

<%= link_to 'Add data service', new_data_service_path %>
