<p><%= "Upload your avatar image" %>:
	<input type="hidden" id="picture_id" value="<%= @customer.id %>" name="picture[id]"/><br/>
	<input type="file" id="picture_file"  name="picture[file]"/><br />
</p>