<h1><%= "User Sign Up" %></h1>

<%= form_for(@customer, :url => {:action => :salvar_cadastro}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "name" %><br/>
    <%= f.text_field :nickname %>
  </p>

  <p>
    <%= f.label "first name" %><br/>
    <%= f.text_field :first_name %>
  </p>

  <p>
    <%= f.label "Last name" %><br/>
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= f.label "genre" %><br/>
    <%= f.select (:genre, %w{M F}) %>
  </p>

  <p>
    <%= f.label "email" %><br/>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label "phone" %><br/>
    <%= f.text_field :phone_number %>
  </p>

  <p>
    <%= f.label "password" %><br/>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label "confirmation" %><br/>
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.submit "Sign up" %>
  </p>
<% end %>

<%= link_to "Back", :action => :index %>