<%= form_tag(:action => "change_password") do %>
	<p>
		<%= "Current password" %>
		<%= password_field_tag :current_password, params[:current_password]%>
	</p>
	<p>
		<%= "New password" %>
		<%= password_field_tag :password, params[:password]%>
	</p>
	<p>
		<%= "Confirm password" %>
		<%= password_field_tag :password_confirmation%>
	</p>
	<p>
		<%= submit_tag 'Change' %>
	</p>
<% end -%>

<p>
	<%= "#{link_to "Back", :action => "profile"}"%>
</p>