<h1>
  <%= h "Editing customer \##{@customer.id}" %>
</h1>

<%= form_for(@customer) do |form| %>
  <%= form.error_messages %>

  <p>
	<label for="customer_nickname">Nickname:</label>
	<%= form.text_field :nickname, :size => 40 %>
  </p>

  <p>
	<label for="customer_first_name">First name:</label>
	<%= form.text_field :first_name, :size => 40 %>
  </p>

  <p>
	<label for="customer_last_name">Last name:</label>
	<%= form.text_field :last_name, :size => 40 %>
  </p>

  <p>
	<label for="customer_email">E-mail:</label>
	<%= form.text_field :email, :size => 40 %>
  </p>

  <p>
	<label for="customer_phone_number">Phone number:</label>
	<%= form.text_field :phone_number, :size => 40 %>
  </p>

  <p>
	<label for="customer_password">Password:</label>
	<%= form.password_field :password, :size => 40 %>
  </p>

  <p>
	<label for="customer_password_confirmation" >Confirm:</label>
	<%= form.password_field :password_confirmation, :size => 40 %>
  </p>

  <p>
    <%= form.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', customers_path %>
