
<% if @partner == "imuz_db" %>
	<h1><span>Users > </span>Users List</h1>
<% else %>
	<% form_tag :customers, :method => :get do %>
		<%= text_field_tag :filter, @filter, :placeholder => 'Procurar pelo nickname, nome ou email', :style => 'width: 250px' %>
		<%= submit_tag "Filter" %>
		<%= link_to "(clean)", customers_path %>
	<% end %><br />
<% end %>

<div>
  <table
  <% if @partner != "imuz_db" %>
  	id="table" border="1"
  <% else %>
  	class="data_table"
  <% end %>
  >
  	<% if @partner != "imuz_db" %>
			<thead>
		<% end %>
			<tr>
				<% if @partner != "imuz_db" %>
			  	<th>Id</th>
			 	<% end %>
			  <th>Nickname</th>
				<% if @partner == "imuz_db" %>
					<th>Name</th>
				<% else %>
			  	<th>First name</th>
			  	<th>Last name</th>
				<% end %>

			  <th>E-mail</th>
			  <% if @partner != "imuz_db" %>
			  	<th>Phone number</th>
			  <% end %>
			  <th>Birthday</th>
			  <% if @partner != "imuz_db" %>
			  	<th>Genre</th>
					<th colspan="3"></th>
				<% end %>
			</tr>
		</thead>

		<tbody>
			<% for customer in @customers %>
			<tr valign="top" >
				<% if @partner != "imuz_db" %>
			  	<td><%=h customer.id %></td>
			  <% end %>
			  <td><% if ( customer.nickname ) %> <%=h customer.nickname %> <% end %></td>
			  <td><% if ( customer.first_name ) %> <%=h customer.first_name %> <% end %></td>
			  <% if @partner != "imuz_db" %>
			  	<td><% if ( customer.last_name ) %> <%=h customer.last_name %> <% end %></td>
			  <% end %>
			  <td><% if ( customer.email ) %> <%=h customer.email %> <% end %></td>
			  <% if @partner != "imuz_db" %>
			  	<td><% if ( customer.phone_number ) %> <%=h customer.phone_number %> <% end %></td>
			  <% end %>
			  <td><% if ( customer.birthday ) %> <%=h customer.birthday %> <% end %></td>
			  <% if @partner != "imuz_db" %>
			  	<td><% if ( customer.genre ) %> <%=h customer.genre %> <% end %></td>


			  	<td><%= link_to 'Show', customer %></td>
			  	<td><%= link_to 'Edit', edit_customer_path(customer) %></td>
			  	<td><%= link_to 'Destroy', customer, :confirm => "Remove customer \##{customer.id}?", :method => :delete %></td>
			  <% end %>
			</tr>
		  <% end %>
		</tbody>
  </table>
<br/>
</div>
<%= paginate @customers %>

<br />
<% if @partner != "imuz_db" %>
	<%= link_to 'Add customer', new_customer_path %>
<% end %>

<script type="text/javascript">
	$(document).ready(function() {
	    $("#table")
		    .tablesorter({sortColumn: '#app', dateFormat: 'dd/mm/yyyy', widgets: ['zebra']})
		    .tablesorterPager({container: $("#pager")});

	});
</script>
