<%= "Por favor, valide seu e-mail."%>
<p>
	<%= "#{link_to "Clique aqui", :action => 'reenvio', :id => @customer.id} para reenviar email de validacao." %>
</p>
<%= link_to "voltar", :action => :index %>