Id:            <%= @customer.id %><br />
Nickname:      <%= @customer.nickname %><br />
First Name:    <%= @customer.first_name    if @customer.first_name %><br />
Last name:     <%= @customer.last_name     if @customer.last_name %><br />
E-mail:        <%= @customer.email         if @customer.email %><br />
Phone number:  <%= @customer.phone_number  if @customer.phone_number %><br /><br />

Authentications:
<ul>
  <% @customer.authentications.each do |auth| %>
    <li><%= auth.provider %>: 
    <%= auth.uid %></li>
  <% end %>
</ul>

<%= link_to("Clique aqui para adicionar uma conta do Twitter.", '/auth/twitter') unless @customer.has_provider? :twitter %><br />
<%= link_to("Clique aqui para adicionar uma conta do Facebook.", '/auth/facebook') unless @customer.has_provider? :facebook  %><br /><br />

<%= link_to "Sign Out", '/logout' %>