<div class="file">
	<%= fields_for "resource_files[]", file do |f| -%>
		<p>
		  <%= f.file_field :file %>
			<%= link_to_function 	'remove', "this.up('.file').remove()" %>
		</p>
	<% end -%>
</div>

