<% @title = "Edit Resource" %>

<%= form_for( @resource, :html => { :multipart => true } ) do |f| %>
  <%= f.error_messages %>
<table class="form">
	<tr>
		<td class="text">
			<%= f.label :type %>
		</td>
		<td>
			<%= select 	'resource', 
									'resource_type_id',
		  						ResourceType.find(:all).collect {|a| [a.title, a.id]},
		  						:prompt => "Select a resource type" %>
		</td>
	</tr>
	<tr>
		<td class="text">
			<%= f.label :description %>
		</td>
		<td>
			<%= f.text_area :description, :rows => 8 %>
		</td>
	</tr>
	<tr>
		<td class="text">
			<%= f.label :files %>
		</td>
		<td>
			<div id="file_list">
				<%= render :partial => 'files_list' %>
			</div>
			
			<div id="files">
				<%= render :partial => 'file', :object => @resource.resource_files, :object => @resource.resource_files.build %>
			</div>	

			<%= link_to_function "Add a file" do |page|
				page.insert_html 	:bottom, 
													:files, 
													:partial => 'file', 
													:locals => {:file => @resource.resource_files.build}
			end %>
		</td>
	</tr>
	<tr>
		<td class="submit" colspan="2">
			<%= f.submit "Update" %>
		</td>
	</tr>
</table>
<% end %>

<%= link_to 'Show', @resource %> |
<%= link_to 'Back', resources_path %>
