<% @title = "Resources" %>
<table id="table" border="1">
  <thead>
    <tr>
		  <th>Type</th>
		  <th>Description</th>
		  <th>Files</th>
			<th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
		<% for resource in @resources %>
		  <tr valign="top" >
				<td><%= h resource.resource_type.title %></td>
				<td><%= h resource.description %></td>
				<td><% resource.resource_files.each do |f| %>
					<%=  h f.file.original_filename %><br />
				<% end %></td>

				<td><%= link_to 'Show', resource %></td>
				<td><%= link_to 'Edit', edit_resource_path(resource) %></td>
				<td><%= link_to 'Destroy', resource, :confirm => 'Are you sure?', :method => :delete %></td>
		  </tr>
	  <% end %>
  </tbody>
</table>

<br />
<br />
<%= paginate @resources %>
<%= link_to 'New resource', new_resource_path %>