<%= form_for(@resource, :html => { :multipart => true } ) do |f| %>
  <%= f.error_messages %>

	<table class="form">
		<tr>
			<td class="text">
				<label for="resource_resource_type">Type</label>
			</td>
			<td>
				<%= select 	'resource',
							'resource_type_id',
			  				ResourceType.find(:all).collect {|a| [a.title, a.id]},
			  				:prompt => "Select a type" %>
			</td>
		</tr>
        <tr>
			<td class="text">
				<%= f.label :title %><br/>
			</td>
			<td>
				<%= f.text_field :title %>
			</td>
		</tr>
		<tr>
			<td class="text">
				<%= f.label :description %><br/>
			</td>
			<td>
				<%= f.text_area :description, :rows => 8 %>
			</td>
		</tr>
		<tr id="table_form">
			<td class="text">
				<p>
					<%= f.label :files %>
				</p>
			</td>
			<td>
				<div id="files">
					<%= render :partial => 'file', :locals => {:file => @resource.resource_files.build} %>
				</div>

				<%= link_to_function "Add a file" do |page|
				  page.insert_html :bottom, :files, :partial => 'file', :locals => {:file => @resource.resource_files.build}
				end %>
			</td>
		</tr>
		<tr>
			<td class="submit" colspan="2">
			  <%= f.submit "Create" %>
			</td>
		</tr>
	</table>

<% end %>

<%= link_to 'Back', resources_path %>

