<div id="show">
	<p>
	  <b>Type:</b>
	  <%= @resource.resource_type.title %>
	</p>

	<p>
	  <b>Description:</b>
	  <%= @resource.description %>
	</p>

	<p>
	  <b>Files:</b><br />
		<div id="resource_images">
			<% @resource.resource_files.each do |v| %>
				<%= image_tag v.file.url %>
		  <% end %>
		</div>

	</p>

	<%= link_to 'Edit', edit_resource_path(@resource) %> |
	<%= link_to 'Back', resources_path %>
</div>

