<%= flash_error %>
<%= errors_for @customer %>

<%= form_tag registrations_path do %>
  <%= label_tag 'customer[nickname]', 'Nickname' %>
  <%= text_field_tag 'customer[nickname]' %><br />

  <%= label_tag 'customer[email]', 'Email' %>
  <%= text_field_tag 'customer[email]' %><br />

  <%= label_tag 'customer[password]', 'Password' %>
  <%= password_field_tag 'customer[password]' %><br />

  <%= label_tag 'customer[password_confirmation]', 'Password Confirmation' %>
  <%= password_field_tag 'customer[password_confirmation]' %><br />

  <%= submit_tag "Submit", :disable_with => 'Submiting...' %>
<% end %>