<%= stylesheet_link_tag 'FrontEnd/comum', 'FrontEnd/popup' %>
<div class="popup pop_padrao pop_confirmacao">
    <div class="cabecalho_pop"><a href="#" class="bt_fechar texthide" onclick ="closeModal('login_modal')"></a></div>

  <div class="pop_meio">
    <div class="conteudo_pop">
      <% if session[:confirmed_message] %>
        <h1>E-mail enviado</h1>
        <p>
          O e-mail de confirmação foi enviado para o endereço: <strong><%=session[:confirmed_message]%></strong>
        </p>
        <p>Por favor, acesse o e-mail e clique no link de ativação da conta.</p>
        <% session[:confirmed_message]=nil %>
      <%else%>  
        <% form_for resource_name, resource, :url => confirmation_path(resource_name) do |f| %>
          <p><%=session[:confirmed_error_message]%></p>
          <%session[:confirmed_error_message]=nil%>
          <p><%= f.label :email, I18n.t( :email ) %></p>
          <p><%= f.text_field :email %></p>
          <%= f.submit "", :class=>"bt_reenviarMensagem" %>
        <% end -%>
      <% end %>
    </div>
  </div>
</div>

