<%= error_messages_for :translation %>

<%= form_for @translation, :url => {:action => :add_translation} do |f| -%>
    <%= fields_for @news_feed do |news| %>
            <%= news.hidden_field :id %>
    <% end %>

    <p> <%= f.label :language, "Language" + ":" %></p>
    <p> <%= f.collection_select(:language_id,
                                @languages,
                                :id,
                                :name,
                                :prompt => "Select a language") %></p>

    <p> <%= f.label :title, "Title" + ":" %></p>
    <p> <%= f.text_field :title %></p>

    <p> <%= f.label :content, "Content" + ":" %></p>
    <p> <%= f.text_area :content %></p>

    <p>
        <%= f.submit "Create" %>
    </p>
<% end -%>

<%= link_to "Back", :action => "show", :id => @news_feed.id %>