<%= error_messages_for :news_feed %>

<%= form_for @news_feed do |f| -%>
	<p> <%= f.label "Feed id" %>:
		<%= f.label "#{@news_feed.id}" %></p>

	<p> <%= f.label "Category" %>:
		<%= f.label "#{@news_feed.category}" %></p>
		
		<h3><%= "Translations" %>:</h3>
	<table cellpading="0" border="0" cellspacing="2" >
	<tr class="list-title"><%=  %>
	  	<th><%= "Title" %></th>
	  	<th><%= "Description" %></th>
	  	<th><%= "Url" %></th>
	  	<th><%= "Language" %></th>
	</tr>

	<% if !@news_feed.translations.blank? %>
		<%= render :partial => "translation_detail", :object => @news_feed.translations %>
	<% end %>
	</table>
	<br/>
<% end -%>

<p><%= link_to "Add Translation", :action => :add_translation, :id => @news_feed.id %></p>
<p><td class="list-actions" ><%= link_to "Change category", :action => :edit, :id => @news_feed.id %></td></p>

<%= link_to "Back", :action => "index" %>