<% content_for :head do %>
  <%=stylesheet_link_tag 'FrontEnd/conteudo_em_blocos'%>
  <%= javascript_include_tag 'futura/front_end/search_results', 'scriptaculous'%>
<% end %>
<% render_sidebar %>

<div class="conteudo_principal conteudo_blocos conteudo_enquete">
  <h1><%= @poll.name %> - <span class="data_titulo"><%= l(@poll.created_at.to_date) %></span></h1>

  <p class="txt_basico"><strong>Obrigado pela sua participação.</strong></p>
  <p class="txt_basico">Você acaba de ganhar <%= Poll::POINTS %> pontos no ranking do jogo!</p>
  <p class="txt_basico">Fique de olho nas notificações e não perca a próxima pesquisa. Você pode ganhar ainda mais pontos.</p>
  
  <a href="/rooms" class="bt_voltar texthide"><span>Voltar</span></a>
</div>
