<% content_for :javascripts, javascript_include_tag("form.highlight.js") %>
<% content_for :head, stylesheet_link_tag("form.css") %>

<% title 'Gerenciar Destaques' %>
<h1>Gerenciar Destaques</h1>

<%= label_tag 'Destaque:', nil, for: 'highlights' %>
<%= select_tag :highlights, options_for_select([['Destaque 1', 0], ['Destaque 2', 1], ['Destaque 3', 2]]) %>

<%= hidden_field_tag :initial_highlight, params[:ih] || 1 %>
<%= hidden_field_tag :env, Rails.env %>

<% @highlights.each_with_index do |highlight, index| %>
  <section class='highlight' id="<%= index %>" style="display: <%= index == 0 ? 'block' : 'none' %>">
    <%= form_for highlight, url: "/highlights/#{highlight.id}", method: :put, html: { id: "highlight_form_#{index + 1}"} do |f| %>
      <div class="message fail" style="display: none;">Verifique os erros abaixo</div>

      <%= f.label :link %>
      <%= f.text_field :link %>

      <%= highlight.image_thumbs :small %>
      <%= highlight.image_thumbs :big %>

      <fieldset class="alignButton saveButton">
        <%= f.submit 'Atualizar Destaque', class: 'submit_form button' %>
      </fieldset>
    <% end %>
  </section>

  <%= render partial: 'images/form', locals: {record: highlight,
                                              action: "/images/create_highlight_big_image/",
                                              id: "#{highlight.id.to_s}_big"} %>
  <%= render partial: 'images/form', locals: {record: highlight,
                                              action: "/images/create_highlight_small_image/",
                                              id: "#{highlight.id.to_s}_small"} %>
<% end %>

<div class='overlay' id='new_thumb_overlay' style="display:none">
  <div class='popup'>
    <div id="replace_thumb" class="popup_form clearfix">
      <%= form_tag "", multipart: true, id: 'replace_thumb_form', class: 'upload_image' do %>
        <%= hidden_field_tag :highlight_size, nil %>
        <%= hidden_field_tag :thumb_size, nil %>

        <h4>Trocar imagem</h4>
        <fieldset>
          <%= file_field_tag 'datafile', class: 'button datafile', size: '40' %>
        </fieldset>

        <fieldset class="alignButton">
          <%= link_to 'Cancelar', '#', class: 'button cancel_upload' %>
          <%= submit_tag 'Enviar arquivo', id: 'submit_image', class: 'button submit_image' %>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>
