<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Nano Online</title>
    <%= stylesheet_link_tag 'nano', :media => 'all' %>
		<%= javascript_include_tag :defaults %>
		<script type="text/javascript" src="/javascripts/jquery.js"></script> 
		<script type="text/javascript" src="/javascripts/jquery.tablesorter.js"></script>
		<script src="/javascripts/jquery.tablesorter.pager.js" type="text/javascript"></script>
  </head>

  <body id="device">
    <div id="banner">
      <img src="/images/nano_online.png" />
      <h1>&nbsp;&nbsp;&nbsp;&nbsp;<%= @page_title.nil? ? "Nano Online" : @page_title %></h1>
    </div>

    <div id="columns">
      <div class="bordaBox">
        <b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>

        <div id="side" class="conteudobox">
          <%= link_to 'Applications'.t, :controller => 'apps' %><br/>
          <%= link_to 'Application versions'.t, :controller => 'app_versions' %><br/>
          <%= link_to 'Ranking entries'.t, :controller => 'ranking_entries' %><br/>
<%#          <%= link_to 'Weekly Report'.t, :controller => 'week_report' %><br/>
          <%= link_to 'Weekly Download Report'.t, :controller => 'week_report' %><br/>
          <%= link_to 'MIDlet reports'.t, :controller => 'midlet_reports' %><br/>
          <%= link_to 'Apple Downloads'.t, :controller => 'apple_downloads' %><br/>
<%#          <br/><%= link_to 'User information'.t, :controller => 'user', :action => 'profile' %><br/>
		  <%= link_to "Change Password".t, :controller => "users", :action => "change_password" %><br/>

          <p>
            <%= link_to 'Log out'.t, :controller => 'login', :action => 'logout' %><br/>
          </p>
        </div>
        <b class="b4"></b><b class="b3"></b><b class="b2"></b><b class="b1"></b>
      </div>
    </div>

    <div id="main" class="conteudobox" >
      <% if flash[:notice] -%>
        <div id="notice" ><%= flash[:notice] %></div>
      <% end -%>
      <%= yield :layout %>
    </div>
    <%= javascript_include_tag :defaults, "jquery", "jquery.tablesorter", "jquery.tablesorter.pager", :cache => "cache/all" %>
  </body>
</html>

