<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"

"http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Nano Games - Jogos e Aplicativos para Celular!</title>
    <META NAME="Title" CONTENT="Nano Games - Jogos e Aplicativos para Celular!">
    <META NAME="Author" CONTENT="Multiplace - www.mplace.com.br - Luis Felipe Pinheiro Sym">
    <META NAME="Subject" CONTENT="A Nano Games é uma empresa brasileira, desenvolvedora de jogose aplicativos java para celular, fundada no Rio de Janeiro em 2007.">
    <meta name="keywords" content="biritômetro, Nano, Games, Mobile, Joselito Contra a Farofada, FullPower, Drag Race, Bob Esponja, Fábrica de siriburguer, biritometro, olimpiadas, mini-olimpiadas, barrigadas, ornamentais, ginastica, away, dança, dança away,levantamento de peso, peso, penalti mtv, penalti com cleston, penalti, cleeeston, bitita, jimmy, jimmy neutron, enigma das supernovas, Nick, MTV, Hermes e Renato, jogos, celular, jogos baixar, jogos celular, jogos on line, jogos downloads, jogos java, jogos para baixar, aplicativos para celular, downloads para celular, jogos java celular, jogos para java, jogos para claro, jogos para vivo, jogos aplicativos celular, jogos para c650, jogos para oi, jogos para tim, jogo para celulares, jogos para mc60, jogos para v300, jogos razr, jogos v3">
    <META NAME="organization name" CONTENT="Nano Games - www.nanogames.com.br.">
    <META name="document-classification" content="Mobile Services, jogos para celular, mobile studio, aplicativos para celular">
    <META name="description" content="Nosso objetivo é transformar mesmo os jogos mais simples em uma nova experiência de entretenimento móvel, produzindo jogos criativos com um padrão internacional de qualidade.">
    <META NAME="Language" CONTENT="Português">
    <meta name="robots" content="index,follow">

    <%= stylesheet_link_tag 'home.css' %>
    <link rel="shortcut icon" href="../images/favicon.ico" />

    <%= javascript_include_tag "AC_RunActiveContent.js" %>
    <%= javascript_include_tag "javascript" %>
    <%= javascript_include_tag "prototype" %>

    <script type="text/javascript">
      var woopra_id = '1580895495';
    </script>

    <script src="http://static.woopra.com/js/woopra.js"></script>
  </head>
  <body>
    <a name="topo"></a>
    <div id="Barradegrade">
      <div id="geral">
	      <div class="espacotopico">	
	        <%= render :partial => 'banner_right' %>
	        <%= render :partial => 'banner_left' %>
          <%= render :partial => "menu_topico" %>
	      </div>
	
	      <div class="linhatopicocima">
        </div>    
          
        <div class="topicoconteudo">
          <div class="linha">
            <div class="coluna" style="width:249px;">
              <span class="coluna" style="width:249px;">
                <%= render :partial => 'logo' %>
         		  </span>
         		</div>
         		
            <div class="coluna" style="margin-top:3px; margin-botton:4px; background-color: rgb(0, 74, 83); height: 86px; width:410px;">          
              <%= render :partial => 'banners' %>
		        </div>
          </div>     
        </div>
        
        <div class="linhatopicobaixo">
        </div> 
          
        <div class="espacotopico">
          <div class="barramenu"  style="position:relative; z-index:10">
            <%= render :partial => 'menu_principal' %>
          </div>
        </div>
        
        <%= yield :destaque -%>
        
        <%= yield :layout %>
          
        <%= render :partial => 'rodape' %>   
      </div>
    </div>

  </body>
</html>
