<% form_for [@job, @job_application], :html => { :multipart => true, :class => "form_contato", :id => "form" } do |f| -%>
  <%= f.label :name -%>
  <%= f.text_field :name, :size => 60 -%>

  <%= f.label :email -%>
  <%= f.text_field :email, :size => 60 -%>

  <%= f.label :phone %>
  <div class="phone">
    <%= f.text_field :ddd, {:id => 'ddd', :maxlength => "3"} %>
    <%= f.text_field :phone, {:id => 'phone', :maxlength => "8"} %>
  </div>

  <%= f.label :interest_area %>
  <% disabled = @job.job_title != "Generico" %>
  <%= f.select :interest_area, 
    Job::AREAS.enum_for(:each_with_index).collect{|value, index| [value, index]}, 
    {:selected => @job.area} %>

  <span>                
    <%= f.label :resume -%>
    <%= f.file_field :resume -%>
  </span>
  

  <%= f.label :cover_letter -%>
  <%= f.text_area :cover_letter, :rows => 8, :cols => 120 -%>
  
  <div class="link_envio">
    <button><%= t('contact.form.send') %></button>
  </div>
<% end -%>