<% content_for :javascripts do %>
  <%= include_javascripts  :jobs %>
<% end %>

<% content_for :head do %>
  <%= include_stylesheets  :jobs %>
<% end %>

<div class="box_cabecalho">
    <%= render :partial => 'shared/contact_menu' %>
    <p><%= t('.header.title.question') %><br /><%= t('.header.title.leave_informations') %></p>
</div>

<div class="form_carreira">
<%= render :partial => "form" %>
</div>

<% if @job_application.errors.any? %>
    <section class="mensagens">
        <div class="msn erro">
            <h2>
                <%= t('inquiry.form.error') %>
            </h2>
            <p class="txt_msn"><%= t('inquiry.form.guidelines') %></p>

            <ul class="error_list">
                <% @job_application.errors.map {|a, b|  "#{JobApplication.human_attribute_name a} #{b}"}.each do |error| %>
                    <li><%= error %></li>
                <% end %>
            </ul>
        </div>
    </section>
<% elsif (@job.job_title == "Genérico") && Job.active_jobs.any? %>
    <div class="lista_vagas box_padrao">
        <h2>
            <img src="/images/icones/pessoa.png" width="63" height="71" title="Pessoa" class="ic_subtitulo" />
            <%= t('.jobs.open') %>
        </h2>
        <ul>
            <% Job.active_jobs.each do |job| %>
                <li>
                    <h4><%= raw job.job_title %></h4>
                    <p><%= raw job.resume.truncate 250 %></p>
                    <%= link_to t('default.job.learn_more'), job_path(job), :class => "saiba_mais" %>
                </li>
            <% end %>
        </ul>
    </div>
<% end %>