<% content_for :head do %>
  <%= include_stylesheets :contact_success %>
<% end %>

<h1 class="titulo_principal">
  <span class="link_titulo"><%= t('job_applications.success.header') %></span>
  <img src="/images/icones/envelope.png"
       width="70"
       height="53"
       alt=""
       class="ic_titulo"/>
</h1>
<a href="/<%= params[:locale].to_s + '/' if params[:locale] %>jobs" class="retorno_de_pagina"><span>&lt;</span>
  <%= t('job_applications.success.back') %></a>

<div class="box_padrao box_obrigado clearfix">
  <h2>
    <span class="subtitulo"><%= t('job_applications.success.message') %></span>
  </h2>

  <p><%= raw t('job_applications.success.full_message') %></p>
</div>