<h1> <%= h "Editing #{ @app_version.app.name } version #{ @app_version.number }" %> </h1>

<% form_for( @app_version, :html => { :multipart => true } ) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>
  <p>
    <label for="file_jad">Jad file:</label><br/>
    <%= file_column_field 'app_version', 'file_jad' %>
  </p>
  <p>
    <label for="file_jar">Jar file:</label><br/>
    <%= file_column_field  'app_version', 'file_jar' %>
  </p>  
  <p>
    <%= f.label :release_notes %><br />
    <%= f.text_area :release_notes, :size => '40x3' %>
  </p>
  <p>
	Families supported:
	<%
	  families = Family.find( :all, :order => 'name', :conditions => 'ignored = false' )
	  if ( families.length <= 0 )
	%>
	<br/>No families found in database.<br/>
	<%
	  else
	   for family in families
	%>
	  <div>
		<%= check_box_tag "app_version[family_ids][]", family.id, @app_version.families.include?( family ) %>
		<%= h family.name %>
	  </div>
	<%
		end
	  end 
	%>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @app_version %> |
<%= link_to 'Back', app_versions_path %>
