<div id="product-list">
  
  <h1>App versions list</h1>

  <table cellpadding="5" cellspacing="0" >
	<tr>
	  <th>Id</th>
	  <th>Application</th>
	  <th>Version</th>
	  <th>Release notes</th>
	  <th>Families</th>
	</tr>

  <% for app_version in @app_versions %>
	<tr valign="top" class="<%=cycle('list-line-odd', 'list-line-even') %>" >
	
	  <td class="list-title" ><%=h app_version.id %></td>
	  <td class="list-title" ><%=h app_version.app.name %></td>
	  <td class="list-title" ><%=h app_version.number %></td>
	  <td class="list-title" ><%=h app_version.release_notes %></td>
	  <td class="list-title" >
		<% if ( app_version.families.empty? ) %>
		  <br/><%= 'None' %>
		<% 
		  else
			for family in app_version.families
		%>
		  <%= h family.name %><br/>
		<%
			end
		  end
		%>		
	  </td>
	  
	  
	  <td class="list-actions" ><%= link_to 'Show', app_version %></td>
	  <td class="list-actions" ><%= link_to 'Edit', edit_app_version_path(app_version) %></td>
	  <td class="list-actions" ><%= link_to 'Destroy', app_version, :confirm => "Remove app version " + app_version.app.name + ' ' + app_version.number + '?', :method => :delete %></td>
	</tr>
  <% end %>
  </table>

  <br />

</div>

<%= paginating_links( @app_versions ) %><br/><br/>

<%= link_to 'Add application version', new_app_version_path %>
