<h1>New application version</h1>

<% form_for( @app_version, :html => { :multipart => true } ) do |f| %>
  <%= f.error_messages %>

  <p><label for="app_version_app">Application</label><br/>
  <%= select 'app_version', 'app_id', 
	  App.find(:all).collect {|a| [a.name, a.id]}, 
	  :prompt => "Select an application" %>
  </p>
  <p><label>Release type</label><br/>
  <%= select_tag 'release_type', '<option>Major release</option><option>Minor release</option><option>Bug fix</option>',
	  :prompt => "Select the release type" %>
  </p>
  <p>
    <label for="file_jad">Jad file:</label><br/>
    <%= upload_column_field  'app_version', 'file_jad' %>
  </p>
  <p>
    <label for="file_jar">Jar file:</label><br/>
    <%= upload_column_field  'app_version', 'file_jar' %>
  </p>
  <p>
    <%= f.label :release_notes %><br />
    <%= f.text_area :release_notes, :size => '40x3' %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', app_versions_path %>