<p>
  <b>Application:</b>
  <%=h @app_version.app.name %>
</p>
<p>
  <b>Version:</b>
  <%=h @app_version.number %>
</p>
<p>
  <b>Files:</b><br/>
  <% if ( @app_version.file_jad ) %>
  <%= link_to 'jad', @app_version.file_jad.url %><br/>
  <% 
	else
  %>
  jad file missing.<br/>
  <% end %>
  <%  if ( @app_version.file_jar ) %>
  <%= link_to 'jar', @app_version.file_jar.url %>
  <% else %>
  jar file missing.<br/>
  <% end %>
</p>
<p>
  <b>Release notes:</b>
  <%=h @app_version.release_notes %>
</p>
<p>
  <b>Families supported:</b>
  <% if ( @app_version.families.empty? ) %>
	<br/><%= 'None' %>
  <% 
	else
	  for family in @app_version.families
  %>
	<br/><%= h family.name %>
  <%
      end
	end
  %>
</p>

<%= link_to 'Edit', edit_app_version_path(@app_version) %> |
<%= link_to 'Back', app_versions_path %>
